[2020-05-22 17:13] mazzy89 commented on #1558
Hey @Raffo not a Traefik maintainer here speaking however to make progress in the Traefik v2 support, can I be anyhow helpful?

[2020-05-23 01:27] stefanlasiewski opened #1596 "rfc2136 continually removing then adding A records that have more than 1 target"
**What happened**:

External DNS with the rfc2136 provider is continually Removing then re-adding DNS records.

**What you expected to happen**:

I expect External DNS to add records once, and then only update them on occasion when it detects a change.

**How to reproduce it (as minimally and precisely as possible)**:

1. Install the cluster

- Install Rancher 2.4.4 (This shouldn't' be necessary)

[2020-05-23 01:34] stefanlasiewski commented on #1596
I created another new record, and the same problem is not happening:

[code]

[2020-05-23 01:36] stefanlasiewski commented on #1596
Hm, this is strange.

The removing records have a zero-second TTL:

    "Removing RR: lb.app.example.org 0 A 10.11.12.101"

But the adding records have a 60 second TTL, which is something I configured a couple of days ago:

    "Adding RR: lb.app.example.org 60 A 10.11.12.101"

[2020-05-23 07:29] darkn3rd opened #1597 "Docs - Google Cross Project Scenario not Covered"
**What happened**: Instructions for google provider will not work if Cloud DNS is in another project.

Instructions:
* https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/gke.md

**What you expected to happen**: Instructions would have extra instructions for this use case.

**How to reproduce it (as minimally and precisely as possible)**:

1. In google project `MYPROJECT_A`

[2020-05-23 11:42] adamrushuk commented on #1548
I'm also getting this error when using AKS with managed identity auth enabled (which configures two other User assigned managed identities).

Is there a workaround until this is fixed?

[2020-05-23 13:27] Raffo commented on #1558
@mazzy89 if you mean to support another source, I'll have a PR ready to split the sources next week.

[2020-05-23 13:44] mazzy89 commented on #1558
Yes. I would need external DNS to deal with Traefik v2 CRDs

[2020-05-23 15:30] carlosjgp opened #1598 "Multi-cluster weighted records for canary cluster deployments"
**What would you like to be added**:
2 ExternalDNS deployments on 2 Kubernetes clusters to manage the weighted DNS entries for the same `hostname`

This feature is mentioned in this [issue comment](https://github.com/kubernetes-sigs/external-dns/issues/196#issuecomment-300001003).

Canary release on a new Kubernetes cluster when adding or changing a critical component either related to the Kuberne

[2020-05-23 17:19] brpaz commented on #1596
The same is happening with the Cloudflare provider.

This is an old issue. Please see all the discussion of #992. The problem is not fixed.

[2020-05-23 19:07] paalkr commented on #1598
@sphoner You implemented this feature, didn't you? Test

[2020-05-24 05:35] #1331 closed

[2020-05-24 09:40] dmayle opened #1601 "Add flags for controlling the publishing of the service node for headless services"
**What would you like to be added**:
I'd like a flag that makes it possible to prevent the root node of headless services from being published along with the host nodes.   For example, if I have a headless service for host1.service.domain and host2.service.domain, the default behavior is to also publish service.domain which aggregates both host1 and host2.  With this flag, external-dns could be ma

[2020-05-24 19:49] #1276 closed

[2020-05-24 20:00] stefanlasiewski commented on #992
Is the TTL annotation actually required for this problem to happen?

In  my case with the RFC2146, we're seeing issues with no TTL annotation present at all, similar to what @jaygorrell  is seeing. The RFC2146 provider sets a global minimum TTL using the `MinTTL` parameter.

[2020-05-24 21:54] brpaz commented on #992
In my case I am not using the TTL annotation.

[2020-05-25 04:08] james-callahan commented on #1514
Can be closed now that #1542 is merged?

[2020-05-25 08:19] jrubenc opened #1602 "--txt-owner-id not being "honored"?"
**What happened**:

external-dns tries to create TXT records that already exist but have a different (and, on purpose) "external-dns/owner=XXX" entry.

**What you expected to happen**:

external-dns should skip those enties and not fail, also failing to update the rest of the records, which is where the real problem is. This had been working correctly until last Friday included.

**How to reproduc

[2020-05-25 08:31] sheerun commented on #1514
#1536 needs to be merged. #1542 just makes external-dns to perform UPDATE instead of DELETE followed by CREATE

[2020-05-25 08:32] sheerun commented on #1514
Hmm actually this particular issue seems to be solved

[2020-05-25 08:32] sheerun commented on #1514
/close

[2020-05-25 08:32] #1514 closed

[2020-05-25 08:39] spohner commented on #1598
No, not exactly @paalkr. We use the txt-owner-id and txt-prefix with weighted DNS entries in AWS Route53 as described. Which seems to work fine for our use-case.

[2020-05-25 13:31] displague opened #1604 "Support Multicast DNS (mDNS) / RFC-6762"
**What would you like to be added**:

This enhancement request is for a provider (or documentation added to an existing provider) that brings Multicast DNS (mDNS) or [RFC-6762](https://tools.ietf.org/html/rfc6762) support to External DNS.

**Why is this needed**:

mDNS support could be used in local Kubernetes clusters (like k3s) to provide arbitrary "foo.local" services.

---

During my short inv

[2020-05-25 16:42] Bluesboy commented on #1421
/remove-lifecycle stale

[2020-05-25 20:19] stefanlasiewski commented on #992
Okay. In #1596, I believe the issue might be that external-dns sees a mismatch between what it's trying to delete and what is actually present.

I believe external-dns is looking for a record that looks like this:

    lb.app.example.org 0 A 10.11.12.101

But in actuality, the TTL is '60' not '0':

    lb.app.example.org 60 A 10.11.12.101

I noticed this because the constant removal/additions only

[2020-05-25 21:01] Raffo commented on #1447
For now we'll go on with #1558, which is partially done. I'm closing this one.

[2020-05-25 21:01] #1447 closed

[2020-05-25 21:12] Raffo commented on #1597
Hi @darkn3rd , feel free to open a PR with the documentation, if you want to. We can't foresee all the possible use cases, so we'll gladly get as much documentations PRs as possible.

[2020-05-25 21:13] #1577 closed

[2020-05-25 21:22] Raffo commented on #992
Reopening.

[2020-05-26 05:10] ahmedwaleedmalik opened #1605 "[Openshift] external-dns is adding CNAME entries instead of A records for routes"
**What happened**:

We deployed `external-dns` on an Openshift cluster by following the [guide](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/openshift.md).
The issue with the current implementation is that it's only aware of the `ROUTER_CANONICAL_HOSTNAME` lets say it's value is example.com. And it adds `CNAME` entry that point the host name of the route(app.example.c

[2020-05-26 05:14] ahmedwaleedmalik commented on #1605
@jgrumboe I opened this issue based on our discussion.  Let me know if it's coherent enough and if any additional details are required regarding this.

[2020-05-26 05:27] jgrumboe commented on #1605
@ahmedwaleedmalik so far I do understand the use case. Since I'm working with an onpremise OCP cluster I'm not quite familiar with AWS and OCP integration.
Could you share an "oc describe route" output of your route with endpointtype loadbalancer?

[2020-05-26 06:35] ainmosni commented on #1440
I had this problem on 0.7.1 on a baremetal k3s server while using CF DNS as well. Downgirading to 0.5.17 fixed it for me as well.

[2020-05-26 08:50] iron-sam commented on #1579
We are facing a similar issue. We have 2 instances of 'external-dns' on version ''v0.5.17'. Each one of the instances controls one 'istio-gateway' (an internal one and an external one). We used to filter each one controls with the '--istio-ingress-gateway' parameter, but it was removed on latest version.

How can we filter which gateway control each instance? I've been searching on docs, but never

[2020-05-26 12:17] guitmz opened #1606 "using annotationFilter for Ingress prevents regular Service from being discovered"
**What happened**:
When using `annotationFilter` for my ingress, a standalone service is not discovered anymore, even if it has the correct annotation (`external-dns.alpha.kubernetes.io/hostname`).

**What you expected to happen**:
Ingress endpoints (from `annotationFilter`) **AND** Services to be discovered.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
without `annota

[2020-05-26 12:19] greenu commented on #1544
Should be fixed once aws-go-sdk updated to recent version. See PR above.

[2020-05-27 12:01] keslerm commented on #1440
Just wanted to put a note this seems to have a fix in pr #1536

There is a temp fix here while that gets tested/merged https://github.com/kubernetes-sigs/external-dns/issues/1540#issuecomment-625240804

[2020-05-27 15:45] MartinLeedotOrg commented on #1470
I'm having a similar problem, is your branch available anywhere so I can have a stab at fixing this?

[2020-05-27 21:06] masterkain commented on #1596
correct, I had to revert back to route53 because of these outages in dns name resolution, not pleasant.

[2020-05-27 23:43] gnadaban commented on #1579
@iron-sam : I managed to make this work by fixing a k8sIngress name mismatch in our case.
Sadly, external-dns logging is very scarce, it does not log eg. when it skips something, or why, so I had to do a lot of code reading to try and rule out possible issues.

[2020-05-28 06:13] ahmedwaleedmalik commented on #1605
DNS provider wouldn't be an issue in this case. But as far as i remember our conversation, you were on OCP v3.x right ? Things have changed majorly in OCP v4.x since everything is managed by [Openshift Ingress Operator](https://github.com/openshift/cluster-ingress-operator) now.

Anyways, route doesn't have endpointtype set to loadbalancer. It's the router that has `endpointPublishingStrategy` set

[2020-05-28 06:16] ahmedwaleedmalik commented on #1605
I'd like to start working on this and adding the required support in external-dns. Let me know if any additional details are required from my side, or if there is anything regarding this that I should know beforehand.

[2020-05-28 06:27] jgrumboe commented on #1605
Thanks. Right now the openshift-route source is only working with the route resource itself. Mainly with its annotations and status fields. Could you share one route example (oc describe route) after the router picked it up and it's accessable?

[2020-05-28 07:23] jgrumboe commented on #1606
As far as I see the annotationFilter is used within every source at the same time.
In your example ingress (https://github.com/kubernetes-sigs/external-dns/blob/master/source/ingress.go#L204) and service (https://github.com/kubernetes-sigs/external-dns/blob/master/source/service.go#L358) ... so it's not source-specific right now.

To fulfill your usecase I think you would need to deploy two separa

[2020-05-28 08:04] ahmedwaleedmalik commented on #1605
Yes sure thing. I deployed a new router and used a sample app for testing the routing.

Output of `oc describe route frontend`:

[code]

Output of `oc get route frontend -oyaml`:

[code]

[2020-05-28 13:11] ddymko commented on #1558
Hey @Raffo I would be glad to help maintain the Vultr provider

[2020-05-28 13:30] bodgit commented on #1470
Here's the commit on my branch: https://github.com/aspectcapital/external-dns/commit/3866d4bab857abaa84a70b01b4196ea3233d3ddf

It's based heavily on the similar kube2iam fix.

I had to also add the `AWS_REGION` environment variable to the pod spec set to the correct region, which isn't 100% ideal.

[2020-05-28 14:05] Nox-404 commented on #1546
Hello there,

That would be great !
I get quite a lot of errors from this too.

[2020-05-28 17:01] michazt opened #1608 "AWS cross account access with OIDC provider in EKS & externalDNS not working"
Hello to everyone,

I hope this is the right place to ask my question. If not please point me to the correct place or documentation.

We are in the process of setting up an AWS EKS cluster that uses the OIDC provider for IAM access control to AWS resources. So far this works fine for the ALB ingresss controler. Now we want to also add externalDNS to create DNS records in Route53 for zones hosted i

[2020-05-28 19:34] rakeshvanga opened #1609 "A records are not being updated when the ip address has changed for a service of type load balancer"
**What happened**: There was a deployment which updated the ip address of services of type load balancer to new ip address but only few of the services have the ip address updated on the DNS zone but others are still pointing to old ip address. Also, TXT files were missing for few A records.

**What you expected to happen**: All the A records should have been updated to use the new ip address.

**

[2020-05-28 20:05] jwitko commented on #1594
This would be really useful for us as well.

[2020-05-29 06:14] yokawasa commented on #1598
@spohner
I am using ExternalDNS with alb-ingress-controller, and I want to achieve the same scenario.

Question: Would the [routing-policies](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md#routing-policies) work for my case like using ExternalDNS with alb-ingress-controller?

I tried with the following ingress manifest expecting to configure weighted policy for m

[2020-05-29 10:43] guitmz commented on #1606
@jgrumboe that looks correct, I believe the documentation should address this though to prevent trial and error situations.

Additionally, it would be a nice feature if a single controller could handle this too.

[2020-05-29 16:43] #881 closed

[2020-05-29 16:43] #1335 closed

[2020-05-30 08:23] #1486 closed

[2020-05-30 18:08] #1336 closed

[2020-05-31 00:03] Nilegfx commented on #992
like what @jaygorrell said, I temporarily downgraded from v0.7.1 to v0.5.17 and it fixed it. I'll keep it with v0.5.17 until another the upcoming fix.

[2020-05-31 19:09] tdyas commented on #1117
@sandhose: Does https://github.com/kubernetes-sigs/external-dns/pull/1595 fix this issue for you?

The main intent of that PR was to support multiple A records, but it actually just improves how records are sync'ed to DigialOcean.

[2020-05-31 19:28] tdyas commented on #1429
@TrurlMcByte: Does https://github.com/kubernetes-sigs/external-dns/pull/1611 fix your issue?

[2020-06-01 10:07] #1463 closed

[2020-06-01 10:23] al45tair commented on #1463
@hayderimran7 It occurred to me just now what your problem is. Or what it might be. If you have a CNAME record for a given name, you can't have any other record for it. There's an option for external-dns to alter the names used for the TXT records if you need external-dns to make CNAMEs. Without it, it's possible that you will indeed get repeated updates.

[2020-06-01 17:40] jgrumboe commented on #1605
And the DNS entry for dev.stakater.com is pointing where and who manages it?
I would suspect the Ingresscontroller/operator to do this.

[2020-06-01 17:54] #1325 closed

[2020-06-01 17:59] rverma-jm commented on #995
/remove-lifecycle rotten

[2020-06-01 18:00] rverma-jm commented on #995
Can we reopen this issue?

[2020-06-01 18:55] #1320 closed

[2020-06-01 19:54] ohauer opened #1614 "plain yaml files as base for kustomize support"
**What would you like to be added**:
plain yaml files for rbac, serviceaccount ... tha can be used as base for kustomize

**Why is this needed**:
- Helm is a nice way for deployment, but after new releases (k8s or helm) things are sometimes broken.
- The documentation (docs/tutorials) could be simplified by only referencing the required plain yaml files plus the additionals for the DNS provider.

[2020-06-01 20:42] sheerun commented on #1614
Helm supports kustomize with `--post-renderer` flag

[2020-06-02 03:14] ahmedwaleedmalik commented on #1605
When we create `IngressController` it tries to add the wild card DNS entry `*.dev.stakater.com` by itself, currently it supports AWS, Azure, GKE. But the issue here is that the automated DNS records that would be added for routers are restricted to the cluster wide hosted zones that are defined in `dns.config.openshift.io/cluster`, that corresponds to the cluster's base domain.

So, when we provis

[2020-06-02 19:19] yardensachs commented on #854
/remove-lifecycle stale

[2020-06-02 21:13] andrecastro commented on #1340
That would be a tremendous contribution! I have the same architecture you described. One istio gateway behind ALB provided by alb-ingress-controller. This istio gateway is managed by cluster admins and the development teams manage their virtual services.
With nginx-ingress-controller, I managed to create an ingress alb (host: *) and, with the annotation `external-dns.alpha.kubernetes.io/hostname`

[2020-06-03 10:33] #1262 closed

[2020-06-03 18:34] jgrumboe commented on #1605
Openshift 4.x is completly new for me and I never used it, so I'm just thinking loud here:
https://github.com/openshift/api/blob/master/operator/v1/types_ingress.go#L263 states that you end up with an ingresscontroller deployed by an operator which has a service-type Loadbalancer (like this one https://kubernetes.io/docs/concepts/services-networking/service/#loadbalancer).

So according to your in

[2020-06-03 18:37] jgrumboe commented on #1605
But regarding the topic of wildcard DNS and multiple/sharded routers: have you tried asking how to solve the DNS "overlap" problem at the #openshift-users channel at k8s Slack (https://kubernetes.slack.com/archives/C6AD6JM17)?

[2020-06-03 21:37] szuecs commented on #1458
/remove-lifecycle stale

[2020-06-04 03:12] iminto commented on #711
@Fettah  thx,this works for me

[2020-06-04 09:49] AndrewDryga opened #1616 "Log messages showing as errors in Google Stackdriver"
I would like to reopen issue #772 because our Stackdriver logs are spammed with errors that are actually `external-dns` logs with level=info. There are a couple ways we can fix that:

1. Provide a configuration option to write log severity in `severity` JSON attributes instead of `level`. Eg. by setting `--log-format=stackdriver_json`.

2. Provide a configuration option to write all debug and info

[2020-06-04 11:14] sheerun commented on #409
Maybe someone at @cloudflare could contribute this feature? btw. we need more maintainers of CloudfFlare provider as well as reviewers for whole external-dns (oftern fixes in cloudflare provider require fixes of all providers). Could CloudFlare provide some developer-hours to help?

[2020-06-04 11:25] sheerun commented on #484
Hey everyone. 0.7.2 should fix this issue as polling interval is preserved even if `--events` is used (i.e. synchronization happens as soon as event happens, but no more than once per interval). Could you confirm it's fixed?

[2020-06-04 11:26] sheerun commented on #689
This should be fixed in 0.7.2, could you confirm?

[2020-06-04 11:26] sheerun commented on #992
This should be fixed in 0.7.2, could you confirm?

[2020-06-04 11:28] sheerun commented on #1044
@Evesy Could you check if it's fixed in 0.7.2 ?

[2020-06-04 11:30] sheerun commented on #1127
This should be implemented and fixed as of 0.7.2

To use api token you can write:

[code]

To synchronize just single zone you can use:

[code]

If someone has other issues or ideas, please open another issue

/close

[2020-06-04 11:30] #1127 closed

[2020-06-04 11:32] sheerun commented on #1376
@Evesy For 99% this should be fixed for cloudflare provider and 50% for google cloud dns as of 0.7.2, could you check?

[2020-06-04 11:33] sheerun commented on #1428
This should be fixed as of 0.7.2, could you check?

[2020-06-04 11:34] sheerun commented on #1421
This should be fixed at least for cloudflare as of 0.7.2, could you check?

[2020-06-04 11:34] sheerun commented on #1473
@Raffo It would be slow though. Current tests run in 4 seconds

[2020-06-04 11:36] sheerun commented on #1540
This should be fixed as of 0.7.2, could you check?

[2020-06-04 11:38] sheerun commented on #1596
This should be fixed in 0.7.2 at least for cloudflare provider, could you check?

[2020-06-04 15:01] Raffo commented on #1473
I'll definitely keep speed into account. Also, integrations tests won't be run on developers machine, so I'm not really concerned, I'm okay to trade off CI time with safety.

[2020-06-04 17:27] sslavic opened #1617 "Enabling aws-prefer-cname doesn't replace existing A+TXT records with CNAME+TXT"
**What happened**:

Turned on aws-prefer-cname flag for an existing cluster. external-dns was logging

**What you expected to happen**:

external-dns to detect the change in preference and update appropriate records

**How to reproduce it (as minimally and precisely as possible)**:

Have k8s 1.16 cluster in AWS + ingress-nginx 0.30.0 with public ELB, with external-dns.
Have external-dns first conf

[2020-06-05 07:19] sham1316 commented on #992
In my case - fixed.

[2020-06-05 10:17] os-virtualretail commented on #1454
Any update on this issue ?

[2020-06-05 22:15] davidkarlsen commented on #1421
It seems to work well with 0.7.2 - thanks 🎉

[2020-06-05 22:15] davidkarlsen commented on #689
It seems to work well with 0.7.2 - thanks 🎉

[2020-06-05 22:17] davidkarlsen commented on #992
It seems to work well with 0.7.2 - thanks 🎉 I tested using the cloudflare provider.

[2020-06-05 22:18] davidkarlsen commented on #1540
It seems to work well with 0.7.2 - thanks 🎉  I tested using the cloudflare provider.

[2020-06-05 23:06] IvanJosipovic commented on #1540
Same here, no connection issues since the switch to 0.7.2 with Cloudflare + Proxy!

[2020-06-05 23:46] aidan-melen commented on #1608
yes, I have run into the exact same issue. all roles are correctly configured for cross-account trust; however, the external-dns operators fails to assume the trusting role.

[2020-06-06 00:28] stefanlasiewski commented on #1596
I will check hopefully next week.

[2020-06-06 23:21] kevincox commented on #1261
/remove-lifecycle rotten

On Thu, Jun 4, 2020 at 2:53 AM fejta-bot <notifications@github.com> wrote:

[2020-06-06 23:22] kevincox commented on #1261
/remove-lifecycle stale

[2020-06-07 03:24] Hugome commented on #1546
Could you try with this image https://hub.docker.com/r/hugome/external-dns ? to check if the rate limiting solve your issue (By default it's 20/seconds, you can change it with the `--ovh-api-rate-limit` parameters)

[2020-06-07 03:55] Hugome commented on #1520
Hey good proposal :)
I'm also interested in this feature, do you have any plan to create a PR with your prototype ?

[2020-06-07 15:11] #1333 closed

[2020-06-07 17:13] #1357 closed

[2020-06-07 21:17] #1287 closed

[2020-06-08 13:10] ytsarev opened #1621 "Enable linters for the test code"
**What would you like to be added**:
As a followup to https://github.com/kubernetes-sigs/external-dns/pull/1618#discussion_r436365391 discussion we should work on enabling go linters for the `*_test.go` files

**Why is this needed**:
We should treat the test code as a first class citizen.

[2020-06-08 13:59] kevin90n opened #1622 "Bug: External-dns crashing due to manually added domains with weighted routing policy in Route 53"
**What happened:**

External-dns v0.7.1 keeps crashing with the below error upon finding:
`time="2020-06-08T12:05:57Z" level=error msg="Failure in zone domain.com. [Id: /hostedzone/xxxxxxxxxxxxxx]"
time="2020-06-08T12:05:57Z" level=error msg="InvalidChangeBatch: [RRSet with DNS name example.domain.com., type A cannot be created as other RRSets exist with the same name and type.,`

When we manually

[2020-06-08 15:22] scottd018 commented on #1520
@Hugome Yes, I planned on eventually submitting a PR.  The holdup was basically that Go is not my primary language and I know there would need to be a good portion of time dedicated to cleaning up what I've put into the PR ;)

I went through an exercise to reverse engineer the project, so I can see how this is all hooked together.  I wanted to do this because the RFC3645 code is almost identical t

[2020-06-08 20:43] Nilegfx commented on #992
works for me.

[2020-06-09 05:37] vsimon commented on #632
/remove-lifecycle stale

[2020-06-09 06:23] #1429 closed

[2020-06-09 07:29] antonu17 commented on #1572
I have the same problem, debugged down to https://github.com/kubernetes-sigs/external-dns/issues/1557

[2020-06-09 13:30] brpaz commented on #992
Seems fixed for me as well

[2020-06-10 11:23] Evesy commented on #1376
Hey @sheerun

While I'm no longer seeing any unexpected deleted/adds for the Google provider, I am seeing updates for the Cloudflare provider, which seems to particularly affect the records being specified via the `DNSEndpoint` resource (Which is the majority for our Cloudflare records, we only have one `Service` resource that creates DNS entires.

This seems to be happening to every `DNSEndpoint`

[2020-06-10 21:20] DarkBlaez opened #1623 "Vultr support - Per docs"
In the documents shows support for Vultr, including an example. However, upon deployment it seems the container being pulled (latest) is not supporting this.

2020-06-11T05:16:35.604052718Z time="2020-06-11T05:16:35Z" level=fatal msg="flag parsing error: enum value must be one of aws,aws-sd,google,azure,azure-dns,azure-private-dns,alibabacloud,cloudflare,rcodezero,digitalocean,dnsimple,akamai,info

[2020-06-11 18:09] haines opened #1624 "Panic attempting to create records for Istio gateway host "*""
**What happened**:

external-dns crashed when I added an Istio gateway for TCP traffic matching all hosts.

[code]

The panic occurs here:

https://github.com/kubernetes-sigs/external-dns/blob/102228c18138cce9c4689df1271742e7ea9cecd0/registry/txt.go#L240-L241

The `endpointDNSName` in my case does not contain a `.` to split on (it is just `*`).

**What you expected to happen**:

external-dns does

[2020-06-11 18:43] josephglanville commented on #1366
@stevesloka what is the status of this effort? We would like to use this and would be happy to pick up the torch if this has stalled out.

[2020-06-11 18:54] stevesloka commented on #1366
@josephglanville We now have lbstatus info in HTTPProxy object as of Contour v1.5.0, so this integration can happen now:

[code]

If you'd like to do this please go ahead. Let me know how I can help assist. =)

[2020-06-11 19:03] josephglanville commented on #1366
Yup I will pick this up and start work on it, will let you know when I have a WIP PR for review. Thanks for the swift reply. 😄

[2020-06-11 19:55] DarkBlaez opened #1626 "[Question] AWS SignatureDoesNotMatch (clocks are sync'd)"
I am getting this error when deploying on-prem but using Route53

level=error msg="SignatureDoesNotMatch: Signature not yet current: 20200612T034853Z is still later than XXXXXX + 5min

My nodes are VMs running k3os, VMs are clock sync'd to each host, host aren tp sync't to a ntp pool. Is this the raw error coming back from AWS? Just seems very odd that I would get this.

DB

[2020-06-12 09:14] josephglanville commented on #1366
Looks like this is going to be painful because upgrading the Contour client bumps the required Kubernetes client past v1.18 which breaks Istio and Openshift. I was able to fix Istio but upgrading the client version but I haven't worked out how to reference a more recent version of https://github.com/openshift/client-go yet.

[2020-06-12 15:08] #300 closed

[2020-06-14 08:49] Raffo opened #1630 "Rename the "master" branch to "main" and replace all of the oppressive terminology"
Quoting the [IETF](https://tools.ietf.org/id/draft-knodel-terminology-00.html#master-slave):

We can do a lot better in ExternalDNS and in general in the Kubernetes community. While Kubernetes has a component that is officially called master and while GitHub still creates new repos with the master branch as default branch, we can lead by example and remove this oppressive terminology from our code

[2020-06-14 11:18] Raffo commented on #1614
@ohauer I frankly think it is a good alternative and I wanted to do this forever. I created https://github.com/kubernetes-sigs/external-dns/pull/1631 to address this one, please feel free to comment there.

[2020-06-14 19:42] njuettner commented on #1630
Excellent idea!

[2020-06-15 03:45] tdyas commented on #1429
@TrurlMcByte: #1611 landed and adds a `--digitalocean-api-page-size` parameter. I would love to know if that fixes your issue (by using that option with a larger number e.g. `--digitalocean-api-page-size=200`)

[2020-06-15 13:10] nitnatsnocER opened #1632 "2 A records when the externalIP of a service changes"
Hi everyone,
We run externalDNS with the CoreDNS provider backed by ETCD bundled in one Pod.
So there are three containers in one Pod (externalDNS, etcd, CoreDNS).
Basically the hole construct works fine but there is one edge case.
When the externalIP of a service object changes the old IP will not be deleted which leads to two A records.
The question is why does it happen that we get two A record

[2020-06-15 18:22] asherf opened #1633 "External DNS fails to start after upgrade from 0.7.1 to 0.7.2"
**What happened**:
I upgraded from external-dns 0.7.1 to 0.7.2 I am using a helm chart, the only thing I changed is the image version (using the image from bitnami docker hub)
nothing else changed in the deployment/rbac objects defintions.
External-DNS went on a restart loop, seems to be related to it unable to talk to k8s api server (I am just guessing that).
The cluster runs on AWS EKS, k8s vers

[2020-06-15 19:26] ericrrath commented on #1594
I have a branch ready that 1) updates the OCI SDK, and 2) adds support for OCI instance principal authentication.

[2020-06-16 03:30] jasoares commented on #1633
Check the note on the [0.7.2 release](https://github.com/kubernetes-sigs/external-dns/releases/tag/v0.7.2).

I had the same issue and it turned out I was exactly missing `endpoints` in my [Manifest (for clusters with RBAC enabled)](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/cloudflare.md#manifest-for-clusters-with-rbac-enabled)

[2020-06-16 03:37] asherf commented on #1633
@jasoares that is probably it!
thanks for the help, much appreciated.

Closing this issue for now.

[2020-06-16 03:37] #1633 closed

[2020-06-16 10:30] JoaoBraveCoding commented on #1596
This is still broken for rfc2136 with CNAME records and provider openshift-routes

[2020-06-16 10:42] masterkain commented on #1596
seems solved with cloudflare for me

[2020-06-16 14:02] mf-lit commented on #1220
/remove-lifecycle stale

[2020-06-17 06:54] #1614 closed

[2020-06-17 07:12] #1546 closed

[2020-06-17 08:09] NobodysNightmare commented on #1630
Can you help me understand this a little better? I see the community around git moving towards renaming their `master` branches to something else, usually `main`. I think the new naming is very clear in conveying the meaning of the branch, so if the git community as a whole (or parts of it) was moving there, I would not object that at all.

Though I have to admit that this change hit me by surpris

[2020-06-17 10:26] Raffo commented on #1630
The Kubernetes community is working on this issue right now: https://groups.google.com/g/kubernetes-dev/c/kry8QbIpxRs/ and the major code hosting providers (GitHub, GitLab, etc. ) are working together on this. I am confident that we will reach a naming convention that will be unique. From what I can see, new projects will likely adopt the new `main` naming, while individual communities will decide

[2020-06-17 14:08] iMartyn commented on #1502
Worse still, it basically stops all updates to the DNS records in AWS because it refuses to process the batch.

[2020-06-18 06:41] michazt commented on #1608
A short update on this: we also tested it with the latest release with the same error messages.

Can anyone tell me if this is a bug or we are doing something wrong? For me it looks like a bug but maybe I am mistaken. And if it is a bug, I will of course file a bug report.

THX for any hint on this because it is preventing us from using externalDNS. Which would be very helpful if we could use it i

[2020-06-18 08:53] linki commented on #1608
I would be interested in how ALB ingress controller handles this. We can probably do the same here.

[2020-06-18 09:23] michazt commented on #1608
@linki the ALB basically has the same IAM setup. The difference between the ALB ingress controller and externalDNS is that externalDNS needs to do a cross account access to create the DNS record. The resources the ALB creates are in the same AWS account.

From the various documentations and hints I have read externalDNS can do a cross account access or can use the OIDC provider. But I never found

[2020-06-18 13:54] alexellis commented on #1443
+1 for this

I would really appreciate having an arm and arm64 build - just like we have for many of the other Kubernetes components. Even the KinD team are looking to add support - https://groups.google.com/forum/#!topic/kubernetes-sig-architecture/eHBFgfd6Qxg

If the comment above is a blocker, then perhaps the race detection should only be run on the main build?

[2020-06-18 19:11] Raffo commented on #1443
From what I hear, arm64 is easy while arm is kinds involved. If someone is willing to dig into the details of the problems with the arm one, I can deal with the infrastructure bits to release such an image.

[2020-06-18 22:44] MacLeodMike commented on #1443
If I remove the `make test` line from the Dockerfile, the image builds and runs fine on arm. It's just the tests that don't run on arm.

[2020-06-19 07:00] Raffo commented on #1443
@MacLeodMike thanks for the context. I'll have a look at what we can do in terms of publishing official images for arm, it's uncharted territory for me, but it sounds like a great addition.

[2020-06-19 10:05] Elegant996 commented on #1596
Still having issues with CNAME records and cloudflare.

[2020-06-19 13:12] MacLeodMike commented on #1443
Thanks @Raffo . I'm not much of a dev, but I'm happy to test any fixes you come up with.

[2020-06-19 13:54] sean-abbott commented on #1385
I am using vchrisb's image and it works well, but it'd be nice to just have it coming straight from the source at release time.

[2020-06-19 14:37] Benjile commented on #1220
Same issue here, the tls section is not a relevant section to hold the dns record definition. It should be possible to disable the tls section discovery.

[2020-06-21 13:37] #1073 closed

[2020-06-21 14:07] OmerKahani commented on #731
Starting to work on this - https://kubernetes.slack.com/archives/C771MKDKQ/p1592295222475600

[2020-06-21 14:07] OmerKahani commented on #1517
Starting to work on this - https://kubernetes.slack.com/archives/C771MKDKQ/p1592295222475600

[2020-06-22 04:57] SMR39 commented on #1552
+1

[2020-06-22 07:20] errogaht opened #1639 "Documentation enchantment"
https://github.com/kubernetes-sigs/external-dns/compare/master...errogaht:patch-1

[2020-06-22 08:00] Benjile commented on #1220
This behaviour comes from this issue https://github.com/kubernetes-sigs/external-dns/issues/610
This commit conflicts with configuration where tls section aims to define the certificate to use for the ingress (in conjunction with external dns).

I think we can provide a flag which disables this behaviour.

Working on it

[2020-06-25 04:08] xukunfeng0496 opened #1646 "When NodePort service ExternalTrafficPolicy is Local, external dns cache will make the service down"
**What happened**:
We use  external-dns with  redis-operator , then create a service with local externalTrafficPolicy .
[code]
Then external-dns with alibabacloud provider create a DNS A record
[code]
IP1 is the redis master pod IP.
However when the IP of the master pod changes, for example because of failover。The external-dns change DNS record to IP2
[code]
At this time, due to the existence of d

[2020-06-25 08:48] mikelorant opened #1647 "CRD unable to create DNSEndpoint of record types other than A or CNAME"
**What happened**:

Applied the following DNSEndpoint resource:
[code]

This results in no resource created. Even in debug mode, there is no object even mentioned.

As soon as I `kubectl edit dnsendpoint examplednsrecord` to change it from `TXT` to `CNAME` I see the following output.

[code]

**What you expected to happen**:

It is expected that the `DNSEndpoint` should be able to create all recor

[2020-06-25 11:22] ipochi commented on #484
I changed the `--interval=3m` and set `--events` flag, yet I am getting
[code]

what's the recommended `--interval` value to mitigate this ?

[2020-06-25 12:37] ytsarev commented on #1647
I can confirm this behavior, have seen it before for TXT.

[2020-06-25 13:08] ytsarev commented on #1647
/assign @ytsarev

[2020-06-25 13:10] #1395 closed

[2020-06-25 16:16] bitsofinfo commented on #1070
/remove-lifecycle stale

[2020-06-26 19:04] seh commented on #1257
Related: containous/traefik#4655.

[2020-06-26 20:07] #1359 closed

[2020-06-26 20:25] juanmatias opened #1648 "Add a source to read from file and a provider to write to Shaman DNS"
**What would you like to be added**:
This proposal comprises two items:
  - a new source to read endpoints from a file
  - a new provider to write records to Shaman DNS (https://github.com/nanopack/shaman)

**Why is this needed**:
We were working on a one-click solution for a SOHO or a small team. This solution includes a VPN. So, we need a DNS so the VPN's clients can access the internal servers

[2020-06-26 20:37] unixfox commented on #632
I hope one day this will be implemented. It's such a feature killer because most of the managed Kubernetes have nodes with internal IP in a private subnet.
I tried the [`hostport` tutorial](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/hostport.md) on GKE and I only got the internal IP added to my DNS server. That's quite unfortunate.

[2020-06-27 16:02] ytsarev commented on #1450
/assign ytsarev

[2020-06-27 17:37] sheerun commented on #484
@ipochi What version of external dns you are using?

[2020-06-27 17:39] sheerun commented on #689
No response, so I'll consider this fixed. If not, please create another issue with steps to reproduce, or ideally a test in [cloudflare_test.go](https://github.com/kubernetes-sigs/external-dns/blob/master/provider/cloudflare/cloudflare_test.go). The tests are really easy to write :)

/close

[2020-06-27 17:39] #689 closed

[2020-06-27 17:40] sheerun commented on #992
OK, I'll consider this fixed. If not, please create another issue with steps to reproduce, or ideally a test in cloudflare_test.go or other affected. The tests for cloudflare provider are really easy to write :)

/close

[2020-06-27 17:40] #992 closed

[2020-06-27 17:42] sheerun commented on #1044
OK, I'll consider this fixed. If not, please create another issue with steps to reproduce, or ideally a test in cloudflare_test.go or other affected. The tests for cloudflare provider are really easy to write :)

/close

[2020-06-27 17:42] #1044 closed

[2020-06-27 17:57] ipochi commented on #484
@sheerun 0.7.2-debian-10-r20

[2020-06-27 18:02] sheerun commented on #1596
@Elegant996 What version of external-dns are you using? Can you write a test to reproduce in cloudflare_test.go?

[2020-06-27 18:02] sheerun commented on #1540
OK, I'll consider this fixed. If not, please create another issue with steps to reproduce, or ideally a test in cloudflare_test.go or other affected. The tests for cloudflare provider are really easy to write :)

/close

[2020-06-27 18:03] #1540 closed

[2020-06-27 18:04] sheerun commented on #1440
This should be now fixed. If not, please create another issue with steps to reproduce, or ideally a test in cloudflare_test.go or other affected providers. Tests for Cloudflare provider are really easy to write :)

/close

[2020-06-27 18:04] #1440 closed

[2020-06-27 18:04] sheerun commented on #1428
No answer, so I'll consider this fixed. If not, please create another issue with steps to reproduce, or ideally a test in cloudflare_test.go or other affected providers. Tests for Cloudflare provider are really easy to write :)

/close

[2020-06-27 18:04] #1428 closed

[2020-06-27 18:05] sheerun commented on #1421
OK, I'll consider this fixed. If not, please create another issue with steps to reproduce, or ideally a test in cloudflare_test.go or other affected providers. Tests for Cloudflare provider are really easy to write :)

/close

[2020-06-27 18:08] sheerun commented on #1376
@Evesy Could you try to write failing test in cloudflare_test.go ?

[2020-06-27 18:41] Elegant996 commented on #1596
Currently using `0.7.2`, may be able to write something and associate it to a dummy service.

The worst part about this issue is cloudflare eventually ignored the CNAME. It appears that after being added a removed enough times, it just assumed the record to be non-existent and returned NXDOMAIN. The record had to be removed for a few hours and then manually added before it worked again.

[2020-06-28 07:50] sheerun commented on #484
Could you try to write steps to reproduce on docker image?

[2020-06-28 12:09] Raffo commented on #219
/remove-lifecycle rotten

[2020-06-28 17:37] Raffo commented on #1443
I did a bit of research, what looks like it's needed, for future reference, is:

- [ ] Understand if we can push a different tag (i.e. arm-$VERSION) to the GCR repo
- [ ] Figure out if we can make test work on arm architecture
- [ ] Change the cloud builder config to separate the steps from the Dockerfile
- [ ] Add a Makefile rule to build arm
- [ ] Add the rule as a separate step in cloud builder

[2020-06-28 18:02] gclawes commented on #1443
GCR supports Manifest Lists (https://cloud.google.com/container-registry/docs/image-formats), so separate tags for ARM architectures shouldn't be necessary.

[2020-06-28 19:37] tdyas commented on #1321
I have encountered a similar issue with an SPF TXT record on a domain causing external-dns to not see the ownership TXT record. The issue is the assumptions made in the code at https://github.com/kubernetes-sigs/external-dns/blob/7164cd04d3f2b92d92ff8bd4c29fd2ad1b739ce8/registry/txt.go#L90-L98.

That code assumes that there will only ever be one TXT record because it only takes the first target of

[2020-06-28 20:35] Raffo commented on #1443
@gclawes do you have any reference on how those works? I'm not familiar with this docker feature.

[2020-06-28 21:32] gclawes commented on #1443
Docker images can be built for multiple architectures using the same tag.  Under the hood, the registry stores the same tag with multiple manifest lists (one for each arch).

The simplest way to do this is just build on different machines of the given architectures (x86, raspberry pi, AWS Graviton, etc) and just push the same tag, or use docker's cross-building capability: https://www.docker.com/b

[2020-06-28 23:25] ytsarev commented on #1414
#1475 appears to also fix this issue, no lost of txt ownership after the fix. Closing.

[2020-06-28 23:25] #1414 closed

[2020-06-29 13:44] #1226 closed

[2020-06-29 18:40] dansimone commented on #1053
https://github.com/kubernetes-sigs/external-dns/pull/1650 is a potential solution to this problem.

[2020-06-30 02:23] spikewang opened #1651 "external-dns failed to create record on AWS ap-east-1"
**What happened**: external-dns failed to create record in AWS region ap-east-1 (HongKong)

**What you expected to happen**: the record should be created automatically like all other regions

**How to reproduce it (as minimally and precisely as possible)**: Running external-dns in EKS in ap-east-1 and create a ingress or service

**Anything else we need to know?**:

Here is the log in the failed c

[2020-06-30 15:42] bittermandel commented on #1428
Having the same issue right now, even with 0.7.2. Everything is deployed with default settings from the Bitnami Helm Chart.

**How to reproduce it (as minimally and precisely as possible):**
Enable Cloudflare Proxied option (globally).

**Anything else we need to know?:**
Not sure, please refer me to information you might need :smile:

**Environment:**

    External-DNS version (use external-dns -

[2020-06-30 16:02] sslavic commented on #1609
Reproduced with v0.5.18 and v0.7.2

[2020-06-30 16:03] christinepuk opened #1653 "Linode links to out-of-date Cloud Manager"
**What happened**:
The link in the documentation is out-of-date.

**What you expected to happen**:
To navigate to the correct link, which is: https://cloud.linode.com/domains

**How to reproduce it (as minimally and precisely as possible)**:
On the [docs](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/linode.md#verifying-linode-dns-records), the hyperlink "Linode UI" na

[2020-06-30 18:51] sheerun commented on #1428
I'd need some way to reproduce. After all A records can be proxied. Maybe it's wildcard?

[2020-06-30 19:13] #1363 closed

[2020-06-30 22:13] djschnei21 commented on #1608
Same issue here!

[2020-06-30 23:52] ghostsquad opened #1656 "No endpoints could be generated from ingress"
**What happened**:

I noticed that external dns was not creating a route53 entry in AWS for an ingress that I created. I later found out that part of the ingress was malformed, in that it was pointing to a service that didn't exist. The ingress to be created is a ALB Ingress, which was successfully performed.

The following log statement is what triggered that:

[code]

**What you expected to happ

[2020-07-01 07:46] #1340 closed

[2020-07-01 14:46] mel1nn opened #1658 "DNS records are not removed after DNSEndpoint deletion"
Hello,

I have an issue concerning the usage of a DNSEndpoint custom resource.
When I create a DNSEndpoint CR with several endpoints, it creates dns records on my dns server as excepted, but when I remove this DNSEndpoint CR, it does not removed the dns records from my dns server.

Thanks for your help !

[2020-07-01 17:17] ytsarev commented on #1455
/assign ytsarev

[2020-07-01 18:40] fimbulvetr commented on #1420
I am seeing this issue as well. The `external-dns.alpha.kubernetes.io/aws-failover` feature is absolutely useless without it because it attempts to create the TXT record with failover in addition to the actual DNS record.

[2020-07-02 12:05] ytsarev opened #1659 "Optimize CI/CD pipeline"
**What would you like to be added**:

Optimized github actions docker images with all dependencies included as in https://github.com/kubernetes-sigs/external-dns/pull/1657/files#r448481339

**Why is this needed**:

Faster test pipelines

[2020-07-02 12:05] ytsarev commented on #1659
/assign ytsarev

[2020-07-02 16:20] christinepuk commented on #1653
Hello! any update?

[2020-07-02 17:04] H3rman8 commented on #1432
/remove-lifecycle stale

[2020-07-02 17:22] ezYakaEagle442 commented on #1291
/reopen

[2020-07-02 17:24] ezYakaEagle442 commented on #1291
kind/feature

[2020-07-03 03:07] #1405 closed

[2020-07-03 10:32] ezYakaEagle442 commented on #1291
@saidst Hi, sorry to ask you directly but I do not know to whom this issue should be assigned ?
What shall I do so that the issue get assigned and not closed by the bot ?

[2020-07-03 13:53] zxkane commented on #1544
Had a try release `0.7.2`, it works in China region. However the below env has to be set explicitly,

`AWS_REGION=cn-northwest-1`

[2020-07-06 08:44] masarlabs commented on #1489
/remove-lifecycle

[2020-07-06 19:48] ghostsquad commented on #1283
/remove-lifecycle stale

[2020-07-07 09:51] vugardzhamalov opened #1660 "Provider: Google add DNS ZoneType Filter"
**What happened**: As far as I am aware 'zoneType' filter is not available for 'google' provider. I happen to have identical Public and Private DNS Zones managed in my CloudDNS GCP Project. When I declare a host name in one of my ingress objects sourced by one of my 'external-dns' instances - it will create DNS Resource Record in Private Zone only! Instead of creating it in both or Public Zone ins

[2020-07-07 17:45] semoac commented on #1420
Same issue here :(

[2020-07-08 09:28] nitnatsnocER commented on #1632
Hi,
this problem could be solved by upgrading to latest versions of:
etcd to 3.4.9
CoreDNS to 1.6.9
externalDNS to 0.7.2
and the fact that service endpoint was not enabled in RBAC.  Not sure if missing endpoints or updating the components solved it but now it works.

[2020-07-08 09:28] #1632 closed

[2020-07-08 10:05] volk1234 opened #1663 "Fqdn templates requires some modifiers"
**What would you like to be added**:
Hey all,
I faced with Go template limits while trying to customize EKS managed node DNS name with `fqdnTemplates`. `text/template` module is not supported any modifiers like split, replace or trim.

**Why is this needed**:
It could required to use some custom or unique DNS name working with `nodes`. For instance  with EKS managed groups(in fact it ASG managed b

[2020-07-09 05:53] rjl79 opened #1664 "set-identifier annotation should be ignored by providers that don't support it"
**What happened**:

Cloudflare records are failing when set-identifier annotation exists on a source.
The annotation `external-dns.alpha.kubernetes.io/set-identifier` appears to be being evaluated for all providers although it is only relevant to AWS as far as I can tell.

**What you expected to happen**:

The annotation to be ignored and records created in Cloudflare without error.

**How to repr

[2020-07-09 06:36] seanmalloy commented on #1198
/remove-lifecycle stale

[2020-07-09 12:57] wagnst opened #1665 "Support for UltraDNS"
**What would you like to be added**:
Support for UltraDNS service: https://www.home.neustar/dns-services
It seems SKDs are available: https://github.com/ultradns

**Why is this needed**:
This is the preferred DNS provider in our organisation and used for public DNS.

[2020-07-09 14:38] jonbesga commented on #1470
Is there any update on this issue?

[2020-07-09 17:47] jonbesga commented on #712
Did anyone figure this out? I'm having the same issue.

[2020-07-09 18:24] AlexMichaelJonesNC opened #1666 "external-DNS deleted existing SPF record in route53"
**What happened**:
As part of a migration to k8s we added the external-dns TXT "heritage=..." record to our route53 txt record to allow sending mail from our application's domain. Shortly after restarting the external-dns pod to force it to refresh the DNS state, it eliminated an existing SPF entry from the TXT record.

**What you expected to happen**:
External-DNS would not edit other TXT values

[2020-07-09 18:39] #1666 closed

[2020-07-09 19:29] AlexMichaelJonesNC commented on #1666
This was actually some user error, tracing through cloudtrail, we found an unitentional user update

[2020-07-09 20:56] DigitaMind commented on #1548
I'm still getting this error, please is there a workaround for now?

[2020-07-09 21:46] stefanlasiewski commented on #1596
Hi folks, just to be clear, this ticket is in regards to the `rfc2136` provider, not Cloudflare. For the Cloudflare bug, please see #992 . While the behavior looks similar, I suspect the actual bug may be subtly different.

[2020-07-09 23:13] serain opened #1667 "Cloudflare broken"
**What happened**: getting `invalid header field value` with both Token and API key based authentication and trying to deploy an ingress

**What you expected to happen**:  not getting an error

**How to reproduce it (as minimally and precisely as possible)**:
* deploy latest version of external-dns
* configure either Token or API key environment variables for Cloudflare authentication
* try to dep

[2020-07-09 23:18] stefanlasiewski commented on #1596
So, for my rfc2136 what's happening now is that the DNS record itself has a TTL of 20 seconds, but `external-dns` thinks it should have a TTL of 0 seconds, which was the default until a recent update.

The same mismatch seems to happen for users that specify their own TTL with `external-dns.alpha.kubernetes.io/ttl=60`

The following record actually has a TTL of 20, but for some reason, `external-d

[2020-07-09 23:22] #1667 closed

[2020-07-09 23:34] seanmalloy commented on #1419
/remove-lifecycle rotten
/remove-lifecycle stale

[2020-07-11 01:51] Nilegfx opened #1668 "wrong host entry crashes the whole external-dns pod"
**What happened**:
the whole external-dns pod fails and keep restarting if one ingress has an invalid host

**error**
[code]

**What you expected to happen**:
single dns creation failure

**How to reproduce it (as minimally and precisely as possible)**:
create ingress with host an invalid host, like, `subdomain-without-FQDN`

**Anything else we need to know?**:
I solved the problem by correcting t

[2020-07-11 11:22] #1379 closed

[2020-07-11 11:22] #1396 closed

[2020-07-11 14:25] #1301 closed

[2020-07-11 19:43] aledr opened #1669 "Configure External Resolver as Nameserver"
This enhancement request is based on a split-horizon DNS environment.

For cert-manager It is possible to configure [external nameserver flag](https://cert-manager.io/docs/configuration/acme/dns01/#setting-nameservers-for-dns01-self-check) to solve the challenge.

Can you add this feature?

[2020-07-13 14:12] #221 closed

[2020-07-13 16:32] frittentheke commented on #449
/remove-lifecycle stale

[2020-07-13 16:40] CRASH-Tech opened #1670 "Remove unreachable nodes"
After ingress node are dead, external-dns keep unreachable address.
I think you need to check the availability of nodes and delete inaccessible ones.

[2020-07-13 19:02] aleveille commented on #1388
/reopen
/remove-lifecycle rotten

[2020-07-13 20:08] richrepko commented on #1608
Same issue here as well. Have yet to find a configuration that supports cross account hosted zones.

[2020-07-14 15:22] LozanoMatheus opened #1672 "Support for AWS Route53 Traffic Flow"
**What would you like to be added**:
It will be nice to have support for AWS Route53 - Traffic Flow.

**Why is this needed**:
With Traffic Flow, you can create more advanced traffic rules. For example, it's possible to put Geoproximity + Failover, in case of the Ireland cluster goes down, it forwards the users to Frankfurt.

This is a pretty good video showing how it works.
https://www.youtube.com

[2020-07-14 17:57] patpicos opened #1673 "Is it possible to apply a NetPol to external-dns"
I attempted to add a network policy to the namespace where external-dns is deployed (default deny all on both ingress and egress). As soon I did so, the following error occurred:
[code]

Are the traffic paths documented for external-dns to allow restricting traffic in and out of the ns?

[2020-07-14 19:35] mrparkers commented on #656
@vbaidak not sure if you're still looking for something like this, but I also wrote an admission controller to assist with automatically adding the `external-dns.alpha.kubernetes.io/target` annotation to Ingresses and Istio VirtualServices.  Feel free to use it directly, or as a reference for implementing your own.

https://github.com/mrparkers/external-dns-target-admission

[2020-07-15 05:58] yizha commented on #1624
It also happens for ingress object with a rule's 'host' starting with '*',

[code]

And the logging could be improved here as when it crashes it doesn't print out what resource (and/or endpoint name) it is processing which could be very helping in locating the offending resources.

[2020-07-15 11:58] lweberru opened #1674 "provider Support for Strato and for Providers based on dyndns v2 (dyndns.org)"
**What would you like to be added**: provider for dyndns.org and Strato (which is based on dyndns v2 of dyndns.org)

**Why is this needed**: to add and update dns entries hosted by dyndns.org or strato

Strato Link:
https://www.strato.com/faq/en_us/domain/this-is-how-easy-it-is-to-set-up-dyndns-for-your-domains/

[2020-07-15 18:01] Mahesh-MSFT opened #1675 "failed to sync cache: timed out waiting for the condition"
I am getting this error message after deploying external-dns using guidance as described [here](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure.md)

I understand this issue has been reported (and closed!) via #1202 . @phillebaba had provided comment on need to correct the misleading error message. However, i do not see any fix to the message.

I am not using Helm.

[2020-07-15 18:07] Mahesh-MSFT commented on #1675
#1202

[2020-07-15 22:07] Ghazgkull commented on #921
I'm encountering this same issue right now. I just changed my Istio ingress gateway service from an ELB to an NLB and external-dns isn't noticing that anything has changed.

@clarkm5 Did you find any kind of workaround?

[2020-07-16 10:51] Mahesh-MSFT commented on #1675
Was able to resolve this issue by giving default service account clusteradmin privileges.

`kubectl create clusterrolebinding default-serviceaccount-rb --clusterrole=cluster-admin --serviceaccount=default:default`

Error message seems like misleading though :-(

[2020-07-16 11:01] Th3Falc0n opened #1676 "external-dns writing wrong IP to A-Entry when using L4 LoadBalancer for an ingress controller"
I am currently using external-dns together with an nginx ingress controller and MetalLB. The nginx gets its IP from MetalLB with a L4 Balancer definition.

I am then using an L7 Ingress for a webserver. The DNS entry for this L7 is created by external-dns in my infoblox.

**What happened**:
external-dns creates an A-Entry for a L7 Ingress with the IP of the Node on which the Pod is running.

**Wha

[2020-07-16 12:20] #1430 closed

[2020-07-16 12:36] H3rman8 commented on #1431
/remove-lifecycle stale

[2020-07-16 12:37] H3rman8 commented on #1432
Pull request is still to be approved.

[2020-07-16 14:53] chungktran commented on #1675
I edited the ClusterRole with content below and it works after that. I'll create a PR so that this will be in the code.
[code]

[2020-07-16 15:56] chungktran commented on #1675
Actually did what I did above works just fine. I had old txt record that was why it wasn't working. I'll create a PR for this.

[2020-07-16 20:52] stefanlasiewski commented on #1596
Here's an updated log containing the debug messages for this server:

[code]

[2020-07-16 21:14] stefanlasiewski commented on #1596
I see that our DNS servers return two IPs in this record (`.100` and `.101`), whereas `external-dns` tries to update one (`.100`) only.

[2020-07-16 21:35] stefanlasiewski commented on #1596
/label provider/rfc2136

[2020-07-16 22:08] stefanlasiewski commented on #1596
After talking to @tdyas, it seems that https://github.com/kubernetes-sigs/external-dns/pull/1595 (for Digitalocean) might be the fix for this as well.

Code is detailed here:

https://github.com/kubernetes-sigs/external-dns/blame/7505f29e4cec80ca20468b38c03b660a8481277d/provider/digitalocean/digital_ocean.go#L116-L145

[2020-07-16 22:22] stefanlasiewski commented on #1431
@H3rman8 I also use the rfc2136 provider with Rancher 2, and I have a similar bug at #1596.

I'm confused though. This bug is in regards to rfc2136, but your commit above (#1521 ) is in regards to Infoblox. not rfc2136.

[2020-07-16 23:22] stefanlasiewski commented on #1596
I believe this bug only affects records that have two IP addresses, and it appears that the rfc2136 provider has trouble reconciling those two records, and therefore it loops every interval (`--interval=1m`)

[2020-07-17 10:13] bohdantverdyi commented on #881
/reopen
/remove-lifecycle stale

[2020-07-17 10:13] bohdantverdyi commented on #881
/remove-lifecycle rotten

[2020-07-17 11:49] Benjile commented on #1676
see this issue:
https://github.com/kubernetes-sigs/external-dns/issues/654

[2020-07-17 12:04] Benjile opened #1677 "coverall github action issue"
**What happened**:
While submitting a PR coverrall webservice does not see the test covering for some source code files. For example:
https://coveralls.io/builds/32110052/source?filename=source/source.go shows 0% coverage.
But `make cover` shows that 87% of this file is covered by tests

**What you expected to happen**:
The coverall webservice should see the tests and display 87% of coverage rate

[2020-07-17 12:08] Benjile commented on #1670
i am not sure it is under the scope of external dns to check the availability of nodes. external dns gets nodes ip from kubernetes api and then record them. external dns does not perform any kind of healthcheck for any source type.

[2020-07-17 12:29] Mahesh-MSFT commented on #1675
The pod is now stuck at updating A and TXT records in Azure DNS Zone.
[code]

Any suggestions on how to get past this?

[2020-07-17 12:36] Benjile commented on #1669
Can you explain a bit more this feature? external dns does not use the dns interface but instead a DNS provider API, so the cert-manager example is not relevant i think.
To use split horizon feature you need objects that have two ips. For external dns point of view it means:
 * a source providing two ips:
 * different sources providing different ips for the same real object

The first case does no

[2020-07-17 12:40] Benjile commented on #1651
it is a configuration issue.
you need to add a prefix to your registry entry because aws does not allow TXT and CNAME records with same name
[code]

[2020-07-17 14:18] chungktran commented on #1675
I don't think that's stuck. I think it's done doing its thing so it just sits there not logging anything else. Try adding another ingress rule to see if it adds the DNS. I fell into that same situation and finally realized that after awhile.

[2020-07-17 14:44] Mahesh-MSFT commented on #1675
Thanks @chungktran . if I add another ingress rule, it gets reflected in Azure DNS Zone. However, when I navigate to the host, I get `This site can’t be reached sba2.aks-egress-fw.io’s server IP address could not be found.` error message. Below is my ingress manifest.

[code]

[2020-07-17 14:47] chungktran commented on #1675
That's no longer external-dns' issue. That's something to do with your DNS provider or that IP is not serving the service.

[2020-07-19 10:57] timtorChen commented on #1443
I did a few test of github action on a duplicated repo https://github.com/timtorChen/external-dns-action-test/action

I found there is a unpredicatable error (sometimes pass, and sometimes failed) when action runs the test specific on arm64. Look at `buildx #1` I seperate the amd64 and arm64 build into two jobs and it pass. While it did not pass when combines two plaform together on job `build #2`

[2020-07-19 15:18] vymarkov commented on #1070
Also experiencing this.

[2020-07-19 16:22] Walther opened #1679 "Hetzner support: unknown image or parsing error"
Following the docs [here](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/hetzner.md)
Implemented in the PR https://github.com/kubernetes-sigs/external-dns/pull/1570

Results in
[code]
Changing the version number to `0.7.2` which is the latest that can be found [here](eu.gcr.io/k8s-artifacts-prod/external-dns/external-dns) results in
[code]

Not 100% sure if this is eith

[2020-07-19 20:12] DigitaMind commented on #1548
I explained above, this issue occurred when more than 1 user assigned Managed Identity is associated with the Virtual Machine Scale Set. Adding a particular user assigned managed identity in the azure.json which is then used to create the secret resolved the issue for me.

{
  "tenantId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
  "subscriptionId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
  "resourc

[2020-07-19 23:41] #509 closed

[2020-07-20 12:40] xUnholy commented on #1443
ARM64 Image is being built here: https://github.com/raspbernetes/multi-arch-images

Can be pulled here: https://hub.docker.com/r/raspbernetes/external-dns

This image will be kept in parity with this upstream of course until upstream support is provided.

[2020-07-20 13:44] leodamasceno commented on #1420
Same issue for me.

[2020-07-20 16:07] rust84 commented on #1608
I tried following https://aws.amazon.com/blogs/containers/cross-account-iam-roles-for-kubernetes-service-accounts/

1. MAIN ACCOUNT

[code]

2. EKS ACCOUNT

[code]

And I get:

[code]

[2020-07-20 19:21] arzarif commented on #1510
@coopernetes - I've deployed externaldns (v0.7.2) with the azure-private-dns provider in conjunction with aad-pod-identity. This already appears to be working. I simply ripped out the service principal-related environment variables that are supplied in externaldns deployment spec (as it appears in the documentation). Did you find this not to work?

[2020-07-20 19:32] aidan-melen commented on #1608
FYI related to https://github.com/kubernetes-sigs/external-dns/pull/524

[2020-07-20 21:11] savithruml opened #1680 "Is there a way to log messages to a file instead of STDOUT?"
Is this supported?

[2020-07-20 21:42] ahmedwaleedmalik commented on #1605
Hi @jgrumboe,
Sorry, I got caught up with a lot of work at my end and didn't get time to look at this. Will start working on this probably this weekend.
Yes, that's exactly what i am looking to implement. Regarding DNS "overlap", that is something that will be handled in openshift API. An additional field at https://github.com/openshift/api/blob/master/operator/v1/types_ingress.go#L265 for `Manage

[2020-07-21 04:08] seanmalloy commented on #1605
Hi @ahmedwaleedmalik and @jgrumboe

I'm very interested in having external-dns properly support OpenShift 4.x. Unfortunately I have not been able to find the time to help move it forward. I was going to try and submit an OKD enhancement proposal to have external-dns officially shipped as part of OpenShift, but have not found the time to write up a proposal yet. See https://github.com/openshift/ext

[2020-07-21 06:40] michazt commented on #1608
@aidan-melen THX for the info but what does this mean for us? I see this is a commit from 2018 that was merged in 2018. So for me this would mean we are doing something wrong if the AWS cross account access really works. Then I would like to know what is not correct in the described setup above? And what would be a working example?
A side note: with the setup from above I can use the AWS CLI with

[2020-07-21 12:34] SrinivReddy opened #1683 "Centralized hosted zone"
Hi Team,

I have a EKS clusters in different aws accounts like dev, qa, prod.

Shall I manage all env domains in common account?

[2020-07-21 13:35] guitmz commented on #1510
this was working fine in previous chart versions, just updated to the latest one and got hit by this problem

[2020-07-21 14:51] aidan-melen commented on #1608
I was going to jump into the GO code this weekend if I have time.

[2020-07-21 14:54] michazt commented on #1608
@aidan-melen ah now I see that you have committed some code for this problem. I missed your entry at the end. Thanks a lot and I hope that it will fix our problem. As I am not a programmer I am not helpful at coding but willing to test it on our setup. And I will write some documentation when it works.

[2020-07-21 17:04] linki commented on #1608
I tested it in our setup and it seems to work fine. Here's what I did.

Let's assume we want to run ExternalDNS in account A managing records in account B. We want to use the IAM role in account A `arn:aws:iam::A:role/external-dns` to assume the IAM role in account B `arn:aws:iam::B:role/external-dns-cross-account`.

Head over to account B (the target account) and create the IAM role you want to a

[2020-07-21 23:03] 21h commented on #1679
v0.7.3 is a future release, you can build it manually from sources or try to use mine image at `registry.blindage.org/external-dns:v0.7.3`. Current state of provider is **alpha**, bug reports welcomed.

[2020-07-22 09:16] Th3Falc0n commented on #1676
[code]

That solved it. Thanks 👍

[2020-07-22 09:16] #1676 closed

[2020-07-22 09:26] Benjile commented on #1683
you can use several instance of external DNS in the same cluster, and filter the source they will watch by parameters like   domain-filter, namespace, or annotation-filter. This way every instance could use its own DNS credentials/provider

[2020-07-22 12:43] rust84 commented on #1608
Thanks @linki @aidan-melen the `--aws-assume-role` parameter was the piece I was missing. For anyone else who is using the Bitnami helm chart this can be set with `.Values.aws.assumeRoleArn`.

Annotated the service account with the role on account A which grants assume role permission for the account B role which is granting route53 access.
Set  `--aws-assume-role` to the role on account B.

The t

[2020-07-22 13:55] Evesy commented on #1376
@sheerun What I've observed so far though by adding some additional logging is the below:

I have the below DNS Endpoint:

[code]

As a result I have this in CF:
![image](https://user-images.githubusercontent.com/17579850/88180855-e4a38780-cc25-11ea-9a9d-a88f44da57b2.png)

What I can see from the plan table is the current record is showing as:

[code]

And then in the changes table:

[code]

There

[2020-07-22 14:26] michazt commented on #1608
@linki THX for this example. I will try this next week and let you know if it succeeded. This week I am busy with other stuff. I think that I am also missing the --aws-assume-role=arn:aws:iam::B:role/external-dns-cross-account start parameter. Sounds promising.

[2020-07-22 16:51] mhoran commented on #1263
/remove-lifecycle stale

[2020-07-22 20:36] jgrumboe commented on #1680
Hi,
logging to a file is a k8s antipattern.
I think we shouldn't do this. What would be your usecase?

[2020-07-22 20:44] jgrumboe commented on #1673
I don't think so that it is documented yet.
At as far I know there shouldn't be the need for incoming traffic and at least outgoing traffic to your cluster k8s api and your cloud provider must be allowed.
Maybe you can try to investigate needed netpol by following this article https://kinvolk.io/blog/2020/03/writing-kubernetes-network-policies-with-inspektor-gadgets-network-policy-advisor/ ?

[2020-07-22 20:48] jgrumboe commented on #1670
I agree with Benjile.
Healthchecking is part of a loadbalancer business, that's my opinion.

[2020-07-22 20:52] jgrumboe commented on #1683
If you want to share domains over all your stages I think you are forced to manage it in a common account.
If you have separate domains for each stage I would manage it in the same account as EKS.

[2020-07-22 21:08] jgrumboe commented on #1668
Ouch...seems to be something in my last change with adding txt-suffix feature.
I'm currently not able to debug/correct this before August.

[2020-07-22 21:19] jgrumboe commented on #1648
Since you address two different topics (1 new source and 1 new provider)  it would be good to split it into two issues. So each can be tracked and discussed separately. And you can provide PRs for each of it in a clean way.

[2020-07-22 21:24] jgrumboe commented on #1648
Regarding your file source, I doubt it is good practise to change configmaps and not "reloading" the pod.
External-dns already has an own CRD input type, so your discovery agent could probably generate CRs instead of a json-file.

[2020-07-22 21:48] djschnei21 commented on #1608
@rust84 or @linki any chance one of you can paste your working deployment yaml here???  We're definitely missing something simple... still can't get our pod which is using an OIDC provider to assume a cross account role.

[2020-07-23 17:08] #1339 closed

[2020-07-23 20:52] halfmatthalfcat commented on #508
Can this be reopened? It looks like `external-dns` needs to assign the DO Load Balancer IP as the record ip instead of the Ingress's assigned IP.

[2020-07-24 07:28] SrinivReddy opened #1684 "AccessDenied - not authorized to perform: route53:ListHostedZones\n\tstatus"
(I am using EKS cluster 1.15)I have configured external dns using helm charts: https://github.com/bitnami/charts/tree/master/bitnami/external-dns,  In container logs I could see below logs
time="2020-07-24T06:41:05Z" level=error msg="AccessDenied: User: arn:aws:sts:XXXXXXXXXassumed-role/eks-cluster-XXXXXXX-NodeInstanceRole-XXXXXXXX/i-XXXXXXXXXX is not authorized to perform: route53:ListHostedZones

[2020-07-24 17:28] devkid commented on #1175
/remove-lifecycle stale

[2020-07-24 18:19] IuriGarcia commented on #1117
it might still be happening..

[2020-07-24 21:16] ericrdgz commented on #1608
@linki we are facing similar issues. Trying to follow your guidance. How are you creating your IAM Roles. CLI, Terraform, or Console? We are using Terraform. Also are you on EKS non-fargate or EKS Fargate?

[2020-07-25 00:13] tdyas commented on #1117
What version of external-dns? My fix in https://github.com/kubernetes-sigs/external-dns/pull/1595 has not been released yet so you would have to build off of the `master` branch.

[2020-07-25 13:05] seanmalloy commented on #1455
/remove-lifecycle-stale

[2020-07-25 13:06] seanmalloy commented on #1455
/remove-lifecycle stale

[2020-07-25 13:07] seanmalloy commented on #1455
/remove-lifecycle rotten

[2020-07-25 13:07] seanmalloy commented on #1455
/remove-lifecycle stale

[2020-07-25 20:57] #1418 closed

[2020-07-27 00:16] pdf commented on #555
Looks like this was implemented in #657

Docs are under `contributing` for some reason:
https://github.com/kubernetes-sigs/external-dns/blob/7505f29e4cec80ca20468b38c03b660a8481277d/docs/contributing/crd-source.md

[2020-07-27 08:19] TimoKoole commented on #1281
I would also like this feature.

[2020-07-27 08:31] itskingori commented on #692
/remove-lifecycle stale

[2020-07-27 09:46] jurgenweber opened #1685 "istio gateway DNS, half done and pointing to wrong NLB"
**What happened**:
I have two ingress deployments, ingressgateway and clientgateway

When I have setup external-dns to look at istio-gateway resources (and only gw, no vs) and create hostnames for me, it finds the hostnames for the ingressgateway and points them to the external IP of the clientgateway.

it doesn't create the DNS for the clientgateway hosts at all, there are 4 in total.. So it crea

[2020-07-27 10:17] jurgenweber commented on #1685
ok, this isn't an external-dns issue.. I finally worked out.. It is an istio operator issue:

https://github.com/istio/istio/issues/25642

[2020-07-27 10:17] #1685 closed

[2020-07-27 11:36] IuriGarcia commented on #1117
I am using external-dns bitnami's helm chart v3.2.2, it uses v0.7.2, if i am not wrong.

[2020-07-27 15:21] 0dragosh opened #1686 "istio-virtualservice source appears in documentation but is not released"
Support for `istio-virtualservice` source appears in [docs](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/istio.md) with the `registry.opensource.zalan.do/teapot/external-dns:latest` image. However, when attempting to start that image with the flag `--source=istio-virtualservice`, the following error is thrown:

`level=fatal msg="flag parsing error: enum value must be

[2020-07-27 23:50] ericrrath opened #1687 "Upgrade Oracle OCI SDK to latest"
**What would you like to be added**:
Latest version of Oracle's OCI SDK

**Why is this needed**:
Version currently in use by external-dns is very old.

[2020-07-28 08:13] GeertJohan commented on #961
After I recreated some nodes, external-dns failed to startup again with the above mentioned error message. It seems that `endpoints` were added and external-dns now requires extra permissions.

Make sure you have added
[code]
to your `external-dns` ClusterRole.

[2020-07-28 10:58] #1438 closed

[2020-07-28 13:10] julian3xl commented on #1421
just for the record, removing `external-dns.alpha.kubernetes.io/ttl` from my manifest just worked, it seems that if you don't try to force the ttl, it doesn't try to change the record again and again.

[2020-07-28 15:37] mstoetzer opened #1691 "Support for nginx VirtualServer, VirtualServerRoute and TransportServer"
The VirtualServer and VirtualServerRoute resources are new load balancing configuration, introduced in release 1.5 of nginx ingress as an alternative to the Ingress resource.

See: https://docs.nginx.com/nginx-ingress-controller/configuration/virtualserver-and-virtualserverroute-resources/

The TransportServer resource allows you to configure TCP, UDP, and TLS Passthrough load balancing.

See: htt

[2020-07-29 08:40] Viswa88 commented on #961
@GeertJohan, thanks  It's saved my time

[2020-07-29 15:40] aleveille commented on #1388
Is there anything I can do to help review & approve the PR? I believe this is an interesting QoL improvement (it prevents thousands of error messages for us).

[2020-07-29 15:40] aleveille commented on #1388
/assign njuettner

[2020-07-29 17:02] carpenike commented on #1453
I would also very much so like to see NodePort supported. Recently switched from MetalLB to calico now that it supports advertising the `ExternalIP` service address to BGP peers: https://docs.projectcalico.org/networking/advertise-service-ips#advertise-service-external-IP-addresses

Any updates on this?

[2020-07-29 17:09] carpenike commented on #1453
Well, I found an ugly workaround. Create a 'dummy' ExternalName service that points to the IP address for the service you'd like to run along with the annotation that points to your domain name:

[code]

[2020-07-30 00:10] wmcnamee-tunein commented on #1105
/remove-lifecycle stale

[2020-07-30 04:06] hiraken-w opened #1698 "If both —policy=sync and Weighted records in Route 53 are used, external-dns deletes records with different identifiers"
**What happened**:

I use two clusters. There is ingress with the same host in each of them.
I want to use these ingresses to create two weighted records for the routing policy in Route 53.

But if I set —policy=sync, external-dns deletes another record with a different identifier. As a result, only one weighted record is registered.
If I don't use —policy=upsert-only, this issue doesn't occur.

*

[2020-07-30 08:41] ishansd94 opened #1699 "The server could not find the requested resource (get gateways.networking.istio.io)"
**What would you like to be added:**
Make the following a warning, not an error

`time="2020-07-30T08:26:34Z" level=info msg="Instantiating new Kubernetes client"
time="2020-07-30T08:26:34Z" level=info msg="Using inCluster-config based on serviceaccount-token"
time="2020-07-30T08:26:34Z" level=info msg="Created Kubernetes client https://10.43.0.1:443"
time="2020-07-30T08:26:41Z" level=error msg="t

[2020-07-30 08:51] SrinivReddy commented on #1684
Resolved

[2020-07-30 08:51] #1684 closed

[2020-07-30 08:52] #1683 closed

[2020-07-30 18:31] JnMik commented on #961
@GeertJohan  awesome, probably just saved me a couples minutes / hours ! xD

[2020-07-31 01:25] ddymko commented on #1623
This doesn't seem to be an issue with the latest release `v0.7.2`. I pulled down the latest release from GCR and ran it locally to check if the `--provider=vultr` would cause any errors and it didn't.

[code]

Then ran the same command with `--provider=vult` and saw `vultr` does show up in the list of providers
[code]

[2020-07-31 21:02] ericrrath opened #1700 "OCI provider: add support for instance principal authentication"
**What would you like to be added**: support for OCI IAM instance principal authentication with the OCI provider
**Why is this needed**: allows secure authentication without sensitive credentials when calling OCI API from an OCI instance

[2020-08-01 07:13] rocketraman commented on #1210
Adding https://github.com/kubernetes-sigs/external-dns/issues/1489 to the list.

[2020-08-01 19:40] #1457 closed

[2020-08-02 03:26] tdyas commented on #1117
Yeah, 0.7.2 does not include the PR. You will have to build an image manually and point the Helm chart at the custom image in order to use the fix.

[2020-08-02 10:55] #1291 closed

[2020-08-03 11:44] IuriGarcia commented on #1117
Hm, Right, ty!

[2020-08-03 15:43] mazzy89 commented on #973
@jonathancolby-olx what I'm wondering is how this would work in case that the annotation

[code]

is added to a `Service` of type `LoadBalancer`.

So basically I would have two different external-dns deployed with `zone-id-filter` but the zones they manage are named the same (`example.com`). How do they differ in which zone tit must be created the entry for the internal ELB if the `hostname` would

[2020-08-03 21:09] mazzy89 commented on #973
Just found the annotation filter flag is the answer to my question 😊

[2020-08-04 06:34] knyttl opened #1703 "Configuring target record"
I am trying to configure Kubernetes tool for automatically configuring Cloudflare external DNS.

There are two configuration options:

[code]

Filling the `/target` field leads to creating CNAME records, leaving it empty leads to creating A records. I have had some bad experiences with messages like DNS_PROBE_FINISHED_NXDOMAIN and server IP address could not be found when using CNAME, so I want to

[2020-08-04 13:49] georgekaz commented on #1211
/remove-lifecycle stale

[2020-08-04 16:44] hetpats commented on #1608
**IS there a way to pass External-Id for assuming the role in cross account?**

[2020-08-04 17:34] rocketraman commented on #1210
For others wanting this functionality and are on GKE/Cloud DNS, I've created a simple bash script that can be deployed as a Deployment/Pod in a GKE environment:

https://gist.github.com/rocketraman/3f3f3925be3a346336a405e2a5d48df0

It will keep a DNS entry "nodes", in the configured zone, up-to-date with the IPs of the Ready nodes, and create and keep up-to-date CNAME records pointing to that DNS

[2020-08-05 09:34] Raffo commented on #1647
@ytsarev are you able to take a look at that given that you are assigned?

[2020-08-05 09:37] ytsarev commented on #1647
@Raffo yes, i have it in the pipeline

[2020-08-05 14:39] michazt commented on #1608
So far we had no time to test this. Hopefully a colleague of mine will have time soon to test it.

[2020-08-05 15:08] laloyalo commented on #509
Thanks for the clear steps @prabhu, I had trouble running this in a different namespace other than default and workload identity. I did the steps you mentioned from scratch and it worked as expected. Not sure if there may be some hard coded stuff regarding the token in this image: `registry.opensource.zalan.do/teapot/external-dns:latest`

[2020-08-05 19:02] jessebye commented on #1686
@0dragosh release v0.7.3 just went out: https://github.com/kubernetes-sigs/external-dns/releases/tag/v0.7.3

We're using the bitnami image and they already have this version too: https://hub.docker.com/r/bitnami/external-dns/tags

[2020-08-05 22:03] jessebye opened #1707 "Unable to use istio-virtualservice source with ALB Ingress Controller"
**What happened**:

We use `aws-alb-ingress-controller` to create a load balancer based on an `Ingress` resource. The ingress points at a `Service` that is type `NodePort`. Beyond that, we have Istio `Gateway` and `VirtualService` resources controlling the routing to our pods.

**What you expected to happen**:

When configuring `external-dns` with the `istio-virtualservice` source, it should creat

[2020-08-06 01:49] riponbanik opened #1708 "external dns does not work for Route53 private zone"
**What happened**: I am setting up external dns with the following but it does not create record, nor does it shows any error

apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: external-dns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: external-dns
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: external-dns
    spec:
      serviceAccount

[2020-08-06 09:01] alexgeek opened #1710 "Rate limit exceeded"
**What happened**:

Checking the externaldns logs I'm getting this error:

[code]

I'm not sure what the relevant quota is though.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**: It seems External DNS is polling every second, is that normal? Seems the likely cause for some quota to be exhausted.

**Environmen

[2020-08-06 11:25] yves-vogl commented on #1388
The same is true for CNAME records which are created as an Azure Service Alias (e.g. for CDN)

[2020-08-06 12:27] cdenneen commented on #973
@mazzy89 you have example?

[2020-08-06 12:51] mazzy89 commented on #973
it is actually in the official documentation https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/public-private-route53.md

[2020-08-07 07:10] dirien commented on #1257
the workaround from @wizbit is not working and the one from @jimbocoder neither (Azure DNS) i think that Traefik is not  suitable for external dns atm

[2020-08-07 09:51] #937 closed

[2020-08-07 10:31] lirlia commented on #1708
i face same err.

[2020-08-07 12:34] abjrcode opened #1713 "AWS Route53 A record matching zone name isn't deleted"
**What happened**:
I have a Route53 zone named `myzone.parent.com`.
I put an hostname annotation on an ingress object like `www.myzone.parent.com`
external-dns creates three records in the zone:
* An `A` record pointing to the load balancer that doesn't have `www` in it
* A `CNAME` record pointing to the load balancer that has `www` in it
* A `TXT` record associated with the `CNAME` record

When I

[2020-08-07 19:32] kenperkins commented on #751
Bumping this back up as it is still an active problem with the designate provider.

[2020-08-08 00:54] #1679 closed

[2020-08-08 20:25] #1433 closed

[2020-08-10 10:02] previsenathan opened #1715 "Divergence in load balancers"
So right now i'm facing the issue of having two AWS Application Load Balancers, the issue is the domain is pointing at the incorrect load balancer.

So for instance when i run
[code]
I get
[code]

but my dns record looks like this
[code]

if I manually update my record, it will just revert back to the original.

Notes:
I've swapped out some of the names due to my companies policy

Thanks in advanc

[2020-08-10 15:21] t0rr3sp3dr0 opened #1716 "Support Multiple Annotation Filters"
**What would you like to be added**:
Support multiple `--annotation-filter` arguments. Similar to `--domain-filter`, a resource should be required to fulfill just one of the filters specified.

[code]

**Why is this needed**:
Currently is not possible to have a single deployment of External DNS that handles internal ALBs and NLBs at the same time. The annotation filter uses K8s label selectors and

[2020-08-10 19:20] mgrecar commented on #1608
I followed [these directions](https://docs.aws.amazon.com/eks/latest/userguide/enable-iam-roles-for-service-accounts.html) to set up an identity provider and attach it to the role (following pretty much the same steps for the policy and role in the [docs](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md#amazon-eks)), and I was able to get cross-account ExternalDNS

[2020-08-10 19:55] jeffhubLR opened #1717 "v0.7.3 regression from v0.7.2 when using istio-gateway source (all records DELETEd)"
**What happened**:

Upgrading to v0.7.3 deleted all created DNS entries sourced from Istio gateway (--source=istio-gateway)
Downgrading back to v0.7.2 with no other changes recreated the entries deleted by v0.7.3

**What you expected to happen**:

Upgrade works with existing configuration.

**How to reproduce it (as minimally and precisely as possible)**:

1. Have a working config using istio-gate

[2020-08-11 03:53] seanmalloy commented on #1495
/remove-lifecycle rotten

[2020-08-11 04:03] seanmalloy commented on #751
/remove-lifecycle rotten

[2020-08-11 04:06] seanmalloy commented on #751
/kind bug

[2020-08-11 06:30] lossanarch commented on #1416
Also seeing this on 0.7.3 using raw yaml install

relevant container config:
[code]

logs:
[code]
(note the lack of logs for creating the TXT record)

[2020-08-11 06:46] lossanarch commented on #1416
Ahh actually i believe this is more useful:
[code]
Apologies for all the redaction, if you take all the domains as being the same it should make sense.

So it would appear that once the prefix is added it doesn't match the record it's signalling heritage for anymore. I'll try to take a look at the code tonight and figure out where this is happening.

[2020-08-11 08:28] #1715 closed

[2020-08-11 12:15] lossanarch commented on #1416
Ok, I believe I've found the issue: without a trailing `.` in the txt-prefix value, attempts to attach the prefix to a root domain will fail.
So in my case, I'm using `--txt-prefix=external-dns-` and the resulting txt record for example.com is `external-dns-example.com`, which throws this error:
[code]
Which is perfectly reasonable, because I have no zone `external-dns-example.com` in my aws accou

[2020-08-12 01:47] Snake4life commented on #1670
I first thought that if a node is in status "node.kubernetes.io/unreachable:NoExecute" or  "node.kubernetes.io/unreachable:NoSchedule" external-dns would delete the dns record for the particular node, which would cause a "kinda failover". Is there any workaround to get external-dns to delete unreachable nodes from dns? I have found that if the first node that has an a record in cloudflare goes off

[2020-08-12 18:14] razvan-ig opened #1718 "istio-virtualservice does not create entries in Infoblox"
**What happened**:
Started with a very basic setup of httpbin, as per https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/istio.md#using-a-virtualservice-as-a-source , added a VirtualService, tailing the logs in debug mode, on kubectl apply I see
`external-dns-6f7d8c6cc9-dgphl external-dns time="2020-08-12T17:50:11Z" level=debug msg="service added"`
and a few secs later (pol

[2020-08-13 02:49] loozhengyuan opened #1719 "Cloudflare requires API token granted to all zones even with --domain-filter"
**What happened**:

When using Cloudflare provider with API Tokens, it is expected to only grant `Zone: Read` and `DNS: Edit` permissions to the token, as well as privileges to access that specific zone. However, I encountered the following error message even when using the `--domain-filter` flag:

[code]

This continued until I granted the token to have access to `All Zones` in the account.

This

[2020-08-13 05:00] seanmalloy commented on #1665
/close

Looks like this was implemented in PR #1635 and is available in the v0.7.3 release.

[2020-08-13 05:00] #1665 closed

[2020-08-13 05:04] seanmalloy commented on #1653
/kind documentation

@christinepuk thanks for pointing out this documentation error. Would you be willing to submit a pull request to fix it?

[2020-08-13 05:09] seanmalloy commented on #1623
/close

As pointed out by @ddymko support for the Vultr provider was first added in the v0.7.2 release. @DarkBlaez please ensure you are using external-dns >= v0.7.2.

[2020-08-13 05:09] #1623 closed

[2020-08-13 12:54] seanmalloy commented on #1385
/close
/triage duplicate

This is a duplicate of #1443.

[2020-08-13 12:54] #1385 closed

[2020-08-13 12:57] seanmalloy commented on #1376
/kind bug

[2020-08-13 12:58] seanmalloy commented on #1372
/triage support

[2020-08-13 12:59] seanmalloy commented on #1366
/kind feature

[2020-08-13 13:01] seanmalloy commented on #1293
/kind bug

[2020-08-13 13:01] seanmalloy commented on #1261
/kind documentation

[2020-08-13 13:02] seanmalloy commented on #854
/kind feature

[2020-08-13 14:41] alittlec opened #1721 "Support ARMv8"
**What would you like to be added**:

ARMv8 support added

**Why is this needed**:
To enable external-dns to run on k8s clusters based on ARM

[2020-08-13 23:30] muhanadali100 opened #1722 "How can i use with Ubunutu Server ??"
How can i use with Ubunutu Server ??

why you don't make UI for the DNS , like this
![س](https://user-images.githubusercontent.com/31727156/90197043-2adba900-ddd6-11ea-9e00-6ff95df13900.png)

[2020-08-14 03:28] seanmalloy commented on #1721
@alittlec thanks for opening this issue. It looks like this is a duplicate of #1443. Please feel free to add any additional comments to #1443. Thanks!

/triage duplicate
/close

[2020-08-14 03:28] #1721 closed

[2020-08-14 03:34] seanmalloy commented on #1443
Looks like the cluster-proportional-autoscaler just added multi-arch image support. See the linked pull requests from issue https://github.com/kubernetes-sigs/cluster-proportional-autoscaler/issues/89 to see how this project made it work.

[2020-08-14 03:35] seanmalloy commented on #1443
/help

[2020-08-14 03:40] seanmalloy commented on #1450
/reopen
/remove-lifecycle rotten

This new feature is implemented in PR #1461.

[2020-08-14 03:54] seanmalloy commented on #1441
/remove-lifecycle stale

[2020-08-14 04:02] seanmalloy commented on #1722
@muhanadali100 thanks for opening this issue!

The k8s external-dns project is not used with "servers". It is deployed to a k8s cluster and then interacts with a cloud DNS provider via an API.

Do you have a k8s cluster running that you are trying to deploy external-dns to? Also, if you need help getting started you might get a faster response in the `#external-dns` slack channel at http://slack.k

[2020-08-14 04:20] seanmalloy commented on #409
/kind feature

[2020-08-14 04:25] seanmalloy commented on #409
/label provider/cloudflare

[2020-08-14 04:40] seanmalloy commented on #449
/kind bug

[2020-08-14 04:43] seanmalloy commented on #692
/kind bug
/triage duplicate

As previously mentioned this might be a duplicate of #449. Might want to consider closing this one in the future.

[2020-08-14 05:24] seanmalloy commented on #484
/kind feature

[2020-08-14 05:27] seanmalloy commented on #731
/kind bug

[2020-08-14 05:30] seanmalloy commented on #632
/kind feature

[2020-08-14 05:39] seanmalloy commented on #1101
/triage duplicate
/close

This is a duplicate of #1053. See also pull request #1696

[2020-08-14 05:40] #1101 closed

[2020-08-14 05:48] seanmalloy commented on #1053
/kind feature

[2020-08-14 05:54] seanmalloy commented on #1117
@IuriGarcia the code from PR #1595 is included in external-dns release v0.7.3. Can you verify this issue is fixed now using v0.7.3?

/remove-lifecycle rotten
/kind bug

[2020-08-14 05:58] seanmalloy commented on #1070
/kind bug

[2020-08-14 06:00] seanmalloy commented on #1070
Can someone verify if this is still a problem with the newly release external-dns release v0.7.3?

[2020-08-14 06:02] seanmalloy commented on #1281
/kind feature

[2020-08-14 06:05] seanmalloy commented on #1233
/remove-lifecycle stale
/kind feature

[2020-08-14 06:07] seanmalloy commented on #1105
/kind bug

[2020-08-14 06:09] seanmalloy commented on #1175
/kind bug

[2020-08-14 06:11] seanmalloy commented on #1210
/remove-lifecycle stale
/kind feature

[2020-08-14 07:20] chriswilliams1977 opened #1723 "Host cannot be resolved"
Hi Ya,

I am trying to set up external dns on GKE as per the steps in your documentation but after completion my host cannot be resolved when doing a curl.

I have verify the following is set up correctly:

Managed Zones
NAME                                       DNS_NAME                               DESCRIPTION                        VISIBILITY
externaldns-jackburton-io     externaldns.jackburto

[2020-08-14 09:18] itskingori commented on #692
/close

[2020-08-14 13:09] seanmalloy commented on #1723
/triage support

Can you provide some if the logs from external-dns?

[2020-08-14 13:11] seanmalloy commented on #692
/close

[2020-08-14 13:12] #692 closed

[2020-08-14 15:39] vniche commented on #1670
Yeah, i'm experiencing an unexpected behavior related to name resolving from clients when a node becomes unavailable. Not using a Load Balancer in front of nodes (which can also be a fix), so DNS Server resolves directly to ingress nodes, would be awsome if when a healthcheck configuration is available for DNS Servers, external-dns provided a way to enable it and thus configure it automatically, l

[2020-08-14 16:46] jgrumboe commented on #1670
But isn't the best practice to deploy an ingress controller with servicetype loadbalancer and this would deploy a loadbalancer of your cloud providers choice in front?
I doubt that dns healthcheck can beat a loadbalancer in functionality and failover mechanism.

[2020-08-14 16:48] Snake4life commented on #1670
yes, that would be best pratice, but Im not using a cloud provider :(

[2020-08-14 17:54] jgrumboe commented on #1670
I see. What about using MetalLB? https://metallb.universe.tf/

[2020-08-14 19:01] vniche commented on #1670
Ingresses are Load Balancers themselves, so it would be same as stating LoadBalancers should have LoadBalancers on front of themselves 😕

Anyway, even using LoadBalancers on front, it would still be an extra layer of reliability (and almost necessary when no LBs) to have a health check on DNS (when possible) feature.

[2020-08-15 03:20] Nuru commented on #1421
@sheerun seeing this issue on AWS. Removing `external-dns.alpha.kubernetes.io/ttl` from Service LoadBalancer fixed it for that service, but it remains for Istio Gateway, which, AFAIK, has no TTL setting.

[2020-08-15 03:31] Nuru commented on #902
@volatilemolotov No, this is not possible. Annotations are Key,Value pairs. You cannot have duplicate keys.

[2020-08-15 10:27] ahmedwaleedmalik commented on #1605
Hi @seanmalloy @jgrumboe
I was able to take some time out for this today and implemented this. Can you guys kindly review the PR #1725

[2020-08-15 10:51] jgrumboe commented on #1605
Hi @ahmedwaleedmalik
I will review it next week but I can only verify if it doesn't break OCP 3.11 support. I don't have an OCP 4.x cluster.
Nice weekend.

[2020-08-16 04:09] seanmalloy commented on #1211
/kind feature

[2020-08-16 04:12] seanmalloy commented on #1213
/kind feature

[2020-08-16 04:17] seanmalloy commented on #1220
/kind feature

[2020-08-16 04:26] seanmalloy commented on #1263
/kind feature

[2020-08-16 04:27] seanmalloy commented on #1282
/kind feature

[2020-08-16 04:29] seanmalloy commented on #1283
/kind documentation

[2020-08-16 04:32] seanmalloy commented on #1299
/remove-lifecycle stale
/kind feature

[2020-08-16 04:34] seanmalloy commented on #1321
/kind feature

[2020-08-16 04:37] seanmalloy commented on #1386
/remove-lifecycle stale
/kind feature

[2020-08-16 09:11] Benjile commented on #1220
still waiting the pr to be reviewed

[2020-08-16 09:15] Benjile commented on #1670
if you want to use dns for load balancing you will have to 0s TTL. Some DNS providers does not allow it

[2020-08-16 19:32] onedr0p commented on #1394
Bump!

[2020-08-16 19:32] onedr0p commented on #1394
/remove-lifecycle stale

[2020-08-16 22:30] vniche commented on #1670
I don't want to use DNS for load balancing, just want them to resolve addresses, but healthy ones when possible (i know features vary a lot from DNS Servers implementations, this is why i stated when possible before).

Hehe, yes, i was meaning ingress controllers. About best practices/common use, i wouldn't be a requesting a feature if interested on what's already there by default 😕

[2020-08-17 00:23] Snake4life commented on #1670
this would help a lot in case of a failure of an load balancer

[2020-08-17 03:59] seanmalloy commented on #1388
/kind feature

[2020-08-17 04:00] seanmalloy commented on #1388
/unassign njuettner

[2020-08-17 04:13] seanmalloy commented on #1389
/kind bug
/triage duplicate
/close

This is a duplicate of #1517.

[2020-08-17 04:13] #1389 closed

[2020-08-17 04:15] seanmalloy commented on #1394
/kind feature

[2020-08-17 04:17] seanmalloy commented on #1416
/kind documentation
/kind bug

[2020-08-17 10:07] itskingori commented on #995
/reopen

[2020-08-17 14:08] seanmalloy commented on #1420
/remove-lifecycle stale
/kind bug

Can someone validate this is still on issue with external-dns v0.7.3?

[2020-08-17 14:11] seanmalloy commented on #1453
/remove-lifecycle stale

[2020-08-17 23:30] seanmalloy commented on #995
/reopen

[2020-08-17 23:31] seanmalloy commented on #995
/kind feature

[2020-08-18 03:10] displague commented on #1604
It seems this can be handled by https://github.com/openshift/mdns-publisher

[2020-08-18 03:30] seanmalloy commented on #1435
/remove-lifecycle stale

[2020-08-18 03:32] seanmalloy commented on #1454
/kind feature

[2020-08-18 03:44] seanmalloy commented on #1456
/remove-lifecycle stale
/kind documentation
/remove-kind feature

Based on my understanding this just requires some documentation updates. No code changes are requites. Please correct me if I'm wrong.

[2020-08-18 03:45] seanmalloy commented on #1510
/triage duplicate
/kind documentation
/remove-kind feature

Based on my understanding this just requires some documentation updates. No code changes are required. Please correct me if I'm wrong. Also, looks like a duplicate of #1456, so we might want to close out this issue in the future.

[2020-08-18 03:47] seanmalloy commented on #1471
/remove-lifecycle rotten

@tomekit can you verify if this is still broken with the latest release, v0.7.3?

[2020-08-18 03:50] seanmalloy commented on #1474
/kind bug
/remove-lifecycle stale

@FrakasTeam can you verify you are seeing the same problem with the latest release, v0.7.3?

[2020-08-18 03:52] seanmalloy commented on #1487
/remove-lifecycle stale

[2020-08-18 03:53] seanmalloy commented on #1489
/remove-lifecycle rotten

[2020-08-18 03:58] seanmalloy commented on #1488
/remove-lifecycle rotten

@albertollamaso I think can you go ahead and submit a PR to adjust the log messages if you believe this will make external-dns move usable. I'm not a maintainer of this project, so there is a possibility that your PR would not be merged. Let us know if you are going to submit a PR to adjust the log messages or not. Thanks!

[2020-08-18 03:58] seanmalloy commented on #1488
/kind cleanup
/remove-kind feature

[2020-08-18 04:31] seanmalloy opened #1726 "Update Kustomize Image Tag Docs"
How can we make sure it's updated for future releases?

_Originally posted by @james-callahan in https://github.com/kubernetes-sigs/external-dns/pull/1709#issuecomment-675172047_

@james-callahan I think for starts this should be documented here: https://github.com/kubernetes-sigs/external-dns/blob/master/docs/release.md

[2020-08-18 04:31] seanmalloy commented on #1726
/kind documentation

[2020-08-18 04:34] seanmalloy commented on #1726
@vinny-sabatini would use be interested in updating the [release documentation](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/release.md) to include a note that the kustomize image tag needs to be updated after a release is created?

See #1709 for details on what needs to be changed as part of each release.

/help

[2020-08-18 09:53] #1518 closed

[2020-08-18 09:53] #1624 closed

[2020-08-18 13:28] seanmalloy commented on #1588
/remove-lifecycle stale

@muhammad-fahad2068 can you test with the latest version, v0.7.3 and see if you still see the same behavior?

[2020-08-18 13:46] seanmalloy commented on #1198
/kind feature

[2020-08-18 13:54] seanmalloy commented on #1499
/remove-lifecycle rotten
/remove-kind bug
/kind documentation

[2020-08-18 13:55] seanmalloy commented on #1499
/help

[2020-08-18 13:57] seanmalloy commented on #1512
/remove-lifecycle stale

[2020-08-18 14:02] seanmalloy commented on #1522
/remove-lifecycle rotten
/triage support

@treaves can you double check if you see the same behavior with the latest release, v0.7.3?

[2020-08-18 14:08] seanmalloy commented on #1574
/remove-lifecycle stale
/kind documentation
/remove-kind bug
/help

@prune998 would you be interested in creating a pull request to update the documentation?

[2020-08-18 14:10] seanmalloy commented on #1571
/remove-lifecycle stale
/triage support

@maticko can you confirm if you are seeing the same behavior using the latest release v0.7.3?

[2020-08-18 14:13] seanmalloy commented on #1562
/kind documentation
/remove-kind bug
/remove-lifecycle stale

@vinny-sabatini would you be interested in updating the README? It looks like all that is left to do is to update this heading ... https://github.com/kubernetes-sigs/external-dns#v05---current-version

[2020-08-18 14:15] seanmalloy commented on #1557
/remove-lifecycle stale

@antonu17 can you confirm if this is fixed in the latest release, v0.7.3?

[2020-08-18 14:16] seanmalloy commented on #1572
/triage duplicate
/close

This is a duplicate of #1557

[2020-08-18 14:16] #1572 closed

[2020-08-18 15:12] prune998 commented on #1574
https://github.com/kubernetes-sigs/external-dns/pull/1729

[2020-08-18 16:30] danehans opened #1730 "Add Support for an ExternalDNS Operator"
**What would you like to be added**:
I propose adding an [operator](https://kubernetes.io/docs/concepts/extend-kubernetes/operator/) to manage ExternalDNS.

**Why is this needed**:
Currently, ExternalDNS is managed through a manual process (docs, manifests, etc) or external tooling (i.e. Helm). An operator would simplify the user experience by providing declarative management of ExternalDNS. Sever

[2020-08-18 17:15] danehans commented on #1730
Here are a few use cases that an operator can address:

1. As a cluster admin, I need the ability to install ExternalDNS in my Kubernetes cluster to manage Route53 DNS records- An operator can a) verify that the necessary IAM policy/roles exist and create them if needed b) verify if the hosted zone(s) exist and create the zone(s) if needed c) deploy ExternalDNS (rbac,  deployment, etc.). The rever

[2020-08-18 17:56] danehans commented on #1730
The addon operator [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/addons/0035-20190128-addons-via-operators.md) and KubeCon [video](https://youtu.be/LPejvfBR5_w) provides additional background for the motivation to support an ExternalDNS operator.

[2020-08-18 18:35] vinny-sabatini commented on #1703
/triage support

[2020-08-18 18:40] vinny-sabatini commented on #1675
@chungktran or @Mahesh-MSFT would one of you two be willing to update the documentation for the Azure provider to ensure the proper RBAC is provided?

/kind documentation
/help

[2020-08-18 18:44] vinny-sabatini commented on #1622
/kind bug

[2020-08-18 18:47] vinny-sabatini commented on #1653
/help

[2020-08-18 18:48] vinny-sabatini commented on #1456
/help

[2020-08-18 18:48] vinny-sabatini commented on #1283
/help

[2020-08-18 18:48] vinny-sabatini commented on #1261
/help

[2020-08-18 18:50] vinny-sabatini commented on #1558
@Raffo and @njuettner I have worked with @seanmalloy on triaging the issues and will try to help chip away at some of them.

[2020-08-18 19:58] chungktran commented on #1675
@vinny-sabatini This is RBAC for any kubernetes, not just Azure. I've never done this so do you mind pointing to the files that need to be updated?

[2020-08-18 20:17] szuecs commented on #1730
@danehans in which repository the „install operator“ should be?
For me this sounds like puppet module forge in kubernetes and I don’t believe in „you don’t have to understand what you run“.
For usability I agree that add/remove rbac and cloud iam roles can be an enhancement, but then who will configure the roles of the „install operator“?

[2020-08-18 21:13] jgrumboe opened #1733 ""latest" tag for container images"
**What would you like to be added**:
I would like to have a "latest" tag on container images.

**Why is this needed**:
1. It would make it easier for tutorials to reference to an existing image, for example if the tag isn't known upfront because it is a new feature and there hasn't been a release.
2. In test or sandbox clusters it would be great to always get the newest version with ImagePullPolic

[2020-08-18 21:13] jgrumboe commented on #1733
/assign @Raffo

[2020-08-18 23:51] 00r2 commented on #1070
seems like still an issue

[2020-08-19 02:45] seanmalloy commented on #1733
@jgrumboe thanks for opening this issue! All of the k8s.gcr.io images are defined [here](https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io/images). I do not see any images with a latest tag. So it seems to me that the k8s project does not create a latest tag for any of its container images.

Would you be able to ask in the `#wg-k8s-infra` k8s slack channel to see if it is possible to def

[2020-08-19 05:46] seanmalloy commented on #1558
I completed adding the "kind" label to all open pull requests. My next step is to start working with @vinny-sabatini to review `size/XS` and `size/S` pull requests.

@Raffo and @njuettner do you just want the contributing docs cleaned up and updated? Or is there something very specific you want done? I think this might be something myself and @vinny-sabatini could complete.

@Raffo and @njuettner

[2020-08-19 05:49] seanmalloy commented on #1713
/provider aws

[2020-08-19 05:50] seanmalloy commented on #1713
/label provider/aws

[2020-08-19 07:29] Raffo commented on #1730
As I briefly mentioned on the external-dns slack, I disagree on the need for an ExternalDNS operator. Let me explain why.

ExternalDNS was designed from the very beginning to be simple and for upgrades to never be a concern. Dealing with DNS, which is a clearly very eventual consistent, any setup can tolerate brief outages of the ExternalDNS pod without problems. Also, we essentially store no stat

[2020-08-19 12:18] ddymko commented on #1653
@seanmalloy @vinny-sabatini This was already fixed in https://github.com/kubernetes-sigs/external-dns/pull/1661

[2020-08-19 12:58] seanmalloy commented on #1653
/close

[2020-08-19 12:58] #1653 closed

[2020-08-19 16:38] Benjile commented on #1677
It seems the github actions has been removed. The incident has now disappeared

[2020-08-19 16:38] #1677 closed

[2020-08-19 16:49] Benjile commented on #1713
The A record here is created with the loadbalancer maybe via your ingress controller, it is not directly related with the ingress object. External dns creates a cname with the informations provided in the ingress object (annotation and spec/rules).

[2020-08-19 16:55] Benjile commented on #1703
you must run your ingress controller with the publishservice options. Then external dns will add the public ip to the dns zone
See controller.publishservice.enabled here https://github.com/helm/charts/tree/master/stable/nginx-ingress

[2020-08-19 17:00] Benjile commented on #1698
i think it is a configuration issue. You need to set different txt-owner-id on the two clusters.

[2020-08-19 18:15] Quentin-M commented on #936
This issue should not have been closed, SRV records are now broken in external-dns. I will re-open one now :)

[2020-08-19 18:24] seanmalloy commented on #936
/reopen
/king bug

[2020-08-19 18:29] seanmalloy commented on #936
/remove-lifecycle rotten
/kind bug

[2020-08-19 18:29] Quentin-M commented on #936
Thanks for re-opening!

Looking through related PRs across the repository, I just found https://github.com/kubernetes-sigs/external-dns/pull/1232 also addresses the issue, as well as putting SRV records creation behind a runtime flag and fixes another limitation. Would that be the preferred path?

[2020-08-19 19:31] ajgajg1134 commented on #961
This just bit me as well, one thing to check is the clusterRoleBinding in the documentation binds to a service account in the default namespace so if you want to run external-dns in a different namespace make sure you change the namespace from default to your new namespace before creating the clusterRoleBinding

[2020-08-20 00:19] danehans commented on #1730
@szuecs yes, an admin will need to `kubectl apply -f /operator/config`, so the rbac setup is not much different between the two. However, the operator can still provide value with the other pieces of use case 1.

@Raffo thanks for the detailed explanation on your views. The management space will continue to have different tools (helm, kustomize, operators, etc.) with each providing pros/cons. I do

[2020-08-20 02:41] tariq1890 commented on #1717
can you share the `Gateway` that you're using?

[2020-08-20 02:44] tariq1890 commented on #1717
can you also make sure you have `--source=istio-gateway` set when you're running the `v0.7.3` instance?

[2020-08-20 02:52] tariq1890 commented on #1707
@jessebye As of right now, the code does not source targets from resources other than `Service`.

If we have a way to map the ALB Ingress LB IPs via the gateway, I would encourage you to file a pull request :). Let me know if I've missed anything here

[2020-08-20 02:53] tariq1890 commented on #1686
This can be closed. FYI @njuettner @Raffo

[2020-08-20 03:08] tariq1890 commented on #1699
Hello!

I am not sure I understand the request here. The error message suggests that the CRD wasn't installed (as you may already know). Isn't it reasonable for external-dns to assume the CRDs are pre-installed, if you are to enable the istio gateway source in your external-dns app?

[2020-08-20 03:09] vinny-sabatini commented on #1726
I have created a PR to update the release documentation
/remove-help

[2020-08-20 04:30] seanmalloy commented on #1686
/close

[2020-08-20 04:30] #1686 closed

[2020-08-20 05:15] seanmalloy commented on #1722
@muhanadali100 thanks again for opening this issue. I haven't heard back from you, so I'm going to close this for now. Please feel free to reopen this if you'd like to continue the discussion here. Thanks!

[2020-08-20 05:15] seanmalloy commented on #1722
/close

[2020-08-20 05:15] #1722 closed

[2020-08-20 05:36] #1703 closed

[2020-08-20 07:00] jgrumboe commented on #1733
@seanmalloy
I asked in #wg-k8s-infra slack channel and the summary is that tags should be immutable. Also technically it probably doesn't work because an image promoter is not able to change the digest of an tag.

@BenTheElder suggested that probably a "dependency linter" would help to keep deployment images links within tutorials in sync with the release (https://kubernetes.slack.com/archives/CCK

[2020-08-20 08:03] abjrcode commented on #1713
Might be that it goes ago, but I definitely didn't see it created upon LB creation. 100% it was being created when the Ingress object is added to K8. When I delete the record manually and re-add the Ingress object, I see the record is being inserted again.

[2020-08-20 08:08] Benjile commented on #1713
Can you give us more details about:
 * kubernetes solution (on premise, EKS, ...)
 * the loadbalancer used
 * ingress controller used
 * the k8s service object for the LB (service type lb) definition
 * the ingress object definnition
 * the full log debug output

[2020-08-20 11:40] szuecs commented on #1730
@Raffo yes for us it just works like that.

I generally completely agree with @Raffo .

@danehans additional value the operator can provide if you split responsibility in clusters to different external-dns with maybe targeting  different providers. I don’t know what other users have but from slack, many people try to configure aws cross account setups or having a 3rd party provider. So I see there

[2020-08-20 12:55] vinny-sabatini commented on #1675
@chungktran I took another look through the docs and noticed there is a page explaining how to configure ExternalDNS if you are using Contour for your ingress source. If the RBAC included there is sufficient for ExternalDNS to work properly, maybe at this point the documentation does not need to be updated - https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/contour.md

May

[2020-08-20 15:10] seanmalloy commented on #1733
@jgrumboe great question. I'm not 100% sure what the best answer is right now. One idea would be to update the tutorials or some place in the documentation that describes how to get the latest released container image tag. Maybe a gcloud command to list the tags could be added to the docs somewhere. I'm open to suggestions.

[2020-08-20 15:13] seanmalloy commented on #1726
/close

This was addressed to PR #1736

[2020-08-20 15:13] #1726 closed

[2020-08-20 15:15] seanmalloy commented on #1562
/close

This was fixed by PR #1731

[2020-08-20 15:15] #1562 closed

[2020-08-20 15:16] seanmalloy commented on #1574
/remove-help

[2020-08-20 15:17] #1574 closed

[2020-08-20 19:01] chungktran commented on #1675
@vinny-sabatini That example is old. Contour no longer uses `contour.heptio.com` API group and `ingressroutes` CRD. Contour now uses `projectcontour.io` API group and `HTTPPRoxy` CRD. `IngressRoute` is deprecated. I can still raise a PR to update that example if you'd like. LMK.

[2020-08-20 22:28] abjrcode commented on #1713
Sure.
* Kubernetes solution: AWS EKS
* Loadbalancer: Classic ELB
* NGINX
* I don't control the service type, it's whatever the various charts give. For example Grafana or whatsoever, I am only concerned with the ingress object.
* The debug output. I don't have that. I can try enable it. But in short I just see creating record A, creating record B then I only see deleting record B later on.

[2020-08-21 00:09] vinny-sabatini commented on #1675
@chungktran ahh I see, I'm not familiar with Contour so I was not aware of those changes. If you have time create a PR to update that doc it would be greatly appreciated!

[2020-08-21 08:08] Benjile commented on #1710
External dns does not poll the api every second by seconds. The polling interval is controlled by a parameter.
 Can you post your configuration please?

There are several settings in external dns to mitigate the rate limiting issue. You can read this issue:
https://github.com/kubernetes-sigs/external-dns/issues/484

You will be interested by those parameters:
--interval=1m0s               The inte

[2020-08-21 08:35] alexgeek commented on #1710
Thanks for the info, I think I'll slightly bump up the interval.

[2020-08-21 08:35] #1710 closed

[2020-08-23 12:14] codearky opened #1742 "External-dns Adds duplications of targets"
**What happened**:
External-dns Adds duplications of targets when Service is of type NodePort, externaltrafficpolicy set to local and there is more than 1 pod running on at least one node with an ExternalIP.

This is because the code checks for all the pods that are in Running state and doesn't consider the case where two pods can run on the same node.

This causes duplications of nodes' ips in th

[2020-08-24 02:20] seanmalloy commented on #1601
/remove-lifecycle stale

There are two open pull requests to implement this featue. Neither of the pull requests have been reviewed yet. Therefore this is not a stale issue.

[2020-08-24 03:04] seanmalloy commented on #1602
@jrubenc were you able to solve your issue? How did you fix it?

[2020-08-24 03:25] seanmalloy commented on #1597
/remove-lifecycle stale
/kind documentation
/remove-kind bug

[2020-08-24 17:57] gregorygtseng commented on #1233
I don't think this would be possible because you cannot delegate access between GovCloud and standard AWS accounts (see restrictions here: https://docs.aws.amazon.com/govcloud-us/latest/UserGuide/govcloud-iam.html) - at least not the way external-dns is currently implemented...

The role you provide here: https://github.com/kubernetes-sigs/external-dns/blob/84e6002297de10485456e0fa400379d3b2a972f7

[2020-08-24 23:14] gregorygtseng commented on #1233
Upon further research, another way to do this is to provide access key and secrets directly to external-dns, and use https://github.com/kubernetes-sigs/external-dns/blob/84e6002297de10485456e0fa400379d3b2a972f7/provider/aws/aws.go#L135 to not create ALIAS records.

[2020-08-25 08:06] simone201 opened #1749 "External DNS keeps looping when creating Istio Gateway entries on Route 53"
**What happened**:
When configuring a new Istio Gateway entry in K8S (specifically EKS cluster), with External DNS configured to use Route 53 in upsert mode, it first creates the entries successfully (CNAME and TXT) but then it keeps re-creating them every minute.

This seems related to a failed existence check on Route 53 or a wrong logic applied to Istio Gateway source.

External DNS log:
[code]

[2020-08-25 08:53] chriswilliams1977 commented on #1723
@seanmalloy sorry for the slow reply, the pod logs just show the following:

level=info msg="All records are already up to date"

{
 insertId: "t8d9jiki8tobotnue"
 labels: {…}
 logName: "projects/williamscj-gke-demos/logs/stderr"
 receiveTimestamp: "2020-08-25T08:51:51.195065183Z"
 resource: {…}
 severity: "ERROR"
 textPayload: "time="2020-08-25T08:51:44Z" level=info msg="All records are already u

[2020-08-25 14:45] lucatk opened #1750 "Record deletion fails with 'Invalid character ... after top-level value'"
**What happened**:

While testing the deletion of ingress routes, I received the below output and corresponding DNS records were not deleted.

[code]

**What you expected to happen**:

The corresponding DNS record to be deleted.

**How to reproduce it (as minimally and precisely as possible)**:

- Create an ingress
- Have DNS record created by external-dns
- Delete the ingress

**Anything else we

[2020-08-25 15:08] Hakob commented on #1719
Any updates?

[2020-08-25 17:50] loozhengyuan commented on #1719
I took some time to look into this today and I realised that PR #1494 supports zone-limited API tokens via the use of the `--zone-id-filter` instead of the `--domain-filter`. So, in order to resolve the 403 errors, we just need to make the following changes:

[code]

With the above, the underlying API requests will now only access the specific zone that you specify, and the 403 errors *should* be

[2020-08-25 18:26] seanmalloy commented on #1723
@chriswilliams1977 thanks for providing the logs. I'm not exactly sure what the problem might be. Have you considered posting a link to this issue in `#external-dns` on k8s slack?

[2020-08-25 18:30] seanmalloy commented on #1719
/kind documentation
/remove-kind bug

[2020-08-26 02:34] bradenwright commented on #1435
Any update on this.  @gigi-at-zymergen were you able to get anything to work.  Curious b/c right now this is the only thing having me use Istio gateways over trying Gloo virtualservices.  I'd be down for a work around or do I need to be patient and wait for https://github.com/kubernetes-sigs/external-dns/issues/1558 to be resolved

[2020-08-26 02:57] seanmalloy commented on #1579
@gnadaban can this issue be closed or do you think it would be good to add some additional logging to make this easier to troubleshoot?

[2020-08-26 08:25] Raffo opened #1754 "Create a script to generate changelog on releases"
Currently we have a PR template that asks contributors to add a line to the changelog. This is done to ease the release process, but it creates the problem that whenever we merge a PR, all the other open PRs have a conflict with the changelog file.
We should create a script to automate the generation of the changelog from the GitHub API instead of relying on a manually edited file.

[2020-08-26 08:33] Raffo opened #1755 "Reported test coverage with coveralls is wrong"
We are reporting a badge with 12% test coverage:

![image](https://user-images.githubusercontent.com/683988/91280711-6c316880-e787-11ea-8206-2e8c155a915a.png)

This is clearly wrong, our test coverage is definitely higher. We should verify why this is happening and fixing the badge.

[2020-08-26 12:57] seanmalloy commented on #1754
/kind cleanup

[2020-08-26 13:58] seanmalloy commented on #1754
One option would be to use something like this: https://github.com/kubernetes-sigs/cluster-api/blob/master/hack/tools/release/notes.go

Which is used like this: https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/a042e87b16e09dcc6f3d112b2f29e207a4fd09a4/Makefile#L413-L415

[2020-08-26 13:59] seanmalloy commented on #1754
@Raffo and @njuettner what do you think would something like [this](https://github.com/kubernetes-sigs/external-dns/issues/1754#issuecomment-680896858) be acceptable to you?

I might be able to work on this. Let me know what you think. Thanks!

[2020-08-26 18:54] seanmalloy commented on #1754
@vinny-sabatini is going take this on. Thanks!

[2020-08-26 20:54] jeffhubLR commented on #1717
Sorry for the delayed response. I haven't been able to test out with updated label selector. Once I do, I will post back here and close if everything works as expected. Thanks @tariq1890

[2020-08-27 13:21] psalaberria002 opened #1757 "Kustomize changes should be added to the release tag"
Currently when checking out v0.7.3 tag the kustomize folder contains a reference to v0.7.2. Ideally the tag should be added to the commit that makes chanegs to Kustomize.

Would it be possible to add the release tag once the kustomize folder is updated going forward? This is the PR I am talking about https://github.com/kubernetes-sigs/external-dns/commit/1ab0963954fd5c4899794c7a0613249a31beb936

[2020-08-27 14:13] gonzalobarbitta opened #1758 "Route53 DNS records not deleted"
**What happened**:
I am using terraform to create a service in AWS. I want to use a failover routing policy, which is why I added the following annotations:

[code]

I see records created as expected in Route 53 hosted zone when service is created. However, when doing a `terraform destroy`, service is deleted but record is not. Records only get deleted when removing the entire hosted zone.

I am i

[2020-08-27 15:44] seanmalloy commented on #1757
Yes ... the release documentation was updated. See commit 3a7892307ceb424d89687f0d0900dcd315b8e152.

[2020-08-27 15:45] seanmalloy commented on #1757
I don't think the v0.7.3 tag is going to get moved, so this will hopefully be taken care of going forward with future releases.

[2020-08-27 15:46] seanmalloy commented on #1757
/kind cleanup
/remove-kind feature

[2020-08-27 15:57] psalaberria002 commented on #1757
That's totally fine, thank you!

[2020-08-27 15:57] #1757 closed

[2020-08-27 16:27] seanmalloy commented on #1606
@guitmz and @jgrumboe I'm assuming the documentation still have not been updated? Would one of you be interesting in submitting a PR to fix the docs?

/remove-lifecycle stale

[2020-08-27 16:57] gigi-at-zymergen commented on #1435
@bradenwright we did end up getting the CRD source to work.
* Created the external-dns `dnsendpoints.externaldns.k8s.io` CRD in our cluster
* Updated our external-dns container with the `--source=crd` arg
* Wrote a utility that generates external-dns `dnsendpoint` resources for us and we auto apply them with Flux

An example of dnsendpoint yaml spec we generate looks like the following:
[code]

Th

[2020-08-27 19:11] ddgenome commented on #1754
There are tools that do this for you already https://go.atomist.com/catalog/skills/atomist/keep-a-changelog-skill

[2020-08-28 06:28] seanmalloy commented on #1558
PR to start improving contributor experience #1760. After this one is merged I believe I'll be submitting one more PR to get the last bits of contributor docs updated.

[2020-08-28 11:25] sgops commented on #1297
We're facing the same issue in an Active Directory environment. I did some testing with the latest external-dns:0.7.3-debian-10-r0 today and it still persists. For now we're forced to stick with 0.5.17 what causes some helm chart compatibility issues already. Your forced to use an old chart version too, since there were some new default parameters implemented which are not known by 0.5.17 containe

[2020-08-28 13:19] lcontini commented on #961
Works like a charm! thanks @GeertJohan

[2020-08-28 15:18] mrballcb commented on #1435
I wonder if that's because you're setting alias=true in the providerSpecific section.  Does it behave differently if you set the recordType to A instead of CNAME?  Does it behave differently if you don't set the alias=true setting?

[2020-08-28 16:10] gigi-at-zymergen commented on #1435
recordType = "A" failed validation with a string target. It expects an IP.

[2020-08-28 18:43] seanmalloy commented on #1297
@sgops and @sunnyops looks like this might be fixed by PR #1526

/reopen
/remove-lifecycle rotten
/kind bug

[2020-08-28 20:06] spikewang commented on #1651
@Benjile Thanks for the reply. Yes, I am aware of that option, but this one is actually a problem in the external-dns code.

[aws.go](https://github.com/kubernetes-sigs/external-dns/blob/master/provider/aws/aws.go) is a new region and not added into the list before...

Now, I could see the code has been updated.

[2020-08-28 20:06] #1651 closed

[2020-08-29 08:34] Raffo commented on #1754
@seanmalloy I don't have a strong preference on how it is done. The key metric that I have is "time to make a release". For a process that is as simple as ExternalDNS, it takes me 30 mins of active work plus wait for all the docker images to be built. I want to lower this time significantly such that when I have to make a release it will only take a few (single digit) minutes.
I'd be happy to revi

[2020-08-29 08:49] #1668 closed

[2020-08-29 08:51] #1606 closed

[2020-08-29 13:51] #1719 closed

[2020-08-29 13:57] Raffo commented on #1558
I have no concerns, feel free to create a PR for that. Depending on the amount of time and interest that you have, we can go as far as adding you to the approvers list, given that after #1761 we have only two approvers and that is not something good for the project.

[2020-08-31 03:45] seanmalloy commented on #1598
/remove-lifecycle stale

[2020-08-31 09:57] TheKangaroo commented on #1070
As @kam1kaze  already mentioned in https://github.com/kubernetes-sigs/external-dns/issues/1070#issuecomment-523645614, I think this is just an information, that external dns found this endpoint multiple times and removes the duplicates from it's update list (instead of having the same Record multiple times in it's list).
Does anyone see an issue with records not being deployed?
You can see in dry-

[2020-08-31 11:15] chriswilliams1977 commented on #1723
@seanmalloy thanks for the tip. I managed to resolve the issue and will ping the sig to update notes :-)

[2020-08-31 14:44] carpenike commented on #1718
I'm seeing the same thing. Have you fixed this?

DNS Provider is pdns.

[code]

It works if I add in the `external-dns.alpha.kubernetes.io/target: IP` annotation, but is not discovering by itself.

[code]

[2020-08-31 16:02] prudhvigodithi opened #1764 "External DNS not able to skip an endpoint if owner id does not match instead failing to submit all changes for a particular hosted zone."
**What happened**:
We have recently upgraded external DNS to v0.7.3 previously we used v0.5.11(teapot), we use AWS route53 for DNS, we have a scenario like we have to manage some record sets manually and some with external DNS, with  v0.5.11 if the recordset exists we used to get the log Skipping endpoint and other batch recordset used to get added but with v0.7.3 we get an error saying Failed to

[2020-09-01 07:05] Benjile commented on #1764
I think your issue is coming from the 0.5.7 release which introducs aws batch. All the api request are merge into on big batch api call (the batch size can be set via the cli). If one of the request is invalid the whole batch api call will fail but it is on AWS side.  while external dns uses batch it cannot handle such cases.

But in fact your problem is totally different.  This message
```time="2

[2020-09-01 07:07] Benjile commented on #1758
Can you post the full debug output of an external dns loop please?

[2020-09-01 09:49] #1755 closed

[2020-09-01 12:51] prudhvigodithi commented on #1764
Hey @Benjile thanks for that info, I guess if we have to use the latest version of external DNS we cannot disable the batch size option right?

[2020-09-01 18:56] gonzalobarbitta commented on #1758
Thanks @Benjile for the response. I was checking pod logs and there's nothing that strikes out. Is there any specific command you'd like me to run on this pod to get further information?

time="2020-09-01T18:26:08Z" level=info msg="All records are already up to date"
time="2020-09-01T18:27:08Z" level=info msg="Desired change: CREATE <domain> A [Id: /hostedzone/<zone_id>]"
time="2020-09-01T18:27:08

[2020-09-01 20:33] vinny-sabatini commented on #1754
I am hoping to work on this soon, but I don't know if I will have time until next week. I will make sure to comment here when I am ready to start working on it.

If no one picks this up before I have time to work on it, I was planning on implementing something as @seanmalloy mentioned because I am not currently a member of the kubernetes-sigs org and would not have access to add an app to this rep

[2020-09-01 21:56] seanmalloy commented on #1458
/remove-lifecycle stale

[2020-09-02 07:34] Raffo commented on #1754
Apps are tricky to add, following what @seanmalloy proposed sounds good to me.

[2020-09-02 08:15] Benjile commented on #1758
you must start external dns with the flag `--log-level=debug` to get the full log

[2020-09-02 11:52] AndrewDryga commented on #1616
/remove-lifecycle stale

[2020-09-02 13:44] gonzalobarbitta commented on #1758
Thanks @Benjile , please let me know if this works:

`time="2020-09-02T13:32:09Z" level=debug msg="Considering zone: /hostedzone/<zone_id> (domain: <domain>.)"
time="2020-09-02T13:32:09Z" level=debug msg="Adding <domain>. to zone <zone_name>. [Id: /hostedzone/<zone_id>]"
time="2020-09-02T13:32:09Z" level=debug msg="Skipping record {\n  Action: \"CREATE\",\n  ResourceRecordSet: {\n    Name: \"ext-d

[2020-09-02 13:46] gonzalobarbitta commented on #1758
Thanks @Benjile  , please let me know if this works:

time="2020-09-02T13:32:09Z" level=debug msg="Adding <domain>. to zone <zone_name>. [Id: /hostedzone/<zone_id>]"
time="2020-09-02T13:32:09Z" level=debug msg="Skipping record {\n  Action: \"CREATE\",\n  ResourceRecordSet: {\n    Name: \"ext-dns-xxx.yyy.com\",\n    ResourceRecords: [{\n        Value: \"\\\"heritage=external-dns,external-dns/owner=

[2020-09-02 14:10] seanmalloy opened #1770 "initial e2e test automation"
**What would you like to be added**:
I would like the external-dns project to have some very basic e2e tests run as part of the CI process, so that we can ensure high code quality and correctness. I am not asking for comprehensive e2e to be created for every source or provider. Let's just get the basics working.

This issue can be close when:
- [ ] e2e tests can be run as part of local development

[2020-09-02 15:06] seanmalloy commented on #1473
/remove-lifecycle stale

[2020-09-02 15:06] seanmalloy commented on #1770
Is related to 1473.

[2020-09-02 18:33] seanmalloy commented on #1742
/close

Fixed in #1744

[2020-09-02 18:34] #1742 closed

[2020-09-02 18:42] seanmalloy commented on #1617
@sslavic can you verify if this is still a problem on the latest external-dns replease(v0.7.3)? Thanks!

[2020-09-03 01:28] rocketraman commented on #883
I'm seeing this same issue with Azure with external dns 0.7.2.

It only happens if `txt-owner-id` is set -- if `txt-owner-id` is not set, then there is no issue -- the record is not deleted and recreated.

[2020-09-03 01:36] rocketraman opened #1771 "ExternalDNS with Azure constantly deleting and then creating records Azure -- Round 2."
Same exact issue as https://github.com/kubernetes-sigs/external-dns/issues/883, except with version 0.7.2.

I note that the problem only occurs if `txt-owner-id` is set. When it is the default value (which is "default"), there is no issue -- the records are not deleted and recreated.

On each run, it adds the records if they do not exist, and deletes them (with no debug level logging indicating th

[2020-09-03 01:36] rocketraman commented on #883
Since this issue is ancient, I created new issue #1771 .

[2020-09-03 01:49] rocketraman commented on #1771
It also seems to be related to the content of the `txt-owner-id` value in some way: with value `external-dns-prod-us` it has the behavior described. However, with either no `txt-owner-id` or the value set to simply `produs`, the issue does not occur.

[2020-09-03 02:29] rocketraman commented on #1771
More investigation into various txt-owner-id values, and all I can say is, WTF:

`abcdefghijklmnopqrst` -- ok
`external-dns-nopqrst` -- ok
`external-dns-prod-us` -- triggers bug!
`external-dns-zzzz-zz` -- ok

I have tried each of these multiple times, and out of the entries above, only `external-dns-prod-us` seems to trigger the issue, though it doesn't do it *every* other run like I initially tho

[2020-09-03 02:47] rocketraman commented on #1771
So embarassing -- another cluster had the wrong txt-owner-id value, and was deleting the records created by this cluster. All makes sense now, sorry for the noise.

[2020-09-03 02:47] #1771 closed

[2020-09-03 08:00] javsalgar opened #1772 "FIPS-140 support"
Looking at ExternalDNS, I see there are SSL options to be configured. Would it be possible to configure it so it only uses FIPS-allowed cryptography? https://docs.pulsesecure.net/WebHelp/PCS/9.1R4/AG/Content/PCS/PCS_AdminGuide/Supported_Cipher_Suites_When_2.htm

I see there is an allowed_cyphers section but I would like to confirm that configuring this section would be enough.

[2020-09-03 16:00] seanmalloy commented on #1772
Exactly which SSL options are you referring to?

[2020-09-03 19:32] prudhvigodithi commented on #1764
Hey for this scenario used --annotation-filter as shown in this issue https://github.com/kubernetes-sigs/external-dns/issues/819, used 'notin' expression and passed a custom annotation to required ingress that needs to be excluded so that way external dns now excludes that particular ingress endpoints to be added as batch updates to route53.

[2020-09-03 19:34] #1764 closed

[2020-09-04 14:15] gyalowitzdtlr opened #1775 "Unable to create Cloudflare CNAME with annotations"
**What happened**:
ExternalDNS annotations to create CNAME records in cloudflare appear to not be read.  Only A records are every created.  It looks like the target annotation does not get read.

**What you expected to happen**:
Using the following annotations on a service should create just a proxied CNAME record pointing to the target A record.

external-dns.alpha.kubernetes.io/hostname:
externa

[2020-09-06 12:53] Raffo commented on #1770
I have a working version of e2e tests that I use to test before cutting a new release. The problem is that it's currently extremely basic and based on an unreleased tool of my own (😅 ), so I will likely have to rewrite it in another language to add it to this repo (my guess is that bash is enough).

I don't think this is a reasonable requirement as people will have to have access to a provider at

[2020-09-06 19:22] moolen commented on #1473
@Raffo Would it be an option to use [localstack](https://github.com/localstack/localstack) for e2e tests? What do you think? Sure, it's not the "real AWS", but its close enough (an API) and it can be run locally.

[2020-09-07 12:41] Sam123ben opened #1776 "External DNS auto recreating the A recordsets in cloudflare every 1 min automatically"
**What happened**: I have configured the external dns as per the doc, but then I observed it keep recreating the recordsets automatically every one min, where as it should only update when a change in the ingress. this is causing a load of downtime and so have disabled it and adding it manually for now.

**What you expected to happen**: It should update only once and keep updating if any new chang

[2020-09-07 13:22] Raffo commented on #1473
@moolen not really needed as we have an AWS account with some credits to run the tests, what we don't have is a domain to test, but I believe we could use a private hosted zone and it should probably be enough.

[2020-09-07 13:27] #1366 closed

[2020-09-08 06:54] kartik-moolya commented on #1708
Does `external-dns` now allow creating route53 records for private Hosted zone ?

[2020-09-08 09:43] Delorien84 commented on #1557
I have very similar problem in v0.7.3. DNS records continuously upsert for `LoadBalancer` service. Eg.:

[code]

This create ALIAS record for created load balancer. But the record is keeping to UPSERT.

[2020-09-08 11:48] jahpola-futurice commented on #1420
Still a bug, I tested with 0.7.3.

`time="2020-09-08T11:37:48Z" level=error msg="InvalidChangeBatch: [A non-alias primary ResourceRecordSet must have an associated health check. No changes made., A non-alias primary ResourceRecordSet must have an associated health check. No changes made., A non-alias primary ResourceRecordSet must have an associated health check. No changes made., A non-alias prim

[2020-09-09 04:16] seanmalloy commented on #1520
/remove-lifecycle stale

[2020-09-09 04:20] seanmalloy commented on #1621
Looks like this is still not fixed.

/remove-lifecycle stale

[2020-09-09 08:17] timja commented on #1754
This is really good: https://github.com/release-drafter/release-drafter
and doesn't require an app just a GitHub action

[2020-09-09 19:30] yves-vogl commented on #1608
To me it looks like the author of this issue did set up the trust relationship incorrectly.
When using OIDC with an annotated service account (which linkes to an IAM role) a pod runs under a temporarly session which impersonates the role as its identity. Therefore this particular role should be trusted.

I'm doing this kind of cross account with ALB and the included External-DNS (not the separate

[2020-09-09 19:34] yves-vogl commented on #1608
What @linki says. That's how I do this (and did yesterday the last time) and how it's supposed to work.

[2020-09-11 12:54] davidkarlsen commented on #1602
I saw a similar case with v0.7.2, on purpose I changed the TXT record to a non-matching value, so that ext-dns should leave the record alone, but still it deleted it when the ingress resource was deleted.

[2020-09-11 12:59] afirth commented on #1293
Hitting it for cloudflare too with a few hundred records. Would be really nice to be able to throttle or exponentially backoff

[2020-09-11 15:20] aivarssilins commented on #1708
@kartik-moolya I believe it allowed since long ago. We have 5.18 installed and before that 5.2, if not mistaken, and it does create records for private hosted zone.

[2020-09-11 15:29] aivarssilins opened #1779 "--aws-zone-type=private but created LB uses Public subnet"
Hi,

I have following config:
[code]
Which clearly says --aws-zone-type=private  and also domain name is Route53 Private Hosted zone.

Service has annotation:
`service.beta.kubernetes.io/aws-load-balancer-internal: 10.0.0.0/8`

In one of the clusters having issue. It creates Classic Load Balancer with Scheme=Internal. So far so good. However have issue with Subnets attached - 2 are Private and 3rd

[2020-09-11 16:14] #1779 closed

[2020-09-11 16:15] aivarssilins commented on #1779
Found cause, wrong tag on the subnet. For unknown reason it had  kubernetes.io/role/internal-elb: 1

[2020-09-11 21:08] Sam123ben commented on #1776
@greut @weppos any update on the above issue?

[2020-09-12 16:27] krangerich opened #1780 "Add documentation for command line arguments"
There should be a reference documentation for the command line arguments.

I found some examples for various use cases, but I want to understand all options and their differences. For example, there is just "--policy=upsert-only" mentioned, but I want to know, what the other options are. They seem to be undocumented.

[2020-09-12 21:15] davidkarlsen commented on #1602
/remove-lifecycle stale

[2020-09-13 07:37] 21h commented on #1630
toxic-positive people ruins world. what about do nothing? this is a just stable technical terminology and not enslaves any people and even not about people.

[2020-09-13 14:22] dondreytaylor opened #1781 "Where to provide AWS KEY ID and ACCESS KEY?"
It's unclear where to provide the AWS key ID and access key after creating it for external-dns. The documentation only shows you how to specify the IAM role name and account number within the external-dns deployment, but doesn't show where to specify the credentials.

Here is the documentation I'm following to setup Route 53 access for external dns.
https://github.com/kubernetes-sigs/external-dns/

[2020-09-14 06:23] kartik-moolya commented on #1708
I still have a question with this behaviour when we use external-dns for `--policy=sync`.
It seems to delete the route53 entries which do no exist in the cluster ingress. Correct me if I'm wrong. I expected it to only add or delete those entries which exist in the cluster so that my other entries in the route53 hosted zone dont get impacted.

[2020-09-14 07:21] jgrumboe commented on #1758
Hi @gonzalobarbitta
I'm not an AWS user but did you follow the tutorial for the setup of the hosted zone? https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md#set-up-a-hosted-zone
There the my-hostedzone-identifier is mentioned, which is reused in the deployment for the value of txt-owner-id.
I don't know if txt-owner-id really needs to be set to the hostedzone-identif

[2020-09-14 09:11] RaptorLjung opened #1782 "privateDNS does not parse credentials from AzureConfigFile"
**What happened**:
Running with argument `--provider=azure-private-dns` should pick up credentials in _**/etc/kubernetes/azure.json**_ and use these to authenticate against azure. However, the result is just a long line of logs that look like this:

External-dns is obviously not able to authenticate against the private-dns zone in azure.

**What you expected to happen**:
That the private-dns provi

[2020-09-14 17:12] mleklund commented on #1781
I am not 100% sure about AWS_ACCESS_KEY_ID, and AWS_SECRET_ACCESS_KEY but I know that AWS_SHARED_CREDENTIALS_FILE works where you can feed it the path to a creds file in normal ini format:

[code]

I suspect you could also feed it and AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY as ENV variables and it would work.  This is not well documented and _I THINK_ is based upon those ENVs being used by the

[2020-09-14 18:45] seanmalloy commented on #1780
Here was my attempt to add a CLI option reference: https://github.com/kubernetes-sigs/external-dns/pull/1746

/kind documentation
/remove-kind feature

[2020-09-14 18:47] seanmalloy commented on #1602
@davidkarlsen and @jrubenc do you want this issue reopened?

[2020-09-14 18:54] seanmalloy commented on #1630
The larger k8s community is working through changes to naming. This work is being lead by k8s Working Group Naming. See https://github.com/kubernetes/community/blob/master/wg-naming/README.md. Once k8s Working Group Naming has some finalized recommendations then the k8s external-dns project can move forward with additional naming changes.

[2020-09-14 18:54] seanmalloy commented on #1594
/remove-lifecycle stale

[2020-09-14 18:59] seanmalloy commented on #1781
/triage support

[2020-09-14 19:00] seanmalloy commented on #1781
/kind documentation

[2020-09-14 19:43] Raffo commented on #1630
@seanmalloy I am aware and following the work and I was part of the conversation before that was even a proposal. We made part of the changes already in the repo and we are going to keep following the guideline of trying to avoid terminology that can be non inclusive. Renaming the branch or other more complicated things will instead be decided based on official community recommendations, to make s

[2020-09-14 19:53] seanmalloy commented on #1630
Thanks for the info, and thanks for helping with this effort.

[2020-09-14 20:23] jessebye opened #1783 "Cloudflare wildcard entry updates every minute"
**What happened**:

External-dns is updating a Cloudflare wildcard DNS entry every minute:
[code]

**What you expected to happen**:

The entry should be created once and not updated unless it actually changes.

**How to reproduce it (as minimally and precisely as possible)**:

1. Use the Cloudflare provider per instructions.
2. Add resources that will create a wildcard record.
3. Observe the updat

[2020-09-14 20:50] davidkarlsen commented on #1602
AFAIK a prefix match is used to test ownership, hence my hack was not valid. I got this response in Slack: https://kubernetes.slack.com/archives/C771MKDKQ/p1599829905108900

[2020-09-15 04:04] seanmalloy commented on #1783
This pull request might be related: https://github.com/kubernetes-sigs/external-dns/pull/1695

[2020-09-15 08:43] RaptorLjung commented on #1782
A workaround for this problem:

Set the credentials in _**/etc/kubernetes/azure.json**_
as the following environment variables:
* **AZURE_SUBSCRIPTION_ID**
* **AZURE_CLIENT_ID**
* **AZURE_CLIENT_SECRET**
* **AZURE_TENANT_ID**
_O.B.S these environment variables are not directly used by external-dns, but by https://github.com/Azure/azure-sdk-for-go which external-dns uses._

Also to actually get it

[2020-09-15 08:45] RaptorLjung commented on #1782
There is another issue touching on this very same problem of unifying the configuration for azure.
Here: #1512

[2020-09-15 12:02] SkySonR commented on #1579
@all How it works? How to specificity correct istio ingress gateway? I have multiple gateways. By default externalDNS created multiples IPs in A records.

[2020-09-15 12:04] SkySonR commented on #1579
https://github.com/kubernetes-sigs/external-dns/pull/1328
This approved and  merged. By there are no changes in any release tag

[2020-09-15 12:13] weppos commented on #1776
@Sam123ben I'm sorry, but I'm not involved in the Cloudflare provider.

[2020-09-15 15:25] seanmalloy commented on #1502
Can someone verify that this is still an issue with the latest release(currently 0.7.3)?

[2020-09-15 16:51] dondreytaylor commented on #1781
Thanks @mleklund, appreciate the help! Just tried setting  _AWS_ACCESS_KEY_ID_ and _AWS_SECRET_ACCESS_KEY_ as ENV variables on the ec2 worker node that external-dns was deployed to and it worked perfectly. Supplying the variables within a file referenced by the environment variable AWS_SHARED_CREDENTIALS_FILE also worked.

[2020-09-15 16:56] jessebye commented on #1783
@seanmalloy yes it does! I'll keep an eye on that PR and see if this issue is fixed once it's merged.

[2020-09-15 16:58] mleklund commented on #1781
Probably would be worthwhile to add documentation for this.  I may add a pull request if time permits.

[2020-09-15 19:33] krangerich commented on #1780
No documentation because it could go out of date? Nothing is more out of date than no documentation at all.

If someone forgets a switch, nobody gets hurt. But without a simple overview it's harder to use the software.

[2020-09-15 19:44] seanmalloy commented on #1780
Yes, I agree.

[2020-09-15 20:32] Arsen-Uulu commented on #1708
any updates on this issue? having same problem.

[2020-09-15 22:52] excavador commented on #1443
Any updates?

[2020-09-16 02:05] seanmalloy commented on #1443
@excavador I'm not aware of any updates. I think we need a volunteer that would be willing to put in the effort to make this a reality.

I'm willing to help provide guidance and answer any question.

[2020-09-16 06:34] odg0318 opened #1784 "Too slow to sync with 400k records in route 53"
Hi, there.
I am testing external dns with Route53 of AWS provider.
I have two environment; production, dev. And then I checked external dns in dev worked fine but didn't in production.
As I see log messages, I found too much time is required to sync every time. It's totally different value compared to dev environment.
[code]

I guess that the reason is that the number of records in production is r

[2020-09-16 08:38] Benjile commented on #1784
Can you paste here your external-dns configuration?

It could be interesting for you to see the debug level output. You will get there  every object parsing phases. It will be huge, but you will have every timestamp necessary to understand the problem.

[2020-09-16 09:10] bugok opened #1785 "CNAMES didn't update with new ingress controller load balancer"
**What happened**: When running external-dns on an EKS cluster, I had to update my ingress controller (nginx). Because of that, a new load balancer was created. I noticed that the CNAME entries maintained by external-dns weren't updated to the new load balancer.

**What you expected to happen**: I'd expect that the CNAME entries would be updated with the new load balancer.

**How to reproduce it (

[2020-09-16 09:53] bugok commented on #1785
Hmmm... I just waited a bit more and I saw that CNAMEs did get updated...
I think I just needed to wait a little bit longer.

I wonder if anyone can comment about if this use case is indeed supposed to work or not.

[2020-09-16 11:38] LaysDragon commented on #1220
As I see it,this is a big mistake to add a default behavior that use a place not designed to serve dns records. It just such a abuse way to use some field to avoid add annotation, and causing a lot of problem after all.
We should more careful the cost of such convenient functions.
And now it is too late and impossiable to remove this function, since it will break other deployment. I am looking for

[2020-09-16 12:07] Benjile commented on #1220
yes i totally agree with you.

This also why i wrote the default values to not break existing deployment, even if they use an ingress's field abusively.

[2020-09-16 13:50] bugok commented on #1785
Checked again. It worked. I just needed to wait a little bit more.

[2020-09-16 13:50] #1785 closed

[2020-09-16 14:01] seanmalloy commented on #1781
This should be documented somewhere for end users.

/reopen
/remove-triage support
/help

[2020-09-16 18:47] gonzalobarbitta commented on #1758
I did not realize I had a txt-prefix and therefore, no txt record was being created in hosted zone.

[2020-09-16 18:47] #1758 closed

[2020-09-16 20:48] gonzalobarbitta commented on #1420
Has anyone found a workaround for this?

The only one I've found was to prevent the txt record from being created entirely. However, if the txt record is not created, then external-dns fails to update/delete the record when the service is updated/deleted.
I am using terraform, so I end up removing the entire hosted zone.

Any other solutions you guys have found? Thanks

[2020-09-16 20:58] ameir commented on #1420
In my own case, I didn't want to keep using a fork (#1423), so I had external-dns create regional records (e.g. service-{us-east-1,us-west-2}.domain.tld), and I created an additional set of failover records which aliased those. So far, so good, although not having to manage that top-level entry out-of-band would be nice.

[2020-09-17 05:59] odg0318 commented on #1784
### Deployment
[code]

How can I set the debug level?

[2020-09-17 13:40] seanmalloy commented on #1784
Add the `--log-level=debug` CLI option.

[2020-09-17 14:10] gonzalobarbitta commented on #1420
Thanks @ameir for the response. Would you be so kind to share a little more information on your approach?

If I understand correctly, you were looking to use a failover routing policy, in other words, have primary and secondary alias records.
Were these the ones you created through external-dns?

[2020-09-17 16:33] ameir commented on #1420
@gonzalobarbitta sure; due to this bug, I wasn't able to have external-dns create the failover records directly. Instead, it creates standard A (as alias) records for each service, but with the region in the hostname. Then, on top of that, I have failover records that I manage separately that point to these regional records. external-dns is not in this flow. I still get the benefits of failover he

[2020-09-17 18:42] gonzalobarbitta commented on #1420
Thanks @ameir for the prompt response. This is great information. I think I got it now.
If I understand correctly, you have the following two records:

- hostname.mysite.com | PRIMARY | us-east-1
- hostname.mysite.com | SECONDARY | us-west-2

These are not being created using external-dns and instead of routing traffic to the load balancers, they are alias to other records in the same hosted zone.

[2020-09-17 19:14] jlamillan opened #1787 "Remove the use of dynectsoap library from dyn provider since it is not licensed or actively being maintained"
**What would you like to be added**:

Remove the use of the [dynectsoap](https://github.com/sanyu/dynectsoap) library from the `dyn` provider since it is not licensed or actively being maintained.

**Background**:

The `dyn` provider [was updated](https://github.com/kubernetes-sigs/external-dns/commit/7b3c5dd8ad63a4ae19df20008fbb7fc88c1dc674) a while back to reduce the amount of SOAP exchange boil

[2020-09-18 00:21] odg0318 commented on #1784
I executed external-dns with `log-level=debug` but I couldn't find something particular.

1. The external-dns was executed at 07:18.
[code]
2. After around 34~35 minutes, the output was shown like below.
[code]

As I said, I believe that too many records could affects the performance of the external-dns.
Please let me know if the performance is improved.

[2020-09-18 07:40] Benjile commented on #1784
aws api calls are done with batch because the route53 api applies a 5 api call per second per region quota.
Because you have not set those options, default values applies to you. You could try to increase them:

```  --aws-batch-change-size=1000```

[2020-09-18 07:52] Benjile commented on #1784
in your debug level output you should see logs like this `DEBU[0006] Endpoints generated from ingress:`
If external dns is really slow eating 400000 endpoints you will see it by comparing the first and last timestamp of theses logs messages

[2020-09-18 07:53] odg0318 commented on #1784
I don't fully understand this meaning, `route53 api applies a 5 api call per second per region quota`. What change can I expect using `--aws-batch-change-size=1000` option?

[2020-09-18 07:59] Benjile commented on #1784
if external dns needs to edit 10000 records, it will do it with ten api calls, with default values

But rereading myself i wonder if this setting is really relevant in front of your issue

Maybe should you consider digging the debug log output by comparing timestamps there like i proposed you above

[2020-09-18 08:20] odg0318 commented on #1784
I appreciated of your kind answers. Because of huge amount of logs, I couldn't check the full logs.
I recreated the external dns Pod just now and the log is like below.
[code]

In my experience, next log will be shown after 35 minutes (in normal, the interval is 1m). I executed the external-dns with `aws-batch-change-size` option. I will visit again when the log is shown.

[2020-09-18 08:55] odg0318 commented on #1784
I checked the log was shown next 39 min later. The option didn't make any effect in my case.
[code]

[2020-09-18 09:01] Benjile commented on #1784
So there is a gap of 30min between:
[code]
and the next log:
[code]
if i understand correctly it spent 30min talking to aws to check the records aws already holds. I must reread the code

[2020-09-18 09:13] odg0318 commented on #1784
I totally agree with you. Thanks!

[2020-09-18 13:33] seanmalloy commented on #1787
/remove-kind feature
/kind cleanup

[2020-09-18 15:35] Arsen-Uulu opened #1788 "share same Route53 Hosted Zone in different regions with External-dns"
Hi, I have successfully deployed external-dns to EKS Cluster on AWS  in us-east-1 region and it works just fine.

Deployed external-dns to the same account but to us-west-2 region  on EKS Cluster on AWS as you Route53 is global Service,
I provided same `--domain-filter` and `--txt-owner-id` as I did for us-east-1 region and external-dns is not creating records sets.
I checked pod logs and see that

[2020-09-21 05:39] yardensachs commented on #854
This almost happened, what is this missing to go into the controller?

[2020-09-21 09:49] sbellan commented on #1257
In Traefik 2.2, the following works,
providers.kubernetesIngress.ingressEndpoint.publishedService=<namespace>/<traefik_service>
When this option is added to traefik ingress controller, the field "status.loadBalancer.ingress" is populated correctly, making external-dns to use the appropriate EXTERNAL-IP in the DNS.

[2020-09-21 10:17] dirien commented on #1257
@sbellan : Cool, i have to test this..

[2020-09-21 10:26] sbellan commented on #1257
Btw, I'm using the Kubernetes ingress provider and not the K8s CRD provider
with Traefik version 2.2.

On Mon, Sep 21, 2020, 3:17 AM dirien <notifications@github.com> wrote:

[2020-09-21 10:39] previsenathan opened #1789 "Option to skip host rules"
Currently I've got an ALB Ingress Controller setup. My config looks something like:

[code]

The issue I'm having is that the second rule `foo` which references the `foo` pod which isn't always deployed, therefor `bob.example.org` will never be created even if `bob` is deployed.

Can I fix this issue without changing the order?

[2020-09-21 11:02] previsenathan commented on #1789
Closing ticket, my solution was https://kubernetes-sigs.github.io/aws-alb-ingress-controller/guide/ingress/pod-conditions/

[2020-09-21 11:02] #1789 closed

[2020-09-21 18:37] seanmalloy commented on #1517
Can someone confirm this is still an issue with the latest release(v0.7.3)?

[2020-09-21 18:37] seanmalloy commented on #1552
/remove-lifecycle stale

[2020-09-21 18:42] seanmalloy commented on #1639
what does it means ? what is the correct namespace ? (i have these namespaces: default, kube-system, staging, dev, production)  i am new kubernetes user and i am is not a kubernetes plugin/module developer, i not very experienced with kubernetes, please provide here additional information.

@errogaht this means that the manifests need to be applied using the `kubectl -n flag`. For example:
[code]

[2020-09-21 18:42] #1639 closed

[2020-09-21 19:02] seanmalloy commented on #854
We need someone to help review pull request https://github.com/kubernetes-sigs/external-dns/pull/1538

[2020-09-21 19:52] andy-v-h commented on #1776
@Sam123ben  Do you have logs? I'm seeing similar behavior in NS1

[2020-09-22 03:07] Sam123ben commented on #1776
Hi @andy-v-h  What I found was that if I use the zone dns to the root say for example my whole url is **_uat.x.lalaland.com_** then in the **--domain-filter=** should not be having _**lalaland.com**_ but that was what I was expecting because my expectation was to have it like that and then create on top of it but what I found that due to it, the reoccurrence happened and the old one keep deleting.

[2020-09-22 07:50] evgenyvaganov commented on #961
@GeertJohan awesome man! Thank you!

[2020-09-22 18:42] 21h commented on #1630
This is only recommendations, not rules. You want to exclude from community rude and traditional engineers. Its not inclusive.

[2020-09-22 20:15] jxy859 commented on #1053
+1

[2020-09-22 20:18] cphl commented on #1630
Hi, we're working on changing our naming within the docs at my organization. Some of our documentation refers to Kubernetes and while we're changing our docs, we still want it to be easily searchable in the source Kubernetes docs. Is there a plan to change the naming of master node? (I see the google doc, I can't log in because I'm at work.) I saw that there was some progress here to perhaps use "

[2020-09-23 10:48] Raffo commented on #1630
@cphl I can't give answers on behalf of the whole community, but there is a new working group dedicated to naming: https://github.com/kubernetes/community/tree/master/wg-naming  . I would encourage you to reach out to them either via email, slack or by attending one of their meetings if you can, I'm sure they can give better guidance.

[2020-09-23 13:17] simox-83 opened #1790 "External DNS not working in AWS China region - InvalidClientTokenId"
**What happened**:
Once deployed External DNS 0.7.3  in cn-north-1 region, in a K8s cluster version 1.14.6 (Kubeadm based) I get the following messages in the logs:
InvalidClientTokenId: The security token included in the request is invalid\n\tstatus code: 403, request id: 86ac188c-e5a4-495c-9ac8-d3d6d6ba1fc4

**What you expected to happen**:
I expect External DNS able to talk with Route53

**How

[2020-09-23 15:19] Banchio opened #1791 "ExternalDNS not updating Azure Private DNS zone in Azure China"
**What happened**:
Configured externalDNS to update a Private DNS Zone in Azure China. Same configuration works in North Europe deployments.

**What you expected to happen**:
When creating a service, I expect a new A record to be created in the Private DNS Zone

**How to reproduce it (as minimally and precisely as possible)**:
Configure externalDns to update a Private DNS Zone in azure China

**An

[2020-09-23 16:11] cphl commented on #1630
Thanks @Raffo that's helpful! I eventually found the wg-naming slack channel (linked within the resource your provided) and the project board (linked from the slack channel's topic). Looks like we're on the way to renaming master (node) to something along the lines of "control plane". I've passed this on to my org. Thank you for your help!

[2020-09-23 23:48] savitha-ping commented on #1441
Is this being considered? It is very useful to have in multi-region deployments (i.e. multiple Kubernetes clusters) when using service discovery protocols such as JGroups DNS_PING. Would appreciate adding this feature! :)

[2020-09-24 08:12] #1220 closed

[2020-09-24 08:28] #1450 closed

[2020-09-24 08:48] Benjile commented on #1220
great
In a few days i will start a PR on the helm chart to implement this flag

[2020-09-24 09:45] Benjile commented on #1788
Changing region has no effect here. I am a route53 user
I think you should do a full test involving an ingress creation/deletion with the first region, then ingress creation/deletion with the second region, and then provide us the full log at debug level

[2020-09-25 05:36] JESWINKNINAN opened #1792 "External-dns functioning with the ingressClassName field in the new ingress(Nginx Controller) resource"
External-dns functioning with the ingressClassName field in the new ingress(Nginx Controller) resource

**What would you like to be added**:

From the types: https://github.com/kubernetes-sigs/external-dns/blob/master/pkg/apis/externaldns/types.go, I can see the flags related to filter the processing sources are annotation-filter, label-filter. So I am looking here to find how the external-dns fun

[2020-09-25 06:19] JESWINKNINAN commented on #1792
Ref: https://github.com/kubernetes-sigs/external-dns/blob/master/source/ingress.go

[2020-09-25 08:10] Banchio commented on #1791
Looking at the code it seems that the Azure DNS provider (not the private one) takes as an input a config file which can define a Cloud property with the EnvironmentName. Maybe a new setting can be added to Azure Private DNS with this name?

[2020-09-25 08:18] Banchio commented on #1782
Not all the options provided by the file are present in the env vars in the private dns provider. If switching to a common configuration model all the options must be present, IMHO. Please see also #1791

[2020-09-25 12:48] hiraken-w commented on #1698
Hi Benjile,

Thank you, it was as you pointed out.
My problem was solved by specifying different name for txt-owner-id for each cluster.

This is not issue.
I close this.

[2020-09-25 12:48] #1698 closed

[2020-09-25 14:42] simox-83 commented on #1790
So I assumed the same role from a Kubernetes worker and I can get the zone and create an A record in Route53 using the Aws CLI. I think the problem might be in the AWS SDK at this point. Is there something I can do to debug further? Increasing logging to debug doesn't help much.
Can anyone help here please?

Thank you

[2020-09-25 21:15] costela commented on #1660
Doesn't `--zone-id-filter` solve this issue?

[2020-09-26 13:45] Raffo commented on #1443
I've assigned this to me and will tackle this during the month of October. Probably the first stable ARM releases will be out for ExternalDNS v0.7.5.

[2020-09-27 02:26] seanmalloy commented on #219
/remove-lifecycle stale

[2020-09-28 18:43] seanmalloy commented on #1609
Can someone verify this is still broken on v0.7.3?

[2020-09-29 01:19] ghostsquad commented on #1656
Not stale

[2020-09-29 03:38] seanmalloy commented on #1656
/remove-lifecycle stale

[2020-09-29 15:36] apazvantov-td commented on #1502
Same behaviour as reported when using `us.gcr.io/k8s-artifacts-prod/external-dns/external-dns:v0.7.3`

[code]

[2020-09-29 15:46] seanmalloy commented on #1502
/remove-lifecycle stale

[2020-09-29 21:40] RichiCoder1 opened #1795 "AWS IRSA Token Expires"
**What happened**:

After an external-dns pod has been running for a long while, it will random starting reporting that it can't assume the SA's assigned role and quietly start failing.

**What you expected to happen**:

External DNS should keep working effectively indefinitely.

**How to reproduce it (as minimally and precisely as possible)**:

I don't have a concise reproduction as this is a fac

[2020-09-30 06:50] mapdegree opened #1796 "Could we please follow semver of tagging of Docker images please?"
**What happened**:
Expected the tag for the docker image to be 0.7.3 but it was prefixed with a 'v' character which has low/no value in the tagging (v0.7.3). Could you please remove the constant 'v'?

There are so many open source projects following and aligning on release tags on using semver, could you align as well? It helps us on external organisations to follow the same naming.

**What you ex

[2020-09-30 06:57] fatahnuram commented on #1707
what do you mean by only support `Service` resources? I believe it was in the v0.7.3 changelog to add `VirtualService` as source right?
Is it an edge case that happens when we use `external-dns` alongside with `alb-ingress-controller`?

[2020-09-30 07:07] bugok commented on #1684
@SrinivReddy : I've also just encountered this. How did you resolve this?

I think it's a matter of the `eks.amazonaws.com/role-arn` annotation not getting picked up (for some reason) and then the pod isn't getting the service role.

[2020-09-30 07:49] mel1nn commented on #1658
/remove-lifecycle stale

[2020-09-30 11:24] bugok commented on #1684
Eventually, for me, this was because the `pod-identity-webhook` wasn't running. This caused the external dns pod not to have the `AWS_ROLE_ARN` and `AWS_WEB_IDENTITY_TOKEN_FILE` environment variables not to be defined in the pod's environment.

After applying [this yaml](https://github.com/aws/amazon-eks-pod-identity-webhook/blob/master/deploy/mutatingwebhook.yaml) (taking the `CA_BUNDLE` value fr

[2020-09-30 13:02] seanmalloy commented on #1659
/remove-lifecycle stale

[2020-09-30 13:22] red8888 opened #1797 "Official helm chart?"
Just curious if this is on the roadmap it would be REALLY nice to have a helm chart I can use instead of a full manifest or my own chart I have to maintain. Also could make this even easier to demo/poc.

Thanks!

[2020-09-30 13:26] red8888 opened #1798 "Is the external-dns application factored to accept all parameters as environment variables?"
Had trouble finding this info in the docs

I want to wrap this in a helm chart. It would be easier for me to parameterize my charts if I could inject env vars for config instead of passing the app args like this:

[code]

Just wondering if it supports env vars for its config- sorry if that is already explained in the docs somewhere!

[2020-09-30 17:36] tariq1890 commented on #1707
The Targets for the DNS records are only taken from Services.

[2020-10-01 00:52] james-callahan opened #1799 "Kustomization not updated with 0.7.4 release"
https://github.com/kubernetes-sigs/external-dns/releases/tag/v0.7.4

It appears that #1709 happened again: the release was not done according to documentation (as changed in #1736).

[2020-10-01 03:56] Blanko2 commented on #1517
/remove-lifecycle stale
this seems to still be pending - at least this is what the changelogs show

[2020-10-01 19:03] jgrumboe commented on #1798
Hi,
Yes this should be possible because it uses kingpin as argument parser lib
https://github.com/kubernetes-sigs/external-dns/blob/79ea64884bbfc89f9c1f444c9dddd5ce361f31ad/pkg/apis/externaldns/types.go#L290

So you should be fine by using env vars prefixed with EXTERNAL_DNS_ and all hyphens converted to underscore.
Regards,
Johannes

[2020-10-01 19:38] jgrumboe commented on #1772
External-DNS does only SSL requests, so it isn't more than a client.
It is the SSL server which needs the correct FIPS-140 settings to be configured, right?
The client will follow the given ciphers from the server.
In my opinion external-dns can't do much about it.

[2020-10-01 19:46] danieljkemp commented on #1609
Looks broken on `0.7.4`.
[code]

The service is type `LoadBalancer` on a physical cluster (MetalLB), with CoreDNS as the provider.

[2020-10-01 20:28] Raffo commented on #1799
I create a PR to fix this and will address with the automation of releases.

[2020-10-01 20:30] Raffo commented on #1797
Hi @red8888 , we do not intend to maintain an helm chart. The community maintained one is available at https://github.com/helm/charts/tree/master/stable/external-dns , otherwise feel free to use the kustomize based manifests.

[2020-10-01 20:30] #1797 closed

[2020-10-01 20:33] Raffo commented on #1796
We are aligned with what the kubernetes community uses, for example see https://github.com/kubernetes/kubernetes/releases/tag/v1.18.9. Closing.

[2020-10-01 20:33] #1796 closed

[2020-10-01 21:39] #1799 closed

[2020-10-01 21:53] surj-bains commented on #1257
@sbellan  do you have a gist or yaml you could share for both the external-dns config/helm values and the same for traefik?

[2020-10-01 22:12] sbellan commented on #1257
External DNS

[code]

Traefik RBAC
[code]

Traefik core
[code]

Sample Ingress

[code]

Certificate

[code]

[2020-10-01 23:10] jpugliesi commented on #1718
We are also seeing this exact issue. DNS provider is AWS Route53. We're expecting a record to be created for the following virtual service, but no dice.
[code]

[code]

[2020-10-02 04:32] adrienjt commented on #1455
This could be done with generated informers, but [code-generator](https://github.com/kubernetes/code-generator) assumes that the  structs to generate clients/informers/listers/etc. for are defined under a group/version package hierarchy. Could the DNSEndpoint struct move from the endpoint package to pkg/apis/externaldns/v1alpha1?

This could also be done with controller-runtime, which doesn't requ

[2020-10-02 05:10] seanmalloy commented on #1544
Sounds like it is working.

/close

[2020-10-02 05:10] #1544 closed

[2020-10-02 05:14] seanmalloy commented on #1798
I'm not seeing this in the documentation anywhere, but maybe I missed it. It would be nice have this detail in the official documentation somewhere.

/kind documentation
/remove-kind support

[2020-10-02 05:45] seanmalloy commented on #1609
/remove-lifecycle stale

[2020-10-02 07:14] JoaoBraveCoding commented on #1455
Yes, I agree with you! At the time when I started to implement this I was following the approach of moving the endpoint package to `pkg/apis/externaldns/v1alpha1` but due to work I had to stop working on this. I've also used the controller-runtime approach on another project and if I'm not mistaken Openshift also uses that approach in one of their operators.

[2020-10-02 14:13] Raffo commented on #1733
Just a quick update on this one: I'm gonna think for a bit of how to solve the problem of tutorials in the context of the automation of the release process that I will tackle next week.

[2020-10-02 15:42] jgrumboe commented on #1798
@seanmalloy
There's a little abstract in the FAQ.
https://github.com/kubernetes-sigs/external-dns/blob/master/docs/faq.md#how-do-i-configure-multiple-sources-via-environment-variables-also-applies-to-domain-filters

[2020-10-02 16:43] seanmalloy commented on #1798
@jgrumboe nice find. I agree we should add some additional details to the documentation.

[2020-10-05 07:54] elkbullwinkle commented on #1795
I'm having a similar issue which I assume (might be not) related to some expiring credentials, after external-dns pod has been running for a couple of days it stops picking up changes, I don't get anything in the logs, except "All records are already up to date", however if I restart the pod by scaling the deployment down and up again it picks up the changes that it missed and creates the required

[2020-10-05 08:28] voidengineer commented on #1257
@sbellan Your solution is about Kubernetes ingress, not about Traefik IngressRoute (as stated in the title).

[2020-10-05 13:14] anto-n opened #1807 "Failed to delete A record with Alias target from Route53"
**What happened**:

When managed record is A Alias record External-DNS tries to delete it as CNAME record which leads to failure response from AWS.

[code]

**What you expected to happen**:
External-DNS successfully deletes A Alias records.

**How to reproduce it (as minimally and precisely as possible)**:
- Start External-DNS with at least below arguments:
[code]

- Create alias record. I used be

[2020-10-05 14:50] red8888 commented on #1797
stable is being deprecated the new location on helm hub is: https://github.com/bitnami/charts/tree/master/bitnami/external-dns

That chart is maintained by bitnami seems like its the only chart for this. Is that _the_ community chart that most people use for configuring this through helm?

[2020-10-05 15:17] red8888 commented on #1798
Guess I'll close this? or leave open till the docs are created?

Here is why I want this. If the app can be 100% configured with env vars then it means writing a helm chart to support it would be trivial. the chart could be totally ignorant of the apps actual config and just allow you to set arbitrary env vars

I actually asked about this in the github page for the community chart: https://github.

[2020-10-05 17:09] seanmalloy commented on #1798
I think we should leave it open until the documentation is updated.

[2020-10-06 10:48] Raffo commented on #1797
Thanks for pointing out the new location @red8888 . I'll leave to others the answer to the latter question as I don't use helm myself.

[2020-10-06 14:04] gregsidelinger opened #1809 "external-dns.alpha.kubernetes.io/alias is ignored with --aws-prefer-cname for route53"
**What happened**:
external-dns.alpha.kubernetes.io/alias: "true" is ignored when `--aws-prefer-cname` is enabled for route53.

**What you expected to happen**:
I would expect the annotation external-dns.alpha.kubernetes.io/alias: "true" create a alias record instead of a cname.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**

[2020-10-06 17:24] szuecs commented on #1517
/remove-lifecycle stale

[2020-10-06 20:25] jgrumboe commented on #1809
Hi,
I'm not using AWS but looking at the source code and the PR which introduced the `--aws-prefer-cname` option it works as designed.

PR: https://github.com/kubernetes-sigs/external-dns/pull/1103
FAQ: https://github.com/kubernetes-sigs/external-dns/blob/master/docs/faq.md#can-i-force-externaldns-to-create-cname-records-for-elbalb

Maybe the word 'prefer' within the optionnaming doesn't reflect t

[2020-10-07 03:22] bclermont commented on #555
@njuettner Thanks for your non-answer

[2020-10-07 14:07] julia-lawgeex commented on #1293
The issue is still occurring in version 0.7.3.

Any way to get passed it / implement retries?

[2020-10-07 14:27] guxlightyear commented on #1783
Does the `CloudflareProxied: true` work for you on wildcard domains? We'll open a different issue, but we are trying to use external-dns with a wildcard domain, and have it proxied through Cloudflare CDN, and we don' tseem to be able to make it work.

[2020-10-07 15:27] gokulkrishnank opened #1810 "For wildcard domains external-dns is not creating a proxied CNAME record in Cloudflare DNS"
**What happened**:
Created service of type external-name with following manifest to create a proxied CNAME dns record in cloudflare.

    kind: Service
    apiVersion: v1
    metadata:
      name: web-demo
      namespace: demo
      annotations:
        external-dns.alpha.kubernetes.io/hostname: "*.web.demo.example.com"
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
    spec:

[2020-10-07 18:27] seanmalloy commented on #1470
@bodgit do you know if this is still an issues with the latest release(currently 0.7.4)? Also did submit a PR with your suggested fixes: https://github.com/aspectcapital/external-dns/commit/3866d4bab857abaa84a70b01b4196ea3233d3ddf.

[2020-10-07 18:29] seanmalloy commented on #1664
@rjl79 i'm assuming this is still an issues with newer releases(v0.7.3, v0.7.4)?

[2020-10-07 18:32] seanmalloy commented on #1293
@julia-lawgeex I'm not aware of a workaround, but I don't use AWS. You might want to also try post question in slack [here](https://kubernetes.slack.com/messages/external-dns).

[2020-10-08 04:51] rjl79 commented on #1664
I will test and report back

[2020-10-08 06:47] seanmalloy commented on #1419
/remove-lifecycle stale

[2020-10-08 12:13] dbsanfte commented on #1708
This error:

time="2020-08-06T01:29:22Z" level=fatal msg="failed to sync cache: timed out waiting for the condition"

Means that your k8s service account for external-dns doesn't have enough permissions.

I'm running a rfc2136 with bind9 and I've struggled to figure out exactly which k8s API permissions it needs. This **doesn't** work:

[code]

I can resolve this by making the ClusterRoleBinding i

[2020-10-08 14:12] vugardzhamalov commented on #1660
Thank you @costela!

I guess it solves the issue of targeting specific CloudDNS zone id...  IMHO it could've been a bit more consistent across multiple providers if 'zoneType' filter was implemented across all of them (with support for both Public and Private zones). Or at least if behaviour was the same (e.g. if not available or not explicitly defined create resource records on both types as it i

[2020-10-08 16:45] sptmhall opened #1812 "Endpoints incorrectly generated for services with IPv6 Addresses."
In a dual-stack Kubernetes environment, Services with IPv6 addresses have endpoints generated with a record type of "A".

external-dns configuration:
        image: k8s.gcr.io/external-dns/external-dns:v0.7.3
        - --txt-owner-id=mosel-kube
        - --registry=txt
        - --provider=rfc2136
        - --rfc2136-host=10.109.176.2
        - --rfc2136-port=53
        - --rfc2136-zone=externaldn

[2020-10-12 16:06] seanmalloy commented on #1672
/remove-lifecycle stale

[2020-10-13 07:46] manan00 opened #1814 "How to create SRV record instead of the default TXT record using external-dns"
We have an application that does SRV lookup to connect to the ILB of the container.
I have added the following annotations to create a DNS record in my service.yaml file

annotations:
    external-dns.alpha.kubernetes.io/hostname
    external-dns.alpha.kubernetes.io/ttl

This creates TXT and A record. Is there any way to get SRV record created instead of TXT record?
I can see external-dns do suppo

[2020-10-14 09:21] #1754 closed

[2020-10-14 14:11] cprivite commented on #961
We follow the rfc2136 docs and found this is missing from its RBAC section:

[code]
Once I added that, external-dns > 0.7.1 started working again without the "failed to sync cache" error.

[2020-10-14 14:12] cprivite commented on #961
This issue should be reopened and not closed until all actual documentation has been updated with the relevant required RBAC bits. The only source of truth is each individual tutorial, there's no master RBAC document, so this isn't done till they're ALL done.

[2020-10-14 16:02] seanmalloy commented on #961
/reopen
/kind documentation

[2020-10-14 16:03] seanmalloy commented on #961
@cprivite would you consider submitting a PR to fix some of the docs that need to be updated?

[2020-10-14 16:06] seanmalloy commented on #1432
@H3rman8 is there an open pull request that would fix this bug?

[2020-10-14 16:09] seanmalloy commented on #1663
@volk1234 did you find a work around or is this enhancement still needed?

[2020-10-15 03:17] seanmalloy commented on #1596
/remove-lifecycle stale

[2020-10-15 03:21] seanmalloy commented on #1431
/remove-lifecycle stale

[2020-10-15 11:41] tobiaskohlbau opened #1816 "hetzner: add support to select loadbalancer ip/hostname"
Hetzner introduced load balancers in their hcloud some months ago. A loadbalancer can have a public and a private ip assigned. Both of these IP addresses get assigned to the service resource of k8s. If both of them are used the current behavior selects the internal IP as it is always the first. There is no possibility (as far as I know) to change the ip/hostname which external-dns uses to populate

[2020-10-15 11:42] tobiaskohlbau commented on #1816
Pinging @21h as he maintains the hetzner provider.

[2020-10-15 13:41] H3rman8 commented on #1432
@seanmalloy there is one and its still waiting to be approved.

https://github.com/kubernetes-sigs/external-dns/pull/1521

/remove-lifecycle stale

[2020-10-15 16:11] vsychov opened #1817 "Supported record type filter"
Hi guys,

I notices, that external-dns support only few types of dns records "A", "CNAME", "SRV", "TXT" (https://github.com/kubernetes-sigs/external-dns/blob/77f082f855c20158d7f5adecc19f12dbd9eed5c0/provider/recordfilter.go#L23), and all (or many providers, e.g. cloudflare - https://github.com/kubernetes-sigs/external-dns/blob/77f082f855c20158d7f5adecc19f12dbd9eed5c0/provider/cloudflare/cloudflare

[2020-10-15 16:14] ytsarev commented on #1817
Hey, I've just recently added NS record support, check it out https://github.com/kubernetes-sigs/external-dns/pull/1813 .
No idea on the source of initial limited record type support though

[2020-10-15 16:19] vsychov commented on #1817
Hey @ytsarev , it's exactly that I need, thanks, hope PR will be merged soon. :)

[2020-10-15 16:19] #1817 closed

[2020-10-15 21:31] seanmalloy commented on #1579
It seems to me there are still some outstanding issues/questions.

/remove-lifecycle rotten

[2020-10-16 06:35] elsesiy commented on #1579
The tests should give a good overview of how the `annotationFilter` is applied, see https://github.com/kubernetes-sigs/external-dns/blob/master/source/gateway_test.go#L463. I'm happy to help, can you please provide your manifests? Thanks

[2020-10-16 15:23] 21h commented on #1816
I'll think about it when I get some free time, I will need this feature soon too.

[2020-10-16 16:42] sethpollack commented on #1622
Running into this as well

[2020-10-16 20:38] vsychov opened #1820 "Cloudflare. Infinite loop when ttl > 1 and proxy parameter enabled"
**What happened**:
If endpoint object created with ttl parameter != 1, and `external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"`, external-dns will try infinite update records, because cloudflare API always return ttl = 1 (auto)

**What you expected to happen**:
Ignore ttl parameter, and skip update.

**How to reproduce it (as minimally and precisely as possible)**:
See description

**Anyt

[2020-10-17 04:32] yardensachs commented on #772
@guitarrapc Super helpful!

[2020-10-18 14:22] vsychov commented on #1820
Resolved by #1822

[2020-10-19 16:36] vsychov opened #1825 "TXT registry records encryption"
Hi guys,

I found that when external-dns use TXT registry, it create TXT records without any encryption, that can be result of leak some information about infrastructure, e.g. internal namespace name and/or project name.

**What would you like to be added**:
I think, that need extra key (e.g. `--txt-encryption-key`), for give ability, to encrypt data, stored in TXT records, e.g. via AES.

**Why is

[2020-10-19 16:38] vsychov commented on #1825
Here is example data from TXT, just in case.

`"heritage=external-dns,external-dns/owner=%MAY_BE_SENSITIVE%,external-dns/resource=%MAY_BE_SENSITIVE%"`

[2020-10-19 18:41] maxpoirier commented on #1293
We have the same behaviour. We're using EKS AND an old KOPS cluster that we still manage until all teams are migrated to EKS. We don't see throttling anymore coming from the EKS cluster since we updated external-dns to 0.7.1 and added the --events flag, increased the interval also added the --aws-api-retries ( defaults to 3 ). That being said I tried updating KOPS to that version also and it someh

[2020-10-20 03:36] seanmalloy commented on #1825
@vsychov this is a duplicate of #854.

/close

[2020-10-20 03:36] #1825 closed

[2020-10-20 04:02] darkpixel commented on #1372
I'm having a similar issue with Digital Ocean.  It correctly creates an A record for service.customer.tld, but it also creates an A record for customer.tld which we don't want.  I don't see anything in the config to stop it from doing that.

[2020-10-20 06:41] robertsmieja opened #1826 ""failed to sync cache: timed out waiting for the condition" for Istio Gateways"
**What happened**:
External DNS is unable to sync Istio Gateways

On v0.7.4 I get:

[code]

on v0.7.3 I get:
[code]

I'm assuming something changed with the CRD in Istio 1.7.X that is causing issues.
I know the apiVersion is now `networking.istio.io/v1beta1` for Gateways.

Oddly enough, I can confirm `--source=istio-virtualservice` has no issues.

**What you expected to happen**:

No error message

[2020-10-20 08:26] wgebis opened #1827 "Heritage TXT records are not generated in case of CNAME"
**What happened**:

Heritage TXT records are not generated in case of CNAME, so after then the ingress is removed, DNS CNAMEs still persist. For A records it works.

**What you expected to happen**:

Every records A and CNAME should be tracked via TXT to avoid mess in DNS zone.

**How to reproduce it (as minimally and precisely as possible)**:

Add annotation `external-dns.alpha.kubernetes.io/targ

[2020-10-20 13:49] rickardp opened #1829 "Allow global configuration of TTL"
**What would you like to be added**:
Currently, at least for Azure, the TTL is hard coded to 300 seconds. It is possible to override this per endpoint but it would be very useful to set the default ttl on the external-dns service itself.

**Why is this needed**:
We want to use the concept of "convention over configuration" and since we need to lower the TTL we do not want to explicitly do so in al

[2020-10-20 13:58] mzingarelli opened #1830 "Only CNAME records created in AWS regions not defined in canonicalHostedZones"
**What happened**: When running external-dns in the new af-south-1 region, we noticed that only CNAME entries are attempted to be created. The creation fails as it cannot create a TXT record with a CNAME record.
This does not happen in any other region and it works as expected by creating A records

**What you expected to happen**: A records to be created instead of CNAME

**How to reproduce it (a

[2020-10-20 15:46] mzingarelli commented on #1830
Additional args:

`--log-level=info
--log-format=text
--domain-filter=orbit.vodacom.aws.corp
--zone-id-filter=Z0651628USU8PBCX1SJJ
--policy=upsert-only
--provider=aws
--registry=txt
--interval=1m
--annotation-filter=kubernetes.io/ingress.class=alb
--source=service
--source=ingress
--aws-batch-change-size=1000`

[2020-10-20 15:47] mzingarelli commented on #1830
additional args:

`--log-level=info
--log-format=text
--domain-filter=<OMITTED>
--zone-id-filter=<OMITTED>
--policy=upsert-only
--provider=aws
--registry=txt
--interval=1m
--annotation-filter=kubernetes.io/ingress.class=alb
--source=service
--source=ingress
--aws-batch-change-size=1000`

[2020-10-20 17:09] wolmi commented on #1814
In my case, I'm managing a set of devices that needs to be discovered by Prometheus using SRV.
I'm using CRD to create some A records for each organization that includes a group of devices, and now I need a way to create an SRV record that points to the new records created. Next is my CRDs:

[code]
[code]
[code]

The A records are created properly but the SRV is not created and no logs or any mess

[2020-10-21 03:29] seanmalloy commented on #1648
/remove-lifecycle stale

[2020-10-21 03:31] seanmalloy commented on #1673
/remove-lifecycle stale

[2020-10-21 07:38] #1830 closed

[2020-10-21 18:58] AlbinoDrought commented on #1647
(Possibly reopen? I think the `Partially fixes #...` in #1813 may have triggered an early close here)

[2020-10-21 19:05] seanmalloy commented on #1647
/reopen

[2020-10-21 23:14] iamaverrick opened #1836 "External DNS Not working with AWS NLB"
We have been using External DNS for a long time and it has worked great for us but we recently needed to change from AWS Classic ELB to NLB. after this change external dns stopped working. i have looked through the docs but cant seem to find anything related to AWS NLB. is AWS NLB supported if so what are the ARGS we need to know about in order to get External DNS to work again. thanks in advance

[2020-10-22 02:53] rjl79 commented on #1664
@seanmalloy apologies for the delay in getting back on this.

I can confirm the behaviour remains the same in both 0.73 and 0.7.4.
When the provider is configured as Cloudflare, the AWS annotations are still observed and attempted to be used to construct the Cloudflare record. Initially the records are created with no issue, and extra attributes are ignored. When the records are next checked they

[2020-10-22 02:54] seanmalloy commented on #1664
/remove-lifecycle stale

[2020-10-22 10:24] TimJones commented on #1826
I'm seeing this same issue, but with `v0.7.3`, using AWS Route53 provider, on EKS 1.18 with Istio 1.7.1

[2020-10-22 11:01] Raffo commented on #1443
The first working multi-arch image can be tested: `gcr.io/k8s-staging-external-dns/external-dns:v20201021-v0.7.4-40-g764b9446`

I tested and verified it boots on a graviton based cluster on AWS, but I would love to get more feedback if someone has something to share.

Currently supported architectures: `amd64` and `arm64`.

[2020-10-22 11:22] alexellis commented on #1443
If you can add armhf I am sure there are folks in the openfaas community who would enjoy using this with [inlets](https://docs.inlets.dev/)

[2020-10-22 12:20] Raffo commented on #1443
@alexellis I can give this a shot, but I think `armhf` would require a bit of refactoring being essentially a 32 bit architecture. If it's complicate, we could postpone it to a later release.

[2020-10-22 12:22] Raffo commented on #1836
@iamaverrick I think this has nothing to do with ExternalDNS, rather with the NLB not updating the ExternalIP field, from what I understand. We do not do anything special for specific types of Services AFAIK. I think this is more of an issue for the AWS cloud provider in Kubernetes.

[2020-10-22 12:50] TimJones commented on #1826
Looking into it more and similar issues here I found it to be a problem with the ClusterRoleBinding.
I install `external-dns` into a specific namespace, but the ClusterRoleBinding is trying to bind a ServiceAccount in the default namespace...
[code]
Fixing that issue solve it for me.

[2020-10-22 13:30] iamaverrick commented on #1836
@Raffo thank you very much for you input I will look further elsewhere and will update the ticket.

[2020-10-22 14:36] robertsmieja commented on #1826
I'm able to use `--source=istio-gateway` with no issues, so it's not specific to RBAC.

Oddly enough I couldn't reproduce the issue on KinD 0.9.0, while trying to come up with steps to reproduce.

[2020-10-22 15:46] morremeyer opened #1837 "designate: Setting TTL annotation leads to create/delete loop"
**What happened**:

1. I set the `external-dns.alpha.kubernetes.io/ttl` annotation (to values of 300, 3600 and 86400 in different tests) with an Ingress (or Service). Quoting the value does not change the outcome.
2. I saw the matching A and TXT records being created first and in the next run of external-dns, the A record got deleted again. This repeats until the TTL annotation is removed.

Logs l

[2020-10-22 16:20] braxtone commented on #1443
Thanks for putting this together! Similar to @alexellis question, I tried deploying this on my Raspberry Pi 4 cluster running k3s and it failed to pull due to the lack of support for `arm/v7`.  Could you think you could add that architecture to your list of supported ones? That's my main use case for this issue, well that and to get off the random externalDNS image I'm on currently.

Direct pullin

[2020-10-22 17:42] Raffo commented on #1443
@braxtone that's expected. I don't know how many people need this on raspberry pis, so I can't really optimize for what makes sense for which part of the user base, but I can promise I'll give a shot at armv7 architectures and see if I can add those too.

[2020-10-22 17:45] alexellis commented on #1443
You know two of us now, I can find many more for you if that helps? Generally when supporting arm64, projects tend to add armv7 also.

Happy to help if you need assistance. You'll see multiarch examples in openfaas and Inlets too.

[2020-10-22 17:48] Raffo commented on #1443
@alexellis yeah, my comment was not trying to dismiss you or other Raspberry pis users, mostly justify that I don't have a good understanding of where users run ExternalDNS and I don't use arm devices myself.

I'll share an update as soon as I have one.

[2020-10-22 20:20] xUnholy commented on #1443
@Raffo if you view my comment further up in the chain you will notice we've been building External DNS for a long time now and keeping it in parity with the upstream version whilst supporting multi platform architectures without issues.

I've been using these images in my RPi cluster without issues, I am doubtful this would require code based refactoring.

I hope this support is added as it's some

[2020-10-22 20:48] Raffo commented on #1443
@xUnholy I think too it should be trivial in this case. Unfortunately we can't directly copy from your project because of the constraint with the ci system that we must use.

[2020-10-22 21:07] Raffo commented on #1443
From a quick test, https://github.com/kubernetes-sigs/external-dns/pull/1838 should do the trick.

[2020-10-23 05:31] robertsmieja commented on #1826
Figured out the root cause:

I had an operator syncing in changes from a Git repo - https://github.com/fluxcd/toolkit
Apparently that causes external-dns to timeout while trying to read my `istio-gateway` resources.

Deleting the operator causes external-dns to work correctly.

Is this an issue I should open over at that repo?
Is there anyway to improve the error messages to narrow in on the root

[2020-10-23 09:55] janlau1111 opened #1840 "failed to sync cache: timed out waiting for the condition on external-dns 0.7.4"
**What happened**:
i tried to deploy external-dns (`0.7.4`) on EKS (`1.17`) backed by fargate-pod. When external-dns starts i get the following error

[code]
**What you expected to happen**:
from version  `v0.7.1`

[code]

**How to reproduce it (as minimally and precisely as possible)**:
EKS (with fargate)
k8s-manifests
[code]
iam-role-policy
[code]

**Anything else we need to know?**:
With `v.0.7

[2020-10-23 10:41] Timoses opened #1841 "Access annotation for Ingress"
**What would you like to be added**:
Private access annotation for Ingress source.

Via #1310 it became possible to use the annotation `external-dns.alpha.kubernetes.io/access: private` to set the A records to the internal IP addresses of nodes.

This should also be available for the Ingress source.

An Ingress source annotated with `external-dns.alpha.kubernetes.io/access: private` should use the

[2020-10-23 16:22] seanmalloy commented on #1646
Looks like this was fixed in #1023. Please reopen if you are still experiencing this bug. Thanks.

/close

[2020-10-23 16:22] #1646 closed

[2020-10-23 21:11] Raffo commented on #1443
`arm32v7` images are built, please check if `gcr.io/k8s-staging-external-dns/external-dns:v20201023-v0.7.4-44-gc148505b` works fine for you.

[2020-10-24 00:07] braxtone commented on #1443
Just tried it out and it worked great for me. Thanks!

[2020-10-24 07:40] Raffo commented on #1443
Perfect. I aim at making an official release at the beginning of November and all releases from now on will support all architectures. I will add docs for users and close this issue once I have them ready.

[2020-10-24 12:52] Raffo commented on #1840
You also need endpoints as listed in the official manifests: https://github.com/kubernetes-sigs/external-dns/blob/master/kustomize/external-dns-clusterrole.yaml . This will likely resolve your issue. Closing, feel free to reopen if it doesn't resolve it.

[2020-10-24 12:52] #1840 closed

[2020-10-24 13:03] #1443 closed

[2020-10-26 11:16] tobiaskohlbau commented on #1750
After upgrading to the latest release this issue was resolved for me.

Looks like #1778 has solved this already. Maybe this ticket could be closed after validation of my observation.