[2020-10-26 12:04] miron9 opened #1844 "Records removed when nginx-ingress pod dies + error when creating records back"
**What happened**:
While external-dns is set to "sync" the records it will remove records in Route53 zone if Nginx-ingress pod fail or is scaled down.

**What you expected to happen**:
I would expect the records to continue existing unaffected as the associated load balancer exists without a break.
Such behaviour afects DNS propagatation and caching leading to errors where someone cached the respo

[2020-10-26 13:10] linki commented on #1844
I'm not sure how well the apex record (example.com in your case) works with ExternalDNS. You could try using the txtPrefix feature to solve this part, see https://github.com/kubernetes-sigs/external-dns/issues/449#issuecomment-481298355.

IIRC, the removal of records is a compatibility issue with nginx-ingress-controller. By default it removes itself from the Ingress.Status fields on shutdown, whi

[2020-10-26 14:17] seanmalloy commented on #1687
@ericrrath does the OCI SDK still need to be updated?

[2020-10-26 16:10] seanmalloy commented on #1691
/remove-lifecycle stale

[2020-10-26 16:17] jgrumboe commented on #1827
Are you using the --txt-prefix or --txt-suffix option as described in https://github.com/kubernetes-sigs/external-dns/blob/master/docs/faq.md#im-using-an-elb-with-txt-registry-but-the-cname-record-clashes-with-the-txt-record-how-to-avoid-this ?

[2020-10-26 16:23] wgebis commented on #1827
I have tried using prefixes/suffixes with no success.

[2020-10-27 01:26] ericrrath commented on #1687
This was addressed by https://github.com/kubernetes-sigs/external-dns/pull/1688, and can be closed.

[2020-10-27 03:06] seanmalloy commented on #1687
/close

[2020-10-27 03:06] #1687 closed

[2020-10-27 14:13] abatilo opened #1845 "Support AWS NLB AZ specific subdomains"
When an NLB is created in AWS, the default DNS entry for the NLB can both target every zone:
[code]

But there are also per AZ records created:
[code]

Is there some way for these to be created by external-dns when we add the annotation to the `kind: Service` `type: LoadBalancer`?

**Why is this needed**:
To help avoid paying for cross AZ traffic, a client might want to send requests to the NLB zo

[2020-10-27 20:03] edglynes opened #1846 "Update Akamai Edge DNS Provider"
Complete the initial Akamai Edge DNS Provider and release a Stable version.
To Do:

[Work to be completed by elynes@akamai.com]

1. Update Edgegrid library to v1.0.0
2. Correct existing logic errors
3. Support full set of record types.
4. Support changes across multiple zones
5. Simplify Edgegrid lib interactions for enhanced maintainability
6. Rename provider, Fast DNS -> Edge DNS
7. Update docum

[2020-10-27 20:06] edglynes commented on #1846
@njuettner Hi. Please assign this issue to me. Thx.

[2020-10-27 20:12] seanmalloy commented on #1846
/kind feature
/unkind support

[2020-10-27 20:12] seanmalloy commented on #1846
/remove-kind support

[2020-10-27 20:18] seanmalloy commented on #1846
@edglynes I'll try to assign it to you, but it might not work.

/assign @edglynes

[2020-10-27 20:18] seanmalloy commented on #1846
@edglynes you are now assigned.

[2020-10-27 20:24] edglynes commented on #1846
Thx. I'm working in https://github.com/edglynes/external-dns

[2020-10-28 02:07] igoratencompass commented on #1656
Have the same issue:
[code]
no idea how does it come to that conclusion when the endpoints clearly exist:
[code]

[2020-10-28 12:44] edglynes opened #1848 "Support for HTTPS and SVCB Records"
HTTPS and SVCB Records enhance the service discovery process. See https://datatracker.ietf.org/doc/html/draft-ietf-dnsop-svcb-https-00

Record support has been added by Akamai Edge DNS, Cloudflare and IOS14. Other vendors are actively developing support.

[2020-10-28 17:45] sheerun commented on #1820
/reopen

[2020-10-29 21:29] seanmalloy commented on #1700
/remove-lifecycle stale

[2020-10-31 07:20] tobernguyen commented on #992
I'm experiencing this with the latest image: v0.7.4

[2020-10-31 08:02] tobernguyen commented on #992
Nevermind. I added these two options and the problem went away
[code]

[2020-11-02 11:58] igor-nikiforov commented on #1809
I can confirm that `external-dns.alpha.kubernetes.io/alias: "true"` is ignored when `--aws-prefer-cname` is used.

External DNS v0.7.4

[2020-11-02 21:43] pirteac commented on #1420
have anyone tried out the new annotation health-check-id, released in external-dns:v0.7.4?
by associating failover TXT records with health-check-id, it should not complain anymore that it cannot create the record.

I have created a Route 53 Health Check and specified its id into annotation on ingress:
- external-dns.alpha.kubernetes.io/health-check-id: "health-check-id"
but it looks like it ignori

[2020-11-03 06:56] danielo515 opened #1851 "External dns is not publishing anything to etcd neither showing any error"
**What happened**:
I have coredns and etcd configured on a different machine. I deployed external-dns to my cluster and configured it to use etcd located on the external host. I can see the logs about generating endpoints, and I see no errors, but when I check on etcd I can't see any entries being created.

**What you expected to happen**:

I want to see errors telling me why entries were not crea

[2020-11-03 07:35] danielo515 commented on #1851
I updated the version of etcd (from 3.14 to latest), and now I can see the messages published:

[code]

However, coredns still report NXDOMAIN, but I guess that is a question for coredns repo.
Sorry for the disturbances.

[2020-11-03 07:35] #1851 closed

[2020-11-03 07:40] danielo515 commented on #1851
In case someone reads this, it is now working. It may be because the udpate of etcd or it may be because I removed the entry `loadbalance` from coredns, I'm not sure, but I'm happy it works now.

[2020-11-03 17:48] jeffherald opened #1852 "[AWS Provider] Changes that require a record type change (for example A to CNAME) fail"
**What happened**:
Changes that require a record type change (for example A to CNAME) fail with errors like the following:
[code]
**What you expected to happen**:
Instead of attempting to perform an upsert, a delete and create should be performed instead.

**How to reproduce it (as minimally and precisely as possible)**:
* Create a `Service` of type `LoadBalancer` with external-dns enabled.
* Afte

[2020-11-04 21:27] Raffo commented on #1836
This was open for 13 days with no update, closing.

[2020-11-04 21:27] #1836 closed

[2020-11-05 03:21] dubb-b opened #1853 "Add ability to upsert records in multiple clouds"
**What would you like to be added**:
Is there a way to pass in AWS svc-account creds from another cloud that can act on resources to update the records?
I have multi cloud solution in AWS and Azure, I need to be able to use this controller to upsert records in Route53 from Azure.
Or is the recommendation to delegate DNS to an Azure DNS Zone?

**Why is this needed**:
So I can deploy both AWS and Az

[2020-11-05 10:21] blodone commented on #1400
hi, we have the same issue / setup here. could you provide the script? that would be great

[2020-11-05 10:51] blodone commented on #1400
our script:
`      initContainers:
      - name: init-external-dns
        image: yauritux/busybox-curl:latest
        command:
          - '/bin/sh'
          - '-c'
          - |
            curl -X POST --data '{"name": "TOP_LEVEL_DOMAIN.", "kind": "Native"}' -H "X-API-Key: APIKEY" http://pdns-api.namespace.svc.cluster.local:8081/api/v1/servers/localhost/zones
`

[2020-11-05 11:38] andye2004 commented on #1400
Sure, the below is a copy & paste of our script, the test/body of the `if` statement is really what the script does, the rest is just for info logged by the init container. You would obviously need to replace the `${EXTERNAL_DNS_DOMAIN_FILTER}`, `${EXTERNAL_DNS_PDNS_SERVER}` and `${EXTERNAL_DNS_PDNS_API_KEY}` env variables with your own. In our case these are set before the init container is calle

[2020-11-05 12:37] danielo515 opened #1855 "Document the option for coredns to specify prefix name"
Seems that the `/skyDns` prefix is not longer mandatory and can be changed, but I didn't found any docs about it.
If that is the case, it will be nice to document it so people can better segment their reportings to etcd.
Regards

[2020-11-06 18:48] seanmalloy commented on #1855
/kind documentation

[2020-11-06 18:49] seanmalloy commented on #1855
@danielo515 would you be willing to submit a pull request to get the docs updated?

[2020-11-06 19:38] danielo515 commented on #1855
I'm not sure about the feature details to be honest.

[2020-11-06 22:50] aleveille commented on #1388
@seanmalloy No pressure, but were you able to look at the new PR? Is there anything I can do to help you in your review? :)

[2020-11-08 06:24] vrabbi commented on #216
Any chance of getting this added?

[2020-11-08 19:19] akhilgoel09 opened #1858 "Getting error when creating the dns entry using external dns in route-53"

[2020-11-08 22:19] #1626 closed

[2020-11-09 14:07] eduardomourar commented on #1716
It worked for me by using the `notin` syntax, like this: `service.beta.kubernetes.io/aws-load-balancer-internal notin (false)`. Of course, that does not apply for every scenario.

[2020-11-09 16:48] asoltesz commented on #632
This is also a problem for me.

I have implemented everything according to the hostport tutorial and I always get the internal IP published which is of course useless for me since I would like to direct external traffic to an email service (Mailu) that has only a hostPort service.

This could be worked around if the "external-dns.alpha.kubernetes.io/access" annotation was properly handled but it i

[2020-11-09 18:34] devkid commented on #1200
/reopen

[2020-11-11 00:31] stefanlasiewski commented on #1210
If NodePort is supported, then this is simply a documentation bug. We just need to fix places like https://github.com/kubernetes-sigs/external-dns/blob/747e362711d4ac7ffb65849fe0152e20914b21e3/docs/faq.md#which-kubernetes-objects-are-supported

[2020-11-11 18:47] jeffhubLR commented on #1717
Closing. Thanks for your patience. The updated selector on the `istio-ingressgateway` service works as expected.

[2020-11-11 18:47] #1717 closed

[2020-11-12 06:48] devkid commented on #1175
/remove-lifecycle stale

[2020-11-12 07:45] george-angel commented on #409
/remove-lifecycle stale

[2020-11-12 07:45] george-angel commented on #484
/remove-lifecycle stale

[2020-11-12 08:19] Raffo opened #1861 "ExternalDNS announcements"
This is a pinned issue that should also serve as general places for announcements.
Let's start with the first one!

## 2020-11-12

### Addressing technical debt
I started doing some work around addressing annoying problems of the codebases that caused us to chase issues over and over again, for example when dealing with TTLs in providers. We determined that this tech debt is causing us more issues

[2020-11-12 08:23] christopherdalton opened #1862 "running external DNS in two clusters causes conflicts"
**What happened**:
External DNS deployments running in two separate clusters causes multiple DELETE/CREATE api calls for separate DNS records..

time="2020-11-11T11:46:33Z" level=info msg="Desired change: DELETE xxx.test.website A [Id: /hostedzone/XXXXXXXXXXXXX]"
time="2020-11-11T11:46:33Z" level=info msg="Desired change: DELETE xxx.test.website TXT [Id: /hostedzone/XXXXXXXXXXXXX]"
time="2020-11-1

[2020-11-12 14:59] seanmalloy commented on #1674
/remove-lifecycle stale

[2020-11-12 14:59] seanmalloy commented on #1674
/remove-lifecycle rotten

[2020-11-12 15:03] seanmalloy commented on #1862
@christopherdalton what version of external-dns are you using? What CLI options is external-dns running with in both clusters?

[2020-11-12 15:06] seanmalloy commented on #1105
/remove-lifecycle stale

[2020-11-12 15:08] seanmalloy commented on #1117
Has anyone been able to verify that this is fixed in release v0.7.3? This is probably the last time I'll comment here. I'll let the robot close it out if no one responds.

[2020-11-12 15:08] seanmalloy commented on #1281
/remove-lifecycle stale

[2020-11-12 15:10] seanmalloy commented on #731
/remove-lifecycle stale

[2020-11-12 15:14] jsravn commented on #433
This happens in AWS as well: https://github.com/kubernetes-sigs/external-dns/issues/1852.

From an earlier comment in here, it sounds like this was intentional behavior. But I'm not quite sure why.

[2020-11-12 15:14] seanmalloy commented on #449
/remove-lifecycle stale

[2020-11-12 15:43] christopherdalton commented on #1862
Running 0.7.3 with the following configured;

       - --source=service
        - --source=ingress
        - --domain-filter=test.website
        - --provider=aws
        - --aws-zone-type=public
        - --registry=txt
        - --txt-owner-id=infrastructure

[2020-11-12 17:25] seanmalloy commented on #1862
Each k8s cluster must use a unique `--text-owner-id`. Using the same `--txt-owner-id` with external-dns running in multiple k8s clusters will lead to the problem you described.

[2020-11-12 18:00] christopherdalton commented on #1862
ahh, my misunderstanding thank you.

[2020-11-12 18:00] #1862 closed

[2020-11-12 19:20] seanmalloy commented on #1376
Can this problem still be reproduced with the latest release?

[2020-11-12 19:22] kespinola commented on #1441
I am also interested in this feature to help safely rollover traffic to a new cluster I would like external dns to run in both the current and incoming cluster and attach to their respective gateways (we are using Istio). The incoming cluster and current cluster should contribute to the same record in Route 53 but assign independent weights. For example, start with responding to 10% of DNS queries

[2020-11-12 20:57] oxr463 commented on #1210
Judging from the label added to this issue, I am not sure this is the case.

@seanmalloy can we get confirmation on whether NodePort is production ready or not yet?

[2020-11-12 21:58] seanmalloy commented on #1210
@oxr463 I'm not sure. I try to help out with this project, but I'm not an official maintainer. I also haven't looked at the NodePort code much.

[2020-11-13 00:55] stefanlasiewski commented on #1263
@iameli

Were you still using a Headless service to do this, or not?

[2020-11-13 01:00] iameli commented on #1263
@stefanlasiewski  Here's the manifest:
[code]

[2020-11-13 03:09] stefanlasiewski commented on #1263
Thanks @iameli. Looks like your solution was to use the NodePort service type, instead of a Headless service (probably due to this bug).

I have a similar NodePort service, and it's using the internal IP address of the node, not the external IP.

[2020-11-13 14:10] Walther commented on #1210
It's been a couple of months so I'm hazy on the details, but I believe I got NodePort working with external-dns just fine in a proof-of-concept project, so this could indeed just be a matter of documentation being out of date

[2020-11-13 21:16] plicon commented on #1816
@tobiaskohlbau I'm running into the exact same issue, did you find a way around it?

[2020-11-13 21:25] tobiaskohlbau commented on #1816
Yes I gathered some options. First of all it's not hcloud which reorders the IPs. Instead external-dns itself reorders the items before forwarding them to each provider interface.

See for e.g.:
https://github.com/kubernetes-sigs/external-dns/blob/65087c4e0246c6f621e54c34e9f56bffd2b763b9/source/virtualservice.go#L197-L199

The best possible way to get this working without running a modified extern

[2020-11-13 21:31] plicon commented on #1816
@tobiaskohlbau thanks for your reply. I also opened an issue on the hcoud-cloud-controller repo and was just directed there to the same option which i totally overlooked:
adding the annotation "load-balancer.hetzner.cloud/disable-private-ingress=true" to the LB service did the trick for me.

[2020-11-13 21:33] tobiaskohlbau commented on #1816
Just for reference I just found that external-dns already has support for private and public ip selection: https://github.com/kubernetes-sigs/external-dns/blob/master/docs/faq.md#how-do-i-specify-that-i-want-the-dns-record-to-point-to-either-the-nodes-public-or-private-ip-when-it-has-both

I will try to dig into the code to find which parts are affected by that annotation and if it's possible to u

[2020-11-13 21:44] tobiaskohlbau commented on #1816
Unfortunately that annotation couldn't be used as it's intended for services of type NodePort where an ip has the associated information of either being public or private. Whereas in LoadBalancer type the  `status.ip` has no information if the IP is public or private. There I see two possible options:

1. The option proposed in my fork where the ip is selected via index.
2. An heuristics which par

[2020-11-14 11:10] sylr commented on #1388
I have the same issue with an NS record:

[code]

xxx is a NS record.

[2020-11-15 05:05] onedr0p commented on #1394
/remove-lifecycle stale

[2020-11-15 16:20] unixfox commented on #1453
/remove-lifecycle stale

[2020-11-16 08:37] lukasmrtvy commented on #1454
/remove-lifecycle stale

[2020-11-16 12:28] anto-n commented on #1807
/remove-lifecycle stale

[2020-11-17 00:26] stefanlasiewski commented on #1210
Seems like it worked in https://github.com/kubernetes-sigs/external-dns/issues/1263#issuecomment-726437551

[2020-11-17 00:29] stefanlasiewski commented on #1210
I'm trying to figure out if the problem I'm running into is happening because I did something wrong, if it's a bug with our Rancher implementation, or if it's a bug of External DNS.

My nodes have a public IP for user services and an internal IP for host-to-host communication. The NodePort exposes the service on the public IP and I can access it from outside the cluster. However, the DNS records a

[2020-11-17 08:00] soupdiver commented on #1453
Any way to help with this issue? @unixfox

[2020-11-18 04:20] seanmalloy commented on #936
/remove-lifecycle stale

[2020-11-18 04:30] seanmalloy commented on #1548
/remove-lifecycle rotten

[2020-11-18 04:32] seanmalloy commented on #1261
This is a duplicate of #1780

/triage duplicate
/close

[2020-11-18 04:32] #1261 closed

[2020-11-18 04:33] seanmalloy commented on #1780
/help

[2020-11-18 04:35] seanmalloy commented on #1456
/remove-lifecycle stale

[2020-11-18 04:35] seanmalloy commented on #1283
/remove-lifecycle stale

[2020-11-18 04:39] seanmalloy commented on #1198
/remove-lifecycle stale

[2020-11-18 04:40] seanmalloy commented on #1499
/remove-lifecycle stale

[2020-11-18 04:40] seanmalloy commented on #1512
/remove-lifecycle stale

[2020-11-18 05:04] seanmalloy commented on #1604
/remove-lifecycle stale

[2020-11-18 05:29] seanmalloy commented on #1488
/remove-lifecycle stale

[2020-11-18 05:30] seanmalloy commented on #1489
/remove-lifecycle stale

[2020-11-18 05:32] seanmalloy commented on #1471
@tomekit can you verify if this is still broken with the latest release?

[2020-11-18 05:33] seanmalloy commented on #1487
/remove-lifecycle stale

[2020-11-18 05:35] seanmalloy commented on #1474
Can someone verify if this is still a problem with the latest release?

/remove-lifecycle stale

[2020-11-18 05:36] seanmalloy commented on #1510
/remove-lifecycle stale

[2020-11-18 05:37] seanmalloy commented on #995
/remove-lifecycle stale

[2020-11-18 05:40] seanmalloy commented on #1416
/remove-lifecycle stale

[2020-11-18 05:42] seanmalloy commented on #1670
/remove-lifecycle stale

[2020-11-18 05:45] seanmalloy commented on #1617
/reopen
/remove-lifecycle rotten

[2020-11-18 05:47] seanmalloy commented on #1669
/remove-lifecycle rotten

[2020-11-18 05:48] seanmalloy commented on #1669
@aledr any thoughts on this?

[2020-11-18 05:49] seanmalloy commented on #1386
/remove-lifecycle stale

[2020-11-18 05:50] seanmalloy commented on #1299
/remove-lifecycle stale

[2020-11-18 05:52] seanmalloy commented on #1605
/remove-lifecycle stale

[2020-11-18 05:54] seanmalloy commented on #1321
/remove-lifecycle stale

[2020-11-18 05:54] seanmalloy commented on #1282
/remove-lifecycle stale

[2020-11-18 05:55] seanmalloy commented on #1213
/remove-lifecycle stale

[2020-11-18 05:56] seanmalloy commented on #1663
@volk1234 any thought on this?

[2020-11-18 05:58] seanmalloy commented on #216
/reopen
/remove-lifecycle rotten

[2020-11-18 06:01] seanmalloy commented on #1200
/reopen
/remove-lifecycle rotten

[2020-11-18 06:03] seanmalloy commented on #1716
/remove-lifecycle stale

[2020-11-18 06:04] seanmalloy commented on #751
/remove-lifecycle stale

[2020-11-18 06:05] seanmalloy commented on #1495
/remove-lifecycle stale

[2020-11-18 06:06] seanmalloy commented on #1858
/triage support

[2020-11-18 06:06] seanmalloy commented on #1858
/kind support

[2020-11-18 06:08] seanmalloy commented on #1858
@akhilgoel09 you may want to ask in `#external-dns` on k8s slack to see if someone can answer your question.

https://kubernetes.slack.com/messages/external-dns

Thanks!

[2020-11-18 08:18] ieugen opened #1865 "Please add support for rfc2136 to manage multiple DNS zones per deployment"
**What would you like to be added**:

I would like for rfc2136 provider to easily support multiple zones per deployment.
I asked on Slack and this is not currently possible.

**Why is this needed**:

I have multiple zones that I would like to update with exstenrnal-dns (dev.example.com, beta.example.com, staging.example.com)

I'm looking to deploy external-dns with rfc2136 provider for 3 zones man

[2020-11-18 14:02] edglynes commented on #1846
@seanmalloy Hi. I've pushed a first pass of code to my fork and am preparing to generate a PR after some final testing. Questions: 1) how can I be listed as an owner/maintainer for the Akamai provider. The OWNERS doc says you need to be a project member. 2) I would like the results of my efforts to result in a Beta or Stable status for the provider. What needs to be done to achieve each? Aside fro

[2020-11-18 16:39] seanmalloy commented on #1846
@edglynes the first step is to become a `kubernetes-sigs` org member. Here are the requirements for becoming and org member, https://github.com/kubernetes/community/blob/master/community-membership.md#member.

After that one of the project maintainers for external-dns would need to approve a PR that adds as a reviewer/approver for just the Akamai provider directory.

* https://github.com/kubernete

[2020-11-19 09:30] Mahesh-MSFT commented on #1675
/remove-lifecycle stale

[2020-11-19 10:50] pauliuspetka opened #1866 "external-dns issue with rbac.clusterRole=False"
**What happened**:
Getting ` failed to sync cache: timed out waiting for the condition` while deploying external dns with parameter `rbac.create = false` and custom namespace
We create multiple namespaces and multiple external dns.

**What you expected to happen**:
Allow external dns access only to custom namespace

**How to reproduce it (as minimally and precisely as possible)**:

`helm install e

[2020-11-19 20:04] seanmalloy commented on #1866
@pauliuspetka thanks for opening this issue. The helm chart is not maintained in this repo, and it is not maintained by the k8s external-dns maintainers. Please open an issue in the appropriate bitnami repo to get traction on this bug report.

Thanks.

/close

[2020-11-19 20:04] #1866 closed

[2020-11-22 05:29] seanmalloy commented on #1597
/remove-lifecycle stale

[2020-11-22 13:25] l0wl3vel commented on #1827
https://tools.ietf.org/html/rfc1034 says in 3.6.2:

So not creating a TXT record for a CNAME is the correct behavior

[2020-11-22 13:59] l0wl3vel opened #1869 "Creating a CNAME record on Hetzner DNS fails due to TXT record being present"
**What happened**:
When creating a service with the following annotations, external-dns created the TXT record and fails to create the CNAME record.

[code]
External-dns logs
[code]
Then it continues to spam the registrar with more TXT records every minute.
![image](https://user-images.githubusercontent.com/7373184/99905491-5f160e00-2cd1-11eb-8e00-c5ee53f64186.png)

**What you expected to happen**

[2020-11-22 23:09] hansbogert commented on #1827
@l0wl3vel This is exactly what bind is doing and warning about in my case with rfc2136

[code]

so what should be the correct behaviour for external-dns in this case?

[2020-11-23 07:30] wgebis commented on #1827
Hi there!
@l0wl3veli in short: external-dns should creates TXT records as well as for A records and manage them as well.

Let me know if it makes sense: I believe that external-dns creates the TXT records just for tracking the ownership of them in DNS zone in order to manage these records. It works perfectly with A records, but don't work with CNAME.
I'm pretty sure that it has to in terms of CNAM

[2020-11-23 07:39] jgrumboe commented on #1827
You're all are right in my opinion.
External-dns should create TXT records to manage the ownership of A and CNAME records it manages. This feature is configured via --txt-owner-id and --txt-prefix/--txt-suffix.
I one does not set --txt-prefix/--txt-suffix external-dns will run into a problem especially for CNAME records because of the RFC: you cannot create any other record with the same name as a

[2020-11-23 07:42] wgebis commented on #1827
Ye, you can find my config below"
[code]

[2020-11-23 07:52] jgrumboe commented on #1827
So you didn't set --txt-owner-id and one of --txt-prefix or --txt-suffix?

[2020-11-23 07:54] wgebis commented on #1827
Nope, TXT for A are created/deleted with that config.

[2020-11-23 08:03] jgrumboe commented on #1827
🤔 strange ... would need to look into the code.
The "right" way would be to choose a --txt-owner-id and one of --txt-prefix or --txt-suffix. Please try to set both.

[2020-11-23 17:28] yahavb commented on #1293
I have the same issue no for both our self-managed k8s and EKS.

[2020-11-24 04:47] jamesmoriarty commented on #1394
I've got something working with: CronJob/ExternalDNS/Service:

[code]

Context: https://github.com/jamesmoriarty/k8s-gitops/blob/main/cluster/default/ip/cronjob.yaml

cc/ @onedr0p @Arno500

[2020-11-24 07:01] jamesmoriarty commented on #1394
Update: /target didn't work for Service but did with Ingress.

[code]

Appears to work:

[code]

[2020-11-24 22:37] Abhi94N commented on #961
@ @GeertJohan You are the real MVP.

[2020-11-25 08:56] chapitos commented on #1608
To add my 5 cents here. I have done exactly the steps as @linki described and run into the problem anyway (access denied, cannot assume role, as above). The cause was that I have provided the role ARN to be assumed in quotation marks (e.g. --aws-assume-role="arn:aws:iam::123456789012:role/role-to-be-assumed"). After removing the quotation masks, everything works fine.

[2020-11-25 11:28] Raffo commented on #1861
# 2020-11-25

We decided with the other maintainers that we'll be pushing the release further until we can get the current refactor in #1868.

[2020-11-25 15:50] RenaudDemarneffe opened #1871 "Process Ingress ressource with Istio ingress controller"
When an Istio Ingress Controller is used into a K8s cluster, it's possible to continue to use Ingress resource to expose service outside the cluster.
See: https://istio.io/latest/docs/tasks/traffic-management/ingress/kubernetes-ingress/

When we use this configuration, external-dns is not able to update the DNS record.

After some research, I think it's due to the fact that Istio Ingress Controlle

[2020-11-25 18:34] parruda commented on #283
I landed here with the same problem. I did not have to add `https://www.googleapis.com/auth/ndev.clouddns.readwrite` or `https://www.googleapis.com/auth/cloud-platform` scopes. All I had to do was to enable Workload Identity on the cluster (it was disabled) and then update the node pool to enable `workload metadata`:
[code]

[2020-11-26 08:30] gmenuel commented on #1489
I've run into the same problem, and notices that by default external-dns uses the nodes external IP for provisionning the DNS entry for node ports. I've fixed the issue by adding the `external-dns.alpha.kubernetes.io/access: private` annotation.
I think there is still a bug, the google provider shouldn't try to add an invalid entry (and maybe should provide a better error message)

[2020-11-26 14:42] fsniper commented on #1064
I also hit this issue.

I have a level1.example.com zone, and I want to work with level3.level2.level1.example.com domains.
My filter is defined as level2.level1.example.com.

In this case level1.example.com zone is not found. I had to create a new Child Zone for level2.level1.example.com.
I recall this has been working a while ago.

[2020-11-27 17:18] Raffo commented on #1558
/remove-lifecycle stale

[2020-11-27 18:45] SamLR opened #1872 "fqdnTemplate ignored if host stanza is empty/subdomain only"
**What happened**:

External-dns ignores the `fqdnTemplate` argument for generating DNS records when the `host` stanza of an ingress resource is set (if if only set to the hostname rather than fqdn).

**What you expected to happen**:

Would expect external-dns to generate a dns record according to the `fqdnTemplate` e.g. if the ingress `name: foo` and `host: foo` is created while `fqdnTemplate={{.

[2020-11-27 19:03] Xylakant commented on #1869
I think this might help you: https://github.com/kubernetes-sigs/external-dns/blob/master/docs/faq.md#im-using-an-elb-with-txt-registry-but-the-cname-record-clashes-with-the-txt-record-how-to-avoid-this

[2020-11-28 16:09] bl-ue opened #1873 "Instructions for running locally in README are out of date"
The instructions for running locally in the readme are out of date.

1. `--replicas` is deprecated
2. `kubectl expose deployment nginx` specifies to expose a `deployment`, but `kubectl run` creates a `pod`

From [README.md](https://github.com/kubernetes-sigs/external-dns/blob/master/README.md#setup-steps):

results in:
[code]

Kubernetes version:
[code]

#### Notes

Changing `deployment` to `pod`

[2020-11-28 16:10] bl-ue commented on #1873
I can open a PR to update the instructions.

[2020-11-28 19:16] arctica commented on #1257
I've noticed using a NodePort service makes external-dns populate the DNS records with the external IPs of Traefik which we expose directly via HostPort. This wastes a random port but at least the setup works. It would be great if external-dns was able to expose the external IPs of nodes where pods are using HostPort. The solution in the tutorials with a headless service resulted in internal IPs b

[2020-11-28 22:36] danopia opened #1875 "'Nodes' source assumes all discovered IPs are IPv4"
**What would you like to be added**:

The `node.go` source only knows how to make `A` endpoints: https://github.com/kubernetes-sigs/external-dns/blob/master/source/node.go#L129

The source should be extended to recognize IPv6 addresses and add them as `AAAA` endpoints instead of `A`.

I looked at providing a refactor but struggled to handle the code as-written, it wants to only think about one typ

[2020-11-29 00:24] danopia commented on #1875
Well, I wrote my intended sloppy patch on node.go (linked in above activity) and it satisfies my test cases but apparently external-dns has a larger issues with IPv6 preparedness:

1. AAAA just isn't planned by default... https://github.com/kubernetes-sigs/external-dns/blob/master/plan/plan.go#L245
1. When planning multiple endpoints for one dns name; the planner just takes the "less" endpoint and

[2020-11-29 18:21] kferrone commented on #1394
Yeah bump this one. Been trying to get clever to no avail. Shouldn't be too hard for External DNS to discover the WAN IP right?

[2020-11-29 23:12] vchan2002 commented on #1233
Here's my workaround(s) to get this working.

On my govcloud EKS cluster, I need it to talk to a R53 zone (internal one, of course) within govcloud.  I have to a an env var of AWS_REGION=us-gov-west-1 (otherwise it won't connect to the R53 endpoint), and also add an arg of --aws-prefer-cname (other it tries to do aliases, which it does not support), and --txt-prefix=prefix- (otherwise it tries to

[2020-11-30 08:26] odg0318 commented on #1784
@Benjile Any update here?

[2020-11-30 11:27] mattnac commented on #1691
Any news on this?

[2020-12-01 08:24] Benjile commented on #1784
no i have no time to study this scenario. sorry

[2020-12-01 14:30] MartinEmrich opened #1877 "Switching to AWS dualstack ALB does not create AAAA record"
**What happened**:

I changed an AWS Ingress from ipv4 to dualstack. Before, IPv4 was already working; the A and TXT records were in place. I added the dualstack annotation, and the AWS Load Balancer Controller modified the ALB successfully.

[code]

**What you expected to happen**:

I expected that external-dns would add the AAAA alias record automatically.

**How to reproduce it (as minimally an

[2020-12-01 21:55] AndrewDryga commented on #1616
/remove-lifecycle stale

[2020-12-02 12:47] xunpan commented on #1855
/assign

[2020-12-03 10:08] kundan2707 opened #1878 "documentation for fast dns changed"
**What happened**:
Documentation for dast dns changes as it become lagacy so old links in https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/akamai-fastdns.md broken

**What you expected to happen**:
Fastdns documentation shoud redirect to correct documentation page

[2020-12-03 10:09] kundan2707 commented on #1878
/kind documentation

[2020-12-03 11:05] #1878 closed

[2020-12-04 14:36] rsaffi commented on #1441
One more use-case for this right here! :hand:
And same reason: safe rollout of the service on different clusters (different providers, even), so multiple `external-dns` instances.

[2020-12-05 05:43] shankarsundaram commented on #1228
Had faced the same issue. External DNS should update the existing A record with valid ALB address which is not happening with my case. A record is still pointing to old/ invalid alb address

[2020-12-05 15:53] l0wl3vel commented on #1869
Well, i tried to set the txt-prefix and it still created only the txt record. I even straight up disabled the registry functionality and there is still no CNAME record created. The external-dns logs show that the pod is repeatedly trying to create one. When manually creating a record via the API it works and shows up in the DNS control panel. So maybe the problem lies somwhere in the implementatio

[2020-12-05 19:57] Raffo commented on #1770
/remove-lifecycle stale

[2020-12-06 15:52] Raffo commented on #1473
/remove-lifecycle stale

[2020-12-06 16:58] brpaz commented on #1820
I had this problem before I think it was resolved, but now I setup a new cluster and  it´s back. :(

I don't have proxied option enabled and no external-dns related annotations.

Logs:

[code]

Using external-dns 0.7.4 and Cloudflare provider.

[2020-12-06 19:13] #1470 closed

[2020-12-07 05:41] kundan2707 commented on #1873
/kind documentation

[2020-12-07 14:27] szuecs opened #1883 "support adding ingress and svc type lb for same name"
Not sure if I consider this as bug or enhancement.

In case we do not use CNAME, we can add A/AAAA records from same name multiple times to different values.
For example in AWS ELB is created by svc type LoadBalancer and an ALB is created by an ingress.

Why it makes sense to set the same name to different targets?
Migrations, because you want to be sure that the new one was added before you delet

[2020-12-07 20:37] lerminou opened #1885 "Not able to define a dynamic DNS for multi-pod mongodb replicat"
**What happened**:
I try to setup a mongodb replicat cluster on Kubernetes.
https://artifacthub.io/packages/helm/bitnami/mongodb#replicaset-accessing-mongodb-nodes-from-outside-the-cluster

I need to setup a externalAccess to the mongoDB to access it from outside the cluster.

Based on the mongo architecture with arbiter : https://artifacthub.io/packages/helm/bitnami/mongodb#architecture
"There ar

[2020-12-07 20:45] #1885 closed

[2020-12-08 14:31] dmayle commented on #1601
I've updated both PRs to the latest HEAD

[2020-12-08 14:31] scottd018 commented on #1520
/remove-lifecycle stale

[2020-12-08 14:42] dmayle commented on #1601
/remove-lifecycle stale

[2020-12-08 14:59] seanmalloy commented on #1621
/remove-lifecycle stale

[2020-12-08 21:38] seanmalloy commented on #1873
/remove-kind bug

[2020-12-08 21:41] seanmalloy commented on #1873
@bl-ue please feel free to submit a PR to fix the documentation. That would be super helpful!

Feel free to add me as a reviewer on PR and I can help review the changes.

[2020-12-08 21:54] bl-ue commented on #1873
@seanmalloy #1888

[2020-12-09 07:03] seanmalloy commented on #1598
/remove-lifecycle stale

[2020-12-09 09:14] #1852 closed

[2020-12-09 09:18] #1873 closed

[2020-12-10 02:28] marcbachmann commented on #1718
It looks like at the moment the targets (ip addresses) are only extracted from loadbalancer declarations of the gateways. The code responsible for that is here: https://github.com/kubernetes-sigs/external-dns/blob/9d2aaf0efeef00ec0633c4681b105bdd95f556ec/source/virtualservice.go#L475-L481

Maybe we could change the code to also retrieve the `ExternalIP` or `InternalIP` of the host where the servic

[2020-12-10 13:34] AmitBenAmi commented on #1647
Is there any update regarding this issue?

[2020-12-10 14:29] Grounz opened #1889 "Question External DNS CluterWide"
Hi,

It's possible to invite me in the slack channel ? I'have attempting to ask a question but is unavailable to connect on kubernetes slack without invitation.

I wanted ask to you, if was possible to have on external-dns pod in kube-system for all cluster ?

I have deploy on external-dns in kube-system namespace and i have a namespace monitoring with ingress controlle which have  annotations for

[2020-12-10 21:56] sheerun commented on #1820
Fix is in master, it should be fixed in v0.7.5 or higher, when released

[2020-12-10 21:56] sheerun commented on #1820
/close

[2020-12-10 21:56] #1820 closed

[2020-12-10 21:57] sheerun commented on #1783
Fix is in master, it should be fixed in v0.7.5 or higher, when released, The issue is probably -1 for ttl of proxied field

/close

[2020-12-10 21:57] #1783 closed

[2020-12-10 21:58] sheerun commented on #1376
I should be fixed for couldflare v0.7.5 or higher, not sure about other providers

[2020-12-10 23:55] mamiu commented on #1441
We're looking for the same (multiple A records per domain) but for another purpose. We'd like to use Round-robin DNS in our cluster. Port `80` and `443` of every node is exposed to the public and can be used as an entry for all routes (handled by ingress-nginx, as described [here](https://kubernetes.github.io/ingress-nginx/deploy/baremetal/#via-the-host-network)).

Or is this already a feature tha

[2020-12-11 20:17] Raffo commented on #1861
## 2020-12-11

We're ready for the release and we will start to prepare that. This will be the last release of 2020.

[2020-12-11 20:18] abatilo opened #1891 "Add an annotation for arbitrary DNS records"
**What would you like to be added**:
I would love to be able to add an additional TXT record with arbitrary data as an annotation to couple the TXT record with the main record that external-dns will create.

**Why is this needed**:
For gRPC services, you can specify configuration via DNS records. What I'd really love to be able to do is add the service configuration to the helm chart I have that's

[2020-12-12 11:58] kienboostml commented on #1257
@arctica can you help to show us what you've done with nodeport? Thanks

[2020-12-13 22:26] aianus commented on #712
Still happening to me on 0.7.4

In the debug logs I can see the endpoints being generated, then the zones being 'considered', and then "All records are already up to date" which they definitely are not.

The policy is set to sync and there is nothing in the zone except NS and SOA

/reopen

[2020-12-13 23:17] ericrrath commented on #1594
/remove-lifecycle stale

[2020-12-14 00:08] aianus commented on #712
This turned out to be a typo, but I think the debug output of external-dns should throw a warning for endpoints that are generated that do not match any zones

[2020-12-14 15:59] #1608 closed

[2020-12-14 16:30] michazt commented on #1608
I closed this issue because we resolved it somehow. We could not resolve the original problem described by me here but we did the latest approach recommended by AWS described here: https://aws.amazon.com/premiumsupport/knowledge-center/amazon-eks-cluster-access/
With this starting new every things works perfectly with externalDNS doing a cross account Route53 access. Unfortunately we could not fin

[2020-12-14 22:46] dpedu commented on #1233
+1

/remove-lifecycle stale

[2020-12-15 17:16] jsnider-mtu opened #1894 "CloudFront target is trying to create CNAME instead of ALIAS in AWS"
**What happened**: I'm trying to specify a CloudFront distribution's domain name as the target, and have included the alias annotation with the value "true". external-dns attempts to create a CNAME record (and TXT) instead of the expected A type alias record. The CNAME and TXT records fail to be created because they use the same name. I know that I can specify a prefix for the TXT records but I've

[2020-12-16 07:11] Riley-sohn opened #1895 "After update from 0.7.4 to 0.7.5 external-dns try to delete ns record"
**What happened**: After update external-dns image from 0.7.4-debian-10-r67 to 0.7.5-debian-10-r0, external-dns try to delete a record and ns record of domain-filter DNS name. After we change image from 0.7.5 to 0.7.4, it's ok.

**How to reproduce it (as minimally and precisely as possible)**: make hostedzone with filtered-domain name and use external-dns to manage that hosted zone

**Anything els

[2020-12-16 09:32] Grounz opened #1896 "OVH - EtxernalDns - Not removed old dns records"
Hello world,

I have a little problem with external-dns and ovh provider.

**What happened**: My DNS records are not deleted when i delete a namespace which contains an inbress and services ressources with external-dns K8S annotations. So in my dns domain i have many dns records which are old.

**What you expected to happen**: I want that my old dns records are deleted by external-dns

**How to re

[2020-12-17 16:47] ari-becker opened #1899 "Route53 record points to internal pod IPs, not NLB address"
**What happened**:
We're beginning to adopt the new AWS Load Balancer controller (v2.1), which supports setting up NLBs that point directly to pod IPs (we use the AWS VPC CNI).

When adding the `external-dns.alpha.kubernetes.io/hostname: example.com` annotation to the service, an A record is created that points to the NLB's pod IP addresses directly. As these pod IP addresses are private, within 1

[2020-12-17 17:50] ahemon opened #1900 "Support adding A record to existing DNS entry in Google"
**Why is this needed**:
We are currently deploying Thanos across multiple kubernetes clusters and we are using DNS discovery to add new prometheus instances to thanos querier.

We deploy prometheus instances with service annotation like:
external-dns.alpha.kubernetes.io/hostname: thanos.my.company.
On all our clusters, it seems that currently if even if we mix registry/policy options we can only a

[2020-12-17 19:51] philippevidal80 commented on #1388
Same issue here but with NS...

`time="2020-12-17T19:50:38Z" level=error msg="Failed to extract targets for '<my>.<domain>.<tld>' with type 'NS'."`

[2020-12-17 20:08] seanmalloy commented on #1781
My understanding is that we still need someone to update the documentation.

/remove-lifecycle stale

[2020-12-17 20:11] sylr commented on #1388
I have https://github.com/kubernetes-sigs/external-dns/pull/1864 for NS which is a superset of #1811.

[2020-12-17 21:33] zhodowanec commented on #1372
I am currently experiencing an issue where External DNS is updating an Azure DNS Apex record for which it does not own. We have tried to create a "false" heritage record to explicitly denote to External DNS that it does NOT own this record, yet the Apex record continues to be updated.

[2020-12-18 06:41] #1663 closed

[2020-12-18 18:40] SailingYYC commented on #1372
We are experiencing this issue currently as well. We have a number of entries in our Azure DNS Zone that are manually managed, this includes the Apex record which points to our production application entry point.

Anytime someone inadvertently/accidentally references the zone name in an Ingress `rules[*].host,tls[*].hosts` or Service annotation, External DNS overrides the Apex record, killing our

[2020-12-18 23:49] patoarvizu commented on #1443
It was kind of hard to find where the new ARM images should be pulled from until I came across this issue (it's not in the FAQ and gcr.io doesn't have the most intuitive search).

I know 0.7.5 isn't officially released yet so maybe that's why it's not documented, but I just wanted to point this out in case it wasn't obvious. Thanks!

[2020-12-19 16:53] JannikZed commented on #1275
I'm having the same issue for service..

[2020-12-19 21:05] Legion2 opened #1902 "No Container Image in k8s.gcr.io/external-dns/external-dns for version v0.7.5"
**What happened**: External DNS `v0.7.5` was [released](https://github.com/kubernetes-sigs/external-dns/releases/tag/v0.7.5). I updated the external dns deployment to version v0.7.5 by changing the container image tag to `v0.7.5`.
After I have applied the new deployment it failed pulling the new image.

**What you expected to happen**: The deployment is successfully updated to v0.7.5

**How to rep

[2020-12-19 22:20] #1680 closed

[2020-12-20 20:13] dpoetzsch commented on #449
Today I set up a new external-dns in google cloud using the [bitnami helm chart version 4.4.3](https://artifacthub.io/packages/helm/bitnami/external-dns/4.4.3) which uses external-dns 0.7.5.

Sadly, it did not create A records for any domains that are the top-level domain of a zone.

My fix was to use a very old image: `registry.opensource.zalan.do/teapot/external-dns:v0.5.7`

Now, everything work

[2020-12-20 22:48] jgrumboe commented on #1894
@jsnider-mtu
Are you using `--aws-prefer-cname`?
Maybe you run into the same as #1809.

[2020-12-21 08:07] Raffo commented on #1443
@patoarvizu this is great feedback, I will add it to the release and README.

[2020-12-21 13:21] james-callahan opened #1903 "kustomization not updated as part of release process"
**What happened**:

#1799.... again (#1709)

https://github.com/kubernetes-sigs/external-dns/blob/v0.7.5/kustomize/kustomization.yaml#L6

**What you expected to happen**:

kustomization updated as part of tagging a release

[2020-12-21 13:29] james-callahan commented on #1902
Seems to work now...

[2020-12-21 13:33] james-callahan opened #1904 "--version command not working?"
**What happened**:

Passing `--version` results in nothing printed
[code]
<details>
<summary>other options (such as `--help` work fine):</summary>

[code]
</details>

**What you expected to happen**:

A version number would be printed

[2020-12-21 13:35] #1902 closed

[2020-12-21 15:06] jsnider-mtu commented on #1894
@jgrumboe No, I'm not. Here are the current arguments:
[code]

[2020-12-21 16:15] Raffo commented on #1903
This is the documented release process: https://github.com/kubernetes-sigs/external-dns/blob/master/docs/release.md . We update it **after** the image is fully built. The reason is that if people reference the kustomize as base they could get an error as the images are manually promoted to the tag. Closing.

[2020-12-21 16:16] Raffo commented on #1895
Thanks for the report, we'll look into this issue.

[2020-12-21 16:26] Raffo commented on #1895
@Riley-sohn can you also try the official image mentioned in the release instead of the bitnami one? I don't know what kind of release process bitnami has and thus not sure of what version they were actually running, given that 0.7.5 is officially available as of today.

[2020-12-21 16:27] seanmalloy commented on #1552
It doesn't look like this feature has been implemented yet.

/remove-lifecycle stale

[2020-12-21 17:11] Raffo commented on #1904
I broke it with the multi-arch support change, see this line https://github.com/kubernetes-sigs/external-dns/blob/master/Makefile#L99. I will take care of fixing it with 0.7.6.

[2020-12-21 19:52] backjo commented on #1895
We are also seeing this bug on AWS - using k8s.gcr.io/external-dns/external-dns:v0.7.5 after upgrading from k8s.gcr.io/external-dns/external-dns:v0.7.4.

[2020-12-21 20:01] backjo commented on #1895
45471b7372636a87f018c1a7bf638957e052da9a seems to have included support for NS records being returned from the registry. In our case, we are managing a hosted zone for foo.bar.com. We also have an A record for the same domain name, pointing to an AWS Load Balancer. It looks like External DNS is seeing the NS record being returned from the registry, not finding any resources which map to it (since

[2020-12-21 20:56] Raffo commented on #1895
@backjo I will take a deeper look at the problem tomorrow. We can think of feature-flagging it for now, but I'd be happy to hear suggestions before I analyze the problem.

[2020-12-21 22:35] backjo commented on #1895
@Raffo haven't thought about it too deeply, but the first thought that comes to mind is that for this use case, there should probably be metadata in the registry that tracks which specific records for a domain name are being managed by external-dns and which records are not.

[2020-12-22 05:25] yardensachs commented on #854
/remove-lifecycle stale

[2020-12-22 11:35] Raffo commented on #1904
I took a look and from what I can see, this log contains info on the most probably cause:https://storage.googleapis.com/kubernetes-jenkins/logs/post-external-dns-push-images/1341146041256251392/artifacts/build.log

[code]

we basically fail to determine the git tag and thus don't pass it to the version build tag. I'm going to take a deeper look at why this is happening.

[2020-12-22 12:09] Raffo commented on #1895
Thank you for the context @backjo , that seems to be quite bad. I will try to reproduce it and fix it as soon as possible which means we'll likely rush 0.7.6 (till we have a better versioning convention, coming next year).

[2020-12-22 17:01] Raffo commented on #1630
I'm going to close this for now as we don't expect to do anything else for the time being.

[2020-12-22 17:01] #1630 closed

[2020-12-23 07:35] james-callahan commented on #1903
This conflicts with the common way to use kustomize, which would be to write e.g.
[code]

[2020-12-23 08:13] Raffo commented on #1903
@james-callahan oh I see, that makes sense. I'll reopen, think about this and decide what to do with it.

[2020-12-23 08:56] daurnimator commented on #1903
One example to follow might be metrics-server: https://github.com/kubernetes-sigs/metrics-server/tree/master/manifests/release

They keep the `base` folder as following git HEAD, but `release` folder contains the an overlay with the most recent released image tag.

[2020-12-23 10:17] Raffo commented on #1903
@daurnimator the problem is really that the v0.7.5 images are not ready when we tag: the tag process is what triggers the job of generating the images. For this reason, if we have anything that is referring to v0.7.5 and someone refers to that, they could end up deploying something pointing to an image that doesn't exist, thus potentially causing an outage. I did not consider that users were using

[2020-12-23 11:01] Raffo commented on #1895
@backjo are you also using google as provider? I don't have a GKE cluster to use to reproduce the bug, but I tried deploying to AWS and I was not able to reproduce the error. Can you please provide the full manifest that you use to deploy ExternalDNS and the full example of what you are doing?

[2020-12-23 13:56] #1213 closed

[2020-12-24 07:03] Gnnng opened #1906 "Upper-case CNAME target causing constantly creation and deletion on Cloudflare"
**What happened**:

When setting an upper-case CNAME target in ingress object through the annotation, ExternalDNS constantly creates and deletes the CNAME record every 1 minute (same as the specified update interval).
[code]

This can be confirmed from Cloudflare audit log as well as ExternalDNS log as below.
[code]

Note that the deletion happens even when `--policy=upsert-only` is set, meaning t

[2020-12-24 10:43] dulltz opened #1907 "AWS: Cannot create A records with the same name as the hosted zone, from Ingress"
**What happened**:

I cannot create an A record with the same name as the hosted zone, from Ingress.

**What you expected to happen**:

I can create an A record with the same name as the hosted zone.

**How to reproduce it (as minimally and precisely as possible)**:

1. Deploy AWS Load Balancer Controller.
1. Log in to AWS.
2. Create hosted zone. (example.com)
3. Prepare the manifests by https://g

[2020-12-24 17:01] Bwvolleyball commented on #1604
This would be a huge win for local kubernetes installs - to enhance the need - I currently run traefik on my home cluster, and so the ability to add local mdns would make it so that I don't need to always use my dynamic dns name and avoid the round trip. In addition, I'd be able to expose some things on my local network that I don't want exposed on the interwebs.

[2020-12-24 18:06] alt4 opened #1908 "OVH provider - Error 460: "This service is expired" on zone deletion"
Hi, I've noticed a minor issue with the OVH provider:

**What happened**:

When a zone is deleted, OVH returns a 460 error until it is fully purged from the API.

This apparently causes external-dns to ignore the remaining zones.

Here is an excerpt from my logs:
[code]

**What you expected to happen**:

Even though the API returns a 460 error for the zone that is being deleted, I suppose external

[2020-12-24 22:27] backjo commented on #1895
@Raffo unlike the original poster, we are using AWS / EKS , not GKE - it appears to be provider agnostic.

Try the following setup:
- Setup external dns 0.7.4 on your cluster
- Create a hosted zone in Route53 for foo.yourdomain.com
- Setup NS records in foo.yourdomain.com using AWS, not ExternalDNS
- Create an ingress with the external dns annotation for foo.yourdomain.com
- Upgrade to 0.7.5 - and

[2020-12-25 13:48] ytsarev commented on #1895
@Raffo @backjo  maybe we should provide a way to skip a specific DNS record type from plan? E.g. make plan condition list configurable, somewhere around https://github.com/kubernetes-sigs/external-dns/pull/1813/files#diff-0967da8a495108f825298b0bc67c95fe9d301a1bd86baadc65a7cb3623686cc3R245

[2020-12-26 18:12] Raffo commented on #1782
/remove-lifecycle stale

[2020-12-27 08:10] anto-n commented on #1807
Seems to describe same as #1105
#1860 suppose to fix the issue.

[2020-12-28 05:35] james-callahan commented on #1903
An outage that would heal itself/is on purpose: alternatively if I upgrade to start using e.g. 0.8.0 features (and env variables), and still just use HEAD, then I'll get mysterious failures in my logs, or worse, ignored pieces of config, rather than an obvious error message and pod status of "unable to pull 0.8.0 image"

[2020-12-28 15:14] nicolas-geniteau commented on #1907
Hello !

I have the same issue with v0.7.5 and not with 0.7.4.

[2020-12-28 21:01] backjo commented on #1895
WDYT about storing information in the registry around which specific record types are being managed for a given domain - I could see an eventual case where I might want to manage some domain NS records via external DNS, but others only maybe the A record.

[2020-12-29 14:05] ytsarev commented on #1659
/remove-lifecycle stale

[2020-12-29 17:41] seanmalloy commented on #219
/remove-lifecycle stale

[2020-12-30 10:12] Raffo commented on #1895
Ok, we took some time with @njuettner to try to reproduce the bug and we managed to reproduce it following the steps that @backjo provided. The issue is clearly created by https://github.com/kubernetes-sigs/external-dns/pull/1813 and we discussed at length how we want to fix it. ExternalDNS was **not** designed to handle custom records as we are doing with the `DNSEndpoint` resource and it never h

[2020-12-30 10:23] rpahli commented on #1826
I had the same issue today. I used the istio operator to install istio and the installation failed. The CRD for the istio gateway resource was missing. after reinstalling of istio it worked.

I also use the fluxcd toolkit but I think it has nothing to do with the toolkit itself.

Version: v0.7.5

[2020-12-31 07:00] samschlegel commented on #1428
Wildcard records can't be proxied for non-Enterprise accounts, so if external-dns is trying to set a wildcard instead of just the single domain, then that could be what's causing the error.

I also ran into this, but in my case, the issue was that my LoadBalancer didn't have the right  of external-dns seems to be using my private IP, which cloudflare won't proxy since it's a reserved IP. Trying to

[2020-12-31 11:09] Raffo commented on #1903
@james-callahan I don't think that would be an acceptable tradeoff given that there are literally days between a tag and the final build of the image. I'm gonna think more about how we can fix it, I would appreciate proposals that take into account the problems that I am surfacing rather than just a request to switch to a different model.

[2021-01-03 05:21] james-callahan commented on #1903
why is there so long?

[2021-01-03 14:12] robselway commented on #1906
I've had a dig into this.

Cloudflare will store CNAME records as lowercase - the [plan logic](https://github.com/kubernetes-sigs/external-dns/blob/6a7fb3a9a714625cf608497c3d62e0d56cec0010/plan/plan.go#L176) (specifically `targetChanged()`) is case-sensitive, meaning your `UpperCase.domain.com` target will always be returned as a change.

Logic in the provider (in this case Cloudflare), which call

[2021-01-04 17:03] backjo commented on #1895
@Raffo In this case, these NS records are in the delegated zone, not the root zone - i.e. this zone is being delegated to from another, higher level hosted zone.

foo.com Zone
NS bar.foo.com ns1.org

bar.foo.com Zone
NS bar.foo.com
A bar.foo.com 192.168.1.1

[2021-01-05 08:49] Raffo commented on #1895
Thank you for the update @backjo , very appreciated. As I said, I will give an update tomorrow with a plan to move forward.

[2021-01-05 08:51] Raffo commented on #1903
Images are manually "promoted" from "staging" images which is a process that happens in a separate repository and is subject to manual approval (naturally async). This is due to how the official CI for the project is set up and this is not under our direct control.

[2021-01-06 21:36] jnicholls commented on #571
I think this would be an excellent feature to be expressible via kube semantics, like other cloud-provider-aws and external-dns features are. Is this issue on anyone's radar at all?

[2021-01-06 21:48] Nilegfx commented on #1776
I am having this issue and I don't use `domain-filter` option at all, any idea how can I stop this?

[2021-01-07 10:23] IronCore864 commented on #819
I request a feature or a bug fix.

Setting `external-dns.alpha.kubernetes.io/hostname: ""` for AWS load balancer controller doesn't work.

I think ignoring one or two ingress objects is a valid requirement.

For example, you are creating an ALB which sends traffic to the website services, but you want to put your apex domain on a CloudFront which uses the ALB as an origin instead of putting the ap

[2021-01-07 10:24] IronCore864 commented on #819
/reopen

[2021-01-07 10:26] IronCore864 opened #1910 "Disable external-dns for specific ingresses"
**What would you like to be added**:

Refer to issue https://github.com/kubernetes-sigs/external-dns/issues/819.
It has been closed and I can't reopen it.
Summary: an annotation, if added into an ingress object, external-dns will not create a DNS record for it.

**Why is this needed**:

Ignoring one or two ingress objects is a valid requirement.

For example, you are creating an ALB which sends tr

[2021-01-07 12:41] LoicAG commented on #1388
Also getting spammed with NS error messages, would love to see these PRs merged 👍

[2021-01-07 16:16] raelga commented on #1730
/remove-lifecycle stale

[2021-01-07 16:16] dmayle commented on #1601
@seanmalloy  @njuettner Any chance this could be accepted?  While I can continue maintaining my fork just for this minor patch, it appears there are others interested in the functionality, and I think the code (and tests) is solid.

[2021-01-07 16:17] raelga commented on #1730
/remove-lifecycle rotten

[2021-01-10 16:49] jgrumboe commented on #1906
@robselway
Thanks for looking into this. I'm not using cloudflare but I think you touched a "global" problem.
I've looked into the DNS RFC (https://tools.ietf.org/html/rfc1035) and on page 8 it states that DNS won't differ on the case.
So I would suggest to solve the upper/lower-case problem very centrally and convert everything to lowercase.

[2021-01-10 19:14] szuecs commented on #1906
Yeah just convert to lowercase makes sense.

[2021-01-11 09:25] universam1 commented on #1895
We are surprised by this bug happening in all of our clusters in AWS Route53 as well!

This is pretty scary that it tries to delete the NS records!

[code]

[2021-01-11 11:26] Raffo commented on #1895
@universam1 I'm a bit late with a fix, but I'm going to be publishing an update today.

[2021-01-11 11:56] universam1 commented on #1895
Thank you for quick response!

Guess what surprised us most that such a change came with a patch version only- we would expect that to be reflected  by a feature or major version bump at least. Our review process is based on semantic versioning principle trust.

Thank you for considering that.

[2021-01-11 12:02] Raffo commented on #1895
For sure we've been lacking a proper versioning strategy that could give better ideas of the change contained in a release. We did however take care of putting good information in the release notes and in fact the release for 0.7.5 contained information on this bug as soon as it was discovered. Again, that's a bug, not a breaking change designed on purpose to be one. I'm in the process of working

[2021-01-11 15:30] szuecs commented on #1517
/remove-lifecycle stale

[2021-01-11 16:15] #1117 closed

[2021-01-11 23:54] jawabuu commented on #449
I can confirm this is a bug in `v0.75` on Google Cloud DNS when attempting to create apex records.
I'm able to reproduce this consistently.

More alarming is the fact that it seems to want to delete `NS` records
Log Output

[code]

[2021-01-12 05:41] vchan2002 opened #1917 "Add some documentation specific to running in Govcloud"
**What would you like to be added**:

Documentation in regards to running in Govcloud

**Why is this needed**:

Govcloud has enough differences and quirks that it would be helpful to call them out in the documentation section for Route53

[2021-01-12 08:15] Raffo commented on #1895
This is what I came up with to work around this issue: https://github.com/kubernetes-sigs/external-dns/pull/1915 . We basically feature flag the NS records support, thus "protecting" the default functionality from ExternalDNS.

[2021-01-12 13:14] anthr76 commented on #1257
Has there been any updates to support IngressRoute CRD?

[2021-01-12 14:32] #1895 closed

[2021-01-12 14:33] Raffo commented on #1895
All right, the fix was merged, I will start the release process later today, we will have an official 0.7.6 image released by the end of the week.

[2021-01-12 16:58] seanmalloy commented on #1609
/remove-lifecycle stale

[2021-01-12 16:59] seanmalloy commented on #1455
/remove-lifecycle stale

[2021-01-12 17:01] seanmalloy commented on #1798
/remove-lifecycle stale

[2021-01-12 17:58] arctica commented on #1257
Nothing fancy, In my traefik-values.yml (using the traefik helm chart) I have the following:

[code]

[2021-01-12 18:52] seanmalloy commented on #1419
/remove-lifecycle stale

[2021-01-12 18:57] seanmalloy commented on #819
@IronCore864 this issue is now reopened.

/reopen

[2021-01-12 18:58] seanmalloy commented on #819
/remove-lifecycle rotten

[2021-01-12 19:00] seanmalloy commented on #819
We will use #1910 instead. Sorry for the confusion.

/close

[2021-01-12 19:00] #819 closed

[2021-01-12 19:17] seanmalloy commented on #1601
@dmayle I'll try to review, but I don't have a lot of time.

/cc

[2021-01-12 19:25] seanmalloy commented on #1672
/remove-lifecycle stale

[2021-01-13 08:59] Raffo commented on #1861
## 2021-01-13

External DNS v0.7.6 will be released by the end of the week (2021-01-17) and it will be mostly a bugfix release.

[2021-01-13 15:36] edglynes commented on #1846
From: Kubernetes Prow Robot <notifications@github.com>
Sent: Wednesday, January 13, 2021 4:05 AM
To: kubernetes-sigs/external-dns <external-dns@noreply.github.com>
Cc: Lynes, Edward <elynes@akamai.com>; Mention <mention@noreply.github.com>
Subject: Re: [kubernetes-sigs/external-dns] Refactor, cleanup Akamai provider (#1870)

Merged #1870 into master.
—
You are receiving this because you were menti

[2021-01-13 15:36] #1846 closed

[2021-01-13 15:53] seanmalloy commented on #1431
/remove-lifecycle stale

[2021-01-13 15:53] seanmalloy commented on #1596
/remove-lifecycle stale

[2021-01-13 17:04] #1917 closed

[2021-01-13 22:20] juandiegopalomino opened #1920 "External DNS not recognizing requests for records in root domain of AWS hosted zone"
**What happened**:
I have setup external-dns on an EKS cluster (latest version, 1.18.9, just spun it up yesterday), complete with the IAM permissions for changing route53 without reservation. On the same account I have a hosted zone for domain "x.y.dev". I tell external dns via a service (of type load balancer) annotation to bind "x.y.dev,*.x.y.dev", but only the records (A and TXT) for *.x.y.dev

[2021-01-14 01:49] haslersn commented on #523
Has this since been added as a feature? Because I don't have this issue.

[2021-01-14 02:25] gyalowitzdtlr commented on #1775
/remove-lifecycle rotten

[2021-01-14 03:29] haslersn commented on #1053
not stale

[2021-01-14 11:28] Raffo commented on #1895
I manually tested the change on AWS and I can confirm that the regression is fixed. We proceed with the release of `v0.7.6`.

[2021-01-14 12:52] bitsofinfo commented on #1053
/remove-lifecycle stale

stale bots are so annoying

[2021-01-14 15:30] lukasmrtvy opened #1921 "Azure Private DNS: dash in domain name -> fail from REST Azure"
**What happened**:
DNS record created from ingress host name containing "dash" ( `-` ) is not possible to create in Azure Private DNS.

Log:
[code]

**What you expected to happen**:
`traefik-l4.observability.example.com` CNAME is created

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
no

**Environment**:
- External-DNS version (use `e

[2021-01-14 15:35] #1921 closed

[2021-01-14 19:43] qdm12 commented on #1674
@lweberru Do you have any clue where that dyndns v2 specification can be found? I can't find it anywhere...

[2021-01-14 23:14] spacepluk commented on #449
Thanks :)

[2021-01-15 00:08] devstein commented on #1718
@Raffo Any updates on this issue?

[2021-01-15 09:10] simox-83 commented on #1790
Hello,
is there any news about the problem above please?
Thanks!

[2021-01-15 15:21] dicolasi commented on #1910
I got exactly the same problem. Need to disable external-dns to override a TXT entry. How do I do that?

[2021-01-15 15:47] #1588 closed

[2021-01-15 15:47] #1522 closed

[2021-01-15 15:47] #1571 closed

[2021-01-15 19:00] ytsarev opened #1923 "External-dns project scope"
Recently we faced the unclarity in the scope of the project.

We faced the situation when

1. Main project maintainers reasonably try to keep the scope focus to the original external-dns use case. That is, the creation of A/CNAME ecords from associated Service and Ingress objects, see https://github.com/kubernetes-sigs/external-dns/issues/1895#issuecomment-752402644

2. Meanwhile community frequen

[2021-01-15 19:04] ytsarev commented on #1923
/assign @Raffo @njuettner

[2021-01-16 12:45] lweberru commented on #1674
Hi,

What i found is that:

https://sourceforge.net/p/ddclient/wiki/protocols/#dyndns2

Von meinem iPad gesendet

Am 14.01.2021 um 20:44 schrieb Quentin McGaw <notifications@github.com>:

﻿

@lweberru<https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Flweberru&data=04%7C01%7C%7Cd228fc43a72b44ae784308d8b8c4c565%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C63746250254903

[2021-01-17 05:24] #1699 closed

[2021-01-17 06:25] #1471 closed

[2021-01-17 11:12] Raffo commented on #1923
Thanks for the issue @ytsarev . I'm gonna chat about this with @njuettner on our weekly meeting. I'd love to see the community chip in in this, we can also extend it to a video chat in which we discuss it, I'd be open to that.

[2021-01-17 15:10] qdm12 commented on #1674
Yeah although that's not really helpful as they don't precise where to have these values (url, body, json body etc.?).

Anyway if that can help I figured it our it seems: [source in Go](https://github.com/qdm12/ddns-updater/blob/b40391bb4e7d39c404b5de256ad9b0f29d5c7b40/internal/settings/strato.go#L92)

Good luck!

[2021-01-17 23:29] jgrumboe commented on #1910
@IronCore864
But what's wrong about this answerhttps://github.com/kubernetes-sigs/external-dns/issues/819#issuecomment-597240261 in the old PR?
To use an annotation-filter with a 'not in' expression would be an exact solution for your problem. Or do I miss something?

[2021-01-18 00:43] #1713 closed

[2021-01-18 09:42] IronCore864 commented on #1910
Hi @jgrumboe, thanks for pointing it out.

What if I have only 1 ingress controller? This isn't because "not creating DNS records for internal ingress", but rather for a "specific" one (or ones).

Is there another filter that I can use?

I tried:

[code]

and

[code]

But it did not work as expected.

[2021-01-18 09:49] jgrumboe commented on #1910
You can filter on any existing annotation or "create" your own one if you want, there's no special requirement.

If `alb.ingress.kubernetes.io/group.name: default` is the annotation you want to filter on your configuration should also reflect the whole annotation name, i.e. `--annotation-filter="alb.ingress.kubernetes.io/group.name notin (default)"`.

I can't check right now, because I haven't got

[2021-01-18 10:13] IronCore864 commented on #1910
Thanks for the update!

I did not include the "full" name of the annotation because, in the answer in the other issue, it used "ingress.class" instead of the full "kubernetes.io/ingress.class".

Just tried, using the full annotation name as the filter worked.

I personally still think that this is a "hack" because as a team using an existing k8s cluster but not managing it thus don't know how the

[2021-01-18 10:14] IronCore864 commented on #1910
@dicolasi the solution above might work for you as well.

[2021-01-18 10:23] jgrumboe commented on #1910
@IronCore864  I'm glad it worked out.
I do get the point you wanna aim at, regarding the separation of using and managing a cluster. I've worked at a company for many years where we also had this problem. The best solution was always to communicate. The platform owners communicated via wiki pages and other means how the platform was designed to be used. This would also include configuration option

[2021-01-18 22:04] #1211 closed

[2021-01-19 00:06] zeppelinen commented on #632
Any updates or workarounds?

[2021-01-19 11:00] szuecs commented on #1810
/remove-lifecycle stale

[2021-01-19 11:25] szuecs opened #1926 "add support for wildcard domains"
related: https://github.com/kubernetes-sigs/external-dns/issues/1810

I think we do not support wildcard domains, because ingress spec did not allow them in v1beta1 and IIRC also not in v1.

People are now working on ingress v2 (aka gateway resource), see also http://sigs.k8s.io/service-apis.

For CRDs we can easily add on our side wildcard and external-dns source CRD has no restriction to the str

[2021-01-19 11:25] #1926 closed

[2021-01-19 11:28] szuecs opened #1927 "add support for wildcard domains"
related: https://github.com/kubernetes-sigs/external-dns/issues/1810

**What would you like to be added**:

 I think we do not support wildcard domains, because ingress spec did not allow them in v1beta1 and IIRC also not in v1.

People are now working on ingress v2 (aka gateway resource), see also http://sigs.k8s.io/service-apis.

For CRDs we can easily add on our side wildcard and external-dns s

[2021-01-19 21:44] jgrumboe commented on #1927
@szuecs
I think you would also need to add "-" (dash) as a valid character for the regex matching the wildcard '*'.

[2021-01-20 11:19] Raffo commented on #1923
Me, @njuettner and @linki chatted about this issue and while we did not reach an agreement on how to move forward with a decision, I thought I would share an update on the topic:

- we did restate that the original goal of the project is to solve a simple use case of CNAME and A records.
- we did acknowledge that there is interest in different types of record and how this clashes with the default

[2021-01-20 15:09] seanmalloy commented on #1664
/remove-lifecycle stale

[2021-01-20 19:55] szuecs commented on #1927
@jgrumboe updated, thanks

[2021-01-20 21:42] danopia commented on #1923
Hi, I'm offering a voice here as someone who expected too much from external-dns. The CRD source seemed like a really powerful step up when I came across it. In particular I wanted external-dns to satisfy cert-manager challenges & to create A/AAAA records pointing to a CDN. It took a week or two for me to realize the CRD source was an over-promise. If external-dns wants to block expanding scope th

[2021-01-21 07:44] #1910 closed

[2021-01-21 07:45] IronCore864 commented on #1910
Thanks for the feedback!

[2021-01-21 17:52] Raffo commented on #1923
@danopia will take a look at your AAAA PR and your project to see if it can inform where we need to take ExternalDNS. One thing that I mentioned when talking with the other maintainers is that I would love to avoid generating many forks as this is exactly the type of situation that we wanted to avoid when the project was created. The issue now is really having capacity to maintain the project.

@y

[2021-01-21 18:29] ytsarev commented on #1923
@Raffo great, but if we add the next DNS record type support (as requested in #1647 ) is it ok to proceed with the flagged approach at the moment?

[2021-01-21 18:59] Raffo commented on #1923
I would love to wait for another loop with the other maintainers before merging more record types.

[2021-01-21 19:23] ytsarev commented on #1923
got it, makes sense, will watch this discussion closely

[2021-01-21 19:46] Timoses commented on #1841
/remove-lifecycle stale

[2021-01-21 20:55] chris-makaio commented on #1814
/remove-lifecycle stale

[2021-01-22 10:26] #1749 closed

[2021-01-22 11:54] stephan2012 opened #1929 "AWS Route53 and shared service IP address: InvalidChangeBatch: Duplicate Resource Record"
**What happened**:

We are using MetalLB’s capability to [share same external IP address](https://metallb.universe.tf/usage/#ip-address-sharing) with two or more Kubernetes services (through the `metallb.universe.tf/allow-shared-ip` annotation) and assign the same hostname through the `external-dns.alpha.kubernetes.io/hostname` annotation. Unfortunately, this results in errors with the AWS Route53

[2021-01-23 16:38] d-shi commented on #1474
I just tried the latest release (0.7.6), and am seeing that it is trying to manage the A record for an ingress that has an existing A and TXT record that does not match the registry. It is then failing to update the entire rest of the batch:

[code]

I would like to make external-dns-controller ignore this one ingress, which I need special management of with other tools, but it is in the same host

[2021-01-24 00:25] reesericci opened #1930 "Pi-hole support"
**What would you like to be added**:
Pi-hole support as dns provider.
**Why is this needed**:
I use my kubernetes in my homelab and pihole as my network level dns. I would like to be able to use my pihole with external-dns.

[2021-01-24 09:51] alexnederlof opened #1931 "New ingress class not picked up by External-DNS"
**What happened**:
While using External-DNS on K3s, the external-DNS annotations do not get picked up in Kubernetes 20, where the ingress class is `apiVersion: networking.k8s.io/v1` instead of the old `apiVersion: extensions/v1beta1`

It seems like [external-dns relies on it being v1beta](https://github.com/kubernetes-sigs/external-dns/blob/c47ac9ba46efd4b8a2fcd7a1c186789cb3aaeb51/source/ingress.g

[2021-01-25 07:09] tokyo2006 commented on #1790
We have the same issue！

[2021-01-25 08:43] gfthybridlabs commented on #1826
Interestingly I get the same issue. With v0.7.4+ having moved from Istio (Anthos Service Mesh version) 1.7.3 to 1.7.6. with only the timeout message from the OP being seen.

Moving external-dns back to v0.7.3 I get the following:-
[code]

Looking at api-versions might be a thing as mentioned with the Istio API changes - or the above is throwing a config error - I'll look into that:-
[code]

[2021-01-25 12:24] NBroomfield commented on #1656
Dito, anyone got any idea how to get external DNS working, I've followed the instructions here...https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure.md

[2021-01-25 17:03] mountaineerduke opened #1932 "how do I remove stale dns entries"
I am using external dns to create route53 entries in AWS.  Works great.  At some point however, I had to delete the deployments and redeploy everything.  All the new entries are generated / edited correctly.  Some entries however keep getting recreated even though there are no deployments/helm charts, etc that reference them anymore.  I can manually remove them from AWS but they keep coming back.

[2021-01-25 17:43] #1435 closed

[2021-01-25 20:46] #1297 closed

[2021-01-26 08:01] stefanvangastel opened #1933 "External-DNS deletes and creates Infoblox records each time (version 0.7.x)"
**What happened**:
External-DNS Infoblox provider keeps deleting and re-creating A records

**What you expected to happen**:
Do nothing or update a record

**How to reproduce it (as minimally and precisely as possible)**:
Deploy using these settings:

[code]

**Anything else we need to know?**:

**Environment**:
- External-DNS version (use `external-dns --version`): 0.7.3 and 0.7.5 were tested
- D

[2021-01-26 08:06] ytsarev commented on #1933
I've also noticed this behavior with infoblox provider

[2021-01-26 08:46] abatilo commented on #1845
Ping.

[2021-01-26 11:23] vsabella commented on #1457
@flyer299 not sure if you fixed this - but setting "AZURE_ENVIRONMENT" as environment variable for pod

[2021-01-26 12:34] stefanvangastel commented on #1933
Oke, we solved this issue. Trying to set the TTL caused this. Removing the `external-dns.alpha.kubernetes.io/ttl: "60"` annotation fixed this.

[2021-01-26 13:06] njuettner opened #1934 "Improve semantic versioning"
I'd like to come up with a proposal how we could semantic versioning in a better way.

### Context

Currently we only bump patch version but I think we should be more aware of what PR's we are merging. We should have a common agreement when we upgrade patch, minor or major version.

### Proposal

**Patch** version should be updated if we need to merge bugfixes, e.g. provider a does need a fix in o

[2021-01-26 13:22] ytsarev commented on #1933
still a bug if one needs to set the TTL

[2021-01-26 13:24] stefanvangastel commented on #1933
True, and the fact that the infoblox provider doesn't seem to do anything with the TTL at all (judging on a quick search in the code).

[2021-01-26 22:29] Raffo commented on #1933
The TTL seems to be a recurring issue, it happened before for cloudflare and I believe it was fixed. I can take a brief look at the code to see why, but it smells provider specific.

[2021-01-27 09:14] Raffo commented on #1931
ACK that we have seen this, it's correct that we don't support it yet. We're gonna make this a priority for the next release.

An example of other projects handling this problem can be found here: https://github.com/traefik/traefik/blob/0509b6fdb91f2df45c770fb64f293ed7321e5900/pkg/provider/kubernetes/ingress/client.go#L234

[2021-01-27 10:29] zedtux opened #1935 "OVH: "0 changes will be done" all the time"
**What happened**:
I've deployed ExternalDns 0.7.6 in my Kubernetes cluster in version 1.20 and configured it with the `ovh` provider, filtering the domain on one of the many I have using `--domain-filter` as [the doc tells to do so](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/ovh.md).

A word about the credentials: As it is the first time I'm trying ExternalDns, whe

[2021-01-27 12:44] zedtux commented on #1935
I finally figured it out!

I was always passing my domain name, without any sub-domains ... which make sens to have no updates 🤦‍♂️ .
Updating my annotation with a sub-domain made the magic happening 🌟 .

Sorry for the noise !

[2021-01-27 12:44] #1935 closed

[2021-01-27 13:27] DanielCalvo opened #1936 "Broken HTTP links on /docs/tutorials/alb-ingress.md"
Hey everyone!

On [alb-ingress.md](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/alb-ingress.md), the following links are broken:

[1] - https://kubernetes-sigs.github.io/aws-alb-ingress-controller/

[2] - https://kubernetes-sigs.github.io/aws-alb-ingress-controller/guide/controller/setup/

[3] - https://kubernetes-sigs.github.io/aws-alb-ingress-controller/guide/contro

[2021-01-27 14:23] craigfurman opened #1937 "Publish clusterIPs of NodePort services"
**What would you like to be added**:

I would like to use external-dns to publish the private clusterIPs of NodePort services. NodePort services are assigned a clusterIP by default, even if it is not used.

**Why is this needed**:

My current specific use case is that I have some internal services running in a GKE cluster that I want to be internet-routable, but only accessible by a group of authe

[2021-01-27 14:25] craigfurman commented on #1937
If the maintainers are interested in this feature, I'd be happy to make a PR. I'm not familiar with the codebase, but I'd guess that we'd need another annotation to instruct external-dns on what IP to pick on Services that have more than 1 possible IP.

[2021-01-28 01:27] ericrrath commented on #1700
/remove-lifecycle stale

[2021-01-28 01:30] ericrrath commented on #1700
@Raffo and @njuettner - any chance either of you have time to review this?  OCI instance principal authentication is very beneficial for people running external-dns in Oracle's OCI - it obviates passing keys around.  Any attention and scrutiny is appreciated.

[2021-01-28 08:09] #1552 closed

[2021-01-28 08:09] Raffo commented on #1934
@njuettner This makes sense to me. Do we need record of this decision (in a document) or should we just consider this the decision record and close the issue?

[2021-01-28 11:25] brumhard opened #1940 "Outdated FAQ for traefik v2 standard ingress"
To not confuse this with other open issues: this issue is **not** about the crds introduced by traefik v2 but about the standard ingress used with traefik.

The current FAQ states the following:
[code]

Sadly this is not valid anymore for the new [helm chart](https://artifacthub.io/packages/helm/traefik/traefik) that uses the v2 version of traefik.

Here the correct way to support external-dns wou

[2021-01-28 11:48] #1070 closed

[2021-01-28 12:49] #1723 closed

[2021-01-28 15:24] psoares commented on #1470
Just hit the same issue. Can we reopen it?

[2021-01-29 08:13] stevehipwell opened #1941 "Official Helm chart"
**What would you like to be added**:

It would be great if there was an official _Helm_ chart for _ExternalDNS_ and I'd be happy to contribute towards this.

**Why is this needed**:

_Helm_ is the defacto way to install a service into a K8s cluster but currently there isn't an official chart to install _ExternalDNS_.

[2021-01-29 15:19] psoares opened #1944 "Unable to use regional STS VPC endpoint"
**What would you like to be added**:
As described in #1470, EKS clusters without outbound internet access fail to register records in route53. The failure is described in #1470:
[code]

**Why is this needed**:
external-dns should provide options to configure the usage of sts vpc endpoints instead of the public endpoint sts.amazonaws.com. Those would be accessible by private EKS clusters with no in

[2021-01-30 00:24] #1458 closed

[2021-01-30 15:51] hokamc opened #1945 "Cloudflare fail to create A record"
**What happened**: Cannot create A record.
`level=error msg="failed to create record: error from makeRequest: HTTP status 400: content \"{\\\"result\\\":null,\\\"success\\\":false,\\\"errors\\\":[{\\\"code\\\":1004,\\\"message\\\":\\\"DNS Validation Error\\\",\\\"error_chain\\\":[{\\\"code\\\":9004,\\\"message\\\":\\\"This record type cannot be proxied.\\\"}]}],\\\"messages\\\":[]}\"" action=CREAT

[2021-01-31 05:58] jeffspahr commented on #1945
Try removing the `--cloudflare-proxied` option in your config.

[2021-01-31 15:40] hokamc commented on #1945
but I want my record to be proxied.

[2021-02-01 20:33] awesomes007 commented on #1782
Thank you!  We rant into this issue too.  We didn't have to change the azure.json file, but just had to change the expressions in our Private ExternalDNS deployment vs. our Public.  That may have been what RaptorLjung was trying to say I just didn't interpret it at first.

`apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns
spec:
  strategy:
    type: Recreate
  selector:
    matc

[2021-02-02 02:41] TechnoTaff commented on #1945
Counter-intuitively, this worked for me when I set:

```    external-dns.alpha.kubernetes.io/cloudflare-proxied: false```

On the ingress... this seems wrong to me?

[2021-02-02 03:50] TechnoTaff commented on #1945
Actually - I can't get this to work at all now. I'm seeing the same thing as you:
[code]

I have tried setting "cloudflare-proxied" to true, false and also left it un-set.

[2021-02-02 07:27] hokamc commented on #1945
I checked the audit log and found the request body.
`{
  "content": "127.0.0.1",
  "name": "xxx.zzz.com",
  "proxied": true,
  "Ttl": 1,
  "type": "A"
}`
for my case, seems that external-dns cannot get correct external ip

[2021-02-02 13:56] loozhengyuan commented on #1945
If I'm not wrong, a [loopback IP cannot be set as the target for a proxied A record](https://community.cloudflare.com/t/creating-an-a-record-pointing-to-127-0-0-1/134768) on Cloudflare, which should explain the `This record type cannot be proxied` error message from the API.

I think what remains is the issue of `external-dns` picking up `127.0.0.1` as the external ip.

@hokamc, are you able to co

[2021-02-03 08:48] #1936 closed

[2021-02-04 07:58] hokamc commented on #1945
I am using metallb and nginx ingress controller for load balancer, I found that ingress cannot get correct ip from load balancer. Since external-dns use address of ingress as target, this causes problem. This probably is not the problem of external-dns. I will close this issue later.

[2021-02-04 15:36] OvervCW opened #1948 "Documentation for parameters"
The code provides a reasonable overview of all available parameters here:

https://github.com/kubernetes-sigs/external-dns/blob/master/pkg/apis/externaldns/types.go#L299

However, this is not as easy to read as a table on a documentation page, like [this one](https://oauth2-proxy.github.io/oauth2-proxy/docs/configuration/overview#command-line-options). Are there any plans for adding such a page to

[2021-02-04 15:37] OvervCW commented on #1948
/kind documentation

[2021-02-04 19:42] polivbr opened #1949 "Istio VirtualService w/multiple gateways using same LB service results in duplicate endpoints"
**What happened**:

When an Istio VirtualService is configured with multiple gateways which use the same LB service (as happens with KNative), duplicate endpoints are created, which are then rejected by some providers (Azure Private DNS for example).

**What you expected to happen**:

Duplicate endpoints are filtered out.

**How to reproduce it (as minimally and precisely as possible)**:

Create a

[2021-02-05 01:32] TechnoTaff commented on #1945
Yes, my report was also a mistake. I had a string field entered as a numeric:

```external-dns.alpha.kubernetes.io/ttl: 120```

instead of:

```external-dns.alpha.kubernetes.io/ttl: "120"```

And that caused *all* of my annotations to be ignored.

[2021-02-05 10:54] ajpauwels commented on #449
@jawabuu @spacepluk after way too long trying to resolve this, a single patch version change was the fix. thank you!

[2021-02-05 11:00] ajpauwels commented on #1907
Can confirm this issue exists when trying to create an A record on the apex domain in 0.7.5 but not in 0.7.4. You also need to make sure you have no TXT records in the root.

[2021-02-05 11:57] #1557 closed

[2021-02-05 15:27] timhaak commented on #1894
@jsnider-mtu did you solve your problem.

I'm currently hitting the same problem.

No "--aws-prefer-cname" set anywhere :(

[2021-02-05 15:36] jsnider-mtu commented on #1894
@timhaak No, I never solved it.
I'd recommend using the txt prefix option if you wish to have CNAMEs pointing to Cloudfront. Existing TXT records can be duplicated with the prefix before updating external-dns options so that it doesn't lose track of them.

[2021-02-05 15:40] timhaak commented on #1894
Unfortunately, my problem is trying to get the root domain pointing at the cluster.

So need the aliases to work.

I already have txt prefix enabled to get around this.

Though thanks for the quick reply :)

[2021-02-05 16:02] unixfox commented on #1812
/remove-lifecycle stale

[2021-02-05 18:28] timhaak commented on #1894
Ok for anyone else who is hitting this problem.

Updating to the latest version fixed it form.

Should have started with that but was following the examples on https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/integrations/external_dns/

If you have as well you will need to update the RBAC as well.

Follow this https://github.com/kubernetes-sigs/external-dns/blob/master/d

[2021-02-05 23:48] dewnull commented on #883
FYI, I had the same problem and as other suggested the issue was that I had two different external dns deployments with the same `txt-owner-id`. They were deleting each others records. As a temporary fix I used `--policy=upsert-only`

[2021-02-07 10:10] Raffo commented on #1941
Closing as duplicate of https://github.com/kubernetes-sigs/external-dns/issues/1797 . We do not plan to support a helm chart.

[2021-02-07 10:19] stevehipwell commented on #1941
@Raffo do you have an explanation of why not? I believe you already maintain yaml for deployment? A Helm chart would just be that with variable replacement.

[2021-02-07 10:38] Raffo commented on #1931
I took a deeper look at this issue and it looks like this will be slightly more involved than I thought. Kubernetes 1.20 has *both* `networking.k8s.io/v1` and `networking.k8s.io/v1beta1`. `extensions/v1beta1` is also still supported, but kubectl will default to `networking.k8s.io/v1`. I'll be thinking how to implement this decently in code 😅

[2021-02-07 10:52] Raffo commented on #1940
I'm happy to approve a PR with the corrections.

[2021-02-07 10:53] Raffo commented on #1932
ExternaDNS has no caching, so if they keep getting recreated it means that you still have the objects in Kubernetes.

[2021-02-07 10:53] #1932 closed

[2021-02-07 12:32] Raffo commented on #1941
We don't think there is any added benefit and it would only add complexity to the release process. The community is absolutely free to maintain their own chart.

[2021-02-08 08:26] stevehipwell commented on #1941
@Raffo there isn't currently a community _Helm_ chart (the Bitnami chart is a Bitnami chart not a community chart). There are other sig projects (_descheduler_, _cluster-autoscaler_ and _metrics-server_) that have either added or are in the process of adding a _Helm_ chart and I was under the impression that this was the current direction of travel? If not do you have a suggestion of where in the

[2021-02-08 09:21] Raffo commented on #1941
@stevehipwell There used to be a community maintained official chart in https://github.com/helm/charts/tree/master/stable/external-dns , unfortunately they decided to deprecate everything in the repo to push https://artifacthub.io/ .

What is the problem with the Bitnami chart?

I am not aware of any decision, helm is not a standard nor enforced in any way by the community. I would be happy to rea

[2021-02-08 09:25] stevehipwell commented on #1941
@Raffo thank you for your clear and detailed responses. I'll go ahead and create a chart based on the deprecated community chart and your deployment yaml in my chart repo for the time being. If at any point you'd like to own the chart as part of this repo I'll submit it as a PR and deprecate it on my repo (this is what I did for _descheduler_).

[2021-02-08 19:16] rlewkowicz opened #1952 "Infoblox multiple istio service ip issue"
I have 2 istio ingress service objects.

[code]
These will both route back to the same deployment .

Then my gateway references gateway 2

[code]

Looking at the debug logs, I believe it's getting both an then removing one:
[code]

Being that I reference gateway2, it should be using that second ip address, 10.2.212.101.

@saileshgiri it says youre the maintainer, any thoughts?

**Environment**:
-

[2021-02-08 23:19] #1376 closed

[2021-02-09 15:43] #1945 closed

[2021-02-09 17:12] povils commented on #1441
Same here: we have many short-lived clusters and external-dns seems would be a good fit to automate these DNS records for our API gateways

[2021-02-10 08:38] george-angel commented on #409
/remove-lifecycle stale

[2021-02-10 08:38] george-angel commented on #484
/remove-lifecycle stale

[2021-02-10 09:44] linki commented on #1931
We are currently running `networking.k8s.io/v1` and `networking.k8s.io/v1beta1` ([source](https://github.com/search?q=networking.k8s.io+repo%3Azalando-incubator%2Fkubernetes-on-aws+extension%3Ayaml&type=Code&ref=advsearch&l=&l=)) at the same time on a Kubernetes 1.19 cluster with ExternalDNS v0.7.6 and it works (though we are not using the annotation).

I also confirmed that `networking.k8s.io/v1`

[2021-02-10 12:01] Raffo commented on #1931
@alexnederlof  can you paste a full example of the ingress yaml that you are using?

[2021-02-10 14:12] kda-jt opened #1953 "External-DNS controller managing a zone it does not own"
## Context
My organization has a Kubernetes cluster for production, and another one for staging.
Each cluster has an External-DNS controller with the Cloudflare provider.

Production services are available on 2 DNS zones:
* `example.com` (eg. `awesome-service.example.com`)
* `prod.example.net` (eg. `great-service.prod.example.net`)

Staging services are available on one DNS zone:
* `example.net` (

[2021-02-10 15:58] SamDecrock commented on #342
You can also use `CF_API_TOKEN` instead:

[code]

[2021-02-10 17:36] alexnederlof commented on #1931
Sure thing! I think btw that k3s is just a little over ambitious and is deprecating this API version sooner earlier than planned in the official k8s documentation

[code]

[2021-02-10 20:59] SamDecrock opened #1954 "Slow"
Hi,

I was wondering if it's a misconfiguration on my part or if it's the way ExternalDNS works but it feels like this is really slow.

When adding a new ingress rule, it takes up to 1 minute for ExternalDNS to take action, even after adding the `--events` flag. This is in great contrast with cert-manager who requests a Let's Encrypt certificate the moment it sees a new ingress/tls entry.

Can I d

[2021-02-11 10:04] unixfox commented on #1263
/remove-lifecycle stale

[2021-02-12 09:16] #1520 closed

[2021-02-12 13:40] olegelantsev-tomtom commented on #1456
Hey @thomas-riccardi ,

Since you use aad-pod-identity, you probably install it into the cluster with helm chart (unless you use preview feature aadpodidentity of AKS), and it's chart already supports installation for AzureIdentity and AzureIdentityBinding for the managed identities. For example:

[code]
I took the details the chart here - https://github.com/Azure/aad-pod-identity/tree/master/char

[2021-02-12 13:45] olegelantsev commented on #1456
Hey @thomas-riccardi ,

I guess you also install aad-pod-identity with helm chart, and that chart already supports installation identities with AzureIdentity and AzureIdentityBinding, for example:

[code]

Would that solve the issue for you?

The helm chart for the External-DNS would still need to support user-defined managed identity.

[2021-02-12 15:40] seefor opened #1958 "Infoblox Host Creation and A Record"
**What would you like to be added**:
I would like to add the "host" creation and PTR creation to external-dns?
Host
curl -k1 -u sif-api:test123 -H "Content-Type: application/json" -X POST https://10.10.10.10/wapi/v2.2.2/record:host -d "{\"ipv4addrs\":[{\"ipv4addr\":\"10.218.149.128\"}], \"name\":\"test.sql.sifbaksh.net\"}"

PTR
curl -k1 -u sif-api:test123 -H "Content-Type: application/json" -X POS

[2021-02-12 16:40] H3rman8 commented on #1432
/remove-lifecycle rotten

[2021-02-12 18:34] danvaida opened #1959 "External DNS keeps upserting when --txt-prefix is used with Route53"
**What happened**: External DNS keeps upserting when `--txt-prefix` is used with Route53
[code]
This gets repeated every minute.

**What you expected to happen**: No upserts should take place if records already exists and no configuration changed.

**How to reproduce it (as minimally and precisely as possible)**: use `--txt-prefix` and create a service using the External DNS annotation and observe

[2021-02-12 21:53] devkid commented on #1105
/remove-lifecycle stale

[2021-02-12 21:55] devkid commented on #1175
/remove-lifecycle stale

[2021-02-13 15:31] ConnorJC3 commented on #1281
Still wanted.

/remove-lifecycle stale

[2021-02-14 09:50] lukasmrtvy commented on #1454
/remove-lifecycle stale

[2021-02-14 16:05] Raffo commented on #1931
@alexnederlof I think the issue is really with k3s. I tried with both `extensions/v1beta1` and `networking.k8s.io/v1` and it all works.

I am running on Azure AKS with the following versions:

[code]

At this point, I'm starting to think that there is nothing to do in ExternalDNS 🤔

[2021-02-14 16:07] Raffo commented on #1954
You can tune the interval that is used to watch for changes. Please note that "fast" and "slow" here mean very little as the time for DNS to propagate will anyway be where most of the time will be spent. This to say: there's no reason for ExternalDNS to be particularly fast as DNS is "slow" anyway.

[2021-02-14 16:07] #1954 closed

[2021-02-15 07:56] alexnederlof commented on #1931
In that case I will close the issue. Thanks for looking into it! 😄

[2021-02-15 07:56] #1931 closed

[2021-02-15 09:03] fiskhest commented on #1453
/remove-lifecycle stale

[2021-02-15 12:11] orlin-filev-axway commented on #1907
Encountered same issue with 0.7.5.
Does not happen with 0.7.4.

[2021-02-15 15:56] #1787 closed

[2021-02-15 18:34] tsutsu opened #1961 "Manage multiple zones with single ExternalDNS deployment using CRDs"
**What would you like to be added**:

I propose that ExternalDNS be extended with a distinct operational mode, where:

* Instead of managing a single global per-process provider+zone as global state, ExternalDNS would instead keep a set of top-level "DNS Zone binding" objects, each with their own provider/zone config, and would run a separate sync loop goroutine for each object;
* these zone-bindi

[2021-02-15 20:14] robselway commented on #1953
Hi @kda-jt

It looks like using the domain filter will result in `example.com` matching `prod.example.com`, which explains the issue you're seeing (I think [this test case](https://github.com/kubernetes-sigs/external-dns/blob/57ea816d623840acbe01379166945df957d4d42e/endpoint/domain_filter_test.go#L154) proves it).

I'm unsure if this is by design or a bug (I guess the assumption was that a subdoma

[2021-02-15 22:26] Nuru commented on #1210
/remove-lifecycle stale

Is this feature production ready? Available for testing?

[2021-02-16 00:20] Diaoul commented on #1792
/remove-lifecycle rotten

[2021-02-16 05:20] sanbornick commented on #1198
/remove-lifecycle stale

[2021-02-16 09:16] vrabbi commented on #216
@seanmalloy is this being worked on?

[2021-02-16 11:15] Zeka13 commented on #1454
What is a workaround? Daploy multiple external-dns?

[2021-02-16 14:59] seanmalloy commented on #216
Looks like the Go Daddy provider was merged in #1924.

/remove-lifecycle stale
/close

[2021-02-16 14:59] #216 closed

[2021-02-16 15:03] seanmalloy commented on #1605
/remove-lifecycle stale

[2021-02-16 15:46] rlewkowicz opened #1963 "Client Credentials for Route 53"
If I'm not in aws, but would like to use route53 I need a way to use client credentials instead of iam roles. It may be possible, but the docs do not make it clear

[2021-02-17 01:34] ajayk commented on #1904
@Raffo I can take a stab at this , is there a way to access the staging builds and reproduce this in a separate fork / branch?

[2021-02-17 08:55] njuettner commented on #1963
You can always use environments, those should get picked up by external-dns instead of an IAM role.
[code]

[2021-02-17 08:59] #1940 closed

[2021-02-17 09:05] #1906 closed

[2021-02-17 17:17] sudermanjr commented on #1826
FWIW, I had a similar issue with an older Istio version that used the older CRDs and external-dns 0.7.3+.  The real issue here seems to be that he logging is missing some information that points to that.

`failed to sync cache` is used in every single source, without specifying _which_ cache it failed to sync. So perhaps it would be helpful to add more logging around that particular piece? It took

[2021-02-17 19:31] robselway commented on #1948
I think this would be useful.

Perhaps the main README could be refactored a little to include a table of flags unrelated to a specific provider, and then the "tutorials" for each provider contain the provider-specific flags?

It would be good to get some input from others, but I'm happy to put together an example of a single provider before we go further?

[2021-02-17 23:01] vsimon opened #1965 "Failing to sync cache for ambassador-host"
Attempted to try out the new ambassador-host source based off: https://github.com/kubernetes-sigs/external-dns/pull/1642

**What happened**:

After 60 seconds, got a `fatal msg="failed to sync cache: timed out waiting for the condition"`

**What you expected to happen**:

The ambassador-host informer syncs successfully.

**How to reproduce it (as minimally and precisely as possible)**:

Added  `--

[2021-02-17 23:09] vsimon commented on #1965
May be related?

❯ kubectl auth can-i get services --as=system:serviceaccount:external-dns:external-dns
yes

❯ kubectl auth can-i get ingresses --as=system:serviceaccount:external-dns:external-dns
yes

❯ kubectl auth can-i get crds --as=system:serviceaccount:external-dns:external-dns
Warning: resource 'customresourcedefinitions' is not namespace scoped in group 'apiextensions.k8s.io'
no

[2021-02-17 23:46] vsimon commented on #1965
Was using the latest bitnami external-chart

One of the clusterrole rules looked like:

[code]

and updated it to:

[code]

❯ kubectl auth can-i get hosts --as=system:serviceaccount:external-dns:external-dns
yes

[2021-02-18 00:41] #1965 closed

[2021-02-18 06:49] dsalisbury opened #1967 "PowerDNS provider doesn't correctly build endpoints when a record has multiple targets"
**What happened**:

When the pdns provider loads endpoints from a zone it goes through each rrset and, for each record within, it produces an Endpoint. This means when there's an rrset with multiple records (e.g. like the one below) then the latter of the two takes precedence and the planner thinks that the record needs updating when in fact it doesn't.

Here's the sample record in pdns:
[code]

W

[2021-02-18 18:15] fenngineering opened #1970 "Next release"
When will v0.7.7 (specifically GoDaddy?) i'm getting these error messages in my k8s pod...

`kubectl logs  external-dns-66894d95d4-5h4xf`
`time="2021-02-18T18:13:02Z" level=fatal msg="flag parsing error: unknown long flag '--godaddy-api-key'"`

`apiVersion: apps/v1`
`kind: Deployment`
`metadata:`
`  name: external-dns`
`spec:`
`  strategy:`
`    type: Recreate`
`  selector:`
`    matchLabels:`
`

[2021-02-19 08:05] kubealex opened #1971 "Fixed IP for A records"
Hi!
Looking at the docs I was not really sure to find the answer to my question.

Assume that you have an already configured loadbalancer for the ingress controller, and you just want to create records for each ingress that points to the fixed IP of the LB without a LoadBalancer service, is there a way to achieve it?

Thank you!

[2021-02-19 17:46] morremeyer commented on #1837
This issue still exists. Could the lifecycle-bot part please be deactivated for bugs?

I can understand that it is useful for requests etc., but bugs won't be fixed by closing the issue itself.

[2021-02-19 17:46] morremeyer commented on #1837
/remove-lifecycle rotten

[2021-02-19 19:35] #1963 closed

[2021-02-20 22:04] oliverwiegers commented on #1970
I have the same issue. After removing `--godaddy-api-key` and `--godady-api-secret`. I got the following error:

[code]

The godaddy provider is not accepted by the `--provider` flag.

In release `v0.7.6` the corresponding line is:

[code]

Currently in the master branch the line is:

[code]

The last accepted provider is now `godaddy`.
So the issue seems to be fixed in the next release.

[2021-02-21 12:13] #1788 closed

[2021-02-22 10:26] Olegone23 opened #1972 "Route53 AWS istio GW and istio virtual service dns record creation priority"
**What happened**:
Uses external-dns 0.7.4 and Istio GW, Virtual Service
sources:
    - service
    - ingress
    - istio-gateway
    - istio-virtualservice

Put annotations to istio GW:
Annotations:  external-dns.alpha.kubernetes.io/aws-weight: 0
                        external-dns.alpha.kubernetes.io/set-identifier: 1
All is fine - weighted record is created

But if I try to make the same with

[2021-02-22 10:35] #1791 closed

[2021-02-22 12:11] soumentrivedi commented on #1499
/remove-lifecycle stale

[2021-02-22 13:35] keperry commented on #1899
@ari-becker - we have also recently upgraded to the newest aws-load-balancer-controller.  Have you tried using the latest version of external-dns (0.7.6)?

[2021-02-22 16:16] seanmalloy commented on #1597
/remove-lifecycle stale

[2021-02-23 04:39] darkn3rd commented on #1512
The documentation is also documenting using the secrets.
* https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure.md

[2021-02-23 04:42] darkn3rd commented on #1548
/remove-lifecycle stale

[2021-02-23 04:45] darkn3rd commented on #1548
@DigitaMind I was following current [azure guide](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure.md) and I am not sure how to get the `userAssignedIdentityID`.  Where do we get this from?

[2021-02-23 04:50] darkn3rd commented on #1512
/remove-lifecycle stale

[2021-02-23 05:43] darkn3rd opened #1973 "Azure provider with azure.json secret has AuthorizationFailed result"
**What happened**:

Following [azure tutorial](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure.md), and I am getting authorization error.

**What you expected to happen**:

I expected that there would be no errors, but I get errors like this instead:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

Based on the docs, created this:

[code]

[2021-02-23 10:19] Grounz commented on #1896
up ?

[2021-02-23 14:18] red8888 opened #1974 "Does this support google's external and internal DNS and ingresses?"
In the docs for gke I just see an example with nginx: https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/gke.md

But I use GCP internal and external ingresses: https://cloud.google.com/kubernetes-engine/docs/concepts/ingress

Especially for public facing stuff it would be crazy not to take advantage of google's application load balancer because of all of its features

I see

[2021-02-23 14:22] Skaronator opened #1975 "Allow to configure a ingressClassName filter"
**What would you like to be added**:
Currently there is the option to configure a `--annotation-filter` and a `--source` filter [0]. Since Kubernetes 1.19 the Ingress Resource was promoted to GA and got a new ingressClassName field.

I'd like to have a option in External DNS to configure a `--ingressClassName-filter`.

**Why is this needed**:

We use 2 external dns and 2 ingress deployments. One f

[2021-02-23 17:11] prios-peter-olivo opened #1976 "0.7.6 tag manifests do not include the 0.7.6 image"
**What happened**:
I pulled the kustomize file from the 0.7.6 tag branch
**What you expected to happen**:
It to include the 0.7.6 image.
**How to reproduce it (as minimally and precisely as possible)**:
kustomize build "https://github.com/kubernetes-sigs/external-dns/kustomize?ref=v0.7.6" | grep image
**Anything else we need to know?**:

**Environment**:
- External-DNS version (use `external-dns -

[2021-02-23 19:12] Israphel commented on #1420
So any solution for this? I shouldn't be creating health check for Alias records.

[2021-02-24 09:55] masarlabs commented on #1489
/remove-lifecycle stale

[2021-02-24 11:30] #1972 closed

[2021-02-24 11:30] Olegone23 commented on #1972
Resolved

[2021-02-24 22:26] jpeizer opened #1977 "Cloudflare > --source Ingress results in TTL=1"
**What happened**:
Had a working setup using args `--source service` using the tutorial and connected via CF Token.  Taking the same entries to ingress does not appear to be working.  and results in a TTL=1.

Attempting to use Ingress results in:
[code]

**What you expected to happen**:
Both A entry and TXT entry should be entered, only TXT was entered, and the above error occurs with the A entry.

[2021-02-25 09:09] #1967 closed

[2021-02-25 10:17] #1949 closed

[2021-02-25 17:17] kundan2707 commented on #1976
@prios-peter-olivo
i tries and it was 0.7.6 image
here is snippet of kustomization.yaml below
[code]
It also includes 0.7.6

[2021-02-25 18:10] seanmalloy commented on #1558
/remove-lifecycle stale

[2021-02-25 19:37] morampudisouji commented on #1959
Without using --txt-prefix  also, in my env it's keep upserting the records based on the interval.
No upserts should take place if records already exists and no configuration changed.
[code]
logs
[code]
External-DNS version (use external-dns --version): 0.7.6
DNS provider: AWS Route53

[2021-02-26 15:23] ecerulm commented on #1421
@njuettner , I see still this problem on 0.7.3 (continuous upsert to route53 if ttl annotation is present). You [mentioned](https://github.com/kubernetes-sigs/external-dns/issues/1421#issuecomment-586166173) that you will create a PR, but I don't know if you ever got around to it.

In any case I think this should be reopened as the original problem remains (even if doesn't bother the @jmcclell  [c

[2021-02-26 18:16] #1502 closed

[2021-02-27 08:49] unixfox commented on #1875
/remove-lifecycle stale

[2021-02-27 09:31] #1658 closed

[2021-02-27 11:57] ytsarev commented on #1658
@mel1nn does it still happen?

[2021-02-27 12:52] kundan2707 commented on #1976
@prios-peter-olivo
I think this bug can be closed as no changes required

[2021-02-27 13:46] ackris opened #1979 "failed to list hosted zones - Not authorized to perform sts:AssumeRoleWithWebIdentity - status code: 403,"
Hey, I have been trying to run an external dns pod successfully using the guide provided by k8s-sig group. I have followed every step of the guide, and I am getting the below error.

`time="2021-02-27T13:27:20Z" level=error msg="records retrieval failed: failed to list hosted zones: WebIdentityErr: failed to retrieve credentials\ncaused by: AccessDenied: Not authorized to perform sts:AssumeRoleWit

[2021-02-27 18:53] fiskhest commented on #1394
/remove-lifecycle stale

[2021-02-28 00:06] bejaneps commented on #1970
When next release will be available ?

There is [godaddy example ](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/godaddy.md) in repo with version 0.7.7 in it, but it's not available yet ? Why you are including it then ?

My pod fails to pull an image:
[code]

[2021-02-28 13:21] njuettner commented on #1421
@ecerulm apologies not having updated it here, could you try out to use the latest version (currently v0.7.6) and try to retest this. I just want to make sure if we also see it in the latest version.

[2021-03-01 03:48] PulseBright opened #1981 "Add parameter for krb5Realm for rfc2136 provider"
**What would you like to be added**: A way to specify the krb5Realm for rfc2136 provider. Currently it seems to be assuming the realm using the DNS zone. The current setup could be left as the default mechanism _(no realm? -> use zone)_ as it should fit most use cases.

**Why is this needed**: In a setup where a DNS is used for more DNS zones than just the kerberos realm, the zone might not be the

[2021-03-01 11:16] ecerulm commented on #1421
@njuettner , I tried with 0.7.6 (using the bitnami helm chart 4.8.4 which uses docker image `docker.io/bitnami/external-dns:0.7.6-debian-10-r25`

I see that it still UPSERT every minute, when I tried before with 0.7.3 and remoted the ttl annotation the corresponding UPSERT disappeared so I guess it's still what you described that the external-dns keeps trying to reconcile the ttl in those records

[2021-03-01 12:05] Raffo commented on #1421
@ecerulm I'm gonna reopen this one.

[2021-03-01 14:46] christopherdalton opened #1982 "Route53 records are not deleted"
**What happened**:

Created infrastructure in namespace using Helm, External-DNS sends create Route53 record as expected and records are created.

Perform Helm uninstall command, External-DNS never receives any DELETE command/change for the records that are no longer required.

I have added a 5 minute sleep using preStop and the same for 'terminationGracePeriodSeconds'. I can see that the services

[2021-03-01 14:48] christopherdalton commented on #1982
time="2021-03-01T14:29:34Z" level=info msg="Desired change: CREATE xx.test.co.uk A [Id: /hostedzone/XXXXXXXXXXXXX]"
time="2021-03-01T14:29:34Z" level=info msg="Desired change: CREATE xx.test.co.uk TXT [Id: /hostedzone/XXXXXXXXXXXXX]"
time="2021-03-01T14:29:34Z" level=info msg="Desired change: CREATE yy.test.co.uk A [Id: /hostedzone/XXXXXXXXXXXXX]"
time="2021-03-01T14:29:34Z" level=info msg="Desire

[2021-03-01 15:24] haslersn commented on #1877
Would it be better to have distinct TXT prefix flags for distinct record types? Then we could configure: `--txt-prefix=A._heritage. --txt-prefix-v6=AAAA._heritage.`

[2021-03-01 15:56] haslersn commented on #1877
/remove-lifecycle stale

[2021-03-01 16:08] haslersn commented on #1923
How does the TXT registry work with multiple record types? Is this documented somewhere?

Without knowing how it currently works, the following is the way I imagine would be reasonable: For each RRSet type `<type>`, prepend the prefix `<type>.` to the TXT prefix. For instance, if I use `--txt-prefix=_heritage`, the registry for `RRSets` of name `<name>` and type `<type>` would be under

[code]

[2021-03-01 17:26] #1772 closed

[2021-03-01 22:54] AndrewDryga commented on #1616
/remove-lifecycle stale

[2021-03-02 05:54] red8888 opened #1983 "Not getting debug output for "failed to sync cache: timed out waiting for the condition" errors"
I set `--log-level=debug` but the only error I see is "failed to sync cache: timed out waiting for the condition"

Looking at the many other issues with this error it might be the cluster role, but I want to know how to turn on debug level logging.

I see `level=debug` in the log output but the only error I see is "failed to sync cache: timed out waiting for the condition"

That cant be the debug

[2021-03-02 08:05] red8888 opened #1984 "Need debug or info level logging for --annotation-filter"
When I set --annotation-filter=myannotation=somevalue it works great and does everything its supposed to:

* If I create a service/ingress without the annotation it isnt created
* If I create a service/ingress WITH the annotation it IS created
* If I update a service to remove the annotation the records are removed

Except for one pretty glaring issue- zero logging. When I turn on debug logging I

[2021-03-02 08:59] christopherdalton commented on #1982
Default --policy=upsert is not being used. I have specifically set --policy=sync same result. --log-level=debug shows the records that are being skipped [because of owner mismatch] (none of these records are the records that should be deleted).

[2021-03-02 12:33] Korijn commented on #1299
Just wondering if I understand correctly that with the new crd source option it should be possible to monitor traefik's objects?

[2021-03-02 14:18] danielo515 commented on #1855
Don't mark this as stale, there is already a PR

[2021-03-02 14:36] PG2000 commented on #1787
/reopen
/remove-lifecycle rotten

[2021-03-02 15:42] aelbarkani opened #1986 "Bug in Infoblox TXT records"
**What happened**:

We have this error in external dns:
`time="2021-03-02T08:36:25Z" level=debug msg="Skipping endpoint dev.www.apps.ocp-1.pin.prd.mlb.nbyt.fr 0 IN A 10.110.134.25 [] because owner id does not match, found: \"\", required: \"default\"" time="2021-03-02T08:36:25Z" level=debug msg="Skipping endpoint dev.www.apps.ocp-1.pin.prd.mlb.nbyt.fr 0 IN CNAME apps.ocp-1.pin.prd.mlb.nbyt.fr [] b

[2021-03-02 18:40] ba-work opened #1987 "GSS-TSIG does not work on v0.7.6 even though the doc says it does"
**What happened**:
tried to run with gss-tsig as documented [here](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/rfc2136.md#external-dns-configuration-1) (note the deployment specifically has `image: k8s.gcr.io/external-dns/external-dns:v0.7.6`) and it does not work:
[code]
**What you expected to happen**:
gss-tsig works.

**How to reproduce it (as minimally and precis

[2021-03-02 19:30] dlaidlaw commented on #1293
/remove-lifecycle stale
Having this issue as well.

[2021-03-03 08:44] YuhuaDeng commented on #1656
same issue

`time="2021-03-03T08:44:08Z" level=debug msg="No endpoints could be generated from ingress harbor/harbor-harbor-ingress"
time="2021-03-03T08:44:08Z" level=debug msg="No endpoints could be generated from ingress harbor/harbor-harbor-ingress-notary"
time="2021-03-03T08:44:08Z" level=debug msg="No endpoints could be generated from ingress jaeger/jaeger-ingress"
`

[2021-03-03 08:46] #1976 closed

[2021-03-03 11:31] CRASH-Tech commented on #1441
Also need this feature

[2021-03-03 16:43] atmosx commented on #1827
Bumping, my config (terraform):

[code]
docker image image:  `k8s.gcr.io/external-dns/external-dns:v0.7.6`, we're using CNAMEs, I see no TXT records.

[2021-03-03 17:47] seanmalloy commented on #1855
/remove-lifecycle stale

[2021-03-03 18:29] admgolovin opened #1992 "The update-only policy for external-dns"
**What would you like to be added**:
Could you, please, consider creating a new policy - `update-only`, which will allow  External DNS to perform only UpdateNew and UpdateOld operations:
[code]

**Why is this needed**:
We want to have a static set of DNS records to be managed through Terraform. The external DNS will update these records, without the possibility of creating new ones. This is done i

[2021-03-03 20:59] ba-work commented on #1981
I am also requesting this feature/looking for a solution. It can't be that uncommon to have more than one root zone in AD DNS.
This is the problematic code: https://github.com/kubernetes-sigs/external-dns/blob/38da5fdc22/provider/rfc2136/rfc2136.go#L101

Where clearly the struct `rfc2136Provider` is setup to take the parameter already

[2021-03-04 08:31] kundan2707 commented on #1987
/assign

[2021-03-04 08:32] kundan2707 commented on #1987
[code]

[2021-03-04 08:34] kundan2707 commented on #1987
https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/rfc2136.md#external-dns-configuration-1 needs correction.
I am updating **external-dns configuration** section withh correct sets of arguments

[2021-03-04 09:29] #1795 closed

[2021-03-04 10:38] KSumanth-LD opened #1994 "Failed to create Failover Routing using the provided Configuration with AWS ALB."
I created a kubernetes deployments scripts which will create two different deployments with associated services and the associated Ingress objects.

The creation of all the kubernetes objects (like deployments, services and ingress) are successful.

Regarding Ingress I am facing the problem with creating entries to Route53 failover routing in AWS.

Configurations used:

Primary Failover attributes

[2021-03-04 13:33] SamMousa commented on #961
This still does not seem to work when using `clusterRole = false`. Namespaced roles and bindings are created but the sync errors remain.
Even adding all permissions to the created role (for testing purposes) doesn't resolve the error.
[code]

It is hard to get more insight into what it is waiting for since even the `logLevel=trace` option doesn't print much detail.

[2021-03-04 13:36] SamMousa commented on #961
/remove-lifecycle stale

[2021-03-04 13:46] SamMousa commented on #1983
Possibly related to:
- https://github.com/kubernetes-sigs/external-dns/issues/961
- https://github.com/bitnami/charts/issues/4446

[2021-03-04 22:19] dotneet commented on #1977
I had the same issue when using with microk8s.
In my understand,  a service resource on the unmanaged environment must be set external ip using externalIPs option.

[2021-03-05 08:24] autarchprinceps opened #1995 "External DNS broken with multiple ALB Ingresses with the same domain name"
**What happened**:
[code]
It refuses to do anything anymore, as two ingresses have the same URL, which is totally possible in ALB Ingresses, as they can be differentiated by rules, including port, path, http-header, etc.
And by anything I mean all URLs, ALB or otherwise, it completely stops working in the entire cluster.

Note that the Record it conflicts with, was also created by external-dns, in

[2021-03-05 08:28] autarchprinceps commented on #1995
If there was a way to disable external-dns for one specific ingress, I would also try disabling it, but I haven't found any viable option. external-dns.alpha.kubernetes.io/hostname: "" definitively does nothing.

[2021-03-05 08:58] SamMousa commented on #961
I have resolved the issue by adding a clusterrole + binding to the service account, note the hardcoded names

[code]

I compared the cluster role and the normal role and noted that the only difference is the `nodes` resource. This resource is only available at the cluster level.

[2021-03-05 08:59] SamMousa commented on #1983
@red8888 are you using cluster roles or not?

[2021-03-05 09:18] zacblazic commented on #1321
/remove-lifecycle stale

[2021-03-06 00:34] elsonrodriguez opened #1996 "Support for Config Connector ComputeAddress object"
**What would you like to be added**:
Config Connector is a product from Google that allows the creation of GCP resources via Kubernetes:

https://cloud.google.com/config-connector/docs/overview

It comes in handy for creating infrastructure not supported by existing k8s cloud integrations. One of the resources that can be created is a ComputeAddress.

https://cloud.google.com/config-connector/docs

[2021-03-06 06:53] olemarkus opened #1997 "Make external-dns a drop-in replacement for kOps dns-controller"
**What would you like to be added**:

external-dns has an articulated goal of being a drop-in replacement of [kOps dns-controller](https://github.com/kubernetes/kops/tree/master/dns-controller).

As far as I can tell, there are two features that are missing for that.

- [x] Support `dns.alpha.kubernetes.io/external` and `dns.alpha.kubernetes.io/external` annotations. This can be a good extension t

[2021-03-06 17:18] Raffo commented on #1473
/remove-lifecycle stale

[2021-03-07 13:44] #1708 closed

[2021-03-07 15:46] #1660 closed

[2021-03-07 20:24] WoodProgrammer commented on #1979
I think you should ensure about the roles of Fargate have been assumed by the OICD provider of your clusters.
This blogpost help to resolve this issue on EKS and Route53 => https://www.padok.fr/en/blog/external-dns-route53-eks
@ackris

[2021-03-07 22:53] #1776 closed

[2021-03-08 16:47] nmnellis opened #1998 "Istio Gateway Spec unknown field "name" in v1alpha3.Server"
**What happened**:
external-dns cannot parse the Istio Gateway Spec. throws error.
[code]

**What you expected to happen**:

external-dns would be able to process Istio Gateway objects without error. Or ignore fields that it does not know about

**How to reproduce it (as minimally and precisely as possible)**:

Example gateway spec
[code]

Istio Gateway Schema
[code]

**Anything else we need to kn

[2021-03-08 17:52] sjbodzo commented on #1198
Any update on BlueCat support? The issue referenced in the PR looks like it closed in October of last year.

[2021-03-08 18:52] seanmalloy commented on #1198
@sjbodzo I'm hoping to still finish the linked PR. The last time it was worked on we had everything working except for deleting DNS records. Beyond that the code is a bit messy and unit tests could use some improvement.

[2021-03-08 19:08] k0da opened #2000 "update apiextentions to v1"
**What would you like to be added**:
CustomResourceDefinition apiextensions.k8s.io/v1beta1 is deprecated
**Why is this needed**:
v1 is available since kubernetes 1.16, since then v1beta1 is deprecated and will be dropped in kubernetes 1.22

[2021-03-08 22:56] iAnomaly commented on #1959
Hitting the same issue here but interestingly I went back all the way to 5.18 (Jan 15, 2020) stepping through each version still this persists. I wonder if AWS has changed something on the Route53 side. Still digging and will update here if I find anything.

[2021-03-09 08:35] #1998 closed

[2021-03-09 08:35] njuettner commented on #1997
/cc @linki

[2021-03-09 21:05] red8888 opened #2005 "Document what specific permissions external DNS actually needs in GCP"
Docs say just give it DNS admin but I really don't like that. I know GCP is pretty crappy relative to AWS when it comes to access control in general

I've been trying to create a custom role with more specific permissions but I'm getting 403 errors in my debug output.

I confirmed everything works fine with the dns.admin role but I want to create a custom role that doesn't grant access to say, for

[2021-03-10 01:21] red8888 commented on #2005
ok i had an unrelated config issue role is working and im whittling down the permissions more

[2021-03-10 03:10] soumadeep9 opened #2006 "External DNS not updating Route53"
Team,

We are planning to migrate from Classic Load Balancer to ALB Ingress Controller & as a part of that process, trying to perform a Zero Downtime switchover through DNS in Route53.

For example: Classic LB has DNS - test-1.example.domain.com & ALB has DNS - test.example.domain.com.

Now, in Classic LB I have my annotations as - domainName: {{ points-to-Classic-LB-DNS }} & for ALB Ingress Contr

[2021-03-10 08:55] #1987 closed

[2021-03-10 08:57] #2000 closed

[2021-03-10 12:29] Raffo commented on #1770
/remove-lifecycle stale

[2021-03-10 13:50] red8888 commented on #2005
OK through trail and error I found it needs these perms- I didn't want to sift through the code to confirm every API so maybe someone more familiar with the code base could confirm this list of perms? It was able to create/delete records with these perms:

`    // DNS "read" permissions
    "dns.projects.get",
    "dns.managedZones.get",
    "dns.managedZones.list",
    "dns.changes.list",
    "dn

[2021-03-10 15:06] rumstead commented on #1961
+1, being able to reduce the number of external-dns deployments would be awesome. Additionally, being able to specify different keys per zone (like you mentioned in the CRD spec) would be a must-have so if a zone was overwhelming the DNS server, the key could be revoked.

[2021-03-10 15:48] nebulon42 commented on #789
Some things have changed. There is now the Gandi v5 API, which has a Go client at [go-gandi/go-gandi](https://github.com/go-gandi/go-gandi). The project linked by the OP now has the Gandi provider at https://github.com/StackExchange/dnscontrol/tree/master/providers/gandiv5.

/reopen

[2021-03-10 22:17] matt-kg commented on #1691
/remove-lifecycle stale

[2021-03-10 22:29] hendrikhalkow commented on #1552
/remove-lifecycle stale

[2021-03-10 23:27] bigbang4u2 commented on #961
@SamMousa Is there any way by we can have do this without creating cluster role? In our case we don't have permission to create cluster roles. I see something [here](https://github.com/kubernetes-sigs/external-dns/issues/663) but this doesn't work with AWS

[2021-03-10 23:29] bigbang4u2 commented on #663
Hi, this doesn't work with AWS. I don't have permission to create clusterRole and we just need to update route53. I am still getting
[code]

[2021-03-11 02:07] BobyMCbobs opened #2008 "Missing api-approved annotation in DNSEndpoints CRD"
**What happened**:
In https://github.com/kubernetes-sigs/external-dns/commit/544d245464bfda2d61b986c4e9a5cb8bca0e2056#diff-88876bb9cc0374fa8b8a12782200c4da97d81a4bb27d4afa0f682be43c0fddce, the CRD's apiVersion was upgraded to stable, there is more validation around the api group.

**What you expected to happen**:
The CRD should be apply with it's protected group.

**How to reproduce it (as minimal

[2021-03-11 06:34] SamMousa commented on #961
The nodes resource is only available at the cluster level. I'm not sure why it is needed though, seems to me that external dns could work without access to the nodes endpoint..

[2021-03-11 07:22] k0da commented on #2008
Should be addressed by https://github.com/kubernetes-sigs/external-dns/pull/2007

[2021-03-11 11:49] jlact commented on #1782
I lost a few hours to this yesterday also, short term i'd suggest updating the deployment guide for the Azure Private DNS zone so that it doesn't say to follow the guide for the Azure provider, currently it states:

[2021-03-11 12:02] cmsmith7 commented on #1293
Also facing this issue.  Please can this be prioritised it appears to be affecting the masses.

[2021-03-11 18:54] BobyMCbobs commented on #2008
This is good, thank you @k0da!

[2021-03-12 08:59] simox-83 commented on #1790
@tokyo2006 I am still getting the same issue, even after upgrading to 0.7.6. External dns logs show:
[code]

[2021-03-12 14:30] tjamet commented on #1293
Hi!
We are also suffering hardly this issue.
On our side, we have deployed a temporary fork of external-dns with several improvements I am currently backporting and contributing to the main code.

We currently have opened #2009 and #2010 that, combined, help reduce the total amount of AWS calls by a factor of around 6 under specific circumstances.

Currently, the API call rate is only reduced by a

[2021-03-12 16:57] simox-83 commented on #1790
I am pretty sure the IAM role is set properly and the policy attached to it as well. This is the output from a worker node in the same cluster ( I assumed the role and then populate the aws credentials file with the access key , secret key and session token)

[code]

[2021-03-13 05:22] evanstucker-hates-2fa commented on #1293
For what it's worth, I worked around the issue by using this external-dns Helm chart with these values:
https://artifacthub.io/packages/helm/bitnami/external-dns
[code]
The default interval is 1 minute, which is really short - it spams Route53, which gives us these rate exceeded messages. I set mine to 10 minutes, and then turned on triggerLoopOnEvent, so I don't actually have to wait 10 minutes f

[2021-03-13 12:48] kladiv commented on #1869
+1 same issue

[2021-03-15 08:48] #1579 closed

[2021-03-15 18:43] szuecs commented on #731
/remove-lifecycle rotten

[2021-03-15 18:57] #1622 closed

[2021-03-15 20:24] Raffo commented on #1293
I don't use ExternalDNS in an environment in which such problems are triggered, but I believe the events flag will resolve those problems. We'll have a look at them anyways.

[2021-03-15 20:29] Raffo commented on #1970
0.7.7 is not release yet, we will release it later this month. Please watch the github releases.

[2021-03-15 20:29] #1970 closed

[2021-03-15 20:30] Raffo commented on #1984
This is documented in the FAQ: https://github.com/kubernetes-sigs/external-dns/blob/7569fa4ae537be6e46ddcb2607ea6527be994c7f/docs/faq.md#why-am-i-seeing-time-out-errors-even-though-i-have-connectivity-to-my-cluster . Closing.

[2021-03-15 20:30] #1984 closed

[2021-03-15 20:38] Raffo commented on #1983
This is documented in the FAQ: https://github.com/kubernetes-sigs/external-dns/blob/7569fa4ae537be6e46ddcb2607ea6527be994c7f/docs/faq.md#why-am-i-seeing-time-out-errors-even-though-i-have-connectivity-to-my-cluster . Closing.

[2021-03-15 20:38] #1983 closed

[2021-03-15 22:13] Raffo commented on #1790
AWS Route53 in china is supported since https://github.com/kubernetes-sigs/external-dns/pull/1603 . Closing.

[2021-03-15 22:13] #1790 closed

[2021-03-16 01:37] atsai1220 commented on #1983
In my RKE2 cluster, I added this to my ClusterRoleBinding and this error went away.

[code]

[2021-03-16 08:24] Raffo commented on #1421
Ok I confirm the bug. I am extremely resource constrained, but I am assigning this to myself and will follow up. Please be patient 😄

[2021-03-16 11:24] tjamet commented on #1293
We are also using the event flag, with a sync period of 10 minutes
We have 8000+ objects monitored in 6 clusters, using the same zone.

With the current [Minimum Sync Interval](https://github.com/kubernetes-sigs/external-dns/blob/e2cb36c0706389a3ab4fac9bce73215713b24017/controller/controller.go#L169) of 5 seconds, and the necessity of [listing all records at least once](https://github.com/kubernet

[2021-03-16 20:54] Raffo commented on #1293
@tjamet thank you for the explanation and the data, that helps to understand the problem better. I will get at your PRs as soon as possible.

[2021-03-17 02:28] seanmalloy commented on #2008
/close

[2021-03-17 02:28] #2008 closed

[2021-03-17 02:34] seanmalloy commented on #1948
This is a duplicate of #1788.

/remove-kind feature
/triage duplicate

[2021-03-17 06:18] seanmalloy commented on #1198
@sjbodzo I updated PR #1506 and will be soon be requesting a final review from the project maintainers. I think there might be hope that this will merge soon-ish. Cross your fingers.

[2021-03-17 07:15] kundan2707 commented on #2006
/kind bug

[2021-03-17 11:41] soumadeep9 commented on #2006
Found the issue:

Apparently for external-dns to work, we need a TXT entry in Route53. Since that wasnt present it wasnt updating records.

The trick here is to add TXT entries in Route53 before deployment. If thats done, updating of entries work fine.

[2021-03-17 12:08] kundan2707 commented on #2006
@soumadeep9
If there is no issue then it shoud be closed now.

[2021-03-17 12:49] OvervCW commented on #1948
@seanmalloy I don't see how this issue relates to #1788.

[2021-03-17 13:27] seanmalloy commented on #1948
You are correct

[2021-03-17 14:07] #2006 closed

[2021-03-17 14:30] seanmalloy commented on #1780
/remove-lifecycle stale

[2021-03-18 06:13] olemarkus commented on #1997
It would be nice to get some feedback on this.
Let me know if more details are needed.

[2021-03-18 12:18] maxhollmann commented on #1495
I could use this feature as well, and I'd be willing to create a PR. Where do you think would be the appropriate place to check for this option? It looks to me like each source has its own way of determining the targets, so if this would be implemented as a global option that applies to all sources that would be a lot of repetitive code. And it potentially could lead to differing ways of handling

[2021-03-18 12:57] jgrumboe commented on #1495
/remove-lifecycle rotten

[2021-03-18 13:11] sgielen opened #2016 "DNSimple provider implementation crashes when using a user token instead of an account token"
https://github.com/kubernetes-sigs/external-dns/blob/e2cb36c0706389a3ab4fac9bce73215713b24017/provider/dnsimple/dnsimple.go#L125

This line references `Data.Account.ID`, however, when using a user token, no `Data.Account.Id` exists:

[code]

So I get this panic:

[code]

I tried using  `Data.User.ID` instead, but unfortunately, its value can't be used as a drop-in replacement for the account ID in

[2021-03-18 16:38] sgielen commented on #2016
This commit, together with passing the correct account ID in `DNSIMPLE_ACCOUNT_ID`, fixes the issue for me: https://github.com/sgielen/external-dns/commit/c57d23e48fba66e07fcb8f3cab42191d2480dc28

[2021-03-18 19:38] deploymentking commented on #1372
/remove-lifecycle rotten

[2021-03-19 01:50] seanmalloy commented on #1198
PR #1506 for the initial BlueCat support has been merged.

/close

[2021-03-19 01:50] #1198 closed

[2021-03-19 03:16] seanmalloy commented on #1372
/remove-lifecycle stale

[2021-03-19 13:38] ieugen commented on #1865
/remove-lifecycle rotten

[2021-03-19 14:08] simox-83 commented on #1790
I finally made it working. In China is mandatory to include the AWS_REGION as environment variable in the ext dns pod - same caveat as GovCloud here: https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md#govcloud-caveats

I think you guys have to update your documentation to include this. Next time, instead of blindly closing an issue, maybe try to troubleshoot it a bit

[2021-03-19 14:52] reesericci commented on #1930
anyone?

[2021-03-20 05:41] #1648 closed

[2021-03-20 05:41] #1673 closed

[2021-03-21 18:50] brettcave commented on #1910
This is great, it works perfectly. Instead of targeting specific groups from external-dns, i've standardized the way to exclude, using the external-dns annotation namespace:

`annotationFilter: external-dns.alpha.kubernetes.io/exclude notin (true)`

and then blacklist ingresses:
[code]

Thanks @jgrumboe

[2021-03-22 01:00] matthewmrichter commented on #1598
/remove-lifecycle stale

[2021-03-22 06:00] jaekunchoi commented on #1073
were you able to get MSI working with `azure-private-dns` ? If so are you able to share your code?

[2021-03-22 07:41] jgrumboe commented on #1495
Hi @maxhollmann,
Currently I'm not using external-dns, because I switched company months ago, but I find this feature still interesting.
In my opinion I wouldn't go for a separate option for each source as these would be probably also a lot of similar code.
And I do get your point with repetitive code if it would be implemented in each source.
I haven't looked into the code when filing this issue,

[2021-03-22 11:16] DangChien commented on #961
Encountered this issue today and got it resolved by specifying the proper namespace for the `ClusterRoleBinding`

[code]

[2021-03-23 03:31] yardensachs commented on #854
/remove-lifecycle stale

[2021-03-23 03:32] yardensachs commented on #854
we must keep it alive everyone! ![](https://media0.giphy.com/media/U8Y6UgGZXGnZPzdeOt/giphy.gif)

[2021-03-23 05:26] seanmalloy opened #2022 "provider/bluecat: allow setting dns record TTL"
**What would you like to be added**:
Currently the bluecat provider does not allow setting the TTL on DNS records. As an end user I'd to to be able to customize the TTL using an annotation.

**Why is this needed**:
To allow setting a custom TTL on specific DNS records.

[2021-03-23 05:27] seanmalloy commented on #2022
/cc @vinny-sabatini

FYI ... @seegeekrow @sanbornick

[2021-03-23 05:41] seanmalloy opened #2023 "provider/bluecat: allow toggling TLS verification"
**What would you like to be added**:
I'd like to be able enable/disable TLS verification to the BlueCat Gateway API. Currently it is hard coded to disable TLS verification.

**Why is this needed**:
Because security matters.

[2021-03-23 05:41] seanmalloy commented on #2023
/cc @vinny-sabatini

FYI ... @seegeekrow @sanbornick

[2021-03-23 05:47] seanmalloy opened #2024 "provider/bluecat: enable deploy api call"
**What would you like to be added**:
I would like the BlueCat provider to run the bluecat deploy API call, so that DNS updates are more immediate.

**Why is this needed**:
Faster DNS record deployments.

[2021-03-23 05:47] seanmalloy commented on #2024
/cc @vinny-sabatini

FYI ... @seegeekrow @sanbornick

[2021-03-24 10:17] SergeySevruk opened #2026 "provider/Cloudflare: TTL for strange TXT records"
All records created properly but why external-dns trying to create TXT with the base domain.

errors in a loop:
`
time="2021-03-24T10:07:22Z" level=info msg="Changing record." action=CREATE record=basedomain.com ttl=30 type=A zone=d670586935479568f875668a2bfb6222
time="2021-03-24T10:07:23Z" level=error msg="failed to create record: error from makeRequest: HTTP status 400: content \"{\\\"result\\\"

[2021-03-24 11:27] idanshm commented on #1853
Can you please prioritise this one? It would be really nice to have multi-cloud support.

[2021-03-24 22:06] MariachiForHire commented on #1388
What's the timeline to having this merged?

[2021-03-25 04:33] jkaldon commented on #1716
/remove-lifecycle rotton

[2021-03-25 04:37] jkaldon commented on #1716
Currently I have the parameter `--annotation-filter=kubernetes.io/ingress.class=alb`, but I would like to add a second filter of `--annotation-filter=external-dns.alpha.kubernetes.io/exclude notin (true)`.

[2021-03-25 04:48] seanmalloy commented on #1716
/remove-lifecycle rotten

[2021-03-25 12:56] hendrikhalkow commented on #961
When deploying ExternalDNS via the [Helm Chart by Bitnami](https://github.com/bitnami/charts/tree/master/bitnami/external-dns), I always get the `timed out waiting for the condition` error message with all the solutions posted above, even when I make the service account a cluster-admin.

Deploying it as described in the [tutorial](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tu

[2021-03-25 13:46] #1750 closed

[2021-03-25 14:43] KlavsKlavsen commented on #1299
I hope - that this issue is about automaticly extracting what is today taken from Ingress objects - namely dns-names to propogate as is done when set on Ingress objects.
I expect it should be tls.domains and the sans - that should be pulled and put in external-dns "service" ? https://doc.traefik.io/traefik/v2.4/routing/providers/kubernetes-crd/#kind-ingressroute

[2021-03-25 14:47] #1844 closed

[2021-03-25 16:46] danopia commented on #1716
I'm in the same boat as @jkaldon - given that `notin` annotation filters are a main solution to #819, and that almost anyone using ingress classes already uses a regular annotation filter, being able to have both filters at once is the next obvious step.

[2021-03-25 17:02] dpedu commented on #1233
/remove-lifecycle stale

[2021-03-26 03:56] #1858 closed

[2021-03-26 03:56] akhilgoel09 commented on #1858
closing it

[2021-03-26 05:45] wajika opened #2027 "nslookup kubernetes.default >> connection timed out; no servers could be reached"
The following steps are debugging according to the documentation
`https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/`

[code]

[code]

[code]

Can someone provide some ideas to solve the problem？

[2021-03-26 06:01] wajika commented on #2027
I used a centos image and grabbed the traffic requested by yum

[code]

[2021-03-26 09:28] mblaschke commented on #1782
same here

[2021-03-26 21:49] allenporter opened #2029 "nil pointer dereference in extractHeadlessEndpoints"
**What happened**:

 I recently started observing this crash:

[code]

**What you expected to happen**:

I would expect an error message for an invalid cluster state, rather than a crash.

**How to reproduce it (as minimally and precisely as possible)**:

I have not yet been able to determine which service is causing the problem.

**Anything else we need to know?**:

**Environment**:
- External-DN

[2021-03-26 22:05] allenporter commented on #2029
I turned off/on some charts, and adding back this set of services seemed to trigger this crash:

[code]

[2021-03-26 22:12] 2rs2ts opened #2030 "Support additional routing alias Route53 records"
**What would you like to be added**:
An annotation called `external-dns.alpha.kubernetes.io/routing-alias` (or something like that) which lets you set an additional alias record that points to the record created in `external-dns.alpha.kubernetes.io/hostname`.

An example of a service with a latency-based rrset, where the "main" URL is `myservice.mydomain.com` but you would be able to reach a parti

[2021-03-27 10:30] #1845 closed

[2021-03-27 14:34] #1848 closed

[2021-03-27 14:48] jgrumboe commented on #1495
Would somewhere around `getTargetsFromTargetAnnotation`
https://github.com/kubernetes-sigs/external-dns/blob/master/source/source.go#L170 be the right place?!

[2021-03-27 19:47] danopia commented on #1647
Since this valid-looking ticket is going stale I'll link some relevant context here..

It was written down that external-dns was originally supposed to be specifically for A and CNAME: https://github.com/kubernetes-sigs/external-dns/issues/1923#issuecomment-763534482

The #1813 PR that accidentally closed this issue actually broke people on upgrade because of conflict with existing NS records. It

[2021-03-27 22:39] allenporter commented on #2029
I built a local copy of external-dns and added some logging:
[code]

It looks like that corresponds to these services and endpoints:

[code]

[2021-03-29 17:16] loozhengyuan commented on #2026
@SergeySevruk, are you able to share your configuration for `external-dns`?

[2021-03-29 18:35] seanmalloy commented on #219
/remove-lifecycle stale

[2021-03-30 06:20] Raffo commented on #1861
## 2021-03-30

We will work on a release in the first week of April.

[2021-03-30 09:13] weberch-lkwwalter opened #2033 "Create parameter to remove txt records on A record deletion"
**What would you like to be added**:
Please add a switch for external-dns which changes behaviour
from leaving txt records when A record is deleted
to deleting txt records when the corresponding A record is deleted.

**Why is this needed**:
In our setup a wildcard dns entry must be used when there is no A record for a hostname. When the txt record is left back the wildcard entry is not resolvable.

[2021-03-30 09:44] funkypenguin commented on #1517
I can confirm this is still an issue on 0.7.6:

[code]

[2021-03-30 10:02] SergeySevruk commented on #2026
`spec:
  replicas: 1
  selector:
    matchLabels:
      app: external-dns
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: external-dns
    spec:
      containers:
        - name: external-dns
          image: 'k8s.gcr.io/external-dns/external-dns:v0.7.6'
          args:
            - '--source=service'
            - '--source=ingress'
            - '--domain-filt

[2021-03-31 05:03] morremeyer commented on #1923
@Raffo I have one question regarding the following:

Is not stating AAAA records an oversight here?

[2021-03-31 07:26] Raffo commented on #1923
@haslersn it doesn't, that's the problem. We could expand it as you proposed.

@morremeyer yes, totally, AAAA should be supported.

[2021-03-31 12:35] nrvmodi commented on #961
In my case, the issue is related to namespace.
I have a ray-prod name space on which all things installed but in defined yml that `ClusterRoleBinding` has `default` namespace.
I have changed `default` to `ray-prod`

[2021-03-31 21:40] Israphel commented on #1420
@dgeorgievski I believe your case works because it's a primary non-alias record with health check. The issue here is with Alias records.

[2021-04-01 00:01] brross opened #2034 "provider/bluecat: bluecat missing from provider EnumVar in types.go"
**What happened**:
Fatal error starting external-dns with provider set to bluecat

**What you expected to happen**:
external-dns should execute/start normally

**How to reproduce it (as minimally and precisely as possible)**:
Run external-dns with provider set to bluecat
`$ ./external-dns --source=service --provider=bluecat`

**Anything else we need to know?**:
The problem appears to originate fro

[2021-04-01 00:31] seanmalloy commented on #2034
/assign

[2021-04-01 07:17] #2034 closed

[2021-04-01 09:12] kheraud commented on #1453
Same issue here

Internal services are seen by ED thanks to `--publish-internal-services` parameter. But `external-dns.alpha.kubernetes.io/target` annotation is not taken into account. Instead the internal IP is recorded in the target DNS.

Taking into account the annotation would unblock many issues here.

[2021-04-01 10:09] bartusz01 opened #2036 "update TXT records with new owner on changing --txt-owner-id"
**What would you like to be added**:
When changing `--txt-owner-id` on an existing external-dns resource, where `--registry=txt` and `--policy=sync`, it does not update the existing TXT records it owns, therefore losing ownership. Meaning that we have to manually delete the records in order to have external-dns take ownership again.

I would expect it to also change the ownership of existing recor

[2021-04-01 13:30] #1809 closed

[2021-04-01 19:43] dgeorgievski commented on #1420
Sorry, I forgot to mention I've experienced the same issue:
[code]
i can easily replicate this issue if **external-dns.alpha.kubernetes.io/aws-health-check-id** annotation is omitted.

This is AWS Route 53 error and it could be easily replicated with awscli

with HealthCheckId field
[code]

without HealthCheckId field
[code]
where myapp-example.json has the following content - used actual output f

[2021-04-01 22:57] Israphel commented on #1420
that's interesting, because an alias record with evaluate target health check enabled, doesn't require a r53 healthcheck at all (because it uses the ELB or TargetGroup built-in healthcheck).

So far, the fork #1424 is the only way to use failover with alias records properly.

[2021-04-02 14:23] malacoss commented on #1837
We encounter the exact same issue, do you have any workaround ?

[2021-04-02 15:39] morremeyer commented on #1837
Nope, only not setting a ttl. You could set your zone ttl to the desired one.

[2021-04-02 18:55] dgeorgievski commented on #1420
This would work if the TXT record is excluded from the **Changes** list, which implies for Failover records Route53 would prefer the Alias and TXT records to be submitted separately. The risk with this solution is failing to create the TXT record and lose proof of ownership.

Multivalue policy worked for me too, but I wonder if it is more of a hack that might have unintended consequences for imple

[2021-04-02 22:24] jgrumboe commented on #1827
@atmosx
CNAMEs cannot co-exist with other records for the same hostname.
Therefore the usage of `--txt-prefix` or `--txt-suffix` is mandatory.

[2021-04-02 22:25] jgrumboe commented on #1827
/remove-lifecycle rotten

[2021-04-03 08:50] packi commented on #1869
/remove-lifecycle stale

[2021-04-03 09:42] #2029 closed

[2021-04-05 14:42] Israphel commented on #1420
I do have multiple clusters for the same environment (like prod east, prod west, etc), but when I install external-dns, I give it a different ID for the TXT. So one installation of external-dns can't touch another one's resources.

It works for me because one is creating primary dns entries and another one is creating secondary dns entries.

[2021-04-05 19:34] jgrumboe commented on #2036
This is a good description.
Right now, external-dns has not store or such a thing, therefore it doesn't know about former settings.
So we would need something like a "migration option" probably. For example an option like "--migrate-txt-prefix=default" could inform external-dns about an old txt-prefix. But there could be sophisticated cases like turning a txt-prefix to txt-suffix and the other way

[2021-04-05 19:44] jgrumboe commented on #1986
Hi,
I used Infoblox some time ago and it worked fine. But I was using `--txt-suffix` also. Do you use a txt-prefix or txt-suffix option?
(One of these is manadatory when using CNAMEs.)

[2021-04-05 20:05] devkid commented on #421
/remove-lifecycle rotten

[2021-04-05 20:05] devkid commented on #421
/reopen

[2021-04-05 20:41] jgrumboe commented on #2027
Sorry @wajika but I think your issue is wrong here. External-dns manages DNS records in an external provider (Route53, Google Cloud DNS, ...) by discovering k8s resources. It is not responsible or even involved in the process of DNS resolution.

[2021-04-05 22:36] adamday2 commented on #1656
The generation of endpoints seems to be directly tied to the Ingress having an "Address".
In my case, I was able to get this working by setting by forcing my ingress controller to publish this address to the ingress resources

For traefik:
`kubernetesIngress.publishedService.enabled=true`

For nginx:
`controller.publishService.enabled=true`

[2021-04-05 22:39] adamday2 commented on #1791
For those that end up here with the details provided here:
https://github.com/kubernetes-sigs/external-dns/issues/1512

Along with:

[code]

[2021-04-06 10:28] bartusz01 commented on #2036
@jgrumboe Indeed, `--txt-prefix` has the same behaviour, losing ownership of records when changing this value.
Good idea about the "migration option". However, I think this would be better automated as external-dns could start storing this data, which would cause less confusion/maintenance for end users.

[2021-04-06 20:43] jgrumboe commented on #2036
@bartusz01
Sorry, I was mixing up txt-owner with txt-prefix. (Facepalm) But the concept is the same. ;)

I wouldn't go for adding a store. External-dns is perfectly "stateless" (as long as you don't count the TXT records in DNS as storage). Persistent storage is always hard and adds complexity.
Since you (hopefully) don't wanna change txt-owner on an interval basis, it seems to be some kind of one

[2021-04-06 23:42] wajika commented on #2027
@jgrumboe OK, I'll close the issue.

[2021-04-06 23:42] #2027 closed

[2021-04-07 02:17] bynare opened #2040 "Enhance `--domain-filter` to match parent zones too"
**What would you like to be added**:

 Currently it is not possible to use the `--domain-filter` to match against a parent zone. For example, if we had a registered "parent" zone `example.com` and we then set `--domain-filter=x.example.com`, then `example.com` will not be determined as a matching zone [here](https://github.com/kubernetes-sigs/external-dns/blob/7d6eeed7668f695623d8fa83eed36f57f49ca

[2021-04-07 07:51] #1105 closed

[2021-04-07 07:51] #1175 closed

[2021-04-07 07:55] #1934 closed

[2021-04-07 08:08] Raffo commented on #1903
Closing this as we are keeping this process in the meantime.

[2021-04-07 08:08] #1903 closed

[2021-04-07 08:13] anto-n commented on #1807
/close

[2021-04-07 08:13] #1807 closed

[2021-04-08 03:58] seanmalloy commented on #936
/remove-lifecycle rotten

[2021-04-08 04:11] seanmalloy commented on #1621
/remove-lifecycle rotten

[2021-04-08 07:51] raelga commented on #1730
/remove-lifecycle stale

[2021-04-08 16:43] Deepak1100 commented on #1877
we are also facing the same issue
AAAA record is not created after adding dualstack annotation `alb.ingress.kubernetes.io/ip-address-type: dualstack`

[2021-04-08 17:41] sachinms27 commented on #1293
@tjamet we are experiencing this issue as well. @tjamet thanks for the PR - [#2010](https://github.com/kubernetes-sigs/external-dns/pull/2010). Could you please let us know when this PR will be merged.

[2021-04-11 16:35] morremeyer opened #2044 "hetzner provider: AAAA records not set"
**What happened**:

The hcloud-controller-manager added support for IPv6 in [1aea7ddac1e2a6ffd358feb147db9e5a9d71a02d](https://github.com/hetznercloud/hcloud-cloud-controller-manager/commit/1aea7ddac1e2a6ffd358feb147db9e5a9d71a02d). **Note: This is not yet part of a release**.

When using any version of the hcloud-ccm with this commit included, an ingress will report an IPv4 and an IPv6 address:

[2021-04-12 15:58] mark-church opened #2045 "Support for Gateway API"
The [Gateway API](https://gateway-api.sigs.k8s.io/) is a new spec from K8s SIG-Network that models load balancing, but through a new set of resources instead of Ingress.  It defines its load balancer IP address and hostname routing rules in different resources like [this example](https://gateway-api.sigs.k8s.io/http-routing/). I'm just filing this as a tracker to record requests, use-cases, and in

[2021-04-12 18:22] seanmalloy commented on #1798
/remove-lifecycle stale

[2021-04-12 18:22] seanmalloy commented on #1455
/remove-lifecycle stale

[2021-04-12 18:23] seanmalloy commented on #1609
/remove-lifecycle stale

[2021-04-12 21:57] rektide commented on #2030
powerdns has [`ALIAS`](https://doc.powerdns.com/authoritative/guides/alias.html) records as well. would love support for this feature. critical for anyone hosting mail.

[2021-04-12 22:19] rektide commented on #2040
I feel like I'm missing something (but I'm very new here)? Why not just set `--domain-filter=example.com` ?

[2021-04-12 23:49] #1816 closed

[2021-04-13 04:03] seanmalloy commented on #1419
/remove-lifecycle stale

[2021-04-13 04:26] seanmalloy commented on #1647
/remove-lifecycle stale

[2021-04-13 06:34] seanmalloy commented on #2045
This would be a very nice feature.

/help

[2021-04-13 17:16] ShubhamTatvamasi opened #2046 "Image does not exist"
**What happened**:

Image `k8s.gcr.io/external-dns/external-dns:v0.7.7` does not exist.

https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/godaddy.md#manifest-for-clusters-without-rbac-enabled

[2021-04-13 17:21] ShubhamTatvamasi commented on #2046
This is upcoming feature. closing it for now.

[2021-04-13 17:21] #2046 closed

[2021-04-13 19:13] ShubhamTatvamasi opened #2047 "Godaddy dns error"
[code]

[2021-04-14 04:18] seanmalloy commented on #646
I believe this will be a useful feature.

/reopen

[2021-04-14 09:10] Raboo opened #2048 "A records for both "External IPs" and "LoadBalancer Ingress" (only want "External IPs")"
**What happened**:
I have an ingress controller service of type LoadBalancer that has *spec.externalIPs=1.2.3.4'.
It also has the following annotation `external-dns.alpha.kubernetes.io/hostname: k8s.mydomain.net.`.

[code]

It correctly creates DNS  A record k8s.mydomain.net pointing at *1.2.3.4*.

But then when I create an Ingress object it gets two A record pointers, one points at *1.2.3.4* and

[2021-04-14 09:20] Raboo commented on #1495
Separate option for each source makes sense.

[2021-04-14 09:26] Raboo commented on #2048
It seems that this is not only a "on-prem" problem: https://github.com/kubernetes-sigs/external-dns/issues/1816#issuecomment-727050075

[2021-04-14 10:22] ShubhamTatvamasi commented on #2047
@Fred78290 any idea about this?

[2021-04-14 10:57] Raboo commented on #2048
Update, setting `spec.externalIPs` was a terrible idea. It actually assigned ip `1.2.3.4` to one of my nodes and whenever requests originated from/to that node they broke as it skipped going out via the load balancer cause I've set my ingress to use PROXY PROTOCOL.

So currently I have no way of specifying the real public IP to my ingress service via external-dns

[2021-04-14 11:44] Fred78290 commented on #2047
Hello.
Could you post the full error message.
Regards

[2021-04-14 13:19] ilicmilan commented on #1974
In the doc for GKE you use `networking.k8s.io/v1` as an API version:
[code]

However, if I try to apply this on GKE, I get this:
`no matches for kind "Ingress" in version "networking.k8s.io/v1"`

Looking at [GKE official documentation for Ingresses](https://cloud.google.com/kubernetes-engine/docs/concepts/ingress#multiple_backend_services) they use `apiVersion: networking.k8s.io/v1beta1` and seems

[2021-04-14 21:02] H3rman8 commented on #1431
/remove-lifecycle stale

[2021-04-15 07:08] haslersn commented on #1053
/remove-lifecycle stale

[2021-04-15 07:49] ShubhamTatvamasi commented on #2047
@Fred78290 here are the logs from the pod:
[code]

[2021-04-15 09:05] Fred78290 commented on #2047
`"Error INVALID_BODY: \"Request body doesn't fulfill schema, see details in `fields`\""`
Have you the remain of this line?
Could you also provide the ingress(es) config, to check if the record will be a CNAME or ADDRESS?
I see that it try to apply 2 changes, do you  confirm that you have 2 ingresses?

Regards

[2021-04-15 11:55] FlowColwyn commented on #1929
We are also seeing the same issue with v0.7.6, with multiple services running on the same EKS cluster.  The issue does not occur with v0.7.4

[2021-04-15 15:08] Raffo opened #2051 "AAA records support"
This issue is a placeholder for all AAAA records support that needs to be done.

[2021-04-15 15:41] #1981 closed

[2021-04-15 16:15] seefor commented on #1958
Anyone looked at this

[2021-04-15 16:17] ShubhamTatvamasi commented on #2047
I did not add anything, I was trying to add the ingress config below. It was okay when I added but if I delete this or add another one I am getting the error.
[code]

[2021-04-15 17:32] bhops commented on #1959
I am seeing similar behaviour on 0.7.6 with the following settings:
[code]
but only on weighted records where another instance of external-dns (with a different `txt-owner-id`) is managing the other part of the weighted records.

[2021-04-15 20:02] Fred78290 commented on #2047
Hum, I think that you try to add a host in a fake subdomain "google.shubhamtatvamasi.com" instead a main domain "shubhamtatvamasi.com" hosted by godaddy. I had never test this case.

So, to help me find the problem, could you change the log level in full debug and catch the record sent to Godaddy.
Regards

[2021-04-16 05:08] ShubhamTatvamasi commented on #2047
Today when I added new ingress for `nginx.google.shubhamtatvamasi.com` it successfully updated on Godaddy. But  when I changed it to `nginx.aws.shubhamtatvamasi.com` I get the following error:
[code]

[2021-04-16 05:14] ShubhamTatvamasi commented on #2047
I think it's mostly getting errors when there is an entry that needs to be deleted.

[2021-04-16 07:38] Fred78290 commented on #2047
If I resume:

1. You created a first ingress with host: nginx.aws.shubhamtatvamasi.com, it worked
2. You try to add a second ingress with host: nginx.google.shubhamtatvamasi.com, it failed
3. You try to delete the second ingress, it failed also.

OK, I'll check soon this workflow.

Regards

[2021-04-16 08:20] ShubhamTatvamasi commented on #2047
1. Created ingress with host: `nginx.google.shubhamtatvamasi.com`, it worked.
2. Deleted host: `nginx.google.shubhamtatvamasi.com`, it failed.
3. Created host: `nginx.aws.shubhamtatvamasi.com`, it failed.

[2021-04-16 12:23] malacoss commented on #1837
In our case it was not a bug (with `rfc2136` provider). Our `named` server has a minimal TTL of `300`, the looped entries were annotated as `60`.

[2021-04-16 17:29] stefanlasiewski commented on #1596
This isn't affecting us any more as far as I can tell. I'll go ahead and close this issue.

[2021-04-16 17:29] #1596 closed

[2021-04-16 21:07] vinny-sabatini commented on #2023
/assign
PR has been created

[2021-04-16 21:34] #2023 closed

[2021-04-17 06:36] #1283 closed

[2021-04-17 07:36] #1487 closed

[2021-04-17 07:36] #1488 closed

[2021-04-17 07:36] #995 closed

[2021-04-17 07:36] #1510 closed

[2021-04-17 07:36] #1617 closed

[2021-04-17 07:36] #1670 closed

[2021-04-17 07:36] #1669 closed

[2021-04-17 07:36] #1386 closed

[2021-04-17 08:36] #1282 closed

[2021-04-17 08:36] #751 closed

[2021-04-17 14:10] Fred78290 commented on #2047
Well I can't reproduce the error on my account.

To help me more, can you provide theses informations
1 - DNS zone issued with the command curl as above, send me thru mail if you want by hdding sensitive datas. I think that you got a empty data in your DNS Zone during your test and go daddy doesn't support missing Data field.

    -H  "Authorization: sso-key $GODADDY_API_KEY:$GODADDY_API_SECRET" \

[2021-04-17 16:44] ShubhamTatvamasi commented on #2047
1. curl output:
[code]

2. Command line argument
[code]

3. ingress value
[code]

[2021-04-17 17:24] ShubhamTatvamasi commented on #2047
get a specific record:
[code]

delete a specific record:
[code]

[2021-04-17 17:43] Fred78290 commented on #2047
Add argument to command line: --ignore-ingress-tls-spec

It's a recent new feature and working now and I'll implement it asap!

[code]

[Submitted solution in aug 2020](https://stackoverflow.com/questions/63319685/godaddy-deleting-a-single-dns-record-through-the-api-using-bash-shell-script)

Regards

[2021-04-18 10:44] #1675 closed

[2021-04-19 06:09] fiskhest commented on #632
/remove-lifecycle stale

[2021-04-19 12:00] siarhei-karanets-epam commented on #1810
/remove-lifecycle

[2021-04-19 14:02] fiskhest commented on #1810
/remove-lifecycle stale

[2021-04-19 16:43] germel opened #2055 "Does not seem to work with the examples from terraform-google-kubernetes-engine"
**What happened**: Installed a gcloud k8s cluster as per example(s) from [gke module](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine), created a google cloud DNS domain and the ingress, all with the appropriate annotations. From the container's log I get authentication errors:

[code]

**What you expected to happen**: The zone file should get updated with the ingres

[2021-04-19 23:57] vinny-sabatini commented on #2024
I took a quick look at the Gateway Rest API and could not find a DNS deploy API endpoint, so I believe that will have to be updated first: https://github.com/bluecatlabs/gateway-workflows/tree/master/Community/rest_api

[2021-04-20 03:26] vinny-sabatini commented on #2022
/assign

[2021-04-20 20:28] irom77 opened #2057 "Infoblox entries are continuously created and deleted with no change to service"
**What happened**:

Based on logs , Infoblox entries are continuously created and deleted, so I can see log trashed with these two lines below
[code]
**What you expected to happen**:

I expect Infoblox entries to be created when service is up, and deleted when service is deleted

**How to reproduce it (as minimally and precisely as possible)**:

Just follow the example in the doc with Infoblox pro

[2021-04-21 09:58] bodgit commented on #1470
I've just had chance to revisit this and based on what I've had to do for other controllers, I've found the easiest fix is to add the environment variable `AWS_STS_REGIONAL_ENDPOINTS=regional` to the deployment spec. This can be added easily enough with Kustomize or equivalent.

[2021-04-21 09:59] bodgit commented on #1944
Copied from what I put in #1471:

I've just had chance to revisit this and based on what I've had to do for other controllers, I've found the easiest fix is to add the environment variable `AWS_STS_REGIONAL_ENDPOINTS=regional` to the deployment spec. This can be added easily enough with Kustomize or equivalent.

[2021-04-21 12:12] edward2a opened #2058 "nginx TransportServer support"
Hi team,

NGINX Ingress has added TCP/UDP forwarders via TransportServer resource.
It would be great if this could be added to the list of supported `--source` resources, as this pretty much works in the same lines as an Ingress resource does.

https://docs.nginx.com/nginx-ingress-controller/configuration/transportserver-resource/#

[2021-04-21 12:14] siarhei-karanets-epam commented on #1927
/lifecycle stale

[2021-04-21 12:14] siarhei-karanets-epam commented on #1927
/remove-lifecycle stale

[2021-04-21 16:03] Thibault-Brocheton commented on #1979
had the same issue
might be a namespace issue
There's this little sentence in the README: For clusters with RBAC enabled, be sure to choose the correct namespace.
So you'll need to add the correct namespace to all kube objects

[2021-04-21 18:04] PulseBright commented on #1987
The --rfc2136-gss-tsig was added with the addition of the Windows DNS support in rfc2136, it should stay in the docs for master as the code is present there as well. The whole Windows+kerberos section doesn't work without that flag.

The flag isn't present in release 0.7.6 yet, you either need to build it yourself (using master) or wait for 0.7.7, I'd guess.

[2021-04-21 23:42] stevenelleman commented on #1979
@ackris -- running into the identical issue. Did you find a fix?

[2021-04-22 04:03] lambertpan opened #2059 "External dns with multiple ingress"
I am using kong & kube-ingress-controller for the ingress. If I mention kong in the ingress class annotation, the external dns is creating the record set, but if I don' specify the class name or kubeing (because I have for the filter on kube-ingress-controller - --ingress-class-filter=kubeing), external dns is not creating the record set.

I expect external dns needs to work with multiple ingress.

[2021-04-22 04:48] #2022 closed

[2021-04-22 10:59] gavinvandermerwe commented on #1899
@keperry I am noticing the same behaviour with v0.7.6. There are some really strange behaviours here.

- Deploying an app for the first time just after installing the external-dns, it registers the A records with IP's. After deleting the app and redeploying(sometimes 2/3 times), finally it registers the A record with the FQDN of the load balancer.
- The other bizarre behaviour here is that deletin

[2021-04-22 14:43] Timoses commented on #1841
/remove-lifecycle stale

[2021-04-22 17:27] stevenelleman commented on #1979
I fixed the issue by changing my deployment order:
1. Deploy all resources via terraform _except_ my `external-dns.yaml` (which are the same as yours @ackris ).
2. Manually create iam policy via aws cli.
3. Manually create iam service account using my new cluster and new iam policy. This step generates a new associated role.
4. _Add_ the role arn of the generated role to the `ServiceAccount` annot

[2021-04-23 02:48] lambertpan commented on #2059
It appears to be an ingress issue, hence closing it.

[2021-04-23 02:48] #2059 closed

[2021-04-23 09:22] shankarsundaram opened #2062 "External dns is not creating Alias record instead creating CNAME records in route53 for alb ingress"
external dns is creating only CNAME record even the AWSPreferCNAME:false for aws alb ingress controller
I'm expecting for alias record but it is creating only cname.

external dns version: bitnami/external-dns:0.7.4-debian-10-r29
alb ingress version: aws-alb-ingress-controller:v1.1.8
external-dns.alpha.kubernetes.io/hostname: <dnsname that points to alb address>

Args:
--log-level=info
--log-forma

[2021-04-23 12:28] #1853 closed

[2021-04-24 17:33] #1871 closed

[2021-04-24 19:40] buzzsurfr commented on #1441
I'm looking at contributing to this issue (since I'm also interested in it), but wanted to discuss the experience before working on it.

* Would this need a feature flag or argument to enable? (e.g. wouldn't be a default)
* Would we want some sort of permission model for determining which external-dns instance can share a service/record?

I'm specifically focusing around the **aws-sd** provider (b

[2021-04-26 04:48] shankarsundaram commented on #2062
This was due to aws region issue in af-south-1.
https://github.com/kubernetes-sigs/external-dns/pull/1832

[2021-04-26 04:48] #2062 closed

[2021-04-26 14:04] sagor999 commented on #1441
@buzzsurfr would be really cool if you can implement this feature!
Some thoughts:
- I think this feature should be behind argument, since it does change behavior of external-dns quite a lot. Plus that would allow us to test this feature a bit more safely.
- I think we should indicate to external-dns that some record should be marked as 'shared' (probably via additional annotation?). That way if ex

[2021-04-26 19:45] #1872 closed

[2021-04-26 20:31] sysadmiral commented on #1930
I've done a brief investigation into this for exactly the same reasons. From what I can ascertain by digging through the source code of pihole and looking at the community api wrapper (https://pypi.org/project/PiHole-api/ or https://github.com/Ewpratten/PiHole-api) pihole does not have endpoints to update local dns records programatically yet.

This led me to look into RFC2136 as an option but ala

[2021-04-26 20:48] ohauer commented on #2057
Do you have specifiied external-dns.alpha.kubernetes.io/ttl ?
If yes, try without the line. In case the line is specified and on infoblox a default ttl is set on the view external-dns will try to recreate the dns entry with the ttl specified in the deployment

[2021-04-26 23:06] irom77 commented on #2057
I dont have this line, see my config below
[code]

[2021-04-27 05:31] ShubhamTatvamasi commented on #2047
Hi @Fred78290, how's the work going on the delete feature?

[2021-04-27 05:47] ohauer commented on #2057
I was meaning check if you have a ttl line on your service deployment that does not match the ttl from infoblox e.g.

check an existing dns entry set by external-dns, in my case ttl is set to 300 by infoblox
[code]
Now check if your service has external-dns.alpha.kubernetes.io/ttl defined
[code]

If external-dns.alpha.kubernetes.io/ttl is set in the deployment of your service and the ttl does not

[2021-04-27 07:29] Fred78290 commented on #2047
Hello, not yet, some overload...

Did you tried again with the argument: --ignore-ingress-tls-spec normally it will solve the problem.

Regards

[2021-04-27 13:07] irom77 commented on #2057
My test svc does not include 'external-dns.alpha.kubernetes.io/ttl'

[code]
and the record created all over again is

`nginx-test2.a360test.com. 900 IN  A       10.4.1.5`

I checked after a few min with _dig nginx-test2.advisor360test.com_ and it shows 0 ttl (still being recreated), not sure if it matters

[code]

[2021-04-27 15:34] fitchtech commented on #1944
@bodgit I set the environment var in the deployment spec and see it's now trying to hit the regional endpoint but still failing.

time="2021-04-27T15:29:18Z" level=info msg="config: {APIServerURL: KubeConfig: RequestTimeout:30s ContourLoadBalancerService:heptio-contour/contour SkipperRouteGroupVersion:zalando.org/v1 Sources:[service ingress] Namespace: AnnotationFilter: LabelFilter: FQDNTemplate:

[2021-04-27 16:35] amendoza-navent commented on #1228
The same issue with Google Cloud DNS.

[2021-04-27 21:05] ShubhamTatvamasi commented on #2047
I did, but the error remains.

[2021-04-28 21:10] fitchtech commented on #1944
@psoares  @bodgit figured out the issue was with DNS resolution in the EKS cluster not working correctly when you use a custom IPv4 CIDR for the EKS cluster. Cause CoreDNS wasn't working it threw this error which was misleading in my case. This happens when you set a custom service IPv4 range like 10.100.0.0/16 for example. I needed to update the launch template user data script for the EKS node g

[2021-04-29 08:12] robwithhair commented on #1929
We are experiencing the issue today.

[2021-04-29 10:54] arunavamagi opened #2063 "Polling Interval not taking into effect with EKS but works with GKE"
**What happened**:

To Prevent Rate Limit Exceeded Errors in Route 53, tried following configuration to address the issue

interval: 900s
provider: aws
triggerLoopOnEvent: true

**What you expected to happen**:

Route 53 APIs will be internally invoked by External DNS every 15 mins.
But from logs, its seems External DNS polls/invokes every 30 seconds

time="2021-04-29T10:11:23Z" level=info msg="Al

[2021-04-29 13:37] #2063 closed

[2021-04-29 16:58] gavinvandermerwe commented on #1899
@keperry After a bit more digging it feels like a race condition for how the route53 cache gets updated internally. The IP addresses become available before the A record for the load balancer.

After a fresh deploy of the echoserver, just after creating the cluster, I delete the route53 records (registered with IP's) and a minute later it puts the records back with the correct A record. The script

[2021-04-30 02:26] wrogrammer opened #2064 "GKE - 403 `Unable to generate access token; IAM returned 403 Forbidden."
**What happened**:

The latest version ExternalDNS returning a 403 error on GKE.
Cluster created with: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine

Error message:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

[code]

`
gcloud iam service-accounts create "sa-$base" --display-name="$_sa_name" --project="$base"
`

`
sa_email=$(gcloud ia

[2021-04-30 13:58] cawilliamson commented on #1718
Any further updates on this issue?

It's actually causing problems for me at this point and I would strongly like to see it resolved.

[2021-04-30 13:59] cawilliamson commented on #1718
/remove-lifecycle stale

Is there any update on this at all?

I'd really like to see this resolved as it's starting to cause us problems! :(

[2021-04-30 15:41] cmsmith7 commented on #1293
Just a quick request for an update, is there any estimated date that this will proceed.

[2021-05-01 00:25] FriedCircuits commented on #1608
Just in case anyone comes across this issue trying to so the same thing. I found a way easier way to do this. Following this guide I was able to get it to work with ODIC and without needing roles on the AWS account with the EKS Cluster. See: https://aws.amazon.com/blogs/containers/cross-account-iam-roles-for-kubernetes-service-accounts/

I have it completely working in terraform with 2 copies of e

[2021-05-01 02:06] stefanlasiewski commented on #219
This would be a great feature for any large multi-user installation, particularly since https://github.com/kubernetes/kubernetes/issues/71032 will not be supported.

[2021-05-01 18:28] ekeih commented on #2044
TL;DR: external-dns does not support IPv6 in a generic way. AWS seems to be the only provider with dualstack support in external-dns. There is a rather new issue https://github.com/kubernetes-sigs/external-dns/issues/2051 which hopefully changes that (?).

After upgrading my hcloud cloud controller manager to 1.9.1 which includes the change from https://github.com/hetznercloud/hcloud-cloud-control

[2021-05-01 20:54] lukasmrtvy opened #2066 "feat: coredns authentication support"
**What would you like to be added**:
Would be nice to support native etcd authentication in coredns provider.

**Why is this needed**:
Simple form of authentication.

ping @ytsarev

Thanks

[2021-05-01 21:02] ytsarev commented on #2066
@lukasmrtvy could you please elaborate on the use case and flow? It's not obvious to me which auth type we are talking about

[2021-05-01 21:14] lukasmrtvy commented on #2066
Sure, I am talking about this https://etcd.io/docs/v3.4/op-guide/authentication/

I am running CoreDNS and Etcd with enabled authentication in different part of network as standalone instances:
[code]
I am able to create keys ( "dns records" ) in Etcd:
[code]

Problem is that CoreDNS provider does not support native etcd authentication and setting `ETCD_URLS=https://root:s3c3t@myetcd:2379` will no

[2021-05-02 08:54] ytsarev commented on #2066
We solved a similar case slightly different way by developing https://github.com/AbsaOSS/coredns-crd-plugin

The etcd is fronted by kube-apiserver though so not totally standalone.

[2021-05-02 21:05] evhan commented on #2040
We have a use case where this would help. In our situation we have a single zone, and we want to manage multiple domains within that zone using separate instances of ExternalDNS so that we can configure their behaviours differently (different TXT owner details, publishing settings, etc.).

We'd expected the `--domain-filter` flag to let us do this, but like @bynare says it seems to instead behave

[2021-05-02 22:02] scastria commented on #2057
I have this same problem with AWS R53.  I have NO TTL specified and I don't see any delete log messages, only creates every 1 minute.  But they are getting deleted as sometimes if I catch it just right, I can see them missing Route53 console.

[2021-05-03 06:26] arunavamagi opened #2068 "External DNS: "interval" not taking into Effect on EKS on specific scenarios"
**What happened:**

To Prevent Rate Limit Exceeded Errors in Route 53, tried following configuration to address the issue on an EKS cluster where External DNS was installed from before.

**interval: 900s
provider: aws
triggerLoopOnEvent: true**

**What you expected to happen:**

Route 53 APIs will be internally invoked by External DNS every 15 mins.
But from logs, its seems External DNS polls/invo

[2021-05-03 09:20] ludusrusso opened #2069 "Support Neamecheap"
It would be nice to support namecheap, is that possibile?

[2021-05-04 19:06] grandich opened #2071 "Full reconciliation on RFC 2136 transfer error"
**What happened**:

Using RFC 2136 provider, when a sporadic error occurs while fetching records from a zone transfer, the full registry es reconciled (all records re-added). Note this is not an error initiating the transfer, but fetching records.

[code]

We suspect in our installation, this issue also caused multiple instances of External DNS overwriting each other's owned records (ignoring txt-

[2021-05-05 14:57] grandich commented on #1089
Can we have two identical instances of External DNS working safely?

Because I'm using this helm chart (https://github.com/bitnami/charts/tree/master/bitnami/external-dns), which has the ability to define N replicas of a Deployment of External DNS.

[2021-05-05 15:29] Israphel commented on #1420
/reopen
/remove-lifecycle rotten

[2021-05-05 15:30] Israphel commented on #1420
don't close a bug that isn't fixed

[2021-05-05 18:13] stevehipwell commented on #1941
I've finally got around to creating an ExternalDNS Helm chart. I've built it from scratch based on the official examples and have chosen to keep the values simple by only providing named config for common options with all other options configured via the `extraArgs` value.

https://artifacthub.io/packages/helm/stevehipwell/external-dns

[2021-05-06 06:31] james-callahan commented on #1903
The kustomization needs updating for 0.8.0 still....

[2021-05-06 15:52] #1883 closed

[2021-05-06 17:06] morremeyer commented on #1812
/lifecycle hold

[2021-05-06 17:09] morremeyer commented on #1812
/lifecycle frozen

[2021-05-06 17:11] morremeyer commented on #1812
Relates to #2051, I'll track the state of it and thaw the lifecycle once appropriate

[2021-05-07 03:14] seanmalloy commented on #449
/remove-lifecycle stale

[2021-05-07 07:22] danopia commented on #2051
My own contributions in this area: #1875 #1887

[2021-05-07 18:35] jmjohnson-slalom opened #2075 "Support Ambassador host resource as source"
My team would like that External DNS supports the Ambassador host resource as a source.

There is currently no way to use the Ambassador host resource with External DNS which is needed when Ingress as source is not an option. This is referenced in a previously closed issue, but has not appeared to have been solved #1552. It was said to have been solved in #1642, but I don't think this fixed what w

[2021-05-07 20:46] rafatio commented on #2040
We have a similar scenario here, we want to only enable the creation of specific subdomains for different ExternalDNS instances. For example, we are using the aws provider with the hosted zone `example.com`. In instance A we want to use `--domain-filter=a.example.com` to only enable the creation of `*.a.example.com`. In instance B we want to use `--domain-filter=b.example.com` to only enable the c

[2021-05-08 00:10] boniek83 opened #2076 "Same domain name using fqdn template with Service and Ingress"
**What happened**:
FQDN template is either poorly documented or I can't find needed information. Are .Name and .Namespace the only variables available? This is not enough information to provide unique domain name when using fqdn templates in example below, what is needed is something like .Type or .Kind that will provide information about what kind of object we are dealing with (either ingress or

[2021-05-09 16:12] #1889 closed

[2021-05-10 23:50] eroji opened #2077 "Unable to get external-dns to work with CoreDNS and etcd"
I followed the instructions found on https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/coredns.md for setting up a CoreDNS cluster with etcd backend. The instruction is quite out-of-date but I believe I have it configured properly.

The etcd cluster is deployed via Helm 3 and etcd-operator.
[code]

etcd cluster comes up healthy
[code]

etcd services are also online
[code]

[2021-05-11 03:15] #1784 closed

[2021-05-11 09:23] ffilippopoulos commented on #409
/remove-lifecycle stale

[2021-05-11 09:25] george-angel commented on #484
/remove-lifecycle stale

[2021-05-11 22:22] eroji commented on #2077
I was able to figure out the issue. The example deployment manifest for external-dns is set to watch ingress, so I needed to change that to `service`. Also, I missed the part indicated on the homepage that the DNS entries are controlled by annotations. After adding an annotation `external-dns.alpha.kubernetes.io/hostname: my-nginx.default.svc.example.org` to the service I was then able to see the

[2021-05-11 22:22] #2077 closed

[2021-05-12 08:25] Raffo commented on #2068
We do not maintain the helm chart and we do not support it. I believe this issue should be open to the helm chart repo. The feature as it is, seems to work for people. Closing.

[2021-05-12 08:25] #2068 closed

[2021-05-12 11:55] unixfox commented on #1263
/remove-lifecycle stale

[2021-05-12 13:27] sgreene570 commented on #1405
Kindly see https://github.com/kubernetes-sigs/external-dns/issues/2045

[2021-05-12 13:28] sgreene570 commented on #2045
cc @danehans

[2021-05-12 20:36] grandich commented on #1933
Seeing same behaviour with RFC 2136 provider.

[2021-05-13 13:57] jwitko commented on #1594
/reopen

[2021-05-13 13:57] jwitko commented on #1594
/remove-lifecycle rotten

[2021-05-13 16:07] hetpats opened #2079 "Feature Request to suport assume role in aws with exteral_id"
**What would you like to be added**: Need assume role capability with external_id into another aws account, also need a list of all the arguments that are supported, could not find it anywhere in the document.

**Why is this needed**:To assume role in different account to update R53 records cross account.

[2021-05-13 22:02] ericrrath commented on #1594
/reopen

[2021-05-14 00:47] Justin-DynamicD opened #2080 "AzureDNS, records not removed when DNSEndpoint is deleted"
**What happened**:

using a helmchart, deployed 0.8.0 and configured the following key values:

[code]

I then created a DNSEndpoint resource with a simple spec:

[code]

Logs show both records create successfully (CNAME and TXT).

Then, I delete the DNSEndpoint:

**What you expected to happen**:

Both records to get deleted. Instead, nothing.  Not even a log implying it tried.

Deleting the DNSEn

[2021-05-14 06:46] fiskhest commented on #1775
/remove-lifecycle rotten

[2021-05-14 08:34] H3rman8 commented on #1432
/remove-lifecycle stale

[2021-05-14 08:36] H3rman8 commented on #1432
This issue is waiting for this PR to be approved:
https://github.com/kubernetes-sigs/external-dns/pull/1521

[2021-05-14 08:53] timbunce commented on #1784
Hi @odg0318. Is this still a problem or did you find a resolution? (I'm looking for information on how external-dns works at large scales.)

[2021-05-14 09:51] k0da opened #2081 "managed-record-types have no effect"
**What happened**: Using managed-record-types to allow to manage NS type records have no effect
```--managed-record-types A,NS```

**What you expected to happen**:
NS record is created

**How to reproduce it (as minimally and precisely as possible)**:
run external-dns with ``--managed-record-types A,NS`` option and source CRD. Create NS record type DNSEndpoint object.

**Anything else we need to k

[2021-05-14 10:21] miguelgmalpha commented on #1929
We encountered this issue today using v0.7.6. Tested this with v0.8.0 and it still has the issue. Rolling back to v0.7.4 fixed it.

[2021-05-14 10:28] stephan2012 commented on #1929
Records not being deduplicated seems to be visible also with the `rfc2136` provider. `external-dns` constantly removes and adds a resource record because the same hostname is assigned to two different services sharing the same IP address.

Logs:

[code]

Service 1:

[code]

Service 2:

[code]

[2021-05-14 15:35] SimonGurney opened #2082 "AzureDNS default configuration does not work as TXT record conflicts with CNAME record"
I followed the guide, and used the bundled k8s manifests, to implement external-dns with the AzureDNS provider but it attempted to register both the CNAME and TXT record with the same record name, thus generating an error.  This resulted in the record being created, but not being updated or deleted as required.

This issue is documented here:
https://github.com/kubernetes-sigs/external-dns/issues/

[2021-05-14 16:37] Justin-DynamicD commented on #2080
Update:

changing the policy to "sync" from "upsert-only" seems to have fixed the behavior.  I'm not certain what this value actually controls (not seeing it referenced in the readme), but I guess I can go through the Go code and figure it out.

Assuming this is expected behavior.

[2021-05-14 16:46] Justin-DynamicD commented on #2082
Hey Simon!

I don't work on this project but it does already contain the ability to add either prefix or suffix to txt records, which is what I do now.

https://github.com/kubernetes-sigs/external-dns#note

you can use `--txt-prefix` or `--txt-suffix`

[2021-05-14 16:48] #2080 closed

[2021-05-14 16:51] SimonGurney commented on #2082
Yep it sure does, my PR add this to the default deployment provided in the Azure tutorial so it works when following their guide :)

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Justin King ***@***.***>
Sent: Friday, May 14, 2021 5:47:07 PM
To: kubernetes-sigs/external-dns ***@***.***>
Cc: SimonGurney ***@***.***>; Author ***@***.***>
Subject: Re: [kubern

[2021-05-14 17:34] Fred78290 commented on #2047
@ShubhamTatvamasi

Hello,

Back again on this issue. I have implemented the delete API. An image for testing is available here: fred78290/external-dns:v0.8.0-godaddy.

Could you try it and tell if everything is fixed before my PR.

Regards

[2021-05-14 17:35] ShubhamTatvamasi commented on #2047
Have you built any docker image for the same?

[2021-05-14 17:39] Fred78290 commented on #2047
I have just built an image with latest version of external-dns frommaster branch amd64 only and changed my code to use the new delete API to delete dns record.

[2021-05-14 18:05] Vadim-Zenin commented on #992
We have the same behaviour with 0.7.6 and 0.8.0 versions on AWS Route53
Config:
`external-dns.alpha.kubernetes.io/ttl: '900'`

[2021-05-14 19:09] Fred78290 commented on #2047
Happy to ear it.

Thank you very much.

[2021-05-15 04:05] ShubhamTatvamasi commented on #2047
I have one question. When I used this ingress config it has created two A records for the following:
- new.nginx.google.shubhamtatvamasi.com
- nginx.google.shubhamtatvamasi.com

[code]

should I use same value for `host` and `external-dns.alpha.kubernetes.io/hostname` ?

[2021-05-15 08:02] Fred78290 commented on #2047
Hello, to avoid this problem, you can pass the command line argument: ignore-hostname-annotation. This problem doesn't concern the godaddy provider but the external-dns software itself.

[2021-05-15 21:58] dylex commented on #1502
I just saw this with v0.8.0 on cloudflare.  The effect was a bit different because each update in cloudflare is independent, but it still left things in a weird state with an incorrect TXT record.  I had a service, which I deleted:
[code]
This left a TXT record with no A record.  Shortly thereafter I created a pod with the same hostname to replace it:
[code]
/reopen

[2021-05-15 23:47] #1416 closed

[2021-05-16 19:55] #1900 closed

[2021-05-16 21:55] #1781 closed

[2021-05-17 08:10] zacyang commented on #961
seems you have less permission than documented https://github.com/kubernetes-sigs/external-dns/blob/master/kustomize/external-dns-clusterrole.yaml
did you have role in some other places as well?

[2021-05-17 08:10] zacyang commented on #961
seems you have less permission than documented https://github.com/kubernetes-sigs/external-dns/blob/master/kustomize/external-dns-clusterrole.yaml
did you have role in some other places as well?

[2021-05-17 12:09] lukasmrtvy commented on #1454
/remove-lifecycle stale 🙄

[2021-05-18 05:26] james-callahan commented on #1904
confirmed to still be an issue in 0.8.0.

[2021-05-18 13:01] miguelgmalpha commented on #1929
Yes, this is the same case for us. We have two different records pointing to the same EKS nodes.

[2021-05-18 13:12] miguelgmalpha commented on #1929
We have a similar scenario where two diferent DNS entries point to the same IPs
[code]
Service 1:
[code]
Service 2:
[code]

[2021-05-18 14:44] arvin-a opened #2086 "Update Infoblox GO API version to v1.1.1"
**What would you like to be added**:
Add reference to new infoblox go api version v.1.1.1
https://github.com/infobloxopen/infoblox-go-client/releases/tag/v1.1.1

**Why is this needed**:
This release contains several bug fixes for Infoblox go api

[2021-05-18 15:36] jpaulodit commented on #1707
Hi, I also faced the same problem recently. Was there a solution for this? @jessebye
Any suggestion is appreciated.

[2021-05-18 18:25] jessebye commented on #1707
@jpaulodit yes, we got this working as follows:

We create `Ingress` resources with an annotation of `'external-dns.alpha.kubernetes.io/hostname': 'alb.<our-domain-name>.com` in the `istio-system` namespace. These have a path `/*` that uses `istio-ingressgateway` as the backend.

Then we have a Istio `Gateway` resource named `private` with the selector set to `istio: ingressgateway`. Finally in ou

[2021-05-19 14:09] anandkumarpatel opened #2090 "Ignore Spec.Rules in ingress source."
**What would you like to be added**:

I would like the ability to not make records for ingress controllers Hosts.

**Why is this needed**:
We have an external system that creates our top-level DNS entries. External-dns creates records that conflict with our main dns system. The ingress already has flags to ignore annotations and TLS sources, so this feature is the last configuration option needed

[2021-05-19 14:34] sgreene570 commented on #1770
Would it be possible to write e2e tests to run of top of kind, assuming we are able to (at least partially) mock some supported cloud providers?

[2021-05-19 18:29] sgreene570 opened #2092 "CRD Source Status field is lacking"
The [CRD source implementation](https://github.com/kubernetes-sigs/external-dns/blob/master/source/crd.go) only syncs `observedGeneration` to the CR's status field.

It would be useful if more information was propagated to the CRs status field when the resource was sync'd, such as whether or not ExternalDNS was successful in publishing the requested record to the relevant provider. Information ava

[2021-05-20 09:13] vikas027 commented on #903
Hey @santiagopoli ,

By multiple instances do you mean, multiple helm charts with different `txt-owner-id` (or hostedzone identifier)?

[2021-05-20 09:33] vikas027 opened #2093 "Multiple Route53 Hosted Zones?"
## Environment
* Two AWS Route53 Zones
  - `abc.myorg.internal`
  - `abc.myorg.com`

## Problem
I have gone through the [documentation](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md) and issues but could not find if there is a way two create records in multiple R53 hosted zones

## Alternatives
I have not tried but possibly this #903 but with this I will have to

[2021-05-20 12:53] voro015 opened #2094 "AWSSDRegistry crash on nil Endpoint Labels map"
**What happened**:
Running `docker.io/bitnami/external-dns:0.7.5-debian-10-r0` AWS EKS, only `--source=node` with `--provider=aws-sd --registry=aws-sd` crashed on initial loop:
[code]

**What you expected to happen**:
external-dns will create new service with instances there without issues.
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Using Cloud Map public DNS Namespa

[2021-05-21 08:10] vikas027 commented on #2093
Ah, ignore this. [deployment](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md#manifest-for-clusters-with-rbac-enabled) resource needs to be duplicated.

[2021-05-21 08:10] #2093 closed

[2021-05-21 08:16] vikas027 opened #2097 "Feature Request: Support Ambassador Mapping Resource"
It would be great if you can support [Ambassador](https://www.getambassador.io/) mapping resource

[code]

[2021-05-21 15:10] mstefany opened #2099 "rbac.authorization.k8s.io/v1beta1 is deprecated"
**What happened**: `rbac.authorization.k8s.io/v1beta1` is deprecated, has been replaced by `rbac.authorization.k8s.io/v1` in v1.8, and will be removed in v1.22

**What you expected to happen**: `rbac.authorization.k8s.io/v1beta1` should be migrated to `rbac.authorization.k8s.io/v1`

**How to reproduce it (as minimally and precisely as possible)**: Deploy using provided manifests.

**Anything else

[2021-05-21 19:20] dennisme commented on #1899
Echo server example shows and Ingress not a Service of type nodeport. Can you post the yaml of your test Service or point my at its location?

[2021-05-21 21:24] jpaulodit commented on #1707
This worked for me. Thank you for the suggestion. @jessebye

[2021-05-22 03:36] andresjulia1 opened #2100 ""Failed to sync cache: timed out waiting for the condition""
**What happened**:
time="2021-05-22T03:29:45Z" level=info msg="Created Kubernetes client https://172.20.0.1:443"
time="2021-05-22T03:30:48Z" level=fatal msg="failed to sync cache: timed out waiting for the condition"

**What you expected to happen**:
Pod running normally
**How to reproduce it (as minimally and precisely as possible)**:
This is my tempalte file:

[code]
**Anything else we need to k

[2021-05-22 10:44] bbl commented on #1394
We had a similar requirement, so I created the following PR: https://github.com/kubernetes-sigs/external-dns/pull/2089

[2021-05-22 10:45] bbl commented on #1495
We had a similar requirement, so I created the following PR: https://github.com/kubernetes-sigs/external-dns/pull/2089

[2021-05-22 16:29] dennisme commented on #1899
What version of kubernetes are you on @ari-becker?

[2021-05-23 02:58] vikas027 commented on #2100
Hey @andresjulia1 ,

I think `--txt-owner-id=external-dns` should be this `--txt-owner-id=<your_public_zone_id>` (example `--txt-owner-id=Z07007693BXXXXXXX`)

[2021-05-23 17:43] #1604 closed

[2021-05-24 00:08] andresjulia1 commented on #2100
Nope, not working :(

[2021-05-24 00:31] vikas027 commented on #2100
Oh, that works for me in AWS Route with a `service` resource.

[2021-05-24 08:49] myl82 opened #2101 "Cloudflare: External-dns does't delete dns records"
**What happened**: External-dns service doesn`t delete corresponding DNS-records after delete workload from cluster.

**What you expected to happen**: After deleting ingress rule the corresponding DNS record should be deleted too

**Environment**:
- External-DNS version (use `external-dns --version`): v0.7.0
- DNS provider: Cloudflare
- Others: chart: external-dns-2.20.4

In cloudflare, zone with

[2021-05-24 09:22] Raffo commented on #2099
@mstefany that doesn't sound like a "bug" cause we don't do anything with RBAC. I think what's required here is really only a pass through the docs.

[2021-05-24 14:51] Skaronator commented on #1975
/remove-lifecycle stale

[2021-05-24 15:49] #1299 closed

[2021-05-25 08:44] linki commented on #646
[The initial PR](https://github.com/kubernetes-sigs/external-dns/pull/821) required changes and was closed. There was no follow up since then.

It would be great if ExternalDNS emitted events about what it's doing.