[2021-05-25 14:06] mmerrill3 opened #2102 "Infoblox implementation will throw exceptions when there are over 999 hosted zones"
**What happened**:

External-dns is ran with the configuration to use infoblox as the DNS provider.  If the size of the hosted zones from the GET API "zone_auth" is larger than 999 hosted zones, the infoblox API will throw an exception

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

Run external-dns with infoblox as the DNS provider.  If there

[2021-05-25 14:12] mmerrill3 commented on #2102
This is applicable for large organizations where there are thousands of hosted zones,... like mine.

[2021-05-25 14:43] mmerrill3 commented on #2102
FYI @saileshgiri

[2021-05-25 19:28] mhsh64 opened #2103 "Upgrade to v0.8.0 breaks deployment for azure private dns"
We are using Azure Private DNS, which was working fine so far in v0.7.1 (--provider=azure-private-dns)Here is the sa cluster role:

**What happened**: when upgrading to v0.8.0 the deployment failed

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**: we are using private dns in azure which was working fine with v

[2021-05-25 19:55] mhsh64 commented on #2103
Maybe related to the same issue here

github.com/bitnami/charts/issues/6319

[2021-05-26 00:05] bynare opened #2104 "Not all domain filter match tests are being run"
**What happened**:
1328c2955167d4882a10206366141104d7d95c46 seems to have caused `TestDomainFilterMatch` to no longer run any tests.

**What you expected to happen**:
`TestDomainFilterMatch` to run on provided test data.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
Pull request coming shortly.

**Environment**:
- master branch

[2021-05-26 06:57] #2086 closed

[2021-05-26 08:31] #2104 closed

[2021-05-26 13:04] moskitone opened #2106 "Alias to CNAME record type changes failed"
**What happened**:
New feature provided by https://github.com/kubernetes-sigs/external-dns/pull/1867 does not work with some EKS endpoints.
We have bunch of ingresses covered by nginx-ingress and AWS NLB.
In current setup we have lots of A(alias) records in route53 zones. After upgrading external-dns to 8.0.0 and setting --aws-prefer-cname nothing has changed.
We can see lots of records in logs li

[2021-05-27 05:41] nicohouillon opened #2111 "existing records not updated upon ELB change"
**What happened**:
existing A record pointing to an ELB does not get either deleted/recreated or updated when switching to ALB
**What you expected to happen**:
A record should now point to the newly created load balancer endpoint as the previous load balancer is stale and deleted

**How to reproduce it (as minimally and precisely as possible)**:
changing service type from LoadBalancer to NodePort

[2021-05-27 08:00] timbunce commented on #1558
/remove-lifecycle stale

[2021-05-27 13:56] #2047 closed

[2021-05-28 09:19] morremeyer commented on #1875
/lifecycle frozen

this is part of the IPv6 efforts and should therefore not be autoclosed.

[2021-05-28 13:13] masarlabs commented on #1489
/remove-lifecycle stale

[2021-05-29 00:16] LorbusChris commented on #1604
I believe this is still relevant
/reopen

[2021-05-29 12:08] niteshagrawalgmail opened #2114 "route 53 support if cluster is not in aws ?"
If the cluster is not on aws , can I use route53 with external-dns ?

I had asked the query in the slack but didn't get any reply so asking it here.

[2021-05-29 19:47] Lngramos commented on #2114
Looking at the [underlying provider code](https://github.com/kubernetes-sigs/external-dns/blob/43d29f8032d2e79d2d666f794b89b71ad3349a12/provider/aws/aws.go#L190-L201), it initialises the Route 53 client using the [sessions options from Shared Config](https://pkg.go.dev/github.com/aws/aws-sdk-go/aws/session#hdr-Sessions_options_from_Shared_Config). So as long as `external-dns` can access a valid `~

[2021-05-29 21:17] vsychov commented on #2101
Have you try to use "--policy=sync" flag?

[2021-05-29 21:27] oz123 commented on #2069
Probably easy: https://github.com/adamdecaf/namecheap

[2021-05-30 18:16] niteshagrawalgmail commented on #2114
@Lngramos Thanks a ton. I looked at the code and got it working.
Cheers!!!
Closing the issue.

[2021-05-30 18:16] #2114 closed

[2021-06-01 10:46] AndrewDryga commented on #1616
/remove-lifecycle stale

[2021-06-01 12:24] ecerulm commented on #1959
I guess this could be related (or at least it could be solved together with) to https://github.com/kubernetes-sigs/external-dns/issues/1421

[2021-06-01 18:19] jveraduran opened #2116 "Provider AKAMAI with EKS AWS - Failed to sync cache: timed out waiting for the condition"
**What happened**:

I have this error on the external-dns

`time="2021-05-28T12:23:27Z" level=info msg="Instantiating new Kubernetes client"
time="2021-05-28T12:23:27Z" level=debug msg="apiServerURL: "
time="2021-05-28T12:23:27Z" level=debug msg="kubeConfig: "
time="2021-05-28T12:23:27Z" level=info msg="Using inCluster-config based on serviceaccount-token"
time="2021-05-28T12:23:27Z" level=info ms

[2021-06-01 18:50] seanmalloy commented on #1855
/remove-lifecycle stale

[2021-06-01 23:02] WoodProgrammer commented on #1070
I've seen the same log messages in external-dns. In my case, there is multiple ingress object for the same domain address that's why external-dns returning this errors to us.

[2021-06-02 02:32] kmops commented on #1899
I have same issue.
I am using aws eks.
I faced this issue with ALB.

Please let me know the solution.

kubernetes version : 1.19
External-DNS version (use external-dns --version): v0.7.6
DNS provider: AWS Route53
Others: AWS VPC CNI, aws-load-balancer-controller v2.1.0

[2021-06-02 10:26] denismatiu opened #2119 "external-dns.alpha.kubernetes.io/access: private do not work well"
**What happened**:
Ingress annotation
```dns.alpha.kubernetes.io/access: private``` do not work well

**What you expected to happen**:
IP should be private. But in result I have public IP in A record

**How to reproduce it (as minimally and precisely as possible)**:
add annotation to ingress
```dns.alpha.kubernetes.io/access: private```

**Environment**:
- External-DNS version 8.0
- DNS provider:

[2021-06-02 14:39] spoukke commented on #1971
Hi!

If I were to implement a feature which allows to pass a static IP through a flag in order to "force" external DNS to use it in the DNS entries it creates, would it be merged ?

[2021-06-03 09:38] myl82 commented on #2101
@vsychov Is it a global key? I mean, does this work for all providers, or does each provider have their own list of keys?
I haven't seen "--policy=sync" -key in CloudFlare tutorial:
https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/cloudflare.md

Only in this tutorial contains reference to the key: "--policy=sync":
https://github.com/kubernetes-sigs/external-dns/blob/maste

[2021-06-03 11:34] kundan2707 commented on #2099
/assign

[2021-06-03 19:38] sgreene570 commented on #1961
This is a very interesting proposal @tsutsu!

@Raffo @seanmalloy do you have any specific thoughts on this?

[2021-06-04 06:53] autarchprinceps commented on #1995
/remove-lifecycle stale

[2021-06-04 14:38] #1994 closed

[2021-06-04 16:01] jslester14 commented on #2111
I'm having this exact same issue with external-dns v0.8.0, aws route 53, and k8s v1.20.4+k3s1

[2021-06-04 17:23] nicohouillon commented on #2111
adding a txt record matching my service/ingress made external-dns able to manage the existing A record and I could see the record being updated accordingly to the new load balancer.

[2021-06-04 21:56] Jean-Daniel opened #2122 "rfc2136 continually removing then adding A records when requested TTL < min-ttl"
**What happened**:

When requesting the external DNS to create an entry with a TTL that is less than the `--rfc2136-min-ttl` parameter, external dns remove and recreate the record every time it checks the zone.

**What you expected to happen**:

That external-dns apply min-ttl to the requested entry before checking if the entry is already setup in the target DNS.

**How to reproduce it (as minimal

[2021-06-08 14:01] bzon commented on #2116
I'm getting the same problem. I'm using `--provider=aws`.

[2021-06-08 15:08] jveraduran commented on #2116
@bzon on my case, i don't have problems with ```--provider=aws``` because i try with Route53 without problems. I use the **iamserviceaccount** https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md

[2021-06-09 08:27] #2099 closed

[2021-06-10 14:02] tibers opened #2123 "The CRD doesn't seem to work"
**What happened**: Applied the latest bitnami/external-dns chart, `--set provider=google --set policy=sync --set crd.create=true`.

**What you expected to happen**: Creating a CRD like -

[code]

Per the [example](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/contributing/crd-source/dnsendpoint-example.yaml) should have told external-dns to create an entry like `foo.myfqdn.com`.

[2021-06-11 20:58] #1601 closed

[2021-06-11 20:58] #1672 closed

[2021-06-12 12:34] haotangio commented on #1979
I don't have deep experience with K8S yet. However, based on my real experience solving this problem. I noticed somethings:

1. Need to use `eksctl` CLI instead of AWS web console to create the IAM role. Seems like the command will create some tags for the new role to work properly. E.g:
[code]

2. Using `kube-system` somehow didn't work for me. It only worked when I use `default` namespace.

[2021-06-12 15:16] lukasmrtvy opened #2124 "feat: Consul provider"
Original ( closed ) issue: https://github.com/kubernetes-sigs/external-dns/issues/380

[2021-06-12 18:39] omnibs opened #2125 "Cloudflare: manual changes to CNAME trigger deletes and cause downtime"
Manually changing a CNAME owned by external-dns makes it delete and re-create it, causing a few minutes of downtime.

I'm running external-dns with `--policy=upsert-only`, so I didn't expect this to happen.

**What happened**:

- External-dns rightfully picked up on the change
- Tried to revert it by issuing a `CREATE`
- The `CREATE` failed, rightfully
- External-dns followed up with a `DELETE` of

[2021-06-13 00:06] #1920 closed

[2021-06-13 20:58] sanjeevpandey19 commented on #1707
@jessebye doesn't it add another hop for dns -alb.<our-domain-name>.com would point to the alb created via ingress and your host in VS would point to alb.<our-domain-name>.com. won't it just add another hop count for client for dns query.

Or you are saying that external-dns would find out the aws alb dns name our of alb.<our-domain-name>.com which was created from ingress ? can you clarify please

[2021-06-13 20:58] sanjeevpandey19 commented on #1707
@jessebye doesn't it add another hop for dns -alb..com would point to the alb created via ingress and your host in VS would point to alb..com. won't it just add another hop count for client for dns query.

Or you are saying that external-dns would find out the aws alb dns name our of alb..com which was created from ingress ? can you clarify please

[2021-06-14 08:49] szuecs commented on #731
/remove-lifecycle stale

[2021-06-14 12:27] ecerulm commented on #1421
/remove-lifecycle stale

@Raffo

[2021-06-14 12:58] gregsidelinger commented on #2057
I'm seeing the same issue with the Infoblox provider.  When there is an `external-dns.alpha.kubernetes.io/ttl: "10"` annotation the record gets deleted then created again every cycle.  I also never see anything other than the default zone level TTL being registered in the Infoblox console.

[2021-06-14 13:07] scastria commented on #2057
I found the solution for me. I had another K8S cluster in the same AWS account running its own external-dns controller.  Both external-dns controllers were stepping on each other.  My solution was to specify the txtOwner setting on the helm chart of one of the controllers so that it would be unique and create unique TXT records along side the A records. The other controller would know not to mess

[2021-06-15 14:36] #1948 closed

[2021-06-16 00:05] oxr463 commented on #1210
/remove-lifecycle stale

[2021-06-16 05:12] BobyMCbobs opened #2126 "Managed record types not allowing NS record when declared"
**What happened**:
I updated my deployment of External-DNS to _v0.8.0_ and discovered that the record types need to be declared explicitly.
Then I added the following flags to the args in the deployment:
[code]

Currently, only my A records are reconciling.

**What you expected to happen**:
The NS records declared in DNSEndpoints should reconcile to the DNS server.

**How to reproduce it (as minim

[2021-06-16 06:30] olemarkus commented on #1997
/remove-lifecycle stale

[2021-06-16 07:43] k0da commented on #2126
@BobyMCbobs https://github.com/kubernetes-sigs/external-dns/pull/2078 should fix this

[2021-06-16 07:44] k0da commented on #2126
And looks like this is a dup of https://github.com/kubernetes-sigs/external-dns/issues/2081

[2021-06-16 07:57] BobyMCbobs commented on #2126
This is wonderful!
Thank you :smiley:

[2021-06-16 07:58] BobyMCbobs commented on #2126
Closing since it's a duplicate of #2081

[2021-06-16 07:58] #2126 closed

[2021-06-16 13:10] mikalai-t commented on #1995
It happens for me as well. With slightly different error

[2021-06-16 13:41] sgreene570 commented on #1730
The OpenShift Network Edge team is proceeding with a preliminary ExternalDNS operator design outlined via an [OpenShift enhancement](https://github.com/openshift/enhancements/pull/786), for anyone who may be interested. We hope to prove that an ExternalDNS operator would be worthwhile, and would ultimately like to gain some community buy-in.

[2021-06-16 16:23] #1674 closed

[2021-06-16 22:26] rayjanoka commented on #2101
if you are using the helm chart it will default to `upsert-only` which won't allow a record it to delete a record.

[code]

[2021-06-17 05:54] james-callahan commented on #1904
/remove-lifecycle rotten

[2021-06-17 14:43] lukasmrtvy commented on #1454
/remove-lifecycle rotten

[2021-06-17 19:51] sgreene570 commented on #2123
Can you provide the externalDNS deployment? ExternalDNS logs might also be helpful.

[2021-06-17 19:55] tibers commented on #2123
It doesn't log anything - but it doesn't do anything either. :\

On Thu, Jun 17, 2021 at 3:51 PM Steve Greene ***@***.***>
wrote:

[2021-06-18 19:25] darkn3rd commented on #1456
I'm still interested in this.

[2021-06-18 19:25] darkn3rd commented on #1456
/remove-lifecycle rotten

[2021-06-19 07:59] darkn3rd opened #2134 "Precedence ignored w/ Terraform v.1.0.0"
### Terraform Version

[code]

### Terraform Configuration Files

[code]

[code]

### Debug Output

upon request

### Crash Output

n/a

### Expected Behavior

I expected that the precedence as documented would set environment variables to the highest priority, but intead `terraform.tfvars` takes precedence.

The input variable for `resource_group_name` should be `test` as this was set by the envi

[2021-06-19 16:47] #1664 closed

[2021-06-20 08:22] sfxworks opened #2135 "Rate Limiting"
**What would you like to be added**:

I would like the ability to limit the number of record requests sent at once.

**Why is this needed**:

Cloudflare will rate limit you of you are updating a large number of requests at once.

[code]

https://support.cloudflare.com/hc/en-us/articles/200171456-How-many-API-calls-can-I-make-

If possible, half of this would be appreciated for the Cloudflare exten

[2021-06-20 21:58] #1814 closed

[2021-06-21 02:44] mrlihanbo opened #2136 "update version of dependency in go.mod to latest"
**What would you like to be added**:
hello, I found that the version of some dependency used in external dns are too old, which may exist some cve vulnerabilities. Do we have the plan to upgrade?

**Why is this needed**:
![1](https://user-images.githubusercontent.com/74236054/122700324-a3748700-d27d-11eb-892b-c05182be0970.PNG)

[2021-06-21 19:15] sgreene570 commented on #1454
I believe so. Or, you could use the annotation filter option in place of namespace filtering, I believe.

[2021-06-21 19:30] sgreene570 commented on #1454
Also, this appears to be related to https://github.com/kubernetes-sigs/external-dns/issues/1961

[2021-06-22 18:11] #1474 closed

[2021-06-22 22:21] mboutet commented on #1388
/remove-lifecycle stale

[2021-06-23 07:02] #1869 closed

[2021-06-23 07:09] KylePolansky commented on #2103
v0.8.0 had some breaking changes to azure private dns config. The provider now requires azure.json auth as opposed to the environment variable auth in v0.7.x

The [tutorial](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure-private-dns.md#deploy-externaldns) should now have the v0.8.0 syntax and a link to a sample azure.json

[2021-06-23 07:26] #2040 closed

[2021-06-23 08:04] #2102 closed

[2021-06-23 08:22] #1394 closed

[2021-06-23 08:22] #1495 closed

[2021-06-23 13:49] ericwolf08-wp opened #2139 "Service type "NodePort" routing to all instances in my cluster."
**What happened**:
I started external-dns configured against my private Route53. Configuring a Service of type _NodePort_ results in an DNS entry routing to **ALL** instances in my cluster.

**What you expected to happen**:
I would have expected to route to only those instance (in my case fargate) that run the matching app.

**How to reproduce it (as minimally and precisely as possible)**:
Any Ser

[2021-06-23 14:34] SailingYYC commented on #1372
/remove-lifecycle stale

[2021-06-23 15:44] jveraduran commented on #2116
We solve it finally using this configuration
`apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-dns
  namespace: default
---
  apiVersion: rbac.authorization.k8s.io/v1
  kind: ClusterRole
  metadata:
    name: external-dns
    namespace: default
  rules:
  - apiGroups: [""]
    resources: ["services","endpoints","pods"]
    verbs: ["get","watch","list"]
  - apiGroups: ["extensions","n

[2021-06-23 15:45] #2116 closed

[2021-06-24 19:14] PDQDakota opened #2142 "Pod eventually enters a CrashLoopBackOff state soon after install"
**What happened**:

I have attempted to install external-dns using the YAML provided in the link below (RBAC and non-RBAC).

https://github.com/kubernetes-sigs/external-dns/blob/2605c5ee93de4c04c62482211e887e7c7c3e95f5/docs/tutorials/cloudflare.md

**What you expected to happen**:

external-dns runs.

**How to reproduce it (as minimally and precisely as possible)**:

Create a private GKE cluster a

[2021-06-24 19:45] matthewmrichter commented on #1598
/remove-lifecycle stale

[2021-06-24 20:48] vinny-sabatini opened #2143 "Add ability to delete record using Bluecat provider"
**What would you like to be added**: The ability to delete record using Bluecat provider

**Why is this needed**: If a service/route/ingress is deleted from the Kubernetes cluster, the corresponding DNS record should be deleted from Bluecat

[2021-06-24 20:51] vinny-sabatini commented on #2143
/label provider/bluecat
/assign @jaideepbellani

CC: @seanmalloy

[2021-06-24 21:46] seanmalloy commented on #2143
/kind bug
/unkind feature

[2021-06-24 21:47] seanmalloy commented on #2143
/remove-kind feature

[2021-06-24 21:47] seanmalloy commented on #2143
/cc

[2021-06-25 07:59] etiennetremel commented on #1548
@darkn3rd if you have [Azure AADPodIdentity](https://github.com/Azure/aad-pod-identity) setup in the cluster then you can use the following configuration to bind external-dns to the managed identity:

[code]

And for the external-dns pod, add the following label: `aadpodidbinding: my-external-dns`.

[2021-06-25 14:45] sgreene570 commented on #1730
Also, its worth mentioning https://github.com/kubernetes-sigs/external-dns/issues/1961, which describes how ExternalDNS could be turned into an "operator" in itself.

[2021-06-25 15:20] sgreene570 opened #2145 "Informers aren't explicitly stopped on shutdown"
**What would you like to be added**:

Lots of the source resources have informer start calls that look like the following:

`informerFactory.Start(wait.NeverStop)`

Some of these calls have the following comment above them:

`// TODO informer is not explicitly stopped since controller is not passing in its channel.`

Ideally, we would rework the source code such that a proper stop channel is passe

[2021-06-25 15:21] sgreene570 commented on #2145
/help

[2021-06-25 15:33] sgreene570 commented on #2136
On this note, ExternalDNS is being built with Kubernetes 1.18 deps, which should probably be updated.

/help

[2021-06-26 15:47] #1937 closed

[2021-06-26 16:39] justinrush opened #2146 "hmac-md5 breaking change between 0.7.1 and 0.7.2?"
I've been running the following more or less untouched for a few years:
* PFsense w/ Bind 9.12
* External DNS 0.7.1

If it matters, I'm running on kubernetes baremetal v1.19.7.

I had to re-create the zone on pfsense this morning due to some corruption that I suspect the GUI introduced when I modified the primary ns record. Since then I have been seeing these errors in external-dns logs:
[code]

I

[2021-06-27 12:49] justinrush commented on #2146
like peeling an onion. No idea what caused the first issue with bad auth, but I managed to get pfsense upgraded which allowed me to upgrade to bind 9.16; more like fresh install... Then I re-created the zone and was getting `update RR is outside zone (NOTZONE)`. That error indicates that the update contains both A and CNAME records. Apparently the Rancher ingress tries to create CNAME records, so

[2021-06-27 12:49] #2146 closed

[2021-06-28 11:08] EngMohamedElEmam commented on #2142
I Have the same issue with
Environment:

    External-DNS version (use external-dns --version): 0.8.0 and 0.7.6
    DNS provider: Azure DNS
    Others: Private AKS cluster running K8s 1.18.4 and  Private AKS cluster running K8s 1.21.7

[2021-06-28 12:15] EngMohamedElEmam commented on #2142
The solution that works for me that I have changed the version of RBAC from betav1 to be v1 as i'm using Istio in my environmet

group: rbac.authorization.k8s.io
 version: v1beta1   ----> to be v1
 kind: ClusterRole
 name: external-dns

[2021-06-28 21:20] sgreene570 commented on #2139
@ericwolf08-wp Are you using the local ExternalTrafficPolicy ?

[2021-06-28 21:48] sgreene570 commented on #1877
/help

[2021-06-29 04:06] yardensachs commented on #854
/remove-lifecycle stale

[2021-06-29 14:29] szuecs commented on #1517
/remove-lifecycle stale

[2021-06-29 20:15] kbreit opened #2148 "Record isn't deleted due to mismatched owner"
**What happened**:
I created a test record via an Istio Gateway that has an appropriate txt record. When I delete the object it doesn't delete.

**What you expected to happen**:
It should have deleted it.

**How to reproduce it (as minimally and precisely as possible)**:
1) Tell external-dns to monitor Istio Gateways (I suspect any object will work)
2) Create the object and verify it's created in

[2021-06-30 08:25] #2094 closed

[2021-06-30 09:19] unixfox commented on #1453
/remove-lifecycle stale

[2021-06-30 09:20] astraldawn commented on #2148
Run into these errors when using either `--txt-prefix` or `--txt-suffix` with RFC 2136.

Similar to https://github.com/kubernetes-sigs/external-dns/issues/1986.

[2021-06-30 10:04] SCLogo commented on #854
It would be good let the fix be merged

[2021-06-30 11:18] kbreit commented on #1986
@aelbarkani have you been able to resolve this? I'm seeing the same error but maybe different cause in RFC2136 provider when using Istio gateways.

[2021-06-30 13:25] jgrumboe commented on #1986
**Update**: Forget my last comment! I haven't read the error message correctly.

I think that should be the correct answer:
`because owner id does not match, found: \"\", required: \"default\""` is about missing or wrong `--txt-owner-id`.
The message states that there is already a TXT record for a given A or CNAME and the TXT-record has set an owner-id = "default", your external-dns instance is ru

[2021-06-30 13:26] jgrumboe commented on #2148
Hi guys,

I think that should be the correct answer:
`because owner id does not match, found: \"\", required: \"default\""` is about missing or wrong `--txt-owner-id`.
The message states that there is already a TXT record for a given A or CNAME and the TXT-record has set an owner-id = "asdf", your external-dns instance is running with an empty `--txt-owner-id`. Try setting it to "asdf" to take own

[2021-06-30 13:43] kbreit commented on #2148
@jgrumboe I am passing in `asdf` as the `txt-owner-id` and according to a ps output from the container it is indeed using `asdf`.

[code]

Pardon the truncated `ps` output.

[2021-06-30 13:45] jgrumboe commented on #2148
Are there existing TXT records for the A/CNAME records you try to manage?

[2021-06-30 13:46] kbreit commented on #2148
@jgrumboe There are.

Record name: httpbin
FQDN: httpbin.E7ADDS.local
Text: heritage=external-dns,external-dns/owner=asdf,external-dns/resource=gateway/istio-system/httpbin-gateway

[2021-06-30 14:05] jgrumboe commented on #2148
Weird. Could it be that external-dns is not able to fetch the TXT records?
It somehow looks like external-dns is not able to create the correct endpoint labels (https://github.com/kubernetes-sigs/external-dns/blob/43d29f8032d2e79d2d666f794b89b71ad3349a12/registry/txt.go#L97) out of the TXT records. Therefore it outputs that it found an empty owner, but wanted to see "asdf".

[2021-06-30 14:07] kbreit commented on #2148
I sent a screenshot of the zone in Slack since Github doesn't allow embedding images.

[2021-06-30 14:26] kbreit commented on #2148
![image](https://user-images.githubusercontent.com/6562073/123978135-3bacf300-d985-11eb-83b0-83a3d958ecef.png)

[2021-06-30 15:28] jgrumboe commented on #2148
Link to Slack discussion on this: https://kubernetes.slack.com/archives/C771MKDKQ/p1625062020143900

[2021-06-30 20:06] dpedu commented on #1233
/remove-lifecycle stale

[2021-06-30 20:46] sgreene570 commented on #646
I opened https://github.com/kubernetes-sigs/external-dns/issues/2092 to suggest adding status updates for the CRD source, but IMO support for events for the CRD source would be a great addition as well.

[2021-06-30 20:53] sgreene570 commented on #219
Would it be reasonable for externalDNS to filter namespaces based on a label selector? That way, namespaces could be "opted in" or "opted out" of ExternalDNS's purview without changing the need to redeploy ExternalDNS.

[2021-06-30 20:56] sgreene570 commented on #219
@ukphillips, at the moment you would have to run one instance of ExternalDNS for each namespace you want ExternalDNS to scan, which is not optimal.

Xref https://github.com/kubernetes-sigs/external-dns/issues/1961, which discusses this a bit more.

[2021-06-30 20:58] sgreene570 commented on #1454
xref: https://github.com/kubernetes-sigs/external-dns/issues/219
Which is basically a duplicate of this issue?

I asked about changing externalDNS to use a namespace label selector argument in https://github.com/kubernetes-sigs/external-dns/issues/219

[2021-07-01 05:13] kundan2707 commented on #2076
/assign

[2021-07-01 16:27] danopia commented on #1923
Perhaps this sort of meta ticket should be excluded from staleness?

[2021-07-01 18:07] kbreit commented on #2148
Update. I have done some debugging on the code and it appears the problem isn't in `NewLabelsFromString()`. `NewLabelsFromString()` is called from `func (im *TXTRegistry) Records(ctx context.Context) ([]*endpoint.Endpoint, error)` but haven't looked into this function too much.

[2021-07-01 18:41] FalconerTC commented on #1974
I'd also like to know if external-dns supports internal and external ingresses for clouddns. AWS has `aws-zone-type` but it doesn't look like CloudDNS has an equivalent?

[2021-07-01 18:48] FalconerTC opened #2151 "Support zone-type for Clouddns"
**What would you like to be added**:

The argument `aws-zone-type` exists but there doesn't seem to be an equivalent for CloudDNS (or any other DNS provider) for that matter.

**Why is this needed**:
This is required to support [split-horizon](https://cloud.google.com/dns/docs/overview#split-horizon) DNS configurations, where the same entries are populated internally and externally.

[2021-07-02 07:25] ericwolf08-wp commented on #2139
hm i was sure i tried it out; did it another time now it works. thanks a lot!

[2021-07-02 07:25] #2139 closed

[2021-07-02 19:16] PetrMc commented on #1998
Hi @nmnellis - any chance we can confirm it's cherry picked for 1.8.x - it seems we're hitting the same issue.

[2021-07-03 00:03] survivant opened #2154 "External-dns received a "update failed: not authoritative for update zone (NOTAUTH)" fron BIND/named"
I'm on premise using ubuntu 20.04 with kubernetes cluster 1.21 created with kubeadm

My VM IP is : 192.168.50.180
My Loadbalancer IP : 192.168.50.200
the domain that I want to use internally is : patate.local

I installed BIND with this command :

[code]

I installed external-dns with this command :

[code]

I have a ingress on which I put a host that's doesn't exist in BIND config
[code]

**MY BI

[2021-07-03 01:06] survivant commented on #2154
I created a new test.

[code]

I installed externaldns with this
[code]

and now I see this in the logs.
[code]

[2021-07-03 01:20] survivant commented on #2154
I found the issue.  External-dns was trying to update all the zones in the same time (I think) and the operation failed.  When I deleted all my ingress except the one with qa.dynamic.cluster999.local .. the problem was solved

[code]

[code]

[2021-07-04 22:06] nickjj commented on #961
**Does anyone have any tips on how to debug this when you're not using RBAC?**

I'm getting the same `time="2021-07-04T21:55:45Z" level=fatal msg="failed to sync cache: timed out waiting for the condition"` error in external-dns' logs.

I have external-dns running in the same namespace as my ingress, service, etc. It's all being installed and updated through helm inside of a `prod` namespace.

I u

[2021-07-05 18:00] szuecs commented on #1321
/remove-lifecycle rotten

[2021-07-05 19:58] #1894 closed

[2021-07-06 08:36] fusidamj opened #2156 "the same hostname in multi k8s clusters are not support"
**What would you like to be added**:
support the same hostname in two k8s clusters:
current:
A k8s cluster has:  my.example.org 172.30.0.1
B k8s cluster has: my.example.org 172.40.0.1
the two records will cover each other in turn,  unless I add annotation at ingress like 'external-dns.alpha.kubernetes.io/target: 172.30.0.1, 172.40.0.1 in ' each k8s clusters
I would like not need to add annotation

[2021-07-06 14:10] Momotoculteur commented on #1456
Hey @thomas-riccardi,

Thanks a lot you saved me a lot of time for deploying External DNS on azure k8s cluster with managed identity, by sharing your code for these 2 ressources missing and needed for the proper functionning of bitnami/external-dns. Had 400-401-404 issues for deploying this helm chart. Why this is not deployed by default and need to be handcrafted ?

Have a nice day,
Bastien

[2021-07-06 14:36] sgreene570 commented on #2156
Hm, I wonder how this could be implemented in externalDNS since externalDNS runs independently in each cluster.
Maybe some sort of new annotation that instructs ExternalDNS to append targets to any existing records?

@seanmalloy any thoughts on this?

[2021-07-06 15:16] k0da commented on #1923
/remove-lifecycle stale

[2021-07-06 15:17] k0da commented on #1923
@Raffo I implemented @haslersn suggestion in https://github.com/kubernetes-sigs/external-dns/pull/2157

[2021-07-07 01:54] fusida commented on #2156
I got a idea:
1. add _cluster_ env in externalDNS, use _cluster_ filter records at 'Records' function, then coreDNS records:
/skydns/org/example/test/1
{"host":"1.1.1.1","ttl":10,"cluster":"a"}
/skydns/org/example/test/2
{"host":"1.1.1.2","ttl":10,"cluster":"b"}
but it just suit for coreDNS who has stored records in etcd.

[2021-07-07 06:12] fusida opened #2159 "coredns provider dumplicate one records to two enpoints"
**What happened**:
dumplicat two endpoint at one record
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
change Records function at provider/coredns.
I found the record which create by externalDNS in coreDNS:

/skydns/org/example/my-nginx/277767f4
{"host":"10.173.32.42","text":"\"heritage=external-dns,external-dns/owner=default,external-dns/resour

[2021-07-07 07:49] k0da commented on #2156
@fusida we have kina similar setup with https://github.com/k8gb-io/k8gb we host CoreDNS (with dnsendpoint object as [backend)](https://github.com/k8gb-io/coredns-crd-plugin) on each cluster, then we create delegated zone in a cloud provider.

[2021-07-07 10:57] ashok4244 opened #2160 "Regarding External DNS domain filter"
Hi Gurus,

We have made use of this project regarding External DNS, however we need to filter records based on subdomain instead of domain.
for now external dns is creating records for all the ingress which matches with domain filter, is it possible to filter based on subdomains, we are managing k8's using aws.

Thanks
Ashok

[2021-07-07 11:58] fusida commented on #2156
@k0da you have done very well , i appreciate you and will consider it sincerely

[2021-07-07 12:01] fusida commented on #2156
@sgreene570 @seanmalloy @k0da  it seem use args '--txt-owner-id' and move 'registry.filterOwnedRecords' to Records not in ApplyChanges will solve this problem.

[2021-07-07 12:52] sgreene570 commented on #2160
Per the externalDNS binary `--help` message:

[code]

Could you clarify whether or not the `--exclude-domains` is sufficient for your use case? If not, could you explain why?

[2021-07-07 13:18] seh commented on #936
/remove-lifecycle stale

[2021-07-07 14:13] ashok4244 commented on #2160
Thanks @sgreene570 for your help.
--exclude-domains worked for me, can we pass list in exclude domains like [abc.cloud.com, xyz.cloud.com]?

Thanks
Ashok

[2021-07-07 14:21] sgreene570 commented on #2160
Yes, I believe so
https://github.com/kubernetes-sigs/external-dns/blob/master/main.go#L155

[2021-07-07 14:39] ashok4244 commented on #2160
Thanks

[2021-07-07 14:39] #2160 closed

[2021-07-08 02:19] #2159 closed

[2021-07-08 06:31] fusidamj opened #2161 "coredns two records point to one dnsName will miss text"
**What happened**:
if i add annotations with two ips:
`apiVersion: networking.k8s.io/v1`
`kind: Ingress`
`metadata:`
`   annotations:`
`    external-dns.alpha.kubernetes.io/target: 10.173.32.44,10.173.32.45`
then the coredns records:
`
/skydns/org/example/my-nginx/677e0f93
{"host":"10.173.32.44","text":"\"heritage=external-dns,external-dns/owner=c2,external-dns/resource=ingress/default/my-nginx\""

[2021-07-08 07:02] fusida commented on #2161
what's more when two ingress which on two namespaces are the same host, such as my-nginx.exmpale.org in two ingress rules, the resources can not point to two ingress.

[2021-07-08 07:40] StepanKuksenko opened #2162 "why annotation-only feature was not merged to release?"
We really want to use this feature:

it was added in [this commit](https://github.com/kubernetes-sigs/external-dns/commit/f85cddab58826da45c7f17a5c9fff0e5d9bb3a76)
but seems it was not merged to release. Does somebody knows why ? Maybe there is some custom image with this feature or something like that ?

[2021-07-08 08:05] StepanKuksenko commented on #2162
@dansimone i saw you added the commit with  `annotation-only` feature, maybe you can help with the answer :) Thank you

[2021-07-08 16:44] #2143 closed

[2021-07-08 19:04] sgreene570 opened #2165 "Add tutorial for running ExternalDNS on GCP (in addition to GKE)"
**What would you like to be added**:

Instructions similar to https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/gke.md, but for GCP in general instead of specifically for GKE.

**Why is this needed**:

Would be useful for folks running kubernetes directly on GCP themselves.

[2021-07-08 19:07] sgreene570 commented on #2165
I've found http://tech.paulcz.net/kubernetes-cookbook/gcp/gcp-external-dns/ out in the wild which actually has a great amount of information relevant to this issue.

[2021-07-08 20:49] sgreene570 commented on #2162
Looks like commit f85cddab58826da45c7f17a5c9fff0e5d9bb3a76 was authored in 2020, but was recently merged < 1 month ago via https://github.com/kubernetes-sigs/external-dns/pull/1696. So im pretty sure it will be available in the next release.

[2021-07-09 08:25] GuilleAmutio opened #2166 "Records retrieval failed: Failed to list hosted zones: NoCredentialProviders: no valid providers in chain."
Hi,

I´m trying to set up the external-dns along as it is required for our Load Balancers.

I´m getting this logs atm:

[code]

I followed [this page](https://www.padok.fr/en/blog/external-dns-route53-eks) about to get this up and running:

Trust-relationship of role:
[code]

The policies attached are the AmazonEKSClusterPolicy and:
[code]

Once the role is created I deploy the Helm chart as:
[cod

[2021-07-10 01:04] robbiezhang opened #2168 "ExternalDNS does not support K8s 1.22"
**What would you like to be added**:
Support k8s 1.22

**Why is this needed**:
k8s 1.22 stops to support a couple deprecated APIs, including the Ingress in extensions/v1beta1
https://kubernetes.io/docs/reference/using-api/deprecation-guide/#ingress-v122

I haven't verified but suspect that external-dns will stop working since it uses IngressInformer from k8s.io/client-go/informers/extensions/v1bet

[2021-07-10 05:17] raghulkrishna opened #2169 "two external dns for private and public zones alb"
**What happened**:  i created two external dns config and deployment  one with arg --aws-zone-type=public and other with --aws-zone-type=private. but when i mention private external dns in ingress creates records both in private and pulbic zone and vice versa. is this expected behaviour or any workaround for this?

**Environment**:
- External-DNS version (use `external-dns --version`):0.71
- DNS p

[2021-07-10 11:37] bechampion opened #2170 "trimSuffix packed into Funcs() on all templating"
Extremely useful to check the existence of a domain name on {{ .Name }} , I can see that `trimPreffix` is already passed to the templating engine
``` {{ if eq (len .Name) (len (trimSuffix .Name "my.domain")) }}this.will.not.work{{ else }}{{ .Name }}{{ end }} ```

Thank you

[2021-07-10 11:44] GuilleAmutio commented on #2166
Solved, what instead of creating the IAM Role via AWS Console, I created it using eksctl and then doing the same steps

[2021-07-10 11:44] #2166 closed

[2021-07-10 13:52] m4dm4rtig4n opened #2171 "My ExternalDNS use LoadBalancer IP and not Public IP."
**What happened**:

External DNS use LoadBalancer IP and not public IP :/
I have try to use :
    external-dns.alpha.kubernetes.io/target: X.X.X.X
    external-dns.alpha.kubernetes.io/access: public

**What you expected to happen**:

I would use my public ip and not LoadBalancer IP.

**How to reproduce it (as minimally and precisely as possible)**:

K3S with MetalLB in BGP + OVH Provider.

**Anyth

[2021-07-10 14:42] m4dm4rtig4n commented on #2048
Hello,

I havec same problem :/
my ExternalDNS use LoadBalancer IP with my internal routeur IP address (MetalLB BGP) and not Public IP.

[2021-07-11 21:10] #1933 closed

[2021-07-12 13:31] sgreene570 commented on #2162
@StepanKuksenko I think this issue can be closed. Would you agree?

[2021-07-12 17:18] 2rs2ts commented on #2030
/remove-lifecycle stale

this bot is so annoying

[2021-07-12 20:23] piotrrotter commented on #2123
@tibers Did you set additional source "cdr" according to https://github.com/kubernetes-sigs/external-dns/blob/master/docs/contributing/crd-source.md#usage

I checked it and it work for me:

  containers:
  - args:
 .......
    - --source=service
    - --source=ingress
    - --source=crd

[2021-07-12 20:29] tibers commented on #2123
I forgot this thing was still open. That was the probem is that CRDs weren't in the sources list.

[2021-07-12 20:29] #2123 closed

[2021-07-13 18:12] kevsjh commented on #1979
I also faced the same issue when the namespace was kube-system. Changing to default works

[2021-07-14 02:35] fusida opened #2173 "only one source can be set"
**What happened**:
--source can only be set one
only accept one value，but the cfg.Sources is a string[] type and the mult_source.go support multi source。
**What you expected to happen**:
--source is a array
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
app.Flag("source", "The resource types that are queried for endpoints; specify multiple ti

[2021-07-14 02:42] #2173 closed

[2021-07-14 07:40] #2090 closed

[2021-07-14 08:13] kladiv commented on #1869
@packi is #2017 PR still not present in any release? (e.g. v0.8)

[2021-07-14 10:38] haslersn commented on #1053
The specific use case described by the OP can be solved on the ingress controller side: https://github.com/kubernetes/ingress-nginx/issues/6752

However, there might be other use cases where the feature requested here is required.

[2021-07-14 10:39] haslersn commented on #1053
The specific use case described by the OP can be solved on the ingress controller side: https://github.com/kubernetes/ingress-nginx/issues/6752

However, there might be other use cases where the feature requested here is required.

/remove-lifecycle stale

[2021-07-14 11:28] pavlo-bondarenko commented on #1829
/remove-lifecycle stale

[2021-07-14 11:28] pavlo-bondarenko commented on #1829
/reopen

[2021-07-14 11:31] pavlo-bondarenko commented on #1829
@rickardp could please reopen it?

[2021-07-14 12:38] rickardp commented on #1829
/reopen

[2021-07-14 19:10] mark-church commented on #2045
Are there any external-dns contributors out there that would be interested in talking to the folks working on Gateway API to learn more about it? I'm happy to help facilitate and bring folks up to speed. It would be great to start some discussion on this topic to see how and whether automating DNS records based on Gateway API resources could work.

[2021-07-15 06:05] fusida opened #2174 "why use informer.lister in distance time not watch update in time"
I find it use informer.lister every minute at the Endpoints function.
I don't know why not use AddEventHandler.UpdateFunc to trigger update dns not timer, which more in time and quick.

[2021-07-15 11:56] zagr0 opened #2177 "external-dns configuration to use nginx ingress controller custom/internal service as an address for DNS records"
**What would you like to be added**:
possibility to configure external-dns to get address details for ingress resources with multiple services/loadbalancers (e.g. public and private)

our usecase:
we have nginx ingress controller deployed with AWS public and internal loadbalancer services, this allow us to have single ingress resource and single ingress controller for internal and public traffic h

[2021-07-15 16:11] wimo7083 commented on #1961
This would be very helpful.

In our clusters we want to independently control the following variables:
- which domains are enabled
- which DNS providers (route53, gcp) are enabled
- which networking types are enabled (service, ingress, istio-virtualservice)

This is very helpful for the following cases:
- multiple domains are extra useful when we want to do some large scale change on our internal

[2021-07-15 16:22] sgreene570 commented on #1961
Thanks for your input @wimo7083. Curious, how many instances of ExternalDNS are you running in parallel for your setup?

[2021-07-15 17:03] wimo7083 commented on #1961
In most clusters we run between 2 and 6 instances. We used multiple clusters initially as a way to get around our lack of multi-tenancy, and as we add better controls we can consolidate clusters.

One of the problems we've found is that when we add a new dimension ex: `$sub-service-$service.$region.$company.com` -> $sub-service.$service.$region.$company.com` is that the dimensions that would reduc

[2021-07-15 17:53] wimo7083 opened #2178 "Feature Request: Enable adoption of orphaned txt-owner-id"
First off, I want to say thank you for maintaining this project. This is an excellent tool and it's been a great enabler of our teams. If this is something that you would be open to, I can volunteer my time to create this feature request.

**What would you like to be added**:
I would like a way to specify to external-dns to take over ownership of a pre-existing txt-owner-id

**Why is this needed**

[2021-07-16 05:06] gAmUssA opened #2179 "Gandi provider is not found in 0.8.0"
**What happened**:
following https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/gandi.md
two things

- 0.7.7 version isn't available k8s.gcr.io/external-dns/external-dns:v0.7.7
- 0.8.0 version throws an error during the start

[code]

**What you expected to happen**:

external-dns would work with gandi

**How to reproduce it (as minimally and precisely as possible)**:

kube

[2021-07-16 06:09] TejasMadappa opened #2180 "[ QUESTION ] Is there a way I can identify if a record set in created or not in AWS route53 when using External-DNS"
I want to know is there any flag or any identifier to identify if the record set is created in AWS route53.  I am using external-dns for creating the record sets.

Current Situation.

I am creating a VirtaulService for internal load balancer with a host name.   -- This creates a record in route53

I again create a VirtaulService for external load balancer with same host as internal. -- This will n

[2021-07-16 07:23] kebarb commented on #2179
According to this [reply](https://github.com/kubernetes-sigs/external-dns/pull/2037#pullrequestreview-690293883) gandi support will be present in >=v0.9.0

[2021-07-16 07:47] pavlo-bondarenko commented on #1829
/remove-lifecycle rotten

[2021-07-16 13:43] sgreene570 commented on #2174
+1
/help

[2021-07-16 14:51] seanmalloy commented on #2179
Yes, that is correct the Gandi provider code is merged to the master branch, but it did not make the cut for the v0.8.0 release. The Gandi provider should be available in the next release.

Thanks.

/close

[2021-07-16 14:51] #2179 closed

[2021-07-16 14:54] gAmUssA commented on #2179
@seanmalloy could you point me to how to build a custom image from master?

[2021-07-16 15:00] seanmalloy commented on #2179
The simplest option is probably to pull the container image from the staging registry. Every time a commit is push to the master branch a container image is built and pushed to this registry.

https://console.cloud.google.com/gcr/images/k8s-staging-external-dns/GLOBAL/external-dns?gcrImageListsize=30

Important note these images are not officially released images. Images in the staging registry ma

[2021-07-16 23:05] #1907 closed

[2021-07-16 23:05] #1953 closed

[2021-07-17 00:05] #1210 closed

[2021-07-17 03:14] abursavich commented on #2045
I'm not sure if I've contributed to external-dns before, but this is a feature I want/need and I'd be happy to implement it.

It might be good to set some expectations on API version support. For instance, we might want to be liberal about dropping support for old alpha versions as new versions come along. It looks like v1alpha1 is on its way out and v1alpha2 is coming along.

[2021-07-17 03:45] abursavich commented on #2045
I just read through the API. Each route can have multiple hostnames, multiple routes can overlap hostnames, each route can be attached to multiple gateways, and each gateway can have multiple address... It'll be interesting figuring out what to do when the same hostname maps to multiple gateways.

[2021-07-17 03:54] ghostsquad commented on #1656
/remove-lifecycle stale

[2021-07-17 18:31] EKami commented on #961
I tried everything shared in this issue and nothing worked on my side =/ . Even using the install method from the tutorial instead of helm didn't work. Isn't there a way to have more context on what's happening? It's very hard to debug with such an unexplicit error message...

[2021-07-17 19:14] #1826 closed

[2021-07-17 22:25] EKami commented on #961
Turns out in my case I had the following:
[code]
in particular those two lines:
[code]
But since istio-operator installation was failing silently (I had to look at the logs) then the crds for `istio-gateway` and `istio-virtualservice` were not deployed, which in turn resulted in the error `"failed to sync cache: timed out waiting for the condition"`). It would have helped to get a more explicit er

[2021-07-18 07:45] unixfox commented on #632
/remove-lifecycle stale

[2021-07-18 08:04] StepanKuksenko commented on #2162
@sgreene570 yes thank you

[2021-07-18 08:04] #2162 closed

[2021-07-19 09:13] ieugen commented on #1865
/remove-lifecycle stale

[2021-07-19 10:41] bechampion opened #2181 "Ingress Hostname Regexp Matching"
**What would you like to be added**:
I've added a new argument that does a regexp match on the `source/ingress.go` list of ingress hosts appended to the main list.
This allow you to run regexp on the ingresses host that users add to their ingresses

**Why is this needed**:

Unless you split your dns configuration (on gcp for example) in multiple zones , there's is currently no way to limit the hos

[2021-07-19 10:48] bechampion commented on #606
https://github.com/kubernetes-sigs/external-dns/issues/2181

[2021-07-19 13:58] aleveille commented on #1388
Since this issue has been opened for over a year without much success of getting a fix in, I'll just close it.

According to a maintainer's comment, it is unclear at the moment whether External-DNS should even manage NS, SRV and other records. I am not anywhere close enough to the design committee to figure or influence whether it should or shouldn't.

A clean fix is impossible without a clear dec

[2021-07-19 13:58] #1388 closed

[2021-07-19 16:34] abursavich commented on #2045
I looked at this over the weekend and have a few updates:

- The way external-dns works, the sources output all the different endpoints and don't get a say in how to break ties. Something could be done to try to force the Gateway API tie-breaking philosophy into external-dns, but I'm not sure if it's worth it yet.
- Adding sources for HTTPRoute and TLSRoute are fairly trivial. Adding sources for T

[2021-07-19 16:35] bowei commented on #2045
@robscott ^^^ we were kicking around the idea of adding hostname to TCP, UDP route.

[2021-07-19 18:03] abursavich commented on #2045
FWIW to any Gateway API people who are less familiar with external-dns, there are two existing mechanisms that could be used to add hostnames to resources without them. There's an annotation (`external-dns.alpha.kubernetes.io/hostname`) and a command line flag (fqdn-template). More details in the [FAQ](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/faq.md#how-do-i-specify-a-dns-n

[2021-07-20 11:55] jceb commented on #2048
Same issue here. Both public and private addresses get assigned as external ip to my service. Maybe it's an issue that the load balancer is an external system that reports back all address as external?

[2021-07-20 18:26] seanmalloy commented on #2024
/remove-lifecycle stale

[2021-07-20 20:22] alpha01 opened #2186 "external-dns gets stuck or is sitting idle"
**What happened**:
The external-dns deployment doesn't seem to do anything after it's deployed. New Service or VirtualServices are only logged when they're first added, but nothing ever comes after:
[code]

**What you expected to happen**:
The exact same configuration that we're having a problems works on other clusters, however we're not sure why this particular deployment looks to just sit there

[2021-07-21 15:35] seanmalloy opened #2187 "bluecat: refactor gateway api REST calls into separate package"
Currently the Go code for making API calls to the BlueCat Gateway is mixed in with the k8s external-dns BlueCat provider code(`provider/bluecat/bluecat.go`. The BlueCat Gateway does not provide a Go package for making REST API calls.

The Go code for making REST API calls to the BlueCat Gateway should be refactored into a separate package. For example `provider/bluecat/api/api.go`.

[2021-07-21 15:36] seanmalloy commented on #2187
/kind cleanup
/remove-kind feature

FYI @vinny-sabatini @sanbornick @seegeekrow @trzejos

[2021-07-21 19:44] Timoses commented on #1841
/remove-lifecycle stale

[2021-07-22 07:50] abursavich commented on #2045
I have this all sorted out now and have gotten rid of all unstructured dynamic clients. I've kept all the commits logically separated and as small as possible, but there's no denying that it's a lot of changes. I don't really think it'll work well to just throw a bunch of PRs over the fence without the larger context. If any external-dns owners would like to work with me to get it through, that'd

[2021-07-22 10:24] IanMoroney commented on #1548
/remove-lifecycle rotten

[2021-07-22 11:28] IanMoroney commented on #1548
This also happens when using "useManagedIdentityExtension": true which means you are forced to not use this option and spin up your own user assigned identity and use that instead.

This issue needs resolving  so that we can use the "useManagedIdentityExtension": true option

[2021-07-22 13:48] #1499 closed

[2021-07-22 19:18] steve-bitdotio commented on #2171
Could you provide more details?

What exactly do you mean by "Public IP"? Could you share your service yaml, as well your externalDNS deployment yaml? Perhaps also externalDNS logs?

[2021-07-23 03:38] gunzy83 commented on #1982
/remove-lifecycle rotten

[2021-07-23 03:42] gunzy83 commented on #1982
I find it hard to fathom that more people are not running into this issue. The records are not even mentioned in the logs when they should be deleted with the ingress the annotations are attached to.

[2021-07-23 06:00] #1512 closed

[2021-07-23 07:00] #1973 closed

[2021-07-23 08:39] IanMoroney commented on #1548
@njuettner,
Would it be possible to use this example to fix the problem?
https://github.com/Azure/aad-pod-identity/blob/master/test/image/identityvalidator/keyvault.go#L42-L48

In this issue here: https://github.com/Azure/aad-pod-identity/issues/778#issuecomment-778369911 it was stated that the above code was used to solve this issue.
I wonder if the environment variable `AZURE_CLIENT_ID` is not g

[2021-07-23 12:00] #1896 closed

[2021-07-23 18:36] MateusAmin opened #2189 "Use STUN Server to Get External IP"
If you use a stun server to get the external IP external-dns will work in any internet connected network. Even if the external IP is changing (home/small  business networks). Even if it is behind a NAT (home/small  business networks). The work required is straight forward not considering the context of the current code base.

Hit a STUN server and get your public IP address. [Here is a Golang API

[2021-07-23 20:21] alpha01 commented on #2186
It appears the `--events` option is causing this weird behavior. I removed the `--events` option and the interval sync is successfully syncing at the correct interval time.

[2021-07-26 21:24] jullianow commented on #1616
With the same problem here.

[2021-07-27 02:15] mamiu commented on #1441
/remove-lifecycle stale

[2021-07-28 08:23] #1974 closed

[2021-07-28 08:23] #2151 closed

[2021-07-28 11:08] sydorovdmytro commented on #2142
Make sure your ServiceAccount, ClusterRoleBinding, and Deployment are in the same namespace.

[2021-07-28 12:04] yudkeh commented on #2162
@sgreene570 do you know if there is an eta for the next release including this feature?

[2021-07-28 14:02] sgreene570 commented on #2162
I do not, id suggest checking in or asking in the #external-dns channel on kubernetes slack.

[2021-07-28 14:26] sgreene570 commented on #2186
Strange. @seanmalloy do you know if the `--events` flag and the `--interval` flag are supposed to be compatible with each other?

[2021-07-28 14:39] agilgur5 commented on #2100
https://github.com/kubernetes-sigs/external-dns/issues/961#issuecomment-881967776 suggests that this could be due to Istio CRDs not yet existing.

It would be good if `external-dns` could wait until they existed instead of erroring out

[2021-07-29 11:38] dataviruset commented on #1998
Using Istio 1.2.7, we had a similar issue with this error message:

[code]

After restarting, it started throwing this error, keeping on crashing:

[code]

After upgrading to external-dns 1.8.0, it seems the problem doesn't happen anymore.

[2021-07-29 16:00] maxpoirier commented on #1293
/remove-lifecycle stale

[2021-07-29 21:37] le-duane opened #2191 "--events flag should also trigger off of Endpoint changes"
**What would you like to be added**:
`--events` flag should also trigger off of Endpoint changes. Right now, only Ingress/Service object changes are monitored.

**Why is this needed**:
Quickly respond to changes that trigger DNS updates

[2021-07-30 08:22] spirosoik commented on #2168
It's true but still it's an RC

[2021-07-30 09:09] spirosoik commented on #2174
@fusida could you provide a few more details please? lister by default underline is `ListWatch` with a resync period

[2021-07-30 15:25] pitinga commented on #2169
Hello...

Did you try to use the "domain-filter" option?
https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md

The aws-zone-type=private will filter the domain "internal.company.com"

And the --aws-zone-type=public will filter the domain "company.com".

This way each External DNS would know which URL it will control.

[2021-07-30 16:39] cdenneen commented on #2100
Having this same error message with aws-sd

[2021-07-30 20:55] jceb commented on #2044
/remove-lifecycle

[2021-07-31 07:47] raghulkrishna commented on #2169
@pitinga  yes tried that doesn't seems to be working for the aws-zone-type both are same domain some needs to got to private zone and some to pulblic zone

[2021-07-31 21:23] #1992 closed

[2021-08-01 15:27] #1971 closed

[2021-08-02 00:36] #1977 closed

[2021-08-02 14:50] VladMasarik commented on #1420
@seanmalloy @njuettner Would you mind expressing your thoughts?

[2021-08-02 21:37] ramdhakne commented on #961
For me it was the wrong namespace. Corrected the namespace and it started working fine.

[2021-08-03 02:38] #1996 closed

[2021-08-03 14:10] gmaiztegi opened #2192 "Akamai modification conflicts after updating to 0.8.0"
**What happened**:

We use Akamai, we just upgraded to external-dns to 0.8.0, and it zone updates have stopped with the following messages:

[code]

If I try to remove the entry that it complains about, it will just complain about another one. I tried by removing a bunch manually and the pattern continues, but I can't afford to delete the whole zone just to test. Rolling back to 0.7.6 recreated th

[2021-08-03 15:44] pipeworks-asmith opened #2193 "Sanitize the initial config log to remove credentials"
**What would you like to be added**:

The log line that dumps out external-dns's initial configuration also includes credentials in plain text, at least when using the rfc2136 provider. Some fields should be marked sensitive and omitted or sanitized before being written to logs.

**Why is this needed**:

Using rfc2136 with rfc3645 for Kerberos authentication requires passing in a static set of cre

[2021-08-03 15:53] pipeworks-asmith opened #2194 "RFC2136 provider cannot delete records"
**What happened**:

On rfc2136, after creating an A record, external-dns does not attempt to remove it when the matching service is deleted or updated.

**What you expected to happen**:

When the originating service is deleted or updated, external-dns should delete or update the A record to match.

**How to reproduce it (as minimally and precisely as possible)**:

1. Configure external-dns to use

[2021-08-03 19:08] kbreit commented on #2194
@pipeworks-asmith I have #2148 open. Do you believe it's the same issue?

[2021-08-03 19:18] pipeworks-asmith commented on #2194
@kbreit they're almost certainly related. The issue I'm experiencing is running on services, not ingresses, and does not include the "cannot match owner ID" aspect in the debug logs (instead it merely lists the whole HZ including the record to-be-deleted, and does not action on any of them).

[2021-08-03 19:26] kbreit commented on #2194
Good to know. My feeling is the source (service, virtual service, ingress, etc.) shouldn't matter. I'm troubleshooting this now but don't expect I'll make a lot of progress today. If you able to help troubleshoot, let me know and we can chat about what I've done and what I'm looking at right now.

[2021-08-03 19:46] #1473 closed

[2021-08-03 20:29] korenyoni commented on #469
Has this not been resolved via? https://github.com/kubernetes-sigs/external-dns/commit/6681a3a3585ffe404a2147d4ec6a2d7ebcd2d822

[2021-08-03 20:33] korenyoni commented on #469
/remove-lifecycle rotten

[2021-08-04 01:52] maybe-sybr commented on #2168
I can confirm that using a 1.22 k8s server breaks with the following output:
[code]

<details>
<summary>
Deployed using a YAML doc from `helm template` using the bitnami chart (click to expand):
</summary>

[code]
</details>

Given that the 1.22 release is imminent (ie. today) [0], it'd be great if this could be fixed. I'm also keeping an eye on some misbehaviours over in kubernetes/ingress-nginx

[2021-08-04 02:09] maybe-sybr commented on #2168
ping @seanmalloy @njuettner @Raffo, looks like you are active maintainers here.

There's potentially relevant previous discussion at #1931 which was closed since k3s was possibly removing stuff early. Not sure if that misbehaviour was related to this ingress informer issue though. A handful of other changes preparing for 1.22 have been merged in #2001, #2012 , #2120 . Any chance of getting this on

[2021-08-04 07:41] ahmedwaleedmalik commented on #469
@korenyoni I have gone through the code and that should be sufficient to fulfill this use case. This issue can be closed now imo.

[2021-08-04 11:16] tetsuya28 opened #2195 "external-dns stack in high CPU"
I use external-dns in EKS cluster, and suddenly external-dns stack with high cpu usage like following metrics.
In this situation, external-dns do not put any logs, and until I restart this pod, external-dns do not respond and work.
Do you have any opinions to solved this?

<img width="2304" alt="screen_shot 2021-08-04 20 12 34" src="https://user-images.githubusercontent.com/11973270/128171490-aa0e

[2021-08-04 15:35] #2081 closed

[2021-08-04 17:43] Raffo opened #2196 "Tests broken in the latest master"
See https://github.com/kubernetes-sigs/external-dns/runs/3243230038

This is likely related to merging https://github.com/kubernetes-sigs/external-dns/pull/2078 which had a green build though 🤔 . Assigning to me and working on a fix as this is affecting the next release.

[2021-08-04 18:15] #2196 closed

[2021-08-04 18:56] reesericci commented on #1930
oof. so someone needs to create an API endpoint to add dns records...

[2021-08-05 09:53] gennady-voronkov commented on #883
This issue is reproducible on infoblox provider as well. it constantly does the same create-delete every minute.
Please advise solution?

logs:
time="2021-08-05T08:42:31Z" level=debug msg="Endpoints generated from ingress: test/demo: [demo.test.***.com 0 IN A  10.10.10.10 [] demo.test.***.com 0 IN A  10.10.10.10 []]"
time="2021-08-05T08:42:31Z" level=debug msg="Removing duplicate endpoint demo.tes

[2021-08-05 10:01] gennady-voronkov opened #2198 "ExternalDNS deleting and then creating records. Constantly. Infoblox"
**What happened**:
ExternalDNS deleting and then creating records. Constantly. Infoblox

**What you expected to happen**:
it should be add once, if ingress resource delete from k8s, it should be deleted from dns then.

**How to reproduce it (as minimally and precisely as possible)**:
I used next args:
interval: "1m"
logLevel: debug
logFormat: text
policy: upsert-only
registry: "txt"
txtPrefix: "in

[2021-08-05 18:02] paulbsch opened #2200 "arm64 docker images"
**What would you like to be added**:
Please build docker multi-arch images that include arm64 builds.

**Why is this needed**:
EKS arm64 clusters cannot currently use external-dns as only amd64 docker images exist.

[2021-08-05 19:22] jmjohnson-slalom commented on #2075
/remove-lifecycle stale

[2021-08-05 20:42] paulbsch commented on #2200
False alarm.  I was confused by the bitnami images I found on docker hub.  I discovered that the multi-arch images are here:  us.gcr.io/k8s-artifacts-prod/external-dns/external-dns

[2021-08-05 20:42] #2200 closed

[2021-08-06 09:36] jsravn commented on #2106
@moskitone so the old records are ALIAS, and you are trying to convert them to plain CNAME? external-dns never used to check record types at all up until #1867, so I don't see how it could have worked prior either.

external-dns can't currently differentiate between alias and cname records, so the --aws-prefer-cname flag is used to tell it what to use. If you were using ALIAS then add that flag, i

[2021-08-06 11:30] danopia opened #2202 "Fails to switch Cloudflare records between CNAME and A in one pass"
I am adding Cloudflare Tunnels to a cluster with existing IP-based load balancers, and when an Ingress is switched between the two configurations, I am seeing external-dns attempt to create-then-delete. This is impossible when CNAME is being mixed with other types such as A.

**What happened**:
[code]

After the first sync there are no records left and the subdomain is missing. The next time exter

[2021-08-06 13:07] MCKLMT commented on #1548
Hello all, any news on this issue? My customer is concerned by it.

[2021-08-06 20:55] k0da opened #2204 "v0.9.0 image is not published"
**What happened**:
docker pull k8s.gcr.io/external-dns/external-dns:v0.9.0
manifest for k8s.gcr.io/external-dns/external-dns:v0.9.0 not found: manifest unknown

**What you expected to happen**:
v0.9.0 is downloadable

**How to reproduce it (as minimally and precisely as possible)**:
docker pull k8s.gcr.io/external-dns/external-dns:v0.9.0
**Anything else we need to know?**:

**Environment**:
- Exte

[2021-08-07 16:27] #2005 closed

[2021-08-08 00:29] #1691 closed

[2021-08-08 12:07] dirien commented on #1941
HI @stevehipwell, Thumbs up for your work and your are right. I am surprised about the statment from @Raffo. There are much more bigger projects out, which can maintain a helm chart...

[2021-08-09 08:31] rusucosmin commented on #2075
+1

[2021-08-09 08:46] stevehipwell commented on #2204
This looks to be resolved now, `k8s.gcr.io/external-dns/external-dns:v0.9.0` is available and is added to the [release](https://github.com/kubernetes-sigs/external-dns/releases/tag/v0.9.0).

Discussion https://github.com/kubernetes-sigs/external-dns/discussions/2199 also reported this issue.

[2021-08-09 08:50] stevehipwell commented on #1941
My chart has been updated to use the `v0.9.0` External DNS release now the image has been published (it can take up to 30 mins for the new version to show up on Artifact Hub).

[2021-08-09 08:59] dirien commented on #1941
@stevehipwell: You could donate you chart repo to external-dns and keep maintaining it there. 😄

[2021-08-09 09:01] stevehipwell commented on #1941
@dirien I've offered before and this would be the best outcome for me.

[2021-08-09 09:05] dirien commented on #1941
@stevehipwell fully agree with you. Its not that the manifest will keep changing...

[2021-08-09 09:41] ffilippopoulos commented on #409
/remove-lifecycle stale

[2021-08-09 09:43] PaulFarver opened #2206 "Docker image in v0.9.0 release notes listed as v0.8.0"
The docker image at the bottom of the release notes for v0.9.0 is listed as v0.8.0

[2021-08-09 09:44] Raffo commented on #1941
@stevehipwell I see this being asked over and over again and as much as my opinion hasn't changed (helm is IMO a bad default choice for most usages), I don't think adding it to the repo can hurt more than leaving the community disappointed. We should have enough flexibility now to add you as the (sole for now) maintainer of the chart itself and as long as you keep doing that we can keep it in this

[2021-08-09 09:45] george-angel commented on #484
/remove-lifecycle stale

[2021-08-09 09:47] stevehipwell commented on #1941
Thanks @Raffo, I'll create the PR.

[2021-08-09 10:20] purpleHound commented on #1982
Hello, I think that I have the same problem. Not sure if I need to configure something in order to make the external DNS service delete unused records.

what I do:
1. Deploy a Helm chart with a service and an ingress.
2. Wait until ExternalDNS creates the route53 record.
3. Update the ingress resource to modify the ingress host value

What happens:
1. ExternalDNS creates a new record for the new i

[2021-08-09 14:23] stevehipwell commented on #1941
@Raffo could you re-open this issue to track when https://github.com/kubernetes-sigs/external-dns/pull/2208 is merged?

[2021-08-09 23:30] trentcain opened #2209 "AzureDNS provider overwrites existing alias DNS records"
**What happened**:
using the Bitnami 5.2.1 helmchart, deployed 0.8.0 and configured the following key values:
[code]

which created the ExternalDNS pod with the following arguments:
[code]

I had an existing [Azure DNS alias A record](https://docs.microsoft.com/en-us/azure/dns/dns-alias) for deva.example.com which was linked to a Azure public IP resource.

I created a Ingress:
[code]

ExternalDNS

[2021-08-10 03:46] jslay88 commented on #961
Getting this since upgrading to k8s v1.22

I have verified and validated ClusterRole, ClusterRoleBinding, ServiceAccount, and that the Pod is using the correct ServiceAccount.

[code]

[code]

[code]

[code]

[2021-08-10 04:41] seanmalloy commented on #2204
/close

[2021-08-10 04:41] #2204 closed

[2021-08-10 05:40] spirosoik commented on #2193
I can get this :)

[2021-08-10 10:05] Raffo commented on #2206
@PaulFarver Fixed, thank you!

[2021-08-10 10:05] #2206 closed

[2021-08-10 10:58] Raffo opened #2211 "Fix security issues and double down on security"
**What happened**:

We have a few unnoticed security issues in the image that we built. Unfortunately, we do not have image scanning enabled in the official docker registry, so those went unnoticed until today. I will omit the details, but I will work on a fix for all the vulnerabilities.

This issue is considered done when:

- [ ] We have a fix for all the vulnerabilities.
- [ ] We have a way to

[2021-08-10 15:02] Raffo commented on #2168
I am not sure that this is related to the new API version actually. The error in your example seems permission related 🤔

[2021-08-10 15:11] mhoran commented on #1263
/remove-lifecycle stale

[2021-08-10 15:12] scholzj commented on #2168
@Raffo I run into the same problem as well with 0.8.0 (didn't try with 0.9.0 yet since the container image was not available). The same RBAC configuration seemed to work fine for me on 1.21 but has shown this error on 1.22.

[2021-08-10 16:53] FixItDad commented on #1233
I was able to get external-dns to assume a role in the commercial account using OIDC AssumeRoleWithWebIdentity.
I think I'm hitting a bug though. The external-DNS service fails to retrieve zones because it is trying to assume the role it already has and fails to do that.  External-DNS logs show the following:

`
time="2021-08-10T14:02:29Z" level=info msg="Instantiating new Kubernetes client"
time=

[2021-08-10 20:10] alainvanhoof commented on #2168
After Upgrading a working 1.21.2 cluster to 1.22 external-dns started showing the above metioned error and stopped working. It looks like the source/ingress.go that is trying to get info from the resource is still requesting v1beta1 API while only  v1 is available
(    extinformers "k8s.io/client-go/informers/extensions/v1beta1" )

[2021-08-11 00:23] maybe-sybr commented on #2168
Any tips on how I could get some further information to help diagnose the issue, @raffo? I've got the source but have been a bti reluctant to start trying to build it with extra debugging output. The current usage of the v1beta1 ingress interface is definitely going to cause issues, but it's entirely possible there are other things getting in the way as well.

My current premise is that this code

[2021-08-11 07:09] dima-atg opened #2214 "external-dns fails to get dns zones from the bluecat provider"
**What happened**:
We've installed external-dns on our openshift cluster in order to automate adding CNAME records to our Bluecat DNS manager and configured it according to the documentation.
However external-dns fails to retreive DNS zones from the Bluecat, here's a log example:
[code]
In the logs of the Blucat Address Manager we see however that there are REST API requests coming in and enumerat

[2021-08-11 14:52] Rambatino commented on #1877
/help

[2021-08-12 06:35] rjosephwright commented on #2168
I did a quick fix for this at https://github.com/rjosephwright/external-dns/commit/52823b41c1c448d071a8dd05a9d1dbc487899129. It's not perfect as it has introduced a failure in the tests for the gloo proxy source, which I didn't have time to troubleshoot. I did verify that I am not seeing the "failed to sync cache" issue with this change.

[2021-08-12 06:39] Raffo commented on #2168
@rjosephwright I am working on a general bump of dependencies and will look into this as well, thank you for providing more information. It will take a bit to be fixed (ExternalDNS isn't really my daily job 😅  ) so for now I recommend avoiding 1.21.

I will rename this issue and pin it for maximum visibility.

[2021-08-12 10:19] olfway commented on #1780
/remove-lifecycle rotten

[2021-08-12 12:15] olfway opened #2217 "Running external-dns behind http proxy"
**What would you like to be added**:
Ability to run external-dns via http_proxy

**Why is this needed**:
Sometimes where is no direct connectivity with internet due to security requirements

[2021-08-12 13:47] H3rman8 commented on #1432
/remove-lifecycle stale

[2021-08-12 22:31] olfway commented on #2217
Actually it's working with HTTPS_PROXY environment variable

[2021-08-12 22:31] #2217 closed

[2021-08-13 08:28] spirosoik commented on #2193
@pipeworks-asmith could you post a sanitised output for this issue please?

[2021-08-14 07:58] tareks commented on #2075
Not sure if this will help or not, but I've successfully used ambassador host CRDs to create DNS records in Azure DNS using the changes merged as part of #1642.

ExternalDNS listens for `ambassador-host` as a source and a Host CRD definition has the annotation `external-dns.ambassador-service: ambassador/ambassador` with a `hostName` attribute which gets created as the A record pointing to ambassa

[2021-08-14 15:10] EKami commented on #1718
Same issue here =/

[2021-08-15 22:39] abursavich commented on #2045
My initial implementation of this was pretty simple. It just got the hostnames for a given route and the ip addresses from the gateways listed in the route's status. Done!  But looking the spec over again, I think it might need to go deeper into gateway listeners (hostname, protocol, routes, namespaces, kinds, etc.) to determine which hostnames are associated with which gateways/addresses. A route

[2021-08-16 03:29] #2016 closed

[2021-08-16 13:46] stephan2012 commented on #1929
/remove-lifecycle stale

[2021-08-16 13:46] stephan2012 commented on #1929
Issue is not yet resolved.

[2021-08-17 00:12] clayrisser commented on #1522
I'm having this exact issue with the latest version `0.9.0`. I'm using cloudflare as my DNS provider.

[2021-08-17 05:09] frittentheke commented on #449
/remove-lifecycle stale

[2021-08-17 07:44] rjhenry commented on #2189
+1 for this - would be incredibly handy to have for some on-prem clusters where load-balancers hand out internal IP addresses.

[2021-08-17 16:41] aslafy-z commented on #1609
/remove-lifecycle rotten

[2021-08-17 23:14] sgreene570 commented on #2092
/remove-lifecycle stale

[2021-08-18 05:11] stasburstsms opened #2222 "[question] Annotation for IP address"
Hi, I've configured Traefik in GCP with extra load balancer (default gce ingress) in front of it. I would like External DNS to create new DNS record with a specified IP address as the Traefik ingress wouldn't have any assigned ip addresses. Is there annotation to specify which IP address to use?

[2021-08-18 10:15] ieugen commented on #1865
/reopen

[2021-08-18 10:39] Teju367 opened #2230 "records retrieval failed: failed to list hosted zones: WebIdentityErr: failed to retrieve credentials"
Hi there,

I have followed the steps mentioned in this link https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md and created nginx service with proper annotation

I have created a hostedzone of type private and eks cluster is also of type private

In the external dns log i am getting below exception
time="2021-08-18T10:30:02Z" level=error msg="records retrieval failed:

[2021-08-18 13:03] knyttl opened #2231 "hostname vs target"
Hi,

My ingress (metadata.name=nginx-default) contains several paths. I would like the external dns tools to create:

1. A nginx-default.mydomain.com ACTUAL_IP_OF_LOADBALANCER
2. CNAME path1.mydomain.com nginx-default.mydomain.com
3. CNAME path2.mydomain.com nginx-default.mydomain.com
4. …

Until now I used this settings:

[code]

But since last update, it started creating an invalid record of:

-

[2021-08-18 16:23] mstarostik opened #2232 "hetzner provider applies changes regardless of --dry-run flag"
**What happened**:
wanted to preview my settings with --dry-run, but despite the startup message "running in dry-run mode. No changes to DNS records will be made.", changes where in fact made to DNS.

**What you expected to happen**:
--dry-run should prevent changes to DNS to be applied

**How to reproduce it (as minimally and precisely as possible)**:
external-dns --provider hetzner --dry-run ...

[2021-08-18 19:00] krmichel opened #2234 "[Chart] Release action failed since there is no gh-pages branch"
**What happened**:
Chart releaser action failed because there is no gh-pages branch

**What you expected to happen**:
index.yaml should be updated in the gh-pages branch

**How to reproduce it (as minimally and precisely as possible)**:
Run the chart releaser action without adding the gh-pages branch

**Anything else we need to know?**:
It would probably be best to add the gh-pages branch either e

[2021-08-18 19:26] fitchtech opened #2235 "Repository 404 Not Found"
ReadMe says to run:
`helm repo add external-dns https://kubernetes-sigs.github.io/external-dns/`

`Error: looks like "https://kubernetes-sigs.github.io/external-dns/" is not a valid chart repository or cannot be reached: failed to fetch https://kubernetes-sigs.github.io/external-dns/index.yaml : 404 Not Found`

[2021-08-19 06:16] kundan2707 commented on #2235
/assign

[2021-08-19 06:49] kundan2707 commented on #2235
@stevehipwell
add repo is failing for:
- https://kubernetes-sigs.github.io/external-dns/
- https://kubernetes-sigs.github.io/external-dns/charts/
both.

[2021-08-19 06:57] stevehipwell commented on #2235
@kundan2707 it looks like GH Pages wasn't set up before the PR was merged which made the chart release action [fail](https://github.com/kubernetes-sigs/external-dns/runs/3358866412?check_suite_focus=true).

@Raffo are you able to enable GH Pages as required by the [chart-releaser-action](https://github.com/helm/chart-releaser-action#pre-requisites) on the `gh-pages` branch and delete the chart rel

[2021-08-19 10:09] kundan2707 commented on #2234
https://github.com/kubernetes-sigs/external-dns/issues/2235 seems to have same cause

[2021-08-19 12:43] krmichel commented on #2235
I think you might have to delete the release as well as the tag to get it to work.

[2021-08-19 12:47] stevehipwell commented on #2235
@krmichel you're right, but at least in the GitHub UI you delete the release to delete the tag (or I do anyway).

[2021-08-19 13:04] krmichel commented on #2235
Good to know, thanks.

[2021-08-19 15:48] Raffo commented on #1941
@stevehipwell It looks like the actions on the master branch failed, can you look at that. Reopening this issue.

[2021-08-19 15:51] stevehipwell commented on #1941
@Raffo one of the maintainers needs to enable GH Pages for the repo with the default branch name. Then the chart release and tag need deleting before re-running the failed action.

[2021-08-19 15:56] Raffo commented on #1941
@stevehipwell do you have a reference document to use so that I know I'm doing the right thing?

[2021-08-19 16:10] onedr0p commented on #1941
@Raffo

![image](https://user-images.githubusercontent.com/213795/130103729-408c8997-dc53-4843-ac60-002b28d903ea.png)

Also, I think the custom domain need to be set to `kubernetes-sigs.github.io`

Then as @stevehipwell mentioned:

[2021-08-19 16:15] onedr0p commented on #1941
You might need to create an empty `gh-pages` branch, something like

https://jiafulow.github.io/blog/2020/07/09/create-gh-pages-branch-in-existing-repo/

[2021-08-19 16:38] Raffo commented on #1941
I will follow https://helm.sh/docs/topics/chart_repository/#github-pages-example which seems to be the official doc.

[2021-08-19 16:48] Raffo commented on #2234
Tracked via https://github.com/kubernetes-sigs/external-dns/issues/1941, closing.

[2021-08-19 16:48] #2234 closed

[2021-08-19 16:48] Raffo commented on #2235
Tracked via https://github.com/kubernetes-sigs/external-dns/issues/1941, closing.

[2021-08-19 16:48] #2235 closed

[2021-08-19 16:50] Raffo commented on #1941
Ok, pages is enabled and the actions ran successfully. Do we need anything else @stevehipwell  ?

[2021-08-19 16:54] onedr0p commented on #1941
Looks good:

[code]

[2021-08-19 16:58] Raffo commented on #1941
Cool, I'm going to close this issue and call it done.

[2021-08-19 16:58] #1941 closed

[2021-08-19 17:38] stevehipwell commented on #1941
@Raffo that all looks good to me, sorry about the slow response I've been on leave this week so working from my phone.

I'd also suggest a PR to clear everything except _index.yaml_ from the `gh-pages` branch.

[2021-08-19 23:12] erikdw commented on #1602
I'm just copying the [slack response](https://kubernetes.slack.com/archives/C771MKDKQ/p1599859960116300?thread_ts=1599829905.108900&cid=C771MKDKQ) into a comment here (Slack threads could go away):

[2021-08-20 06:56] schmurfy opened #2240 "Specify target for service"
**What would you like to be added**:

A way to specify the target name for a service:
[code]

**Why is this needed**:
Instead of having to add support for every ingress provider external-dns could mostly ignore what is used and just allow the user to tell it what to do, in the example above I just have to add `external-dns.alpha.kubernetes.io/hostname: traefik.mydomain.com` to the traefik service

[2021-08-20 07:08] Raffo commented on #1941
@stevehipwell no need to apologize, family and real life before software, always.

[2021-08-20 15:01] Raffo commented on #1941
This is done (it's a branch so it doesn't need a PR).

[2021-08-20 20:39] rifelpet opened #2243 "Add Readiness Gate support"
**What would you like to be added**:
Extend external-dns to act as a pod readiness gate when managing A records pointing to pod IPs.

**Why is this needed**:
For [headless Services with selectors](https://kubernetes.io/docs/concepts/services-networking/service/#with-selectors), [pod readiness gates](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-readiness-gate) could be used

[2021-08-21 19:19] brichins commented on #1419
/remove-lifecycle rotten

[2021-08-21 22:58] HaveFun83 commented on #1930
Will be great to see this working.
@reesericci  maybe you can open an issue on the pihole side?
I also found this one here: https://github.com/Pobek/external-dns-pihole

[2021-08-22 15:36] Skaronator commented on #1975
/remove-lifecycle stale

[2021-08-23 10:14] jmjohnson-slalom commented on #2075
@tareks Thanks for that! I was able to get it to work following your instructions.

[2021-08-23 10:14] #2075 closed

[2021-08-23 12:13] Raboo opened #2244 "allow hostnames in "default-targets""
**What would you like to be added**:
--default-targets only support IP addresses.
I would want it to support hostnames as well.

Currently this is what happens when you use a hostname in "--default-targets"

[code]

**Why is this needed**:
Cause sometimes A records doesn't fit the use-case.

[2021-08-23 23:31] kadern0 commented on #961
@jslay88, I'm having the same issue. Please let me know if you make any progress on it.

[2021-08-24 08:03] danielwegener commented on #1944
Would still be great to have this as a switch in the helm chart.

[2021-08-25 05:48] mper0003 opened #2245 "Same hostname, but different `set-identifier` is not creating multiple records"
**What happened**:
Adding `external-dns.alpha.kubernetes.io/hostname` annotation to different service resources with the same hostname doesn't create multiple weighted DNS records.

We Istio ingress gateways, AWS load balancers and AWS Route53 weighted DNS.
We want to annotate Istio ingress gateway services with the following annotations to create Route53 DNS entries:
[code]
During Istio upgrades,

[2021-08-25 07:01] darkn3rd commented on #1456
Cert Manager has some excellent documentation in this area:

* https://cert-manager.io/docs/configuration/acme/dns01/azuredns/

Related to this is direct support for bitnami external-dns helm chart

* https://github.com/bitnami/charts/issues/2311

[2021-08-25 07:48] Atoms commented on #2177
seems this is abandoned i would really like to see such possibility also.

[2021-08-27 13:33] asahnovskiy-deloitte opened #2255 "regex-domain-exclusion it seems doesn't work"
Hello!
I've tried to exclude domain via --regex-domain-exclusion setting.  My is test-v1.3.example-test.in.

I tried various variants:
--regex-domain-exclusion=^test.*\\.example\\-test\\.in
--regex-domain-exclusion=^test\\-v1\\.3\\.example\\-test\\.in
--regex-domain-exclusion=test\\-v1\\.3\\.example\\-test\\.in
--regex-domain-exclusion=test-v1.3.example-test.in

**What happened**:
 External DNS al

[2021-08-27 16:58] ignaciofuentes opened #2256 "Add support for DNSSEC - AWS Route 53"
**What would you like to be added**:
Support for DNSSEC via Route 53
https://aws.amazon.com/about-aws/whats-new/2020/12/announcing-amazon-route-53-support-dnssec/

[2021-08-27 17:22] #2256 closed, assigned to nobody

[2021-08-28 10:25] ThomasLohmann opened #2257 "Envoy support?"
Hi everyone,

any plans to support external-dns for Envoy? It would be really helpful and it's a common challenge on a bare-metal Kubernetes cluster. See the following link: https://www.envoyproxy.io/

the idea/user story is the following: As a user, I want to create DNS records via external-dns in Cloudflare (or any other DNS provider) automatically, once another node or service has been added to

[2021-08-29 04:52] darkn3rd commented on #1548
@MCKLMT I do not have this this issue when using AAD Pod Identity.  I have the default assigned managed identity, and one that I created, which grants access Azure DNS.  I am using the preview feature to automate the process, just in case that makes things work.

[2021-08-29 18:27] rgl commented on #961
for kubernetes 1.22, this is also being tracked at https://github.com/kubernetes-sigs/external-dns/issues/2168

[2021-08-30 16:48] ekeih commented on #2044
/remove-lifecycle rotten

[2021-08-30 17:53] fouadsemaan commented on #484
Can another solution be to run one update at startup if the `--events` option is turned on. In this case if a service was added/removed while external-dns was done, the change would be picked up when external-dns is back online. If `--events` is turned on, do we need the more than scheduled update?

[2021-08-30 20:45] agilgur5 commented on #2168
For reference, this same error seems to get printed out when a CRD doesn't exist. https://github.com/kubernetes-sigs/external-dns/issues/961#issuecomment-881967776 suggested this was the case when you add Istio sources but Istio CRDs don't exist and my team has been able to confirm this is the case.

So if that error is for either permissions _or_ resource non-existence issues, that would make sen

[2021-08-31 07:23] ecerulm commented on #1421
@Raffo, any chance you could look at a fix for this or maybe unassign the issue from you?

[2021-08-31 09:22] ari-becker commented on #1899
/remove-lifecycle stale

[2021-08-31 20:36] CRASH-Tech commented on #1441
We can add assigned IP to TXT record, than external-dns will be known which record is own

[2021-09-01 07:58] Maraudingas commented on #961
Solved the following issue by removing not currently deployed:
--source
Mainly in automation I appended that Istio will be used, but current Kubernetes installation doesn't have it, so external-dns failed...
will have to update helm chart to append if statement if istio is already installed to add additional sources...

[2021-09-01 10:21] stieglma opened #2260 "`kustomize/kustomization.yaml` not updated to correct image version for tag v0.9.0"
**What happened**:
When updating to the v0.9.0 release of external-dns we noticed that our deployments did not change. It seems that here: https://github.com/kubernetes-sigs/external-dns/blob/v0.9.0/kustomize/kustomization.yaml#L6 the version is not updated properly. This is also the same for release v0.8.0 (there the version in the kustomization.yaml is v0.7.6)

**What you expected to happen**:
W

[2021-09-01 18:43] #1827 closed

[2021-09-02 04:19] prowave opened #2262 "ALB Annotation hostHeaderConfig not creating Route53 record"
**What happened**:
I upgraded from 0.7.1 to 0.9.0 by removing the old deployment and reinstalling using the latest helm chart.

**What you expected to happen**:
When deploying Ingress with the AWS ALB, and adding additional hosts using the conditions annotation I expect Route53 records to be created for the hosts in `rules` and the hosts in `alb.ingress.kubernetes.io/conditions` with `[{"field":"h

[2021-09-02 08:04] kundan2707 commented on #2260
/assign

[2021-09-02 09:45] yuanshaochen opened #2264 "Exporting pod IPs for service with `ClusterIP` type"
**What would you like to be added**:
Currently external-dns could only export pod ips for headless service. It's better to have an new annoation to exporting pod ips for service with `ClusterIP` type.

Also the record TTL should be configurable instead of using the `sdDefaultRecordTTL` for creating new service.

**Why is this needed**:
We are using Knative to deploy service in AWS EKS. It will cre

[2021-09-02 15:01] prowave commented on #2262
This is not a loss of functionality between 0.7 and 0.9.  Closing.  My bad. :)

[2021-09-02 15:01] #2262 closed

[2021-09-02 16:10] augabet opened #2265 "AWS ACM certificate request has its validation CNAME deleted by external-dns"
**What happened**:

We are running external-dns in a EKS cluster configured with the policy: sync). External dns create records under the subdomain.domain.net hosted zone.

When we tried to create a wildcard certificate like *.subdomain.domain.net through AWS ACM, the validation CNAME created  by AWS was instantly deleted by external-dns.

To have the validation working, we switched to the upsert-

[2021-09-02 19:52] mattmichal commented on #1792
/reopen
/remove-lifecycle rotten

[2021-09-02 19:57] mattmichal commented on #2168
Somewhat related to this is lack of support for the `ingressClassName` field mentioned in #1792. The annotation that is used today for finding eligible ingress resources has been [deprecated since 1.18](https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/).

[2021-09-03 08:39] mstrohl opened #2270 "[K8S] 1.22 ingress v1"
https://github.com/kubernetes-sigs/external-dns/blob/bf3a91f7f79db991b484db92274ed69cc7e81c5f/source/ingress.go#L293

hello,

Shouldn't we have  v1.IngressStatus instead of  v1beta1.IngressStatus for new networking.k8s.io/v1 ?
I'm not able to start properly external-dns whe source ingress is set.

[2021-09-03 12:11] mstrohl commented on #2270
/assign @yourself

[2021-09-03 12:11] mstrohl commented on #2270
/assign @mstrohl

[2021-09-03 12:31] mstrohl commented on #2270
seems to be opend by error

[2021-09-03 12:31] #2270 closed

[2021-09-03 22:05] #2036 closed

[2021-09-03 23:40] skupjoe commented on #1421
I am noticing this too with my kafka cluster. Each minute I see repeated UPSERT changes for my brokers/bootstrap address

[2021-09-04 00:04] briscula commented on #2048
+1, did you find any solution?

[2021-09-04 00:17] briscula commented on #1281
+1

[2021-09-04 05:02] TwinProduction commented on #2069
/remove-lifecycle stale

[2021-09-05 03:40] skupjoe commented on #1982
It's working for me on latest helm and external-dn v0.9.0.
I had to use the update policy 'sync' for it to work.

[2021-09-05 03:41] skupjoe opened #2271 "Custom TTL not set for Route53 records"
When I apply the following Ingress manifest:
<img src="https://user-images.githubusercontent.com/5000412/132113899-a575505d-fec3-44a4-b0c2-123b3cd90737.png" width="500" height="500">

My ALB / Target Group / Route53 records get created as expected, but the TTL for my record is always 300 seconds (which is [Route53 default](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/ttl.md#aws

[2021-09-05 04:19] #1621 closed

[2021-09-05 05:11] mstrohl commented on #2168
Hello, thanks to @rjosephwright i built an image without testing because i've seen that my source (OVH) still working with all dependencies errors. thanks @Raffo for the time you spend because there are a lot of impacts. For those who can't wait to try an image that coul possibly work you can try in the repository smartdeploy/external-dns:0.0.1. It has been build from the @rjosephwright commit.

[2021-09-06 09:11] madhavikdb opened #2273 "Ingress Attributes for Custom TXT Entries"
It was already raised previosly,
need annotations to create custom TXT values which replicate to DNS.
like
external-dns.alpha.kubernetes.io/additional-txt : "loaderio=dsraddrs, value2=1234567890"

can anyone provide solution quicker if already exists.
thank you

[2021-09-06 20:46] adrianliechti opened #2274 "Chart: extraInitContainers"
Hi External-DNS Community,

to use the helm chart with the azure-config-path hostpath mount, it seems I need to run it as root, since /etc/kubernetes/azure.json on the node is root:root rw-------. If I run it as the default user, the pod cannot start with a permission denied error.

What do you think to allow to specify extra Init-Containers (next to extraVolumes and extraVolumeMounts) to allow ev

[2021-09-07 07:53] stevehipwell opened #2275 "Add Helm chart to Artifact Hub"
**What would you like to be added**:
[Reigister chart in Artifact Hub](https://artifacthub.io/docs/topics/repositories/#helm-charts-repositories) both for discovery and to show that the chart is verified.

**Why is this needed**:
The official chart doesn't show up in an [Artifact Hub query for "external-dns"](https://artifacthub.io/packages/search?ts_query_web=external-dns&sort=relevance&page=1).

[2021-09-07 07:54] stevehipwell commented on #2275
@scottrigby is this something you could help with (based on https://github.com/kubernetes/org/issues/2587#issuecomment-804960783)?

[2021-09-07 08:05] stevehipwell commented on #2274
@adrianliechti why are you using the node Service Principal and not the secret based pattern as documented in the repo Azure [guide](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure.md#permissions-to-modify-dns-zone)?

I'm not adverse to adding `extraInitContainers` but I'm not sure that they're the solution to your issue here.

[2021-09-07 08:59] adrianliechti commented on #2274
ciao @stevehipwell, thanks for reaching out!

we are using the secret way for a couple of years now.
there is a small disadvantage: when rotating the azure service principal, you would need to think about refreshing the secret too which - depending on your deployment approach - is a little bit difficult to achive
(imagine one clicks in the Azure Portal -> so you would need a webhook or config-obse

[2021-09-07 09:50] stevehipwell commented on #2274
@adrianliechti doesn't having your principal tied to your node break RBAC as any container on the node could mount the config? For our AKS clusters we use the [aad-pod-identity](https://github.com/Azure/aad-pod-identity) component which is what the [cert-manager docs](https://cert-manager.io/docs/configuration/acme/dns01/azuredns/) are referring to (we use the Helm chart).

[2021-09-07 14:42] adrianliechti commented on #2274
well thats a fair point...

in this case, /host/etc/kubernetes/azure.json is created by microsoft itself (on any AKS node).
and probably anyone with the right to start a pod with root and create a host path mount can easily access this file - including the aadClientSecret. using this data, one could use the azure cli as an example to do whatever this principal is allowed to.

[code]

so yes, writi

[2021-09-07 14:48] stevehipwell commented on #2274
@adrianliechti for completeness of answer (I think the aad-pod-identity is the way to go), I assume that you could create a different service principal to go into the secret that could have fewer permissions than the node principal.

[2021-09-07 16:21] #2260 closed

[2021-09-08 08:21] alen-z opened #2278 "Using default-targets with service annotations and CRDs multiple issues"
**What happened**:

1. Not able to create `Service` of type `ClusterIP` with annotations to create CNAME record referencing existing target DNS, only able to reference A record with IP of a service endpoint. `publish-internal-services` during runtime also needs to be used to pick up internal service.
[code]

OR

2. Creating `DNSEndpoint` CRD with `default-targets` requires _some_ targets set in CR

[2021-09-08 08:22] alen-z commented on #377
Would like to just point out one other use case when using internal service with `default-targets`: https://github.com/kubernetes-sigs/external-dns/issues/2278

[2021-09-08 08:59] azkore opened #2279 "kops compatibility mode: Comma-separated lists of names do not work for pods"
Kops compatibility mode introduced in https://github.com/kubernetes-sigs/external-dns/pull/2041/files and decribed in https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/kops-dns-controller.md is currently not fully compatible with kops dns controller annotations

**What happened**:

The documentation [states](https://github.com/kubernetes-sigs/external-dns/commit/0306e20429

[2021-09-08 12:16] farodin91 commented on #2156
I will play around with it.

[2021-09-08 14:35] SihYingChen opened #2280 "[Question] Infoblox: does it support SRV records?"
Hi everyone,

The application I am working on needs a SRV record type. I was wondering if external-dns for infoblox provider supports any annotations (kubernets or helm) that will enable the creation of SRV record. Thank you for you answer.

[2021-09-08 15:06] offzale commented on #2255
I have also noticed issues in version 0.9.0 with the regex filtering. I guess the latest changes to the domainFilters are not compatible with the regex and might need some further attention to fix it.

In my case going back to 0.8.0 worked

[2021-09-09 15:25] schmurfy commented on #2240
I honestly don't know where to go from there, as I said I can even try to make the pull-request but I won't do it unless it is gonna be merged.

[2021-09-09 19:52] #1455 closed

[2021-09-09 19:52] #1798 closed

[2021-09-10 05:55] #1647 closed

[2021-09-10 07:04] #2174 closed

[2021-09-10 10:53] michalschott opened #2283 "Cloudflare provider is inefficient"
**What would you like to be added**:
We're using external-dns (with Cloudflare provider) in pair with HAProxy-ingress (https://github.com/jcmoraisjr/haproxy-ingress). In our stg/prod clusters, we have around 100+ ingresses configured.

We've observed that in any situation of ingress upgrade, provider is not updating the record - instead it deletes and recreates it. Now the problem starts when numb

[2021-09-11 09:15] Jille opened #2284 "unknown time zone Europe/Amsterdam"
**What happened**:

I was migrating from Google Cloud DNS to TransIP with a new domain name, and it stopped working.

These three log lines keep repeating. I'm assuming the first one is the real problem and the others are just noise.

[code]

No DNS records were added.

**What you expected to happen**:

I hoped it'd add all our subdomains to the new domain at TransIP.

**How to reproduce it (as mi

[2021-09-11 10:25] Jille commented on #2284
We patched the docker container by adding `RUN apk --no-cache add tzdata` and that solved the problem.

[2021-09-11 12:21] masterkain commented on #2168
@mstrohl I had some success with `smartdeploy/external-dns:0.0.1` image,
I only have a slight spamming of

`W0911 12:20:13.950956       1 transport.go:260] Unable to cancel request for *instrumented_http.Transport`

but beside that I was able to update my records on cloudflare, thanks

[2021-09-11 13:48] alainvanhoof commented on #2168
Build the current PR  https://github.com/kubernetes-sigs/external-dns/pull/2281 which indeed works for 1.22.1 and PowerDNS  but has the same  warning
W0911 12:20:13.950956 1 transport.go:260] Unable to cancel request for *instrumented_http.Transport
as smartdeploy/external-dns:0.0.1

[2021-09-11 22:13] #1431 closed

[2021-09-12 17:27] alysonfranklin opened #2286 "external-dns with a Traefik 2.0 IngressRoute"
I was able to use external-dns with AWS Route53 and EKS cluster with a Traefik 1.7 Ingress resource, but have been unable to achieve the same with the Traefik 2.0 IngressRoute resource. I have annotated my service to provide the hostname information.

[code]
Of course, my.awesome.domain.com is not my real domain, but is unimportant.

Does external-dns require a Kubernetes Ingress? If not how might

[2021-09-12 18:18] szuecs commented on #731
/remove-lifecycle stale

[2021-09-13 09:25] Jille commented on #2284
Someone else ran into this issue too and filed it on the gotransip side: https://github.com/transip/gotransip/issues/31

[2021-09-14 11:45] larivierec commented on #2171
I believe I'm having the same issue.
If I set the 2 annotations of external dns to a service

[code]

Then using metallb I set the service to Load Balancer and apply the configuration,what happens is that the internal ip address of the Load Balancer is applied.

I believe, to circumvent this they added the externalIps array in the chart however, when using ddns this isn't a good idea since the ip

[2021-09-14 18:09] 91jme opened #2291 "Perform final processing loop on SIGTERM"
**What would you like to be added**: When a SIGTERM is received External-DNS should immediately perform a final processing loop.

**Why is this needed**: When using helm uninstall to remove external-dns alongside the Service/Ingress it monitors, external-dns is often terminated before it has had chance to process DNS record deletions for the other deleted pods (even when using a low interval or --

[2021-09-15 01:47] #1837 closed

[2021-09-15 06:08] mshekharee opened #2294 ""Failed to fetch zones from Akamai""
Hello Team,

we are facing issue fetching zones from Akamai, We are using the version: k8s.gcr.io/external-dns/external-dns:v0.7.6
![image](https://user-images.githubusercontent.com/70192286/133379621-4f217781-c1c1-4ae1-b563-af6aa96a94b0.png)

Through api postman calls we are able to retrieve the zones but from external-dns this is failing. Any leads would be appreciated.

Thanks

[2021-09-15 08:24] #2168 closed

[2021-09-15 08:51] Cyanopus opened #2296 "DNS Geolocation Blackholing"
**What would you like to be added**:
Custom records for geolocation-based routing to localhost or a static page on specific geolocation criteria like country code, city, or subdivisions. This configuration will blackhole the requests coming from specific geo sources.

Example possible annotations:
[code]
This would result in additional records being created based on geolocation that will send the

[2021-09-15 09:48] Raffo commented on #1861
## 2021-09-15

We'll ship the new release next week. It will include support for kube 1.22 and a high number of vulnerability fixes.

[2021-09-15 14:50] jld3103 opened #2297 "TransIP provider creates wrong records"
**What happened**:
I generated DNS records for my cluster using the TransIP provider. This is what it generated in the CLI (which is the expected output):
[code]
What I see in the TransIP control panel:
![image](https://user-images.githubusercontent.com/26026535/133456049-3119a367-dd9f-479a-b1b3-3b75a052e79a.png)

**What you expected to happen**:
The DNS records created at TransIP should be the sa

[2021-09-15 14:59] jld3103 commented on #2297
When I manually change the record type, external-dns doesn't override it.

[2021-09-15 15:14] jld3103 commented on #2297
I did update the gotransip dependency, suddenly it created the DNS records correctly, but downgrading to the current version still produces the correct records. I'll see what happens when I run it on my cluster.

[2021-09-15 15:15] jld3103 commented on #2297
Welp running it on my cluster also creates the correct records. The wrong records were produced locally btw.

[2021-09-15 18:06] MRostanski commented on #1707
@sanjeevpandey19 it does exactly that, it creates CNAME to alb.<something> and the alb.<something> is a CNAME to load balancer name which in turn would be resolved to some IP/IPs.

[2021-09-15 18:07] jld3103 commented on #2297
I feel like the TransIP control dashboard is the problem. I created some manual records and it shows me some weird stuff. Maybe it's confused by the automatic record, but it seems external-dns is not the source of the problem and the records are created correctly.

[2021-09-15 18:07] #2297 closed

[2021-09-15 21:22] dmizelle commented on #2283
hey @michalschott, if I'm understanding this correctly, it looks like we should be doing an UPSERT of sorts here, instead of DELETE/CREATE all of the time, yeah?

Only reason why I am asking is that in your section of _what it should do_, its still referencing `DELETE` and `CREATE`. Just making sure I understand correctly, as I _may_ be able to pick this up at some point.

[2021-09-15 23:45] samip5 commented on #1875
Could this get some more traction as the IPv6 support in Kubernetes is moving to stable in the next release?

[2021-09-15 23:50] samip5 opened #2299 "pdns provider: Does not add AAAA records"
**What would you like to be added**:
IPv6 support for pdns provider so that it would generate AAAA records.

**Why is this needed**:
It's needed because IPv6 dual-stack is headed to stable (https://github.com/kubernetes/enhancements/issues/563)

[2021-09-16 00:06] maybe-sybr commented on #2168
Thanks for getting #2281 merged, @Raffo and @andrewstuart

[2021-09-16 01:56] samip5 opened #2300 "Ingress with IPv4 and IPv6 IPs results in failure to add records"
**What happened**:
The external-dns reported an error and it's unable to create records because it's trying to create A records only with IPv4 and IPv6 addresses.

**What you expected to happen**:
I expected it to work properly

**How to reproduce it (as minimally and precisely as possible)**:
1. Deploy cluster in dual-stack mode.
2. Deploy nginx-ingress controller
3. Use calico CNI
4. Set nginx e

[2021-09-16 13:23] pkit opened #2307 "Fails to update (or even notice that something needs to be updated) if aws-prefer-cname is used"
**What happened**:
`time="2021-09-16T13:14:46Z" level=info msg="All records are already up to date"`

**What you expected to happen**:
CNAME record upserted to match NLB name

**How to reproduce it (as minimally and precisely as possible)**:
1. Run `external-dns` with
[code]
2. Use `external-dns.alpha.kubernetes.io/hostname: "service.example.com"` annotation on any service

If there is no CNAME re

[2021-09-16 13:35] pkit commented on #2307
Okay, it's not really a bug.
It just means that `aws-prefer-cname` cannot ever be used, as it's not going to work either because of upsert or CNAME + TXT conflict

[2021-09-16 15:15] #1810 closed

[2021-09-16 18:16] #2055 closed

[2021-09-16 21:57] ghost opened #2308 ""--crd-source-kind" flag doesn't work as intended"
I'd like to use a CRD as a source, but the --crd-source-kind flag doesn't seem to do anything.

For example, I modified crd-manifest.yaml to change the name of the sample custom resource from "DNSEndpoint" to "XDNSEndpoint" and created a resource using that CRD. Then I ran:

[code]

**What happened**:
[code]

**What you expected to happen**:
external-dns lists XDNSEndpoint resources and uses them

[2021-09-17 00:38] samip5 commented on #2300
Hi @ffledgling, it seems that it's your code that has an assumption that there will ever be one target in endpoints which I have troubleshooted to be the culprit for the error as targets in my case has two, one IPv4 and one IPv6 address.

https://github.com/kubernetes-sigs/external-dns/blob/8cc952298c6ef9958840dae205c726b9d84d4df5/provider/pdns/pdns.go#L309-L319

[2021-09-17 09:29] siarhei-karanets-epam commented on #1810
/reopen

[2021-09-17 10:04] mshekharee commented on #2294
We were receiving this error due to the URL blocking on Firewall. We were able to fix by allowing the Akamai host on firewall.

[2021-09-17 10:04] #2294 closed

[2021-09-17 11:43] froblesmartin opened #2310 "Not configuring other records if just one has a different txt-owner-id"
**What happened**:

external-dns is not able to manage other records if only one is failing due to an existing record that has the TXT registry record with a different owner.

**What you expected to happen**:

I would expect that external-dns just omits that record and configures the rest.

**How to reproduce it (as minimally and precisely as possible)**:

With more than 1 record to be set, change

[2021-09-17 11:47] froblesmartin commented on #2307
I think when you use CNAME you are forced to specify a txt-prefix to avoid conflicts, as it is specified in the GovCloud Caveats section.
https://github.com/kubernetes-sigs/external-dns/blob/v0.8.0/docs/tutorials/aws.md#govcloud-caveats

[2021-09-17 12:29] pkit commented on #2307
Good point. Seems like it does work!

[2021-09-17 14:20] froblesmartin commented on #2307
Should this issue be closed then? :)

[2021-09-17 14:23] #2307 closed

[2021-09-17 14:41] froblesmartin commented on #2310
As well, if the main record in R53 is deleted, but the TXT record remains, it will not recreate the main record again.

[2021-09-18 13:37] #1927 closed

[2021-09-18 13:37] #2058 closed

[2021-09-18 15:30] sgreene570 commented on #2135
/remove-lifecycle stale

[2021-09-18 22:35] D-o-c commented on #2189
+1 for this in my home setup :) would be wonderful :heart_eyes::heart_eyes:

[2021-09-18 23:29] acnodal-tc commented on #2308
Working on a dynamic go-client crd source, seems to work but I need to figure out what tests to write: https://github.com/acnodal/external-dns/blob/dynamic-crd/source/crd.go

[2021-09-19 20:19] mstrohl commented on #2168
Updating pod with this image working well : docker pull smartdeploy/external-dns:latest (made from https://github.com/kubernetes-sigs/external-dns/pull/2281 commit on master)

[2021-09-20 00:01] vikas027 commented on #2097
anyone? :)

[2021-09-20 08:10] roman-parkhunovskyi-sp commented on #1233
@FixItDad much appreciated for the configuration notes, so far your post is the only evidence on the Internet, stating this solution does work for GovCloud. IMHO, this should be the part of the [official documentation](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md#govcloud-caveats) or an article.

However, reproducing the above configuration didn't help resolve

[2021-09-20 09:59] DalianisDim opened #2311 "CloudFlare provider is limited when Istio Ingress is used"
**What would you like to be added**:
`external-dns.alpha.kubernetes.io/cloudflare-proxied` annotation-like when using Istio Ingress. This will allow controlling of proxy on DNS records created by `external-dns`.

**Why is this needed**:
`external-dns` CloudFlare provider can successfully create DNS `A` records on CloudFlare when Istio Ingress is used by utilizing the following parameters:

[code]

[2021-09-20 10:15] DalianisDim commented on #2311
Closing my own issue, it appears that `external-dns.alpha.kubernetes.io/cloudflare-proxied` can be used as an annotation on an Istio VirtualService as below:

[code]

[2021-09-20 10:16] #2311 closed

[2021-09-20 13:34] michalschott commented on #2283
hey @dmizelle

yes you got this right, let me update above.

[2021-09-20 14:15] steve-bitdotio commented on #2308
/cc @shashidharatd who author'd https://github.com/kubernetes-sigs/external-dns/pull/657

[2021-09-20 15:34] mfbieber commented on #1944
Hi,

we have a completely private VPC. I am able to use the regional endpoint for sts.amazonaws.com, but I still get the error:
`time="2021-09-20T14:55:38Z" level=error msg="records retrieval failed: failed to list hosted zones: RequestError: send request failed\ncaused by: Get \"https://route53.amazonaws.com/2013-04-01/hostedzone\": dial tcp 54.239.31.187:443: i/o timeout"`

To my knowledge (and

[2021-09-21 10:03] bodgit commented on #1944
You are correct, Route53 doesn't support VPC endpoints (last time I checked anyway) so unfortunately you require some form of internet connectivity to reach that API. It's not the only one, most/all of the "global" AWS services don't either.

[2021-09-21 12:11] shubhamitc opened #2312 "Support active-active setup for external-dns"
Hi, we would like to run 2 EKS clusters in active-active mode. While running in this mode, we should be able to add  or delete records from both clusters. However, it does not allow that with owner mismatched issues.

[code]

Once we tried to change the owner to the same owner-id, it started deleting the entry from other clusters.
How do we solve this problem?

[2021-09-21 12:17] danvaida commented on #1959
/remove-lifecycle stale

[2021-09-21 14:46] SGStino commented on #1983
@Raffo, can it at least log what is going wrong somehow, which specific call failed maybe?
get nodes? list services? watch pods?
Because "something is wrong with the permissions" doesn't give a lot of usefull information.

[code]

[code]

The extra note about the namespaces being wrong doesn't apply here, since it's a ClusterRole I'd figure?

Perhaps logging the API calls being done when at log-le

[2021-09-21 16:28] testeddoughnut commented on #2194
@pipeworks-asmith I was running into this issue with almost the same setup as you and it turns out it was due to the helm chart that I was using defaulting to `--policy=upsert-only` instead of `--policy=sync`. Might want to check if you're hitting the same thing.

[2021-09-21 16:37] kbreit commented on #2194
@testeddoughnut I've had similar problems (#2148) but already setup with `--policy=sync`.

[2021-09-21 16:56] pkit opened #2313 "DNS not updated when load balancer changes address"
**What happened**:
Contour logs
[code]
external-dns logs:
[code]

**What you expected to happen**:
Update of the new CNAME in Route53
Essentially that's the only thing I expect of `external-dns` nothing else.

**How to reproduce it (as minimally and precisely as possible)**:
Use `external-dns` with `projectcontour` on EKS

[2021-09-21 17:23] pkit commented on #2313
It's much much worse than that.
It always updates the address in Route53 to a wrong CNAME!
That CNAME no longer exists in the cluster, yet `external-dns` will insist on setting it in Route53. Making the whole cluster unreachable.
Only totally removing `external-dns` deployment can restore cluster functionality.

[2021-09-21 19:11] mfbieber commented on #1944
Yes, I chatted with the AWS support and there is a feature request for that, but no ETA yet. The same applies to other endpoints used by the aws-load-balancer-controller.

Thanks anyways 😄 - working on the internet connectivity now.

[2021-09-21 19:57] fitchtech commented on #1944
If you create a VPC endpoint for STS and the Amazon provided default DNS in the DHCP option set then the DNS endpoint name should resolve to the private interface regardless of how the application is configured. The VPC DNS would resolve sts.amazonaws.com to the private IPv4 address of the STS VPC endpoint ENIs. Just make sure the instance security group is allowed ingress to the security group of

[2021-09-21 20:34] danthegoodman1 opened #2314 "`failed to sync cache: timed out waiting for the condition` When using `istio-*` source"
**What happened**:
When using external dns v0.9.0, After 20-60 seconds the deployment crashes with `failed to sync cache: timed out waiting for the condition`.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

(version 1.11.2)
`istioctl install`

**Anything else we need to know?**:

**Environment**:
- External-DNS version (use `external-dns --version`): 0.9.0 (als tried wi

[2021-09-21 20:44] danthegoodman1 commented on #2314
I find these logs in k9s:

[code]

[2021-09-21 20:57] danthegoodman1 commented on #2314
Solved, had to add:
[code]
  to my ClusterRole

[2021-09-21 20:57] #2314 closed

[2021-09-22 04:03] mamiu commented on #2286
@alysonfranklin Have you checked:

[Which Service and Ingress controllers are supported?](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/faq.md#which-service-and-ingress-controllers-are-supported)

https://github.com/kubernetes-sigs/external-dns/issues/1257: Is it possible to use external-dns with a Traefik 2.0 IngressRoute resource?

https://github.com/kubernetes-sigs/external-d

[2021-09-22 11:44] singhalok00188 commented on #438
Can anyone guide me how to resolve the same issue as externalDNS doesn't add dualstack for A records on AWS route53?

[2021-09-22 14:26] SailingYYC commented on #1372
/remove-lifecycle stale

[2021-09-23 05:01] kundan2707 commented on #2312
/kind support

[2021-09-23 05:03] kundan2707 commented on #2231
/kind support

[2021-09-23 05:25] knyttl commented on #2231
I don't think this is necessarily support as this changes with the new version of the tool.

[2021-09-23 07:59] Jean-Daniel opened #2315 "Helm chart should support deploying CRD source"
**What would you like to be added**:

To be able to  use DNSEndpoint CRD, external-dns should deploy the CRD yaml and also add some permissions to the cluster role.

When deploying with helm, it would be helpful to have a simple way to enable the `crd` source. It will deploy both the DNSEndpoint CRD and patch RBAC to support it.

**Why is this needed**:

While It is relatively easy to add an extra

[2021-09-23 09:39] kundan2707 opened #2316 "Broken link in registry.md"
**What happened**:
Link for Flow in https://github.com/kubernetes-sigs/external-dns/blob/master/docs/proposal/registry.md is broken
**What you expected to happen**:
It should not be broken
**How to reproduce it (as minimally and precisely as possible)**:
Clink on Flow link at bottom of this file
**Anything else we need to know?**:

**Environment**:
- External-DNS version (use `external-dns --versi

[2021-09-23 09:40] kundan2707 commented on #2316
/kind documentation

[2021-09-23 10:10] kundan2707 commented on #2136
Anyone interested on work on this? OR i can  start work on this ?

[2021-09-23 13:14] N05h3ll opened #2317 "External-dns randomly changing existing non-changed records"
**What happened**:
After Sep 22 2021 Cloudflare incident which caused some outage in europe and other edge nodes, external-dns started acting weirdly and changing existing records that has no changes in their records, this action happens in random intervals 1, 2, 4 minutes in different clusters.
[code]

This causes client side errors with code "1016 Origin DNS Error". Note that we don't use CNAME

[2021-09-23 19:05] raelga commented on #1730
/remove-lifecycle stale

[2021-09-23 20:01] matthewmrichter commented on #1598
/remove-lifecycle stale

[2021-09-24 13:28] vainikkaj opened #2320 "Multiple managed identities in AKS"
**What happened**:

Previously we used ExternalDNS with AKS managed identity and it worked great.

However, after enabling RBAC (with AD integration), ExternalDNS could no longer retrieve Azure DNS zones for AKS resource group.

    StatusCode=400 -- Original Error: adal: Refresh request failed. Status Code = '400'.
    Response body: {\"error\":\"invalid_request\",\"error_description\":\"Multiple

[2021-09-24 20:04] tinyzimmer commented on #1930
Chiming in on the stale thread to say this is...doable. Albeit ugly until Pi-Hole implements a true API for their Local DNS functionality.

I'm playing with a fork on my home cluster to see if I can get a full implementation working. Will create a PR if I have any luck.

[2021-09-25 15:56] #1659 closed

[2021-09-26 07:57] eolouw commented on #961
Can you please explain a bot more for me, as we have the same issue.

[2021-09-26 09:19] MohamedHooda commented on #2317
Same happened to me

[2021-09-26 18:14] cmillani opened #2322 "Outdated helm chart reference in CoreDNS tutorial"
Hi everyone!

I was trying external-dns with CoreDNS on my test cluster and noted that the current link to the CoreDNS Helm Chart points to a repo that is marked as [outdated](https://github.com/helm/charts).

There is now a chart under the CoreDNS github [here](https://github.com/coredns/helm)

Another issue is that the link to the `values.yaml` file under CoreDNS [section of the tutorial](https:

[2021-09-27 04:06] #2064 closed

[2021-09-27 10:17] #2211 closed

[2021-09-27 13:04] Diaoul opened #2324 "Helm chart is missing RBAC for dnsendpoints"
**What happened**:
Deployed the helm chart, RBAC configuration for input crd is missing.

**What you expected to happen**:
Proper RBAC set in the [ClusterRole](https://github.com/kubernetes-sigs/external-dns/blob/master/charts/external-dns/templates/clusterrole.yaml), maybe with a custom helm value (`rbac.dnsendpoints: true` ?) so that it works with input CRD as documented at the bottom [here](htt

[2021-09-27 17:52] szuecs commented on #1517
/remove-lifecycle stale

[2021-09-28 06:13] Diaoul opened #2325 "Helm chart does not set --registry= argument"
**What happened**:
With `Values.registry` set to noop, txt is still being used

**What you expected to happen**:
`Values.registry` sets the registry argument to external-dns.
It is actually used to set txt parameter with [this condition](https://github.com/kubernetes-sigs/external-dns/blob/master/charts/external-dns/templates/deployment.yaml#L62).
However there should be somewhere in the args list

[2021-09-28 10:12] unixfox commented on #1453
/remove-lifecycle stale

[2021-09-28 16:05] NoNalTrX opened #2326 "OCI Private DNS zone management"
**What happened**:
Hi there, I'm running external-dns witj OCI provider on dry-run mode for now.
When the pod start, it does not found any zone on OCI. The fact is that we have plenty of DNS zone, but only private zone attached to private view.

The logs are:
`No zones found in compartment "ocid1.compartment.oci..............."`

There is no error logs at all, everything seems to work properly, I

[2021-09-29 06:12] kundan2707 commented on #2076
/remove-lifecycle stale

[2021-09-29 13:09] dominch commented on #2222
Probably #1077

[2021-09-30 17:46] seefor commented on #1958
/remove-lifecycle stale

[2021-09-30 17:46] seefor commented on #1958
/reopen

[2021-09-30 20:08] alebedev87 commented on #1958
PR for the PTR record creation in Infoblox provider: https://github.com/kubernetes-sigs/external-dns/pull/2258.

[2021-10-01 15:25] atorrescogollo opened #2346 "Duplicated A records"
**What happened**:
I have one service running with an `external-dns.alpha.kubernetes.io/hostname=<somedns>` annotation. Then, I put the same annotation in another service (even in a different namespace) and external-dns **creates the A record although it already exists for another service**. Now, DNS has the same entry duplicated with two different IPs from two different services.

**What you expe

[2021-10-01 18:00] #2066 closed

[2021-10-01 21:33] artificial-aidan commented on #2257
Is there anything stopping you from putting an annotation on the Envoy service and have external-dns pick it up?

[2021-10-01 23:03] #2071 closed

[2021-10-02 06:18] fivesheep opened #2348 "Tons of useless warning log messages for instrumented_http.Transport"
**What happened**:
external-dns v0.10.0 process logs out tons of useless warning message each cycle
[code]

The message was not helpful for debugging, and it also seemed to have a different log format than the others, even though it didn't seem to have real impact on functionality.  I didn't see this in v0.9.0 with the same config

**What you expected to happen**:
Improve the log message to help i

[2021-10-02 07:52] samip5 commented on #2051
/remove-lifecycle rotten

[2021-10-02 08:02] samip5 commented on #2348
The provider doesn't seem to matter, same messages on pdns and on-prem k3s v1.21.4.

[2021-10-02 22:59] darkpixel commented on #484
I'm running into this with DigitalOcean.
Their API docs say:
[code]
I have around 240 domains pointing into a cluster.  Regardless of the ```interval``` setting, every time it runs, it does one large query to get the domain list, then a query for records for each of the 200 domains, followed by additional queries to update IPs.

I'd love to see an option to introduce a delay between API requests s

[2021-10-03 06:28] jangjaelee commented on #2245
did you solve this problem?

[2021-10-03 11:34] ThomasLohmann commented on #2257
Hi @artificial-aidan, never tested it. So I'm not sure if it will work. Do you think it will work?

Regards,
Thomas

[2021-10-03 12:27] kbreit commented on #2148
/remove-lifecycle stale

[2021-10-03 12:32] artificial-aidan commented on #2257
It works for me. You set up external dns to watch load balancer service objects.

[2021-10-03 13:21] ThomasLohmann commented on #2257
@artificial-aidan great!

We are also testing to connect external-dns with kube-vip (load balancer + VIP, inside the cluster) which is much easier to maintain compared to an external load balancer like Envoy. Do you think there is way to achieve it? Please, see the following links:

https://github.com/kube-vip/kube-vip

https://github.com/kube-vip/kube-vip-dns

[2021-10-04 08:01] mycrEEpy commented on #2348
Looks like klog to me. I would assume it might have been the same in previous versions but klog had been silenced before: https://github.com/kubernetes-sigs/external-dns/compare/v0.9.0...v0.10.0#diff-33ef32bf6c23acb95f5902d7097b7a1d5128ca061167ec0716715b0b9eeaa5f6L80

[2021-10-04 08:23] marcincuber commented on #2348
Seeing exactly the same issue on EKS 1.21 with 0.10.0 version of external-dns.

[2021-10-04 10:46] stevehipwell commented on #2275
/bump

[2021-10-04 14:29] szuecs commented on #1321
/remove-lifecycle stale

[2021-10-04 15:19] Raffo commented on #2275
@stevehipwell let me know if you want me to ask around. Maybe having the official maintainership of the process can help get some attention.

[2021-10-04 15:33] stevehipwell commented on #2275
@Raffo any help you could give would be very appreciated, I'm conscious that after I deprecated my _external-dns_ chart it no longer shows up on Artifact Hub. I'm going to add the repository so the chart can be discovered with the intention that the ownership is taken by Kubernetes SIGs.

It looks like there is a [kubernetes-sigs](https://artifacthub.io/packages/search?org=kubernetes-sigs&sort=rel

[2021-10-04 15:37] stevehipwell commented on #2275
There is also a [kubernetes](https://artifacthub.io/packages/search?org=kubernetes&sort=relevance&page=1) organisation.

[2021-10-04 15:40] Raffo commented on #2275
Yeah the ownership of those things is quite opaque to me, I am afraid we will have to ask in the Kubernetes slack 😅

[2021-10-04 16:24] stevehipwell commented on #2275
@Raffo is this something you could bring up? The [repository](https://artifacthub.io/packages/search?repo=external-dns&sort=relevance&page=1) has been added ready for the ownership to be [claimed](https://artifacthub.io/packages/search?repo=external-dns&sort=relevance&page=1), the repo to be [verified](https://artifacthub.io/docs/topics/repositories/#verified-publisher) and the software to be flag

[2021-10-04 21:08] dsielert commented on #1716
/reopen

[2021-10-05 00:30] renehernandez commented on #1810
I am interesting on working on this feature, since it would speed up some of our dynamic environments at work. I'll look into the Cloudflare code and what it takes to implement this.

[2021-10-05 15:57] karezza opened #2350 "documentation rfc2136.md: more clearly defined sections"
**What would you like to be added**:
The tutorial documents two different setups, BIND and Windows, so I dropped down to Windows but not everything is there.

It would be better to have a section up top with a common configuration, then after that have a section for specifics related to BIND, and another section with specifics related to Windows.

**Why is this needed**:
At this point I'm not sure

[2021-10-05 20:08] jangjaelee commented on #1698
does it work to register weighted records in Route 53?
in my case, it is registered a simple record.

[2021-10-06 06:56] dominch commented on #2171
I'm also waiting for that feature ready, it's probably here: #1077 and I believe that it's almost ready :)

[2021-10-06 07:46] #2325 closed

[2021-10-06 08:44] #2284 closed

[2021-10-07 19:07] ruckc opened #2358 "Helm charts are not being released via github actions"
**What happened**:
Helm chart 1.3.2 has been released on github, but isn't available in the https://kubernetes-sigs.github.io/external-dns/ helm repository

**What you expected to happen**:
I expect to be able to update to 1.3.2 when it's released.

**How to reproduce it (as minimally and precisely as possible)**:
`helm upgrade -i --repo https://kubernetes-sigs.github.io/external-dns --version 1.3

[2021-10-07 19:08] ruckc commented on #2358
This is the failure message, https://github.com/kubernetes-sigs/external-dns/runs/3818049990?check_suite_focus=true#step:5:49

[2021-10-09 12:51] Raffo commented on #2358
That's a weird one. Can you take a look @stevehipwell ?

[2021-10-09 12:54] Raffo commented on #2348
I didn't see the error when removing the replace, sorry. We can put it back and have a 0.10.1 released soon.

[2021-10-09 13:21] Raffo commented on #2358
I just unprotected the branch, but there are no changes so the action does nothing. How do you suggest we proceed? Merging your PR will do?

[2021-10-09 13:35] Raffo commented on #2358
Do I need to re-run https://github.com/kubernetes-sigs/external-dns/actions/workflows/release-chart.yaml ?

[2021-10-09 13:37] stevehipwell commented on #2358
No, just merging should publish the charts. I'm on my phone so no Helm binary, but within 30 mins Artifact Hub should be updated.

[2021-10-09 17:56] foal commented on #1718
For gateway the same situation - the current code only checks `LoadBalancer` case: https://github.com/kubernetes-sigs/external-dns/blob/f7e9e5c07ee9b8194c9400490e4d763af0dc58df/source/istio_gateway.go#L248-L254

Please support the case with `ClusterIP` and `externalIPs`:
[code]

[2021-10-10 11:54] jhcolville opened #2362 "Error creating route 53 failover record set: A non-alias primary ResourceRecordSet must have an associated health check. No changes made."
**What happened**:

Attempt to create route53 failover record set with primary as an ingress host and secondary as an externalname service. No records created, the following is logged by external dns controller:

[code]

**What you expected to happen**:

Failover record set / records should be created, no error should be logged.

**How to reproduce it (as minimally and precisely as possible)**:

S

[2021-10-11 07:41] #1775 closed

[2021-10-11 07:55] Raffo commented on #2358
Closing this one:

![image](https://user-images.githubusercontent.com/683988/136753085-c543ffdc-0ab4-4cdf-bb01-ca2a2c8221b6.png)

[2021-10-11 07:55] #2358 closed

[2021-10-11 13:22] artem-zinnatullin opened #2363 "Helm values for GoDaddy"
Hi, I'm trying to configure external-dns with GoDaddy.

I'm using Helm to manage ExternalDNS installation like so:

[code]

The values file is following:

[code]

I'm seeing externaldns pod crashlooping with following log:

[code]

---

I've read the docs on GoDaddy setup https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/godaddy.md and most other docs, I've also tried read

[2021-10-11 15:04] Raffo commented on #2348
I tried the new build and it still happens even with the klog fix. I'm gonna have to take a deeper look at this, reopening for now.

[2021-10-11 20:04] skpy commented on #2317
Seeing the same.  Using `upsert-only` policy results in changes about every 2 minutes:

[code]

Also seeing the client-side interruptions when this happens.

[2021-10-11 20:24] skpy commented on #2317
This is happening with both 0.7.6, as I commented above, and with 0.10.0:

[code]

[2021-10-12 10:07] atmosx opened #2365 "Flag `--ignore-ingress-rules-spec` not working"
**What happened**:

We wanted `external-dns` to ignore spec ingress definitions, do achieve that we used the following flags: `--source="service, --source="ingress", "--ignore-ingress-rules-spec"`. The `--ignore-ingress-rules-spec` did not work as expected.

**What you expected to happen**:

External-dns should have ignored spec ingress definitions.

**How to reproduce it (as minimally and precise

[2021-10-12 14:04] boniek83 commented on #2313
The same happens when changing ingress class on a service (new ingress class has different lbip than the last). I was changing ingress class by deleting ingress for my service and creating new one with new ingress class. I expected ip to change. Provider: powerdns with txt records and traefik to traefik2 migration. On premise kubernetes 1.19, external dns from helm chart (5.4.10)

[2021-10-12 16:23] iMartyn opened #2367 "DNSimple integration broken and abandoned?"
It appears DNSimple integration has no maintainer and it should be removed from the project as it is not working.  People actually make decisions on providers with external-dns support as one of the factors.  Please save people effort, money and pain by not listing providers that are broken and fixes ignored for.  Alternatively, accepting the fixes would be nice.

**What happened**:
Following the

[2021-10-12 17:42] skpy commented on #2317
Disregard my two comments. I completely forgot that we had two different clusters running external-dns for the same zone. For at least my situation, it was totally user error.

[2021-10-12 18:17] stuartpb opened #2368 "k8s-ci-robot can't push to gh-pages"
See https://github.com/kubernetes-sigs/external-dns/runs/3812212111?check_suite_focus=true, which is blocking rollout of #2352 (and #2353 and #2343 and other Helm chart PRs).

I'm not sure what's happening here: it looks like it's rejecting a push from the CI bot as it didn't accept the Linux Foundation CLA, but if that's the problem, I'd expect it to also reject pushes to `master`. Does `gh-pages

[2021-10-12 19:26] #2368 closed, assigned to nobody

[2021-10-12 23:27] ahilmathew opened #2369 "Is it possible to ask external-dns to create all DNS entries pointing to one CNAME or IP address."
**Why is this needed**:
We are using an Application Gateway infront of our internal loadbalancer(controlled by ingress-nginx) and we would like external-dns to create all DNS entries in our DNS Zone pointing to the Application Gateway. So external traffic would flow to the application gateway and then forward the traffic to the internal loadbalancer.
Please let me know if this is possible.
We are

[2021-10-13 03:19] #2369 closed, assigned to nobody

[2021-10-13 08:19] arjunrn opened #2370 "Support for label filtering for more sources"
**What would you like to be added**: Support `--label-filter` for more sources

**Why is this needed**: In a multi-tenant setup running external-dns for different tenants based on annotations is not performant because all resources are returned to the controller and filtering is performed on the client-side. However with label selectors only resources which match the passed label selector will be

[2021-10-14 09:46] olfway commented on #1829
/remove-lifecycle stale

[2021-10-15 07:56] james-callahan commented on #1904
/lifecycle rotten

[2021-10-16 15:39] #1770 closed

[2021-10-16 16:24] miheer commented on #1605
/remove-lifecycle stale

[2021-10-16 16:25] miheer commented on #1605
/reopen

[2021-10-16 16:32] miheer commented on #1605
Hi! Can we please reopen and review this ? We are supporting openshift routes in https://github.com/openshift/external-dns-operator/pull/38  but this issue is a blocker as stated in https://github.com/kubernetes-sigs/external-dns/issues/1605#issuecomment-637245008

[2021-10-17 11:32] aslafy-z commented on #2181
/remove-lifecycle stale

[2021-10-17 12:16] miheer commented on #1605
@ahmedwaleedmalik  I just sent a PR for your commit  [WIP: While creating DNS records for OpenShift Routes External DNS will map LB target to route hostname as a A RECORD. #2380](https://github.com/kubernetes-sigs/external-dns/pull/2380)

[2021-10-17 17:41] stobias123 opened #2381 "Google provider - "Invalid resource field value""
**What happened**:
Running w/ the latest helm chart locally i get this error.
[code]

params passed to deploy:
[code]

**What you expected to happen**:

I wish this error was more descriptive that I'm missing the project flag. Took me a while of debugging to figure out that I had to specify the project flag when outside of gke.

**How to reproduce it (as minimally and precisely as possible)**:

Ru

[2021-10-17 18:25] zerodayyy opened #2383 "DNS lookup error while using Azure Managed Identity with v0.10.0"
**What happened**:

While using external-dns with Azure Managed Identity, the following error is seen:

[code]

Which coincides with this commit: https://github.com/kubernetes-sigs/external-dns/commit/ab0cdd078140bfad7baeec72a606ddcfe29715a0 where this fragment in `provider/azure/config.go` L107:

[code]

hard-codes some test value, preventing external-dns from using the actual MSI endpoint, and l

[2021-10-18 07:51] #2348 closed

[2021-10-18 09:12] tim-sendible opened #2386 "The reliance on deprecated annotation causes Kubernetes issues"
**What happened**:

Kubernetes has in-built validation to prevent users from adding the annotation `kubernetes.io/ingress.class` alongside the newer `spec.ingressClassName`.

Although external-dns was recently updated for K8s 1.22 support, it still relies on this annotation.  As a result, it is not possible to create a new ingress in one go. One must apply the ingress yaml and then apply a patch t

[2021-10-18 12:01] Raffo commented on #2348
I can confirm #2379 fixes this for good, end to end tested. We'll make a patch release this week.

[2021-10-18 18:44] seanmalloy commented on #2024
/remove-lifecycle stale

[2021-10-18 19:55] weberc2 commented on #961
I just fixed this by bouncing coredns 😒

[code]

[2021-10-19 02:11] gitforanand opened #2388 "Unable to deploy AWS CloudMap based deployment"
Deployed external-dns for AWS CloudMap-RBAC Setup on an Azure AKS.

Expected to spin up a POD on the cluster but no POD comes up. Except the deployment and nil pods. Just shows configured but no pods.

Deployed the Yaml

apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns
  namespace: kube-system
spec:
  replicas: 2
  strategy:
    type: Recreate
  selector:
    matchLabels:

[2021-10-19 11:44] tomekit opened #2390 "NoCredentialProviders: no valid providers in chain; Kops; AWS; v1.22.2 Kubernetes; v0.10.0 external-dns;"
I've been using external-dns for a while, however after upgrading Kubernetes to latest `1.22`, I've also updated `external-dns` from `v0.5.17` to `v0.10.0`, this is where my problems started.

I am using `kops` on AWS and use RBAC and IAM (sts:AssumeRole).

I am getting this error:
[code]
and not sure why.

I've got such IAM role setup
[code]

with trust relationship:
[code]

when I use: `wget -qO

[2021-10-19 14:15] tomekit commented on #2390
This issue isn't related to `external-dns` itself, but the way the IAM's are delagated to containers. So far I was using `kube2iam`, but it seems it may not be compatible with Kubernetes `1.22`.

So far got this from: https://kops.sigs.k8s.io/iam_roles/
`As of kOps 1.22, new clusters running Kubernetes 1.22 on AWS will restrict Pod access to the instance metadata service. This means that Pods will

[2021-10-19 15:28] #2390 closed, assigned to nobody

[2021-10-19 16:31] seanmalloy commented on #2187
/remove-lifecycle stale

[2021-10-20 06:35] ahmedwaleedmalik commented on #1605
/reopen

[2021-10-20 07:59] #2370 closed

[2021-10-20 10:30] kaganmersin opened #2392 "Externaldns pod executes dummy post request by itself"
Hi, I'm trying to configure external-dns with Azure Kubernetes Service.

I'm seeing external-dns pod  with the following log:

[code]

And my  external-dns  is not able to enter new DNS record to the respective DNS zone in Azure. Also, strange things is that I can not understand why I see below dummy post request in my logs. I did not enter any dummy URL in anywhere

[code]

[2021-10-21 09:49] Sac-BRONGA opened #2393 "external-DNS Non-compliant for pods and containers should only run using approved user and group Ids"
We have enabled Azure Policy for "Kubernetes cluster pods and containers should only run with approved user and group IDs." but we received all the pods in all the containers are Non-Compliant. even we provide all the required parameters.

Receiving Non-Compliant because of below issues :
1.  attempting to run without a required securityContext/runAsUser
2.  attempting to run without a required se

[2021-10-21 21:49] calexandre commented on #2386
Totally agree with this.
Please note that you can still use the `--annotation-filter` to filter other annotations defined by yourself on your ingress objects.

For example, to workaround this issue I annotated my ingress resources with something like `kubernetes.io/external-dns-class: "nginx-public"` and in my "public" external-dns instance I configured the following with `--annotation-filter=kube

[2021-10-22 10:14] Raffo opened #2396 "executor failed running [/bin/sh -c apk --no-cache add tzdata]: exit code: 1"
This bug is failing multi arch releases:

[code]

https://storage.googleapis.com/kubernetes-jenkins/logs/post-external-dns-push-images/1451457241520541696/artifacts/build.log

This is blocking us from building images for v0.10.1.

[2021-10-22 13:59] eelkonio opened #2397 "indent used where nindent should be used"
**What happened**:

Adding info into the extraVolume parameter in the values.yaml results in helm choking.

**What you expected to happen**:

Yaml output should be fine with correct parameters.

**How to reproduce it (as minimally and precisely as possible)**:

Add this to your values.yaml:
[code]

The output then becomes crippled like this:

[code]

**Anything else we need to know?**:

The cause

[2021-10-25 08:09] stevehipwell opened #2401 "Helm chart v1.4.0 not released as `gh-pages` branch is protected"
**What happened**:
The [release action](https://github.com/kubernetes-sigs/external-dns/runs/3985541811?check_suite_focus=true) for the v1.4.0 chart (https://github.com/kubernetes-sigs/external-dns/pull/2395) failed to update the chart repo due to the `gh-pages` branch being protected.

**What you expected to happen**:
The release action should pass successfully.

**How to reproduce it (as minimal

[2021-10-25 08:55] #2401 closed, assigned to Raffo

[2021-10-25 11:54] dominch opened #2403 "Root domain constantly added with doubled name (OVH only?)"
**What happened**:
I registered domain something.space (cheap domain for tests) via OVH and would like to use that for nginx. I need to set it up to point to my IP (ie 11.22.33.44) with and without www subdomain.
Tried record A and CNAME and they are working correctly for subdomains, and not for main domain.
Subdomains is registered as:
`www.something.space. A  11.22.33.44`
but main domain is:
`so

[2021-10-26 07:46] duncan485 opened #2405 "The http://dummy endpoint breaks the use of aad podidentity"
Since v0.10.0, there is a change in the config for azure which makes externalDNS break in conjunction with aadpodidentity. I believe this is caused by overriding the MSI_ENDPOINT with dummy http://dummy. aadpodidentity intercepts traffic going to that endpoint to get tokens, but I assume that this breaks because of the override.

At least I can say for sure that the override is not present in v0.9

[2021-10-26 07:52] #2405 closed, assigned to nobody

[2021-10-29 19:52] #1855 closed

[2021-10-30 14:00] #2119 closed

[2021-10-30 21:28] xhejtman opened #2406 "rke2 k8s 1.21.6 + cis 1.6 - --events do not work"
I have rke2 k8s version 1.21.6 with CIS 1.6 profile (podsecurity policy). It seems that external-dns does not receive events thus with --events option, nothing happens, no DNS record is created. If I remove --events, polling objects works and DNS records are created.

I tested events receiving via some operator and it works.

I have external-dns 0.10.1.

[2021-11-01 12:27] mosheavni opened #2407 "failed to sync v1.Ingress: context deadline exceeded"
**What happened**:
I tried installing the controller on my cluster but it keeps failing with this error:
[code]

**What you expected to happen**:
For it to work

**How to reproduce it (as minimally and precisely as possible)**:
Those are the flags I used to run:
[code]

**Anything else we need to know?**:
I made sure that there's a service account with clusterrolebinding of `cluster-admin` (to eli

[2021-11-01 18:16] #2111 closed

[2021-11-01 23:20] #2122 closed

[2021-11-02 11:41] fabricesemti80 opened #2409 "CNAME records does not create"
**What happened**:

External DNS creates only TXT records, not CNAME

**What you expected to happen**:

External DNS to create CNAME record

**How to reproduce it (as minimally and precisely as possible)**:

External DNS config (secret and crd-s are in separate files)

[code]

Test ingress:

[code]

Pod logs:

[code]

This resulted in two txt records only:

[code]

**Anything else we need to know?

[2021-11-02 15:01] balonik opened #2410 "Cloudflare: external-dns takes over existing DNS record"
**What happened**:
`external-dns` takes over existing DNS record by creating related TXT ownership record and updates it even if the DNS record already existed and is managed outside of `external-dns`.

**What you expected to happen**:
`external-dns` ignores the existing DNS record.

**How to reproduce it (as minimally and precisely as possible)**:
I can't reproduce it by creating a new record, bu

[2021-11-02 15:27] AndrewDryga commented on #1616
@Saeger it doesn't solve the issue for stackdriver, our format was set to JSON for a while already.

[2021-11-02 18:07] survivant commented on #2154
still not sure what the problem is.

[2021-11-02 18:36] #2409 closed

[2021-11-02 18:39] Nefelim4ag commented on #1416
/reopen
Same with root domain on GoDaddy, but with TXT Postfix

[2021-11-02 19:22] survivant commented on #2154
I have a zone declaration that works, but another one that doesn't work (I swaped two words).  and I updated my external-dns settings and recreated the ingress between tests.

[code]

but I try to duplicate the zone by switching cluster109 and dynamic in the name

[code]

external-dns is able to update the zone name : dynamic.cluster109.local
[code]

but when I reinstall external-dns with zone: "c

[2021-11-02 19:24] survivant commented on #2154
here the content of my zones

[code]

[2021-11-02 19:25] survivant commented on #2154
[code]

[2021-11-02 19:27] survivant commented on #2154
here the setting in external-dns
[code]

and for the other zone, it's the same with that line instead : --rfc2136-zone=cluster109.dynamic.local

[2021-11-02 21:47] Nefelim4ag opened #2411 "txt-postfix does not create registry heritage records for root domain GoDaddy"
**What happened**:
External DNS Create root A records for domain, but not create TXT records and after that ignore updates in ingress

**What you expected to happen**:
External DNS update root A record according Ingress status

**How to reproduce it (as minimally and precisely as possible)**:
Configure root record and configure external-dns txt postfix "-txt"

**Environment**:
- External-DNS versi

[2021-11-02 22:07] mchudinov commented on #2407
I get the same errors with Kubernetes cluster v 1.17.9 and External -DNS v0.10.1 and RFC2136 provider.
All ingresses in my cluster uses beta api:
[code]
Is this an issue?

[2021-11-02 22:19] fluxx-sleblanc commented on #1293
Just want to chime in that this is a significant & ongoing issue. We have about 10 EKS clusters and it makes Route53 nigh unusable, which makes other automation that needs to interact with DNS very unreliable as it's often throttling due to external-dns's polling.

I had initially randomized the interval between each cluster with a range of 2-4 minutes. Since this is still a pressing issue for us,

[2021-11-03 01:08] mnp commented on #1656
We're seeing this intermittently for a google service.  Some of our deployments have the issue and some don't.

[2021-11-03 02:43] ghostsquad commented on #1656
/remove-lifecycle stale

[2021-11-03 10:07] afirth commented on #2135
#2412 - besides the aws specific stuff - should help with cloudflare limits too. See also #1293

[2021-11-03 10:07] afirth commented on #1293
I have tried to wrap up the advice and code contributions in this thread in #2412

[2021-11-03 11:32] #2245 closed

[2021-11-03 11:33] balonik commented on #2410
It happened again with another DNS record.
[code]

[2021-11-03 11:53] haines commented on #2401
@Raffo looks like this failed again for 1.4.1: https://github.com/kubernetes-sigs/external-dns/runs/4091858545

[2021-11-03 11:55] stevehipwell commented on #2401
@haines see https://github.com/kubernetes-sigs/external-dns/pull/2248#issuecomment-958959126.

[2021-11-03 19:31] arvin-a commented on #2198
You most likely have ttl annotation set in your service which infoblox provider does not support
external-dns.alpha.kubernetes.io/ttl

Can you check if its there?

[2021-11-04 12:22] survivant commented on #2154
it's working.  probably a typo that I had somewhere.

[2021-11-04 12:22] #2154 closed

[2021-11-04 15:35] ericrrath commented on #1700
/reopen

[2021-11-04 16:29] laurovenancio commented on #2191
/remove-lifecycle stale

[2021-11-04 18:05] neovatar commented on #2407
We had the same error message (using EKS v1.21.2-eks-0389ca3) and the error was gone after updating the ClusterRole definition to the following:

[code]

[2021-11-05 10:05] renedapra opened #2416 "Record Deletion in Windows DNS Server"
**What happened**:
We installed externalDNS to create DNS Records in Windows DNS Server. The RR are created fine, but afterwards not deleted, when removing the kubernetes service.

**What you expected to happen**:
The RR is deleted.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a config, with these parameters:
helm install external-dns \
--set source=ingress \
--set

[2021-11-05 12:46] Nefelim4ag commented on #2411
oh, i see workaround, looks bad, but acceptable

[2021-11-05 12:46] #2411 closed

[2021-11-06 14:35] halradaideh opened #2418 "DNSEndpoint object does not support proxied flag for CloudFlare"
We would love to have the ability to specify if the DNS record is proxied or not.

It is supported via the ingress annotation, but DNSEndpoint object does not support it.

[2021-11-07 07:41] mosheavni commented on #2407
I'm using ClusterRole `cluster-admin`, which is more permissive than this. Still getting the error.

[2021-11-07 09:24] mosheavni commented on #2407
I can confirm that `v0.9.0` is working!

[2021-11-07 20:16] george-angel commented on #409
/remove-lifecycle stale

[2021-11-08 02:12] trentcain commented on #2209
/remove-lifecycle stale

[2021-11-08 02:55] rafaribe commented on #1667
How did you fixed it?

[2021-11-08 09:59] chandankashyap19 opened #2421 "TXT record already exists"
In route53, A txt record is already exists for domain : 'abc.example.com. When ingress was applied and External DNS was trying to create an entry in route53 gave error. `level=error msg="InvalidChangeBatch: [Tried to create resource record set [name='abc.example.com.', type='TXT'] but it already exists]\n\tstatus code: 400, request id: 474634fd-0cc8-4a08-be3e-45cf2944d6a8"`

My External DNS Arg :

[2021-11-08 12:24] philnate commented on #2407
Looks like this issue has been described in this comment before https://github.com/kubernetes-sigs/external-dns/issues/2168#issuecomment-947841020.
0.10.x requires 1.19+, and .9.x only works with <1.18.

[2021-11-08 16:00] flisak-robert commented on #2186
I am facing the same issue. External-dns logs show the messages that gateway and and service was added but no dns entry shows up (Azure DNS in my case). Is there a workaround? I'm using the bitnami chart to deploy external-dns.

[2021-11-08 18:47] devstein commented on #1718
/reopen

[2021-11-09 16:50] #2124 closed

[2021-11-09 16:53] xhejtman commented on #2406
It seems to be an issue in k8s.

[2021-11-09 16:53] #2406 closed

[2021-11-09 19:52] #2125 closed

[2021-11-09 20:34] jdgri opened #2423 "Akamai provider fails to create endpoints when a zone has > 25 recordsets"
**What happened**:

Akamai provider fails to create endpoints when a zone has > 25 recordsets

![image](https://user-images.githubusercontent.com/236720/140999650-5e53ca3e-2059-4be3-a931-0ecaa8f872a9.png)

**What you expected to happen**:

Normal workflow to create and update endpoint recordsets independent of the number of recordsets that reside in Akamai Edge DNS

**How to reproduce it (as minim

[2021-11-09 22:28] xhejtman opened #2425 "Add default ingress target option"
Hello,

I would be usefull if external-dns can have an option to set default ingress target value. Not override it, just set if it is not set.

I can provide PR for this. Are you open to accept it?

--default-target is not the same, as it overrides anything specified (and if used together with ingress target annotation, it fails as the annotation changes the type to CNAME but default target is an

[2021-11-10 08:39] jhcolville opened #2426 "ALIAS record support for cloudfront distributions on Route53"
Hi,

I am trying to create an ALIAS record for a cloudfront distribution. There are other issues (e.g. #1894 - although not unambiguously resolved) that suggest this has been done before, and I can't see anything in the documentation to suggest it can't be done.

When the external-dns controller processes the update the following error is logged:

[code]

The distribution is configured correctly a

[2021-11-10 13:34] ari-becker opened #2427 "Cloudflare: external-dns attempts to create records in delegated subdomains, resulting in endless HTTP 400"
**What happened**:
[code]

**What you expected to happen**:
For `external-dns` to not to try to create a record that it is wholly predictable cannot be created in Cloudflare due to the presence of an NS record delegating the subdomain

**How to reproduce it (as minimally and precisely as possible)**:
1. Create an NS record for `y.example.com` pointing to some set of nameservers
2. Create a Service

[2021-11-10 15:49] steevi opened #2428 "Azure: Can't fetch Azure DNZ Zones"
**What happened**: Install external-dns in AKS. I have assigned a service principal to AKS which has contributor access to the whole subscription. I have passed the parameters required in the helm chart but i'm getting the following logs
[code]

**What you expected to happen**:
Azure DNS entries are't created

**How to reproduce it (as minimally and precisely as possible)**:
1. Spin an AKS cluster

[2021-11-10 16:03] #2428 closed

[2021-11-10 23:41] H3rman8 commented on #1432
/remove-lifecycle stale

This issue is waiting for this PR to be approved:
#1521

[2021-11-11 13:13] bkk-bcd opened #2430 "support multiple replicas for reliability"
**What would you like to be added**:
Multiple replicas for reliability, similar to how  https://github.com/kubernetes-sigs/aws-load-balancer-controller works.

**Why is this needed**:
Improve reliability.

[2021-11-11 15:00] renedapra commented on #2194
We've also added --policy=sync to the helm chart and upgraded externaldns, but still when deleting a service, the related log file is not showing any delete event for the corresponding DNS record.

[2021-11-11 15:08] rk295 opened #2431 "Cannot specify annotations on the service when using the helm chart"
**What would you like to be added**:

The helm chart does not let a user specify annotations on the Kubernetes service it creates. In some situations this is useful.

**Why is this needed**:

If you are using a simple prometheus deployment without the prometheus operator, then specifying annotations on the service is one way to indicate to prometheus you would like the service scraped, eg:

[code]

[2021-11-11 15:13] #2057 closed

[2021-11-11 20:27] mac2000 commented on #1775
Just got into the same issue, in my case `external-dns.alpha.kubernetes.io/target: foo.contoso.com` annotation on ingress is being ignored and in cloudflare I do see A record created pointing to 127.0.0.1 rather than expected CNAME 🤷‍♂️

[2021-11-12 11:30] #2431 closed

[2021-11-12 12:36] balonik opened #2435 "Cloudflare: external-dns deletes and creates record instead of update after manual change"
**What happened**:
When I manually update DNS record, `external-dns` deletes DNS record and creates it again instead of update. Additionally the `CREATE` and `DELETE` is not done at the same time, what causes unnecessary outages.

**What you expected to happen**:
When I manually update DNS record, external-dns` updates the DNS record.

**How to reproduce it (as minimally and precisely as possible)

[2021-11-12 20:23] kalyanbhonagiri16 opened #2438 "externalDNS pod runs into crashloopback on k8s 1.20.5"
**externalDNS pod runs into crashloopback on k8s 1.20.5**:

**Pod to be in Running state**:

**It was working until yesterday and suddenly started seeing go issues on the pod?**:

We are using infoblox as our service provider
kubectl logs:

kubectl logs -f -n external-dns external-dns-66f574d766-55j98
panic: interface conversion: interface {} is []interface {}, not string

goroutine 1 [running]:
g

[2021-11-12 20:53] seanmalloy commented on #1961
/remove-lifecycle rotten

[2021-11-13 02:29] evindunn commented on #925
I'm getting this error with PowerDNS, a 3-node RKE cluster on KVM, nginx ingress controller, and helm

**What happened**:
[code]

**What you expected to happen**: Multiple A records

**How to reproduce it (as minimally and precisely as possible)**:
Helm values:
[code]

Result in:
[code]

**Anything else we need to know?**:

**Environment**:
- External-DNS version (use `external-dns --version`): St

[2021-11-13 05:19] evindunn commented on #925
/reopen

[2021-11-13 06:27] evindunn commented on #925
It was because I joined my nodes to the cluster using their hostnames and had no load balancer in front of them. This caused the targets for external-dns to be hostnames (k80.localdomain,net, k8s1.localdomain.net), and so external-dns tried to create CNAME records etc per [this section](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/faq.md#are-other-ingress-controllers-supported)

[2021-11-13 10:49] tanvp112 commented on #1191
hi @voroniys, I am getting hit with this issue without a clue what's going on, there is no error in the log, service got created with no issue, but there's simply no DNS record created. Can you shade a light how did you resolve this?

Thanks!

[2021-11-13 13:39] HenkVanMaanen commented on #2048
Same problem here with Hetzner load balancer. Anybody know a solution?

[2021-11-14 00:31] abursavich commented on #2045
/remove-lifecycle stale

[2021-11-14 00:32] #2101 closed

[2021-11-14 07:56] alexanderkjeldaas commented on #961
Same, here, external-dns broke on upgrade to 1.22

[2021-11-14 08:09] alexanderkjeldaas commented on #2386
This also breaks gitlab auto-dev-ops.

I'm a bit surprised to find this issue open.  The issue is almost a month old and external-dns is broken on every GCP cluster running the most recent release.  Shouldn't this be an extremely high priority issue for this software?

I mean, this must affect a significant percentage of all existing k8s clusters.

I assumed that packages under K8S SIGs had a main

[2021-11-14 08:38] #1904 closed

[2021-11-14 16:30] stephan2012 commented on #1929
/remove-lifecycle stale

[2021-11-14 16:31] stephan2012 commented on #1929
The issue does not disappear just because it is not addressed …

[2021-11-15 07:56] itskingori commented on #449
/remove-lifecycle stale

[2021-11-15 12:24] maciejtulaza commented on #1608
In my case I had to remove this part, because if it was non-empty it seemed to skip IRSA mechanism and ignored annotation placed on the K8s service account
` - --aws-assume-role="arn:aws:iam::222233334444:role/externalDNSAccessRoute53CrossAccountTest"`

I deploy external-dns with chart version 5.4.15, app 0.10.1. I am deploying using Helm. Specifically I had to remove Helm param: `aws.assumeRoleAr

[2021-11-15 22:13] georgebuckerfield commented on #2426
Yeah this seems like it would be useful. I have a fix for it working locally - but I'm also not sure if this is something that is intended to work.

[2021-11-16 09:46] #2134 closed

[2021-11-16 10:37] MrSimonEmms commented on #2383
I've had this same issue as well with the Bitnami Helm chart. Reverting to version `5.4.8` (and thence the external-dns `0.9.0`) solved the issue as well.

For clarity (and future people), my config is:

[code]
The `userAssignedIdentityID` comes from `az aks show -n xxx -g xxx --query "identityProfile.kubeletidentity.clientId" -o tsv`

[2021-11-16 12:17] aslafy-z commented on #2181
/remove-lifecycle rotten

[2021-11-16 15:29] matmicro commented on #1935
Hi,
I am using annotation with a subdomain, but i am still always facing :
[code]
I am not able to figure out where the issue is...
Any idea ?
Thanks

[2021-11-17 01:06] mstarostik commented on #2232
/remove-lifecycle stale

Thanks for considering the linked PRs, preferably #2239

[2021-11-17 10:03] gmaiztegi commented on #2423
@jdgri do you think this is the cause for #2192?

[2021-11-17 12:01] jdgri commented on #2423
I do. V0.8 uses the Akamai v2 API that implements paging with the number of items defaulting to 25. When a record exists below the fold (e.g., item 26), the provider encounters a conflict by trying to add instead of update because of the response page limit.

[2021-11-18 16:50] vipulJain05 commented on #2348
I am facing the same issue. Getting these errors every single minute  **Unable to cancel request for *instrumented_http.Transport.**I have v 0.10.1 and still facing the same issue. I installed it using bitnami charts.

[2021-11-18 17:31] bnerd commented on #2048
Try setting the following annotation on your service

[code]

[2021-11-18 21:23] rifelpet commented on #2243
/remove-lifecycle stale

[2021-11-19 00:06] gazal-k commented on #2348
Application version: [v0.10.1](https://github.com/kubernetes-sigs/external-dns/releases/tag/v0.10.1)+ & chart versions [1.4.0](https://github.com/kubernetes-sigs/external-dns/releases/tag/external-dns-helm-chart-1.4.0)+ have the fix

[2021-11-19 07:28] #1605 closed

[2021-11-19 10:04] botzill commented on #1454
Hi.

As I understand currently it does work only with in namespace where was installed? And if we want to have this in multiple names we need to install one for each ?

Can someone, please, guide me on this as not sure for me.

[2021-11-20 08:36] #2103 closed

[2021-11-20 13:58] senk commented on #2198
/remove-lifecycle stale

[2021-11-20 13:58] senk commented on #2198
Same problem here. No `external-dns.alpha.kubernetes.io/ttl` present

[2021-11-20 16:11] Skaronator commented on #1975
/remove-lifecycle stale

[2021-11-21 22:56] mt-inside commented on #2407
This doesn't seem to #2168 for me.

I was the RBAC issue described above. I'm installing using the Helm chart. I had `sources` set to `[istio-gateway,istio-virtualservice`]. This causes https://github.com/kubernetes-sigs/external-dns/blob/master/charts/external-dns/templates/clusterrole.yaml to only add permissions for those two types. Adding `service` to `sources` causes the Chart to also grant a

[2021-11-22 15:40] ismferd commented on #2169
Which is the status of this issue?
I'm having exactly the same behaviour

[2021-11-22 15:41] ismferd commented on #2169
External DNS builds the ingress in both zones private and public.
I have this kind of manifest, which creates entry in both zones:
[code]

We have 2 controllers of external dns, one for the public hosted zone and the other one for the private hosted zone:
[code]
[code]

I would like to create a new entry on route53 depending on the ingress annotation `alb.ingress.kubernetes.io/scheme:`

[2021-11-22 16:06] ismferd commented on #2169
did you find anything @raghulkrishna ?

[2021-11-23 09:58] cojack commented on #1910
@brettcave where you've add this part

?

[2021-11-23 10:19] jgrumboe commented on #1910
@cojack
You need to add it as the commandline option `--annotation-filter`, which would look like this:
`--annotation-filter="external-dns.alpha.kubernetes.io/exclude notin (true)"`

Afterwards, to exclude a service/ingress/... just annotate it with `external-dns.alpha.kubernetes.io/exclude: 'true'`.

Hope that helps.

[2021-11-23 11:01] cojack commented on #1910
@jgrumboe yes it helps a lot, just maybe more briefly explanation for newcomers, this command-line option can be passed as well as the args in the yaml file definition as:

[code]

Regards

[2021-11-23 11:19] reg0bs commented on #1910
...or even using the helm chart included option:
[code]

[2021-11-23 11:59] ismferd commented on #2169
Hi @raghulkrishna ,

I found my error, I had both controllers (public and private) with the filter: `--annotation-filter=kubernetes.io/ingress.class=alb` and each ingress with this annotation too.
Modifying this annotation to `--annotation-filter=kubernetes.io/ingress.class=internal-alb` the problem was resolved.

[2021-11-23 16:45] matthewmedway opened #2444 "verified_records vs verified_a_records metric typo"
Looking for clarification on metric name `external_dns_controller_verified_records` vs `external_dns_controller_verified_a_records`

Before 10.2 is release I was wondering if this was an intended difference in naming.

The controller shows the name as: `verified_a_records`
https://github.com/kubernetes-sigs/external-dns/blob/39d5b39e18badcb52e05262a7452bae1863fd6c2/controller/controller.go#L101

B

[2021-11-23 17:13] ominiet opened #2445 "Failed to sync cache: AzureDNS, AKS namespace scope tutorial doc"
**What happened**: I tried to install external DNS on an AKS managed cluster (RBAC enabled, Namespace scope) from the [example doc](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure.md#manifest-for-clusters-with-rbac-enabled-namespace-access), and received timed out waiting for the condition

**What you expected to happen**: Start up normally

**How to reproduce it (

[2021-11-23 17:30] emily-ganze opened #2446 "Cloudflare Secrets"
**What would you like to be added**:
Would like for the CloudFlare API token or keys to not be in plaintext in the manifest.

**Why is this needed**:
Best practice to move sensitive keys or tokens to secrets.

[2021-11-24 09:29] k0da opened #2447 "Concider goreleaser to fully automate external-dns release"
**What would you like to be added**:
Concider using [goreleaser action](https://github.com/marketplace/actions/goreleaser-action) to plug [goreleaser](https://goreleaser.com/) into a release pipeline

**Why is this needed**:
This adds a transparency, when, where and how artifacts are released

[2021-11-24 19:15] davinkevin commented on #1930
This issue should be reopen, because it is still useful and an open PR is available for it #2321

/reopen

[2021-11-24 19:15] davinkevin commented on #1930
It worth trying 😅

[2021-11-25 16:37] kundan2707 commented on #2142
/remove-lifecycle rotten

[2021-11-26 02:24] reesericci commented on #1930
/reopen

[2021-11-26 02:24] reesericci commented on #1930
There you go @davinkevin, didn't know about that PR. I was going to re-open once the new API was done, but now that PR exists.

[2021-11-26 02:26] reesericci commented on #1930
/remove-lifecycle rotten

[2021-11-26 17:17] alen-z opened #2449 "Clash between Service IP and default-targets"
**What happened**: Can not use `default-targets` together with `Service` of type `LoadBalancer`. `dafault-targets` is always used.

**What you expected to happen**: Create DNS A record referencing IP address from `Service` of type `LoadBalancer` while having the ability to define `default-targets`. If there is available IP from the `Service`, use it instead of `default-targets`. Use `default-targe

[2021-11-27 15:30] #1986 closed

[2021-11-27 22:38] #219 closed

[2021-11-28 22:00] StarpTech opened #2450 "Can't control which IP is used for DNS entry."
My service from type `LoadBalancer` exposes 3 IPs.

- Public IP (load balancer public IP)
- Private Network IP 10.0.1.2 (internal)
- Public IPv6 IP (Node)

external-dns creates DNS entries for the public and internal IP but failed with the IPv6 IP. I only want to create an entry for the Public load balancer IP. I tried `external-dns.alpha.kubernetes.io/access=public` on the ingress and service but

[2021-11-28 22:12] StarpTech commented on #2450
As a workaround for hetzner I could use the following annotation on the service:

[code]

[2021-11-29 07:35] beastob commented on #2383
This suggested downgrade worked for me (external-dns chart v1.2.0). However I also tried to upgrade to chart v1.6.0 (app v0.10.1) first but with no luck at all.

[2021-11-29 10:31] stoupance opened #2451 "[Gandi] Error can't handle multiple values for rrset"
**What happened**:
We are trying to use External-DNS in order to manage our DNS records from our ingresses but after multiple attempts it always end up with the same error. Our zone is hosted at Gandi, so we are using the Gandi provider.
`time="2021-11-03T14:26:42Z" level=error msg="can't handle multiple values for rrset mydomain.com"
`

**What you expected to happen**:
External-DNS being able to

[2021-11-29 13:47] vkruoso commented on #2198
This was happening to me using DigitalOcean provider. Removing the `external-dns.alpha.kubernetes.io/ttl` seems to have an effect on that. Probably the diff check is not considering the TTL field? If the contributors could point to the right direction here on how to fix it we may be able to get a PR going.

[2021-11-29 14:53] ari-becker commented on #1899
/remove-lifecycle stale

[2021-11-29 20:05] IliaGe opened #2452 "How external-dns correlates between Istio gateway to the load balancer?"
Hey,
Following the documentation on https://github.com/kubernetes-sigs/external-dns/blob/master/source/istio_gateway.go
How does the external-dns implements which **value** it should use for the istio gateway "hosts" definition?
I'm guessing it looks for a correlating Service object (type: LoadBalancer), if that's true - How can I correlate it to an ingress object (as I'm not using Service object)

[2021-11-29 21:36] rifelpet commented on #1441
/remove-lifecycle stale

[2021-12-01 18:12] bigfleet commented on #2383
Downgrade restored service for me as well, using managed service identity on Azure.  Verified pod with same labels applied could edit records successfully via `az`.

[2021-12-02 07:22] mosheavni opened #2454 "No changelog?"
Hi, I am looking for a changelog of the helm chart, the releases section has a general description on each release,
can this be found anywhere?
Thanks.

[2021-12-02 08:28] illrill commented on #2244
@bbl would you be up for taking a look at this? :)

[2021-12-02 08:56] Pavan976 opened #2455 "ETCD dns-check Init-container is failing."
Hello Team,

I'm trying to integrate external dns with coredns but etcd pods are not coming up the, init-container for dns-check is failing. could you please ?

error:

Server:    10.247.3.10
Address 1: 10.247.3.10 coredns.kube-system.svc.cluster.local

nslookup: can't resolve 'example-etcd-cluster-2qp827qg7z.example-etcd-cluster.default.svc'
Server:    10.247.3.10
Address 1: 10.247.3.10 coredns.k

[2021-12-02 09:23] Raffo opened #2456 "Azure DNS tests are broken:"
[code]

Assigning to me to fix.

[2021-12-02 11:27] #2456 closed

[2021-12-02 14:58] inforedaster commented on #1454
Hello @botzill

it works for me with Helm chart 5.5.2 (the external-dns deployed in a first name space and when i deploy ingress in other namespaces the external-dns manage it whene the label is the same like the labelfilter config)

i add this parameter into the values file :

[code]

my ingress for a test :

[code]

[2021-12-02 15:27] pkit commented on #2313
Reproduced again, and again, and again.
It seems like `external-dns` just doesn't really handle load balancer address change at all.
I.e. the one and only functionality it's needed for

[2021-12-02 15:32] sagor999 commented on #2438
What infoblox API do you specify? Has anything changed with infoblox setup on your end?
Looking at callstack it appears that it is crashing when processing data from infoblox server.

[2021-12-03 08:47] paulwfield commented on #1122
Hi any plans to merge what @mcayland did as it does work and we have been actively using it for more than a year with Openstack designate.
The branch is available on github at https://github.com/mcayland/external-dns/commits/designate/fix-delete-TXT-records

[2021-12-03 10:38] Domwa commented on #1899
Any updates of it? We had same issue on our k8s:
`Server Version: version.Info{Major:"1", Minor:"19+", GitVersion:"v1.19.13-eks-8df270", GitCommit:"8df2700a72a2598fa3a67c05126fa158fd839620", GitTreeState:"clean", BuildDate:"2021-07-31T01:36:57Z", GoVersion:"go1.15.14", Compiler:"gc", Platform:"linux/amd64"}
`
With `external-dns` deployed in the cluster.

[2021-12-03 15:07] kundan2707 commented on #2195
/remove-lifecycle rotten

[2021-12-03 15:07] kundan2707 commented on #2195
/assign

[2021-12-03 15:08] kundan2707 commented on #2195
@tetsuya28 can you please share what operations were being performed that time and how to configured your setup?

[2021-12-03 17:06] #1923 closed

[2021-12-04 14:52] kundan2707 commented on #2454
I dont any such changelog for helm chart available in repo.
you can only check commit history to check changes

[2021-12-04 16:12] #1700 closed

[2021-12-05 08:18] #2161 closed

[2021-12-06 04:13] kundan2707 commented on #2455
/assign

[2021-12-06 04:14] kundan2707 commented on #2455
@Pavan976
can you share all steps with which you are tryig to integrate external dns with coredns ?

[2021-12-06 04:16] kundan2707 commented on #2454
@Raffo i think it will be good idea a add changelog in repo for helm chart.
Please suggest.

[2021-12-06 04:17] kundan2707 commented on #2454
/assign

[2021-12-06 04:22] kundan2707 commented on #2452
/assign

[2021-12-06 04:23] kundan2707 commented on #2452
@IliaGe have you gone through https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/istio.md
I think you will get your answer here

[2021-12-06 05:08] Pavan976 commented on #2455
Hello @kundan2707,

Note:  We are using cloud provided service (huwaei cloud) for kubernetes and masters are managed by huwaei.
and we have installed coredns addons when we create cluster.

The link which i followed: https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/coredns.md

1. have deployed etcd-op
2. etcd deployment, the init container is failing because of dns check(

[2021-12-06 18:50] jlunaq opened #2463 "Error 403 when having multiple clusters with same owner"
Hi,

Recently I deployed external-dns chart v4.5.0 to multiple clusters on GKE, all sharing the same service account key and DNS owner value. I found that one of the clusters was not authorized with the provided service account key.

[code]

I think this is a bug since I had already tested with other clusters sharing the same value, using the same external-dns version and It worked fine.

Can you

[2021-12-06 21:17] olemarkus commented on #1997
/remove-lifecycle rotten

I think we can consider this one implemented. We are lacking gossip support still, but we are thinking of ways we can implement similar functionality without changes in external-dns.

Maybe one thing that is missing is updating some docs in this area?

[2021-12-07 05:42] ammmze commented on #2418
@halradaideh I was just hung up by this, but then between looking at the code I found it is actually possible. It's just not done via the annotations, its done on the individual endpoint items in the CRD. For example:

[code]

If you care for the technical aspects, basically the code as an class of type `Endpoint` which everything maps to (ingresses, services, etc which are configured for external

[2021-12-07 07:07] zkutasi opened #2464 "RBAC for HTTPProxy in helm chart missing"
**What happened**:
Kubernetes cluster with RBAC enabled and HTTPProxy watching does not work as it seems the documented RBAC rules for the helm chart is missing in the ClusteRole: https://github.com/kubernetes-sigs/external-dns/blob/master/charts/external-dns/templates/clusterrole.yaml

In the logs I see a timeout, usually due to RBAC incorrectly set up:
[code]

**What you expected to happen**:
He

[2021-12-07 09:02] psi-4ward commented on #2240
+1

It's exactly what I was expected how ext-dns works.

[2021-12-07 12:41] #2170 closed

[2021-12-08 12:42] Nefelim4ag opened #2467 "GoDaddy: broken update root record"
**What happened**:
When external-dns try to update A records in DNS, it got error and loss TXT record:
[code]

Also by some way it try to add add <domain>.dev.<domain>.dev record instead of just update '@' A records

**What you expected to happen**:
It just works :D

**How to reproduce it (as minimally and precisely as possible)**:
Ingress with several IP addresses in statuses, which use root doma

[2021-12-08 16:54] unixfox commented on #1263
/remove-lifecycle stale

[2021-12-08 17:25] Kyslik commented on #961
In case you use `Sources:[istio-virtualservice istio-gateway]` and you don't have Istio CRDs on cluster yet, it will error with:

[code]

[2021-12-08 22:25] kalyanbhonagiri16 commented on #2438
The issue was resolved after upgrading the image to latest version v0.10.1

[2021-12-08 22:25] #2438 closed

[2021-12-09 16:36] MartinEmrich commented on #1877
If you need any further information, please let me know.

/remove-lifecycle rotten

[2021-12-10 02:34] Inorysky commented on #2036
To solve this problem, I added the ability to update the original txt-owner by setting -- migrate-txt-owner to overwrite the old txt-owner. Set new txt-owner can cover the old txt-owner directly when using this tag.(--migrate-txt-owner)

https://github.com/kubernetes-sigs/external-dns/pull/2466

Hopefully my code will help you

[2021-12-10 07:17] ghdiska opened #2469 "aws create A record failover without health check fails due to txt record"
I'm trying to define an alias record to a load balancer ( non public exposed ) as primary failover. it works fine if i create manually but
External dns fails because on aws route53 is not possible to create a txt record without an health check

annotations:

    external-dns.alpha.kubernetes.io/alias: "true"
    external-dns.alpha.kubernetes.io/aws-failover: "PRIMARY"
    external-dns.alpha.kubern

[2021-12-10 10:46] suhyun-baek opened #2470 "How do I use the regxDomainFilter option?"
I want to update only the domain below.

a-test.google.com
asdd-test.google.com
sjejejejejeejjddj-test.google.com

In the case of the domain below, it is impossible to update and is not allowed.

a.google.com
asdd.google.com
sjejejejejeejjddj.google.com

In this case, how can I set the option?
I want to use regex.

[2021-12-10 19:19] #1979 closed

[2021-12-12 16:57] schmurfy commented on #2240
glad to see I am not the only one but I have currently no idea how we can be the only two to hope it worked that way...

[2021-12-12 17:00] psi-4ward commented on #2240
I use the crd provider for know

[2021-12-12 19:14] NicklasWallgren opened #2472 "Cloudflare provider - Incorrect log message"
I don't understand the reasoning behind this log message, we had to disable the logging inside the external-dns container due to the extensive logging.

The `endpoint.Targets` can contain multiple targets, which should be fine.

We could probably remove this logging, or refactor the logic around newCloudFlareChange inside ApplyChanges.

@sheerun

Reproduce:
There are multiple ways to reproduce the

[2021-12-12 19:44] #2178 closed

[2021-12-13 13:19] #2315 closed

[2021-12-13 13:19] #2324 closed

[2021-12-13 13:19] #2464 closed

[2021-12-13 13:45] #2180 closed

[2021-12-13 13:53] IliaGe commented on #2452
Hey @kundan2707 , Yes I walked thru this example.
Our issue is that we don't implement the Istio GW as a "Service Type: LoadBalancer" but we create an ALB (additional ingress object).
I think the external-DNS can't understand what is the GW address (so he will be able to create a A record to point here).

Is there any way to configure "manually" with annotations the "DNS name of the GW" :\

[2021-12-13 15:03] bitsofinfo commented on #1053
/remove-lifecycle stale

[2021-12-13 15:04] bitsofinfo commented on #1053
/reopen

[2021-12-13 15:04] bitsofinfo commented on #1053
/remove-lifecycle rotten

[2021-12-13 17:13] IliaGe commented on #2452
I'm trying to apply the annotation of

On the Service object (of the ingress-gw) & I have tried on the VirtualService, but the external-dns doesn't completes the registration. (I need it to create the CNAME between what's configured on a manual annotaion [external-dns.alpha.kubernetes.io/hostname] to the "hosts" definition on the VirtualService.

[2021-12-13 17:27] IliaGe commented on #2452
I have the following setup that I'm trying to resolve:
ALB (Address inertnal-alb.aws.whatever.com)
---
This ALB routes traffic to 2 K8S clusters: K8S-1 & K8S-2 (to the ingress-gw SVC type: ClusterIP)
now, I'm deploying AppA to both clusters (as VirtualService) - with a hosts config of "AppA.whatever.com"

I want the external DNS to create a DNS record of:
AppA.whatever.com -> inertnal-alb.aws.what

[2021-12-14 04:19] kelvinkchu commented on #2186
We ran into this issue and noticed it was because external-dns doesn't actually schedule a run per interval for events but instead schedules [current time + interval](https://github.com/kubernetes-sigs/external-dns/blob/03b2622a1ddf27d59830b7817df3e63b2ec1460c/controller/controller.go#L188).  This means that if there is a continuous stream of events, external-dns controller will never run.  In our

[2021-12-14 04:20] kelvinkchu commented on #2186
/remove-lifecycle rotten

[2021-12-14 21:04] carlosrmendes opened #2474 "cannot delete cname records in route53 with txt registry and txt-suffix"
external-dns args:
[code]

**What happened**:
After deleting the ingress, the related CNAME record is not being deleted. On the debug logs it is not fetching the owner id:
[code]
On route53 the DNS records created are:
[code]

**What you expected to happen**:
That CNAME and TXT records to be deleted.

**Anything else we need to know?**:
Probably this is happening due to TXT suffix, it seems that e

[2021-12-15 09:07] #632 closed

[2021-12-15 09:37] samip5 commented on #2299
/remove-lifecycle stale

[2021-12-15 10:34] stevehipwell commented on #2454
@kundan2707 you should be able to see the changes with each release in [Artifact hub](https://artifacthub.io/packages/helm/external-dns/external-dns) assuming the chart annotations are being added correctly. I agree that a CHANGELOG would be good but only if it's followed correctly; this does add more work but I'm looking at automating this for some other repos.

[2021-12-15 10:48] stevehipwell commented on #2275
[ExternalDNS on Artifact Hub](https://artifacthub.io/packages/helm/external-dns/external-dns).

[2021-12-15 10:48] #2275 closed

[2021-12-15 10:49] stevehipwell opened #2475 "Update helm chart to use ExternalDNS v0.10.2"
The Helm chart should be updated to use the latest version of _ExternalDNS_ ([v0.10.2](https://github.com/kubernetes-sigs/external-dns/releases/tag/v0.10.2)).

[2021-12-15 10:50] stevehipwell commented on #2475
/assign

[2021-12-15 13:26] vjdhama opened #2478 "Add support for emissary-ingress's Host v3alpha1 CRDs"
**What would you like to be added**:

To add support for emissary-ingress Host CRDs.

**Why is this needed**:

So that migration from Amabassdor 1.x to Emissary Ingress 2.x happens smoothly. Also, 1.x version is going on maintenance mode and team recommends using emissary ingress 2.x already.

[2021-12-15 13:26] #2475 closed

[2021-12-16 01:40] HimanshuZinzuwadia opened #2480 "UseOTE, api key and secret are passed in arguments"
According to the GoDaddy tutorial, it appears that the api key and secret are passed in as arguments. Arguments look like they can be passed into the helm chart with `extraArgs`.

Putting those pieces together, something like this may work:
[code]

_Originally posted by @KylePolansky in https://github.com/kubernetes-sigs/external-dns/issues/2363#issuecomment-940356741_

[2021-12-16 19:13] jceb commented on #2044
/remove-lifecycle rotten

[2021-12-17 07:20] froblesmartin commented on #2310
/remove-lifecycle stale

[2021-12-17 12:12] sossickd commented on #2383
Can this issue be closed looks like the faulty test has been removed in version 1.7.0?

https://github.com/kubernetes-sigs/external-dns/compare/external-dns-helm-chart-1.6.0...external-dns-helm-chart-1.7.0

[2021-12-17 13:48] NicklasWallgren commented on #2472
Fixed https://github.com/kubernetes-sigs/external-dns/pull/2471

[2021-12-17 13:48] #2472 closed

[2021-12-17 14:37] sossickd commented on #2392
Can this issue be closed looks like the faulty test has been removed in chart version 1.7.0 (image v0.10.2)? Tested chart version 1.7.0 and no longer receiving the error.

external-dns-helm-chart-1.6.0...external-dns-helm-chart-1.7.0

[2021-12-17 16:07] beastob commented on #2383
Thanks for the info, I believe that MSI_ENDPOINT mis-configuration was the problem. I'll come back with the result after my testing as well.

[2021-12-19 16:05] haraldkoch opened #2486 "services with shared IPs constantly updating"
**What happened**:

I have multiple services with the same hostname and IP address. external-dns tries to update them on every pass. I'm guessing from the logs that external-dns believes there should be two A records for the hostname, causing a mis-match between internal state and the actual DNS. This could also be related to TXT record processing; the services have different names, but only one T

[2021-12-21 08:44] skupjoe commented on #1959
/remove-lifecycle stale

[2021-12-21 11:19] MrSimonEmms commented on #2383
@sossickd I've got this working with the latest Helm version (v6.0.2) using the exact same config as was used with v5.4.8 [as referenced above](https://github.com/kubernetes-sigs/external-dns/issues/2383#issuecomment-970139641)

As far as I'm concerned, this issue has been fixed and can be closed

[2021-12-21 13:28] acnodal-tc commented on #2308
/remove-lifecycle stale

[2021-12-21 15:13] 1stewart opened #2489 "Azure Managed Identity - Failed to refresh the Token for request"
**What happened**:

Receiving below error when running with a managed identity

[code]

**What you expected to happen**

Retrieve DNS records

**How to reproduce it (as minimally and precisely as possible)**:

Get managed identity used by kubeletidentity (managed identity given contributor to whole subscription containing AKS/VMSS & DNS zone for testing)

[code]

Set up secret content as below:

[

[2021-12-22 03:42] beastob commented on #2392
tested with the same result as @sossickd, problem is now fixed in Chart version 1.7.0 (external-dns v0.10.2). by issue #2384

This Issue can be closed.

[2021-12-22 03:43] beastob commented on #2383
tested with the same result as @sossickd, problem is now fixed in Chart version 1.7.0 (external-dns v0.10.2). by issue #2384

This Issue can be closed.

[2021-12-22 09:15] vjdhama opened #2490 "The external-dns pod crashes when no CRD objects are present for a particular source"
**What happened**:
The external-dns pod crashes when no CRDs are present for a particular source.

```failed to sync cache: timed out waiting for the condition```

**What you expected to happen**:
The pod should not go into `CrashBackLoopOff` if the particular type of CRD objects are not present in the cluster.

**How to reproduce it (as minimally and precisely as possible)**:

Add `ambassador_hos

[2021-12-24 12:46] 1stewart commented on #2489
Nevermind, got it working. I was missing the basic aad-pod-identity stuff (binding label, identity, identitybinding) since I assumed the config in azure.json was sufficient. I could see the same error on the nmi pod, so after reviewing: https://github.com/kubernetes-sigs/external-dns/issues/1456, and the required steps for an MSI in https://azure.github.io/aad-pod-identity/docs/demo/standard_walkt

[2021-12-24 12:46] #2489 closed

[2021-12-26 01:08] Korusuke commented on #438
@singhalok00188 did you find any solution to this?

[2021-12-27 18:21] #2100 closed

[2021-12-28 02:54] haslersn opened #2492 "Set seccompProfile RuntimeDefault to be compatible with Restricted PodSecurityPolicy"
The recommended deployment manifests (e.g. `kustomize/external-dns-deployment.yaml`) should add

[code]

to the PodSpec in order to be compatible with the Restricted policy of [Pod Securiy Standards](https://kubernetes.io/docs/concepts/security/pod-security-standards/).

[2021-12-28 19:29] mbyio opened #2494 "Allow specifying an AWS Route53 Hosted Zone by ID"
**What would you like to be added**:

Add a new argument/annotation/other option so we can specify that a record should only be added to a specific hosted zone. Or, we might want to allow specifying a list of hosted zones to consider instead.

**Why is this needed**:

AWS allows making multiple hosted zones for the same name, so the existing filter can't select the right hosted zone. We want to ha

[2021-12-30 05:03] singhalok00188 commented on #438
@Korusuke Yes, got the solution for it. It will create different record for A and AAAA in AWS route53 rather than adding dualstack in A record.

[2021-12-30 09:46] stoupance commented on #2451
Hey, anyone to help on this please :) ? Thanks!

[2021-12-30 14:06] ayesjm commented on #1979
Was just wondering if there were any updates to this. I am getting the same error after following the walk through. Here is the yaml i ran to deploy this:

apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-dns
  # If you're using Amazon EKS with IAM Roles for Service Accounts, specify the following annotation.
  # Otherwise, you may safely omit it.
  annotations:
    # Substitute your

[2021-12-30 19:18] szuecs commented on #1517
/remove-lifecycle stale

[2021-12-30 21:39] liskl commented on #2426
seeing this issue as well when trying to target a cloudfront distribution via an alias, would love to see your locally working solution @georgebuckerfield

[2021-12-30 21:50] dafzor opened #2495 "external-dns attempts to add tls wildcard hosts as dns records"
**What happened**:

To simplify certificate provisioning I have a single wildcard domain in my ingress tls block
[code]
External dns picks this entry and tries to create an A record which for rfc2136 provider (the one i'm using) is invalid.

After putting "*.domain.com" to excluded domains external-dns works as expected.

**What you expected to happen**:

external-dns would ignore tls host block a

[2021-12-31 14:06] adyanth opened #2497 "Support hooks at each stage of the lifecycle"
**What would you like to be added**: I would like to see customizable webhooks that are called after addition/deletion of DNS records from the server.

**Why is this needed**: I have a requirement to configure a third party DNS backend to update the changes made to the DNS server. There are many other such use cases, including updating Cloudflare tunnel to proxy those ingresses to the internet.

I

[2021-12-31 14:10] adyanth commented on #2416
Have you enabled Zone transfer from any server in Windows? Works fine for me.

![](https://user-images.githubusercontent.com/33192449/147827498-12a1f5b4-e1f5-4ccf-bddc-6f71b92bcd8e.png)

[2021-12-31 14:45] georgebuckerfield commented on #2426
@liskl  - here's the change I made: https://github.com/kubernetes-sigs/external-dns/compare/master...georgebuckerfield:cloudfront-alias-records

Building and running that locally, it seemed to work correctly. The value for the canonical hosted zone was taken from the AWS docs [here](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-route53-aliastarget.html).

[2022-01-01 15:01] #1454 closed

[2022-01-02 01:07] peedrr opened #2499 "On Linode, external-dns is creating CNAME alias and no TXT/A Records when target is Load Balancer"
**What happened**:

- Deployed external-dns on Linode Kubernetes Engine using [bitnami's helm chart](https://artifacthub.io/packages/helm/bitnami/external-dns) and referencing the instructions from Linode's recent [Helm/Linode Kubernetes Engine tutorials](https://youtu.be/wLHegOz_aR4?t=661).
- Annotated a service with a LoadBalancer
[code]

- external-dns created a CNAME Alias, failed to create a

[2022-01-02 09:07] george-angel commented on #484
/remove-lifecycle stale

[2022-01-03 00:06] liskl commented on #2426
@georgebuckerfield I turned your change into a PR so hopefully we can get it into the standard build if everyone is ok with it.

[2022-01-03 11:18] #2106 closed

[2022-01-03 11:29] FloMaetschke commented on #2450
THX! @StarpTech

[2022-01-03 12:48] peedrr commented on #2499
Having chatted with @jpetazzo (creator of Linode's tutorial mentioned above), it does look like the reason might be because of external-dns's logic to create a CNAME if the target looks like an ELB. Setting the --txt-prefix flag, as per [#262](https://github.com/kubernetes-sigs/external-dns/issues/262), gets around the issue of the TXT not being created.

I believe that the logic of _detecting an

[2022-01-03 21:24] skupjoe commented on #1982
/remove-lifecycle rotten

[2022-01-04 17:32] #2202 closed

[2022-01-04 17:54] danopia commented on #2202
🤷

[2022-01-05 08:46] #2316 closed

[2022-01-05 09:24] #2232 closed

[2022-01-05 12:26] vjdhama commented on #2478
This is sorted in `emissary-ingress 2.1.0` through api-ext server.

[2022-01-05 12:26] #2478 closed

[2022-01-05 13:21] robselway commented on #2474
It looks like there's an issue in the txt registry when matching TXT records with the corresponding A record. It seems to be around the handling of `.`s in the suffix.

If the suffix is provided without a `.`, for example `--txt-suffix=-dns`, then things work as expected.

I'll look at raising a PR to fix.

[2022-01-05 13:56] artyom-p opened #2504 "DNSEndpoint CR: AWS Route53 not able to create CNAME record"
**What happened**:

We have the public-hosted zone in Route53 - `demo.domain.com`. The hosted zone contains the following records in addition to NS and SOA records:
[code]

Records above are created automatically by external-dns by monitoring Istio's Gateway/VirtualService objects.
I'm trying to create another CNAME record using DNSEndpoint CRD.

[code]

But that doesnt work. Here's logs:

[code]

[2022-01-06 13:54] dudicoco commented on #1419
@seanmalloy any updates on this issue?

We are still seeing this with the latest version of external-dns, it only happens with weighted records.

[2022-01-06 20:04] laurivosandi commented on #2446
This should really be implemented globally, same goes for RFC2136

[2022-01-08 08:24] #2214 closed

[2022-01-08 12:18] Tristan971 commented on #1453
/remove-lifecycle stale

[2022-01-08 12:20] Tristan971 commented on #1453
jfyi it'd be really neat indeed; in our environment we have a non-public LB and the ingress controller of the cluster is merely NodePort based yet I'd like to have:
- {{ cluster-internal-fqdn }} pointing to the cluster worker LB IP(s)
- {{ some-ingress/service }} CNAME {{ cluster-internal-fqdn }} for my regular ingresses, and while I could set those to use the LB's IPs, that's quite noisy compared

[2022-01-09 11:32] #1780 closed

[2022-01-09 23:30] voro015 opened #2505 "AWSSD: Utilize DiscoverInstances instead of ListInstances"
**What would you like to be added**:

AWS CloudMap aka AWS ServiceDiscovery provider should use `DiscoverInstances` API call when possible instead of `ListInstances`

**Why is this needed**:

- `DiscoverInstances` API got quota of 1000 tps with burst up to 2000 tps limit, while `ListInstances` is limited on 50 tps. [Ref](https://docs.aws.amazon.com/cloud-map/latest/dg/throttling.html#throttling-ra

[2022-01-10 00:08] voro015 opened #2507 "AWSSD: Remove GetServiceDetail"
**What would you like to be added**:
AWSSD provider should stop using AWS `GetService` API call to get info about Services.

**Why is this needed**:
`GetService` [API](https://docs.aws.amazon.com/cloud-map/latest/api/API_GetService.html) usage is excessive and can be omitted as Service data is already returned by `ListServices` [API](https://docs.aws.amazon.com/cloud-map/latest/api/API_ListService

[2022-01-10 00:31] voro015 opened #2509 "AWSSD: Cleanup empty Service"
**What would you like to be added**:
AWSSD provider aka AWS CloudMap should remove CloudMap Services when its last Instance de-registered.

**Why is this needed**:
In case when external-dns is used with fqdn-template to generate CloudMap Services it will create new CM Services each time, but in case when there are no Endpoints left for particular CM Service it will be left empty in CM Namespace.
I

[2022-01-10 09:37] #2193 closed

[2022-01-11 10:18] dudicoco commented on #1053
This functionality was added in https://github.com/kubernetes-sigs/external-dns/pull/1696

[2022-01-11 19:53] szuecs commented on #731
/remove-lifecycle rotten

[2022-01-12 09:04] #2507 closed

[2022-01-12 09:59] olfway commented on #1829
/remove-lifecycle stale

[2022-01-12 10:37] samcday commented on #1281
/reopen

[2022-01-12 10:37] samcday commented on #1281
/remove-lifecycle rotten

[2022-01-13 10:15] denniseffing commented on #2490
I just stumbled upon this exact issue when using ExternalDNS for resolving hostnames in a minikube environment. See https://github.com/kubernetes/minikube/pull/13333

[2022-01-14 18:23] #1609 closed

[2022-01-15 12:29] #2230 closed

[2022-01-15 22:39] morremeyer commented on #2044
/remove-lifecycle rotten

This issue won't be resolved magically by having a bot close it.

[2022-01-15 22:41] morremeyer commented on #2051
/remove-lifecycle stale

[2022-01-17 08:57] alebedev87 commented on #2381
@stobias123 : I believe that this PR added in `0.10.1` can be of help here.

[2022-01-17 15:54] rjhenry commented on #2189
/remove-lifecycle rotten

[2022-01-18 03:58] mars64 commented on #2499
I'm hitting a similar issue after upgrading my LKE cluster from 1.20 to 1.22. I'm using traefik `2.5.6` and external-dns `0.10.2`. When I enable debug logs I see:

[code]

One interesting note, the empty `record=`:

[code]

I also noticed the new domain for nodebalancers and found https://www.linode.com/blog/linode/notice-changes-to-members-linode-com-and-nodebalancer-linode-com/

My cluster had b

[2022-01-18 06:00] ConnorJC3 commented on #1281
/reopen

[2022-01-19 09:03] adyanth opened #2526 "FQDN Template with RFC2136 Provider"
I have the following args for the default RFC2136 config
[code]

I have an Ingress
[code]

**What happened**:
[code]

**What you expected to happen**: I expected to see Adding RR: nginx.rpz. I have a zone called rpz in the DNS server 10.10.10.4

**How to reproduce it (as minimally and precisely as possible)**: The above two configs should be good enough

**Anything else we need to know?**: The goa