[2022-01-19 10:42] Timoses commented on #1841
/remove-lifecycle stale

[2022-01-19 10:50] atorrescogollo commented on #2346
/remove-lifecycle stale

[2022-01-19 20:25] buerobuettner commented on #2499
same behaviour for me than @peedrr described it..
is there a fix planned?

[2022-01-19 21:15] samip5 commented on #2300
/remove-lifecycle stale

[2022-01-20 01:05] 2rs2ts commented on #2030
/remove-lifecycle stale

[2022-01-20 05:14] greg-mcnamara commented on #2490
I have the same problem on AWS EKS cluster

[2022-01-20 09:59] victorgetz opened #2529 "Make DNSEndpoint CRD targets more dynamic"
I missing currently one feature.

A DNSEndpoint CRD looks like this:

[code]

It is useful for microservices where you can define you DNS Record inside the helm chart of the service itself.
We have a single Loadbalancer with traefik and afterwards we use the traefik IngressRoute CRD to route the traffic to the services.

It would be super awesome if we somehow can have a lookup function inside the

[2022-01-20 21:40] BogdanSorlea commented on #2139
@ericwolf08-wp how did you get this to work? any demo you could share?

[2022-01-20 23:46] ilovemysillybanana commented on #449
/remove-lifecycle stale

[2022-01-21 07:51] ericwolf08-wp commented on #2139
The issue was within the description of my service. The following configuration works as expected according to the instruction of external-dns:
[code]

[2022-01-21 10:53] Leedwing commented on #2499
For me too, same behaviour than @peedrr described it.

[2022-01-21 12:25] alebedev87 commented on #2494
@mbyio: you can use `--zone-id-filter` flag to manage specific hosted zone(s): [link](https://github.com/kubernetes-sigs/external-dns/blob/98393df7420028ae8434ed3e0a46053d78f128e7/pkg/apis/externaldns/types.go#L396).

Which existing filter you were referring to?

[2022-01-21 12:32] alebedev87 commented on #2474
I too can confirm no problems with the deletion of suffixed/prefixed records for the `sync` policy when `-` is used.

[2022-01-21 12:53] alebedev87 commented on #2381
@stobias123: I think that this one can be closed, just like https://github.com/kubernetes-sigs/external-dns/pull/2382. WDYT?

[2022-01-21 14:38] displague commented on #2499
Is there an annotation to force an A record rather than a CNAME record? You can't use a CNAME at the base of a domain and external-dns has no way to know if a record will be the base or not. A user hint seems the only way out.

[2022-01-21 16:58] mars64 commented on #2499
I hope I'm not muddying the waters in case my issues are unrelated, but I'm not seeing that it's a unique issue just yet.

In my case, I'm running traefik ingress, with these `service` annotations:

[code]

Before upgrading my clusters (1.20)/nodebalancer, `external-dns` seemed to work as expected with `k8s.gcr.io/external-dns/external-dns:v0.7.4` (upgraded to `v0.10.2`, didn't work, reverted, sti

[2022-01-21 19:32] mbyio commented on #2494
Ah that is what I was looking for. We were using the zone name filter, didn't see the zone ID filter. I'll close this out, thanks!

[2022-01-21 19:32] #2494 closed

[2022-01-21 19:34] vinny-sabatini commented on #2024
/remove-lifecycle stale

[2022-01-21 19:34] vinny-sabatini commented on #2187
/remove-lifecycle stale

[2022-01-21 22:15] rodrigosouzazup commented on #2271
/remove-lifecycle stale

[2022-01-22 00:51] mrlihanbo commented on #2136
/close

[2022-01-22 00:52] #2136 closed

[2022-01-22 08:42] #1456 closed

[2022-01-22 09:42] #2177 closed

[2022-01-22 12:43] #2169 closed

[2022-01-23 23:51] zhodowanec commented on #1372
/remove-lifecycle rotten

[2022-01-24 10:00] Troyhy opened #2537 "AWS Route53: [Number of records limit of 1000 exceeded.]"
**What happened**:

In a cluster that has ~90 ingresses, a new node was added.
 This triggered change on all ~90 ingresses and AWS limit of 1000 rows in single update was exceeded.

[code]
**What you expected to happen**:

Normal update of all records

**How to reproduce it (as minimally and precisely as possible)**:
formulate a change that will generate over 1000 changes for AWS Route53

**Anythi

[2022-01-24 13:18] liskl commented on #2426
/assign

[2022-01-24 13:27] Troyhy commented on #2537
I updated to version `external-dns:0.10.2-debian-10-r0` and still get the same error

[2022-01-24 15:35] dsmlily opened #2540 "failed to register weighted records in Route 53"
**What happened**:
It does not work to register weighted records in Route 53, it registers a simple record in my case.
I followed this guide:https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md, and I did not use ingress  and just used k8s service in my ExternalDNS deployment yaml file:
[code]

the service.yaml file is:
[code]

**Environment**:
- External-DNS version (

[2022-01-24 15:50] mamiu commented on #2286
Let's keep this open for now (until there's an accepted solution from either traefik or external-dns).

/remove-lifecycle stale

[2022-01-24 16:43] matthewmrichter commented on #1598
/remove-lifecycle stale

[2022-01-24 16:44] matthewmrichter commented on #1598
/remove-lifecycle rotten

[2022-01-24 16:44] theabmitra commented on #2326
Hello,

This would be a really good fix to have for external DNS and OCI in the upstream. Can this merge be expedited ?

[2022-01-26 09:00] #2423 closed

[2022-01-26 09:07] Raffo commented on #2454
As Steve provided an answer here, I'm closing for now.

[2022-01-26 09:07] #2454 closed

[2022-01-26 09:14] #2426 closed

[2022-01-27 12:00] ChristianGottinger opened #2548 "@ Subdomain with --txt-prefix not working"
**What happened**:
Running external-dns with parameter --txt-prefix=__ results in "Ignoring changes to '__example.com' because a suitable Azure DNS zone was not found." A Recordset is created ("Updating A record named '@' to '<valid ip>' for Azure DNS zone 'example.com'.") but not activly maintained afterwards.

**What you expected to happen**:
I would expect an TXT record to be created (__@.examp

[2022-01-27 12:22] kundan2707 commented on #2076
/remove-lifecycle rotten

[2022-01-27 12:22] kundan2707 commented on #2195
@tetsuya28  friendly reminder

[2022-01-27 12:24] kundan2707 commented on #2455
@Pavan976  I am trying to reproduce this issue with steps you mentioned above and will update you very soon.

[2022-01-27 14:02] gigi206 opened #2549 "pdns provider seems not working anymore"
**What happened**:
I have tested a few weeks ago pdns provider with success :)
But now I try to test again and it seems not working :(

**What you expected to happen**:
I install pdns with this helm chart (ArgoCD with helm):
[code]

And external-dns whith this:
[code]

  * external-dns log:

[code]

And powerdns log:
[code]

Then I create a service as explained like that:
[code]

But **example.gig

[2022-01-27 15:36] GMartinez-Sisti commented on #2540
@dsmlily I just tried this approach and it worked. I noticed that the existing record was removed and a new one with the routing policy was created.

If the record already exists, your config won't work because of `--policy=upsert-only` parameter. Try to remove it or change it to `--policy=sync`, if you want to check what will happen first without applying you can test it with `--dry-run`.

Hope i

[2022-01-28 05:24] nagstaku commented on #2549
Hi @gigi206

Please check ingress `kubectl get ing -A` and see if ADDRESS now shows anything other than the IP you expect for DNS.

I noticed this just broke on minikube with new nginx-ingress-controller from being passed this argument:
--publish-status-address=localhost

I was able to temp fix it by editing the controller and removing that line/arg, then scale down and up replicas:

`kubectl edit

[2022-01-28 05:51] nagstaku opened #2555 "Latest minikube ingress-nginx-controller now shows 'localhost' instead of IP"
**What happened**: When deploying to minikube (running with --vm-driver=none) as previously successful, ExternalDNS now attempts to send 'localhost' instead of the IP of my node to the DNS server (PowerDNS).

**What you expected to happen**:
I would like it to send the node IP. Instead, i see it is sending 'localhost' as shown in these logs:
[code]

**How to reproduce it (as minimally and precisel

[2022-01-28 14:12] gigi206 commented on #2549
I try with the ingress-nginx provided by default with rancher rke2 (with
daemonset by default). In this case ingress IP corresponding to local IPs
of the daemonset servers.
And I try with custom ingress-nginx (not the ingress-nginx provided by
rke2) + metallb

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
name: ingress-nginx
namespace: argo-cd
spec:
destination:
namespace: ingress-n

[2022-01-28 20:20] litewhatever commented on #2326
I have create a PR for this some time ago. Unfortunatally haven't been able to get this merged for various reasons.
I am still trying! :)

In the mean time:
https://github.com/kubernetes-sigs/external-dns/pull/2251

[2022-01-28 20:59] seanmalloy commented on #2024
The BlueCat gateway [rest_api workflow](https://github.com/bluecatlabs/gateway-workflows/tree/master/Community/rest_api) does not currently have support for the `deploy` API. The BlueCat gateway [manage_records workflow](https://github.com/bluecatlabs/gateway-workflows/tree/master/Community/manage_records) does provided a `deploy` API.

Right now the  BlueCat provider only uses the `rest_api` work

[2022-01-28 21:08] seanmalloy commented on #2024
Looking at the `manage_records` workflow it only supports a BlueCat selective deployment.
https://github.com/bluecatlabs/gateway-workflows/blob/1468bfeba429df6b299e6bcf923f4159264aa33e/Community/manage_records/manage_records.py#L502-L508

[2022-01-30 08:02] almerico commented on #1228
Got something like this - aws-load-balancer-controller recreates alb on ingress change but external dns doesn't pick up changes even if I update record or remove it external dns update it with old one.

[2022-01-30 11:27] #2264 closed

[2022-01-30 17:28] #2265 closed

[2022-01-31 10:15] acm-073 opened #2560 "Performance issues with Azure DNS if many DNS zones are in one Resource Group"
Hello,

we are running ExternalDNS on Azure AKS. So far, it works great. However, there is an issue with one customer who has an excessive amount of DNS zones in one Azure Resource Group. The setup looks like this:

* api.example.com
* example.com
* example.de
* example.it
* example.nl
* and 30 other country specific DNS zones

are all located in the same resource group. ExternalDNS only manages e

[2022-01-31 12:03] acm-073 commented on #2560
Just figured out that there is an option called `--zone-name-filter` which does exactly what we need. Unfortunately it is not documented, but it's there and it's working.

[2022-01-31 12:04] #2560 closed

[2022-01-31 13:32] bbenlazreg commented on #2326
Same issue here, would be awesome to get this fixed

[2022-01-31 15:45] AndrewDryga commented on #1616
/remove-lifecycle stale

[2022-01-31 18:14] abursavich commented on #2045
My hope was to get this iteration merged before possibly following up with future iterations. I just keep rebasing it to deal with new merge conflicts.

The way it works right now is by looking at each Route in isolation from other Routes. It only pairs Gateways that have admitted the Route (according to the Route's status) and for which there is a matching Listener. I had to implement Listener ma

[2022-01-31 21:08] mmatww commented on #2504
The CNAME and TXT records are conflicting; in your helm chart, you need to set txtPrefix, eg:

[code]

[2022-01-31 21:11] mmatww opened #2561 "Can't force service/ingress to prefer a CNAME over an IP"
There doesn't seem to be any logic for forcing external-dns to prefer a CNAME over an A record, though that's useful at times. From what I can see, the record reconciliation process is hard-coded to prefer the shortest possible entry, which in my case will always be an IP. I'm happy to suggest a patch to add `--ignore-service-ip`/`--ignore-ingress-ip` flags, but before doing so, wanted to know if

[2022-01-31 23:03] renehernandez opened #2562 "Publishing documentation"
**What would you like to be added**:
Versioned docs of external-dns. A solution could look like:
* Published to Github Pages
* mkdocs
* versioned by released tag (with `latest` pointing to the most recent tag)
* deploys automatically on every tag release

**Why is this needed**:

- Better search, specially since it is scoped to particular release

[2022-02-01 00:06] timfallmk commented on #2561
Related to https://github.com/bitnami/charts/issues/8832 which I filed in the wrong repo.

[2022-02-01 00:42] #1421 closed

[2022-02-01 05:03] ghostsquad commented on #1656
/remove-lifecycle stale

[2022-02-01 05:15] MadhavJivrajani commented on #1656
/lifecycle frozen

[2022-02-01 05:44] #2069 closed

[2022-02-01 11:29] afirth commented on #1293
#2010 and #2412 have been merged. The hard cap of 5rps is on AWS side. I don't think there's any more to be done here. Implementing the suggestions at https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md#throttling should suffice, especially if you filter domains/zones per cluster. If you have a crazy high thrash rate, I would suggest to delegate the zone to another DN

[2022-02-01 11:29] #1293 closed

[2022-02-01 12:44] balonik commented on #2410
/remove-lifecycle stale

[2022-02-01 19:29] seanmalloy commented on #2024
Looks like this is the line of Python code required to do a full deploy.
[code]

A pre-req for implementing this feature will be to get the above Python code added into the https://github.com/bluecatlabs/gateway-workflows repo.

[2022-02-01 19:30] seanmalloy commented on #2024
/assign @vinny-sabatini

[2022-02-01 23:57] joseph-skupniewicz-sp commented on #1421
/reopen

[2022-02-01 23:58] joseph-skupniewicz-sp commented on #1421
Still an issue. Let's whitelist this one from the auto-closing robot.

[2022-02-02 00:12] skupjoe commented on #1421
/reopen

[2022-02-02 02:48] colearendt commented on #2069
/reopen

[2022-02-02 03:50] abursavich commented on #2045
I went ahead and fixed the above mentioned issue with wildcards.

[2022-02-02 19:25] kolorful commented on #1959
We set it to 60s and it's still keep upserting, our version is v0.9.0

[2022-02-02 22:57] ThatDeveloper opened #2568 "Multiple Providers"
I read the "STOP -- PLEASE READ!" but I can't join the slack.

Is it possible to use external-dns with multiple providers?
I am using AWS Route53 but also hetzner. I know that there is a domain filter, but what if I don't know the domains in advance?

[2022-02-03 01:59] yelhouti opened #2569 "Hetzner causing rate limit error and not handling it correctly"
**What happened**:
Hetzner not creating records due to rate limit error, and not handle it correctly (ie: slowing down).

**What you expected to happen**:
to detect rate limit and slow down, although the detection should be handled by: https://git.blindage.org/21h/hcloud-dns/src/commit/d31cdce4149f7248e6d08adec2ca5a81ff150ce5/zones.go#L92 which doesn't check the response status code and unmarshale

[2022-02-03 10:01] #2273 closed

[2022-02-03 10:44] sramek5 commented on #2407
Same problem here :-(

[2022-02-03 17:27] stevehipwell opened #2570 "Release new chart version"
We currently have the chart changes from two PRs to be released, https://github.com/kubernetes-sigs/external-dns/pull/2477 & https://github.com/kubernetes-sigs/external-dns/pull/2564. Should we be waiting to release these with an ExternalDNS release or do we want to release them now?

~~IMHO this process is better than allowing PRs to come through with changes to _Chart.yaml_ as the last release h

[2022-02-03 20:53] zetechmoy commented on #2407
Same here :/

[2022-02-03 23:50] kreempuff commented on #2474
Confirming the problem and the current work around:

[2022-02-04 02:03] lambdanis commented on #1975
I mentioned that in the [PR](https://github.com/kubernetes-sigs/external-dns/pull/2054), but maybe here is a better place. There is a [tutorial](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/public-private-route53.md) for setting up both public and private Route53 zones using nginx-ingress-controller - it would be great to update it too to use the new ingressClassName

[2022-02-04 16:13] #2274 closed

[2022-02-04 18:44] sgreene570 commented on #2145
Thanks for fixing this is #2534 @alebedev87 !
/close

[2022-02-04 18:44] #2145 closed

[2022-02-04 23:22] vinny-sabatini commented on #2024
I have started working on this on this branch - https://github.com/KohlsTechnology/external-dns/tree/bluecat-dns-deploy

With the changes made on that branch, the code is stubbed in, it compiles, and the tests pass. It has NOT been tested in a real environment yet.

[2022-02-05 10:14] #2278 closed

[2022-02-05 10:14] #2279 closed

[2022-02-05 13:14] #2156 closed

[2022-02-05 14:14] #1419 closed

[2022-02-05 15:14] #2280 closed

[2022-02-05 16:14] #2255 closed

[2022-02-06 03:56] trentcain commented on #2209
/remove-lifecycle stale

[2022-02-07 16:54] mhartmann-cu opened #2576 "cloudflare-proxied annotation is ignored on Ambassador Host"
Hello everyone,

per default we want the Cloudflare DNS entries to be proxied.
Therefore we defined the `Deployment` accordingly with `--cloudflare-proxied`.

The documentation states the annotation `external-dns.alpha.kubernetes.io/cloudflare-proxied` should overrule the `Deployment` configuration.

Sadly this is not working for Ambassador `Host` resources, the annotation seems to be ignored.
The

[2022-02-07 23:50] abursavich commented on #2045
I presented this at the Gateway OSS meeting today, as suggested by @mark-church, so I wrote up a short [doc](https://docs.google.com/document/d/1o92u-OkoI0xWJwlaA5Rz9WqQ972HPzlPfEXpULKNx5k/edit#heading=h.v4uycgbxt1r0) about the design and implementation.

[2022-02-08 16:04] NobodysNightmare commented on #1877
Can confirm that this issue exists (we just switched an ALB to dualstack) and that the workaround posted by the author of this issue works fine: Removing both the A record and the TXT record will make external DNS recreate all three.

[2022-02-09 07:51] NobodysNightmare commented on #1877
I have a different assumption based on what I read in the code so far: The "getting started" guide explains the design of external DNS briefly. There are a few stages where changes could be lost:

* Sources could forget to list a desired record (unlikely, because after removing existing records the AAAA gets created)
* The plan may not find a difference (my current hypothesis)
* The registry might

[2022-02-09 10:28] NobodysNightmare commented on #1877
This problem will very likely be solved with https://github.com/kubernetes-sigs/external-dns/pull/2461

[2022-02-09 21:32] rhockman commented on #1233
/remove-lifecycle rotten

[2022-02-10 08:13] mariokorte commented on #1979
This was exactly what was missing for me!

[2022-02-10 09:09] victorgetz commented on #2529
Any thoughts guys?

[2022-02-10 16:34] daur88 commented on #2470
--regex-domain-filter=^.*-test\.google\.com$

[2022-02-10 19:10] martinbe1io opened #2584 "Cloudflare A Updates both (private and public ip)"
**What happened**:
configured external-dns with Cloudflare token

configured a service with this annotations
[code]

**What you expected to happen**:
only the public ip of the service should be configured in the dns; it creates two A records (one with the private address and one with the public)

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2022-02-11 06:31] artgur commented on #2317
/remove-lifecycle rotten

[2022-02-11 15:37] Rock981119 commented on #1441
I have the same requirement, is this feature under development?

[2022-02-11 22:27] #2024 closed

[2022-02-11 22:35] seanmalloy opened #2587 "bluecat: add option for selective deployment"
**What would you like to be added**:
I would like the BlueCat provider to support doing a BlueCat selective deployment.

The `no-deploy` and `full-deploy` options were added in https://github.com/kubernetes-sigs/external-dns/pull/2586.

**Why is this needed**:
Only want the external-dns BlueCat provider to deploy records that is it adding or deleting, not all staged records in my DNS environment.

[2022-02-11 22:35] seanmalloy commented on #2587
/cc @vinny-sabatini

[2022-02-12 14:09] #2291 closed

[2022-02-12 22:40] martinbe1io commented on #2584
#2171

[2022-02-13 19:34] adyanth commented on #2425
/remove-lifecycle stale

This would be super helpful for me too pointing it to an existing entry rather than add n different A records for each.

[2022-02-14 08:29] tim-sendible commented on #2386
/remove-lifecycle stale

[2022-02-14 13:53] dav9 opened #2598 "Understanding Throttling in external-dns"
In a system of a high number of Kubernetes clusters in which external-dns runs configured to maintain all records for a single AWS Route53 zone, throttling errors are imminent with improper configuration. AWS Route53 is used as an example provider, and it has limit of 5 requests per account.

Below is a simplified representation of the requests that will be made in case of single zone. Since the r

[2022-02-14 15:42] akharlamov commented on #2300
I have created a PR that allows a temporary resolution of the issue. If `--suppress-ipv6` is passed in the command line, IPv6 addresses are filtered out and do not go through to any providers. That workarounds IPv6 incompatible providers for now.

[2022-02-14 15:47] samip5 commented on #2300
I'm sorry but that's not a solution to the issue.  Disabling IPv6 is what that effectly does which shouldn't be done.

[2022-02-14 16:24] eathtespagheti commented on #2390
Have you solved this? Currently facing this exact same problem with kOps IAM Roles

[2022-02-14 17:02] stephan2012 commented on #1929
Still an issue.

/remove-lifecycle stale

[2022-02-14 18:55] akharlamov commented on #2300
Unfortunately, this is not quite correct. I have a pure IPv4 cluster that uses Hetzner Load Balancer. The LBs always have IPv4 and IPv6 addresses. That seems like quite a good option for IPv6 support for me...

Unfortunately, that means the Ingress service has IPv4 and IPv6 external addresses, while the cluster is in IPv4 mode only. The current public release fails to update AWS Route 53 zones in

[2022-02-14 20:49] lknite commented on #831
Looks like this is what I need as well.  Would be good for this to make the main page which instructs people how to use Infoblox with external-dns.

[2022-02-16 06:42] mariokorte commented on #1228
We have the exact same problem. Omitting the policy=upsert-only has no effect, neither has putting policy=sync in place. DNS-entries are successfully created when they are not present, but if a LB is deleted or a new one (with new IP) is created in place due to changes, the entries never get deleted or updated.

Please advice how this can be achieved.

[2022-02-16 08:57] giulio-giunta opened #2606 "External-dns deployed in Azure k8s cluster not updating dns records in Cloudflare"

[2022-02-16 09:01] giulio-giunta commented on #2606
I tried to configure external-dns in a k8s cluster running in Azure to manage dns records in Cloudflare, so I used the Cloudflare yaml templates.
The external-dns pod starts and runs, but after a while it goes into a crash loop. I configured the API_TOKEN secrets as well.
Exactly the same configuration works in AWS, but doesn't in Azure.

Here are the logs from the external-dns pod:
[code]

[2022-02-16 09:51] duyawen8 opened #2607 "Domain name resolution for service does not work"
**What happened**:
I add external-dns.alpha.kubernetes.io/hostname annotation for  one LB type service。Dns record work for the service。
Then，I add the same annotation for another service，which hostname is same but ttl is different，dns record not work。

**What you expected to happen**:
The second service's IP should be add to the hostname

**How to reproduce it (as minimally and precisely as possib

[2022-02-16 10:11] duyawen8 commented on #2607
I can provide a PR to fix the issue if need

[2022-02-16 12:42] Israel-Shav commented on #1758
Hi there, I also encountered the same problem, did anyone manage to solve it?

[2022-02-16 12:52] dominch commented on #2403
/remove-lifecycle stale

[2022-02-16 12:53] dominch commented on #2403
This is still an issue :(

[2022-02-17 09:25] miran248 commented on #2568
I think you'll need two separate deployments, one for route53 and another for hetzner.
There's an active proposal that would solve this issue #1961

[2022-02-17 11:32] stevehipwell commented on #2570
@Raffo @njuettner are you happy for me to go ahead and start the chart release process?

[2022-02-17 11:33] Raffo commented on #2570
Sure, what do you need from us?

[2022-02-17 11:35] stevehipwell commented on #2570
@Raffo nothing, I didn't want to do it without checking first. I'm happy to manage the chart release cycle moving forwards and just ask for approval on the PRs if that works better?

[2022-02-17 13:31] Raboo commented on #2048
/remove-lifecycle stale

[2022-02-17 16:16] #2192 closed

[2022-02-17 20:46] darkedges commented on #1281
will try and work on this feature as I need it for an issue I am having.
Trying to currently understand how the code works as there is currently code to do this, but for another service.

[2022-02-18 12:34] martinbe1io commented on #2584
to overcome this issue I added this annotations so the load balancer only gets one ip; but this is only a workaround for those struggling like me; who can help for a final solution?

[code]

[2022-02-18 13:27] #2296 closed

[2022-02-18 14:06] SCLogo commented on #854
/remove-lifecycle rotten

[2022-02-18 14:54] mateusz-jablonski94 opened #2610 "[Cloudflare provider] external-dns should stop processing when zone lookup fails"
**What happened**:

We have an application `aaa.bbb.com` that is hosted in two datacenters. Domain `aaa.bbb.com` has **A** record `xxx.xxx.xxx.xxx` (datacenter 1) and this record **A** is added manually. Some paths for this application are redirected by **CloudFlare Page Rules** to IP `yyy.yyy.yyy.yyy` (datacenter 2 - where Kubernetes cluster works with `external-dns`)

Our monitoring notified us

[2022-02-18 15:35] nerddtvg commented on #2548
I have found if you add a period to the end of the prefix (i.e. `k8s-ext-dns.`), it operates fine as a subdomain setup:

[code]

[2022-02-20 06:40] #2231 closed

[2022-02-20 19:40] #1730 closed

[2022-02-20 22:42] #2271 closed

[2022-02-21 10:04] vitalyu opened #2613 "Azure provider: Failed to extract targets for Alias record sets"
**What happened**:
When some of dns zone records configured as [Alias record set](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/dns/dns-alias.md), externaldns azure provider can't properly proceed this records (because it's still A/AAAA/CNAME record, but linked to internal (target) azure resource. So, we catch an error like

[code]

Example how it's looks like in Azure portal:
<im

[2022-02-21 14:31] nerddtvg commented on #2548
I don't think this is fully fixed @ChristianGottinger. While the dot ending is a decent workaround, I think the original bug persists.

[2022-02-21 14:49] #2320 closed

[2022-02-21 17:58] vickydev90 opened #2615 "OCI provider: failed to add record for private zone in oracle cloud"
**What happened**:
When trying to add records in private zone in compartment, externaldns for oci fails to add record and gives warnings
[code]

**What you expected to happen**:
Add  A record in private zone as provided by domain filter

**How to reproduce it (as minimally and precisely as possible)**:
setup latest external-dns for OCI provider and specify compartment id where private zone `xyz.co

[2022-02-21 23:23] eaglesemanation opened #2616 "CoreDNS provider - ETCD authentication"
**What would you like to be added**:
A way to provide username and password for etcd authentication. Probably in a form of 2 environment vairables: `ETCD_USER` and `ETCD_PASS`

**Why is this needed**:
Currently I'm trying to deploy external-dns in combination with coredns and etcd on my bare-metal cluster. I've followed [coredns doc](https://github.com/kubernetes-sigs/external-dns/blob/master/docs

[2022-02-22 11:32] sirockin commented on #2576
I have an identical problem when attempting to override the proxy setting in an ingress:
[code]

[code]

[2022-02-22 11:41] sirockin commented on #2576
@mhartmann-cu are you overriding in the ingress as stated in [the docs](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/cloudflare.md#setting-cloudflare-proxied-on-a-per-ingress-basis)?

I had a similar problem at first when overriding in ingress but then upgraded external-dns-version to v0.10.2 and it worked.

[2022-02-22 11:51] sirockin opened #2618 "CloudFlare docs need image version updating"
**What happened**:

I used the docs to create a deployment to update my CloudFlare records. Everything worked except the  `external-dns.alpha.kubernetes.io/cloudflare-proxied` annotation for ingress, which I tried to use to disable the proxy for one ingress.

I then realised that the image version was out of date in the docs. Once I had updated, the annotation worked as expected

This simply requi

[2022-02-23 14:47] vavdoshka commented on #2416
same issue here, zone transfer is enabled. the policy is `sync`.

[2022-02-23 20:12] #2322 closed

[2022-02-24 00:51] gpsward opened #2623 "external-dns failing on startup with: level=fatal msg="failed to sync cache: timed out waiting for the condition""
I'm trying to make [this example](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure-private-dns.md) work external-dns with an azure private dns.  I continue to get a fatal message on startup: level=fatal msg="failed to sync cache: timed out waiting for the condition"

I have checked other solutions with this condition and the [FAQ ](https://github.com/kubernetes-sigs

[2022-02-24 10:10] skas9999 opened #2624 "assume-Role-Arn can't manage both account in Route53"
Hi I trying to config external-dns 1 pod for manage host zones in 2 AWS account. I already config assume role and allow in both account. Assume that I have account A and B. I want account A can manage recored in A and B.

1. I configured but not add assume-Role-Arn arg. service account is IAM role for account A that have permissions to manage host zone A and assume role to role b which is permissi

[2022-02-24 13:36] michaelsstuff opened #2625 "Cannot create cloudflare ipv6 records"
**What happened**:
Set up a domain in cloudflare. annotation is on an ingress controller (treafik)
It does set the ipv4 just fine. But it does not create an ipv6 record (ingress has both)

Only hint at a problem with v6 comes with debug:

[code]

**What you expected to happen**:
I would expect it to either not try at all or create the ipv6 if is there.

**How to reproduce it (as minimally and prec

[2022-02-24 16:54] adyanth opened #2627 "Domain filter on ingress rule, but FQDN template for name generation"
[code]

## Current setup

I am trying a unique configuration due to my split DNS resolver setup.
Here is the external-dns config:
[code]

The target is a bind9 RPZ zone.

## What is working

After a day inside the source code, I understood enough of the logic to use combine-fqdn-annotation, fqdn-template and domain-filter (which I feel is redundant right now?). Currently the above config generates

[2022-02-25 11:46] matejhasul commented on #2624
Could be solved with https://github.com/kubernetes-sigs/external-dns/issues/1961

[2022-02-26 13:54] #2222 closed

[2022-02-26 15:57] danopia commented on #2625
Unfortunately, the `external-dns` project does not yet support making IPv6 addresses into `AAAA` records. Here's some existing tickets:

* https://github.com/kubernetes-sigs/external-dns/pull/2461 (PR to fix)
* https://github.com/kubernetes-sigs/external-dns/issues/2300
* https://github.com/kubernetes-sigs/external-dns/issues/2051

[2022-02-28 11:32] pevers commented on #2624
I'm in a similar situation. I have a root account in AWS and two sub-accounts. I want those sub-accounts to manage the HostedZone in the root account as well. Cert-manager solves this by doing this:

[code]

And assumes the `external-dns` role when handling certificates for the `mycompany.com` domain and HostedZone.

Maybe something similar could be a first and simple step to allow this before the

[2022-02-28 18:19] aravind-ssn commented on #1502
We are using ver 0.10.2 and see this issue. Even though we use "policy=sync", the stale TXT record is left in the Route53 hosted zone even after the ingress has been deleted in the cluster. As described above, it prevents all updates to DNS because it just gets stuck with this error. The stale TXT record has the right txt-owner, but external-dns still does not process it and either remove it (beca

[2022-03-01 04:39] skas9999 commented on #2624
Hi I can confirm 2 instances(for me is pod) for each accounts is working. One use assume role another one is not. Anyway I still finding how to use 1 instance for all accounts. Probably not possible I think.

[2022-03-01 23:05] nickperkins commented on #1871
It appears this is still a thing

[2022-03-01 23:17] nickperkins opened #2629 "Support Istio when used with an Ingress resource"
**What would you like to be added**:

When using Istio, it is possible to use this with regular Ingress resources, either via annotation or an IngressClass. However Istio doesn't update the Ingress with the LoadBalancer details. Therefore external-dns does not update the DNS of the ingress.

**Why is this needed**:

This is really useful when using helm charts that come preconfigured with an ingre

[2022-03-02 09:19] Raboo commented on #2244
/remove-lifecycle stale

[2022-03-02 10:57] schmurfy commented on #2240
it would be nice to at least have an answer on wether this could be accepted if I do a pull request... I would hate to maintain a fork.

[2022-03-02 14:37] #2148 closed

[2022-03-02 14:52] ionutz89 commented on #1930
The new release will provide REST API for PiHole: [source](https://pi-hole.net/blog/2022/02/12/pi-hole-ftl-v5-14-web-v5-11-and-core-v5-9-released/#page-content)

[code]
[Source](https://github.com/pi-hole/AdminLTE/pull/2091)

[2022-03-02 14:55] reesericci commented on #1930
This is perfect!

[2022-03-02 14:59] reesericci commented on #1930
It's available in Pihole web v5.11 or newer

[2022-03-02 17:11] kundan2707 commented on #2313
/remove-lifecycle stale

[2022-03-03 11:28] all4innov commented on #2435
any updates on this fatal bug with cloudflare?
Still valid with version 0.10.2

[2022-03-03 12:27] all4innov commented on #2410
any updates on this fatal bug with cloudflare?
Still valid with version 0.10.2

[2022-03-03 14:03] yecine06 commented on #2451
same issue here, did you find a solution at the end ?

[2022-03-03 14:07] stoupance commented on #2451
Not really. We keep using Gandi only as registrar but the DNS zone is now hosted in Azure and it's working perfectly fine. I wonder if it's an issue from External-DNS or from Gandi API.

[2022-03-03 15:15] bbenlazreg commented on #2326
/remove-lifecycle rotten

[2022-03-03 15:49] #1321 closed

[2022-03-04 17:01] #2350 closed

[2022-03-05 08:13] #2171 closed

[2022-03-05 22:14] #1548 closed

[2022-03-06 22:25] #2312 closed

[2022-03-07 14:47] torbendury commented on #1281
@darkedges did you manage to make any progress on this? We are currently building a setup with external-dns and just ran into this missing feature, which leads to external-dns creating DNS entries for ClusterIPs.

[2022-03-07 17:50] webfrank commented on #1908
Hi, please re-open the issue as it is blocking. OVH before deleting a zone marks it as expired and external-dns does not ignore the error preventing updates on remaining zones.

[2022-03-07 19:42] theoribeiro commented on #1795
@RichiCoder1 @elkbullwinkle Did you solve this issue? We're running into the exact same problem here, external-dns stops working until we restart it. Might be related to credentials but I don't see any error messages anywhere.

[2022-03-07 19:46] elkbullwinkle commented on #1795
@theoribeiro haven't had issues with it for quite a long time, running on EKS 1.19

[2022-03-07 22:12] george-angel commented on #409
/remove-lifecycle rotten

[2022-03-08 10:24] #2418 closed

[2022-03-08 12:17] mschmidt291 commented on #2615
@vickydev90 Any plans on fixing the PR? We also experience this issue.
Thanks in advance

[2022-03-08 20:05] sbrile commented on #2407
Updating the ClusterRole definition as suggested by @neovatar fixed our issue.  (AKS 1.22.6)

[2022-03-09 07:05] #2624 closed

[2022-03-09 11:43] KyleMartin901 opened #2632 "Ambassador Host Source doesn't use the annotation filter"
**What happened**:

When two External-DNS deployments have the `ambassador-host` source enabled and the annotation filter set if a Ambassador Host resource contains an annotation that matches the annotation filter it has no effect. The first External-DNS deployment to process the Ambassador Host resource is the one that will own the DNS records even if the annotation filter doesn't match.

**What

[2022-03-09 12:06] talha0324 commented on #1548
We are still having this issue. Any fixes or workaround on this?

[2022-03-09 12:54] #2362 closed

[2022-03-09 13:36] devosonder commented on #2407
Updating the ClusterRole definition as suggested by @neovatar fixed our issue. Aws EKS 1.21 kubernetes

[2022-03-09 20:37] RafalKorepta opened #2634 "Dependency hcloud-dns is blocked"
**What happened**:
`go get sigs.k8s.io/external-dns` does not work.

Error:
[code]

**What you expected to happen**:
`go get sigs.k8s.io/external-dns` should work

**How to reproduce it (as minimally and precisely as possible)**:
`go get sigs.k8s.io/external-dns`

**Anything else we need to know?**:
No

[2022-03-10 09:07] #2165 closed

[2022-03-11 11:17] DaveMullin opened #2636 "triggerLoopOnEvent: true / event mode doesnt seem to work for crds"
**What happened**:

External dns pod set up (loop on event set, interval 30m)

      - --metrics-address=:7979
      - --log-level=info
      - --log-format=json
      - --events
      - --domain-filter=blahblah.net
      - --domain-filter=blahblah.dev
      - --policy=sync
      - --provider=azure
      - --registry=txt
      - --interval=30m
      - --txt-owner-id=sandbox-west-4
      - --txt-pr

[2022-03-11 11:21] k0da commented on #2636
@DaveMullin see https://github.com/kubernetes-sigs/external-dns/pull/2220

[2022-03-11 11:23] #2365 closed

[2022-03-11 13:52] Legion2 commented on #2430
/remove-lifecycle rotten

[2022-03-11 15:52] arianvp opened #2637 "Can not create digitalocean ipv6 records"
**What happened**:

I enabled external-dns but it's getting errors from the Digitalocean API

[code]

**What you expected to happen**:

It creates an `AAAA` record

**How to reproduce it (as minimally and precisely as possible)**:

install `external-dns` in an ipv6-only cluster

**Anything else we need to know?**:

**Environment**:
- External-DNS version (use `external-dns --version`): v0.10.2
- D

[2022-03-11 15:56] arianvp commented on #2637
I suppose this is handled by https://github.com/kubernetes-sigs/external-dns/pull/2461 ?

[2022-03-11 18:41] himanshuz2 commented on #2407
Problem with version 0.10.* changing to 0.9 no issues

[2022-03-11 19:12] justinkillen opened #2638 "Ability to create a records outside of Service or Ingress objects"
**What would you like to be added**:
A CRD for DNS entries not tied explicitly to a Service or Ingress object.

**Why is this needed**:
Often, a DNS zone will be created per-cluster e.g. k8s.dev.example.org.  In those cases, everything within that sub-domain is related to kubernetes resources.  It would be nice to manage DNS for that sub-domain in a single place, instead of having DNS for load bal

[2022-03-11 19:51] snuggie12 commented on #2315
looks like this was incorrectly closed? the CRD was never added

[2022-03-11 20:00] justinkillen opened #2639 "Hostname annotation regex qualifier"
**What would you like to be added**:
It would be nice if as a k8s admin I could supply a regex that all hostname annotation must match.  It should have access to variables like `--fqdn-template`, so that I could enforce things such as: `\.{{.Namespace}}\.k8s\.dev\.example\.org$`

**Why is this needed**:
Sometimes, kubernetes cluster operators have or want to impose organizational restrictions.  Th

[2022-03-11 20:17] Sola-ML opened #2640 "Add CRD - DNSEnpoint to the helm chart template"
What would you like to be added:
CRD DNSEnpoint include in the helm chart template
Probably this was wrongly closed
https://github.com/kubernetes-sigs/external-dns/blob/master/docs/contributing/crd-source.md

Why is this needed:
Helps to ensure no separate CRD deployment is needed when using the helm

[2022-03-11 20:22] justinkillen opened #2641 "CombineFqdn should not append if the annotation already contains the suffix"
**What would you like to be added**:
When combineFQDNAnnotation is enabled, check to see if the value ends in the fqdn-template value.  If the suffix matches return the value rather than appending the fqdn-template.

**Why is this needed**:
Today, we can specify `--combine-fqdn-annotation` and `--fqdn-template {{.Namespace}}.k8s.dev.example.org`.

Given a resource hostname annotation of `test`, th

[2022-03-12 07:32] #2367 closed

[2022-03-12 09:32] #2363 closed

[2022-03-13 14:56] MagicJohnJang commented on #2407
Updating the ClusterRole definition as suggested by @neovatar fixed our issue. (GKE 1.20.12)

[2022-03-13 15:04] ArtemTrofimushkin opened #2643 "Feature request: yandex cloud provider support"
**What would you like to be added**:

Support for Yandex cloud [dns zone management](https://cloud.yandex.com/en-ru/services/dns)

**Why is this needed**:

Convenient dns records management for clusters, that running on [Yandex Cloud managed service for Kubernetes platform](https://cloud.yandex.com/en-ru/services/managed-kubernetes)

[2022-03-13 16:42] #1995 closed

[2022-03-13 17:42] #1944 closed

[2022-03-14 16:56] webwurst commented on #2407
I also got an error message which was caused by faulty RBAC:
[code]

It would be nice if the error message could state that the request of the client is answered by something like "access denied", instead of this timeout message after 60 seconds.

[2022-03-14 20:50] #1420 closed

[2022-03-14 21:18] sushantkumar12 commented on #2030
@2rs2ts : I am trying to test a similar setup for my apps in AWS east and west, through our current EKS module(ingress and external DNS) setup we are creating region-specific route 53 records pointing to the east and west alb. When I am trying to set up latency based on routing (for testing now but we want other routing policies working as well) when I am passing the below annotations in the ingre

[2022-03-14 21:28] Israphel commented on #1420
still not fixed

[2022-03-15 00:26] 2rs2ts commented on #2030
@sushantkumar12 I'm confused by your comment. To be clear, this github issue is a feature request–the thing you tried doesn't exist yet. Please upvote the issue, and hopefully it will get prioritized sooner!

[2022-03-15 07:40] ringerc opened #2646 "Please don't strip binaries, or publish debug symbols for stripped binaries"
**What would you like to be added**:

Presently `external-dns` binaries are stripped and there are no external debug symbols in the container images distributed, so debugging them is exceedingly difficult.

[code]

Please stop using `-s` to strip built binaries when no external debuginfo is distributed. An unstripped binary without extra DWARF info is only very marginally bigger, uses no more RAM,

[2022-03-15 13:54] sushantkumar12 commented on #2030
@2rs2ts  Yes, I realized later, I somehow thought looking through multiple posts/issues that it worked for you. From AWS documentation this seems like the feature is available.
https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md#routing-policies

[2022-03-15 18:24] mcwumbly commented on #2198
Haven't yet been able to dig too much deeper, but I'm hearing reports of an issue that match what is reported here using versions 0.8.0 and 0.10.0.  No ttl annotation present here either.

/remove-lifecycle stale

[2022-03-16 00:58] 2rs2ts commented on #2030
I'm still not following you there. The docs you linked are external-dns' docs, and they still do not include my feature request here. Is it possible you are just talking about the `set-identifier`? That feature works well, but for me, it is not enough for a complete solution.

[2022-03-16 01:48] sushantkumar12 commented on #2030
No, I am not talking about `set-identifier`, I am talking about Routing policies the same as you, I have a similar use case as yours, where I want to route top-level DNS records between east and west DNS records based on different Routing policies mentioned in above doc.

[2022-03-16 18:15] #2257 closed

[2022-03-17 09:58] kundan2707 commented on #2452
/remove-lifecycle stale

[2022-03-17 13:54] jkremser opened #2648 "Consider making the endpoint package as a standalone go module"
**What would you like to be added**:
We ([k8gb](https://github.com/k8gb-io/k8gb)) depend programatically on `DNSEndpoint` types/structs. It would be nice, if the `endpoint` package was a standalone golang module with go.mod & go.sum so that one can depend only on this module. Similarly as Kubernetes has this for all the internal types. Currently we have to pull multiple* transitive dependencies on

[2022-03-17 18:03] pcgeek86 opened #2649 "External DNS isn't doing anything on Digital Ocean managed Kubernetes, using Digital Ocean DNS"
**What happened**:

External DNS pod doesn't pick up on the Service Load Balancer annotation.
External DNS pod doesn't even try to create any DNS records, according to the Pod logs.

This is all I'm seeing in the External DNS pod logs:

[code]

Here's the configuration of my Digital Ocean Service Load Balancer.

[code]

**What you expected to happen**:

External DNS picks up on the `external-dns.a

[2022-03-17 18:05] #2649 closed, assigned to nobody

[2022-03-17 18:25] pcgeek86 opened #2651 "Digital Ocean provider isn't reporting any log messages, although it is functioning properly"
**What would you like to be added**:

Log messages to confirm changes to a DNS zone in Digital Ocean:

- DNS record added
- DNS record updated
- DNS record deleted

**Why is this needed**:

This is necessary for developers to debug / troubleshoot what's going on inside External DNS.
I would contribute these logging statements, however: 1) I can't sign CLA on behalf of my company, 2) I don't know h

[2022-03-18 03:26] #2388 closed

[2022-03-18 07:32] froblesmartin commented on #2310
/remove-lifecycle stale

[2022-03-18 08:07] luedigernet opened #2653 "hetzner cloud package source is no longer availabe in US and all NATO countries"
The sources of the hetzner cloud packages are no longer reachable for the US and all NATO countries.
The original Author placed the source @git.blindage.org/21h/hcloud-dns.

I guess this kind of git repository was used for the purpose to break this project at some point.

How shall we deal with that?

[2022-03-18 08:07] sbuzonas opened #2654 "AWS-SD: Provide the ability to tag created resources for ABAC in IAM policies."
**What would you like to be added**:

AWS tagging support on aws-sd resource creation.

**Why is this needed**:

The IAM policy in the aws-sd documentation is incredibly permissive.  CloudMap supports IAM policies based on resource tags.  With a defined tag strategy the policy can be restricted to only allow create/update/delete on tag match, e.g. external-dns created the resource.

[2022-03-18 16:38] TechIsCool commented on #2654
We also would like to have the tags managed as well, ABAC is wonderful. I was surprised to not even see static tags placed by external-dns.

[2022-03-18 17:00] webfrank commented on #1908
/reopen

[2022-03-18 17:11] dims commented on #2634
xref: https://github.com/kubernetes-sigs/external-dns/issues/2653

[2022-03-18 17:11] dims commented on #2653
xref: https://github.com/kubernetes-sigs/external-dns/issues/2634

[2022-03-18 17:12] dims commented on #2653
does anyone have a "full" copy of the `hcloud-dns` git repository?

[2022-03-18 18:12] alex-hunt-materialize commented on #731
We just got hit by this too.

It seems a bit weird to limit this by the number of records, when the limit is the size of the overall request. The correct number of records to limit to is dependent on the size of those records. This seems like something external-dns could calculate on its own, and split the request by size without needing a manual tunable.

[2022-03-18 19:27] fbueno commented on #2410
Same here.
The logs a bit different tho.
[code]

So, in my case, it also shows `DELETE` and the record it changed was a `A` record and was changed to `CNAME`

[2022-03-18 19:28] romeuhcf commented on #2410
:+1:

[2022-03-19 04:00] jwilner opened #2656 "Unable to convert between ALIAS and CNAME"
**What happened**:

I'm unable to convert an ALIAS to a CNAME or vice versa when using the explicit provider specific property.

**How to reproduce it (as minimally and precisely as possible)**:

Apply the following CRDs

[code]

Resulting logs:

[code]

State of API:
[code]

Edit the CRD to the provider specific

Resulting logs:
[code]

**What you expected to happen**:

The record to successfully

[2022-03-19 18:53] Skaronator commented on #2653
Here you go https://github.com/Skaronator/hcloud-dns @dims

[2022-03-19 21:34] dims commented on #2653
Hmm, this is a bigger problem, have we been shipping images that depend on vendored libraries with GPL License? Ouch!
https://github.com/Skaronator/hcloud-dns/blob/master/LICENSE

Please see https://github.com/cncf/foundation/blob/main/allowed-third-party-license-policy.md

the best way forward is to drop support for this cloud at this point. Thanks!

[2022-03-19 23:40] thockin commented on #2653
+1.  Or totally reimplement support.  Or get the author to relicense it .

[2022-03-21 09:53] jsravn commented on #2656
https://github.com/kubernetes-sigs/external-dns/pull/1860 (which added the alias property) got merged 4 months after #1860 and didn't modify the change I made it seems. #2657 looks reasonable to me to bring the two PRs into alignment.

[2022-03-21 10:58] #2396 closed

[2022-03-21 11:08] NoNalTrX commented on #2615
Same issue here, private zone are not found by external dns.

tried with and without domain filter flag

No zones in compartment \"ocid1.compartment.oc1..aaaa.....\" match domain filters...."

Any chance to get this fixed?

[2022-03-21 11:58] stevehipwell commented on #2640
I think there have been a number of discussions in this repo regarding the stability of the CRD in the repo and the suitability of making it an official component of the Helm chart. I'd like an explicit approval that it can be included by a maintainer before approving adding it to the chart. The chart does already currently support the CRD workflow once the CRD is installed.

Remember that Helm sh

[2022-03-21 12:25] spagno commented on #2627
my rpz is: override
with domain-filter: override and i was able to create the fqdn-override: {{.Annotations.hostname}}.override
so I just create an annotation like "hostname: servicename.mydomain.tld" and everything works as expected. The  only problem is to have log with "<no value>" because there are service or ingress without this annotation but it's fine for now. Of course I'm interested too i

[2022-03-21 12:51] #2634 closed

[2022-03-21 14:46] thockin commented on #2653
What was the previous license?

On Mon, Mar 21, 2022, 6:04 AM Raffaele Di Fazio ***@***.***>
wrote:

[2022-03-21 14:54] liggitt commented on #2653
we depended on v0.0.0-20200807003420-f768ffe03f8d

someone mirrored the repo to github at https://github.com/Skaronator/hcloud-dns (xref https://github.com/kubernetes-sigs/external-dns/issues/2653#issuecomment-1073062749)

It looks like there was no license on the SHA that was referenced in go.mod: https://github.com/Skaronator/hcloud-dns/tree/f768ffe03f8d5547609a333eba15a6524d31bb35

Looks like t

[2022-03-21 14:58] #2397 closed

[2022-03-21 14:59] liggitt commented on #2653
@Raffo thanks for the update. FYI, until a new tag is cut, `go get github.com/kubernetes-sigs/external-dns` will continue using the latest tag and still hit the transitive dependency fetching issue.

[2022-03-21 15:13] spagno commented on #2627
in my opinion, the best thing it would be to have flags like "rpz-enabled"
and "rpz-domain" and if set it will automatically add the rpz-domain to the
fqdn set in the service/ingress/crd without to set the merge and the
template

Il giorno lun 21 mar 2022 alle ore 15:58 Adyanth H ***@***.***>
ha scritto:

--
perl -e 'for($t=0;;$t++){print
chr(((750/(($a=$t&4095)+1)&1)*35+($b=$t*(($t>>14&2)+($t>>14

[2022-03-21 15:22] acnodal-tc commented on #2308
/remove-lifecycle stale

[2022-03-21 15:28] Raffo commented on #2653
@thockin what @liggitt summarized is exactly what I found as well.

@liggitt I will be tagging and having a new official release.

[2022-03-21 16:01] Raffo opened #2660 "Hetzner provider implementation"
In https://github.com/kubernetes-sigs/external-dns/pull/2635, we had to drop the Hetzner provider, more context in https://github.com/kubernetes-sigs/external-dns/issues/2653 .

This issue if for reimplementing it in the future if the community will be interested in it.

[2022-03-21 17:34] caleygoff-invitae commented on #1421
just chiming in here to say I'm seeing this too with `k8s.gcr.io/external-dns/external-dns:v0.9.0`

[2022-03-21 17:34] caleygoff-invitae commented on #1959
just chiming in here to say I'm seeing this too with `k8s.gcr.io/external-dns/external-dns:v0.9.0`

[2022-03-22 14:05] #2381 closed, assigned to nobody

[2022-03-23 09:04] #2653 closed

[2022-03-23 09:08] mateusz-jablonski94 commented on #2610
PR with a suggested fix can be found here: #2662

[2022-03-23 10:32] Raffo opened #2664 "Release Helm chart for v0.11.0"
/cc @stevehipwell

[2022-03-23 10:35] stevehipwell commented on #2664
Thanks @Raffo, I'll get a PR in. FYI as the release is created as a pre-release anyone watching the issue only sees it as such, GitHub doesn't notify the change of status.

Although could you approve https://github.com/kubernetes-sigs/external-dns/pull/2571 for the last chart release; it's got chart CI changes so my approval didn't count and your lgtm wasn't enough to release it.

[2022-03-23 10:56] javsalgar opened #2665 "The component go-durationstring does not have any license set"
The newer version of external-dns is using `go-durationstring`: https://github.com/ukfast/go-durationstring

This is causing issues in our license scanning of external-dns as it detected an unlicensed component. Is it possible to clarify the license of this component or replace the component with a licensed one.

[2022-03-23 11:40] Raffo commented on #2665
Good point. I think we should remove its usage.

@javsalgar can you also tell us how you are scanning the licenses so that we can implement the same?

[2022-03-23 11:46] Raffo commented on #2665
Ok It's a dependency for the ukfast sdk, I will open an issue upstream.

[2022-03-23 16:52] 0x4c6565 commented on #2665
PR added to bump SDK version

[2022-03-23 18:23] #2665 closed

[2022-03-24 09:49] sowmya-parsi opened #2667 "Multiple hosted zone"
Hi Team,

We have two ingress(one for public and other is for private), we are looking for an option where the dns for public ingress is created in a public hosted zone in aws and the dns for private ingress to be created in privated hosted zone which is of the same name as public hosted zone. Can you help us in resolving this?

Thanks,
Sowmya

[2022-03-24 18:04] MazenElzanaty opened #2669 "OCI Listing Zones Timeout"
I updated OCI OKE to latest version 1.22.5, everything seems to work fine but external dns

I have the following Cluster Roles

[code]

and the current deployment:
[code]

I'm getting the below in the logs:
[code]

Compartment ID and domain filter are redacted

**Environment**:
- External-DNS version (use `external-dns --version`): v0.11.0
- DNS provider: OCI

[2022-03-25 01:43] david-rafay commented on #2057
I'm experiencing the same issue with infoblox provider, helm chart  1.7.1 and image version 0.10.2

Logs are deleted and recreated every minute. I've tried with Route 53 and it works as expected. Records get added when ingress is created and get deleted when the resource is deleted but infoblox is having issues.

`sources:
  - service
  - ingress

policy: sync

registry: txt
txtOwnerId: "my-cluste

[2022-03-25 06:11] MazenElzanaty commented on #2669
Works after deleting and recreating node pool, not external dns related

[2022-03-25 06:11] #2669 closed

[2022-03-26 09:27] OlehObodin commented on #1684
@SrinivReddy
How?

[2022-03-27 07:07] #2393 closed

[2022-03-27 11:47] adyanth commented on #2627
Thanks again for that idea @spagno ! Found a way to get around the empty entry by using the following:
[code]

The `or` template function sets the domain to `invalid.domain.com`. Combining it with the `--exclude-domains` to exclude that invalid subdomain, it works as expected when setting the annotation like `dns: testing` to generate `testing.adyanth.site.rpz`.

It still is a workaround and not a

[2022-03-28 13:40] ThisIsQasim commented on #2407
I had the same error and turned out I had the wrong namespace `default` in `ClusterRoleBinding` whereas I had deployed `external-dns` in its own namespace. Changing the namespace in the `ClusterRoleBinding` fixed it for me.

[code]

[2022-03-28 17:45] #2570 closed

[2022-03-28 18:34] mboutet commented on #1961
/remove-lifecycle rotten

[2022-03-28 21:51] jlamillan commented on #2651
Looks like the Digital Ocean [provider](https://github.com/kubernetes-sigs/external-dns/blob/master/provider/digitalocean/digital_ocean.go) emits a number of log messages at the [debug](https://github.com/kubernetes-sigs/external-dns/blob/master/pkg/apis/externaldns/types.go#L530) level.

Try setting `--log-level=debug` on the external-dns container ags.

[code]

[2022-03-28 21:58] jlamillan commented on #2636
[Confirmed](https://github.com/kubernetes-sigs/external-dns/blob/master/source/crd.go#L117).

[Here's a PR](https://github.com/kubernetes-sigs/external-dns/pull/2220) that would resolve this issue.

[2022-03-28 22:14] jlamillan commented on #2623
[The FAQ](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/faq.md#why-am-i-seeing-time-out-errors-even-though-i-have-connectivity-to-my-cluster) has a good pointer about this:

[code]

Review the container logs and look for error messages that contain `forbidden` and `cannot list resource`.

[2022-03-28 22:20] jlamillan commented on #2615
Any thoughts @prydie?

[2022-03-29 08:08] Berndinox commented on #2569
Workarround:

Edit: /run/systemd/resolve/resolv.conf
Remove IPv6 Resolver.

[2022-03-29 13:10] gontzalson opened #2672 "Add namespacing for the helm chart template files"
**What would you like to be added**:

To have a way to define the namespace inside the helm template files.

**Why is this needed**:

In order to be able to run the `helm template -n ${NAMESPACE}` command properly and render a manifest that includes the namespace, it is needed to include this field inside the template files.

We need to have the defined namespace inside the manifest, as we are fol

[2022-03-29 15:49] vickydev90 commented on #2615
i have raised PR for review, this would give option for private zones filter.

[2022-03-29 18:09] dorinburcea opened #2674 "Does sync policy removes records not created by the external-dns instance?"
If I use --policy=sync does the instance removes only the records that correspond to the K8S (or services) ingress removed? I want to know there is no risk the instance will remove records created outside of the instance, like those created manually by the DNS admin.

Thank you

[2022-03-29 18:42] marcomusso commented on #1667
I fixed right now by making sure the secret is on "one line".
Before I saw the env variable CF_API_TOKEN and its value (in k9s) as:

[code]

and now I see it just like other env variables in other secrets:

[code]

Sorry I cannot show the output via kubectl commands, too used to k9s...
I normally create a secret from-literal using an env var and then encrypt it with sealed secrets, the procedure w

[2022-03-29 21:03] alebedev87 commented on #2674
By [default](https://github.com/kubernetes-sigs/external-dns/blob/master/pkg/apis/externaldns/types.go#L268), the [TXT registry](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/proposal/registry.md#txt-records) is used by external-dns. This type of registry helps to find out which records are owned by an instance of external-dns. The records which don't have the corresponding `TXT

[2022-03-30 08:04] Raffo commented on #2569
Please note that we removed the Hetzner provider due to a DOS attack from the library provider. See #2660 for future follow ups.

[2022-03-30 14:41] ranjishmp opened #2675 "Add maintainers for Infoblox provider"
Hi,

@Raffo
@njuettner
@seanmalloy

I am Ranjish, Engineering Manager from Infoblox taking care of Cloud initiatives. We have few customers who are using ExternalDNS plugin to connect with Infoblox. Being Infoblox provider is in alpha state, we would like to take to stable state after through validation. We are also looking for some enhancements which our customers are looking for. So it will grea

[2022-03-30 19:12] #2549 closed

[2022-03-30 23:14] peimanja commented on #421
Can we open this?! it is still a valid issue

[2022-03-31 07:37] hvoigt opened #2677 "ExternalDNS removes DNS entries when load balancer field is empty"
**What happened**:

DNS record(s) are deleted when `status.loadBalancer.ingress[0].hostname` (load balancer) field is empty.

**What you expected to happen**:

Existing DNS records stay untouched when an ingress for them exist and the `status.loadBalancer.ingress[0].hostname` (load balancer) is empty.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create an ingress with an

[2022-03-31 09:47] szuecs commented on #1517
/remove-lifecycle stale

[2022-03-31 15:41] adyanth commented on #2497
/remove-lifecycle stale

[2022-03-31 16:30] dseapy commented on #2235
looks like it's a 404 again (https://kubernetes-sigs.github.io/external-dns/)

[2022-03-31 16:36] gpsward commented on #2623
Thanks for the pointer @jlamillan.  I did see the FAQ.  It would be helpful if it was more specific about what resources in the AKS cluster are being queried and what cache is being sync'd.  I did do a search on the container logs (external-dns as well as the AKS cluster pods) for permission errors and didn't see anything.  I also tried putting the ServiceAccount, ClusterRole, and ClusterRoleBindi

[2022-03-31 16:36] stevehipwell commented on #2235
It looks fine to me.

https://kubernetes-sigs.github.io/external-dns/index.yaml

[2022-03-31 17:09] marcomusso commented on #2623
It's been a while but I remember having external-dns working in AKS with this ClusterRole:

[code]

Just copied from my notes (the actual manifest applied by flux). Hope this helps.

[2022-03-31 17:47] gpsward commented on #2623
@marcomusso, good to know that you were able to get it working on AKS and thanks for the suggestion.  I'm not using flux but I did try to load your manifest for the ClusterRole and got an error "Error: NotFound (404): The server failed to find the requested resource".  I tried a couple variations but couldn't get it to load.  I'm currently successfully loading the following:
[code]

Do you see sig

[2022-03-31 18:17] marcomusso commented on #2623
Indeed the beta1 in my manifest is an indication of how old that snippet is, it was for sure for a non-up-to-date k8s version, at least 1.5y ago. flux doesn't matter, you can apply it in any way you see fit. The obvious suggestion is to try with a more open cluster role (like cluster-admin brrr) and tune it down later?
btw: it's always nice stumbling upon an error message triggered by a "resource

[2022-03-31 18:40] gpsward commented on #2623
Thanks @marcomusso, I'm currently using external-dns v0.8.0 as that's what was in the example.  I've also tried using the v0.11.0 version and wasn't able to get that working either.

[2022-03-31 19:14] sramek5 opened #2678 "Istio Virtualservices or Gateways are ignored by External-DNS"
**What happened**: After setting-up external-dns followed by: https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/istio.md the operator still not registering any virtualservice to AWS Cloud Map. For istio-ingress service (kind LoadBalancer) it works though.
We route everything through istio-ingress.

**What you expected to happen**: Value(s) from spec.hosts of virtualservice

[2022-03-31 19:19] sramek5 commented on #2678
I also used the image mentioned in istio.md (k8s.gcr.io/external-dns/external-dns:v0.7.6) and the problem is not solved. That is I think strange and I was wondering, if this app works in new version of kubernetes.

[2022-03-31 20:07] alebedev87 commented on #2198
@gennady-voronkov: I managed to reproduce the log message you mentioned about the removal of the duplicate. And I found that it appears only when there is another source with the same "key" which is made of [DNS name, SetIdentifier and Targets](https://github.com/kubernetes-sigs/external-dns/blob/master/source/dedupsource.go#L48).

The way the ExternalDNS collects the endpoints from Kubernetes is

[2022-04-01 07:30] sramek5 commented on #2678
I found solution just by trying hard.

For this reason I modified `istio.md` file

[2022-04-01 07:30] #2678 closed

[2022-04-01 16:26] walkafwalka commented on #2071
@grandich Did you ever figure this out?

[2022-04-01 16:39] grandich commented on #2071
Hi @walkafwalka , yes we are successfully running our external-dns with the patch proposed in PR above
When some unknown error hits in our DNS, it only logs i.e.
time="2022-03-23T09:20:33Z" level=error msg="AXFR error: dns: bad xfr rcode: 5"

[2022-04-01 17:46] walkafwalka commented on #2071
Won't this prevent the addition of new records?

[2022-04-01 18:56] grandich commented on #2071
When the DNS transfer failed, it assumed the DNS was empty and re-added all records. This had a negative impact in our infrastructure, and because the error was sporadic, the tradeoff of eventually losing new records in that specific run (I understand the syncing is one perminute) made sense to us.

[2022-04-01 21:57] KR411-prog opened #2682 "vulnerabilities in image bitnami/external-dns:0.11.0-debian-10-r8"
Please take care of the two High vulnerabilities in  image bitnami/external-dns:0.11.0-debian-10-r8

[1mScan results for: image bitnami/external-dns:0.11.0-debian-10-r8 sha256:c25e32130ee235690b1f62878e5249ee1b4b2bce60bf2e4b210dcacb727539cb[0m
[1mVulnerabilities[0m
+----------------+----------+------+-------------+------------------+----------------------------------+-------------+------------

[2022-04-02 11:09] #2135 closed

[2022-04-02 23:06] george-angel commented on #484
/remove-lifecycle stale

[2022-04-02 23:10] nupplaphil commented on #2660
I added the hetzner-dns support per external-dns a few weeks ago ... I really, really would love that you will support it soon again :-)

[2022-04-03 06:53] sureshkachwa opened #2683 "External DNS for Godaddy"
I have a new K8S cluster in OCI with nginx ingress controller,prometheus and cert-manager deployed today morning.
There is no app or ingress deployed yet, when deploying externaldns I get the below error.

kubectl logs -f pod/external-dns-7cd4664d-cgtst
time="2022-04-03T06:46:34Z" level=info msg="config: {APIServerURL: KubeConfig: RequestTimeout:30s DefaultTargets:[] ContourLoadBalancerService:hep

[2022-04-03 08:23] gkarthiks commented on #2555
I have the same issue. Also, @nagstaku can you help me finding the right `etcd-operator` pls?

[2022-04-03 17:23] #2191 closed

[2022-04-03 19:24] dorinburcea commented on #2674
Thank you

[2022-04-03 22:17] Paragon1970 commented on #1421
Also seeing this upsert issue when employing `external-dns.alpha.kubernetes.io/aws-multi-value-answer` with or without `external-dns.alpha.kubernetes.io/tt` enabled.

- Employing Ingress.
- Version: k8s.gcr.io/external-dns/external-dns:v0.10.2

- **Upserts**: The following continuously Upserts once a minute:
[code]
- **Works:** The following creates an a simple A record - `"All records are already

[2022-04-03 23:12] mstarostik commented on #2653
Alternatively, I found this one, under Apache 2.0: https://pkg.go.dev/github.com/panta/go-hetzner-dns
Maybe best to just switch? _If_ I get the time to do so, I'd give it a try.

[2022-04-04 00:27] #2683 closed

[2022-04-04 14:36] klamkma opened #2684 "Create/Delete loop"
**What happened**:
We are using Infoblox.
If we create 2 services with the same DNS record name, this dns entry is being created and removed in a loop.

**What you expected to happen**:
The same annotation for multiple services should not be deleting/creating the dns entry in a loop.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**

[2022-04-04 18:58] Paragon1970 opened #2685 "Continued upserts employing aws-multi-value-answer annotation"
**What happened**:

Continued upsert issue when employing `external-dns.alpha.kubernetes.io/aws-multi-value-answer` with or without external-dns.alpha.kubernetes.io/ttl enabled. ( Ref: #1421 )

Note, I am employing external-dns.alpha.kubernetes.io/target: <IP> so as to test aws-multi-value-answer as it requires an IP.

[code]

[code]

[code]

**What you expected to happen**: `All records are alrea

[2022-04-04 23:14] Kaelten commented on #1961
Ran across this as I'm trying to figure out the best way to setup a dual setup between CloudFlare and Route53.

Idea being that I want to be able to have `name.production.company.net` on route53 and then `www.product.com` on cloudflare and have cloudflare proxy to the other domain cleanly.

[2022-04-05 05:58] henninge commented on #1961
Hi @Kaelten ! As the issue state you'd currently have to create two instances of ExternalDNS for your situation. Each would have the respective provider configuration and domain filter set.

Although I am not sure what you mean by "proxy to the other domain". If this is just a CNAME you might be fine with a static configuration in Cloudfare (e.g. via terraform) and just an ExternalDNS for route53.

[2022-04-05 12:26] vainkop commented on #1608
That doc pretty much covers it:
https://aws.amazon.com/ru/blogs/containers/cross-account-iam-roles-for-kubernetes-service-accounts/

Pay attention to:

[2022-04-05 14:43] abursavich commented on #2045
The design has been reviewed and approved in a meeting of the SIG-Network Gateway API working group. The code has been reviewed and approved by a Gateway API owner. Now we're waiting on review from a external-dns owner.

I reassigned the PR to a new owner this morning because I noticed that the status of the existing assignee is "💤 Taking a break from open source." I'm not sure how long that's bee

[2022-04-05 18:34] karthikvarada0204 opened #2686 "Unable to create records in Azure private DNS Zone"
Unable to create a records in Azure Private DNS Zone for Load balancer type services in AKS. The secret which is been used by external DNS Deployment have Private DNS Zone Contributor and reader to the resource group

[2022-04-06 10:53] pete-leese commented on #2664
Can anyone summarise current position on this, please ?

[2022-04-06 11:43] stevehipwell commented on #2664
We need a new run of the Release Chart GH action on the `master` branch to publish the outstanding chart and test the workflow can now handle special characters in the release notes. Once the outstanding chart has been published I'll push the PR for the next chart version.

@Raffo @njuettner @seanmalloy could one of you do this?

[2022-04-06 13:27] pete-leese commented on #2682
I have given up consuming any bitnami image recently, security posture is not one of their strong points.

[2022-04-06 14:40] szuecs commented on #2653
I wonder why I get this:
[code]

I checked v0.11.0 and there is no reference in go.mod nor in go.sum.
Was v0.11.0 created as new tag or replaced?

[2022-04-06 14:50] szuecs commented on #2653
I looked more into it and it seems that I have a local copy of  the former v0.11.0:

[code]

So replaced tag which at least does not play well with your local Go mod cache.
I guess we will also see dependency issues with sumdb, but no sure.

[2022-04-06 19:24] aharpster commented on #2623
@gpsward any update? I'm also facing issues on 1.22

[2022-04-06 23:55] gpsward commented on #2623
@aharpster, No sorry.  I've not made any progress and I'm not going to be able to spend anymore time on it.  I am interested to hear if someone is able to make this work on later version of kubernetes AKS.

[2022-04-07 05:24] olemarkus commented on #1997
/remove-lifecycle rotten
/close

[2022-04-07 05:24] #1997 closed

[2022-04-07 11:02] #2421 closed

[2022-04-07 21:47] vholer commented on #2451
IMHO this is the issue when there are multiple records under same name within a zone, e.g.:

[code]

This is frequently a case with TXT records (with SPF, various domain verifications, etc...) for the zone. If you can drop some of those records, this workarounds the issue with Gandi provider.

[2022-04-07 23:30] joeratos commented on #961
I had the same issue and resolved by upgrading the bitnami chart version.

I'm using lablabs terraform provider: https://registry.terraform.io/modules/lablabs/eks-external-dns/aws/latest and had the same issue upgrading to 1.22. Everything appeared to be ok config-wise, I can only assume it may have been somehow related to old beta versions being removed as [jslay88](https://github.com/jslay88) su

[2022-04-08 02:49] lmxia commented on #2156
@fusidamj ，hi，I encouter with the same problem, what to do to support same hostname in two k8s clusters? Thanks a lot.

[2022-04-08 09:43] christophemorio commented on #1228
@mariokorte
Having the same problem on route53 with `policy=sync`,
as a workaround I manually add TXT record string `heritage=external-dns,...`

Then, externaldns now reconciles the related record as expected.

[2022-04-08 11:01] pete-leese opened #2691 "Add support for VirtualServer, VirtualServerRoute and TransportServer"
Please add support for VirtualServer, VirtualServerRoute and TransportServer source.

This is now widely available with nginx since v1.5 https://docs.nginx.com/nginx-ingress-controller/configuration/virtualserver-and-virtualserverroute-resources/

The TransportServer resource allows you to configure TCP, UDP, and TLS Passthrough load balancing.

See: https://docs.nginx.com/nginx-ingress-controller

[2022-04-08 11:26] #2383 closed

[2022-04-08 12:31] Tristan971 commented on #1453
/remove-lifecycle stale

[2022-04-08 13:14] ecojan opened #2692 "Adapt external-dns to only use required informers depending on filters and add support for multi-namespace watch"
**What would you like to be added**:
There are 2 proposed changes in this issue, will try and elaborate both:
1. Adapt external-dns to only use required informers depending on filters (ability to run in a reduced scope)
Current form of external-dns assumes it would always be run as a deployment with cluster wide access requesting information on resources when it might not even need them. One such

[2022-04-08 20:19] seanmalloy commented on #2675
@ranjishmp thanks for reaching out. The first step is to get [kubernetes-sigs org](https://github.com/kubernetes-sigs) membership. Here are the requirements for org membership: https://github.com/kubernetes/community/blob/master/community-membership.md#member

From my perspective the simplest way to meet the requirements for org membership would be to submit some PRs to make changes(features or bu

[2022-04-09 14:30] #2427 closed

[2022-04-10 01:38] #1432 closed

[2022-04-10 16:43] #2194 closed

[2022-04-10 18:18] puckettgw opened #2697 "Support setting cloudflare API token (and possibly others) via annotation"
**What would you like to be added**:
I would like the ability to specify the cloudflare API token (or rather, a secret which contains it) in an ingress annotation.

**Why is this needed**:
My group is using external-dns as part of a provisioning pipeline for client websites. Some clients do not want to relinquish control of their entire DNS zone to us and currently for these customers this means t

[2022-04-10 19:33] anubisg1 commented on #1930
Please make this happen!! I would los this too

[2022-04-10 23:53] djw4 commented on #2691
Would also love to see this functionality added as it would tremendously simplify our current processes.

[2022-04-11 04:16] reesericci commented on #1930
All we need now is an actual integration, the work on the pi-hole side is done

[2022-04-11 15:26] scottd018 opened #2702 "RFC2136 Password is logged"
When starting the controller with RFC2136 w/ GSS-TSIG, the password is exposed in cleartext (full config removed for brevity):

[code]

However it should be exposed with the `passwordMask` value like so (full config removed for brevity):

[code]

**What would you like to be added**:

Add the `secure: yes` tag to the value so that it is not logged when converting the config to a string.

**Why is t

[2022-04-11 19:04] stevewallone commented on #2653
i also continue to get the error. It looks to be downloading an old `go.mod`.

[code]

[2022-04-11 20:31] Nefelim4ag opened #2704 "External-DNS: NodePort must not publish not ready pods"
**What happened**:

NodePort Traffic policy: Local

Service with NodePort correctly update endpoints and does not try to publish not ready pods
ExternalDNS use internal logic to find pods by selector labels (instead of reading endpoints object) and only checks state isRunning (https://github.com/kubernetes-sigs/external-dns/blob/0bf5faed42215ce20533de385bb6dccde10c4ab1/source/service.go#L568)
(Bad

[2022-04-12 12:50] pavlo-bondarenko commented on #1829
/remove-lifecycle stale

[2022-04-12 16:45] #2187 closed

[2022-04-12 21:23] preflightsiren commented on #2537
Ahh you're using https://artifacthub.io/packages/helm/bitnami/external-dns/4.8.6 for a helm chart

for anyone using a different chart / deployment method, the same change is documented here: https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md

[code]

[2022-04-13 00:04] pcgeek86 commented on #2407
Same issue with 0.11.0 on Digital Ocean Kubernetes 1.22.8

[2022-04-13 14:12] paltaa commented on #2407
Changing the clusterRole definition fixed it for me, kubernetes 2.21 EKS

[2022-04-14 00:13] sepulworld opened #2706 "aws-sd-service-cleanup Not cleaning up as Expected"
**What happened**:

aws-sd provider not removing service when `--aws-sd-service-cleanup` is enabled

[code]

it appears the resource information isn't removed when the de-registration happens. ```external-dns/resource=virtualservice/grpc-server/validate-grpc-server``` Should probably not be in the description when the comparison of ownership is made

**What you expected to happen**:

I'd expect th

[2022-04-14 12:40] Raffo commented on #2675
@ranjishmp Same as Sean says, I’m happy to sponsor this. Feel free to send me PRs to review so that we can get you the minimal amount of work to support a case to join the org.

[2022-04-18 00:13] Bioblaze opened #2711 "External-dns on 1.22.8-gke.200 does not see Ingresses"
**What happened**:
I did a fresh deployment of external-dns into a v1.22.8-gke.200 cluster, and it refuses to work with a ingress, when I moved it to service it does not use the annotated gke ip address I have set, it sets 3 different ips. It acts as if the ingress does not exist period. And only sees services.

**What you expected to happen**:
on 1.20 it uses the gke ip address, on the ingress np

[2022-04-18 05:06] #2243 closed

[2022-04-18 10:24] laurivosandi commented on #2446
/remove-lifecycle stale

[2022-04-18 11:10] ranjishmp commented on #2675
Thanks @Raffo and @seanmalloy

Sergey ([skudriavtsev](https://github.com/skudriavtsev)) will be the main contributor from Infoblox side towards this plugin

He already raised a PR (https://github.com/kubernetes-sigs/external-dns/pull/2670) which is under your review. He will soon raise one more PR for adding certificate based authentication

So it will be good if you can consider him as a maintain

[2022-04-18 13:33] priyanka9692 opened #2712 "No valid SHA for image k8s.gcr.io/external-dns/external-dns"
**What happened**: I am trying to use the external-dns image in my org and get t=it scanned for security vulnerabilities. Howeevr, the image 'k8s.gcr.io/external-dns/external-dns:v0.11.0' does not seem to have a valid SHA digest. That is blocking our ability to scan the image for vulnerabilities.

**What you expected to happen**: I expected it to have a valid SHA so that the vulnerabilities scan c

[2022-04-18 19:01] j-baker commented on #2606
Your issue is that your external-dns image version is too old.

[2022-04-18 19:39] raxod502-plaid commented on #2135
The requested feature was never implemented, so it was inappropriate to close this issue.

[2022-04-18 19:39] raxod502-plaid commented on #2135
/reopen

[2022-04-18 19:41] raxod502-plaid commented on #2135
That rule does not seem like a good one to me, but I do not at present have the bandwidth to submit a complaint against the maintainers of the bot.

[2022-04-18 19:57] raxod502-plaid commented on #178
The feature was never implemented, so it was inappropriate for this issue to be closed. ExternalDNS still badly needs a cache; with a large number of records in a hosted zone, it will max out Route 53 rate limits every time the sync loop runs.

[2022-04-18 20:03] afirth commented on #2135
@raxod502-plaid are you still having issues, even using the existing knobs? If so, consider opening a new issue with why the existing rate-limiting options don't work. The general problem, in my mind, with this is that you effectively just rate limit yourself - the other options provide a bounded guarantee of ttl.

[2022-04-18 20:33] raxod502-plaid commented on #2135
Unless https://github.com/kubernetes-sigs/external-dns/issues/178 is implemented, external-dns still hits Route 53 rate limits when you have a hosted zone with a large number of records, since the sync loop does a large number of API calls all at once (e.g. 10+ in our case).

[2022-04-19 03:47] #2711 closed

[2022-04-19 07:13] jessesuen commented on #1420
In case it benefits others, I think I discovered a workaround to the error:

[code]

It seems the AWS call just needs some UUID to be supplied for the call to be accepted -- it doesn't even matter if the UUID refers to a real health check or not. So I'm able to apply the following Ingress, and external-dns will apply the Route53 record:

[code]

What's important, is for `aws-health-check-id` to be

[2022-04-19 08:21] Raffo commented on #2712
@priyanka9692 can you specify what you mean by “valid sha”? What do you expect? Can you provide the full list of commands you are using?

[2022-04-19 08:22] Raffo commented on #2675
@sagor999 Are you still interested in helping maintaining the infoblox provider? I remember we chatter about it a few months ago and I never followed up adding you to the owners.

[2022-04-19 08:23] priyanka9692 commented on #2712
@Raffo Valid SHA for the image. The image digest to be specific.

[2022-04-19 08:26] Raffo commented on #2675
@ranjishmp I prepared https://github.com/kubernetes-sigs/external-dns/pull/2713 , which we will be able to merge once we have enough PRs merged from @skudriavtsev and the membership to the org approved.

[2022-04-19 08:27] Raffo commented on #2712
@priyanka9692 please provide the full set of commands that you are using to validate images and their SHAs.

[2022-04-19 08:28] ranjishmp commented on #2675
@Raffo Thank you. As I mentioned @skudriavtsev is getting ready with his second PR. We will have more PRs once our QA team start validating the plugin.

[2022-04-19 08:39] #2702 closed

[2022-04-19 08:40] Raffo commented on #2682
@KR411-prog I have no idea how bitnami build their image, but we do implement image scanning and we currently have no active vulnerability, see https://github.com/kubernetes-sigs/external-dns/runs/6074267429?check_suite_focus=true as one of the latest builds. We **do not** offer support for bitnami’s image and we encourage to offer the official images of this project instead which is the only thin

[2022-04-19 08:40] #2682 closed

[2022-04-19 08:43] #2664 closed

[2022-04-19 09:13] k0da commented on #1923
As [this](https://github.com/kubernetes-sigs/external-dns/pull/2157) is implemented, it opens a way to handle whatever record type theoretically

[2022-04-19 09:33] adyanth commented on #2526
/remove-lifecycle stale

[2022-04-19 09:37] Moezenka commented on #2198
I am experiencing the same problem, records are being constantly deleted and recreated.

Container Arguments:
[code]
I am able to reproduce this issue by running version **0.8.0**
I am running several clusters and have tagged all clusters with a unique `txt-owner-id`.
+ Kubernetes Version: v1.21.8

Here are the logs for version: **0.8.0** (*sample output*)
[code]
Here are the logs for version: **0

[2022-04-19 12:02] atorrescogollo commented on #2346
/remove-lifecycle stale

[2022-04-19 21:26] sagor999 commented on #2675
@Raffo I have changed jobs and no longer have access to infoblox setup. So do not add me as a maintainer. But thanks for reaching out!

[2022-04-20 03:14] wbh1 commented on #2499
The root of this issue is that you need to add a prefix or suffix to the TXT record so that it has a unique hostname. In the official Helm chart, this is accomplished via something like:
[code]
After hitting the issue described, the above fixed my issues on LKE 1.22 (for services, at least -- haven't tested with ingress like @mars64 was mentioning).

The same principals from the [AWS FAQ entry](ht

[2022-04-20 08:01] tamalsaha opened #2714 "LabelFilter support --source=node"
**What would you like to be added**:
Currently there is only annotation-filter support for --source=node. It will be great if the label-filter support can be also added.

**Why is this needed**:
The cloud provider I am using automatically applies a fixed label for each node pool. I want to expose all nodes of a given node pool. These nodes can be replaced on cluster upgrades etc. Using --annotatio

[2022-04-20 12:00] Timoses commented on #1841
/remove-lifecycle stale

[2022-04-20 15:07] wbh1 commented on #2499
After looking into this more, the behavior has definitely changed since the [rollout of the new subdomain for nodebalancers](https://www.linode.com/blog/linode/notice-changes-to-members-linode-com-and-nodebalancer-linode-com/).

Using `--source=service` as an example: when external-dns runs, it creates `Endpoint`s for both the `hostname` (CNAME) and the `ip` (A) returned in the `status.loadBalance

[2022-04-20 18:01] Raffo commented on #2675
@sagor999 thanks for the answer and best wishes for the new job!

[2022-04-20 20:26] mac-chaffee opened #2717 "Support setting external-dns.alpha.kubernetes.io/target on IngressClass"
**What would you like to be added**:

Currently, this is how external-dns determines what hostname/IP to put in the DNS record that it creates for ingresses:
https://github.com/kubernetes-sigs/external-dns/blob/a690bb990f42703fa8033f575c3dc6e8e536d556/source/ingress.go#L175-L178

That code will either:

1. Create a CNAME record using the value of `external-dns.alpha.kubernetes.io/target` on that p

[2022-04-20 22:23] 5cat commented on #2623
I simply solved it by using `>=0.10.0` version of external-dns, it says in the [readme](https://github.com/kubernetes-sigs/external-dns#kubernetes-version-compatibility) with kubernetes 1.22.

[2022-04-21 08:49] balonik commented on #2717
Just a note that it creates CNAME record if you have `status.loadbalancer.hostname` on your Ingress resources. This would also require to update RBAC, because `external-dns` doesn't have rights to read `IngressClass`.

[2022-04-21 18:29] mac-chaffee commented on #2717
I believe that only works for some loadbalancer providers. For example, metallb doesn't support hostnames, only IP address: https://github.com/metallb/metallb/issues/1038

[2022-04-22 00:28] ddurham2 commented on #2499
I think this might be related.  I've recently found that when adding the [servicebetakubernetesiodo-loadbalancer-hostname](https://github.com/digitalocean/digitalocean-cloud-controller-manager/blob/master/docs/controllers/services/annotations.md#servicebetakubernetesiodo-loadbalancer-hostname) annotation to external-dns's service, it causes external-dns to create CNAMEs rather than A records.

Per

[2022-04-22 04:45] mariusmarais commented on #449
Can this be special-cased for the apex / root domain? Since it's not working now, no one is expected to rely on the current behaviour?

[2022-04-22 10:30] singhkrshivam commented on #961
Thanks @joeratos for the suggestion. I invested few hours finding the actual issue, but your comment save more hours of head scratching.

[2022-04-22 17:43] #2444 closed

[2022-04-22 18:43] #2445 closed

[2022-04-22 21:19] seanmalloy commented on #2660
/kind feature

[2022-04-23 11:47] #2447 closed

[2022-04-24 18:57] #2142 closed

[2022-04-24 19:13] asdfgugus commented on #1930
anything new?

[2022-04-24 19:25] matthewmrichter commented on #1598
/remove-lifecycle stale

[2022-04-25 19:06] #2449 closed

[2022-04-27 07:49] haslersn commented on #2492
/remove-lifecycle rotten

[2022-04-27 09:49] karlschriek opened #2724 "Support Azure Workload Identities"
Azure recently added Azure Workload Identities (see https://github.com/Azure/azure-workload-identity and https://azure.github.io/azure-workload-identity/docs/) to AKS. Officially the functionality is still in Preview, but the approach is quite stable and we are already using it in various production situations.

AWI is essentially the equivalent of AWS's IAM Roles for Service Accounts and works th

[2022-04-27 13:13] linuxmall commented on #1930
Please, do we have any feedback on this request?
This feature will help me a lot in a project for the children's school

[2022-04-28 03:41] kundan2707 commented on #2455
/remove-lifecycle stale

[2022-04-28 09:40] karlschriek commented on #2724
We should keep an eye on https://github.com/Azure/go-autorest/pull/680.

Once that is merged it should be fairly trivial to implement this.l

[2022-04-28 15:09] Remusss commented on #2416
I've got the same issue. Could this be caused by the fact that rfc2136 provider is in alpha state?
I don't have zone transfers enabled and I don't think that should matter unless I'm missing something

[2022-04-28 22:46] matmicro commented on #449
I am facing the same issue.

@JannikZed , Did you find a solution for this issue ?

[2022-04-28 22:51] matmicro commented on #2403
I am facing the same issue.
Did someone found a way to fix this ?

[2022-04-28 23:53] mac-chaffee commented on #2717
Turns out that the reason my DNS records were coming from MetalLB is that my ingress provider (ingress-nginx) had the `--publish-service` flag, which places the loadBalancerIP in the status field of every Ingress.

But that behavior can be changed by removing that flag and adding the `--publish-status-address=myhost.example.com` flag. Then external-dns will create CNAMEs.

All ingress-nginx flags:

[2022-04-28 23:53] #2717 closed

[2022-04-29 10:38] Nefelim4ag commented on #2467
Same on 0.11 external-dns

[2022-04-29 12:36] vitorafgomes opened #2729 "Error to create the DNS record type=A"
**What happened**:

I added annotate to the ingress but when creating the record type=A returns an error

![image](https://user-images.githubusercontent.com/5174765/165943983-f8d23805-ad01-4d0d-812d-c54a635085fc.png)

**What you expected to happen**:

I believe should automatically create both records

**How to reproduce it (as minimally and precisely as possible)**:
steps I took to complete clust

[2022-04-29 12:56] SatyKrish commented on #1577
Are the mini images being published to k8s.gcr.io?

[2022-05-02 05:21] xxated commented on #2198
Any updates here? Experiencing the same issue.

[2022-05-02 11:56] #1899 closed

[2022-05-02 14:23] ranjishmp commented on #2198
We are able to see the same issue in our internal testing. @skudriavtsev is looking into this and a possible fix

[2022-05-02 21:43] yunxi-zhang opened #2732 "External-DNS add unwanted/all running nodes as 1 record to AWS Route53"
**What happened**:
I've got an AWS EKS (V1.22) with Fargate and used external DNS to dynamically add pod/node ips to AWS route53. I'm using a K8S service file to define host names (i.e. `external-dns.alpha.kubernetes.io/hostname: issuer-service.eks.acapy.demo.local`)  After running external-dns, it accidentally added all running nodes' IPs to route53 in 1 A record (see below screenshot).
![image](

[2022-05-03 13:14] kundan2707 commented on #2076
/remove-lifecycle stale

[2022-05-04 07:53] dominch commented on #2403
For now I added root domains manually and use it only for subdomains. OVH addon is still BETA quality and I won't use that for production.

[2022-05-04 08:44] #2729 closed

[2022-05-04 11:20] rsoares1982 opened #2735 "Vulnerability Detected CVE-2022-28391"
Vulnerability Detected

https://nvd.nist.gov/vuln/detail/CVE-2022-28391

[2022-05-05 07:12] matmicro commented on #2403
From OVH, i found a middle fix, which is to set a dot prefix:
``.domain.tld``

Then the entry added is correct for root domain.

But i am still facing issue the the value is recorded every minute, and a new A record is created every minute... any one found how to fix this ?

[2022-05-05 08:06] visit1985 commented on #1975
/remove-lifecycle stale

[2022-05-05 15:17] mac-chaffee opened #2737 "No way to safely change --txt-prefix; required for CNAMEs"
**What would you like to be added**:

Add a new flag (like --old-ownership or --migrate or --add-prefix-if-not-present) that will allow external-dns to update ownership information for all records that it used to own.

Maybe could also change the default settings to always have a --txt-prefix so CNAMEs always work

**Why is this needed**:

By default, external-dns creates a TXT record with the sam

[2022-05-05 20:46] mac-chaffee commented on #2737
Should be fixed by #2157 when released

[2022-05-05 20:46] #2737 closed

[2022-05-06 00:13] voro015 commented on #2732
Hey @yunxi-zhang
What Kubernetes Service.Type are you using?
For Type == `NodePort` - Kubernetes will open a Port on each Node in your cluster and external-dns may hook them to R53

[2022-05-06 00:27] voro015 commented on #2598
@dav9 if you want to use external-dns under high load with AWS  - consider using it with CloudMap provider

[2022-05-06 01:11] voro015 commented on #2505
/remove-lifecycle stale

[2022-05-06 07:18] willemm commented on #2416
I have the same issue.

Zone transfers are enabled (they need to be, because the external-dns needs to check which records are there so it can decide to delete them).

I can see from the (debug) logging that the TXT records with owner IDs are getting transferred:
(NOTE: Only the example-app and example-app-2 records are managed by external-dns)

[code]

But then it's claiming the owner ID does not

[2022-05-06 08:47] yunxi-zhang commented on #2732
@voro015, yes, the type I've used is `NodePort`. If I use `LoadBalancer `, EKS will create a load balancer and random EC2 instances not needed and direct all traffic to these EC2. Wonder if external-dns could add a new feature such that we can specify which relevant nodes' IPs we want to be added to DNS records.

[2022-05-06 11:29] klippo opened #2739 "Add support for F5 VirtualServer and TransportServer"
**Add support for F5 VirtualServer and TransportServer**
https://clouddocs.f5.com/containers/latest/userguide/crd/virtualserver.html
https://clouddocs.f5.com/containers/latest/userguide/crd/transportserver.html

This is not the same as [2691](https://github.com/kubernetes-sigs/external-dns/issues/2691), however since Nginx is owned by F5 they probably share some naming.

**Why is this needed**:
Wh

[2022-05-07 18:52] darkn3rd opened #2742 "Azure Provider Tutorial around MSI incomplete and outdated"
**What happened**: Documentation around MSI is incomplete and outdated ([ref](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure.md#azure-managed-service-identity-msi)).

For one, Microsoft renamed the term MSI to _Managed Identities_, so there will no longer be any reference to documentation about MSI.

There are a few missing steps that are not documented, so reader

[2022-05-07 18:58] darkn3rd opened #2743 "Azure Provider Tutorial missing AAD Pod Identity"
**What would you like to be added**: Documentation of support for AAD Pod Identity.

**Why is this needed**:  The current [documentation](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure.md) documents two sub-optimal solutions that can compromise security: (1) Service Principal - saves credentials in a text file azure.json that can be use to gain unauthorized access

[2022-05-07 19:07] darkn3rd opened #2744 "Azure Provider Tutorial ingress example is invalid and returns error"
**What happened**: Documentation around ingress resource is invalid and will not work with current versions of AKS ([ref](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure.md#deploying-an-nginx-service)).

The Kubernetes API for the ingress resource has changed and the older API is now deprecated with current versions of Kubernetes. The current documentation on the i

[2022-05-08 12:34] wanieldilson commented on #2683
did you fix it? I'm having the same issue.

[2022-05-08 21:49] shrinandj commented on #2697
You could try have the API token as a secret and have the environment variable's value obtained from the secret. Does that work?

https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-environment-variables

[2022-05-08 23:35] #2463 closed

[2022-05-09 01:54] kun-hackle commented on #2410
Any update?

[2022-05-09 07:40] #2469 closed

[2022-05-09 09:56] wdw-jst commented on #2744
I believe the Azure Private DNS tutorial has the same issue.

[2022-05-09 12:33] darkn3rd commented on #2742
I may need some help, as not sure how to conceptually shape the tests (current PR took 5 days to craft tests to test all this together): need 2 x eternal-dns deploy for two different zones? 2 x ingress-nginx, as one private LB and another for public? node pools on both private and public networks?

[2022-05-09 12:45] darkn3rd commented on #2744
This should be a separate ticket azure private ([ref](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure-private-dns.md).  I can spot a more serious issue where a major missing step requires configuring AKS to use the private VNET linked to the AzureDNS private zone.

Generally, at some point, there's a need to use public endpoint, so consideration is required to use

[2022-05-09 15:18] wdw-jst opened #2746 "Azure Private DNS Provider Tutorial ingress example is invalid and returns error"
**What happened**:

Documentation around ingress resource is invalid and will not work with current versions of AKS ([ref](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure-private-dns.md#deploying-sample-service)).

The Kubernetes API for the ingress resource has changed and the older API is now deprecated with current versions of Kubernetes. The current documentati

[2022-05-09 15:52] wdw-jst commented on #2742
I think a setup with both private and public DNS zones at the same time needs to double everything (LB, Ingress Controller, ExternalDNS). However I feel this is out of scope of either the Azure DNS Tutorial and the Azure Private DNS Tutorial.

The "Permissions to modify DNS zone" section is really improved and more detailed. This section should be the same regardless of internal or extenal Azure D

[2022-05-09 16:28] tehlers320 commented on #178
/reopen

does that work @raxod502-plaid  ?

[2022-05-09 19:22] darkn3rd commented on #2746
I also notice the tutorial documents creating a private VNET creation, but neglects documentation on how to create AKS with nodes that use this VNET.  Even if the ingress is fixed, the solution as documented will not work.

[2022-05-09 19:26] tehlers320 commented on #2135
https://github.com/kubernetes-sigs/external-dns/commit/837d1ea248eef6c48a7a9db64b585ce8ec83c6af isnt this the feature you need?

[2022-05-09 19:47] RomansWorks commented on #2623
Confirm @5cat 's solution, upgrading the version of externa-dns solved it for me as well. I'm on EKS.

[2022-05-09 20:03] darkn3rd commented on #2724
I am interested in this, in the scope of testing and updating the tutorial.  What would be the contents of `azure.json` needed?  Do we need to explicitly expose a token, can a service account impersonate the identity (service principal) without a need for a token?

[2022-05-09 21:39] downtheroad77 commented on #1941
Is it possible to add this back as well ? https://kubernetes-sigs.github.io/service-catalog/index.yaml

[2022-05-09 21:41] gpsward commented on #2623
Thanks for your input on this folks.

I also tried different versions external-dns and I could not get any of them to work on the 1.22.6 version of AKS I've been using.  However, I've been using the Azure CNI network plugin as opposed to the Kubenet plugin.  I have recreated another AKS cluster using the Kubenet network plugin and now the external-dns works fine.   Can anyone confirm if using the

[2022-05-09 21:56] voro015 commented on #2732
I'm not sure if it's possible with Fargate EKS, but in theory you should be able to create AWS ALB with kubernetes Ingress resource([required controller](https://docs.aws.amazon.com/eks/latest/userguide/aws-load-balancer-controller.html)), with [target annotation](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/annotations/#target-type) `ip`.
That ALB will target

[2022-05-09 23:17] alebedev87 commented on #1982
@christopherdalton : ExternalDNS doesn't delete DNS records just because it's not running anymore. DNS records are critical to the functioning of the computer systems, their removal may have devastating consequences. So it's left up to the ExternalDNS's user for the moment.
Also, from the technical point of view, it may be not that trivial to handle the removal of DNS records during the grace peri

[2022-05-10 03:39] zlweicoder commented on #708
@810123 我现在也尝试在Azure China部署，想知道一下你修改后的 yaml 细节，以及如何把 azuredns.json 放入/etc/kubernetes/azuredns.json，方便加v聊一下吗？（我的VX: vincent_wei_ ）谢谢。

[2022-05-10 04:09] zlweicoder commented on #708
problem resolved, many thanks.

[2022-05-10 07:42] darkn3rd commented on #2686
The information provided is not a lot to go by.  You are authorizing by service principal and not a managed identity?  With debug enabled, what do the external-dns logs say?  Are AKS nodes on the same custom private VNET that is associated with DNS?  How was the cluster created?  How was ExternalDNS deployed (what were the manifests used)?

[2022-05-10 07:46] victorgetz commented on #2529
I try again. Any thoughts guys?

[2022-05-10 07:51] darkn3rd opened #2747 "GKE provider tutorial - insructions for creating GKE"
**What happened**: Instructions to create GKE are invalid. ([ref](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/gke.md))

**What you expected to happen**: The instructions would be valid, instead:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:  Using the default compute GSA is dangerous as this ca

[2022-05-10 07:51] darkn3rd commented on #2747
This can be assigned to me (@darkn3rd), I am working on a PR.

[2022-05-10 08:46] stevehipwell commented on #1941
@downtheroad77 could you clarify what you're asking for?

[2022-05-10 11:16] bootc commented on #1877
/remove-lifecycle stale

[2022-05-10 15:02] cedi commented on #2584
Bumping this, as I have the same issue.

[2022-05-10 16:50] yunxi-zhang commented on #2732
@voro015, the external-dns has add all Pods' nodes' ips to the record. Think my ticket is about a new feature, for instance, can external-dns be configured to selectively add pods' nodes' ips filtered by e.g. namespace instead of all pods' nodes' ips. If such as a feature is not available, I can close this ticket and recreate a new one for a feature.

[2022-05-10 21:37] rnkhouse opened #2748 "Issue with adding multiple A records for the same DNS and multiple clusters"
**What happened**:
I have 2 AKS clusters with external-dns installed in both. It has istio + Azure Private DNS. The arguments I am passing as below:

        - --source=service
        - --source=ingress
        - --source=istio-gateway
        - --source=istio-virtualservice
        - --provider=azure-private-dns
        - --azure-resource-group=DOMAIN_RG_VALUE
        - --azure-subscription-id=A

[2022-05-11 10:05] jkremser opened #2750 "egoscale @ v1.19.0 ( unknown revision)"
It looks like this egoscale dependency has released `1.19.0` by mistake (instead of `0.19.0`) and then deleted the tag from the git repo. However, it went into goproxy so it's now in some undef state or something. Not sure, how you made your build to be [passing](https://github.com/kubernetes-sigs/external-dns/runs/6324080729?check_suite_focus=true#step:4:38) (build cache perhaps). But `go get git

[2022-05-11 12:44] jkremser commented on #2750
`GOPROXY=goproxy.io go get sigs.k8s.io/external-dns@v0.11.1`
[code]
`GOPROXY=goproxy.cn go get sigs.k8s.io/external-dns@v0.11.1`

ok

[2022-05-11 13:50] brianehlert commented on #2677
How would an Ingress implementation control external-dns to ensure that a DNS entry is only made when the full chain of services are ready for that Ingress?
What if the upstream Service had no healthy pods and the Ingress wants to ensure that no traffic is sent to that particular instance of Ingress?  This using DNS as a failover point with multiple A records for a specific hostname (a different D

[2022-05-11 14:12] lou-lan commented on #2748
What resource are you resolving DNS to, and print the yaml file.
[code]

[2022-05-11 15:49] hvoigt commented on #2677
An ingress with a hostname but without a target in the status is, in my opinion, an unknown object. So it should not be handled at all. E.g. if it is a new ingress there should be no DNS entry made. If it is an existing DNS entry it should not be touched.

So you mean you would have multiple ingresses on different clusters with the same hostname. Each would handle a DNS entry with different priori

[2022-05-11 17:00] rnkhouse commented on #2748
@lou-lan It's service located in istio-system namespace.

cluster 1:
istio-internal-ingressgateway   LoadBalancer   10.6.38.143    10.2.10.2       15021:32225/TCP,80:32098/TCP,443:30775/TCP   54d   app=istio-internal-ingressgateway,istio=internal-ingressgateway

cluster 2:
istio-internal-ingressgateway   LoadBalancer   10.8.12.130    10.1.10.2       15021:32225/TCP,80:32098/TCP,443:30775/TCP   54d

[2022-05-11 17:06] lou-lan commented on #2748
It looks like you use the same domain name, can you use a different domain name?

[2022-05-11 17:06] luke-plausin-kidsloop commented on #1651
I am also experiencing this issue while trying to use the controller in the Jakarta region `ap-southeast-3`.
I had no idea what was going on until I read this issue. I really think that the error message should be improved.

[2022-05-11 17:24] rnkhouse commented on #2748
@lou-lan  Actually, we need to point 2 clusters services with one domain.

[2022-05-11 18:22] darkn3rd commented on #2748
Is RBAC used for these clusters?  How was external-dns deployed, and what is the RBAC configuration?

[2022-05-11 18:28] rnkhouse commented on #2748
@darkn3rd  Yes. RBAC is enabled. below is the config:

    ---
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRole
    metadata:
      name: external-dns
    rules:
    - apiGroups: [""]
      resources: ["services","endpoints","pods"]
      verbs: ["get","watch","list"]
    - apiGroups: ["extensions","networking.k8s.io"]
      resources: ["ingresses"]
      verbs: ["get","watch","l

[2022-05-11 23:16] darkn3rd commented on #509
/remove-lifecycle rotten

[2022-05-11 23:38] darkn3rd commented on #509
I tried this with v0.11.0 and I cannot get it to work with workload-identithy, using the manifest from gke tutorial I get 403s as well.

I created these set of steps using gcloud sdk cli and kubectl to help reproduce the issue:

* https://gist.github.com/darkn3rd/358b2c18b7c848c793f0e6d7a91dd430

[2022-05-11 23:46] darkn3rd commented on #509
This seriously needs to be documented, which I am working on at the moment.
/reopen

[2022-05-12 01:24] darkn3rd commented on #2742
I can circle back and explore this soon.  Currently, I am updating GKE provider tutorial.  I hope the PR gets reviewed by someone and approved for merge, getting worried.

Because a VNET has to be created that is linked to the Azure DNS, the K8S cluster must actually use that VNET, no?

I vaguely recall scenarios where I created my own VNETs for use with Azure DNS, I'll have to dig through my note

[2022-05-12 01:51] darkn3rd opened #2751 "GKE tutorial Workload Identity inconsistency and other issues"
**What happened**: Current GKE documentation around Workload Identity ([ref](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/gke.md)) has some issues:

* grants access to R/W Cloud DNS zones through scopes w/i the same project, making Workload Identity unnecessary
* assumes that both GKE cluster and CloudDNS are in the same project, when using GSA can access CloudDNS acr

[2022-05-12 05:38] eroji opened #2753 "Deployment health/readiness checks?"
The provided deployment manifest does not appear to include any health/readiness checks. I'm using the CoreDNS/etcd configuration, and when etcd cluster is unavailable for any reason, external-dns does not appear to re-attempt the connection. Is this expected? If there is a way to configure health/readiness checks then the pod can be restarted to re-initialize the etcd connectivity.

[2022-05-12 11:25] golx opened #2754 "DigitalOcean: Constant updates when TTL annotation is used on ingress"
**What happened**:
When `external-dns.alpha.kubernetes.io/ttl: "1m"` annotation is applied to the Ingress, external-dns tries to update the DNS records in DigitalOcean even if there were no changes to the IP of the node or DNS address.

**What you expected to happen**:
No update.

**How to reproduce it (as minimally and precisely as possible)**:
Set the aforementioned annotation.

**Anything else

[2022-05-12 12:53] #2743 closed

[2022-05-12 12:55] #2746 closed

[2022-05-12 18:58] seh opened #2756 "ExternalDNS accepts and consumes empty hostnames from annotation values"
# What happened:

Create more than one Kubernetes _Service_ and annotate it with ["external-dns.alpha.kubernetes.io/hostname"](https://sourcegraph.com/github.com/kubernetes-sigs/external-dns@23648c2/-/blob/source/source.go?L43-L44) with an empty string as the value. ExternalDNS will create a Route 53 change batch with two or more entries for the same empty hostname value.

# What you expected to h

[2022-05-12 21:00] jonpulsifer commented on #1441
/remove-lifecycle stale

[2022-05-13 06:05] #2186 closed

[2022-05-13 08:44] luke-plausin-kidsloop opened #2757 "Cannot create RRSet error while using external-dns controller with AWS network load balancer in the Jakarta (ap-southeast-3) region"
**What happened**:

Hi there
While using this controller for a new EKS deployment in Jakarta I came across this error:

[code]

I thought it was strange because I've run the controller with this setup in other regions without any issues at all.
Then after some research I came across this issue in Github:

https://github.com/kubernetes-sigs/external-dns/issues/1651

I think that to fix the problem

[2022-05-13 10:18] 0m1xa commented on #2529
I join the question.
Any thoughts?

[2022-05-14 15:59] darkn3rd commented on #2463
/remove-lifecycle rotten

[2022-05-14 16:00] samip5 commented on #2299
/reopen
/remove-lifecycle rotten

[2022-05-14 22:33] xhejtman commented on #2425
/remove-lifecycle stale

can somebody look at this?

[2022-05-15 03:22] #2480 closed

[2022-05-15 09:29] tim-sendible commented on #2386
/remove-lifecycle stale

[2022-05-15 23:33] morremeyer commented on #2051
@Raffo @samip5 Could you please set the lifecycle here to frozen?

[2022-05-16 01:23] samip5 commented on #2051
I cannot do that tho?

/lifecycle frozen

[2022-05-16 01:25] samip5 commented on #2300
/lifecycle frozen

[2022-05-16 04:43] KyleMartin901 opened #2761 "Ambassador Host Source doesn't use the label filter"
**What happened**:

When two External-DNS deployments have the `ambassador-host` source enabled and the label filter set if a Ambassador Host resource contains a label that matches the label filter it has no effect. The first External-DNS deployment to process the Ambassador Host resource is the one that will own the DNS records even if the annotation filter doesn't match.

**What you expected to

[2022-05-16 14:16] raxod502-plaid commented on #178
Sorry, would you mind clarifying what you're asking?

[2022-05-16 14:28] raxod502-plaid commented on #2135
No. Even if you cache the zones list, ExternalDNS still makes hundreds of API requests to fetch the entire records list on every sync, which blows out the rate limit every time there is an update.

[2022-05-17 09:57] golx opened #2762 "TXT records with multiple targets are not handled properly"
**What happened**:
I have multiple TXT records for one of my domains, some of them are not managed by `external-dns` TXT registry.  This results in TXT endpoints with several targets coming from the DNS provider, but TXT registry just takes the first target.
https://github.com/kubernetes-sigs/external-dns/blob/master/registry/txt.go#L107
This results in either:
* A record not updated by `external-

[2022-05-17 14:57] rnkhouse commented on #2748
@lou-lan @darkn3rd Can you please help here with what can be done to use the same DNS from multiple clusters?

[2022-05-17 22:02] borchero commented on #1257
I built [Switchboard](https://github.com/borchero/switchboard) to solve this issue: it is a Kubernetes operator which watches all `IngressRoute` objects in your cluster and generates `DNSEndpoint` (an external-dns CRD) resources as required.

[2022-05-18 00:33] darkn3rd opened #2763 "AWS provider fails with service LoadBalancer type on EKS"
**What happened**: It seems that AWS provider no longer works.  ExternalDNS is creating an Invalid `A` records are created for ELB hostnames. e.g. `xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-xxxxxxxxxx.us-east-2.elb.amazonaws.com.`  This is using EKS cluster, and deploying a service object with ExternalLB type.

**What you expected to happen**: I expected that there would be `CNAME` records for non-IP addre

[2022-05-18 07:19] sridharanrg opened #2764 "While creating external dns with eks for godaddy error unknown long flag '--godaddy-api-key'""
apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-dns
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: external-dns
rules:
- apiGroups: [""]
  resources: ["services"]
  verbs: ["get","watch","list"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get","watch","list"]
- apiGroups: ["extensions","networking.k8s.io"]
  resources: ["ingresses"]
  verbs:

[2022-05-18 17:49] #2486 closed

[2022-05-18 20:27] tstraley commented on #2763
AWS Route53 has a special category called an Alias record https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/resource-record-sets-choosing-alias-non-alias.html

When you provision an ELB in AWS for a Kubernetes Load Balancer, the external-dns AWS provider will use that ELB and assign it as an alias record. This record will provide an authoritative response to DNS queries with the IP address

[2022-05-19 08:10] darkn3rd commented on #2763
Closing as not reproducing.

[2022-05-19 08:10] #2763 closed

[2022-05-19 08:25] Raboo commented on #2048
/remove-lifecycle stale

[2022-05-19 08:25] Raboo commented on #2048
This bot is really annoying

[2022-05-20 17:24] AndrewDryga commented on #1616
/remove-lifecycle stale

[2022-05-21 05:08] #2392 closed

[2022-05-22 11:21] #961 closed

[2022-05-22 19:27] Evesy commented on #854
/remove-lifecycle rotten

[2022-05-22 19:27] Evesy commented on #854
/remove-lifecycle stale

[2022-05-22 21:49] drfrink commented on #2407
I'm running into the same issue

yaml file below,

running on 1.23.6 and v.0.10.2
[code]

[2022-05-22 23:33] eaglesemanation commented on #2616
/remove-lifecycle stale

[2022-05-23 18:51] cschmatzler commented on #2044
/remove-lifecycle rotten

[2022-05-24 00:23] divoxx commented on #2653
This is still happening:

[code]

[2022-05-24 03:52] zhodowanec commented on #1372
/remove-lifecycle rotten

[2022-05-25 08:05] Raffo commented on #2675
@ranjishmp https://github.com/kubernetes-sigs/external-dns/pull/2755 was approved, do you have any other PR that you want to get in to add yourself as maintainers of the provider?

[2022-05-25 08:20] ranjishmp commented on #2675
@Raffo cc @skudriavtsev Yes, we have few more which are under internal testing now. Will raise them soon

[2022-05-25 08:20] #2045 closed

[2022-05-26 16:02] mac-chaffee opened #2773 "v0.12.0: Improve migration process for txt-prefix/suffix users"
v0.12.0 will introduce the new TXT record format which includes the record type in the name: https://github.com/kubernetes-sigs/external-dns/pull/2157

But for people currently using `--txt-prefix`, `--txt-suffix`, migrating to v0.12.0 will be a little annoying.

Currently, using CNAMEs is not possible by default, so you have to add a prefix or suffix to avoid the TXT and CNAME records conflicting

[2022-05-26 21:13] SuNDeeP-P opened #2774 "Unable to create DNS records under specific namespace, tested with images 0.10.x and 0.11.x"
I've used the following template to create external DNS and end goal is to register service (like Load Balancer) in azure private dns. But when i use Role and Role binding to a specific namespace, things break. will following errors.

[code]

external-dns service should be able to register dns records within a specific namespace.

Using the above template, you can reproduce the issue.

I see many

[2022-05-27 14:17] Raffo opened #2776 "Release Helm chart for v0.12.0"
The release notes still say to create an issue. Is this the right way or should we update them with instructions on how to do the release? /cc @stevehipwell

[2022-05-27 14:34] stevehipwell commented on #2776
@Raffo I think this is still the correct way to work. I think the chart release instructions are documented but the issue allows a bit more visibility. In this case I'd like to make a couple of changes to go with the release.

[2022-05-27 14:35] stevehipwell commented on #2776
/assign @stevehipwell

[2022-05-27 17:27] MateusAmin commented on #2189
/remove-lifecycle rotten

[2022-05-27 18:20] evandam commented on #1441
Just adding it would be great to see a solution for handling things. I have a similar use case where we have a blue/green EKS cluster where both are running ExternalDNS and they would otherwise try to overwrite each other's Route53 records.

[2022-05-28 02:04] abursavich commented on #2045
🍾

[2022-05-28 02:05] abursavich commented on #2045
🍾 🥂 🥳 🎉

[2022-05-29 16:39] Nefelim4ag commented on #2467
Same on 0.12 external-dns
[code]

[2022-05-29 23:06] #2495 closed

[2022-05-30 22:35] anch2150 opened #2778 "RFC2136 Error "missing port in address" in 0.12.0. The same config worked in 0.11.0."
**What happened**:
Cannot update DNS using RFC2136. Config is at the bottom.
[code]

**What you expected to happen**:
Update DNS without error

**How to reproduce it (as minimally and precisely as possible)**:
Upgrade from `0.11.0` to `0.12.0` without any arg changes

**Anything else we need to know?**:

**Environment**:
- External-DNS version (use `external-dns --version`): 0.12.0
- DNS provider:

[2022-05-30 23:39] nickperkins commented on #2629
/remove-lifecycle stale

[2022-05-31 08:24] slimshetty opened #2780 "Deprecated UltraDns API"
**What happened**:
External Dns failing to create dns records in UltraDns. The domain name filter that is provided is tv3cloud.com , but external dns is skipping records with this domain name.

POD LOGS
time="2022-05-31T08:07:41Z" level=info msg="Skipping record txt-k8sprom-a.play.mr.tv3cloud.com. because no hosted zone matching record DNS Name was detected"

DEPLOYMENT ARGS:
  args:
  - --source=

[2022-05-31 11:24] psi-4ward commented on #2240
/remove-lifecycle stale

[2022-06-01 15:38] MateusAmin commented on #2189
This automated solution would remove the need for this manual assignment feature:

https://github.com/kubernetes-sigs/external-dns/issues/588

[2022-06-01 19:09] scottd018 opened #2784 "Testing for RFC2136 w/ Kerberos"
**What would you like to be added**:

The ability to test, in some form or fashion, RFC2136 w/ Kerberos (aka RFC3645).  The testing is sufficiently complex as the methods that run it generally require access to a running KDC (or would require one to be running locally).

**Why is this needed**:

As future changes occur, issues such as https://github.com/kubernetes-sigs/external-dns/issues/2778 are

[2022-06-01 23:13] Nuru commented on #2754
Duplicate of #1421

If you try to set the TTL but the API does not support it, you will get constant drift and constant attempts to fix it.

[2022-06-01 23:14] Nuru commented on #1959
Does this still happen if you remove the TTL annotation? See #1421

[2022-06-02 12:30] #2450 closed

[2022-06-02 15:04] karlschriek commented on #2724
https://github.com/Azure/go-autorest/pull/680 has been merged, the functionality is included in the latest version (github.com/Azure/go-autorest/autorest/adal v0.9.20).

I hacked together a solution for this earlier by making the following changes in provider/azure/config.go:

1. Added `useWorkloadIdentity` bool to the JSON string
[code]

Add the following section to `func getAccessToken`

[code]

[2022-06-02 16:52] kolorful commented on #1959
@Nuru it does not, but ideally external-dns should probably just ignore the TTL instead of keep upserting.

[2022-06-02 20:44] ndlanier opened #2787 "Cloudflare not creating root A record and is deleting manually created records"
**What happened**: ExternalDNS is not creating A records for Cloudflare provider only txt records. It is also deleting manually created A records that I made to compensate for the issue.

**What you expected to happen**: I expected ExternalDNS to create at least the A record for the root.

**How to reproduce it (as minimally and precisely as possible)**: Using a domain name bought and manage throu

[2022-06-03 10:49] koooni opened #2790 "Additional Record Type TXT records can not be applied due to length"
We have been using external-dns for quite a while, but haven't updated the chart. As we recently did this, we had to realize we need to rollback, because external-dns is not able anymore to create the records. specifically, the problem is that due to the additional TXT record that is added, the domain long gets too long, which then is rejected by the google cloud dns api. (yes, we have quite long

[2022-06-03 16:27] SteezyCougar opened #2791 "External-DNS flapping with conflicting DNS annotation hostname values"
**What happened**:

When two services are deployed with the exact same hostname annotations ExternalDNS doesn't recognize any kind of conflict and instead flaps the record in route53 between the two services on every run.

**What you expected to happen**:

ExternalDNS would recognize a conflict, and refuse to update the route53 record until only a single app contains the specific annotation, leavi

[2022-06-03 17:19] SteezyCougar opened #2792 "Log warnings for services that match annotation/deployment filters where the TXT record does not match the owner."
**What would you like to be added**:

When a service has all required annotations (including filtered ones), and the filtered domain matches the host value then normally ExternalDNS would update/delete or control that record.

If that record already exists (Created externally) ExternalDNS does nothing and does NOT log any kind of warning or error. For situations where externalDNS would update that

[2022-06-03 21:46] bharathbethi opened #2793 "external-dns is unable to sync AWS records"
Recently I tried migrating service loadbalancer from one cluster to another but when looking the external-dns logs I see below error.
[code]

for policy, I got upsert-only.

Please let me know if I'm something here.

[2022-06-05 09:04] Paragon1970 commented on #2685
Re-highlighting this issue. As there has been no reply.

[2022-06-06 02:52] Nuru commented on #1959
@kolorful My point is that if removing the TTL annotation fixes the problem, then the `--txt-prefix` is not the issue, and you are instead running into #1421 and should close this in favor of #2754 which correctly states the problem.

[2022-06-06 06:45] george-angel commented on #409
/remove-lifecycle stale

[2022-06-06 09:56] devops-cafex commented on #2790
We are hitting similar issues with route53 and have also needed to role back

To add to the case above, external-dns could not delete records that it had previously created

Senario

0.11.1 External dns version adds a record with the `A` and `TXT` then upgrade to to 0.12.0 and we try to remove that record and the batch fails as its expecting a `cname-` additional `TXT` record which is not present

[2022-06-06 10:14] k0da commented on #2790
It is the plan to keep only new format in the future. What is missing though is the record length validation. It shouldn't exceed 63 bytes.

[2022-06-06 11:20] michelzanini commented on #164
/remove-lifecycle rotten

[2022-06-06 11:20] michelzanini commented on #164
/reopen

[2022-06-06 14:43] kevin-fitzgerald commented on #961
In my case, I had copied the example pdns provider configuration from the documentation, resolved the namespaces issues, and applied to a v1.22 Kubernetes cluster.  The pdns example hardcodes the container version to 0.7.6, which per the External DNS documentation is not compatible with Kubernetes 1.22.  I updated the container version to 0.10.0 and it started working.

[2022-06-07 12:23] KyleMartin901 commented on #2632
/remove-lifecycle stale

[2022-06-07 15:13] xahhy commented on #2674
I met the same issue. I used the chart version `6.5.2` for setup it on multiple k8s clusters. and the DNS record was deleted by another cluster. seems like it's not identify cluster level ownership

[2022-06-07 18:35] ConnorJC3 commented on #1281
/remove-lifecycle stale

[2022-06-08 08:11] universam1 commented on #2790
This also presents a breaking change for us, and the length reduction via the `cname` record is an issue for us

[2022-06-08 08:47] euangoddard opened #2798 "Support Istio Gateways and Virtual Services using v1beta API"
**What would you like to be added**:

At the moment it is possible to watch for Istio gateway and virtual services, However, only resources that use the `networking.istio.io/v1alpha3` API version are found. Istio supports the `networking.istio.io/v1beta1` but it can't be used with external DNS at the moment.

**Why is this needed**:

Eventually Istio will eventually deprecate the `v1alpha3` versio

[2022-06-08 09:11] cg-lkusnadi commented on #2793
We are seeing the same error message.
In addition, there's a "cname-" prefix added to the TXT record. The txtPrefix in helm is set to "".

[code]

Anyone has an idea why the "cname-"? Thanks.

[2022-06-08 10:23] stevehipwell commented on #2446
[Using secrets as environment variables](https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-environment-variables) is already supported in the Helm chart via the `env` value.

[code]

As a side note is there anywhere in this repo where secrets are passed in as plain text? If so we would want to get that changed, this is a longstanding K8s pattern which, at least to me, is i

[2022-06-08 11:11] #2674 closed

[2022-06-08 15:08] tombokombo commented on #2793
Now it creates/deletes old and new txt owner records - new records are with type eg.cname
https://github.com/kubernetes-sigs/external-dns/blob/f3e04dfe8c46853966b878ec76f3eeb6b2ed1441/registry/txt.go#L152-L157
Changes to provider are send in bateches and it looks like AWS refused whole batch when it hits non existing record ( new one with type ).

[2022-06-08 16:51] HighWatersDev opened #2800 "Provide an option for a list of namespaces to watch"
**What would you like to be added**:
I'd like to be able to limit ExternalDNS to only specific namespaces. Ie, it should have an optional field to provide a list of namespaces to watch. If list is not provided, then `watchAllNamespaces` should be set.

**Why is this needed**:
In our particular use-case, some namespaces create temporarily services and then destroy them. With `upsert-only` option, t

[2022-06-08 17:46] oliverpark999 opened #2801 "external-dns pod does not run normally.."
Hello,
EKS Cluster is trying to automatically configure the domain of Route53 using external-dns.
It's the way I tried.
1. helm install dns external-dns/external-dns
2. External-dns/Chart/values -> Help upgrade after modifying the value.yaml
3. kubectl apply -f external-dns-RBAC.yaml
However, the external-dns pod does not run normally.

#########
Logs
#########
Controlled By:  ReplicaSet/external-

[2022-06-08 23:21] #1982 closed

[2022-06-09 07:57] joaocc opened #2802 "Reduce unintended dissemination of internal data on txt-owner-id records"
**What would you like to be added**:
Make the content of txt-owner-id records based on a hash of the current information.
It could be a hash of each individual data element, or an be a hash of combined info of all records.

**Why is this needed**:
txt-owner-id records currently expose a set of information in cleartext (namespace, internal service name, ...) which can provide insights into the inte

[2022-06-09 11:13] rust84 commented on #2793
We are also seeing these errors. In sync mode.

[code]

The zone is used for testing so I went as far as to delete all of the records but the error came back. The issue is not seen on 0.11.  Definitely seems to be related to https://github.com/kubernetes-sigs/external-dns/pull/2157

[2022-06-09 11:18] k0da commented on #2793
I'm trying to reproduce this

[2022-06-10 01:05] kevincox commented on #1263
"complete"

[2022-06-10 01:05] kevincox commented on #1263
/reopen

[2022-06-10 08:15] #2499 closed

[2022-06-10 08:17] #1597 closed

[2022-06-10 08:17] #2747 closed

[2022-06-10 08:17] #2751 closed

[2022-06-10 12:29] #1053 closed

[2022-06-10 14:20] #1263 closed

[2022-06-10 18:29] timbrd commented on #2409
@fabricesemti80 Would you share the fix for the problem? I am currently getting the same error messages.

Thank you.

[2022-06-11 12:42] mdrakiburrahman commented on #2416
Same issue here - based on @willemm's logs above it looks like the Operator is glitching out when reading the owner tag - looks like a string parsing problem.

It also looks like @k8s-ci-robot's has been going around closing various permutations of this exact same issue over the last couple years before someone gets a chance to offer a fix:
* (Windows DNS) https://github.com/kubernetes-sigs/extern

[2022-06-12 01:35] Starttoaster commented on #961
Similarly, I landed here after updating my cluster and suddenly my existing external-dns installations don't work anymore :)

[2022-06-13 07:51] m15o commented on #2793
I got the same error when I delete a resource created by external-dns v0.11.0 with v0.12.0 running.
Resources created by v0.11.0 do not seems to have prefixed TXT records until resource is modified.

[2022-06-13 14:36] #2672 closed

[2022-06-13 17:39] alfredkrohmer commented on #1200
Can we reopen this again please? This is still broken

[2022-06-14 05:13] IvanI3 opened #2810 "Add option to filter private/public IP with Oracle OCI Network Load Balancer"
**What would you like to be added**:
Add option to filter private/public IP when multiple IPs are provided by cloud load balancer

**Why is this needed**:
When use public Network Load Balancer in Oracle OCI environment it creates 2 IPs for NLB: private and public which mapped to service/ingress:
[code]
and the same for Ingress:
[code]
So, external-dns adds both IPs as A-records to the zone, and it

[2022-06-14 19:01] 2rs2ts commented on #2030
/remove-lifecycle stale

[2022-06-14 22:43] wejrox opened #2812 "Wildcard subdomain hostname service annotations are ignored when two levels deep"
**What happened**: External-Dns logs specify that there are no changes to action

**What you expected to happen**: A wildcard subdomain entry  `*.subdomain.example.com` the be created within the Route 53 hosted zone `example.com` on AWS, pointing at my AWS NLB.

**How to reproduce it (as minimally and precisely as possible)**:
- Add external-dns to the cluster

Policy Config
[code]
external-dns he

[2022-06-15 04:24] aslafy-z commented on #2181
/remove-lifecycle rotten

[2022-06-15 04:25] aslafy-z commented on #2181
/remove-lifecycle stale

[2022-06-15 04:47] wejrox commented on #2812
This was user error. I already had a record in Route53 under the requested hostname. The message was misleading, but if you enable `logLevel: debug` as a helmfile override (or `--log-level debug` on the cli) you receive logs saying that the owner doesn't match, which makes sense since the registry txt entry doesn't exist.

[2022-06-15 04:47] #2812 closed

[2022-06-15 08:27] #2778 closed

[2022-06-15 10:05] k0da opened #2816 "Validate length of the record so it won't exceed standard 63 chars"
**What would you like to be added**:
When external-dns creates/takes records under control it should validate record doesn't exceed values defined by [standard](https://datatracker.ietf.org/doc/html/rfc1035#section-2.3.4).

**Why is this needed**:
This implements failing fast practice and gives earlier feed back to operator about possible issues.

[2022-06-15 10:52] misha-ridge opened #2817 "Google Cloud client does not handle missing a- TXT records"
**What happened**:

`external-dns` tried to update some records. Their TXT records with prefix `a-` were missing, and `external-dns` failed to handle it:

[code]

**What you expected to happen**:

`external-dns` can handle missing `a-` TXT records and continue.

**How to reproduce it (as minimally and precisely as possible)**:

- Create a record in Google Cloud via `external-dns`
- Stop `external-

[2022-06-15 21:45] MrBasset commented on #2320
In case anyone comes across this issue and is stuck themselves now that multiple Identities are a regular thing in Azure clusters, you can still use System Managed Identity, you just have to provide the client_id of the main kublet identity in the config file using the `userAssignedIdentityID`. For example

[code]

Perhaps the easiest way to find the kublet ID is to query one of your node pools:
`

[2022-06-17 12:04] anch2150 commented on #2784
Seems samba team is also [moving towards k8s](https://github.com/samba-in-kubernetes/samba-operator/blob/master/docs/presentations/README.md)

From the latest slides [p.16](https://github.com/samba-in-kubernetes/samba-operator/blob/master/docs/presentations/samba%20in%20kubernetes%20-%20sambaXP%202022.pdf), samba team already has an image for testing, which might be usable in this context.

[2022-06-17 12:48] kevincox opened #2820 "Fails to gracefullly swap CNAME for A records."
**What happened**: I was trying to replace a CNAME records with a set of A records controlled by external-dns. I added the required ownership and ran external-dns. However at the end I was left with no A record and no CNAME record, a broken state!

**What you expected to happen**: The CNAME record was deleted.

**How to reproduce it (as minimally and precisely as possible)**:

1. Set up some A rec

[2022-06-17 13:37] szuecs commented on #731
/remove-lifecycle stale

[2022-06-17 13:37] szuecs commented on #731
/important-soon

[2022-06-17 20:19] orirawlings opened #2821 "Domain exclusion filter not being considered since >= v0.9.0"
**What happened**:

Since upgrading to versions after or including v0.9.0, external-dns is trying to manage domains that I've explicitly configured for exclusion.

To summarize, my goal is to allow external-dns to manage any domain for which I have a Route53 hosted zone available, except those I list in an exclusion filter. I've been operating external-dns in this manner for a while. My domain fil

[2022-06-17 21:36] orirawlings commented on #2821
I'm open to suggestions for rephrasing the configuration to achieve my intended setup if this isn't an actual bug.

I'm currently able to work around this by setting multiple empty domain filter entries to trick the domain filter into passing the `IsConfigured()` check. Yes, surprising, I know.

It's because `""` is an overloaded value in the configuration system. In one part of the code, it means

[2022-06-19 07:00] #2490 closed

[2022-06-19 09:10] artem-zinnatullin commented on #2643
As long as Yandex operates in Russia ruled by authoritarian government, Yandex.News shows only government-affiliated propaganda (in general and with regards to Russian war with Ukraine),

Yandex.Taxi [will be sharing private data with FSB](https://www.rbc.ru/technology_and_media/29/03/2022/623d7da59a79474ac84c1669) and I'm sure government will keep creating more laws that'll effectively be turning

[2022-06-19 09:54] ytsarev commented on #2643
I personally don't care about yandex but imho open source as a scientific work should be above any political agenda. Please, don't bring this stuff to our wonderful world of intellectual collaboration.

[2022-06-19 10:27] artem-zinnatullin commented on #2643
@ytsarev comparing support of a commercial API to scientific work is a far stretch.

One could say that Yandex.Cloud actually allows people to run their websites in which they can voice their opinions, which is true. But make no mistake, Yandex will gladly comply with Russian censorship and will deny you service as they did with all non-government media in Yandex.News, Yandex.Music, Yandex.Dzen.

[2022-06-19 10:32] ytsarev commented on #2643
@artem-zinnatullin I understand your point but would be super concerned to create a case when we are not accepting contribution ( or just an idea of contribution ) based on the political narrative. It can be just dangerous and harmful to the community in the long run.

[2022-06-19 12:09] avii-ridge commented on #2817
As far as I'm concerned - we can do the deletion manually during deployment as it is a one time job - and an easy one.
Any objections @misha-ridge ? If there aren't any, let's do it on Monday?

[2022-06-19 12:58] artem-zinnatullin commented on #2643
@ytsarev

Concern you have is valid and I respect it quite a lot, it's always politics and there is very little truth in it. Maintaining an OSS project that is available for everyone is great.

By no means I'm arguing in favor of calling in for a government-like monopoly on power to regulate this or similar cases, whether it's political sanctions of other regimes or say GitHub Support. What I do w

[2022-06-19 16:11] gaurav517 opened #2824 "Support to target podIps"
**What would you like to be added**:
Can we please support exposing podIps for pods, using external-dns.

**Why is this needed**:
Currently if a pod-1 in cluster-1 needs to peer with pod-2 in cluster-2 (in same vpc), using external-dns it can only get clusterIP of service-2 backing pod-2. But that won't be useful because clusterIP won't be accessible by pod-1 in cluster-1. If there is an option to

[2022-06-19 17:11] Raffo commented on #2643
As maintainer of this project, I can only say that I will ask for guidance to the Kubernetes community as this situation won't be a first. We actually already had a pretty bad case related to the situation in Ukraine, with a dependency creating a DoS to this project by making a dependency unavailable from outside or Russia.

I will not share here my personal opinion on the topic because it doesn't

[2022-06-20 03:13] dpedu commented on #1233
/remove-lifecycle rotten

[2022-06-20 06:59] froblesmartin commented on #2310
/remove-lifecycle stale

[2022-06-20 09:52] eburghar commented on #2240
@schmurfy I doubt the feature would be rejected as this is the same use-case as for ingress, and it would just uniformize annotations among types. I'm not really into go, but the patch seems simple enough. Modifying `service.go` [before this line](https://github.com/kubernetes-sigs/external-dns/blob/c5fc57f977b628d1fc83f0a913816324fc02b8b3/source/service.go#L170). 2 functions are involved to turn

[2022-06-20 10:28] vadlungu commented on #2286
Hello everyone , anyone has any luck to solve this issue ?

[2022-06-20 12:31] sebader opened #2826 "Add support for `NS` records for Azure DNS"
**What would you like to be added**:

The Azure DNS backend does not support managing NS records. Not sure if there are some actual road blocks or if this was just never implemented, yet.

https://github.com/kubernetes-sigs/external-dns/blob/master/provider/azure/azure.go#L351-L393

**Why is this needed**:

I'm trying to port [k8gb](https://k8gb.io) to Azure DNS, but this relies on support for NS

[2022-06-20 13:31] jgrumboe commented on #2416
@mdrakiburrahman sorry, to say but I can't support here anymore since I'm not using external-dns or Windows-DNS (never did actually) anymore and can't contribute here.

[2022-06-21 04:27] RossAtOnfinality opened #2832 "AWS Route53 and headless service: extra root domain record is created"
**What happened**:
According to the document: https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/hostport.md
 if we use `example.org` as root domain in Annotation, 3 dns records of the subdomains will be created:
[code]
![WX20220621-160345](https://user-images.githubusercontent.com/95446607/174714163-be9adc01-f59c-4c1f-ab5c-b339903f5729.png)

While using AWS Route53 and hea

[2022-06-21 08:24] alebedev87 commented on #2684
@klamkma : Can you test it with `v0.12.0` of external-dns? There was a fix for the duplicate endpoints: https://github.com/kubernetes-sigs/external-dns/pull/2755.

[2022-06-21 10:27] alebedev87 commented on #2774
What errors?

What do you mean by DNS records with the specific namespace?

You can filter the source endpoints using `--namespace` flag. This is supposed to limit the Kubeclient calls to that particulat namespace. Not sure if it'll be sufficient to use only the local role but you can try.

[2022-06-21 13:44] dippynark opened #2834 "New TXT record blocking updates"
**What happened**:

The new TXT record format https://github.com/kubernetes-sigs/external-dns/blob/master/registry/txt.go#L155-L157 does not get added when upgrading ExternalDNS (only when a record change needs to happen). This means that when a record change does need to happen, ExternalDNS is blocked since the new TXT record doesn't exist (i.e. I am getting a DNS not found error in Google Cloud

[2022-06-21 18:28] SuNDeeP-P commented on #2774
Thanks @alebedev87 for the reply, Namespace filtering works fine. But external dns sync fails when you use Roles and Role Bindings for a specific namespace.

Use Case: Most of the customers do not provide cluster level RBAC permissions to a service account. Hence, application\services scoped to a specific namespace level, where service account will not have access to get node level details.

As pe

[2022-06-22 12:31] mgruener opened #2839 "New TXT record breaks downward compatibility by retroactively limiting record length"
**What happened**:

The change to the TXT registry introduced in #2157 breaks downward compatibility by retroactively limiting the maximum length of managed records. This means even with #2811 implemented, there will be cases where an upgrade from pre 0.12.0 to 0.12.0 will not be possible.

As adressed in #2816, the maximum length of a record is 63 characters. This also holds true for the registry

[2022-06-22 13:57] Linutux42 commented on #2834
I do observe the same problem on AWS Route 53.
Old records using the old TXT format cannot be updated/deleted because the new TXT format is missing.

[2022-06-22 17:11] gaoneto opened #2840 "service-type-filter and annotation-filter flags do not work along with events flag"
First of all, sorry if this is an expected behavior, but I couldn't find anything related to it on the documentations.

**What happened**:

We're trying to reduce as much as possible the number of [API calls to Route53](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md#throttling), due to the increase of k8s clusters using external-dns which my team manages, and con

[2022-06-23 10:56] dippynark commented on #2834
Certainly a breaking changes section in the release notes would be useful here: https://github.com/kubernetes-sigs/external-dns/releases

I did look through but the change was described as `Registry record type` which didn't seem alarming

[2022-06-24 02:11] luweilevi commented on #2834
I experienced an similar issue with external dns with aws route53. The new txt records cannot be found, which cause external dns failed to update the records.

`InvalidChangeBatch: [Tried to delete resource record set [name='cname-******.****.***.', type='TXT'] but it was not found,`

[2022-06-24 10:26] dcristobalhMad commented on #2286
Here the same problem :(

[2022-06-24 10:48] gfinocchiaro opened #2843 "Duplicate env key in Route53 tutorial"
**What happened**:
The [Manifest](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md#manifest-for-clusters-with-rbac-enabled) for cluster with RBAC enabled contains a duplicated `env` key under the container section:

[code]

**Environment**:
- Others: Tutorial [Setting up ExternalDNS for Services on AWS](https://github.com/kubernetes-sigs/external-dns/blob/master/do

[2022-06-24 14:48] klamkma commented on #2684
@alebedev87, I tested the new `v0.12.0` and the effect is worst than before.

We have multiple kubernetes clusters.
On each cluster we have external-dns where one cluster has `--txt-owner-id=a` and another one `--txt-owner-id=b`.

In the moment I applied the new service on cluster `A` with `repeated` DNS Record, we had a missive deletion/recreation of all DNS records, including records created by

[2022-06-24 23:02] #2776 closed

[2022-06-25 12:40] adyanth commented on #2627
/remove-lifecycle stale

[2022-06-26 10:41] ayush-jain1 opened #2846 "Contribute -- Add fine-grained network policies to GKE tutorial guide"
If exteral-dns is running in a namespace with default-deny network policy then below network policies are needed for external-dns to function
Sharing granular network policies i came up after 2 days of work, please add this to the guide

**What would you like to be added**:
Add network policies to the gke tutorial guide [here](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutori

[2022-06-26 13:30] #2195 closed

[2022-06-26 17:30] #2540 closed

[2022-06-26 23:04] mlushpenko opened #2848 "Ambassador Host with a missing service reference prohibits any DNS updates"
**What happened**: DNS updates got broken due to an error with the ambassador source

**What you expected to happen**:  Errors for each DNS source should be isolated from each other

**How to reproduce it (as minimally and precisely as possible)**: Deploy the `bitnami/external-dns` helm chart version `6.5.6` with the following values:

[code]

The important part is below, the rest is just for repr

[2022-06-27 05:16] ranjishmp commented on #2675
Hi @Raffo cc @skudriavtsev

We created this PR and is pending for review - https://github.com/kubernetes-sigs/external-dns/pull/2841

This PR contains support for certificate based authentication and bugfixes

[2022-06-27 16:59] myoung34 commented on #2286
Im also having no luck with Traefik 2.6.3 and External-DNS 0.12.0

Traefik is configured as:

[code]

[code]

The ingressroute for traefik:

[code]

but external-dns is never finding anything to do:

[code]

I dont have `unrelateddomain.tld` defined _anywhere_ so I know its picking up from Route53 just fine but its not seeing the annotation ive added to the service

I also know the ingressroute/se

[2022-06-27 19:50] svengreb commented on #2286
Somehow it seems to have gone under here, but this issue keeps popping up in my notifications.
In short: **Traefik's CRDs like `IngressRoute` and its variants `IngressRouteTCP` & `IngressRouteUDP` are NOT SUPPORTED!**
The [external-dns FAQ explictly mentions which controllers are supported][1] and Traefik is listed, but this is scoped to Traefik as ingress controller, **not its CRDs**.

I created

[2022-06-27 19:59] lucasmellos commented on #1441
I'm having the same issue as well. It's important for multi-cluster architectures

[2022-06-27 20:05] svengreb commented on #2286
Yeah, the `switchboard` workaround looks like a good "in the meantime" solution for many users, maybe some parts of it can be ported into external-dns later on to support it officially.

Regarding the issue notifications: sure, unsubscribing is always a way, but then I will also miss possible replies from the maintainers about updates or possible solutions (release announcement etc.). I also mista

[2022-06-28 12:22] benarnold42 commented on #2326
/remove-lifecycle rotten

[2022-06-28 12:22] benarnold42 commented on #2615
/remove-lifecycle stale

[2022-06-28 12:23] benarnold42 commented on #2326
/remove-lifecycle stale

[2022-06-29 01:45] Nefelim4ag commented on #2764
Just use a recent image, at least, you are reporting an issue with 0.7.7, but the latest is 0.12.0

[2022-06-29 01:48] Nefelim4ag commented on #2801
Helm must install rbac for you, try to use at least a more recent version of external DNS.
0.7.6 was released 2 years ago.

[2022-06-29 08:03] Raffo commented on #1861
## 2022-06-29

We have a bug in the v0.12.0 release, being addressed in https://github.com/kubernetes-sigs/external-dns/pull/2811 .

[2022-06-29 08:12] #2843 closed

[2022-06-29 17:36] szuecs commented on #1517
/important-soon

[2022-06-30 05:32] #2801 closed

[2022-06-30 07:58] szuecs commented on #1517
/remove-lifecycle stale

[2022-06-30 18:25] DerEnderKeks commented on #2313
/remove-lifecycle rotten

[2022-06-30 20:37] marinoborges commented on #2834
We were affected by this issue as well and resolved by downgrading to v0.11.1. In our case it would be desirable to keep the records **with** the _txtPrefix_ but **without** the _record_type_ because this would cause many records to hit the record size limit (maximum length of a record is 63 characters) as described here #2839

[2022-06-30 23:21] #2504 closed

[2022-07-01 02:23] #2561 closed

[2022-07-01 08:12] #2497 closed

[2022-07-01 12:39] nicholasklem opened #2854 "Setting txt-prefix to "" gives quotation marks in dns"
**What happened**:
The upgrade to 0.12 did not pick up the old records. So instead of spending time on it I tried to circumvent the change by unsetting txt-prefix by
[code]

Instead it produced txt records prefixed with `""`:

[code]
**What you expected to happen**:
For external-dns to recognise the old records.

**How to reproduce it (as minimally and precisely as possible)**:
start with --txt-pr

[2022-07-01 14:49] matmicro opened #2855 "Refresh missing while updating record from A to CNAME"
**What happened**:
Zone DNS is not updated while changing a subdomain from type A to type CNAME

**What you expected to happen**:
Refresh (ApplyChange) should be performed.

**How to reproduce it (as minimally and precisely as possible)**:
Using OVH provider.
Create an entry (which use external-dns to update) which is an IPv4 (x.x.x.x), then DNS record A will be created.
Update your resource to be

[2022-07-01 15:12] matmicro commented on #2855
In case a record is modified from A to CNAME, does the external-dns should do the DELETE and then CREATE of that record ?
Is it currently the case ?
Or does it do an update and refresh, but then the refresh is rejected as an entry with the same name is already existing ?

[2022-07-02 01:29] ghostsquad commented on #484
/remove-lifecycle stale

[2022-07-03 12:35] pinkfloydx33 commented on #2724
Looking forward to this; trying out the preview for MI support and hitting blocks like this across various tooling that doesn't support AZWI

[2022-07-03 16:20] botzill commented on #1070
Hi. Is this an issue or it should be like this? As I get same messages.

[2022-07-03 16:21] botzill commented on #1070
Hi.

Is this an issue? as I get this messages as well.

[2022-07-04 00:50] #2474 closed

[2022-07-04 03:08] Matthew-Beckett commented on #2810
I am also encountering this problem where `LoadBalancer` type services created in OCI with the annotation `oci.oraclecloud.com/load-balancer-type=nlb` end up with their internal private IPv4 address appended to the "External IPs" and thus the A record created by external-dns.

Should this be something potentially discussed upstream at [oci-cloud-controller-manager](https://github.com/oracle/oci-cl

[2022-07-04 06:09] deepto98 commented on #1975
Can I pick this up, I'm new to k8s, so would need some guidance.

[2022-07-04 07:08] DerEnderKeks commented on #1961
/remove-lifecycle stale

[2022-07-04 15:25] hobti01 commented on #2790
We are seeing this issue: Updates are blocked in the batch change because external-dns is attempting to delete records that do not exist and failing instead of continuing.
[code]

[2022-07-04 23:07] Volatus commented on #2780
@slimshetty Could you try running at a verbosity level and post the results?

[2022-07-05 05:38] slimshetty commented on #2780
@Volatus  I have pasted both the debug level and verbose level( --log-level=warning ) logs below. pls note i have edited the debug logs to hide the record names and ips. From the debug logs it is clear that the ultradns api (**https://api.ultradns.com/zones/?&q=name:tv3cloud.com&offset=0&limit=1000**) is not returning any zones and hence external dns is not matching our records. The api needs to b

[2022-07-05 06:31] DalianisDim commented on #2798
FWIW, both `virtualservices.networking.istio.io` and `gateways.networking.istio.io` come with both `v1alpha3` and `v1beta1` on their current CRDs. Both have `served: true` but only `v1alpha3` has `storage: true` which means that objects are actually stored on `v1alpha3` version and served on both `v1alpha3` and `v1beta1` based on request.

Therefore you can use `v1beta1` with `external-dns` at the

[2022-07-05 07:02] alebedev87 commented on #2790
@hobti01 : https://github.com/kubernetes-sigs/external-dns/pull/2811 is intended to address the problem of the deletion of the new format TXT records.

[2022-07-05 08:24] DalianisDim opened #2858 "External-dns deletes all DNS records under management when k8s API call timeout occurs"
**What happened**:
We use `external-dns` on a Zonal GKE cluster. Zonal clusters have a single control plane in a single zone, therefore k8s API can be unavailable from time to time. External-dns is configured to use Istio `Gateways` and `Virtualservices` as sources.

We saw `external-dns` deleting ALL DNS records under its management when an API timeout occurs:

Timeout messages:
[code]

Two secon

[2022-07-05 09:17] DalianisDim commented on #2858
We don't use either. Everything is managed through `Virtualservices`.

Example TXT record:

[code]

[2022-07-05 09:44] Volatus commented on #2780
@slimshetty I've gone through the code and made a PR to update the Go SDK for UltraDNS to be a much newer version, hoping that fixes the problem. If the PR gets merged, this thread will close but feel free to reopen the issue and @ me and I'll take what we can do to fix it.

[2022-07-05 12:56] lukipro opened #2860 "Wildcard entries do not set the Cloudflare-specific proxied option"
**What happened**:
Wildcard DNS entries are not created with `proxied` enabled.

**What you expected to happen**:
Wildcard DNS entries are created with `proxied` enabled.

**How to reproduce it (as minimally and precisely as possible)**:
Create an ingress like this `*.mydomain.dev`. Wait for external dns to reconcile. The actual entry in Cloudflare is without proxy.

**Anything else we need to kno

[2022-07-05 13:04] minkimipt opened #2861 "Can't build external DNS because of mismatched checksum"
**What happened**:

Attempting to build `external-dns` from source fails due to a mismatched module checksum:

[code]

**What you expected to happen**:

Build should go through

**How to reproduce it (as minimally and precisely as possible)**:

Attempt to build from master branch

**Anything else we need to know?**:

**Environment**:
- External-DNS version (use `external-dns --version`):
- DNS pro

[2022-07-05 14:17] szuecs commented on #2858
https://github.com/kubernetes-sigs/external-dns/pull/2811
Might be related and is also shown in release page.

[2022-07-06 05:07] #2209 closed

[2022-07-06 06:29] nrjsingh167 commented on #2407
I hit the issue after the cluster upgrade to 1.22, However, after checking the logs it says
1. failed to sync *v1.Endpoints: context deadline exceeded
2. failed to sync *v1.Ingress: context deadline exceeded"
After that, I updated cluster role with new permission.(add listing of Endpoints and Ingress) and issue get resolved.
Please check the logs and you will get possible reasons.

- apiGroups: ["

[2022-07-06 08:32] jkroepke opened #2862 "Azure: Workload identities supported?"
Azure introduce federated identities that works similar like [IRSA](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html) or [Workload Identites](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity?hl=de).

See also:
* https://azure.github.io/azure-workload-identity/docs/
* https://blog.identitydigest.com/azuread-federate-k8s/

Edit: Looks like

[2022-07-06 10:13] slimshetty commented on #2780
@Volatus i made these changes locally and built a new image. Tested the new image it did not fix the issue. I also tried changing the ultradns base url to https://api.ultradns.com/v3/ after that i see these 404 logs

time="2022-07-06T10:04:27Z" level=error msg="Get \"https://api.ultradns.com/v3/zones/?&q=name:tv3cloud.com&offset=0&limit=1000\": oauth2: cannot fetch token: 404 Not Found\nResponse:

[2022-07-06 10:19] Volatus commented on #2780
@slimshetty
<img width="1122" alt="image" src="https://user-images.githubusercontent.com/46189206/177528697-2a0d892a-0f71-448f-8446-248fae4b25c9.png">

[2022-07-06 13:27] Volatus commented on #2780
If the 2nd SDK you mentioned worked with your testing, then I can look into migrating the provider to the other one. Can you confirm it worked with the v3 API on the new SDK?

[2022-07-07 00:06] ajacques commented on #2451
/remove-lifecycle stale

[2022-07-07 00:11] tejaspbajaj opened #2863 "Existing weighted CNAMEs and Route 53 A alias records cause External-DNS to error with InvalidChangeBatch"
**What happened**:
When a weighted CNAME or A alias records exist, external DNS does not skip attempting to create an A and TXT records for the same name and then errors with
[code]

**What you expected to happen**:
Expectation is for External DNS to account for the existing weighted CNAME and skip creating a new record with the same name instead of attempting and then erroring.

**How to reproduc

[2022-07-07 09:38] minkimipt commented on #1646
@seanmalloy https://github.com/kubernetes-sigs/external-dns/pull/1023 has rather introduced that behaviour. From my testing `externalTrafficPlolicy: Local` remains of limited use in scenarios when pod changes its original node. In such scenario connectivity to that pod exposed via a NodePort service will break for the duration of local DNS cache lifetime for the record pointing to the old node bec

[2022-07-07 12:16] azamora-zsc commented on #1420
Please reopen this issue as it's not solved. The workaround above works and right now I'm forced to use it but it's dirty and not the right way to proceed.

[2022-07-08 06:06] ailurarctos commented on #2791
I think this happens because the deduplication logic ([here](https://github.com/kubernetes-sigs/external-dns/blob/c588f848d6856ba0e537ded87749df8a70dc8e1f/source/dedupsource.go#L48)) is unaware of the resource label. Thus if the DNS name, set identifier, and targets are the same then only one endpoint will make it to the [plan](https://github.com/kubernetes-sigs/external-dns/blob/c588f848d6856ba0e

[2022-07-09 09:23] schmurfy commented on #2240
I was on vacation, good job on your pr, I hope it gets merged.
In the meantime I was considering going with https://github.com/borchero/switchboard as an alternative to do the same.

[2022-07-09 18:27] bkk-bcd commented on #2430
/remove-lifecycle rotten

[2022-07-10 07:08] slimshetty commented on #2780
@Volatus instead of using the new sdk which would require to rewrite the entire ultradns.go I updated the zones uri in the existing sdk. Along with the uri there are some changes to the pagination info the api returns. It does not return ResultInfo anymore and instead returns CursorInfo with page id of first, next , previous and last pages. More details on the change can be found here : https://do

[2022-07-10 18:01] #2470 closed

[2022-07-12 00:11] #2587 closed

[2022-07-12 05:27] ecojan commented on #2692
/remove-lifecycle stale

[2022-07-13 02:46] sepulworld commented on #2706
/remove-lifecycle stale

[2022-07-13 12:01] sergiosanche opened #2880 "podDisruptionBudget support"
**What would you like to be added**:

podDisruptionBudget support. A variable podDisruptionBudget where I can specify a podDisruptionBudget for external-dns.

**Why is this needed**:

I'm using cluster autoscaler and external-dns doesn't allow autoscaler to remove nodes with external-dns pods because podDisruptionBudget is not implemented.

[2022-07-14 16:00] z0rc opened #2884 "Option to use only new TXT format"
**What would you like to be added**:
I would like to migrate to new TXT format early, so only one TXT record created per regular record. Right now there is no way to tell ExternalDNS to do so, it always creates 2 TXT records.

**Why is this needed**:
With switch to ExternalDNS 0.12.0 we've hit limit on records number in one DNS zone in Cloudflare, which is 1000 with our plan. Due to using new TXT

[2022-07-15 05:38] karlschriek commented on #2724
Sorry for the long silence, I'll try to make some time to create a PR on this. I want to come back to the issue of refreshing the token. Is there some logic loop within external-dns that can take care of this? I.e., tries, fails, restarts the flow to get a token which will evetually hit the block of code under `if cfg.UseWorkloadIdentity` again?

[2022-07-15 10:17] karlschriek commented on #2724
Just to be really clear, we actually don't need to do anything to refresh the token. The AWI webhook takes care of that. I.e., periodically the contents of the file located at the path stored in `$AZURE_FEDERATED_TOKEN_FILE` is updated with a new token. All we need to do is make sure that this file is re-read. @pinkfloydx33 This I think is what first first approach you are describing above impleme

[2022-07-15 12:00] pinkfloydx33 commented on #2724
Right, this should only be "tricky" if external-dns is caching the file/token, since the AZWI webhook rotates it out as necessary.

That said you may want to look at Keda. They implement the first patten in a way that's very, very close to the official example. If you [look at the sample](https://github.com/Azure/azure-workload-identity/blob/main/examples/msal-go/token_credential.go) , they don't

[2022-07-15 12:21] karlschriek commented on #2724
I see they use `microsoft-authentication-library-for-go`, not just `adal`. Without going into it too deeply, it actually looks like a less abstracted implementation, since they after calling `NewCredFromAssertion` go an an AADToken object. The getAccessToken function in external-dns is set up to return an `adal.ServicePrincipalToken`, which is exactly what you get back from the `NewServicePrincipa

[2022-07-15 12:25] pinkfloydx33 commented on #2724
Ah OK makes sense. As I said above, I'm not too knowledgeable in any of the tools. Ignore me :)

[2022-07-15 13:20] tmnik opened #2886 "ExternalDns Source: service how connect to port 5432 with Data Grip"
Hello!
I want to connect to database with datagrip. Database in cluster k8s.
I setup bind9 rfc2136 and ExternalDns to my custer k8s.
It works and i see how dns add A to my zone.
And I try to connect from my local machine to this service and sometimes I can do that, sometimes no. And I can connect to database from cmd, but when I use Data Grip and very often I see an error or I can connect to node

[2022-07-15 18:49] darkn3rd commented on #2724
How similar is Azure WI to Google's WI?  Does cert-manager support Azure WI yet?

[2022-07-15 19:38] pinkfloydx33 commented on #2724
Also, at the moment AZWI is tied to App Registrations only. In private preview they now have support for managed identities. It is going to replace "pod-identity v1 preview" for anyone who might have that *extension* installed in their AKS cluster (the OSS project for pod-identity is sticking around so far as I know)

[2022-07-16 20:35] shettyvaishak commented on #2780
@Volatus can you help with raising a pr here i am not able to, i have updated the sdk and tested it out locally there seems to be no issues. I was not able to update the existing repo so i forked it and made the changes
https://github.com/shettyvaishak/ultradns-sdk-go

Along with updating the imports also need to update the pagination logic currently the logic is to get the resultInfo and use offs

[2022-07-16 20:48] Volatus commented on #2780
@shettyvaishak Sure I can try and help out. The diff you provided does not apply though, can you make sure your fork is up-to-date with the upstream and recreate the patch? You can email it to me. You can create the patch using `git format-patch -1 HEAD`. This will create a patch from the latest commit. (make sure it's your commit) Or you can do `git format-patch -1 <sha>` with the specific commit

[2022-07-17 11:11] #2568 closed

[2022-07-18 04:17] #2607 closed

[2022-07-18 15:03] tmaroschik commented on #2435
This problem also exists with 0.12.0

/remove-lifecycle rotten

[2022-07-19 06:10] adyanth commented on #2526
/remove-lifecycle stale

[2022-07-19 11:12] sylr commented on #1877
Same with the NLB.

[2022-07-19 14:59] wmarchesi123 commented on #2156
@farodin91 Can you reach out to the email in my GitHub profile? I am working on a multi-cluster same hostname solution and would love to chat!

[2022-07-19 15:47] scardena opened #2892 "Route53 Records are not getting cleaned up after ingress/service removal"
**What happened**: We created an ingress/service object while using External-dns + the ALBc (previously AWS Ingress controller), but then deleting the ingress or service object, the Route53 records don't get cleaned up

**What you expected to happen**:
We expected that cleaning up all K8S resources (ingress / svcs) the external DNS would pick up the changes and clean up the Route53 records

**How

[2022-07-19 16:09] scardena commented on #2892
I just noticed I have
[code]
set. Is there any drawbacks for not setting it? any concerns I should have in mind before moving to full sync?

[2022-07-19 18:19] b-dean commented on #449
We use the flag `--txt-suffix=-%{record_type}-ext-dns` to keep the `TXT` records from conflicting with other ones, not part of external-dns.

But we're using external-dns v0.12.0 and AWS Route53 and for apex records we get this for the `TXT` record. For `example.com` we'd see an error like:

[code]

obviously there's no zones for `example--ext-dns.com` and `example-a-ext-dns.com`

[2022-07-19 19:12] matmicro commented on #449
@badrdouah i am facing the same behavior as the one you mentioned with apex domains.
I did not find any solution yet.

If a Go expert can investigate into the source code in order to fix that issue, it would be great !

[2022-07-19 23:38] tamalsaha opened #2893 "Rewrite external-dns project using CRDs"
Currently external-dns project passes all the configuration options via flag. As a result if a user needs to use multiple conflicting external-dns configuration options, they have to deploy the external-dns project multiple times. This can get resource intensive if many such external-dns pods are running.

I wonder if anyone has considered rewriting external-dns where the configuration options are

[2022-07-20 15:19] zakabluk opened #2896 "External DNS not support wildcard for aws nlb"
**What happened**: External DNS not create record at Route53 for NLB with wildcard domain.

**What you expected to happen**: A record for my domain *.domain.dom to my NLB.

**How to reproduce it (as minimally and precisely as possible)**: Launch eDNS, than create k8s service with
[code]
[code]
**Anything else we need to know?**:  I didn't set domain filter for eDNS and get at logs
`2022-07-20T18:1

[2022-07-20 15:51] #2896 closed

[2022-07-20 15:52] zakabluk commented on #2896
It's my mistake. Thw record was created manual before.

[2022-07-20 18:00] red8888 opened #2897 "After upgrade to v0.12.0 external DNS is saying "Add records.." but its not doing anything"
**What happened**:
I upgraded to v0.12.0 and external DNS stopped modifying records

I have debug logging turned on. I see no permissions errors. External DNS in the logs says its add and removing records but nothing is happening.

I also started seeing these errors: `level=error msg="googleapi: Error 412: Precondition not met for 'entity.change.deletions[17]'\nMore details:\nReason: conditionNotM

[2022-07-20 18:11] skreienk opened #2898 "After upgrade from .11 to .12 the RFC2136 updates error with "missing port in address""
**What happened**:  Upgraded from .11 to .12.  With the same config that works in .11, the RFC2136 updates are failing with the error message:  "RFC2136 had errors in one or more of its batches: [address ${DNS_SERVER}: missing port in address]".  If I add the DNS port to the end of the address then it errors out, and the error logs show the port twice at the end of the DNS server address.

**What

[2022-07-20 18:45] b-dean commented on #449
If you're on v0.12.0 you can use a TXT prefix with the `record_type` and a dot and it'll keep the TXT record in the same zone.

` --txt-prefix="txt-%{record_type}."`

but it won't work w/ the suffix or if your prefix doesn't have the record type.

[2022-07-20 19:35] janz0390 commented on #2863
We are seeing the exact same issue with Route53 after attempting to upgrade to 0.12.0.

We are upgrading from v0.5.14 in the same cluster where this issue did not exist and the related CNAME records were seemingly ignored.

[code]

Ingress:
[code]

Route53 records:
[code]

External-dns should only manage `primary.00a8982b-3a6d-4f87-b603-5f25090a2c01.foo.bar.net` but not `00a8982b-3a6d-4f87-b603-5f

[2022-07-20 20:15] janz0390 commented on #2863
Adding debug logs:

[code]

The problem appears to be introduced with https://github.com/kubernetes-sigs/external-dns/pull/1860/files

[2022-07-20 20:34] BloodyFrag commented on #2435
Still happen with 0.12.0. Why is it not using the update method?

[2022-07-21 08:08] mariusmarais commented on #449
The issue arises when your prefix ends with a dash: `-`, because at the apex it makes an illegal DNS name:
`your-prefix-.domain.com`: notice the `-.` is illegal in hostnames.

So the solution is simple: use a prefix that doesn't end in a `-` and [@b-dean's comment ](https://github.com/kubernetes-sigs/external-dns/issues/449#issuecomment-1190630608) gives the nicest-looking one.

For anyone finding

[2022-07-21 11:55] #2613 closed

[2022-07-21 13:18] rectacoda commented on #2898
Hello.

+1 here
external-dns .12 on RKE cluster
rfc2136 + kerberos

[2022-07-21 15:32] skalpin commented on #2684
The infoblox provider queries for the object before deleting it so it can send the reference id. In our environment that query returned several other records. So deleting 1 record resulted in deleting several others. The fix was to add "name=" to the query so that it only deletes the 1 specific record.

Maybe in your case, it sounds like cluster A is deleting records from cluster B, which shouldn'

[2022-07-21 16:15] seh commented on #2897
This sounds like #2793.

[2022-07-21 16:50] red8888 opened #2901 "Is there support for structured logging? Can it log as json strings?"
I, like many users, sink logs into a centralized logging system.

Is there support for setting the structure of the log output?

All I really want is it to log as json strings. Most log aggregators (splunk, etc) will parse that automatically.

Thanks!

[2022-07-21 17:12] Timoses commented on #1841
/remove-lifecycle stale

[2022-07-21 18:09] seh opened #2903 "TXT records created for aliases in AWS Route 53 have wrong record type prefix"
**What happened**:

Using the "aws" provider to create DNS records for hostnames that point at AWS ELBs (such as for endpoints extracted from a Kubernetes _Service_ or _Ingress_), since the hostnames don't parse as IP addresses, [ExternalDNS considers the endpoints warrant a record of type CNAME](https://sourcegraph.com/github.com/kubernetes-sigs/external-dns@3d7437cb41b0263f51c36e252fb29e33e0bad5

[2022-07-22 04:52] nupplaphil commented on #2660
/remove-lifecycle stale

[2022-07-22 13:08] #2618 closed

[2022-07-22 14:09] #2576 closed

[2022-07-22 21:40] szuecs commented on #2677
It's a clear bug in the ingress controller and the contract for ingress is:
spec.rules[].host to status.loadBalancer.ingress[].hostname

[2022-07-22 21:44] szuecs commented on #2677
/close

[2022-07-22 21:44] #2677 closed

[2022-07-24 02:50] matthewmrichter commented on #1598
/remove-lifecycle stale

[2022-07-25 08:37] Benjvfr commented on #2898
Hi,

I encounter the same bug with external-dns version 0.12 and rfc2136 option : missing port.

When I switch to 0.11, it works.

Environment : vSphere with Tanzu, Active Directory

[2022-07-25 14:34] rishgh opened #2905 "Oracle Cloud Infrastrucutre (OCI) Cloud Controller Manager - Do not return a Private IP Address"
**What would you like to be added**:
For the
Use Case:
Customer creates a public OCI Network Load Balancer (NLB), by default Network Load Balancer creates both public and private IP for the LB
We add both the private and public IP of the NLB in the external-ip for the Kubernetes service
External DNS takes the external-ip from the above and adds it to the A records of some DNS provider
Since the ex

[2022-07-25 21:13] pramodsetlur opened #2911 "External-DNS is unable to compute VirtualService's endpoint"
**What happened**:

`"No endpoints could be generated from VirtualService app-ns/app-virtual-service"`

**What you expected to happen**:

External-dns is able to figure out the VirtualService's endpoint (tied to Kubernetes svc, Kubernetes Ingress and Istio Gateway -- design described below) and create a DNS entry for it.

**How to reproduce it (as minimally and precisely as possible)**:

Create an

[2022-07-26 17:47] #2625 closed

[2022-07-27 14:08] ranjishmp commented on #2675
Hi,

@Raffo
@njuettner
@seanmalloy

Any update on when we can get the maintainer access ? There are few PRs we raised which address good amount of issue that we identified during our internal testing. Also added the capability for certificate based authentication

I can see the status for @Raffo as taking a break from opensource. So anyone else can help here ?

[2022-07-27 17:23] cskinfill opened #2915 "cloudflare API call metrics"
**What would you like to be added**:
There doesn't appear to be any metrics related to API calls to cloudflare.  Duration, success/failure, etc., would all be very useful.

**Why is this needed**:
We noticed problems with DNS updates and based on logs it was due to cloudflare API rate limiting.  If the cloudflare provider exposed metrics that could be used to alert on, this would help catch proble

[2022-07-27 22:03] seanmalloy commented on #2675
I'll try to review #2841 soon. I think once that gets merged we should be able to add you to the kubernetes-sigs org.

[2022-07-28 05:42] stevehipwell opened #2916 "Release Helm chart for v0.12.2"
When [v0.12.2](https://github.com/kubernetes-sigs/external-dns/releases/tag/v0.12.2) is released (it's currently a pre-release) we need to release the Helm chart corresponding the the release. The following PRs should be included in this release so they will need to be merged before then.

- https://github.com/kubernetes-sigs/external-dns/pull/2902
- https://github.com/kubernetes-sigs/external-dns

[2022-07-28 05:43] stevehipwell commented on #2916
/assign

[2022-07-28 21:43] cxuu opened #2918 "Azure DNS changes are implemented as delete-then-create, not atomic, could lead to NXDOMAIN"
**What happened**:

The current implementation for Azure DNS provider would apply DNS changes in two separate operations, delete then create. The two operations are not atomic, so it is possible for DELETE to succeed and the subsequent CREATE to fail. There is also a 5-10 seconds delay between the two operations, so clients might cache the NXDOMAIN response even after the record has been recreated

[2022-07-29 08:25] danvaida commented on #1959
I can confirm that I am not experiencing this anymore with `v0.12.0` even when used together with `--txt-prefix` and TTL of 10s.
As such, I'm closing this.

[2022-07-29 08:25] #1959 closed

[2022-07-29 09:37] isac322 commented on #2820
I have same issue. In my case, I can safely remove `a-` prefixed TXT record manually.

[2022-07-29 11:57] mozarik commented on #2286
Hi @svengreb im trying to ise Ingress type with work with traefik ingress and external-dns. Is there an example of yaml that i can use ?

[2022-07-29 13:04] Kerwood opened #2920 "terminationGracePeriodSeconds is missing a value in the Helm Chart values.yaml file"
The `terminationGracePeriodSeconds` property is missing a value.

https://github.com/kubernetes-sigs/external-dns/blob/external-dns-helm-chart-1.10.1/charts/external-dns/values.yaml#L54

[2022-07-30 01:05] cuppett commented on #2762
I think I see this as well in AWS.

I have a zone with multiple, existing TXT entries on the root domain:

[code]

and in the updates it's trying to make I get this in the log:

[code]

[2022-07-31 22:48] nbensa commented on #2416
Hello. I have the same problem with bind9.

RR are created but not deleted.

I have no experience with Go nor enought Kubernetes knowledge to debug this myself, but I willing to invest time and effort if someone could guide me thru.

Thanks!

[2022-08-01 10:12] niclashoyer opened #2921 "Custom provider"
Are there any plans to support custom providers with something like a plug in system? We are currently using a little known DNS provider from Germany ([Smart-NIC](https://www.smart-nic.services/)) that may not be useful for a lot of people.

Would you like to add support for such small providers (I would start coding on this), or should we wait for a plugin system?

[2022-08-01 13:15] kundan2707 commented on #2920
/assign

[2022-08-01 13:18] OvervCW opened #2922 "External DNS tries to create invalid TXT records for wildcard domains"
**What happened**:

I have a few ingresses with wildcard TLS entries and ExternalDNS seems to create the wrong TXT entries for these:

[code]

**What you expected to happen**:

Not to see this error.

**How to reproduce it (as minimally and precisely as possible)**:

I have ingresses that look like this:

[code]

**Anything else we need to know?**:

I can reproduce this problem in version 0.12.2,

[2022-08-01 15:22] alebedev87 commented on #2922
My guess is that Azure DNS is just the stricter provider which doesn't allow the wildcard character to be anywhere except for the left most position. I don't see the problem with `a-*` TXT records on AWS or GCP. The reason why you see it in `0.12.2` and not in `0.12.0` is (I guess again) because `0.12.2` adds the missing TXT records of the new TXT format.
 @OvervCW: Is the ingress which gives the

[2022-08-01 15:29] k0da commented on #2922
@alebedev87 external-dns does some magic for wildcard records. I guess conversion should include that "magic"

[2022-08-01 16:03] OvervCW commented on #2922
@alebedev87 Yeah, the ingress already existed.

Does the spec actually allow such names or are AWS/GCP overly permissive?

[2022-08-01 16:17] k0da commented on #2922
makes sense

[2022-08-02 09:12] OvervCW commented on #2922
I can confirm that using `--txt-wildcard-replacement` solved the problem for us. We set it to "wildcard" but I suppose the specific value does not really matter.

I think this should be mentioned as a breaking change for those who use the Azure provider in the changelog for 0.12.0 or 0.12.2.

[2022-08-02 09:35] seb-daehne commented on #2905
I think this can solve it:

https://github.com/kubernetes-sigs/external-dns/pull/2693

[2022-08-02 12:20] alebedev87 commented on #2922
@OvervCW: nice to see that it worked out for you!

That's not quite related to `0.12.2` version, it's a consequence of the new format of TXT records introduced in `0.12.0`. You may see the same problem with `0.12.0` if external-dns would try to create a new DNS record - it would have to be accompanied by 2 TXT records one of which would be of `a-*` form.

@Raffo: how about adding this into the `IM

[2022-08-02 14:23] Raffo commented on #2922
Yes, I can do. We merged today the PR to get the final images tagged, I will update the release with the new info.

[2022-08-02 20:26] alebedev87 commented on #2922
@Raffo : thanks for `0.12.2` release!

Just wanted to say that I think that the note about `--txt-wildcard-replacement` is better to be added to `0.12.0` instead. As this limitation appears starting from `0.12.0`.
Anybody who will start from `0.12.0` may face the problem described in this issue with AzureDNS.

[2022-08-03 01:40] jvilhuber opened #2924 "Missing docker images"
**What happened**:
I tried pulling the latest external-dns image for 0.12.2 and it does not exist. 0.12.0 does exist.

**What you expected to happen**:
Image exists.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
The image name is also in the kustomize scripts, so I imagine that would be impacted as well. I didn't check the helm chart

[2022-08-03 09:26] clumbo opened #2927 "Fails to startup"
Latest helm chart is producing the following on startup while using k3s 1.24

`time="2022-08-03T09:15:22Z" level=info msg="Instantiating new Kubernetes client"
time="2022-08-03T09:15:22Z" level=info msg="Using inCluster-config based on serviceaccount-token"
time="2022-08-03T09:15:22Z" level=info msg="Created Kubernetes client https://10.43.0.1:443"
time="2022-08-03T09:15:22Z" level=fatal msg="erro

[2022-08-03 10:16] gilles-gosuin commented on #2403
/remove-lifecycle stale

[2022-08-03 10:40] ranjishmp commented on #2675
Hi @seanmalloy

You got a chance to review the PR - https://github.com/kubernetes-sigs/external-dns/pull/2841?

[2022-08-03 12:24] mkilchhofer commented on #2430
xref: #164

[2022-08-03 19:34] JethroMV commented on #1718
/reopen

[2022-08-04 02:19] voro015 commented on #2505
/remove-lifecycle stale

[2022-08-04 03:04] jvilhuber commented on #2924
Images exist now.

[2022-08-04 03:04] #2924 closed

[2022-08-04 09:06] Raffo commented on #2916
@stevehipwell the release is final and images published.

[2022-08-04 09:17] kundan2707 commented on #2927
@clumbo  share environment detail

[2022-08-04 09:51] Evesy commented on #2839
We set `txt-prefix` to be a subdomain of the record being created (e.g. `myprefix.`) so that all the metadata can be contained in a different label of the DNS name. Whilst this does still limit the overall length of a domain name, it ensures users can still have labels with up to 63 characters (Which is the more likely limit we would be to hit vs overall length of 254).

Since the new record type

[2022-08-04 11:54] tadrian88 commented on #1656
Perhaps you don't have the ingress controller installed. To install it you need to run the following command:
`kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/cloud/deploy.yaml`

[2022-08-04 13:00] Raffo commented on #2921
This is something that we did investigate in the past, but never got to work on it. Your use case is right: adding a small provider is a cost we (as in the core maintainers) shouldn't be paying. I'd love to implement something but I don't think I'll have much capacity. I'll see what I can come up with over the next month or two. If you have a proposal on how to implement a plug in system, feel fre

[2022-08-04 15:36] devon-whil opened #2929 "Single ingress with additional internal load balancer"
`Ingress-nginx` gives you the ability to configure an internal load balancer that is in addition to the public one (see [here](https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/README.md#additional-internal-load-balancer)). So you end up with a single ingress nginx controller with two load balancers (one public, one internal). It's not clear with external-dns how to point

[2022-08-05 07:34] buramundo commented on #2615
Hi, any news about this "crutial" feature to my OCI Cloud K8S Infrastructure ..... Sorry to insist

[2022-08-05 14:26] ivanovaleksandar opened #2930 "Manage existing DNS records with an annotation"
**What would you like to be added**:
Providing an annotation, ExternalDNS should be able to start managing the DNS record upstream and add TXT (or other) records that will allow it to further manage that DNS record.

Annotation suggestion:
 - `external-dns.alpha.kubernetes.io/managed-by: "true"`
 - `external-dns.alpha.kubernetes.io/managed: "true"`

These can easily be targeted by the using `--ann

[2022-08-05 18:23] snorwin opened #2931 "Infoblox provider deletes all fetched records if any DNS record is updated"
**What happened**:
Updating a DNS record deletes all fetched records. Even if some of the DNS records are afterwards recreated, this leads to major issues. Especially if different external-dns instances manage a DNS zone together or a DNS zone is partly managed manually and by the external-dns controller.

**What you expected to happen**:
Only the modified DNS record gets deleted and recreated.

*

[2022-08-07 12:07] bzon commented on #2863
My temporary workaround for this issue is to ignore the ingress. Ref: https://github.com/kubernetes-sigs/external-dns/issues/1910#issuecomment-976371247

[2022-08-07 13:39] artem-zinnatullin opened #2933 "GoDaddy DNS is not updating"
**What happened**: I've been using external-dns for about half a year now with GoDaddy and it either adds additional A record without removing previous one or just never updates A record when my k8s cluster is experiencing auto-update and rotates public IP address.

**What you expected to happen**: external-dns should update A entry correctly with GoDaddy.

**How to reproduce it (as minimally and

[2022-08-07 22:32] jWolo opened #2934 "Cloudflare with source ingress pod fails on start-up (AKS)"
**What happened**:
external-dns pod fails with the following messages:
[code]

**What you expected to happen**:
external-dns to not crash on boot

**How to reproduce it (as minimally and precisely as possible)**:
I'm using the default Cloudflare configuration from the README.md (Manifest (for clusters with RBAC enabled). The only difference is adding the additional `--source=ingress`
[code]
**Anyt

[2022-08-08 04:19] rudnypc commented on #2704
I'm having the same problem

[2022-08-08 10:50] kundan2707 commented on #2920
@Kerwood  default value for terminationGracePeriodSeconds is null only.
that why no value is present here.
you can refer https://github.com/kubernetes-sigs/external-dns/blob/master/charts/external-dns/README.md

[2022-08-08 10:53] kundan2707 commented on #2920
/remove-kind bug

[2022-08-08 10:53] kundan2707 commented on #2920
/close

[2022-08-08 13:15] jWolo commented on #2934
I have updated the image to v0.12.2 and everything is working now. I hope this helps someone else. The Cloudflare documentation should be updated with the newer version.

[2022-08-08 13:15] #2934 closed

[2022-08-08 17:44] #2637 closed

[2022-08-08 18:56] Kerwood commented on #2920
@kundan2707 Should the value not be `null` then ?

[code]

[2022-08-08 18:57] cocotton commented on #2638
Did you try using the [DNSEndpoint resource](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/contributing/crd-source/dnsendpoint-example.yaml)?

Just make sure to set the `--source=crd` when starting external-dns.

[2022-08-08 19:41] cocotton opened #2936 "Add support for TXT records through the DNSEndpoint resource"
**What would you like to be added**:
Support for the TXT record type, especially by the DNSEndpoint resource. At the moment, the support record types are [CNAME, A, NS](https://github.com/kubernetes-sigs/external-dns/blob/master/pkg/apis/externaldns/types.go#L410).

**Why is this needed**:
This would be a great step on the path to managing all DNS records with external-dns in Kubernetes, rather th

[2022-08-08 20:08] snorwin commented on #2931
@skudriavtsev can you maybe have a look at this? I think this is a really serious issue and was already reported in the PR https://github.com/kubernetes-sigs/external-dns/pull/2890.

[2022-08-08 20:18] k0da commented on #2936
I have it implemented in my [fork](https://github.com/k0da/external-dns/tree/txt_support) This requires migration to a new registry format to be completed first. Feel free to test it :D

[2022-08-08 20:22] snorwin commented on #2640
/remove-lifecycle rotten

[2022-08-08 20:27] snorwin commented on #2640
I think it would be really helpful to have the CRD in the helm chart. Currently, I use the bitnami helm chart (https://github.com/bitnami/charts/tree/master/bitnami/external-dns) just for that reason. However, I would really prefer to use the official chart.

[2022-08-08 20:37] stevehipwell commented on #2640
This is more of a problem with pre-release CRDs as if the CRD doesn't change not being able to update the CRD is a non-issue. AFAIK the CRD in question is pre-release and hasn't progressed recently, this might want addressing before we add the CRD to the chart and people start using Helm to install it.

[2022-08-08 21:45] #2639 closed

[2022-08-08 21:45] #2641 closed

[2022-08-08 23:23] naefsadika opened #2937 "not working with aws VPC endpoint"
I  got this error :

time="2022-08-08T23:15:07Z" level=error msg="records retrieval failed: failed to list hosted zones: RequestError: send request failed\ncaused by: Post \"https://sts.amazonaws.com/\": x509: certificate signed by unknown authority"

for some reason its point to  https://sts.amazonaws.com/ beside  https://sts.us-east-1.amazonaws.com/

curl for the pod to  https://sts.amazonaws.co

[2022-08-09 05:26] kundan2707 commented on #2920
/reopen

[2022-08-09 06:53] kundan2707 commented on #2920
@Kerwood  although there was nothing wrong with empty string but update to null for better representation of whatever written in doc.

[2022-08-09 08:06] stevehipwell commented on #2920
The current design is correct, it uses the Helm idiomatic pattern of an empty value to not set a value and use the implicit default.

https://github.com/kubernetes-sigs/external-dns/blob/master/charts/external-dns/templates/deployment.yaml#L44-L46

/close

[2022-08-09 08:07] #2920 closed

[2022-08-09 08:44] snorwin commented on #2640
There are two possibilities for the CRD:
1. put the CRDs in the special `crds` directory and install them only once. Even if Helm cannot manage the lifecycle, many CICD tools (e.g. ArgoCD) can do this.
2. add the CRDs directly to the `templates` folder and update them with helm (as is done in the bitnami helm chart). Since there is no `DNSEndpoint` in the helm chart, it is not necessary to registe

[2022-08-09 08:52] Kerwood opened #2939 "External DNS is syncing all resources regardless of annotation."
I have recently setup external-dns in my k8s cluster.
The issue is that it syncs **all** ingress hostnames and not only ingresses annotated with `external-dns.alpha.kubernetes.io/hostname`. Is this not the intention of this annotation? Filtering which resources to create DNS records for ?

External-dns is installed using the Helm chart.
I am using the following configuration.
- `--log-level=debug`

[2022-08-09 09:01] stevehipwell commented on #2640
@snorwin option 2 is off the table as an anti-pattern, this is how Helm v2 hacked CRDs before the addition of support for the `crds` directory in v3. I'd be happy with option 1 if the CRD had a GA version as the inevitable misuse would have a lower impact, but until then I don't think the benefit outweighs the cost.

FYI the CRD is available at https://raw.githubusercontent.com/kubernetes-sigs/ext

[2022-08-09 09:43] snorwin commented on #2640
@stevehipwell I totally agree, I also prefer option 1.

What is still missing for the CRD to become GA? Is there an issue tracking the missing features (i.e. error message in the status, support for TXT records, ...)?

I would be happy to contribute.

[2022-08-09 09:57] stevehipwell commented on #2640
@snorwin I've not had much luck on the topic of the CRD when I've brought it up, I think this is because it's a contrib component and the maintainers here are snowed under. I'd suggest a new issue about making the CRD GA would be the best place to start, you might also want to look in on https://github.com/kubernetes-sigs/external-dns/issues/2529 and link the two together.

[2022-08-09 10:07] snorwin opened #2941 "Make DNSEndpoint CRD GA"
The DNSEndpoint specified in a custom resource is very powerful and allows ExternalDNS to be used in many different ways (e.g. custom CNAME for OpenShift routes, managing A records of nodes in a Open Cluster Management context, setting a TXT records for a ACME DNS challenge). It would be really awesome to have this feature GA.

This issue is meant to track the missing features for the CRD to becom

[2022-08-09 10:07] snorwin commented on #2941
https://github.com/kubernetes-sigs/external-dns/issues/2529
https://github.com/kubernetes-sigs/external-dns/issues/2936

[2022-08-09 10:09] snorwin commented on #2941
The status of the DNSEndpoint  should be improved by at least adding the error message and maybe some provider related status information (e.g. reference for InfoBlox, ...).

[2022-08-09 10:09] snorwin commented on #2640
@stevehipwell I opened another issue to make the CRD GA: #2941

[2022-08-09 10:58] sbuzonas commented on #2654
This has been silent for quite some time.  I hope to get some time to touch something on this, at the very least I will plan to meet with my TAM to audit and drill down the permissions required.  I feel that's probably the harder aspect of the issue anyhow.  Marking this fresh.

/remove-lifecycle rotten

[2022-08-09 11:36] kundan2707 commented on #2927
/needs-information

[2022-08-09 12:26] Kerwood opened #2942 "External DNS creates two txt records"
When external-dns creates a DNS A record it also creates **two** TXT records with the same values.

Eg. `app.test.example.org` will create the following records.
- A: `app.test.example.org`
- TXT: `app.test.example.org`
- TXT: `a-app.test.example.org`

Both TXT record containing.
[code]

Chart version: 1.10.1
App version: 0.12.2
Provider: Google

Actual arguments on the deployment.
[code]

If addi

[2022-08-09 13:47] Kerwood commented on #2942
Okay... its a feature, not a bug...
https://github.com/kubernetes-sigs/external-dns/blob/master/docs/registry.md

[2022-08-09 13:47] #2942 closed

[2022-08-09 13:52] anig111 opened #2943 "Gandi provider pagination"
Is there any way to configure Gandi provider pagination?

[2022-08-09 16:41] himanshuz2 opened #2944 "Godaddy provider zero zones found"
**What happened**:

Configured the godaddy dns provider with 0.12.2 following settings
   serviceAccountName: external-dns
      containers:
      - name: external-dns
        image: k8s.gcr.io/external-dns/external-dns:v0.12.2
        args:
        - --source=service # ingress is also possible
        #- --domain-filter=xyz.com # (optional) limit to only example.com domains; change to match the z

[2022-08-09 17:34] himanshuz2 commented on #2944
Changing back to version 0.9.0 for kubernetes version 1.18.2 fixed the issue.

[2022-08-09 17:34] #2944 closed

[2022-08-09 19:44] jackding2000 opened #2945 "Timeout when fetch A record from a zone in infoblox using v0.12.0 image"
**What happened**:
Create a loadbalancer typeservice, received message "could not fetch A records from zone '*****' context deadline exceeded (Client.Timeout exceeded while awaiting headers)" from the pod log
**What you expected to happen**:
The IP address for service be created in infoblox zone

**How to reproduce it (as minimally and precisely as possible)**:
Run external-dns pod with image v0.1

[2022-08-09 19:53] jackding2000 opened #2946 "TTL support for infoblox provider"
**What would you like to be added**:
Allow DNS record created with a specified TTL value.

**Why is this needed**:
Application need less time to sync records on zone where has a high zone TTL setting.

[2022-08-10 09:15] mihail-i4v opened #2947 "External DNS tries to create records in a Peering zone"
**What happened**:
We have external-dns running in GKE. This has the --domain-filter flag set to `sand1.example.us-west2.sandbox-gcp.qwerty.com`.

In GCP we have two zones configured with DNS name set to `sand1.example.us-west2.sandbox-gcp.qwerty.com`. One zone is of private type. The other zone is of Peering type (https://cloud.google.com/dns/docs/zones/zones-overview#peering_zones).

We've added

[2022-08-10 09:51] fnpanic commented on #1050
+1 for application credential support.

[2022-08-10 11:08] drummerglen opened #2948 "External-dns on 1.23.8-native kubernetes can not see Ingresses resource"
**What happened**:
External-dns doesn't add records after creating ingress resources.

**What you expected to happen**:
External-dns should watch/list/get ingress resources creation activity and add A records automatically.

**How to reproduce it (as minimally and precisely as possible)**:
Native Kubernetes 1.23.8 + PureLB + ingress-nginx-controller + external-dns 0.12.2

**Anything else we need t

[2022-08-10 11:31] drummerglen commented on #2948
### When I change log level to debug, I can see the following information:
**time="2022-08-10T11:23:29Z" level=debug msg="Endpoints generated from service: xxx**
time="2022-08-10T11:23:29Z" level=debug msg="No endpoints could be generated from service xx
time="2022-08-10T11:23:29Z" level=debug msg="No endpoints could be generated from service xx
**time="2022-08-10T11:23:29Z" level=debug msg="Endpo

[2022-08-10 14:45] stevehipwell commented on #2916
The Dependabot PRs will be replaced by the changes in the release PR.