[2018-08-28 09:43] Raffo commented on #690
No problem! Closing the issue 😉

[2018-08-28 09:43] #690 closed

[2018-08-28 15:35] Raffo commented on #588
I see, but I'd still go with a CRD as it seems hacky to adopt annotations on Services/Ingresses for this particular use case. I don't have a strong opinion though, WDYT @linki @ideahitme @njuettner  ?

[2018-08-28 17:14] cjbottaro commented on #693
I have a similar problem, but I'm _am_ using the annotation on my ingress and still no DNS entries are not being made:
[code]

Here's my external-dns deployment:
[code]

And the logs...
[code]

[2018-08-28 19:54] ballerabdude opened #695 "Excluding etcd,control-plane hosts"
Is there way to support alpha.service-controller.kubernetes.io/exclude-balancer=true but for external-dns?

My etcd,control-plane hosts do not run any pods but external-dns is adding the ips of all host to the dns.

Is there a workaround to limit which hosts it uses?

[2018-08-29 11:58] Raffo commented on #695
I don't understand how this has to do with external DNS, if you don't annotate those deployments, externalDNS will not do anything.

[2018-08-29 12:03] ballerabdude commented on #695
Sorry it sounded confusing. Is there an annotation I can apply to certain hosts so that their ips do not get added to the dns record? Hope that's more clear.

- Abdul Hagi
________________________________
From: Raffaele Di Fazio <notifications@github.com>
Sent: Wednesday, August 29, 2018 7:58:05 AM
To: kubernetes-incubator/external-dns
Cc: Abdul Hagi; Author
Subject: Re: [kubernetes-incubator/exte

[2018-08-29 14:59] Raffo commented on #695
The selection of IPs don't happen by host so I don't think there is a way
to disable them. Can you please provide a specific example with pod names
and annotations you would love to use such that we can better figure out
what exactly we could be doing?

On Wed, Aug 29, 2018 at 2:04 PM Abdul Hagi <notifications@github.com> wrote:

--
Raffaele Di Fazio

[2018-08-29 15:20] ballerabdude commented on #695
Here is a photo of my cluster
![image](https://user-images.githubusercontent.com/7660642/44796719-9beb0d00-ab7b-11e8-8aba-3993215f5172.png)
*-71-106 Is the ip of my worker host/node. The other hosts only run etcd and control-plane stuff. The ingress controller only lives on the worker nodes.

Here is what happens on route53
![image](https://user-images.githubusercontent.com/7660642/44797058-4400d6

[2018-08-30 11:10] Raffo commented on #695
It's probably just due to the selector that you are using with your
Service. Please check the pods with label `app: zabbix-proxy` and the
associated endpoints.

On Wed, Aug 29, 2018 at 5:24 PM Abdul Hagi <notifications@github.com> wrote:

--
Raffaele Di Fazio

[2018-08-30 19:46] rhangelxs commented on #187
Vote for external-dns can use node public ip (ephemeral or static in GCE terms).

[2018-08-30 20:30] cdenneen commented on #693
[code]

[2018-08-31 11:43] ideahitme commented on #689
This looks interesting, I will take at it, if no one already had

[2018-08-31 12:13] njuettner commented on #677
@tokyo2006 PR #696  was merged, it will released with the next version

[2018-08-31 14:54] cdenneen commented on #693
so since `*.svcs.domain.com` didn't work as above I figured I would try `.svcs.domain.com` and maybe it would create the wildcard since the subdomain was blank but still errors:

[code]

[2018-09-01 17:06] davidkarlsen commented on #689
That would be great - I don't have go skills myself - and on Slack maintainers indicated they did not have the time for it

[2018-09-04 15:30] patelpu94 commented on #587
Do we know when this will be available? We need this too, we already tested the PR branch and it works as expected.

[2018-09-06 02:36] ajcann commented on #663
Just adding a +1 here. My use case for this is having external-dns deployments per namespace, each deployment having it's own DNS credentials scope to specific domains to limit the security implications of breaches per environment/namespace. (i.e. a breach in namespace 'stage' doesn't imply the ability to make DNS change to the zone associated with production).

[2018-09-06 03:47] jwatte commented on #692
FWIW, I'm trying to find a work-around for this too.
I want my website example.com and www.example.com to both be handled by a server running in my kube cluster.
I use external-dns to manage DNS for the cluster. (The cluster in turn runs in AWS.)
But my email domain example.com is of course protected by an SPF TXT record.
As a work-around, I can manually jam the right A record into DNS, but as soo

[2018-09-06 15:43] peterbale commented on #679
Below shows the logs external-dns outputs showing this issue in more detail:

[code]

In this example, I have created 10 test ingresses in my cluster which need DNS to be created for them. As well as their A records, I also need to have the accompanying TXT records created (you can therefore see that it wants to create 20 records). I have capped the batch change to a total of 2 records (arbitraril

[2018-09-06 16:18] #661 closed

[2018-09-06 19:35] coderanger commented on #413
For others that find this, Traefik 1.7 now supports setting the required status fields. You'll have to set one of the `[kubernetes.ingressEndpoint]` settings in your config, such as:

[code]

See https://docs.traefik.io/v1.7/configuration/backends/kubernetes/#ingressendpoint for more details.

[2018-09-06 20:27] pascalgn commented on #663
I realized that the required changes are actually quite small, so I created a PR.

The following configuration is working for us in Azure:

[code]

[2018-09-06 21:05] jonasrmichel commented on #587
It looks like [v0.5.6](https://github.com/kubernetes-incubator/external-dns/releases/tag/v0.5.6) includes these changes.

[2018-09-07 00:51] jrnt30 commented on #610
Not opposed to this but it was a bit surprising to see this come up on a few Ingress resources we had previously deployed but conditionally exposed via Annotation.

In the future it would seem like a major version bump for fairly significant functional change that doesn't have a flag to turn off might be valuable.

That being said, thanks for contributing to the project!

[2018-09-07 12:00] Devatoria commented on #649
PR has been merged and released.

[2018-09-07 12:00] #649 closed

[2018-09-11 18:40] ITBlogger opened #705 "External-dns not updating when service/deployment changes occur.."
I'm running external-dns 0.5.6 with following helm values:

[code]

external-dns service is not updating its data whenever a service or deployment is deleted. It's caching old data and keeps reapplying that data.

How do I get it to refresh its data from the actual state of things?

[2018-09-11 19:05] ITBlogger commented on #705
Somehow there was an ingress for same service causing issues, after the ingress was deleted issue went away. Closing issue.

[2018-09-11 19:05] #705 closed

[2018-09-12 11:17] pierreozoux opened #706 "Support for openshift routes"
Hello,

we are considering using this, is there a plan to support openshift routes?
If yes, would you accept PRs?

Thanks!

[2018-09-12 12:28] #467 closed

[2018-09-12 14:53] ballerabdude commented on #695
@Raffo Sorry for getting back to you late. Here goes my deployment yaml
[code]

Is there an options that I am forgetting when starting the application?

[2018-09-12 23:17] The-Loeki commented on #692
duplicate of #449

[2018-09-13 10:37] bartelsielski opened #707 "DNSEnpoint CRD: the server could not find the requested resource"
When using the new DNSEndpoint CRD, external-dns continuously logs `the server could not find the requested resource`. The DNS records defined in the CRDs are correctly created.

Full logs:
[code]
<br/>

Using minikube version v0.28.2 (default configuration). The cluster is set up with the following configuration:

<details><summary>RBAC yaml</summary><p>

[code]
</p></details>

<details><summary>

[2018-09-13 10:42] sebastien-prudhomme commented on #603
Issue still there in master branch.

Trying to debug: the endpoint labels defined for designateRecordSetID and designateZoneID in Records() function doesn't more exist when trying to read them in addEndpoint() function.

Seems the labels are reseted outside the designare.go source code.

[2018-09-13 16:46] rosstimson commented on #633
@cptaffe Any chance you could share the YAML for your Traefik setup.  I can't for the life of me get this working for Ingresses.  It works fine for Services.

This is my current setup for just testing with the Traefik example Cheese sites:  https://gist.github.com/rosstimson/5d2d4eb1ef676a6744d8b3bfeab882cc

You can see I have added the Traefik config you mentioned:  https://gist.github.com/rossti

[2018-09-13 17:32] cptaffe commented on #633
Make sure the host in the ingress is one you control in Route53

[2018-09-13 17:56] rosstimson commented on #633
@cptaffe  Oh, it definitely is one I control, I just replaced with `example.com` in the gist.  Like I say, this is working fine for services (`type: LoadBalancer`) that have the annotation, just not Ingresses.

[2018-09-13 22:51] cptaffe commented on #633
@rosstimson here's my configs https://gist.github.com/cptaffe/0551478bdf628e167283e1d78a8f8219

[2018-09-14 02:29] cptaffe commented on #633
Oh! Your Traefik config should be

[code]

since you've named your service `traefik-ingress-service`.

[2018-09-14 03:06] 810123 opened #708 "open /etc/kubernetes/azure.json: no such file or directory"
Create secret in azuredns.json, and azure-dns-config-file. Try deployment, the external dns pod reports error.

**v1.8.11**
Both Kubernets Cluster and Azure DNS are on **_Azure China Cloud_**

[code]

Actually both azure.json and azuredns.json are there,
$ ls -al
total 36
drwxr-xr-x   6 root root 4096 Sep 14 02:55 .
drwxr-xr-x 101 root root 4096 Sep  1 06:24 ..
drwxr-xr-x   2 root root 4096 Aug 28

[2018-09-14 10:29] sebastien-prudhomme commented on #603
@dhague In the Records function of the txt registry, endpoint labels of the record are replaced by the labels of the TXT record:

[code]

A merge of the labels should correct the bug.

[2018-09-14 12:47] GAHila opened #709 "feature request: allow external dns to filter on a list of annotations"
We have the scenario where we use ingress-class for ingresses associated with internal ingress but also a couple of other LoadBalancer services that do not go through the ingress. It would have been very nice and clean if the service has its own annotation and ingresses their own and then external dns would filter them both, rather then having to come up with other scenarios. We were able to find

[2018-09-14 13:17] sebastien-prudhomme commented on #603
Merging the endpoints labels works for updating records. But there is still an issue with the TXT records. External-dns tries to create them instead of updating them:

That is because ApplyChanges() of the TXT registry creates TXT endpoints from scratch, instead of reusing what is returned as current records by the provider.

So the labels for designateRecordSetID and designateZoneID labels for th

[2018-09-14 18:51] adubkov commented on #633
Exactly command to get it work with Helm:
[code]

[2018-09-15 18:40] dusansusic commented on #413
@coderanger i don't understand, does this mean that traefik 1.7 support external-dns? Thanks.

[2018-09-15 19:41] coderanger commented on #413
Yes, with that setting turned on Traefik 1.7 supports external-dns.

[2018-09-15 20:11] dusansusic commented on #413
@coderanger thanks for fast answer.

what does this setting do?
`publishedService = "traefik/traefik"`

[2018-09-15 20:57] dusansusic commented on #413
So is this an annotation or configuration that goes to config file?

[2018-09-16 01:47] coderanger commented on #413
Are you use you're using 1.7? You don't need to change it every time you make a new Ingress, as your example shows the status publish uses the Service (usually a LoadBalancer service) in front of the Traefik pods themselves. First check that the Service has a hostname or IP in its status:

[code]

Then check that Traefik is correctly copying that to the status of the Ingress:

[code]

The thing ex

[2018-09-16 01:52] coderanger commented on #413
Are you use you're using 1.7? You don't need to change it every time you make a new Ingress, as your example shows the status publish uses the Service (usually a LoadBalancer service) in front of the Traefik pods themselves. First check that the Service has a hostname or IP in its status:

[code]

Then check that Traefik is correctly copying that to the status of the Ingress:

[code]

The thing ex

[2018-09-17 07:58] #708 closed

[2018-09-17 07:59] #677 closed

[2018-09-17 22:23] PurpleBooth opened #710 "Can't combine domains and subdomain hostnames"
### To replicate

[code]

### Expected

All hosts to correctly resolve to the same IP.

### Actual

Only the wildcard domain is configured

[code]

### Note

Non-wildcard domains work fine, for example

[code]

is configured as expected

Provider: google cloud dns

[2018-09-18 10:01] Fettah opened #711 "msg="services is forbidden: User \"system:serviceaccount:default:default\" cannot list services at the cluster scope""
While trying to use the kops with route53 to handle the creation of new subdomains and attach them to services, I end up seeing this error inside the log of the external-dns pod log.

`time="2018-09-18T09:51:09Z" level=error msg="services is forbidden: User \"system:serviceaccount:default:default\" cannot list services at the cluster scope"
`

My kops cluster configuration is:

`# Please edit the

[2018-09-18 15:02] ricktbaker opened #712 "Endpoints generated but not created in route53"
I moved from a manually installed externaldns to using helm, so I deleted all of the created route53 entries and wanted to start over to make sure all is good.   Everything is running and it's generating the endpoints but it's not actually creating entries in route53.  The only real change is that I moved to the kube-system namespace where it was previously installed in the default namespace

[cod

[2018-09-18 15:36] ricktbaker commented on #712
Apparently there is some sort of caching going on or something.  When I changed one of the hosts on one of the ingresses it created that one.    Not exactly sure how to get around this without having to rename.

[2018-09-18 19:56] PurpleBooth commented on #710
I'm going to close this issue

The problem was that I have txt records on the "A" for "purplebooth.co.uk"

[2018-09-18 19:56] #710 closed

[2018-09-20 08:21] #679 closed

[2018-09-20 17:05] yurrriq commented on #456
I still have this issue periodically, even with `controller.publishService.enabled=true`. Any further troubleshooting tips? The only solution we've found is to restart the nginx controller, which is not ideal, because that, in turn, deletes and recreates all associated DNS records, meaning our deployments are inaccessible for a few minutes.

[2018-09-20 17:16] derekperkins commented on #456
@yurrriq Where are you running? On Azure / AKS, it doesn't always publish the load balancer ip correctly.

[2018-09-20 23:39] yurrriq commented on #456
@derekperkins, AWS (via kops). It's smelling like an nginx-ingress problem, rather than external-dns.

[2018-09-20 23:47] derekperkins commented on #456
I'm just pointing out that it may also not be an `nginx-ingress` problem, but an issue with the cloud provider not pushing the data back into the ingress in a timely fashion. On Google, it has worked perfectly every time. On Azure, sometimes it can take hours to propagate. I don't have any experience on AWS.

[2018-09-21 09:13] chriseatworld opened #715 "Can't create dns entry"
I'm getting the following error when trying to create dns records on powerdns.

time="2018-09-21T08:46:59Z" level=error msg="Unable to patch zone. Status: 422 Unprocessable Entity, Body: {\"error\": \"RRset test.example.com. IN TXT: Conflicts with pre-existing CNAME RRset\"}"
time="2018-09-21T08:46:59Z" level=error msg="Status: 422 Unprocessable Entity, Body: {\"error\": \"RRset test.example.com.

[2018-09-21 11:21] pascalgn commented on #663
Thanks for merging it so quickly! 👍

For anyone interested in trying this out, until there is an official release for external-dns, you can use https://hub.docker.com/r/pascalgn/external-dns/ (I will remove it at some point after the official external-dns release has been pushed)

[2018-09-22 21:02] bryanalves opened #716 "Add etcd3 support for CoreDNS provider"
The current CoreDNS provider writes entries to etcd using the v2 api.  CoreDNS starting in version 1.2 started using the v3 api:

https://github.com/coredns/coredns/tree/master/plugin/etcd#migration-to-etcdv3-api

There's a couple of options here:

1. Add a config parameter to enable etcd2 or etcd3 mode
2. Add an environment parameter (similar to `ETCD_URLS`) to do the same
3. Create a new provide

[2018-09-23 11:10] Joeasaurus commented on #692
I see this issue the other way. I am such a huge fan of external-dns specifically because it uses A records, allowing easy updates for the apex!

Now I want to add an SPF to my existing external-dns TXT record, but it doesn't like to share. I have some ideas:
 * Just use a custom subdomain for the TXT record like ACME does (__acme-challenge...)
     * Maybe this could be configurable like the fqdn

[2018-09-23 20:13] fturib commented on #716
does it match this already opened PR ? #686

[2018-09-23 23:51] bryanalves commented on #716
Yep, that seems to be the case. I totally missed that when searching somehow!

[2018-09-23 23:51] #716 closed

[2018-09-26 15:52] muaazsaleem opened #718 "The evaluate-target-health is being set to false by default."
When `evaluating-target-health` [became configurable](https://github.com/kubernetes-incubator/external-dns/pull/628), new records have `evaluate-target-health` set to false because the [struct field wasn't initialized](https://github.com/kubernetes-incubator/external-dns/compare/evaluate-target-health?expand=1)

This means external-dns is creating records with `evaluate-target-health = false`. It

[2018-09-26 16:11] linki opened #720 "When reading ALIAS records, also read the value of EvaluateTargetHealth"
When reading ALIAS records into our local store we assume a value for its field `EvaluateTargetHealth` based on a flag: https://github.com/kubernetes-incubator/external-dns/blob/v0.5.6/provider/aws.go#L343

This becomes problematic when we want to delete an ALIAS that has a different value than this flag. (When deleting a record we need to specify those values to successfully delete it).

For inst

[2018-09-27 12:14] linki commented on #718
Fixed in https://github.com/kubernetes-incubator/external-dns/pull/719

[2018-09-27 12:14] #718 closed

[2018-09-28 12:07] pbelousov commented on #456
We're also having the same problems as @yurrriq [described](https://github.com/kubernetes-incubator/external-dns/issues/456#issuecomment-423259954). And we use exactly the same workaround with restarting nginx controller but it's definitely not a Production solution. Until nginx-controller restart external-dns writes to the log "No endpoints could be generated from ingress" and after that successf

[2018-09-28 12:46] dayglo commented on #303
you ever fix this? im having the same issue.

[2018-10-01 16:12] pascalgn opened #722 "Is v0.5.7 an official release?"
I see tag v0.5.7 has been created, but not marked as a release in GitHub. Was it simply forgotten?

(in https://github.com/kubernetes-incubator/external-dns/releases the latest release is 0.5.6)

[2018-10-02 07:55] jon-walton opened #723 "Azure provider deting records while policy is upsert-only"
Hi,

We're looking to use external-dns to compliment the rest of our automation infrastructure, allowing us to release new versions or environments with minimal human interaction. We're deploying on Azure and have noticed that the controller loop is alternating between deleting the records and creating them.

While we are using istio, we're currently not using the istio gateways due to the automat

[2018-10-02 10:11] grenzr commented on #723
+1 I am also having the same issue during my testing

[2018-10-02 10:48] grenzr commented on #723
@jon-walton I managed to get the DNS records to stick by switch to latest 0.5.7 tagged version and ensuring  `--policy=upsert-only`, not `sync` (which I tried out to see if that would make any difference, but it didn't).

I couldn't understand why the deletions were occurring as there were no records of it being requested from the external-dns logs, but it seems fine now anyway.

[2018-10-02 12:11] okgolove commented on #456
Have same problem with internal ELB on AWS.
My nginx ingress controller service:
[code]

[2018-10-02 12:31] okgolove commented on #456
Try to add --publish-service option. It helped me.
https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples/static-ip#acquiring-an-ip

[2018-10-02 18:53] grenzr commented on #723
Yeah I thought the same when I looked through them @jon-walton. I had the problem surface again later on today. Something temperamental appears to be going on.I still can't quite work out why its happening, but will give it a look again tomorrow too. Probably chat to you then :)

[2018-10-02 19:10] etopeter opened #726 "Wildcard records in AWS not synced when using txt-prefix"
When I set a wildcard record: *.example.com and set --txt-prefix=something it will create 2 records - a CNAME and TXT.

\*.example.com (Route53 Alias record)
something-\*.example.com. TXT record

TXT record has correct owner id.
Route53 is storing records and changing \* to (ASCII 42) [AWS domain-name-format-asteriskx](https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html

[2018-10-02 21:15] ottoyiu commented on #554
Is there any progress on this? If not, I maybe able to take a look at it and take it on. We have a similar use case as above.

[2018-10-02 21:58] ffledgling commented on #554
@ottoyiu Unfortunately I haven't been able to work on this, feel free to give this a go, it shouldn't be too hard. Let me know if you have any questions!

[2018-10-02 23:04] grenzr commented on #723
These are my logs:

[code]

@jon-walton our cases have a small difference:

You at least appear to have deletion events in yours, while I have none. I have been looking at the code in the azure provider and can't quite see why it would do a deletion without logging it. Yet I can see in the Azure portal that the service account I put into /etc/kubernetes/azure.json is the same one doing the additio

[2018-10-03 00:43] etopeter commented on #712
What's your policy setting? If it's upsert-only it will not touch existing records. You need to set it to sync to update old ones.

[2018-10-03 08:48] grenzr commented on #723
Sigh.. embarrassingly I just deployed external-dns with the same config in 2 different clusters by accident. They were fighting each other. Remove one and things stabilise.. will keep an eye on it to make sure that's all it was.

[2018-10-03 09:37] jon-walton commented on #723
hmm.... yes.... indeed... sigh. I was about to post that the records were still being deleted even after scaling the deployment to 0 on the cluster and (on my laptop) setting a breakpoint within the loop or killing the process before the next loop.

It turns out that I had forgotten I also tried out the new kubernetes features in docker (rather then using minikube) and it was running external-dns

[2018-10-03 09:37] #723 closed

[2018-10-04 00:02] akozichev opened #729 "panic: assignment to entry in nil map"
Configuring GCS + CloudDNS with nginx-ingress using https://github.com/kubernetes-incubator/external-dns/blob/master/docs/tutorials/gke.md

After first record added successfully, I am getting the below errors and external-dns goes into a crash loop.
If I manually remove in CloudDNS external-DNS records the POD recovers on the next restart.

external DNS runs with the following arguments:
        -

[2018-10-04 07:42] akozichev commented on #729
the issues is not there on v0.5.0

[2018-10-04 08:21] mikkeloscar commented on #729
On which version do you see it?

[2018-10-04 15:00] mostafahussein commented on #622
@MarcErdmann which domain should i pass to domain filter?
I have the same exact issue but in my case i would like to use subdomains for my deployment

for example in my cloudflare i have a domain called kube-test.com

and each deployment uses the same domain but with a different subdomain for example:

frontend.kube-test.com
backend.kube-test.com

and the annotations contains these subdomains and

[2018-10-04 16:57] ricardohsd commented on #712
I'm having the same issues. Have you folks find the solution?

[2018-10-04 20:35] etopeter commented on #666
This is expected behavior. AWS alias record will return ELB IPs. If you're using this endpoint from within Kubernetes cluster you may want to use service endpoint instead eg. my-svc.my-namespace.svc.cluster.local. It will return IP address of service or IP address of pod if its a headless service.

[2018-10-04 21:28] mtsgrd commented on #729
I experienced this as well and just had a quick look. It seems it was introduced in `v0.5.7-1-g6285b2c`, the current `teapot/external-dns:latest`.

[2018-10-04 22:28] akozichev commented on #729
yes, it is latest. sorry I thought I mentioned it

[2018-10-05 22:45] etopeter commented on #712
If you're using official helm chart it sets default policy to upsert-only [Helm chart](https://github.com/helm/charts/blob/master/stable/external-dns/values.yaml#L64)
In this mode it will not touch records that are already created.

You need to add to your custom values file:
`policy: sync`

[2018-10-06 23:46] szuecs opened #731 "create/upsert records fail if too many AWS records to apply"
restore a cluster backup will fail if you have too many records to create.

[code]

I think you need to do paged upsert/creates.

[2018-10-06 23:56] szuecs commented on #731
I could workaround the problem with using `--aws-batch-change-size=40`

[2018-10-07 23:35] jurgenweber opened #732 "on delete; InvalidChangeBatch"
I have spoken on slack about this issue and I am now seeing it again:

settings and version, etc:
[code]

error:
[code]

This error matches all of the records it is trying to delete, if I manually remove this record it will just get stuck on the next one until I remove them all.

the error is an AWS error:

https://aws.amazon.com/premiumsupport/knowledge-center/troubleshoot-route53-resource-record

[2018-10-08 10:55] linki commented on #732
@jurgenweber are the affected records all ALIAS records?

[2018-10-08 11:38] jurgenweber commented on #732
considering that the only records in this route53 zone are Alias records I think it is safe to say 'yes'.

[2018-10-08 14:48] linki commented on #732
@jurgenweber Then you're most likely running into this issue: https://github.com/kubernetes-incubator/external-dns/issues/720. There's an open PR with a fix for it which you could give try: https://github.com/kubernetes-incubator/external-dns/pull/724.

I pushed an image as well: https://github.com/kubernetes-incubator/external-dns/pull/724#issuecomment-427864053

[2018-10-08 21:00] iAnomaly commented on #709
+1! I would envision a logical inclusive OR of each --annotation-filter value.

This could be taken a step further by modifying --annotation-filter to accept an array of values that are logical ANDs such that you could chain filters to form composites by ANDing and ORing arbitrary annotations.

[2018-10-08 21:44] bzon commented on #632
We need this feature!

[2018-10-08 22:23] jurgenweber commented on #732
ok, I am trying the image. I will let you know if I run into issues (and assume no news is good news).

[2018-10-09 15:01] mostafahussein commented on #616
@MarcErdmann could you explain the solution more please ?

[2018-10-09 16:18] danehans commented on #707
@bartelsielski I ran into the same issue as you. Did you figure out a workaround?

/cc @shashidharatd

[2018-10-09 20:09] MarcErdmann commented on #616
As far as I remember:

I added Google Nameservers to my kube-dns
[code]

I thought external-dns would then be able to resolve *https://api.cloudflare.com/client/v4/zones* correctly. But it still was not working. The problem was that locally on my servers was a **/etc/resolv.conf** file that registered my server provider's DNS server. I deleted it and then the url resolved correctly without a timeo

[2018-10-10 09:03] primeroz commented on #543
We had the same problem and for us was due to a missing support of Custom TTL with google DNS.

This is fixed in 0.5.7 ( we use the bitnami/external-dns image )

[2018-10-10 20:37] bartelsielski commented on #707
@danehans As far as I've tested (which isn't that far), DNS records defined in the CRDs still get created. The `status` field of the CRD object just won't get updated. So a possible workaround could be to just ignore the warning (I haven't done any in depth testing so this might not be a viable workaround in the long run).

[2018-10-11 10:06] linki commented on #722
Yes, it is. I forgot to fill out the changelog.

[2018-10-11 10:06] #722 closed

[2018-10-11 11:09] PavelKarpenka commented on #729
Hello!
I ran into the same issue. Could you please suggest some workaround? Maybe the tag of stable image?

[2018-10-11 20:26] karkrish opened #735 "AWS Route 53 record set is not deleted after deleting the kubernetes services"
Hi Team,

Thanks a lot for providing the solution to the DNS. I recently configured the external DNS with my kops cluster. DNS record set creation is working as expected. But when I delete the service, its not deleting the record set from Route 53 hosted zone. Can you please provide your inputs on this?

**my-svc.yaml**

[code]

[2018-10-11 21:03] jurgenweber commented on #732
closing as your image solved the issue and I saw the release just now with the fix in there.

[2018-10-11 21:03] #732 closed

[2018-10-12 00:10] linki commented on #735
Hi @karkrish, please make sure to try it with the newest version (`v0.5.8`).

[2018-10-12 19:59] karkrish commented on #735
@linki Thanks for the update. I am already using the latest image in my DNS. I have cleared the images from my local and re-deployed it. It worked after that.

[2018-10-12 19:59] #735 closed

[2018-10-12 20:55] segator commented on #380
+1, any new?

[2018-10-12 21:00] nesl247 commented on #651
When you applied the file, did you create it in a specific namespace? Look at the ClusterRoleBinding. The namespace for the account is `default` which may differ from where you created it.

We ran into the same issue.

[2018-10-12 23:12] ottoyiu commented on #554
Started to tackle this. Need to do some testing and add test cases:
https://github.com/ottoyiu/external-dns/commit/7172494877dc2981d4982221d87aac987c8ee253

Reading the code, filtering out ListZones will be enough to filter out unwanted ops to powerdns. Though the reason why there are left over endpoints would result in a confusing and unrelated message (ie. missing zone)

[2018-10-14 05:42] ffledgling commented on #554
@ottoyiu I'll try to review this over the weekend. Thanks for giving it a go.

[2018-10-14 22:38] ottoyiu commented on #554
@ffledgling I opened #737 with the implementation.

[2018-10-15 07:04] mmack opened #738 "rfc2136 - setup fails"
[code]

Error:

[code]
Image:
[code]

Fix is on the way...

[2018-10-15 08:38] simplytunde commented on #328
My issue was with kube-dns. had to restart the pod

[2018-10-15 10:20] shashidharatd opened #740 "Google-CloudDNS: Unable to write CNAME record when txt registry is enabled."
Below is the error message from Google Cloud DNS when i try to write CNAME record when txt registry is enabled.
[code]
If i use `noop` registry instead of `txt` registry, the operation is successful.
[code]

Is this a known issue? Any workarounds available for this issue?

/cc @njuettner @linki

[2018-10-15 13:58] njuettner commented on #729
It seems like there's a bug in the current version, this is fixed in PR https://github.com/kubernetes-incubator/external-dns/pull/739. We will rollout a new version this week.

[2018-10-15 14:01] njuettner commented on #720
This issue is fixed in the https://github.com/kubernetes-incubator/external-dns/releases/tag/v0.5.8

[2018-10-15 14:01] #720 closed

[2018-10-15 14:02] njuettner commented on #706
We're always open for PR's 🙂

[2018-10-15 14:03] #670 closed

[2018-10-15 19:55] pierreozoux commented on #706
I'll not be able to work on that on a close future. ANd I think redhat future is to make ingress a first class citizen, so I'll close this for now.

[2018-10-16 08:56] crubier commented on #651
I just ran into the same issue. I'd love an example of a single YAML file I could apply to make this work.

[2018-10-16 12:41] #738 closed

[2018-10-16 16:28] zhenyulin opened #743 "RBAC error when creating Cluster-Role for external-dns"
versions:
[code]

error message:
[code]

tried the solution from https://github.com/coreos/prometheus-operator/issues/357#issuecomment-363498455 but still get the same error

[2018-10-16 16:42] zhenyulin commented on #743
https://github.com/coreos/prometheus-operator/issues/357#issuecomment-363498455 worked

[2018-10-16 16:42] #743 closed

[2018-10-16 21:07] hjacobs commented on #743
@zhenyulin did you follow the GKE tutorial (https://github.com/kubernetes-incubator/external-dns/blob/master/docs/tutorials/gke.md)? That should work as-is (the last time I tried myself).

[2018-10-17 16:00] danehans commented on #740
@shashidharatd do you see the same issue if you set `--txt-prefix`? See this [note](https://github.com/kubernetes-incubator/external-dns#note) for details.

[2018-10-17 16:35] danehans commented on #740
@shashidharatd adding `--txt-prefix` solved the issue. See https://github.com/kubernetes-incubator/external-dns/issues/262

[2018-10-17 21:21] anandkumarpatel opened #746 "Add ability to ignore hostname annotations"
I would like the ability to ignore the `hostname` annotation.

In our cluster we allow service owners to deploy their service with their own config files. However, the team that controls the DNS does not want services owners to have the ability to set their own hostnames due to potential name clashes. We could also solve this issue with Admission Controllers but would like to keep everything part

[2018-10-18 08:17] gyliu513 commented on #648
Any plan to have a CoreDNS tutorial? It is very difficult to do a test based on local k8s clusters to test external-dns.

FYI @xunpan

[2018-10-18 08:27] gyliu513 commented on #669
@twittyc would you please share some steps for how to setup the exernal dns with CoreDNS?

We also have an issue at here https://github.com/kubernetes-incubator/external-dns/issues/648 but seems no progress, can you please help provide a draft steps here for me to follow up? If your step works, I would like to be the volunteer for https://github.com/kubernetes-incubator/external-dns/issues/648 to

[2018-10-19 14:23] gankit opened #748 "external-dns not adding A records to an existing hosted zone in Route53"
Hey everyone,

I have a kubernetes cluster deployed on AWS with Route53 as my domain hosting service. I'm using a classic load balancer  to split traffic across the nodes. I already have an existing hosted zone in Route53 with a bunch of configurations for me email service, etc. I wanted to use external-dns to add A records that point to my ELB every time it gets updated. This isn't happening. Her

[2018-10-19 15:28] kifj opened #749 "provider rfc2136 not accepted"
using registry.opensource.zalan.do/teapot/external-dns:v0.5.8

with parameters
       --source=ingress
       --provider=rfc2136
       --rfc2136-host=192.168.1.134
       --rfc2136-port=53
        --rfc2136-zone=example.com
        --rfc2136-tsig-secret=${RFC2136_TSIG_SECRET}
        --rfc2136-tsig-secret-alg=hmac-md5
        --rfc2136-tsig-keyname=test4echo-key
        --rfc2136-tsig-axfr

fails

[2018-10-19 16:55] j-slater opened #751 "Sync policy not deleting TXT records using Designate provider"
I wanted to find out if there was any intentional design decision that external-dns does not delete TXT records when using the sync policy, or if this is an issue specific to the OpenStack Designate provider.

After deleting a service in Kubernetes, I only see the A record deleted in external-dns. Consquently creating the service again returns a 409 from Designate because the old TXT record was st

[2018-10-21 12:09] davidmarkstartapp commented on #225
@richardmarshall thanks for the effort!
Can you share the status of the feature?

[2018-10-22 03:44] hyder opened #752 "Error in documentation for Oracle Cloud Infrastructure DNS"
The current documentation says to create a new file (oci.yaml):
[code]
There's a missing yaml key "key". It should be like the following:
[code]

[2018-10-22 11:39] schittler opened #753 "cloudflare CNAME fails validation"
I annotated an ingress with a CNAME:

`external-dns.alpha.kubernetes.io/target: "tq.[root domain]"`

This is recognized by external-dns:

`time="2018-10-22T11:36:43Z" level=debug msg="Endpoints generated from ingress: prometheus/prometheus-grafana: [grafana.[root domain] 0 IN CNAME \"tq.[root domain]\" map[]]"`

However, the CNAME is rejected by Cloudflare for unspecified reasons:

`time="2018-10-

[2018-10-22 13:51] #631 closed

[2018-10-22 14:01] akx commented on #651
@crubier This worked for me as a single YAML file. Do note, though, that you will need to adapt `NAMESPACEHERE` to the namespace you apply the file with.

[code]

[2018-10-22 16:06] kifj commented on #749
It seems to me that commit f3b2de09a31f84a5e423eb10780058e81baa5b22 is not part of v.0.5.8

[2018-10-22 18:17] richardmarshall commented on #225
@davidmarkstartapp At this point I'm just waiting on getting bandwidth from our legal team to get the CNCF corporate CLA signed.

Once there is movement on the legal front I'll put aside some time to write up tests for the provider so they're ready to go when I'm able to submit the PR.

[2018-10-23 06:45] yujunz opened #754 "Failed to list services"
I am following the instructions in AWS docs and got the errors below

[code]

The related resources are as below

[code]

[2018-10-23 06:52] yujunz commented on #754
It turns out to be namespace issue. All the manifests should be applied in `default` namespace since cluster role binding is hard coded.

[2018-10-23 06:52] #754 closed

[2018-10-23 15:02] tuapuikia opened #755 "Aliyun provider"
Can I use aliyun provider in cluster hosted on AWS? As far as I know, aliyun provider only works on node in aliyun cluster.

Is it possible to pass alicloud access id and key via environment variable?

[2018-10-24 13:37] strtdusty commented on #749
I have built my own image from master and the rfc changes appear to be pretty stable.  I look forward to the next release that includes this.

[2018-10-24 16:45] amarrella opened #757 "Multiple Istio Ingress gateways"
Hi! Thanks for this project and for #694 in particular, it's a really nice thing to have!
I was wondering: would it be possible to support multiple Istio ingress gateways?

[2018-10-25 11:02] hodduc commented on #707
In my case, I also ran into this issue, and I found that "CustomResourceSubresources" feature gate was set to default ("false") in my cluster.
I set this to "true" and re-created CRD, then created CR again, then everything works.

[2018-10-26 13:00] naveeng68 opened #759 "multiple - --istio-ingress-gateway"
Hi,
I am using two istio ingress load balancer (abc, xyz)
few services point to abc and few on xyz,
I created two my external Deployment.yaml
is like
[code]
[code]
and my ingress is like
[code]
and 2nd ingress class
[code]
both point to same load balancer either abc or xyz (which one is running later )
I need seprate service running on seprate load balancer.
Please guide me or do needful.

[2018-10-26 15:53] amarrella commented on #759
Kinda similar to #757. I'm trying to tackle it in #758 but any help is more than welcome :)

[2018-10-29 15:44] ingvagabund commented on #707
minikube `v0.28.2` still deploys kubernets v1.10. Try:
[code]

[2018-10-29 21:45] jurgenweber commented on #732
np

[2018-10-30 08:57] bartelsielski commented on #707
So I verified both solutions mentioned above:
* enabling the `CustomResourceSubresources` feature gate in Kubernetes v1.10
* using Kubernetes v1.11 (the `CustomResourceSubresources` feature gate is enabled by default in this version)

Thanks for the help guys.

[2018-10-30 08:57] #707 closed

[2018-10-30 23:39] tristanstraub commented on #748
@gankit try removing the dot at the end of "www.bicyclehealth.com". It may be that the domain-filter is not smart enough to recognize the equivalence.

[2018-10-31 01:47] igoratencompass commented on #403
I'm seeing the same issue in AWS:

[code]
Although I have the `external-dns.alpha.kubernetes.io/hostname` annotation in the service of `type: LoadBalancer`. I can also see:

[code]
in the service status. I'm using the `registry.opensource.zalan.do/teapot/external-dns:v0.5.6` image. The DNS for Ingress works fine with this image.

[2018-10-31 01:57] igoratencompass commented on #403
I also noticed that the annotation is missing from the `kubectl.kubernetes.io/last-applied-configuration`:

[code]
Is this normal?

[2018-11-02 02:52] meringu commented on #571
+💯

[2018-11-02 10:41] cusspvz commented on #314
@ideahitme can you please reopen this?

[2018-11-05 18:51] mtsgrd commented on #729
@njuettner it appears this bug is still present in v0.5.8. Any idea what this might be?

[code]

[2018-11-05 20:46] JannikZed commented on #449
I have the same issue - trying to write to my root domain pfefferundfrost.com with DNSimple provider -resulting in a strange error:
External-dns is writing the A record for pfefferundfrost.com.pfefferundfrost.com and complaining later:
[code]

[2018-11-06 02:01] bradenwright commented on #413
FYI for anyone using helm you just need to set the following:
[code]
https://github.com/helm/charts/blob/master/stable/traefik/values.yaml#L51

[2018-11-06 02:02] bradenwright commented on #413
@c-knowles @hjacobs I'd consider this issue closed, I guess maybe worth updating documentation but its definitely supported and very easy to get working

[2018-11-06 07:37] hjacobs commented on #413
@bradenwright let's have 1-2 sentences about it in the FAQ. I guess a new bullet item [here](https://github.com/kubernetes-incubator/external-dns/blob/master/docs/faq.md#which-service-and-ingress-controllers-are-supported) makes sense: "Traefik is supported when setting the XYZ flag"

[2018-11-06 07:49] coderanger commented on #413
How about this:

* [Traefik](https://github.com/containous/traefik), when [`kubernetes.ingressEndpoint`](https://docs.traefik.io/v1.7/configuration/backends/kubernetes/#ingressendpoint) is configured(`kubernetes.ingressEndpoint.useDefaultPublishedService` in the [Helm chart](https://github.com/helm/charts/tree/master/stable/traefik#configuration))

[2018-11-06 08:40] hjacobs commented on #413
PR welcome :smile:

[2018-11-06 11:17] c-knowles commented on #413
I can confirm this is working with the latest chart for Traefik and the above settings, we upgraded to that a couple of weeks ago and it's now setting the Ingress statuses which then gets picked up by external-dns automatically.

[2018-11-07 14:54] ensonic commented on #729
Also got it when upgrading to 0.5.8, 0.5.7 works

[2018-11-07 15:02] strtdusty commented on #749
Anything I can do to help with a new release?

[2018-11-07 15:40] vvangestel opened #766 "AXFR error: dns: bad xfr rcode: 9 (rfc2136 provider)"
We are running external dns using the rfc2136 provider (using a custom container with the code built from commit: 2c60263 - This to avoid the current bug described in #749).

Updates go through without any issue, but external dns is not capable to list the current entries in the zone as it fails to do a zone transfer.

We are greeted with the following error:
[code]
All the information is valid an

[2018-11-08 04:41] hyder commented on #752
Fixed in #750

[2018-11-08 04:41] #752 closed

[2018-11-08 07:54] vvangestel commented on #766
As it turns out, our rfc2136 setup has TSIG enabled, but not for the zone transfers. To fix this issue in our setup, we would need to be able to influence the *insecure* flag separately for updates and zone transfers, instead of the all or nothing approach.

[2018-11-08 15:01] mtricolici commented on #497
Update: I've tested external-dns in google kuberntes as a service (without disabling HttpLoadBalancing).. and it works fine.
I guess documentation should be updated.

[2018-11-10 21:11] davidmarkstartapp commented on #225
Thanks for the info @richardmarshall

[2018-11-13 15:09] #413 closed

[2018-11-14 05:37] wadadli opened #770 "No support for pulling with containerd"
Using the `cos_containerd` images which are now in beta in GKE.

[code]

I saw a similar err here:

https://github.com/containerd/cri/issues/787

[2018-11-14 09:34] Raffo commented on #770
@mikkeloscar I've seen you participated to the linked issue, maybe we can also push the images to docker hub while the bug in pierone is getting fixed such that people can have a ready made image?
Another reasonable approach would be asking sig-network if we can get rights to automate the push to gcr like most of the other kubernetes-incubator project that can use the `k8s.gcr.io` registry.
I'd pr

[2018-11-14 11:13] mikkeloscar commented on #770
Yes, we did get it to work at some point, but the registry has since been moved to Kubernetes which may have broken something. I'll follow up on this today and get back with a status update whether it's more effort to fix our registry or setup a "mirror" push to docker hub/gcr.

[2018-11-14 13:13] #580 closed

[2018-11-14 14:09] #659 closed

[2018-11-14 14:13] mikkeloscar commented on #770
@wadadli do you see this consistently or was it a transient error?

I have not tried GKE with containerd, but have tried containerd on my own machine (which is how I investigated the original issue you linked).

"It works on my machine"

[code]

From the error you posted it looks more like a temporary issue with the connection, but if it keeps happening then I could try spin up a test on GKE.

[2018-11-14 14:35] mikkeloscar commented on #770
The `crictl` UX is not the best. I removed the image first with `rmi`. That's what I was trying to show with the initial listing of images which showed an empty list :)

[2018-11-14 15:22] wadadli commented on #770
oh I see.  a node was able pull today.  :+1:

but should this `404`
[code]

[2018-11-14 16:23] mikkeloscar commented on #770
I think this is the URL for the image:

[code]

[2018-11-14 19:22] wadadli commented on #770
well glad this is working. :+1:

[2018-11-14 19:22] #770 closed

[2018-11-14 20:10] MaxDiOrio opened #771 "external-dns trying to register an IPv6 address"
Just deployed external-dns to a new cluster using the PowerDNS provider.  Getting the following error - not sure why it's pulling an IPv6 address to register.

level=error msg="Status: 422 Unprocessable Entity, Body: {\"error\": \"Record influx.prod.cluster./A 'fe80::250:56ff:fe85:8e31': Parsing record content (try 'pdnsutil check-zone'): while parsing IP address, expected digits at position 0 in

[2018-11-14 21:14] MaxDiOrio commented on #771
The IPv6 it's trying to register is assigned to one of the worker node's eth0 interface, which also has an IPv4 since we don't use v6 here.

[2018-11-15 10:48] njuettner commented on #771
There's currently no support for IPv6, however a PR is open to support it (currently AWS only).
https://github.com/kubernetes-incubator/external-dns/pull/576

[2018-11-15 10:52] njuettner commented on #766
@vvangestel We're always open for PR's 😃.

[2018-11-15 10:54] MaxDiOrio commented on #771
No, no...I do not want ipv6.  I believe this is a bug in Rancher K8S, not external-dns.  I'm going to close this.  Thanks.

[2018-11-15 10:54] #771 closed

[2018-11-15 13:11] freddd opened #772 "Log messages showing as errors in Google Stackdriver"
Hi,

If you deploy cert manager on GKE you get all the logs as errors becase `logrus` is by default piping all logs to `stderr`. Would be awesome if you could add a flag or pipe errors to stderr and the rest to stdout.

Reference:
sirupsen/logrus#403
Azure/open-service-broker-azure#25

Example (notice the icon as well as level=info but severity=ERROR):
<img width="1402" alt="skarmavbild 2018-11-15

[2018-11-15 14:03] Evesy commented on #536
Hey @njuettner,

I see pagination support has been added to cloudflare-go (https://github.com/cloudflare/cloudflare-go/pull/220)

Are there plans to update external-dns to support this, I _think_ I'm hitting the same issue that's described above?

[2018-11-15 16:16] Evesy commented on #729
To echo the above, `0.5.7` appears to work fine, `0.5.8` sees the issue. Similarly using Nginx Ingress + Google Cloud DNS

[2018-11-16 08:04] dsbrng25b opened #773 "Default CRD apiversion does not match apiversion in CRD manifest"
External-dns does not start with the default settings when using CRD as source.

`time="2018-11-16T07:58:41Z" level=fatal msg="error listing resources in GroupVersion \"externaldns.k8s.io/v1alpha\""`

Setting `--crd-source-apiversion=externaldns.k8s.io/v1alpha1` solves the problem but i think the default in pkg/apis/externaldns/types.go should be changed to match the CRD manifest `docs/contributin

[2018-11-20 12:31] freddd commented on #772
We are getting the same issue in `datadog` as well.

[2018-11-20 15:56] njuettner commented on #729
@akozichev It seems Google is the only provider which doesn't initiate labels correctly. I've created a PR which fix it.

[2018-11-22 19:13] so0k commented on #726
this is part of 0.5.9 release

[2018-11-22 19:18] #773 closed

[2018-11-23 06:10] stoneagle commented on #669
@gyliu513 ，hello，I also encounter same issue
coredns+external-dns

1. I create a ingress(nginx-ingress) with load-balancer and exterlnal-ip, the address end with 249
2. And nginx-ingress publish address status 249 to an ingress test.lalala
3. After I change and recreate ingress config, new ingress load-balancer bind with new exterlnal-ip, end with 250
4. And nginx-ingress publish address status 25

[2018-11-23 13:12] dsbrng25b opened #784 "Infoblox provider fails with: Result set too large"
The Infoblox provider does not work if you have more than 1000 records in a zone and it's not clear which zone causes the problem.

To avoid this problem it should be possible to pass the _max_results query parameter with the API calls to Infoblox. This is not possible with the current infoblox go client (infobloxopen/infoblox-go-client#73).

Until this is fixed we could at least show which zone c

[2018-11-24 21:45] sebastien-prudhomme opened #789 "Feature: support for Gandi DNS"
Hi,

It will be great for my use case that external-dns is compatible with Gandi registrar.

Gandi an offering an API called LiveDNS: https://doc.livedns.gandi.net
There is also an old API not i'm not sure if it will be maintained for a long time.

Dnscontrol project, which is also written in Go, as a provider for it: https://github.com/StackExchange/dnscontrol/tree/master/providers/gandi

They ar

[2018-11-25 13:05] Raffo commented on #789
Hi,
we happily accept pull requests with new provides. Please follow the instructions in https://github.com/kubernetes-incubator/external-dns/blob/master/CONTRIBUTING.md for information on how to contribute.

[2018-11-27 16:41] angapov commented on #509
For me the only way to make external-dns work was adding scope "https://www.googleapis.com/auth/ndev.clouddns.readwrite" when creating GKE cluster. Even Owner role for nodes did not help. Cluster version 1.11.2-gke.18.

[2018-11-28 09:56] zachyam opened #792 "Question about source and registry error metrics"
I am exporting external-dns metrics to Prometheus. We recently upgraded external-dns to the latest version so that we could retrieve source and registry error metrics, introduced in this PR: https://github.com/kubernetes-incubator/external-dns/pull/652/commits/7668323f60b1496fe6798c9492c2a2cff5d7e291

I was wondering if anyone could shed light on what exactly source errors and registry errors are?

[2018-11-28 10:31] #784 closed

[2018-11-28 11:05] linki commented on #792
@zachyam The error counters go up whenever we get an unhandled error from either the `Source` or the `Registry` per iteratorion.

`Source`s are mostly Kubernetes API objects so errors would be things like connection errors to the Kubernetes API server itself or missing RBAC permissions. It can also stem from incompatible configuration in the objects itself like invalid charaters, processing a brok

[2018-11-28 20:23] marshallford commented on #479
Please reconsider pushing the image to Docker Hub, gcr.io, or maybe quay.io. The `zalan.do` registry choice made me initially wary of the project's stability, community, and significance in the k8s ecosystem. Why go out of your way to choose a strange registry?

[2018-11-29 07:36] Raffo commented on #479
@marshallford I think this issue was already explained in the past: while you don't know that docker registry, the image is provided for convenience and you can easily build your own if you want.
That said, it's true that most of the Kubernetes projects have k8s.io as registry nowadays and we could be thinking of asking whoever owns that registry to also set a pipeline to have images that look con

[2018-11-29 16:58] Raffo opened #795 "Is the "latest" tag being published and updated?"
The documentation for the Amazon SD service (https://aws.amazon.com/blogs/opensource/unified-service-discovery-ecs-kubernetes/ ) points to an image tagged as `registry.opensource.zalan.do/teapot/external-dns:latest` which is also used in plenty of our tutorials.
Are we nowadays updating the `latest` tag in the pipeline? It doesn't look like it's the case from https://github.com/kubernetes-incubato

[2018-11-29 17:34] mikkeloscar commented on #795
`latest` is a magic tag in our registry. It returns always the latest "real" tag. As of right now it's the same as tag `v0.5.9-13-ge94a9be`.

[2018-11-29 19:07] marshallford commented on #479
@Raffo I don't understand what you are getting at and you seem to be contradicting yourself.  Other popular projects like service-catalog, ingress-nginx, k8s dashboard, etc all use a mainstream registry. IMO this issue isn't resolved.

[2018-11-30 02:45] gyliu513 commented on #648
The PR has been merged for CoreDNS https://github.com/kubernetes-incubator/external-dns/pull/791

@mruepp can you help close this?

[2018-11-30 08:42] Raffo commented on #795
Understood, thanks for the clarification. What if we make this less magic and we document this? A couple of lines in the README would do and we will make sure not to confuse users.

[2018-11-30 08:55] Raffo commented on #479
I don't see how I am contradicting myself: the registry used is a perfectly valid registry and I trust it. The source is also provided and you can easily build your own image if you don't trust it.
That said, to be consistent with the offering that is provided in other official Kubernetes projects and being the `k8s.io` registry officially owned by the community, I support the initiative to start

[2018-11-30 08:56] Raffo commented on #648
I can close this @gyliu513 !

[2018-11-30 08:56] #648 closed

[2018-11-30 10:41] njuettner commented on #479
@Raffo sounds good to me 😄!

[2018-11-30 15:41] marcindulak commented on #691
Related https://github.com/kubernetes-incubator/external-dns/issues/732

[2018-12-01 09:54] kifj commented on #749
fixed with release 0.5.9

[2018-12-01 09:54] #749 closed

[2018-12-03 04:14] phyllisstein commented on #449
Not sure when this landed---there's nothing of note in the CHANGELOG---but this appears to be fixed as of `v0.5.9-15-gf25f90db` (which I'm pulling into my cluster from the `latest` tag).

An ingress that looks like this will now correctly assign a record to the apex in CloudFlare:

[code]

[2018-12-03 07:51] Raffo commented on #479
Moving the build step to Travis doesn't seem to be the best approach to me,
I'd rather try to get external dns to be built by the official kubernetes
infrastructure which I assume would have credentials to push to the k8s.io
registry.

On Mon, Dec 3, 2018, 04:29 Marshall Ford <notifications@github.com wrote:

[2018-12-03 09:16] de1m opened #797 "RFC2136 provider dont' woking"
I've a questin how to use the rfc2136 provider. My test zone (a bind server, wich is only internal reacheable) is aditocloud.de. So I've configured the zone to allow update with a key.
The log of bind dns show okay
[code]
Also I've added a txt entry in aditocloud zone file:
[code]

And here the log from external dns:
[code]
The configuration of external dns:
[code]
Ingress testconfiguration:
[code

[2018-12-03 19:39] ramnes opened #798 "Make the CoreDNS provider use config's TLS settings"
First of all, thanks for the great tool!

One tiny little thing that is disturbing me while installing ExternalDNS is that all the options are configured via the binary arguments, apart from etcd settings for the CoreDNS provider, that are passed as environment variables.

#253 doesn't mention any particular reason for this, so I guess that it is an unintended inconsistency.

I would have the envi

[2018-12-04 06:23] laverite opened #800 "gg"

[2018-12-04 06:23] #800 closed, assigned to nobody

[2018-12-04 11:17] zachyam commented on #792
@linki Thanks for the reply. I was more interested in registry errors, so I turned on alerting for it to see what would trigger it. Turns out the metric reports a pretty wide range of errors; for instance, it would trigger a registry error alert when we did a cluster upgrade (pods were restarted), even though everything else was healthy.

I will try to dig into it a little more and see what useful

[2018-12-04 13:29] Xnyle opened #801 "Support armv7/8"
Tried to build an arm64 version, tuns out that's not currently possible because:

Build dep uses https://raw.githubusercontent.com/golang/dep/master/install.sh which doesn't support arm.

There is also a pending issue here https://github.com/golang/dep/issues/1807 but it seems nobody cares.

Therefore could the build process altered so that it does not rely on that script?
Or is there a fundamenta

[2018-12-04 14:58] linki commented on #800
gg

[2018-12-04 20:00] csrwng opened #802 "AWS: Add support for filtering zones based on tags"
In AWS it's possible to have multiple private zones with the same domain. To pinpoint the zone that you wish to manage, it would help to allow matching something other than the domain.

The zone tags would be an additional filter that can be passed to the controller.

[2018-12-05 01:45] #726 closed

[2018-12-05 10:05] prakharjoshi commented on #636
We are facing the same issue. When we checked for the issue we noticed that when external DNS annotations are added with nlb annotations, the SG which needs to be added to the nodes to allow node port is not added and thus making the node health check failed. Please let us know how we can use the external dns annotations with nlb annotations. When we remove the external DNS annotations, the SG are

[2018-12-06 02:17] xunpan opened #805 "coredns provider does not support more than 1 targets?"
For federation v2, it uses external DNS for multiple cluster service discovery.
There has DNSEndpoint resource with endpoints value:
[code]

It has 2 IPs for the service. But, there is only 1 record when it is recorded into CoreDNS with external-dns
[code]

I found in the code, https://github.com/kubernetes-incubator/external-dns/blob/master/provider/coredns.go. Only the 1st target is used. Is thi

[2018-12-07 07:58] xunpan commented on #805
I fix it in https://github.com/kubernetes-incubator/external-dns/pull/807

[2018-12-07 08:01] xunpan commented on #669
I'm trying to fix it in https://github.com/kubernetes-incubator/external-dns/pull/807

[2018-12-07 09:05] xunpan opened #808 "coredns obsolete record is not cleaned if related DNSendpoints resource is updated"
In federation v2, we use multiple clusters DNS: a DNS for service in multiple clusters. For a service, we have DNSEndpoint resource. E.g. with 2 member clusters
[code]
For the service, cluster1 has target IP: 172.x and cluster2 has target IP: 192.x.
Now, we have 2 record after fix #807 for the service.

However, when cluster2 is failed. Target 192.x is removed from the DNSEndpoint. However, extern

[2018-12-07 10:42] thudry opened #809 "Provider: Add support for OVH DNS"
OVH offer an api to manage DNS.
It would be great if this provider could be integrated

Resources:
API reference https://eu.api.ovh.com
Package to interact with the API: https://github.com/ovh/go-ovh

[2018-12-07 13:17] xunpan commented on #669
@Lujeni Yes. I noticed it :-). I referred your ticket in #807

[2018-12-07 13:20] njuettner commented on #809
We're always open for PR's 👍. I added some labels, in case of anyone wants to help here 😄.

[2018-12-07 13:38] xunpan commented on #805
Close it because 807 is merged

[2018-12-07 13:43] xunpan commented on #669
@twittyc @stoneagle
The fix is merged. Please try your case with latest code diff. If it works, please close the ticket.

[2018-12-07 14:41] ramnes commented on #798
That being said, the great thing with environment variables is that you can use `envFrom` in Kubernetes. Don't we want all the variables to be passable through either environment or command line, with a priority on the command line arguments, just like any good twelve-factors app? :slightly_smiling_face:

[2018-12-07 15:04] ramnes commented on #798
Okay, so… by looking at [some tests code](https://github.com/kubernetes-incubator/external-dns/blob/cbbbb6e845048e619a2195e386b070c938d32af0/pkg/apis/externaldns/types_test.go#L246-L248), it seems that it's already possible, actually.

The real problem is that the `etcd` provider uses its own variables for the TLS setup, whereas it could just use the `cfg` ones, [like the PDNS provider](https://gi

[2018-12-09 12:15] kifj opened #811 "RFC 2136 only adds first target"
Given an ingress (for host my.example.com) with multiple IPs:

[code]

the rfc2136 provider will only add a RR for the first IP address:

[code]
it seems too me that the AddRecord (and RemoveRecord) shoudl create a RR for each target in ep.Targets. The semicolon in the strings seems to be the cause that the first record is created and the rest is ignored so no error happens:
[code]

[2018-12-09 12:28] sam0104 opened #812 "external-dns for multiple KOPS cluster in AWS but single private zone"
I am using multiple KOPS cluster --topology=private with internal load balancer.
I have external-dns installed on cluster1   and cluster2 but both are using myzone.com (private zone)
When I am exposing services using AWS interval LB , I can see A records and TXT records are created but deleted for one cluster. I guess both external-end POD in two different cluster trying to sync and delete and rec

[2018-12-09 19:28] DenisBiondic opened #813 "[DOCS] Azure DNS zone service principal required role can be more limited"
The documentation states that the service principal used for Azure DNS Zone management has to have contributor rights on the resource group where DNS Zone is located. I just did a test -> "reader" on the resource group and "contributor" on the DNS zone is actually enough, no need to be overly permissive.

However, I am not 100% sure, although I did check the Azure provider source code as well. Can

[2018-12-10 00:59] ramnes commented on #669
I can confirm that #807 fixed it.

[2018-12-10 09:37] Raffo commented on #812
Can you give an example of what is happening? I don't see why there should be a problem with running external DNS on two clusters as long as you don't define the same records on both clusters.

[2018-12-10 10:07] marandalucas opened #814 "Configure DNS record TTL in Ingress or Set global default TTL"
**Issue:**
Currently when I configure ingress with the optional annotation `external-dns.alpha.kubernetes.io/ttl`, it doesn't work. Because It only works with "service" manifest, according to the documentation [Configure custom TTL - external-dns](https://github.com/kubernetes-incubator/external-dns/blob/master/docs/ttl.md)
**Versions:**

My workaround was to configure the service with this annota

[2018-12-10 10:41] marandalucas commented on #529
Do you know if it's going to be added?

[2018-12-10 10:50] marandalucas commented on #814
I found the following in the issues:

I'm going to check the following annotations:
[code]

[2018-12-10 13:33] angapov opened #815 "Add zone type for Google CloudDNS"
I'm trying to implement cert-manager + external-dns and faced issue. I have 2 zones for one domain: one public and one internal. Public zone is needed for Letsencrypt DNS validation. Internal zone is where services live. I configured external-dns with domain filter and seems like it's creating private records in public zone, which is not compatible with GCE internal DNS resolution.

Is it possible

[2018-12-10 14:43] marandalucas commented on #534
@yurrriq Could you write an example please? I tried with differents annotations but it didn't work.

[2018-12-10 17:10] yurrriq commented on #534
@marandalucas, I'm not sure what you're looking for. It sounds like we're having the same experience.

[2018-12-11 04:12] a7i commented on #636
Same issue here as well.

I am trying to create an ALIAS record using the following annotation:
`external-dns.alpha.kubernetes.io/alias`.

I also run into issues using the CNAME annotation:
`external-dns.alpha.kubernetes.io/hostname`

[2018-12-11 08:57] mostrovoi commented on #413
How do you guys configure traefik to make this config work? I am not using helm so I created a configmap containing the following:
``
apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-configmap
  namespace: ingress-sc
data:
  traefik.toml: |
    [kubernetes]
      [kubernetes.ingressEndpoint]
        publishedService = "ingress-sc/traefik-ingress-service"
``
In the deployment section I set

[2018-12-11 10:12] linki commented on #636
@kishorekumark what's the DNS name of your NLB? You should get one that is in one of the zones [listed here](https://github.com/kubernetes-incubator/external-dns/blob/master/provider/aws.go#L63-L77).

[2018-12-11 15:23] coderanger commented on #413
@mostrovoi Explaining how to configure Traefik in general is out of scope for this ticket. Please ask on one of the various Slack channels or other support systems for Traefik.

[2018-12-12 00:21] a7i commented on #636
@linki
I did get a DNS name *a713e083efcfe11e8a59302a3313a44e-37ddc84266a71837.elb.us-east-1.amazonaws.com*
by Hosted Zone ID: * Z26RNL4JYFTOTI*

[2018-12-12 00:38] a7i commented on #636
@linki Correction: I can now confirm that it works with `external-dns.alpha.kubernetes.io/hostname` but no luck with `external-dns.alpha.kubernetes.io/alias`.

I will give this some more time but if I cannot get it to work, I will create a separate issue. Thank you!

[2018-12-12 15:32] sylv3r commented on #449
It is indeed fixed as @phyllisstein said but it raises another issue : apex are usually associated with a lot of TXT records (google verification, spf, and other stuff) which seem to prevent external-dns to create its own entries :
[code]

[2018-12-12 19:51] irasnyd opened #816 "The --dry-run flag does not prevent records from being created"
Specifying the `--dry-run` flag does not prevent DNS records from being created in RFC 2136 mode.

Steps to reproduce:
1) Create a Kubernetes deployment of external-dns with `--dry-run` specified (detail included below)
2) Add an Ingress object
3) Watch external-dns create the associated DNS record

Expected results:
1) external-dns should not create any DNS records

Kubernetes Deployment:
[code]

[2018-12-12 20:34] JannikZed commented on #449
It is working with `www.domain.tld`, but not with `domain.tld` .. Even with the newest version I still get something like `A | domain.tld.domain.tld | 176.XX.XX.XX` for DNSIMPLE.

[2018-12-13 07:55] marandalucas commented on #534
@yurrriq I'm sorry i had a misunderstanding, i thought that you found a workaround.
@njuettner What is the progress of this issue? Thanks for all

[2018-12-13 08:20] szuecs opened #817 "Txt redirects"
It could be a good enhancement to support this https://about.txtdirect.org/docs/examples/

[2018-12-13 16:59] yurrriq commented on #534
No, I gave up, and was satisfied with the explanation that Amazon's `ALIAS` records assume the TTL of their targets.

[2018-12-14 16:56] bkleef commented on #449
Same here for DNSimple with:

[code]

[2018-12-15 05:36] georgeliaw commented on #469
This would be very helpful, rather than having to resort to configuration via other methods.

[2018-12-19 01:16] mattparkes commented on #536
I've got 23 zones and am running into this problem. :(

[2018-12-19 14:34] StianOvrevage opened #819 "Disable external-dns for specific ingresses"
We have external-dns set up with `--source=ingress`.

We have multiple clusters running variations of the same service. We then point a permanent DNS alias (CNAME) to the cluster that is operational.

For this to work we need to have ingresses across clusters that have the same hostname.

We want to have control over these CNAME records. However, external-dns keeps overwriting and creating race-co

[2018-12-20 00:42] mattparkes commented on #370
I'm super keen to see this. Looks like the work has already been done here: https://github.com/kubernetes-incubator/external-dns/pull/650

Any chance this can be merged?

[2018-12-21 10:10] fejta commented on #570
Required SECURITY_CONTACTS file still does not exist. Please resolve as soon as possible.

[2018-12-21 10:20] szuecs commented on #570
@fejta thanks reminding us.

@njuettner @linki  can you work on this please?

[2018-12-21 10:56] fejta commented on #570
kubernetes-incubator/external-dns still needs a SECURITY_OWNERS file.
/assign @linki @njuettner @hjacobs @shashidharatd @FaKod @antlad

[2018-12-21 10:57] fejta commented on #570
kubernetes-incubator/external-dns still needs a SECURITY_OWNERS file.
/assign @linki @njuettner @hjacobs @shashidharatd @FaKod @antlad

[2018-12-21 11:02] Raffo commented on #570
@linki @njuettner @szuecs I'm also not sure about the process, but we should get it done, feel free to ping me if you need help.

[2018-12-21 11:05] fejta commented on #570
Thanks! Sorry for the spam, clearly my tool isn't working 100% correctly yet!

[2018-12-21 22:13] ITBlogger commented on #731
Yep, getting bit by this after upgrading external-dns via helm...and --aws-batch-change-size isn't available as a setting for the helm chart

[2018-12-21 22:19] ITBlogger commented on #731
Added it as an extraarg in values file

[2018-12-21 22:48] jacklozano opened #823 "External DNS with InfoBlox Provider tries to create an A record with one hostname and multiple external IP addresses"
We are using External DNS via Helm deployment in our Rancher Kubernetes environment.  From what we can tell, External DNS is trying to create a single A record that has one hostname and three external IP addresses.  This is the error we see from the pod running External DNS:
`time="2018-12-21T22:41:11Z" level=info msg="Creating A record named 'nginx.containers.viasat.cloud' to '10.60.123.10;10.60.

[2018-12-22 21:10] leopoldodonnell opened #825 "Get `RRSet of type TXT with DNS name` when using a service target to a DNS entry in AWS with Traefik Ingress"
Get `RRSet of type TXT with DNS name` when using a service target to a DNS entry in AWS with Traefik Ingress

I'm thinking that my problem is not unique, I've read FAQs and other issues to no avail - what am I missing?

**Expected Behavior:** When using the *annotation* `external-dns.alpha.kubernetes.io/target` in an *Ingress* with a *DNS* entry for an ingress I would expect *external-dns* to inse

[2018-12-23 13:41] devkid commented on #571
@cristim Any updates on this?

[2018-12-23 15:18] cristim commented on #571
@devkid I stopped working on this, and I am now unable to resume for the next couple of months. If you are interested feel free to pick up from where I left it.

[2018-12-24 10:47] anandsinghkunwar opened #826 "Domain Filter Bug PDNS"
When using Domain Filters with PowerDNS provider and providing no domain filter, the provider ignores all zones instead of including all zones which is the default behavior.

[2018-12-24 11:06] anandsinghkunwar opened #828 "PDNS Provider fails ungracefully in case of NodePort Services"
It seems that the PDNS Provider doesn't support NodePort services currently. In case we create a NodePort service with the external-dns annotation, it fails ungracefully with the following message:
[code]
I feel it should ignore these NodePort services at least or warn about these and update the rest of the DNS Records.
In the current scenario, it can't create any more records once a NodePort serv

[2018-12-24 12:33] prageethw commented on #814
@marandalucas  did the TTL being set using above ingress config?  to me, it still defaults to 300 in aws

[2018-12-24 15:53] DenisBiondic commented on #813
Ok, I've submitted a pull request for this

[2018-12-26 12:01] Frintrop opened #830 "ExternalDNS should not expose NoSchedule able master nodes"
Our publicEndpoints for our services are created for the worker nodes only.
ExternalDNS should skip nodes labled as Unscheduleable or node-role.kubernetes.io/master="" from DNS entries.

[2018-12-27 10:01] Raffo commented on #830
In general I think we should have a flag for that, we can't foresee if some users will want to not skip master nodes.

[2018-12-27 15:17] dimatha opened #831 "Infoblox provider: add DNS view parameter"
As I maintain split-view DNS zones in Infoblox (internal/external), it would be nice to have the ability to specify DNS View as a parameter (default: "default").

Please have a look here for reference https://ipam.illinois.edu/wapidoc/objects/view.html

Unfortunately, I'm not a developer but it should be pretty straight forward, just allow additional parameter to be specified for Infoblox provider

[2018-12-27 18:52] Raffo commented on #591
I'd act as the GitHub bot and close this as there was no progress since June.

[2018-12-27 18:52] #591 closed

[2018-12-27 22:10] bksteiny commented on #812
@sam0104 - @Raffo is correct. We do this in our environment by setting a different `txtPrefix` and `txtOwnerId` per deployment of external-dns. This lets each external-dns deployment know which records it can / can't manage.

[2018-12-28 12:51] iamtakingiteasy opened #834 "Actual ingress IP not verified"
It seems that actual IP assigned to ingress by load-balancer is not verified.

So if dynamic IP is used, and IP has changed, external-dns doesn't see a change in.

And if records are deleted on NS, then old ingress IP would be used by external-dns when creating new entries.

Better watch for

[code]
evens

[2018-12-28 12:57] iamtakingiteasy commented on #834
Nevermind. Was a mistake on by behalf, checking different ingresses. Everything is fine.

[2018-12-28 12:57] #834 closed

[2018-12-29 19:47] szuecs commented on #570
@linki @njuettner I have no write access so please follow up

[2018-12-31 10:40] ffledgling commented on #828
@njuettner / @linki do one of you mind assigning this one to me?

[2018-12-31 14:00] Raffo commented on #828
/assign @ffledgling

[2018-12-31 14:00] Raffo commented on #828
@ffledgling well, you see the answer from the bot 😄 . You're still more than welcome to work on this issue.

[2018-12-31 21:57] #823 closed

[2019-01-02 14:48] cnuber commented on #421
We are hitting this issue and currently have 57 ingresses that use the fqdns we are monitoring with external-dns.  On smaller clusters we have typically 10-15 ingresses monitored and do not hit this issue.

[2019-01-02 15:03] szuecs commented on #421
@cnuber thanks for adding more information here!

@linki @njuettner we should work on a fix.

[2019-01-03 03:55] vrathore18 commented on #748
I am having the same issue.

[2019-01-03 10:33] walkafwalka commented on #591
In case anyone was wondering why the build was not working, the solution to building is to clone to `$GOPATH/src/github.com/kubernetes-incubator/external-dns`.

[2019-01-04 00:32] leopoldodonnell commented on #825
I’m going to close this - I created a new zone with a sub domain and things worked out. Now I need to find out what’s weird with the records in my zone to understand why it thinks the record already exists

[2019-01-04 00:32] #825 closed

[2019-01-04 12:12] yasn77 commented on #523
Are there any plans to address this? Creating multiple host rules is not ideal. I would even be happy with a new annotation specifically for external-dns.

[2019-01-04 16:15] materemias opened #840 "cloudflare provider keeps updating every ~10 seconds"
my ingresses do have multiple loadbalancers defined
[code]
and cloudflare provider keeps updating A and TXT records like crazy. the dns service kinda works but I am afraid I will hit an api rate limit at cloudflare
[code]
could there be a solution to only use the first ip of a loadbalancer 'cluster'?

[2019-01-04 16:37] kifj commented on #811
Checked it out with the provided images:
{code}
time="2019-01-04T16:32:07Z" level=debug msg="RemoveRecord.ep=my.example.com 0 IN A 192.168.122.12;192.168.122.144;192.168.122.25 map[]"
time="2019-01-04T16:32:07Z" level=debug msg="Adding RR: my.example.com 0 A 0.0.0.0"
time="2019-01-04T16:32:07Z" level=debug msg=SendMessage
time="2019-01-04T16:32:07Z" level=debug msg=SendMessage.success
time="2019-0

[2019-01-04 16:47] #816 closed

[2019-01-05 10:32] #566 closed

[2019-01-05 13:18] #811 closed

[2019-01-09 14:38] sp-manuel-jurado commented on #438
Same issue using: registry.opensource.zalan.do/teapot/external-dns:v0.5.9

[2019-01-10 10:06] wingZero21 commented on #536
Hi,

We currently have thousands of zones. Is it possible to get this resolved as we would very much like to start using this if possible!

Cheers

[2019-01-10 10:10] njuettner commented on #536
Hi sorry for the late response. I will have a look.

[2019-01-11 02:30] HeWhoWas commented on #219
Any news on this? I use a FQDN template, and would like to exclude services from the kube-system namespace, as well as a few others from being sync'd.

[2019-01-11 07:40] shlao opened #846 "Failed to run: Testing ingress example"
I get an error message when I run [command](https://github.com/kubernetes-incubator/external-dns/blob/master/docs/tutorials/coredns.md#L197),  as follow:
[root@localhost ~]# kubectl apply -f ingress.yaml
error: error validating "ingress.yaml": error validating data: apiVersion not set; if you choose to ignore these errors, turn validation off with --validate=false

[root@localhost ~]# kubectl appl

[2019-01-11 09:17] shlao commented on #846
PR-847 fixes this  issue

[2019-01-11 09:17] #846 closed

[2019-01-11 09:20] Raffo commented on #219
I think this wasn't picked up, PRs are welcome.

[2019-01-11 16:07] taylor-chen commented on #646
Hi @hjacobs, could you take a look at the PR? It is currently only applied to google as the provider, but I can add it to other providers if the current structure is accepted. Relevant info is in the PR. Thank you!

[2019-01-11 19:59] marc-szalkiewicz-dd opened #848 "Configure Creation of Service Record Regardless of Pods' Hostnames"
Related:
https://github.com/kubernetes-incubator/external-dns/issues/549
https://github.com/kubernetes-incubator/external-dns/pull/645

We propose introducing a new flag `create-service-record` which will create a record for a kubernetes service regardless of whether or not `hostname` is set on the pods backing the service.

Presently, given a service `foo.example.local` backed by pods with hostna

[2019-01-14 10:02] sylv3r commented on #449
Any update here ? This is really an issue to not being able to set our domain apex along with other entries because of `TXT` records.
Maybe there is a workaround I can't think of ?

Kind of really busy but if I can help on something to make this go forward, let me know.

[2019-01-15 00:49] callum-p commented on #759
+1. I have a private gateway and a public gateway that I want to support.

[2019-01-15 01:54] nyetwurk opened #850 "Providers: Add NSOne support"
https://github.com/ns1/ns1-go

[2019-01-15 01:57] nyetwurk opened #851 "Providers: Add simple external hook support"
similar to InMemory, but one that just calls an external hook program (e.g. a script)

[2019-01-15 06:30] anguslees opened #852 "ExternalDNS doesn't/should re-read updated Secrets"
Eg: If I replace my google credentials Secret, this translates to an updated file mounted inside the external-dns pod, but external-dns won't re-read the contents unless it is explicitly killed+restarted.  This has led to some confusing debugging sessions.

I would expect ExternalDNS to somehow check the modified times on any input files, and re-read the contents, or just blindly re-read them peri

[2019-01-15 15:48] falfaro commented on #852
Any option of having ExternalDNS use a ConfigMap object natively instead of watching for files on disk?

[2019-01-15 19:55] vinicius-xavier-ifood commented on #759
+1. Same above

[2019-01-16 15:24] dklesev opened #854 "Encrypt TXT records"
When a TXT record is created (registry txt option) by the external-dns controller it is stored in plaintext which can result in information leakage.

Example:

[code]

[2019-01-17 10:31] njuettner commented on #536
Can somebody try to run
`docker pull registry.opensource.zalan.do/teapot/external-dns-test:pr-853-3`and see if this works?

There's also a new flag which can be adjusted if you want (currently 50 zones is the max per page):
[code]

Nevertheless it should also work if you have more than 50 zones, it should paginate. Maybe someone could also test it with `--cloudflare-zones-per-page=5` and see if it

[2019-01-17 15:17] p53 opened #856 "Add enforce template option"
Idea of this is enforcing precise fqdn format
User story:
multiple user cluster ->use it to force user to be able to create records only in it's own namespace e.g.
{{ .Name }}.{{.Namespace}}.services.somecommondomain.com

[2019-01-17 15:18] p53 commented on #856
https://github.com/kubernetes-incubator/external-dns/pull/855

[2019-01-17 15:57] J-Ha commented on #536
Hey @njuettner,

i have tested these PR version with the  `--cloudflare-zones-per-page=50` flag, works well.
i have registered `37` Domains to my CF Account. and i picked `17` out to test an ingress.
i can even lower the` --cloudflare-zones-per-page` to` 37`.

but the `--cloudflare-zones-per-page=5` value is not working.
could there be a min pagination value for the CF-API?

Because externalDNS is

[2019-01-17 16:36] gaizka-daishogroup opened #857 "Multiple A records on Azure"
Hi all,

Is there a way to add an IP to an already existing A record on Azure DNS? I tried creating two annotations on two different services pointing to the same A record and didn't work, it just takes the one that was created first and ignores the other.
I saw it can be done on Azure DNS directly by editing the existing A record and adding another IP, but not creating another A record with the s

[2019-01-17 16:56] njuettner commented on #536
Yes it seems like there's even a minimum:

default value: 20
min value:5
max value:50

[2019-01-17 16:59] walkafwalka commented on #536
We have over 200 websites in our Cloudflare account. I feel like any method would require adding every zone to a lost, then checking each zone in that list afterwards.

[2019-01-18 16:31] drzero42 commented on #814
Using the annotation on ingress objects with Google Cloud DNS correctly sets the TTL for me. It would however be nice to be able to change the default so I don't have to annotate every single ingress resource.

[2019-01-21 14:15] polganesh opened #860 "deleting A records for other environment for azure"
**problem statement**
we are currently having multiple env  i.e. dev,stg,uat and we are trying to bind fqdn for our various k8s services. i am running external-dns.yaml through ci-cd pipeline. and we want this should add A record for our application service as

application.dev.private.mydomain.com
application.uat.private.mydomain.com
application.stg.private.mydomain.com

but while looking at logs

[2019-01-21 16:04] ramnes opened #861 "Handle ExternalName services"
As of today, services of type `ExternalName` does not seem to be supported by ExternalDNS as they don't have an endpoint attached to them, which simply ends up with a print in the debug logs: https://github.com/kubernetes-incubator/external-dns/blob/6d2b83cbf2d91866b41510ec2ad4ba7e27449898/source/service.go#L148-L151

This seems particularly weird as it is written in the helpers that `--service-ty

[2019-01-21 16:12] ramnes commented on #861
Also, I might be worth mentioning that I've found two workarounds so far.

The first one is to create an `Ingress` that points to the said `ExternalName` service, which indeed works well as ExternalDNS will just use the ingress controller endpoints.

The second one is to create a service of another type (i.e. `LoadBalancer` or `ClusterIP`), without a selector, and an `Endpoints` resource of the sa

[2019-01-21 21:04] Zyqsempai commented on #850
Sounds good, i can take this one.

[2019-01-22 15:16] jonigl commented on #711
@Fettah I think that you have a RBAC activated so you have to configure it. For more info to RBAC you can check this link it was very helpful for me: [rbac tutorial](https://github.com/IBM/rbac-in-k8s)
And if you are using AWS you can follow this tutorial for RBAC configuration: [external-dns for aws](https://github.com/kubernetes-incubator/external-dns/blob/master/docs/tutorials/aws.md)
Good luck

[2019-01-22 18:23] dorongutman opened #862 "Multiple hosts to external-dns.alpha.kubernetes.io/hostname"
How can a single service have multiple domain names using the `external-dns.alpha.kubernetes.io/hostname` annotation (or any other solution) ?

[2019-01-23 15:30] janario opened #864 "Create new policy where it removes owned records"
It would be nice if we have a policy where it can remove records that the owner-id is the same

Not sure if a new one to keep compatibility or change the`sync`

So when policy=`sync` it would delete only the records with the same txtOwnerId

[2019-01-23 16:45] #549 closed

[2019-01-23 19:45] alexnederlof opened #865 "ELB Cname alias not picked up"
Not sure if this Is a bug or just not implemented.

Using version 0.5, and amazon Route 53,  when I create an nginx-ingress (using helm stable/nginx-ingress), it creates a service that gets the external IP `<some-hash>.elb.eu-west-1.amazonaws.com`.
[code]

When I configured the ingress like so:

[code]

I expected external-dns, to pick up the CNAME, and put that as an alias. However, it sets some

[2019-01-24 00:45] mmlac commented on #852
I think the ephemeral approach is much more viable here. Version your secret / config map and redeploy with a new version instead of underhandedly switching out config files and counting on magic to happen.

[2019-01-24 09:58] linki commented on #865
Your expectation is correct but you're locking at the wrong place. The used ALIAS target will be in your `hello-a-ingress` Ingress object (not in `default-nginx-nginx-ingress-controller`). There, under the `.status` section you'll probably see the IP you're refering to which is set by nginx ingress controller.

Please make sure you're using the `--publish-service` flag on your ingress controller,

[2019-01-24 13:18] okgolove opened #866 "Root domain exclude subdomains"
Hello! I've searched related issues, but haven't find.

I have some ingresses with test1.example.com, test2.example.com subdomains. Also I have an ingress with example.com domain.
How to setup external-dns filtering to work only with root domain (example.com)?
I have next options:

[code]

With these settings external-dns tries to create all records for all three ingresses (test1.example.com, test

[2019-01-24 14:13] okgolove commented on #862
Hello, @dorongutman !
As far I got you can separate your hosts using `,`
https://github.com/kubernetes-incubator/external-dns/blob/master/source/source.go#L76

[2019-01-24 16:41] alexnederlof commented on #865
Thanks! I'll try that!

[2019-01-24 16:41] #865 closed

[2019-01-25 09:23] janario commented on #864
Actually it seems that this is already the current behavior, can you confirm that?

If it is, I think we could improve the documentation "sync policy will only delete owned registries..."

[2019-01-25 18:36] hjacobs commented on #864
Yes, the current behavior for `sync` is to only delete owned DNS records (that's the whole idea of ownership).

[2019-01-25 18:36] #864 closed

[2019-01-27 10:46] lbernail opened #869 "Performance regression with the AWS provider in 0.5.9"
Hello

We tried to update our deployment to 0.5.9 but we noticed a significant performance regression due to https://github.com/kubernetes-incubator/external-dns/pull/742
After this PR, for each change we call `Records()` instead of calling it once per plan https://github.com/kubernetes-incubator/external-dns/blob/v0.5.9/provider/aws.go#L367 which will retrieve all records for the zone.

A simple

[2019-01-28 10:16] #370 closed

[2019-01-28 14:49] linki commented on #869
Hi @lbernail,

thanks for your report. That looks like a serious problem.

For a quick fix you could also try if [using the registry cache](https://github.com/kubernetes-incubator/external-dns/blob/master/pkg/apis/externaldns/types.go#L302) helps.

Caching in the provider would be fine but would add another layer of caching which it could become very confusing if done wrong. We could think about f

[2019-01-28 15:16] linki commented on #869
From looking at the code it seems that using the txt-registry cache doesn't help.

Regarding a fix: It looks like `newChange` needs the list of current records in order to do its job. We could query for the list of records outside of `newChange` and just pass it in which would reduce the number of requests to one per cycle (or rather one more compared to `v0.5.8`).

We could add this [here](https:

[2019-01-28 16:02] Raffo commented on #525
@hjacobs I'm closing this issue given that there was no response for a long time.

[2019-01-28 16:02] #525 closed

[2019-01-28 16:09] Raffo commented on #393
This seemed to be solved, closing.

[2019-01-28 16:09] #393 closed

[2019-01-28 16:12] Raffo commented on #658
@murtazapitalwala Do you still need help? Otherwise I'd just close this issue.

[2019-01-28 16:13] Raffo commented on #812
Closing this issue as it has been for more than one month without update.

[2019-01-28 16:13] #812 closed

[2019-01-28 16:14] Raffo commented on #802
closed via #804

[2019-01-28 16:14] #802 closed

[2019-01-28 17:36] lbernail commented on #869
Yes the cache won't work because we are calling the provider Records method and not the one from the registry

Doing 2 calls would be a lot better but the second one still feels unnecessary (in our case we have zones with 1000s of records and we run a slightly modified version which sleeps in the ListResourceRecordSetsPages callback to avoid triggering AWS rate-limits and a full zone sync takes 10

[2019-01-28 17:56] linki commented on #869
It's not ideal but much better than the current behaviour and fairly safe to implement. We could improve it with proper caching later. What do you think?

[2019-01-28 19:48] lbernail commented on #869
Definitely a lot better

Another idea, what about passing the recordsCache to the provider ApplyChanges call?
https://github.com/kubernetes-incubator/external-dns/blob/master/registry/txt.go#L174

We could just ignore it in other providers (I assume some could make use of it too)

[2019-01-28 20:37] nesl247 commented on #869
I think this is affecting us as well. However, we didn't experience this until `0.5.10`. Upon upgrading to `0.5.10`, ALL domains in the cluster were updated. I saw this happen in both our development and staging clusters. However, we didn't experience any issues until I deployed this in staging. Now both clusters are complaining of `getting records failed: Throttling: Rate exceeded`.

I'm not sure

[2019-01-29 14:53] linki commented on #869
@lbernail I worked on a rather quick fix to reduce the number of requests from O(#records) to O(#zones) which should already help: https://github.com/kubernetes-incubator/external-dns/pull/876.

It probably makes sense to somehow also cache in the individual providers as they see fit. Subsequent calls to `Records()` could just serve cached data for a moment without hitting the API. `ApplyChanges`

[2019-01-29 15:14] linki commented on #869
@nesl247 It's another bug where the planning logic thinks it needs to update the records when in fact no update is needed. It persists from interval to interval and results in a lot of updates which then trigger the calls to AWS. We tried to [fix it here](https://github.com/kubernetes-incubator/external-dns/pull/877) but I'm not sure we want to accept the PR this way.

There might be a simpler way

[2019-01-29 19:22] lbernail commented on #869
@linki : thanks a lot, this is definitely a lot better. I don't think it is enough for us because of the size of our zone on AWS (4x10+s is very long compared to <1ms with registry cache).

I agree with the risk of confusion with the registry cache but I also wonder if having two different caches may not make things complicated. Today the registry cache is very efficient: we only resync the cache

[2019-01-29 19:41] devkid opened #878 "Headless service: only publish ready pods?"
Currently external-dns publishes the IPs of all pods of headless services that are in phase `Running` (since #645 was merged). However, for a headless service + external-dns I think the idea would be to use DNS as a kind of load balancing. This would mean that only *ready* pods from a headless service should be published via DNS.

For example, when I'm doing a rolling deployment with pods that hav

[2019-01-30 02:36] deltaroe opened #879 "coredns provider recreating every record every interval in v0.5.10"
Was attempting to get the coredns provider to run with the sync policy to delete old records and ran into what appears to be a regression between 0.5.9 and 0.5.10.

On v0.5.10 every interval the coredns provider inserts a new key for every record. The 8 character random suffix is different every time and the etcd datastore starts to grow very quickly. This behavior is not observed on v0.5.9

On v0

[2019-01-30 06:07] benmyb commented on #666
Thank you guys!

[2019-01-30 06:07] #666 closed

[2019-01-30 10:52] linki commented on #869
@lbernail Thanks a lot for your input. I agree having two caches can be confusing as well. If you think it makes sense via the TXT registry's cache we're happy to review it.

For now, we intend to get #876 and #880 merged to mitigate the current problems.

[2019-01-30 14:32] cmaster11 opened #881 "Add support for exporting only internal OR external service IPs"
Hi, I had this specific issue just today, and thought it could be an actual improvement.

Basically, I had multiple k8s nodes on EKS (AWS), where 4 nodes are exposed with only private IPs to the network, and one node is exposed with a public IP to the internet.

A service is annotate to be exposed with ExternalDNS to a private Route53 record.

Now, when ExternalDNS fetches the list of nodes to pop

[2019-01-30 14:56] de1m opened #882 "DNS records will be not removed after ingress was deleted"
I've found the issue #442, but I get the same error.
My external-dns deploy:
[code]

Ingress example:
[code]

The external-dns create the dns record
[code]
but not delete this after deleting the ingress.

[code]

Can me help someone?

Ps: I use the BIND DNS 9

[2019-01-30 15:27] kevincox commented on #195
I was interpreting this differently. I want to register the IP of all pods in DNS so that the client will connect to one of the pods. Basically a poor man's load balancing. So if I have pods on `10.0.0.{1,2,3}` I would want three A records for the hostname I have set for the pod.

[2019-01-30 17:32] linki commented on #879
This seems to be related to https://github.com/kubernetes-incubator/external-dns/issues/869#issuecomment-458576954

[2019-01-30 18:10] devkid commented on #195
But this already working?

[2019-01-30 20:04] jhohertz commented on #879
This happens with the AWS provider as well, still trying to trace down where this changed.

[2019-01-30 20:34] hjacobs commented on #879
@linki should we "un-release" 0.5.10? Apparently we cannot recommend it for anything with these regression bugs.

[2019-01-30 21:48] linki commented on #879
@hjacobs What do yo have in mind? Re-releasing `0.5.9` as `0.5.11` or just "hiding" `0.5.10` for a moment?

@jhohertz @hjacobs @njuettner Alternatively, I believe [this](https://github.com/kubernetes-incubator/external-dns/pull/650/files#diff-9592bcd126dd4dffbce8f8c3e33b435e) is the culprit. We tried fixing it in https://github.com/kubernetes-incubator/external-dns/pull/880 but it's a bit of an un

[2019-01-31 02:56] jhohertz commented on #879
I am looking at the additional test being ORed for the update check too. I suspect the test in `func shouldUpdateProviderSpecific` is not giving an expected result just doing a simple equals compare.

And #880 seems to confirm that. And it looks like CoreDNS must have a similar aspect?

Maybe there should be some delegation of this test function to the providers in question so they can implement t

[2019-01-31 15:56] lucaghersi commented on #543
We have the same problem here with the Azure provider:

time="2019-01-31T15:42:30Z" level=info msg="Deleting A record named 'myapp' for Azure DNS zone 'subdomain.domain.eu'."
time="2019-01-31T15:42:30Z" level=info msg="Deleting TXT record named 'myapp' for Azure DNS zone 'subdomain.domain.eu'."
time="2019-01-31T15:42:31Z" level=info msg="Updating A record named 'myapp' to '10.11.12.13' for Azure D

[2019-01-31 16:11] PirateBread opened #883 "ExternalDNS deleting and then creating records. Constantly. Azure."
As you can see below, this is not ideal behaviour.

The logs from the pod just show constantly deleting/updating records. It doesn't have any information as to why it's doing it.

I've checked, my ingress addresses are not disappearing, at least not that I can see.

![image](https://user-images.githubusercontent.com/6953561/52067300-38be3600-2572-11e9-80d7-c78af5f7d8e6.png)

[2019-01-31 18:34] bradenwright opened #884 "Multiple Istio Gateways (--istio-ingress-gateway) not working as expected"
I'm trying to get external-dns working with 2x Istio Gateways (I know there are open tickets around that).  So I have 2 gateways deployed, the default: `istio-system/istio-ingressgateway` and a private gateway named: `istio-system/istio-gateway-private`

I've added the argument `--istio-ingress-gateway` to my install and I can see it:

[code]

Even though `--istio-ingress-gateway=istio-system/isti

[2019-01-31 18:40] bradenwright commented on #884
Here's my gateway if anyone is interested.
[code]

And I'm running:
Helm Chart External DNS 1.3.0
Helm Chart Istio 1.1.0
[code]

[2019-01-31 18:57] bradenwright commented on #884
From a little more testing I did confirm that the flag drives which ip get published / used as the value of the A DNS record.  So it does have some effect.  It does however discover all gateways objects and publishes the host name regardless of if its tied to the same `--istio-ingress-gateway` or not.

[2019-02-01 03:18] palash25 commented on #789
Hi there :wave: I am new to the k8s ecosystem and would like to take a crack at this

[2019-02-01 15:49] njuettner commented on #883
What version of external are you're currently running?

[2019-02-01 16:01] njuettner commented on #882
What happens if you update the record? From what I've seen in the code it deletes the record and add's a new one. Does this work?

I just wanna narrow down the issue.

[2019-02-01 16:40] jhohertz commented on #883
Seems related to #879

[2019-02-01 17:09] eyvind commented on #883
v0.5.10 has the problem, we have reverted to v0.5.9 which does not.

[2019-02-01 20:11] jhohertz commented on #879
I have a *little* more insight into this... I kept wondering why it would be affecting providers that do not even *mention* this ProviderSpecific stuff, and the answer I believe, is that for the *sources*, they are calling `func getProviderSpecificAnnotations()` to get the properties, which always ensures an empty  ProviderSpecific is returned and attached to it's endpoint, where, if a provider ha

[2019-02-01 20:49] jhohertz commented on #879
I propose a fix for this in #886, which I think speaks to this, and similar issue in #883

[2019-02-01 21:30] gurumaia commented on #883
Exactly the same here. v0.5.9 works fine, v0.5.10 does this constantly.

[2019-02-01 23:09] galal-hussein opened #887 "External DNS for cloudflare doesn't create records for all ingress addresses"
Steps to reproduce:

- Start a kubernetes cluster with 3 nodes.
- Run cloudflare yaml with RBAC
[code]
- Create a deployment,service,ingress
[code]

Results:

I can see that external dns picked up the domain `test5.binbashtheory.com` and created A record for it:
[code]

![test5](https://user-images.githubusercontent.com/3309968/52154539-f5a1b700-2686-11e9-9e9b-d91b45889227.png)

however it only cr

[2019-02-04 08:55] de1m commented on #882
So, I've created the ingress (like above) then I've saw, that the cname record was created (k8s-exmp-2.aditocloud.de). After this I changed the Ingress and apply the changes. The external-dns created a second record with "k8s-exmp-3.aditocloud.de".
My external-dns docker image is "bitnami/external-dns:0.5.10" and I've testet also "registry.opensource.zalan.do/teapot/external-dns:latest"

[2019-02-05 18:16] lucaghersi commented on #883
We are having the same issue, I posted an example in #543
We will try to revert to v0.5.9 for now.

[2019-02-05 19:52] hjacobs commented on #595
This was closed accidentally I think --- we now know that the new `client-go` version no longer uses `glog`, yeah :smile: see https://github.com/kubernetes/client-go/issues/358#issuecomment-460777391

[2019-02-05 20:26] IPyandy opened #888 "Records for istio-gateway not being created"
This issue seems weird to me as it was working literally since I started using this last Thursday. But today it won't create Route53 records for `istio-gateways`.

Every night, I destroy the EKS cluster I'm working on to not incur overnight charges. Then in the morning, I bring it back up and redeploy `istio` along with the sample apps I'm trying out and other custom workloads.

So far, every sing

[2019-02-05 22:02] tsuna commented on #300
I'm having this issue two with two k8s clusters both running `external-dns` in the same AWS account.

[2019-02-05 23:05] Evesy commented on #606
From a quick glance (https://github.com/kubernetes-incubator/external-dns/blob/master/provider/google.go#L161-L172) it looks like perhaps the Google managed zone & the domain filter have to match or else the record will be filtered.

Given a Google DNS zone for a TLD (example.com), all records would be filtered if the domain filter was set to `subdomain.example.com`, even if the host in question w

[2019-02-06 08:45] Raffo commented on #869
@linki @njuettner What about modifying the release notes for v0.5.10 and/or publishing v0.5.9 as v0.5.11 to make sure that we make it safe for the user? This problem has been around too long and caused too much issue to ignore it.

[2019-02-06 10:24] leonvandebroek commented on #883
I've had the same issue this morning. Thankfully you guys already reported this as I was aware of the loop but did not know the cause... I've also reverted to v0.5.9 (running AKS  1.11.3 in Azure by the way)

[2019-02-06 14:29] toutougabi commented on #883
yep same issue here, we were saved by keeping a lock on our resource groups in azure for delete :)

[2019-02-06 18:22] Evesy commented on #840
This doesn't seem limited to ingresses with multiple addresses. Every minute (Default polling interval) I can see external DNS changing the same record despite it being correctly sync'd:

[code]

[code]

[2019-02-06 23:25] Evesy commented on #840
```UpdateOld:[neg-test.domain.co.uk 120 IN A 35.xxx.xx.xx [{external-dns.alpha.kubernetes.io/cloudflare-proxied false}]] UpdateNew:[neg-test.domain.co.uk 120 IN A 35.xxx.xx.xx []]```

It seems as though the `ProviderSpecific` configuration is always causing a diff between the current & desired state.

As a side note it also appears setting the TTL does not work if you have cloudflare proxying enab

[2019-02-06 23:43] Evesy commented on #840
@materemias - Can you confirm if you're using Cloudflare proxying for your records or not (I'll create a separate issue if this doesn't match your case)

Endpoints with Cloudflare proxying enabled via the deployment argument (`--cloudflare-proxied`) are constantly seen as needing to be updated, endpoints that have the proxy annotation set (`external-dns.alpha.kubernetes.io/cloudflare-proxied: "tru

[2019-02-07 09:24] dirkgomez opened #889 "Can't get AWS how-to to run: No endpoints could be generated from service default/nginx"
I'm trying to get external-dns to work in AWS with the provided Nginx example (https://github.com/kubernetes-incubator/external-dns/blob/master/docs/tutorials/aws.md)

Here's my logfile snippet:

[code]
The AWS zone type is private: --aws-zone-type=private

Where does it get the 172.20.0.1 from? And any pointers why endpoints cannot be generated?

[2019-02-07 09:39] jonesbusy commented on #883
We are facing the same issue starting 0.5.10. 0.5.9 works fines

[2019-02-07 09:44] uritau commented on #883
Same issue, but only on 0.5.10:

The following loop it's happening every minute.
Logs from external-dns (debug level):

[code]

[2019-02-07 10:45] PirateBread commented on #883
Thanks for all the other reports. I tried to downgrade to 0.5.9 and in Azure I'm now getting an API version error:

`level=error msg="dns.ZonesClient#ListByResourceGroup: Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code=\"InvalidApiVersionParameter\" Message=\"The api-version '2016-04-01' is invalid. The supported versions

[2019-02-07 13:38] medzin opened #891 "AWS provider triggers global Route 53 API requests for the number zones >= 5"
AWS Route 53 API has a global limit for API calls which is 5 req/s per AWS account ([see docs here](https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DNSLimitations.html#limits-api-requests-route-53)). Following code in the provider almost constantly triggers global Route 53 API requests limit for the number zones >= 5:

[code]
Link to code: https://github.com/kubernetes-incubator/external

[2019-02-07 14:24] Evesy commented on #840
@eswets @amolenaar I don't suppose you'd be able to offer any insight here, I'm struggling to track down what's causing the behaviour described above

In my case I'm building against master since there's some Cloudflare changes (support pagination) that haven't made it into a release yet. It seems unrelated to the regressions introduced in 0.5.10 (Proposed fix: https://github.com/kubernetes-incuba

[2019-02-07 14:25] Evesy commented on #879
Fix looks good for us with the Google provider at least 👍

[2019-02-07 16:31] farshad-hobsons commented on #469
This feature when completed would be really helpful. Looking forward to it.

[2019-02-07 17:19] jhohertz commented on #869
I believe #880 and #886 together will address the problems of v0.5.10 for the majority of people

[2019-02-07 17:22] jhohertz commented on #866
The filter, as implemented, is treated as a suffix, and will match partially. Not sure if this applies to all providers, but if you can use zone ID filtering, you can exactly match one zone.

Alternately, I guess it would be nice if there was a flag that let you toggle between "suffix" and "exact" matching in the domain filter.

[2019-02-07 20:12] Evesy commented on #866
In our scenario we have a Cloudflare zone for `domain.com` and we set external DNS with the appropriate domain filter `--domain-filter=domain.com`.

However we also have `dev.internal.domain.com` as a subzone that is delegated to another DNS provider, and that domain is managed by a separate external DNS (with `--domain-filter=dev.internal.domain.com`).

I don't believe external-dns does validatio

[2019-02-08 08:46] szuecs commented on #869
@jhohertz thanks for the investigation. @linki is not available for the next 3 Months and @njuettner is here next week again.
It would be good if @Raffo, @hjacobs or @ideahitme could review and approve the code change. I am not part in the approver list, but I can do a code review.

[2019-02-08 08:49] szuecs commented on #869
I did the code review and both seem to be ok to me.

[2019-02-08 09:25] Raffo commented on #869
I also reviewed and added /lgtm. We might need to rebase #886 once we merge #880 and then we can test the build for #886. If we don't see anything major, we might release this to have a fixed release.

[2019-02-08 10:13] devlounge commented on #479
Any update on this?

[2019-02-08 10:15] Raffo commented on #479
No updates, but it's on my list (from last year, but haven't forgot about it!) to ask for that and will update the thread. In the meantime, you can trust the registry or build your own image as previously commented.

[2019-02-08 12:56] IPyandy commented on #712
@etopeter this is not a sync issue, I'm running into the same thing with policy=sync and no records other than NS and SOA in the hosted zone. After an hour or so, then everything is created and sync'd as usual.

This seems to be a caching issue again for some reason, I've ran into this now three days in a row.

[2019-02-08 12:59] szuecs commented on #869
Thanks @Raffo

[2019-02-08 15:42] szuecs commented on #879
@Evesy thanks for testing

[2019-02-08 15:43] jhohertz commented on #879
@deltaroe Can you try this build for CoreDNS, let us know if it addresses your issue?

registry.opensource.zalan.do/teapot/external-dns:v0.5.10-16-gfe39b46

[2019-02-08 15:44] jhohertz commented on #883
@PirateBread

Could you try this build for Azure to see if it addresses your issue?

registry.opensource.zalan.do/teapot/external-dns:v0.5.10-16-gfe39b46

[2019-02-08 16:14] Evesy commented on #840
So the generated `Endpoints` only include the provider-specific configuration (in this case `external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"`) if it's been specified as an annotation.

Setting `--cloudflare-proxied` on the deployment has no bearing on the resultant `Endpoints` returned, however, it is correctly used when records are applied to the provider -- This causes a constant dif

[2019-02-08 16:14] PirateBread commented on #883
@jhohertz

Just deployed `v0.5.10-16-gfe39b46` and I'm still seeing the following:

`time="2019-02-08T16:05:52Z" level=info msg="Created Kubernetes client https://xxxxx-2b0c5b7a.hcp.uksouth.azmk8s.io:443"
time="2019-02-08T16:05:52Z" level=info msg="Using client_id+client_secret to retrieve access token for Azure API."
time="2019-02-08T16:05:52Z" level=error msg="dns.ZonesClient#time="2019-02-08T16

[2019-02-08 17:15] cristian-radu opened #892 "Feature Request: Ability to create DNS zones through CRDs"
It would be useful if we could extend external-dns to support creating zones too, as well as the records that go inside of them. There is already a DNSEndpoint CRD, so perhaps we could have a DNSZone CRD too.

I can see there have been some discussions around supporting more record types as well. https://github.com/kubernetes-incubator/external-dns/issues/555

Tackling both these issues would allo

[2019-02-11 05:55] bradenwright opened #893 "Feature Request: Istio VirtualServices"
Currently I am able to sync DNS records from Istio Gateways which is great, much appreciated!

It would be great if External DNS could sync hostnames from VirtualServices too though.  It would make the organization for me better.  Let me explain via example:

Currently I have a common chart to deploy istio gateways, and a few other istio related things.  This chart is called `my-istio-common`, I h

[2019-02-11 07:58] eyvind commented on #883
I can confirm that v0.5.10-16-gfe39b46 solves the eternal delete/update loop of doom on GKE.

[2019-02-11 09:25] maauso opened #894 "API rate limit on AWS provider"
Hi guys,

I upgraded from 0.5.6 to 0.5.10 and I detected that the number of request to the AWS api server has been	increased greatly until to receive rate limit errors.
I'm using two externalDNS in the same account because we have two EKS cluster, also we use these externDNS options
[code]

I attached an image, where you can see the number of request during the time that version 0.5.10 has been wo

[2019-02-11 09:47] Raffo commented on #894
Hi!
There is a known issue with `v0.5.10`, we are about to release a fix and the release notes already explain that. Rolling back to `v0.5.9` should fix that or using the new release candidate image `http://registry.opensource.zalan.do/teapot/external-dns:v0.5.10-16-gfe39b46`.

[2019-02-11 09:50] Raffo commented on #883
Thanks for the feedback, we will work on an official release which will probably land tomorrow.

[2019-02-11 09:53] maauso commented on #894
ok, thanks

[2019-02-11 09:53] #894 closed

[2019-02-11 16:07] dsbrng25b commented on #831
@dimatha can you test the changes in #895 . When you confirm that everything is working as expected I remove the WIP from the pull request.

[2019-02-11 16:08] niriak opened #896 "Typo in debug output of rfc2136 provider"
Just a typo in some [debug output](https://github.com/kubernetes-incubator/external-dns/blob/fe39b4622692fb8b8b47dd681b7c5be37c97e645/provider/rfc2136.go#L272) - maybe there should be something like "Removing RR" :)

[2019-02-11 16:38] niriak opened #897 "Reduce some log verbosity in rfc2136 provider"
Please reduce log level for output [axfr is disabled](https://github.com/kubernetes-incubator/external-dns/blob/fe39b4622692fb8b8b47dd681b7c5be37c97e645/provider/rfc2136.go#L164)

[2019-02-11 20:04] rifelpet commented on #695
I'm experiencing this issue as well:

I have a NodePort service with annotation `external-dns.alpha.kubernetes.io/hostname: service.example.com`

external-dns creates an A record containing all Node IPs in my cluster. I would like to exclude my masters' Node IPs from this DNS entry. How can I accomplish that? Looking through the code:

https://github.com/kubernetes-incubator/external-dns/blob/49af

[2019-02-11 20:12] kskewes commented on #801
Sent in small PR to golang/dep to add arm and arm64 releases here: https://github.com/golang/dep/pull/2102
It's linked on that issue too.

[2019-02-11 23:27] deltaroe commented on #879
I realized after posting this that I was building an overly complicated system and ended up going with a much simpler solution that doesn't involve external-dns for that particular need.

I'm still using external-dns in other parts of my infrastructure though and the above version seems to work ok. Records are added and deleted from etcd as expected for both ingresses and annotated services. It ev

[2019-02-11 23:29] #879 closed

[2019-02-12 08:06] Raffo commented on #896
@niriak Thanks for the report. Please feel free to submit a PR, those are really easy "internet points" 😄

[2019-02-12 09:49] cmaster11 commented on #881
Well, just in case, I got a custom build and I'm using it in production: https://github.com/cmaster11/external-dns/tree/filter-private-public-service-ip

If you're interested in the functionality, the basic code is here: https://github.com/cmaster11/external-dns/blob/842edf8c588550b549e7944ec2ca82d59797d02a/source/service.go#L404

[2019-02-12 09:51] Raffo commented on #881
Hi @cmaster11 !
Given that you already have some code and a build running, why don't you create a PR and we can take from there the discussion?

[2019-02-12 10:00] cmaster11 commented on #881
Hi @Raffo ! Here it is: https://github.com/kubernetes-incubator/external-dns/pull/898

[2019-02-12 18:58] wstewartii commented on #819
I've been trying to figure out how to do this as well. I use the cert-manager controller to create letsencypt certificates and would like to use a single wildcard dns record and certificate to avoid rate limits when creating and deleting ingress resources.

[2019-02-13 12:58] ali-essam commented on #819
As a hack, you can set the hostname to empty string on the ingress

`external-dns.alpha.kubernetes.io/hostname: ""`

[2019-02-13 18:46] volatilemolotov opened #902 "Multiple annotation support"
Is it possible to have multiple annotation support. I would like to be able to configure the hostnames with

[code]
I know there is an option to separate multiple hostnames with , but when using CI/CD scritps its hard to append hostnames there (eg. using output with --jsonpath and re-applying the service file). It is much easier to do `kubectl annotate svc/svcname`

Reason for this is that we use

[2019-02-13 21:17] santiagopoli opened #903 "Manage Hosted Zones in Multiple Accounts"
Hi,
In my company, we have a single Kubernetes cluster for all the Teams in the organization, but we also give each team an AWS Account to let them manage other AWS Services (S3, DynamoDB, etc). In this scenario, each team manages their Route 53 Domains, Hosted Zones and Record Sets within their account.
We are using external-dns in our cluster, but we need it to be able to modify hosted zones for

[2019-02-13 21:26] santiagopoli commented on #903
I've managed to achieve this functionality by deploying multiple instances of external-dns, one for each team :D

[2019-02-13 21:26] #903 closed

[2019-02-15 11:17] volatilemolotov opened #904 "Feature Request: use DNSEndpoint CRD to specify source target"
Enable specifing the target within CRD eg.

[code]
This way one could specify a hostname within a crd but use the ip of a service, istio-gateway od ingress instead of manually specifying  the IP creating a more script / CI/CD friendly approach.

Solves this issue:

[external-dns/Multiple annotation support](https://github.com/kubernetes-incubator/external-dns/issues/902)

[2019-02-15 15:54] secat commented on #902
We have a similar need which is to be able to manage multiple hostnames with the same ingress resource

[2019-02-16 18:13] volatilemolotov commented on #902
@secat you can do that by adding `,` to list form a list :
[code]

[2019-02-16 21:49] secat commented on #902
@volatilemolotov thank you!

[2019-02-18 06:53] benmyb commented on #881
Hi @cmaster11 !

[2019-02-18 17:08] #826 closed

[2019-02-19 10:04] yuanlinios opened #905 "external-dns calls aws api "ListResourceRecordSets" too frequently"
I am piloting AWS EKS with external-DNS.  There is 1 private hosted zone with around 700 pre-existing records.

The function works OK. However, from cloudtrail, I can see external-dns calls "ListHostedZones" once every minute which I can understand, but it also issues 8 or 9 "ListResourceRecordSets" every minute.

Is it as expected? This frequency for API calling is too much for me. Is it possible

[2019-02-19 14:27] omegarus commented on #883
I have similar problem but on AWS with version __0.5.11__.
ExternalDNS is constantly updating same record every two minutes (--interval=2m)
[code]

[2019-02-19 14:33] omegarus commented on #883
Also same behavior on 0.5.9.

[2019-02-19 15:12] FridaGo commented on #883
I have the same issue as @omegarus.

[2019-02-19 16:36] jhohertz commented on #883
I'm not seeing the needless updates on AWS as others are experiencing, but one difference *may* be that I don't have any cases of trying to publish wildcard DNS records, so I am wondering if the issue is somewhat specific to the wildcard?

[2019-02-19 16:42] FridaGo commented on #883
@jhohertz The DNS records I'm trying to publish don't contain wildcards, they are configured for different ingresses that contain different service host names (for ex. service.internal.domain, app.internal.domain), and I'm still experiencing this issue (I've tried to downgrade as far as v0.5.7 and it still happens).

[2019-02-19 17:06] jhohertz commented on #883
I'm sorry @FridaGo I'm not sure what you're experiencing. This issue and the ones I have recently posted about are all relating to a problem that was introduced in v0.5.10.

All I can suggest is try watching the status field of the services you are attaching the DNS records to, to see if something is causing updates you aren't expecting to that status, which external-dns might be picking up on. I'

[2019-02-19 18:47] hjacobs commented on #883
Can we close this issue as v0.5.11 was released?

[2019-02-19 19:03] omegarus commented on #883
@jhohertz Status field is constant and not changing.
[code]

[2019-02-19 23:24] jyoukhana2165 commented on #884
We are seeing the exact same thing.

[2019-02-20 02:17] gclawes opened #906 "rfc2136 provider only logs as debug"
RFC2136 provider only logs add/remove RR messages under `debug`:
https://github.com/kubernetes-incubator/external-dns/blob/master/provider/rfc2136.go#L245

Other providers log these messages as `info`:
https://github.com/kubernetes-incubator/external-dns/blob/master/provider/google.go#L297
https://github.com/kubernetes-incubator/external-dns/blob/master/provider/coredns.go#L362

rfc2136.go should

[2019-02-20 12:27] spender0 commented on #905
Same thing. v0.5.11
with interval=1m is does a sequence of api requests that mostly consists of ListResourceRecordSets requests.
The problem is that it does it without any pause between the requests and exceeds AWS global route53 api rate that is 5 requests per 1 second.

[2019-02-20 14:44] vinixavier commented on #893
+1

Kiali Console show warning message: `More than one Gateway for the same host port combination` - because im controlling DNS records with resource Gateway and not VirtualService.

[2019-02-20 22:12] prachidamle commented on #819
Does this annotation "external-dns.alpha.kubernetes.io/hostname" apply for ingresses as well? or is it just for services of type=LB

[2019-02-20 23:28] julientyro commented on #884
We hit the same issue. We managed to work around the problem by annotating the Gateways and by using `--annotation-filter` option to select a subset of `Gateways`.

It would nice though if the default behaviour was to select `Gateways` associated to the targeted ingress gateway.

[2019-02-21 11:29] dirkgomez opened #908 "Cannot build external-dns because of failed external dependencies"
I'm on a pristine checkout (623ecd07f00cdda70953924fc7d2ee58720d1231) of master and run:

`make build`

Its output is:
`
CGO_ENABLED=0 go build -o build/external-dns -v -ldflags "-X github.com/kubernetes-incubator/external-dns/pkg/apis/externaldns.Version=v0.5.11-11-g623ecd07 -w -s" .
provider/azure.go:28:2: cannot find package "github.com/Azure/azure-sdk-for-go/arm/dns" in any of:
        /usr/li

[2019-02-21 11:58] #772 closed

[2019-02-21 11:59] njuettner commented on #908
Can you try to run a `make dep`first? It seems like the dependencies are missing 🙂

[2019-02-21 13:16] dirkgomez commented on #908
Yeah, that was it:

`
mkdir $HOME/go/bin
sudo make dep
`

The make dep step wants to move dep into /bin/dep (and it takes quite some time).

[2019-02-21 13:16] #908 closed

[2019-02-22 06:54] vjanelle opened #909 "Allow specifying zone id on google"
When you're using shared VPCs on google, and using private internal zones, if the project hasn't granted you permissions to browse all the managed zones, allow enumerating the zone(s) to modify by name.

Right now the code will step through and try to get the managed zone list from the google apis, and this will return a very helpful:

`FATA[0001] googleapi: Error 403: Forbidden, forbidden`

[2019-02-22 08:10] spender0 opened #910 "aws-sd. no namespace matching record DNS Name was detected"
v0.5.11
I tried to deploy external-dns with provider "aws-sd" how it was described here https://github.com/kubernetes-incubator/external-dns/blob/master/docs/tutorials/aws-sd.md

The problem was that for the annotation "external-dns.alpha.kubernetes.io/hostname: nginx.external-dns-test.my-org.com" and public-dns-namespace "external-dns-test.my-org.com" worked well but when I added additional annot

[2019-02-22 09:20] spender0 commented on #693
same thing. v0.5.11

[2019-02-22 09:21] spender0 commented on #693
same thing. v0.5.11

[2019-02-22 13:25] ali-essam commented on #819
@prachidamle According to personal testing and a quick look at the code, yes, it should support ingress

[2019-02-22 15:50] Evesy commented on #909
@vjanelle `--zone-id` is supported by the Google provider, does that help your use case?

[2019-02-22 17:04] vjanelle commented on #909
@Evesy unfortunately, the code tries to list all the managed zones, instead of letting me just tell it which one to use.  Even with the filter.

[2019-02-22 18:54] dgrizzanti opened #914 "[Question] Thoughts on extending DNS sources beyond Kubernetes"
I was curious what the community and maintainers thoughts were on extending support for non-kubernetes DNS sources in the project. The documentation doesn't specifically state against this and while it sounds open, I wanted to inquire prior to doing the work and opening a PR in the chance it was totally off base.

My thoughts were to extend source support to Cloud Foundry, specifically with adding

[2019-02-25 14:42] freeyoung commented on #409
+1

[2019-02-25 16:13] freeyoung commented on #840
I'm having the same issue. external-dns keeps saying the same record gets updated `msg="Changing record." action=UPDATE` every minute.

I tried adding the annotation `external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"` to my Ingress but this made no difference.

[2019-02-26 02:43] tewing-riffyn commented on #905
I am experiencing a similar problem.  Cloudtrail shows a high volume of external-DNS upserts.  This is causing "rate exceeded" messages when I use other tools like Terraform.

I am running 8 kubernetes clusters within the same AWS account.    Each cluster is running a separate instance of external-dns and is updating a private zone and a public zone.

[2019-02-26 10:35] njuettner commented on #905
As long as you don't use other ProviderSpecific than `target-health` is shouldn't run differently than using < `v0.5.9`

see: https://github.com/kubernetes-incubator/external-dns/blob/master/plan/plan.go#L188

We introduced a bug in `v0.5.10` when we merged ProviderSpecific, however this should be fixed in the latest version.

One thing you could try out is to test if v0.5.9 has the same problems.

[2019-02-27 11:35] Evesy commented on #484
We're seeing similar things with the Cloudflare provider.

Our account has approximately 10,000 zones which means (with the maximum pagination allowed) that's 200 API calls to return solely the zones. `--domain-filter` dictates that we're only actually interested in two of those zones, and in those zones, there are only about 75-100 pages of records

Cloudflare limits 1200 requests per 5 minutes w

[2019-02-27 11:37] Raffo commented on #484
Do you confirm that this is happening with the latest version released
(v0.5.11)?

On Wed, Feb 27, 2019, 12:35 Mike Eves <notifications@github.com> wrote:

[2019-02-27 12:00] Evesy commented on #484
Correct, 0.5.11

[2019-02-27 15:20] aminGwork commented on #883
I'm seeing this same behavior with infoblox after upgrading from 0.5.9 to 0.5.11. I'm going to try and downgrade to 5.9 to see if it resolves it.  So much churn with the recycling bin that it blew up the Infoblox DB.

[2019-02-27 15:42] olsw commented on #830
Is there any progress on this one or ability to handle this in some other manner?

[2019-02-27 15:47] Frintrop commented on #830
Would be great to get a solution ... we scale loadbalancer over dns and some nodes ( masters) should not hit traffic ..

[2019-02-27 16:56] kish3007 commented on #884
@julientyro can you share more details on yaml on your workaround using `-annotation-filter` ?

[2019-02-27 17:34] jlamillan commented on #484
@Evesy it won't solve your problem completely, but we've been using the new `--events` flag introduced in [this pull-request](https://github.com/kubernetes-incubator/external-dns/pull/687) as a way to significantly reduce the number of regular poll calls to our provider while actually _improving_ our provisioning time by combining `--events` with a long `--interval`.  In our scenario, out of band

[2019-02-27 19:51] wallentx commented on #905
Not seeing any issues with v0.5.9, but had problems with v0.5.11 and v0.5.10. Running with:
          args:
            - '--source=service'
            - '--source=ingress'
            - '--provider=aws'
            - '--registry=txt'
            - '--txt-owner-id=k8s-external-dns'

[2019-02-27 20:48] Evesy commented on #866
This PR https://github.com/kubernetes-incubator/external-dns/pull/835 looks promising for this usecase.

[2019-02-27 21:10] segator opened #919 "external-dns nodePort Service set internal IP instead of external IP"
First of all i tried without define externalIPs then tried with externalIPs but same result,
and only are setting the internalIP of a single node.
should be setting the IP of all the nodes as far as I understand

[code]

[2019-02-27 21:16] segator opened #920 "external-dns nginx ingress only set one node"
I have 3 nodes with cname every one.

When external-dns try to set the IP only set a CNAME from my defined hostname to the node cname.

But only are setting the first node in the list, must set all the nodes.
I tried provider cloudflare, cloudflare dont allow define multiple CNAME

aa.domain.com cname to   aaa.io
aa.domain.com cname to   bbb.io
aa.domain.com cname to  ccc.io

is external-dns not s

[2019-02-27 22:18] julientyro commented on #884
We've annotated our Gateways with labels to group them (e.g: _type=private_)
Then, if you want a specific instance of `external-dns` to only load these Gateway configs, add flag `--annotation-filter=type=private` to your deployment options.

[2019-02-28 01:03] derekperkins commented on #255
This would be very helpful for situations like in #195. You could access individual pods via ingress routing like @Mario54 is describing without the overhead of creating/deleting mass amounts of records as deployments scale up/down.

[2019-03-01 11:05] tetafro commented on #523
You can use `external-dns.alpha.kubernetes.io/hostname` for alias
[code]

(didn't not test this)

https://github.com/kubernetes-incubator/external-dns/blob/master/source/ingress.go#L234-L239

[2019-03-03 16:12] clarkm5 opened #921 "Changing AWS LoadBalancer type causes DNS to fail"
Related to #433 but for AWS-SD provider.

If you initially request an NLB (service.beta.kubernetes.io/aws-load-balancer-type: "nlb") and change to an ELB, external-dns is not clearing out the services and so Route53 records are created as CNAME/ALIAS instead of A/ALIAS which will work for NLB but not for for ELB.

In general, would it not be good to remove namespace services once the number of ins

[2019-03-03 19:02] LorbusChris commented on #884
@bradenwright AFAICT this is a configuration issue; there might be some confusion about the correct use `--istio-ingress-gateway` flag here:

With this flag you specify an Ingress Gateway, which is a LoadBalancer type Service. It does **not** refer to Gateway Configs, which hold your DNS entries.

In the case your configuration, because `--namespace` is not set, it will get *all* Gateway configs f

[2019-03-04 06:25] w32-blaster commented on #884
@LorbusChris: I personally tried using the namespace/service of the ingressgateway implementation and the behavior is the same as described above by others. All gateways are discovered regardless if one is attached to that specific ingress gateway or not

[2019-03-04 14:20] aminGwork opened #922 "External-DNS creating and deleting records for NodePort Services with Infoblox Provider"
I noticed the behavior after upgrading to .5.10 and thought my issue was related to #883.  However, after upgrading to 0.5.11 the behavior still continued.  Downgrading to 0.5.9 also did not resolve this issue. Looking closer at which records were being deleted and recreated, it was just the nodeport services.  It seems external-dns is trying to create an A record with each node's IP address, but

[2019-03-04 14:28] LorbusChris commented on #884
@w32-blaster yes, that would be expected. You need to add the `--namespace=somenamespace` in order to exclude gateways from other namespaces.

[2019-03-04 16:09] w32-blaster commented on #884
That’s a strange behavior. I would not expect this. Does this mean that I should not have any Gatway definitions in that namespace, otherwise external dns will discover it?

[2019-03-04 16:15] lucaghersi opened #923 "ExternalDNS fails to update records if domain contains SRV records on Azure"
As soon as I added some SRV records to my domain on Azure DNS ExternalDNS started to complain and stopped updating any other record. I'm not trying to manage them, I just have them there.
Is there a way to tell ExternalDNS to ignore SRV records?

Log:

time="2019-03-03T23:47:31Z" level=error msg="Failed to extract target for '_sip._tls.mydomain.eu' with type 'SRV'."
time="2019-03-03T23:48:31Z" lev

[2019-03-04 16:20] LorbusChris commented on #884
yes. You can narrow down what Gateways are picked up with specifying one namespace. Otherwise (.ie. when not specifying a namespace) all Gateways from all namespaces are picked up.

I agree that this is not intuitive. I also think the --namespace flag should not default to **all** namespaces, and should be specifiable multiple times (like what I did for --istio-ingress-gateway flag in #907 ).

I h

[2019-03-05 11:30] vrathore18 opened #924 "Can't create the image from dockerfile"
I am not able to create the image from the dockerfile.

Running

docker build -t external-image .

getting below error.

[code]

could you provide the docker file from which i can build the image.

[2019-03-05 14:17] xanonid commented on #905
Duplicate issue: https://github.com/kubernetes-incubator/external-dns/issues/891

[2019-03-05 15:32] JrCs commented on #603
The bug is always there.
This is because the endpoints return by the Records() function are not preserved when the ApplyChanges() function is call. In particular the endpoints Labels map was completely rewritten.
Perhaps an interface to the endPoints will be better with a specific structure for each providers.

[2019-03-05 19:02] Raffo commented on #924
Your issue here is that you can't resolve `raw.githubusercontent.com` from the machine where you are running the command. I can guarantee that the Dockerfile works and that the URL is also working.
I'm closing this issue for now, feel free to reopen it in case you have other problems.

[2019-03-05 19:02] #924 closed

[2019-03-05 19:10] gregsidelinger commented on #784
I'm running into this issue with some of the larger zones we have.  The Infoblox API does support pagination to help get around this without having to set _max_results to very large numbers.  However I'm not sure if the infoblox-go-client supports it.

[2019-03-05 20:47] davidquarles commented on #602
Is there any sort of known workaround here or can we simply not use `externalTrafficPolicy: local` today?

[2019-03-06 01:15] vsimon commented on #632
+1 for this feature!

As a workaround, we could use CRDs. This snippet + a kubectl container + a k8s cronjob, would be able to upsert external-dns entries with a node's public IP.

This is assuming external-dns is configured with CRD as a source and the CRD manifest is registered like in the [examples](https://github.com/kubernetes-incubator/external-dns/blob/master/docs/contributing/crd-source.md

[2019-03-06 13:13] chriseatworld opened #925 "PowerDNS CNAME has more than one record"
Hello, I'm using external-dns with powerdns and get the following error:

Status: 422 Unprocessable Entity, Body: {\"error\": \"RRset for example.domain.org./CNAME has more than one record\"}"

Is it possible to use A Records instead of CNAME?

Config:
spec:
  containers:
  - args:
    - --log-level=info
    - --domain-filter=domain.org
    - --policy=sync
    - --provider=pdns
    - --registry=tx

[2019-03-07 21:48] rabbitfang commented on #636
I've also ran into this issue. I've worked around it by using the `--txt-prefix` option.

[2019-03-08 16:44] zfLQ2qx2 opened #926 "External-DNS doesn't see ALB ingress"

[2019-03-08 19:29] luizferreira094 commented on #884
Hi,

I added the label `type=internal` and `type=external` on my `external-dns` deployments and my `istio` deployment as well,

But i still can't do this work correctly, can you guys help me?

Here's my external-dns external deployment args
[code]

Here's my external-dns internal deployment args
[code]

And here are my gateways config:

External Ingress Gateway
[code]

Internal Ingress Gateway
[co

[2019-03-08 20:31] LorbusChris commented on #884
@luizferreira094 can you try using an annotation instead of a label on your Gateway object?
Also, I don't think labeling the IngressGateway objects is necessary.

[2019-03-09 20:32] Evesy commented on #889
Hey @dirkgomez

`172.20.0.1` will be the address of the Kubernetes API service (e.g. `kubectl get service -n default kubernetes`).

Those services it mentions being unable to generate endpoints for all look like they're probably `ClusterIP` services (perhaps the exception being Nginx?). For `ClusterIP` services the default behaviour is to not create DNS records for those.
If you do want to create

[2019-03-09 22:19] Evesy commented on #920
Are you using `external-dns.alpha.kubernetes.io/target` on the service/ingress that's specifying the host `aa.domain.com`?

[2019-03-10 04:06] SVronskiy opened #927 "RFC2136 with INGRESS doesn't create A records"
I'm using UBUNTU server, BIND9, Kubernetes, NGINX INGRESS.

I'd like to setup export of DNS records from INGRESS to DNS server, but no A records created.

Please help to set it up. May be you can create tutorial how to use external-dns with internal RFC2136 and INGRESS?

externalDNS.yaml:
[code]

nginx.yaml:
[code]
/var/log/syslog
[code]

/etc/bind/zones/db.vronsky.com:
[code]
POD logs:
[code]

[2019-03-11 02:53] #926 closed

[2019-03-11 14:11] w32-blaster commented on #893
There is a known issue in istio which doesn't allow having multiple gateways pointing to the same domain but using different certificates. Because of that limitation, when using multiple domains, private and public gateways, the only option is to have a global gateway per domain and use wildcard on that domain (*.example.com).
Additional complexity is when the domain is used to host other services

[2019-03-11 17:16] whereisaaron commented on #610
I like picking up the domain names from the Ingress rather than from the annotation. However, the behavior change appears to remove the choice about which Ingress' you wish external DNS to act on, as @jrnt30 discovered. I would prefer, just like `cert-manager` in your example, that some flag or annotation is required, so you can choose. Or at least the install option to regain control - is that st

[2019-03-11 22:09] Evesy commented on #927
I assume you're expecting a record to be created from your Nginx Ingress for `nginx.vronsky.com`?

Could you share the output of `kubectl get ingress default/nginx -o yaml`? You should expect to see a list of hostnames or IP's in `status.LoadBalancer.Ingress` which is what External DNS uses to determine the target for the DNS addresses.
Is this populated or empty?

[2019-03-11 22:12] Evesy commented on #887
For info support for multiple targets was never introduced for the Cloudflare provider (amongst others). Currently, just one target endpoint is selected (deterministically) to be set in the record (https://github.com/kubernetes-incubator/external-dns/blob/master/provider/cloudflare.go#L319)

[2019-03-11 22:40] SVronskiy commented on #927
Yes, I'de like it to create A record for nginx.vronsky.com.
kubectl get ingress nginx -o yaml:
[code]

[2019-03-11 22:54] Evesy commented on #927
Your issue looks to be due to the fact your ingress controller isn't updating the status field of your Ingress resource(s).

How is your Nginx ingress controller configured? Is it fronted by a type LoadBalancer service?

You'll want to look at setting something like `--publish-service`/`--publish-status-address` on your controller deployment; if you share the setup of your Ingress controller I can

[2019-03-11 23:05] SVronskiy commented on #927
nginx-ingress deployment:
[code]
nginx-ingress service:
[code]

[2019-03-11 23:14] Evesy commented on #927
Ahh this is Nginx Inc official Ingress, not ingress-nginx!

Make sure you're on 1.3.0 or later (I imagine `edge` covers that), and try setting the following flags on your deployment:

`-external-service=nginx-ingress/nginx-ingress` (Namespace prefix may not be needed?) (This can also be set in the ConfigMap with `external-status-address`)
`-report-ingress-status`

You should hopefully then see the

[2019-03-12 16:56] luizferreira094 commented on #884
@LorbusChris that's it... the `annotation-filter` from external-dns refers to the application gateway annotation, now it's working, thanks!
For reference, that's how the Gateway looks like now:
[code]

[2019-03-12 19:26] SVronskiy commented on #927
Problem is solved now! Thanks a lot!

Ingress.yaml:
[code]

[2019-03-12 21:09] Evesy commented on #927
Good to hear :)

It looks like it's just a self-signed cert but you might want to remove `tls.key` that you've shared in the snippets above, better safe than sorry.
Feel free to close off the issue too if everything's sorted!

[2019-03-13 11:45] SVronskiy commented on #927
This "secret" tls.crt is from offical documentation: https://github.com/nginxinc/kubernetes-ingress/blob/master/deployments/common/default-server-secret.yaml

Thanks again.

[2019-03-13 11:45] #927 closed

[2019-03-13 23:50] mikesigs commented on #644
@bzon If your above Trust Relationship isn't right, can you provide the one that got it working please?

[2019-03-14 19:20] alena1108 commented on #887
@Evesy is there a plan to add support for more than one record?

[2019-03-14 19:47] jmooo commented on #219
On macOS I've been using this alias as a workaround, expanded from a [stack overflow answer](https://stackoverflow.com/a/52179973/1107232):

`alias ka='f(){ kubectl "$@" --all-namespaces | grep -v kube-system;  unset -f f; }; f'`

`-v` inverts the grep matching, I generally want to see my namespaces not the system one

[2019-03-14 21:09] frankgu968 commented on #865
@alexnederlof did it work for you?

@linki I tried adding the publish-service flag and it didn't work... It's still fetching the IP addresses of the ELB.

[2019-03-14 21:28] Evesy commented on #887
I may be speaking out of term (I'm not a maintainer) but I believe the Cloudflare provider (amongst others) are considered community maintained, so support for more than one record will only exist if someone contributes it (I believe it was initially added only for the Google provider by a community member for example).

I did try to tackle it myself but it appeared that there were further changes

[2019-03-15 16:08] LorbusChris commented on #884
@bradenwright It seems this issue has been solved. Close?

[2019-03-19 03:52] arief-hidayat commented on #897
Hi,
I would like to take this. This will be good opportunity to setup, get familiar, and start contributing.
Thanks

[2019-03-19 04:50] gregsidelinger opened #930 "Infoblox can not create TXT records for a CNAME"
external-dns is unable to create a TXT record for a CNAME is just just created.  Infoblox does not support creating a TXT record with the same name as a CNAME based on RFC1034 from our research.

https://tools.ietf.org/html/rfc1034

A CNAME RR identifies its owner name as an alias, and
specifies the corresponding canonical name in the RDATA section of the
RR.  If a CNAME RR is present at a node, n

[2019-03-19 09:30] Raffo commented on #897
Closing as #932 was merged.

[2019-03-19 09:30] #897 closed

[2019-03-19 13:27] arkadiyk opened #933 "Any plans to support Istio 1.1 Gateway with Secret Discovery Service?"
I am trying to use `external-dns` with Istio 1.1 gateway using SDS described here: https://istio.io/docs/tasks/traffic-management/secure-ingress/sds/

`external-dns` pod fails with the following error message:

[code]

[2019-03-19 14:04] #757 closed

[2019-03-19 14:10] njuettner commented on #887
@Evesy thanks for responding 👍 , this basically sums up what I would say. Cloudflare as a provider was started written by me and was only used for my personal things which I run on Cloudflare. The first implementation was already enough for my use case.

If someone from the community is willing to contribute this we can have a look and see if we can merge it 🙂. However core changes are difficult a

[2019-03-19 14:24] matti opened #934 "new release / release schedule ?"
How often are new releases done, currently there are 39 not released commits in the master?

[2019-03-19 15:04] #460 closed

[2019-03-19 15:05] #446 closed

[2019-03-19 15:07] #424 closed

[2019-03-19 15:08] #400 closed

[2019-03-19 15:08] #390 closed

[2019-03-19 15:09] #364 closed

[2019-03-19 15:10] #337 closed

[2019-03-19 15:12] #558 closed

[2019-03-19 15:14] #555 closed

[2019-03-19 15:14] #554 closed

[2019-03-19 15:16] njuettner commented on #536
I think everything was addressed. I'm closing the issue.

[2019-03-19 15:16] #536 closed

[2019-03-19 15:17] #534 closed

[2019-03-19 15:18] #515 closed, assigned to nobody

[2019-03-19 15:18] #510 closed

[2019-03-19 15:19] njuettner commented on #497
Please create a PR 👍.

[2019-03-19 15:19] #497 closed

[2019-03-19 15:21] #474 closed

[2019-03-19 15:23] #662 closed

[2019-03-19 15:24] #660 closed

[2019-03-19 15:24] #651 closed

[2019-03-19 15:25] #639 closed

[2019-03-19 15:26] #633 closed

[2019-03-19 15:26] #629 closed

[2019-03-19 15:27] #619 closed

[2019-03-19 15:28] #587 closed

[2019-03-19 15:28] #573 closed

[2019-03-19 15:31] #792 closed

[2019-03-19 15:32] #759 closed

[2019-03-19 15:33] #740 closed

[2019-03-19 15:34] #669 closed

[2019-03-19 15:34] FrederikNS commented on #930
You can specify a `--txt-prefix`, I have mine set to `_owner.`.

This results in external-dns generating a CNAME and TXT record like:
[code]

[2019-03-19 15:36] #869 closed

[2019-03-19 15:37] #862 closed

[2019-03-19 15:38] #831 closed

[2019-03-19 15:39] #813 closed

[2019-03-19 15:40] njuettner commented on #934
I'm thinking about pushing a release this week.

[2019-03-19 15:48] whereisaaron commented on #555
Has this feature been implemented @njuettner? Can other record types be created now?

[2019-03-19 17:54] benley commented on #390
Hi @njuettner, is this resolved via a new feature somewhere, or is the issue closed more like "wontfix"? I'm okay either way, just would like to know the outcome.

[2019-03-20 18:33] ameir commented on #219
I looked into this issue but fixing it in code is a bit more involved than I thought.

How are others working around this?  Would running multiple external-dns instances in the allowed namespaces with the `--namespace` flag work?  Are there any anticipated side effects with this approach?

[2019-03-21 02:41] tbarrella opened #936 "SRV records not synced for NodePort services"
As mentioned in https://github.com/kubernetes-incubator/external-dns/commit/d934f693fffb224fc1f8852722a95b8b731c25e6#r32415167, `filterRecordsForPlan` causes SRV records to be excluded from the plan, preventing SRV records from being synced

I observed this in v0.5.11, and was able to fix this by using v0.5.8

[2019-03-21 02:43] arkadiyk commented on #933
I bumped up deps to Istio 1.1, recompiled the project and it seems to be working fine with Istio 1.1.
Few testes failed though..

[2019-03-21 04:34] maximsnezhkov commented on #219
Hi @ameir
I run separate instance for every namespaces I need. It is important to use different `EXTERNAL_DNS_TXT_OWNER_ID` and `EXTERNAL_DNS_TXT_PREFIX` as I may understand. Also I use different `EXTERNAL_DNS_DOMAIN_FILTER` by namespaces.

[2019-03-21 11:08] mattirantakomi opened #937 "DNS updating constantly when same hostname has multiple A records"
PowerDNS provider DNS zone is updating constantly (SOA serial increments) with 30 seconds interval (as set in deployment options) when same hostname has multiple A records.

Hello World test with three IP's for "echotest.local" hostname:

[code]

[code]

[code]

[code]

kubectl logs deploy-external-dns :
[code]

As existing records were parsed incorrectly, REPLACE is issued to PowerDNS even there

[2019-03-21 12:59] ryan-dyer commented on #933
This is a must have.  Its pretty much a blocker for us being able to upgrade to istio 1.1.

[2019-03-21 14:51] tonyfahrion commented on #656
Is there a way to persist the IP within external-dns or while doing the external-dns deployment? Changing every ingress resource is unhandy and forces each deployment to be environment aware and know the external IP. (I am just curious if there is a way - did not find a solution for this right now)

[2019-03-22 09:02] Raffo commented on #933
PRs are welcome! Unfortunately we don't have enough time to bring on the development of all providers, but we would be happy to review a PR to make this happen.

[2019-03-22 16:58] Evesy commented on #638
I was also interested in a more general 'ignore this resource' annotation (e.g. `external-dns.alpha.kubernetes.io/ignore: "true"`).

The use-case in this scenario was for a certain subset of hosts where I don't want the DNS to be published based on the Ingress resource, and instead would like to manage it with a `DNSEndpoint` resource instead (for programmatic reasons).

In the first instance of D

[2019-03-22 18:20] tbarrella opened #939 "Feature request: Specifying public vs. private IPs for NodePort targets"
Hello,

Currently for NodePort services, node IPs in the A record created by ExternalDNS are specified to be
- If there any, public IPs of all nodes that have one
- Otherwise, all node private IPs

While this makes sense as a default, I think it would be really helpful to be able to customize this somehow. For example, in the current scenario,
- I'm not sure of a way to have some services that I o

[2019-03-22 18:45] alexanderbuhler opened #940 "Cloudflare proxied annotation broken?"
Related to #650

I've tried a lot to actually make the recently released annotation based proxy work. Didn't succeed :/

Setting `external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"` on my Ingress annotation doesn't change anything. Both ways, actually. So neither overriding a default `false` with `true` nor overriding a default `true` with `false` seems to work.

Installed using a helm ch

[2019-03-22 22:32] justinwalz commented on #939
I think this addresses part of this issue, however only allows setting public/private globally, not via annotations per object. Issue https://github.com/kubernetes-incubator/external-dns/issues/881, PR https://github.com/kubernetes-incubator/external-dns/pull/898

[2019-03-22 22:59] tbarrella commented on #939
Ah, thank you! Not sure if people want to keep this issue around, but that PR will definitely help me; with that it seems could just use multiple controllers for internal vs. external

[2019-03-23 23:24] Evesy commented on #940
The annotation should definitely be working.

Perhaps you can share the Ingress resource where you have the annotation set, and also the resulting DNS records created in Cloudflare?

You might also get more useful info if you turn debug logging up to debug, but no guarantees.

[2019-03-25 10:50] TheKangaroo opened #941 "Feature Request: Mask Secret in logs"
Hi, at least for RFC2136 external DNS logs the TSIG Key secret to the logs. Is this the expected and wanted behavior? I would like to see external DNS to mask this secret from the logs.
Any thought on this?
Actually, I cannot tell if this happens with other providers as well. I have no possibility to check this right now. But maybe someone else can jump in and check the fist log line with another

[2019-03-25 12:49] pytker commented on #920
I have the same issue with a records.
external-dns startup with papameters.

--log-level=info --policy=upsert-only --source=ingress --txt-owner-id=rancher --provider=rfc2136 --rfc2136-host=x.x.x.x --rfc2136-port=53 --rfc2136-zone=xxx.ru --rfc2136-tsig-secret= --rfc2136-tsig-secret-alg=hmac-sha512 --rfc2136-tsig-keyname=key-name --rfc2136-tsig-axfr --interval=5m

[2019-03-25 13:00] alexanderbuhler commented on #940
Put it to debug. But doesn't log anything related to cf proxy settings.

[code]

describe ingress includes correct annotation:

[code]

[2019-03-25 18:53] ryan-dyer commented on #933
Istio issue which causes the tests to break: https://github.com/istio/istio/issues/8609

[2019-03-25 19:06] venezia commented on #933
@ryan-dyer - If you get a chance, could you test against `quay.io/venezia/external-dns:latest` and let me know if fixes your issue?

[2019-03-25 21:42] ryan-dyer commented on #933
@venezia Yes this looks good to me.  Correctly created r53 entry for a gateway configured for SDS (credentialName field).

[2019-03-26 03:01] gregsidelinger commented on #930
That solved my issue.

[2019-03-26 03:01] #930 closed

[2019-03-26 09:33] #933 closed

[2019-03-26 15:00] ryan-dyer commented on #933
@venezia You mind tagging that temp image with a different tag(or not overwriting it) until the next release comes out?  Still waiting to get write access to our private repo so I can upload it there, but would like to continue to use this image in the mean time while testing out istio1.1.  Thanks.

[2019-03-26 15:13] venezia commented on #933
I wasn't going to overwrite it anytime soon, but just in case i made a "better" tag - `quay.io/venezia/external-dns:istio-1.1`  I won't drop that anytime in the next few years

[2019-03-26 15:15] Raffo commented on #933
@ryan-dyer we're about to release ExternalDNS version 0.5.12 that will include this change.

[2019-03-27 11:11] dsbrng25b opened #944 "Infoblox logs to verbose"
The infoblox provider does write a log line for each source for which he is not responsible:
[code]
In my opinion that is way to verbose because after each interval you get a line for all those sources. This should be changed to debug level.

[2019-03-27 11:33] dsbrng25b commented on #922
Thats a bug in 0.5.10. See also #879 or #883 . It got fixed with #886
Either downgrade to 0.5.9 or upgrade to >=0.5.11

[2019-03-27 12:06] silashansen opened #946 "All nodes de-registered on node leave"
Hi

**The issue:**
Often times I need to terminate a node and spin up a new one as a replacement. I am using _external-dns_ to keep the DNS entries up to date, pointing to all the active nodes. When terminating a node in my cluster, I see external-dns de-registering all nodes for all services, leaving me with no DNS pointing to the nodes at all until it's re-registering everything again a few minu

[2019-03-27 12:38] aminGwork commented on #922
thanks for the response.  Unfortunately, I am seeing this behavior in 0.5.9, 0.5.10, and 0.5.11.   #886 addressed the issue for most providers, but for infoblox it doesn't seem to be the case.  And it is only happening for nodeport type.

[2019-03-27 16:14] Evesy commented on #940
Is the record successfully created in Cloudflare just with proxying disabled, or is it not created at all?

Also worth considering the below:
- If your Cloudflare plan for your zone allows/includes proxying capabilities
- If the record is for a private IP, in which case proxying won't be allowed
- Try deleting the existing record entirely if possible (In case it's an issue changing from non-proxie

[2019-03-27 16:24] alexanderbuhler commented on #940
Record creation/deletion/update is fine. He does that every minute according to logs.

I don't think thats a permission issue, since he does change (existing) records' proxy setting in the next update cycle after I've changed it in the default settings. It's just that the overrides from the annotations don't have any effect.

[2019-03-27 16:55] ChristianMoesl opened #947 "RFC2136 provider requires wrong parameter"
Hello! When starting external-dns with the flags `--provider rfc2136 --rfc2136-insecure`, someone has to specify the flag:` --rfc2136-tsig-secret-alg`. Otherwise an error message will be displayed: "TSIG algorithm is not supported". However, since no TSIG algorithm is used, this is confusing.

[2019-03-27 17:16] alexnederlof commented on #865
Yes, worked like a charm!

[2019-03-28 10:15] matti commented on #934
released: https://github.com/kubernetes-incubator/external-dns/releases/tag/v0.5.12

[2019-03-28 10:15] #934 closed

[2019-03-28 13:09] TheKangaroo opened #949 "manage records in multiple zones"
I have a general question about how to use external-dns with multiple zones.
We configure an upstream dns which under the hood uses a bind dns server (RFC2136 provider).
On the bind dns server we have a zone configured, let's call it `example.com`.

We used to manage a subzone of this with external-dns, let's call this sub-zone `k8s.example.com`.
Now we need to manage dns records in the `example.c

[2019-03-28 17:43] cbluth opened #950 "Documentation for Google Cloud Domains without using GCP"
I have a kubernetes cluster running not in google cloud, and I would like to create domains in google cloud, how would i do that?

All the documentation regarding google domains assumes that you are using GCP, which i am not.

[2019-03-29 08:32] #944 closed

[2019-03-29 10:24] #941 closed

[2019-03-29 16:57] dsbrng25b commented on #922
Sorry, I didn't looked at your text closely enough. I'm going to try to reproduce the problem. Can you provide your external-dns settings and the service yaml which is the source for the endpoints?

[2019-03-31 08:55] TheKangaroo opened #954 "create dns record won't find the most specific sub-zone"
As @szuecs pointed out in the slack channel, external dns should always try and find the most specific subzone of a dns record and create the record in this zone.
I have two zones configured on my bind dns server, e.g.
[code]
I specify the `example.com` as `--rfc2136-zone` to create records in both zones.
It turns out, that this configuration will always create a record in the `example.com` zone,

[2019-04-01 04:33] lugomez2 opened #956 "AWS Tutorial Setup Policy Instructions"
Hi all,

I suspect this is outside the scope of this repo but I've been struggling to find the answer and resorting to everything I can think of. I have a cluster running (set up using eksctl), have set up nginx-ingress and cert-manager... All works well. I admit I have much more experience with GCP and GKE than with AWS.

I saw the tutorial here: https://github.com/kubernetes-incubator/external-d

[2019-04-01 12:52] edsonmarquezani commented on #893
I'm currently unable to use `external-dns` because I set one VirtualService per application, not a gateway (which is a single one for all). This feature would be much appreciated.

[2019-04-01 21:37] mburtless opened #957 "Feature: Add support for NS1"
As the title indicates, this is a feature request for adding support for NS1 via a new provider.

The new provider has already been written and is ready for review. Please let me know if this request is accepted and I'll open a new PR for the contribution.

[2019-04-01 22:46] dennisme commented on #957
My team could make use of this. Cool stuff.

[2019-04-02 03:23] aminGwork commented on #922
here you go
[5644.yml.txt](https://github.com/kubernetes-incubator/external-dns/files/3032202/5644.yml.txt)
[externaldns.yml.txt](https://github.com/kubernetes-incubator/external-dns/files/3032203/externaldns.yml.txt)

[2019-04-02 08:29] njuettner commented on #957
@mburtless please create a PR. I'm happy to review it 👍

[2019-04-02 09:47] njuettner commented on #950
@cbluth this won't work. currently it assumes you are running a cluster in GCP.

[2019-04-02 09:47] #950 closed

[2019-04-02 12:45] confiq commented on #956
by policy, do you mean IAM Permissions?
Can you show the policy?

[2019-04-02 15:18] bradenwright commented on #893
I've also run into a situation where on deploy of the chart we need to chart a dyn record and extra level up so doing so via Gateway is ugly, I'll explain.

We currently deploy versions of `myapp`, lets say to `prod.example.com`, this work fine with gateways b/c we use a wildcard so `*.prod.example.com` resolves.  So when I deploy different versions: `v1-myapp.prod.example.com`, `v2-myapp.prod.exa

[2019-04-02 17:19] dennisme commented on #957
Kicked the tires on this. Works like a charm. Really appreciate it @mburtless 👍

[2019-04-02 17:30] mburtless commented on #957
No worries, thanks for testing it out!

I'll get the PR open as soon as I'm added to NS1's CLA

[2019-04-02 17:51] aslimacc commented on #883
Have the same issue on v0.5.11 on GKE

[2019-04-02 19:07] pytker commented on #920
its work finw on latest version.

[2019-04-03 00:27] Shadowraze228 commented on #449
Would be nice if we could manage root DNS record

[2019-04-03 04:18] bradenwright commented on #884
I think this is still an issue.  There is a work around, but it involves deploying multiple versions of the external-dns chart, further the behavior deviates from how the external-dns chart works elsewhere.  And I think I saw that --namespace flag got removed now that multiple gateways are supported it didn't really make sense.  When I used it a single install with multiple ingresses, it published

[2019-04-03 10:10] LorbusChris commented on #884
@bradenwright The namespace flag has not been removed afaict. Namespace and Istio Ingress Gateway(s) are orthogonal configurations here.
I agree with you that the behaviour does not feel intuitive. However the flag *is* being respected, so maybe change up the title of this issue?

[2019-04-03 13:34] iceman91176 opened #961 "external-dns fails with "failed to sync cache: timed out waiting for the condition""
We are facing the situation that external-dns is not working at all. We are runnign it as a pod in our openshift 3.11 cluster. The pod starts up, but fails after 60 seconds with

`time="2019-04-03T13:20:28Z" level=fatal msg="failed to sync cache: timed out waiting for the condition"`

Version:
kubernetes 1.11.0
external-dns 0.5.12
Configuration:

    - --source=service
    - --provider=pdns
    -

[2019-04-03 14:03] iceman91176 commented on #961
Ok, problem solved. It tunred out that i messed up the clusterrole-binding. As soon as i got it right everything woked as expected.
So maybe it would help to hint at a possible RBAC problem in th error-message ?

[2019-04-03 14:32] jpds opened #962 "Metrics for record creation/deletion"
Can we please have a counter/gauge for when changes are made to DNS, such as the value from:

[code]

I had an issue where two `external-dns`s were fighting over a subdomain (one deleting then recreating the record a minute later) and it would be neat if I could have tied this is a Prometheus alert.

[2019-04-03 16:54] bradenwright commented on #884
@LorbusChris actually what I was thinking of with namespace is `istioNamespace` and it was actually your comment :)

https://github.com/kubernetes-incubator/external-dns/pull/907#issuecomment-473313973

Anyways I updated the title, its wordy b/c I really didn't know how to describe it concisely.  Open to suggestions.

[2019-04-03 17:28] kurlzor commented on #606
I have the same problem, and I've been trying to do this for a long time. I have a zone `a.domain.com` on AWS, I want external-dns to only create records matching `*.foo.a.domain.com` but setting `--domain-filter` to `foo.a.domain.com` doesn't work.

record will be filtered.

I think it's the same for every provider. The current behavior of `--domain-filter` is actually `--zone-filter`, it would b

[2019-04-04 08:41] nmiculinic commented on #878
ServiceSpec has `publishNotReadyAddresses` field which external-dns should use for this.

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#servicespec-v1-core

[2019-04-04 08:55] nmiculinic opened #964 "Headless service missing DNS entry"
For example, I'm having following DNS entries (( with --fqdm-template={{.Name}}.{{.Namespace}}.svc.k8s-fnet )):

elk-elasticsearch-master-0.elk-elasticsearch-discovery.kube-system.svc.k8s-fnet.
A 10.233.80.22
elk-elasticsearch-master-1.elk-elasticsearch-discovery.kube-system.svc.k8s-fnet.
A 10.233.112.118

elk-elasticsearch-master-2.elk-elasticsearch-discovery.kube-system.svc.k8s-fnet.
A 10.233.80

[2019-04-04 17:07] Raffo commented on #954
Hi!
I believe this is the expected behaviour of the domain filter. You can always run multiple controllers for each of the subzones, I do that in the case of two different zones and works perfectly.

[2019-04-04 17:59] #947 closed

[2019-04-05 06:30] devkid commented on #878
@nmiculinic Thanks! I wasn't aware of that. Will rework my pull request to reflect that.

[2019-04-05 06:38] Raffo commented on #883
For me, on AWS, both running v0.5.9 and v0.5.11, haven't seen such a problem. Maybe it has something to do @jhohertz mentioned?

[2019-04-05 07:04] szuecs commented on #954
Sounds like a documentation issue

[2019-04-05 09:44] Zwordi commented on #809
Hi,

I'm willing to help !
Have a nice week-end to you all.

[2019-04-05 12:56] TheKangaroo commented on #954
Thanks, @Raffo :)
I think I will run it the same way.
Is there any way to automatically assign ingress resources to the external dns instances (without an additional annotation at the ingress resource)?
I can run the first instance with
[code]
and the domain-filter would make sure it manages the records in the correct zone.
But the second instance would need the configuration like
[code]
This one

[2019-04-05 15:22] csrwng commented on #555
@njuettner was this issue closed because CRDs were implemented as a source? or because there is no plan to support additional record sets in external-dns? My project has a need for NS record support and I can submit a PR if there's interest.

[2019-04-05 18:23] joekohlsdorf commented on #449
Tested this again today on Route53 using external-dns v0.5.12 and it works 🎉!

[2019-04-05 20:46] fraenkel commented on #905
So I don't believe this is a duplicate issue but more an issue of how the code is currently structured and the interaction between Controller and Registry.
Let me walk through what I am talking about.

I am ignoring the cache because in the worst case it won't matter.

The Controller calls Registry.Records() calls the provider.Records().
p.Records() calls p.Zones() and route53.ListResourceRecordSe

[2019-04-05 21:16] tewing-riffyn commented on #905
@fraenkel - good write-up.  Yes, refactoring some of the duplicate calls would help greatly.

I solved my issue by setting zoneIdFilters within the helm values.  External-dns was spending a lot of work evaluating other suddomain zones only to determine they weren't authoritative for the record it was manipulating.  The problem was compounded because I have 8 clusters running in the same AWS accoun

[2019-04-05 21:38] fraenkel commented on #905
I will put together a PR which I believe can reduce this to the bare minimum. Shouldn't take long.

[2019-04-05 22:40] rajha-korithrien commented on #850
#957 Is a duplicate of this issue, but it seems to be getting more traction than this one as it has a pull request #963. Assuming that NS1 and NSOne are the same, I think 957 is your best bet.

[2019-04-06 01:36] bjethwan opened #965 "github.com/Azure/go-autorest: fatal: unable to write new index file"
I am unable to build the project.

[code]

[2019-04-06 02:13] bjethwan commented on #965
I don't have to use it with Azure but AWS.
Is there any quick workaround to apply?

[2019-04-06 02:15] bjethwan commented on #965
I was following the steps given in the main page, when I ran into this build issue
https://github.com/kubernetes-incubator/external-dns
[code]

[2019-04-08 02:18] nitaigao commented on #961
The second reply saved me many hours of head scratching, many thanks :+1:

[2019-04-08 13:16] medanasslim commented on #883
Found a solution to the problem.
If you have another externaldns who have the same txt records value, the first externaldns will delete the records of the second and vice versa
you should change the value of "txtOwnerId" for each externaldns deployment.

[2019-04-08 13:52] miguelaferreira commented on #888
I just followed the [documentation to integrate external-dns with istio](https://github.com/kubernetes-incubator/external-dns/blob/master/docs/tutorials/istio.md) but I cannot get external-dns to create any records. I'm running on AWS (managed k8s) with istio + alb-controller for ingress.

This is the output I get:
[code]

[2019-04-08 15:26] mburtless commented on #850
Sorry, I didn't see this issue before opening duplicate #957 and #963.  Let me know how you'd like to proceed here.

[2019-04-08 20:30] gaddamas commented on #343
--log-level=debug is not printing debug message, only seeing info message like this
time="2019-04-08T20:23:19Z" level=info msg="Created Kubernetes client https://10.100.200.1:443"
time="2019-04-08T20:24:19Z" level=fatal msg="failed to sync cache: timed out waiting for the condition"

[2019-04-09 00:14] echoboomer opened #967 "Creation of TXT records outside of external-dns fails if zone exists already."
`external-dns` running via official Helm chart version `1.7.0` in EKS:
[code]

Values file:
[code]

We manage our Route53 records using Terraform. In this case, the `TXT` record created by `external-dns` was the first and only `TXT` record for a given root zone (`foobar.com`). When trying to create a new `TXT` record set _after_ `external-dns` is operating normally, Terraform fails with the respon

[2019-04-09 01:03] echoboomer commented on #967
This is a duplicate. Closing. Apologies.

[2019-04-09 01:03] #967 closed

[2019-04-09 01:06] echoboomer commented on #449
Creation of records for root/apex works fine for us, but we're running into the same issue others are reporting re: managing `TXT` records. We manage our Route 53 records using Terraform, but that isn't working as we're starting to deploy stage/prod services to our new EKS clusters because the `TXT` record for the root zone already exists because of `external-dns` and the Terraform apply for other

[2019-04-09 12:48] rtkgjacobs commented on #484
There are several key problems from looking over things and testing on a larger AWS deployments

- Larger DNS hostedzones and low intervals often hit API transaction limits within AWS. Having event driven updates and using a longer `--interval=` time is ideal to reduce that impact - glad to see its being worked on in part
- Larger hostedzones means that each operation above, still can hit a rate l

[2019-04-10 09:05] 4c74356b41 opened #969 "No dns entries created for ingress"
My config:
[code]

Istio gateway objects are being parsed and dns records are being created (at the creation of the cluster, right now I dont see any entries in the log right now). Ingress records are not being parsed, for some reason. I've tried adding `--source=service` and annotating service with: `external-dns.alpha.kubernetes.io/hostname: my.host.name`, no effect as well.

Any ideas? This loo

[2019-04-10 09:24] Raffo commented on #965
I'm not sure, I run this commands all the time and it works. Please make sure to clone the project in the right path, this might be an issue when using dep. @njuettner is working on switching to go modules which should simplify things a bit.

[2019-04-10 09:45] njuettner commented on #965
Yes, the PR its ready for review 🤞 #960

[2019-04-10 12:54] 4c74356b41 commented on #969
the issue was due to nginx-ingress not publishing its ip address to ingress resources status field. GH issue: https://github.com/kubernetes-incubator/external-dns/issues/456

[code]
helped to identify the issue. Fixed by adding this to nginx ingress controller deployment:

[code]

[2019-04-10 12:54] #969 closed

[2019-04-10 13:20] teralype commented on #380
Any news on this?

[2019-04-10 17:38] javefang commented on #380
I have not got enough time to work on this and we don’t have a use case anymore. Anyone still interested can feel free to pick this up. I’ll close this issue for now.

[2019-04-10 17:38] #380 closed

[2019-04-11 01:58] apigeeks-lee commented on #961
I had similar problem trying to create the RBAC resources in a namespace other than "default". Is this by design - or is something incorrect in my configuration?

[2019-04-11 08:33] TheKangaroo opened #971 "Feature Request: RFC2136 provider should cache AXFR results"
The RFC2136 provider can be configured to fetch the zone file via AXFR to allow the usage of TXT record resource management.
Since this produces a lot of load for zones with many records this can become problematic. It would be much more efficient if external dns would fetch the zone via AXFR on startup and cache it locally. Any subsequent run could do an incremental zone transfer (IXFR).
If I can

[2019-04-11 09:25] martynova1 commented on #564
Need a capability to create `CNAME` record pointing straight forward to ELB without using `ALIAS`. All this in terms of Service with type: LoadBalancer.

[2019-04-11 16:27] drewwells opened #972 "domain filter sub hosted zone"
There should be a mechanism to allow filtering to a subset of a hosted zone. As an example, we have 10 external dns's in 10 separate clusters sharing a hosted zone. I would like to use Route53's query mechanism to filter records to those matching the domain. I see two possible implementations:

Hosted zone is: cluster.example.org

external dns figures out that cluster.example.org is the hosted zon

[2019-04-11 18:06] vtremblay opened #973 "Split-horizon DNS support (AWS)"
We have a situation where we would like to use external-dns with a split-horizon DNS in AWS.
The difference with #422 and #322 is that we would like to specify to which hostedzone the DNS entry should be created.

Let's say we have two services (ELBs) with the same domain name; one internal and one internet-facing. Right now, when the first service is created, external-dns will create an entry in

[2019-04-11 19:43] Raffo commented on #973
I think this is a duplicate of another feature request that I can't find. For the moment, there is a workaround that you can implement: run two instance of external DNS with different filters. Would that work for you in the meantime?

[2019-04-11 19:48] Raffo commented on #954
I think the only way is to be explicit and use a filter. That's what I am doing in the clusters I run for a similar use case.

[2019-04-11 19:49] Raffo commented on #883
@medanasslim great, thanks for posting an update.

Ping to @PirateBread and @aslimacc , do you have additional info to share and/or are you still experiencing this issue?

[2019-04-11 19:52] aslimacc commented on #883
Works for me

[2019-04-12 06:12] anoopl commented on #888
I have the same situation as @miguelaferreira. We are using NodePort instead of LoadBalancer.  I dont get understand how external-dns can get the ELB DNS record. I can see this on logs:

[code]
external-dns version:0.5.12

[2019-04-12 07:26] anoopl commented on #888
I fixed the issue by adding annotations to the Istio Gateway manifest.
Yaml file used:
`apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: testapp-gateway
  annotations:
    external-dns.alpha.kubernetes.io/target: <elb's-dns-record>
    external-dns.alpha.kubernetes.io/hostname: testapp.<domain-name>
spec:
  selector:
    istio: ingressgateway
  servers:
  - port:
      numb

[2019-04-12 12:23] miguelaferreira commented on #888
@anoopl could you please check if your `istio-ingressgateway` service has type `LoadBalancer`?

[2019-04-12 12:28] vtremblay commented on #973
Thanks @Raffo for the answer. As we are using the same domain name for both service, I am not sure if this would be feasible. Any suggestions?

Thanks again!

[2019-04-12 12:29] anoopl commented on #888
@miguelaferreira  We have type NodePort.
We changed from LoadBalancer to NodePort.
We use a Classic ELB which is mapped to the node ports

[2019-04-12 12:30] miguelaferreira commented on #888
Thanks for checking @anoopl I'll give it another try to see if I get the same result you do

[2019-04-12 21:18] fraenkel opened #974 "AWS Alias records have no ttl, triggers unnecessary updates"
With the current code, for each loop, the plan is always creating updates for all entries that are A records. The problem is that there is no TTL with an A record and what we expect is a record with one, so the shouldUpdateTTL always comes back true.

I have a working fix which is to use the recordTTL when we are building endpoints from Aliases which seems to fix the issue. My other idea is to hav

[2019-04-13 17:20] quentusrex commented on #225
Any update? I'm looking to evaluate NS1 for a use case, but the use case requires this integration.

[2019-04-13 17:50] njuettner commented on #225
@quentusrex PR is open and is currently reviewed https://github.com/kubernetes-incubator/external-dns/pull/963

[2019-04-15 08:57] #866 closed

[2019-04-15 08:58] okgolove commented on #866
Yes, it does.
Thank you.

[2019-04-15 09:02] yverbin commented on #964
i have same issue with google cloud dns

[2019-04-15 18:19] michaelfig opened #979 "Feature: multiple target support for Azure"
Hi,

I'm trying to use multiple target addresses for the Azure provider, but it is only adding one, and looping:

[code]

I will attempt to put together a PR, but would appreciate any advice on how to fix the `endpoint.targets[0]` assumption in [the Azure provider](https://github.com/kubernetes-incubator/external-dns/blob/master/provider/azure.go#L422).

[2019-04-15 18:44] kristaxox opened #980 "Unable to connect to EKS control plane endpoints"
When deploying external DNS within a EKS cluster I encountered issues with external-dns connecting to the Kubernetes control plane endpoints.

[code]

EKS Server version: `Server Version: v1.12.6-eks-d69f1b`

The Kubernetes service was configured correctly, and other pods were able to communicate with the control plane endpoint.
[code]

The resources deployed:
[code]

[2019-04-15 19:40] kristaxox commented on #980
Also worth noting, external-dns version v0.5.11 works correctly in this environment.

[2019-04-16 11:25] #974 closed

[2019-04-16 15:37] #887 closed

[2019-04-17 06:57] virtrixke opened #986 "infoblox not creating multiple A records for ingress"
I am using external-dns v0.5.12 hosted on our kubernetes and connecting to our infoblox.
It monitors k8s for ingress changes. I scale my deployment to 3 pods on 3 worker nodes. I would expect that it creates 3 A records pointing to the IPs of the 3 worker nodes. However, only 1 A record (the first one in the list) is created. The log file in the pod looks like this:

Anybody else tried this?

[2019-04-17 09:06] sujithvs74 commented on #759
+1. Same above

[2019-04-17 19:04] johan-smits commented on #980
I can conform that 0.5.11 works in EKS

[2019-04-18 05:38] szymonpk commented on #980
Latest also have issues in EKS (1.11.9), I am not sure if it is related:

[code]

Reverting to 0.5.11 helps.

[2019-04-18 07:38] njuettner commented on #980
I think in case of @szymonpk you also have to allow external-dns to get nodes
[code]

[2019-04-18 07:39] njuettner commented on #980
Let me know if this helps @kristaxox 🙂.

[2019-04-18 07:43] szymonpk commented on #980
@njuettner I have `list` on nodes. It isn't mentioned in https://github.com/kubernetes-incubator/external-dns/blob/master/docs/tutorials/aws.md#manifest-for-clusters-with-rbac-enabled. Also, v0.5.11 works.

[2019-04-18 07:56] szymonpk commented on #980
Ok, this is a little bit embarrassing. Looks like I was running latest not 0.5.12, which I assume may have changes from the master. Sorry for hijacking this issue report!

[2019-04-18 11:05] cmur2 commented on #980
We experience the same problems with external-dns v0.5.13 on AWS and adding the (undocumented, see https://github.com/kubernetes-incubator/external-dns/blob/master/docs/tutorials/aws.md#manifest-for-clusters-with-rbac-enabled)  rbac rules helps with some but not all issues:
[code]

Afterwards there are still errors:
[code]

[2019-04-18 14:43] kristaxox commented on #980
@njuettner I can confirm that adding the suggested clusterrole works with external-dns:v0.5.12
[code]

When bumping the version to v0.5.13 I get the following errors:
[code]

[2019-04-18 18:44] MiniJerome commented on #883
Experiencing the same issue with Cloudflare and both `registry.opensource.zalan.do/teapot/external-dns:v0.5.9` and `registry.opensource.zalan.do/teapot/external-dns:v0.5.12`.

[code]

[2019-04-19 06:58] afirth commented on #940
@alexanderbuhler Are you saying that if the ingress and record are created, but then you later change the annotations, the record is not updated? Or that the annotation is not respected when the ingress is first created? Can you `kubectl describe` your container and ingress?

[2019-04-19 08:50] medanasslim commented on #883
I am on Cloudflare and as I said above, you should add "txt-owner-id"

Example below:

  - args:
    - --log-level=info
    - --registry=txt
    - --interval=1m
    - --txt-owner-id=instance1

[2019-04-19 09:27] alcheagle commented on #508
I am trying to make it work using the configurations from the other providers, but it doesn't work for me. While it works with the services it is not working with ingresses.

[2019-04-19 09:36] alexanderbuhler commented on #940
@afirth Doesn't matter whether initially or later on. The annotation is not beeing taken into account.

Ingress:
[code]

Container:
[code]

Was created with those annotations. Logs on level `info`:
[code]

[2019-04-19 15:18] afirth commented on #940
Image:         registry.opensource.zalan.do/teapot/external-dns:v0.5.9
    Image ID:
docker-pullable://registry.opensource.zalan.do/teapot/external-dns@sha256:3238aaf10240d6322c87073766f67d8cf24dc2db4f0ef01b62d18890573f8075

Looks like you might have an old image version. Try 5.12?

On Fri, Apr 19, 2019, 11:36 alexanderbuhler <notifications@github.com>
wrote:

[2019-04-19 18:44] michaelfig commented on #979
I verified that the merged PR works for me.  Looking forward to the next release!

I'm closing this issue.

[2019-04-19 18:44] #979 closed

[2019-04-19 23:01] richstokes opened #990 "Unable to decode an event from the watch stream"
Using Image:      registry.opensource.zalan.do/teapot/external-dns:latest

I have started getting the below errors. I am not sure anything has changed, other than the pod restarted so it will have pulled the latest version. Maybe there have been breaking changes? Any suggestions?

Running on AWS/kops.

[code]

[code]

[2019-04-20 09:28] njuettner commented on #990
@richstokes

I think the scope of nodes need to be adjusted:

Could you please try to modify RBAC of `external-dns`:

[code]

[2019-04-20 09:47] njuettner commented on #980
@kristaxox please also add watch for v0.5.13.

I can confirm seeing logs:
[code]

Those are non-critical, however it annoying but it seems they are coming from Kubernetes and not from external-dns. The reason why we see those is probably merging PR https://github.com/kubernetes-incubator/external-dns/pull/917, which was introduced in v0.5.12

@cmur2 Did you see those logs in v0.5.12 or did you ski

[2019-04-20 09:51] cmur2 commented on #980
@njuettner we used (well, now use again) v0.5.12 and the `CancelRequest not implemented` messages did not occur there. They only appeared with v0.5.13.

[2019-04-20 09:56] njuettner commented on #980
Sorry this PR isn't relevant, it was the switch to go modules in v0.5.13.

When we used dep we supressed those logs by overwriting the glog package, which was used in Kubernetes (now it's klog). We can suppress it again by simply overwriting the package in go mod.

[code]

I will create a PR for that. Again those logs are non-critical by I do understand they pretty annoying which needs to be fixed

[2019-04-20 10:00] njuettner commented on #990
This will only fix `Failed to watch  ....`
Those other log lines are coming from K8s, see my last comment:
https://github.com/kubernetes-incubator/external-dns/issues/980#issuecomment-485082551

I will create a PR for that.

[2019-04-20 20:51] yardensachs commented on #854
I agree, This concerns me as well. Encrypting of the TXT would make using externalDNS a no brainer.

TXT record seems like a great solution, but it holds as a potential security issue, where any attacker would know that externalDNS is used, and by that, ingress, and K8S, and would know the name of the internal ingress name.

[2019-04-20 20:59] yardensachs commented on #854
I agree, this concerns me as well. Encrypting of the TXT would make using externalDNS a no brainer.

TXT record seems like a great solution, but it holds as a potential security issue, where any attacker would know that externalDNS is used, and by that, ingress, and K8S, and would know the the internal ingress name.

[2019-04-21 15:39] alexanderbuhler commented on #940
**5.12** fixes this issue for me. Thank you.

[2019-04-21 15:39] #940 closed

[2019-04-21 23:50] richstokes commented on #990
@njuettner - I updated that RBAC, now getting output like this:

[code]

Looks like its working, just spamming a bunch of junk the process. Is this stable/safe to use in production do you think? (Currently I only have it deployed on our test cluster).

[2019-04-22 13:24] kristaxox commented on #980
@njuettner with the suggested additions to the clusterrole I can confirm the issues around "unable to decode event".

[code]

Cluster role rules:
[code]

[2019-04-22 15:11] MiniJerome opened #992 "External-DNS delete and recreate constantly all DNS records"
## Context

* EKS 1.12
* External-DNS v0.5.13
* Cloudflare provider.

External-DNS constantly delete and re-create DNS records, every 1 minute, according to the interval value.

I expected External-DNS would create, update and or delete DNS records only if there is a change on the Ingress.

This is blocking because it causes a downtime between deletion and creation that can take up to 30 seconds,

[2019-04-22 15:21] MiniJerome commented on #883
Thank you for the advice but this doesn't fix the issue.
This is useful if you have multiple clusters using the same DNS zone.

[2019-04-22 17:53] aslimacc commented on #883
Can you share your logs, please to see the behavior of the app?

On Mon, Apr 22, 2019 at 5:21 PM Jérôme Lecorvaisier <
notifications@github.com> wrote:

[2019-04-22 19:19] simonmacklin opened #993 "GoDaddy Provider"
Hi

I would like to create a new GoDaddy provider and wonder if anyone could help me get started so I can get going a bit quicker.

I can see the provider package where I can create the provider logic and also see the main.go using a switch statement to call the correct provider.

Would there be any other place I would need to reference or call within  my code to make the new provider work?

Thank

[2019-04-23 01:06] MiniJerome commented on #883
Sure, you can see logs here https://github.com/kubernetes-incubator/external-dns/issues/992

[2019-04-23 08:17] TheKangaroo commented on #954
Sure, but there's no exclude filter, right?
In my case, I would need to exclude a certain subzone from the managed zone.

[2019-04-23 08:33] rverma-nikiai commented on #819
with aws-alb-ingress-controller, setting external-dns.alpha.kubernetes.io/hostname: "" doesn't work. Even removing the annotation doesn't work.

[2019-04-23 08:44] rverma-nikiai opened #995 "Provide annotation for custom target"
Hi team,
We are looking forward to defining a custom target with external-dns. We are currently working on a setup where the api endpoints are exposed using CloudFront. The requirement is caused as cloudfront provides support for WAF and ALB-WAF is not enabled in our region.

The goal is to have an annotation like
external-dns.alpha.kubernetes.io/alias: "my-distribution.net"
Which instruct externa

[2019-04-23 09:15] njuettner commented on #990
It will be will fixed with this PR https://github.com/kubernetes-incubator/external-dns/pull/991

[2019-04-23 10:26] yverbin opened #996 "pod status should be checked using Status.Conditions"
according to https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-conditions pod readiness should be checked by status of PodCondition with Type=Ready

[2019-04-23 23:04] erick-thompson opened #998 "Is it possible to customize the txt heritage?"
I have a number of AKS clusters with external-dns installed that all use the same DNS Zone. Is there a way to add a specification to the txt records, so that the different external-dns instances don't step on each others toes?

That is, I don't want external-dns from one cluster to interfere with external-dns from another cluster when they use the same zone.

[2019-04-24 09:26] bjakubski opened #999 "NodePort service fails when nodes only have InternalIP"
[code]
This is probably caused by k8s returning "false" ExternalIP when only InternalIP is used.
Seems like there are entries in node.Status.Addresses with type=ExternalIP, but Address=""

Logic in extractNodeTargets does not check if ExternalIP == "", only if type is right, and if there were any ExternalIPs then it wants to use them later...

[2019-04-24 13:16] elafarge commented on #449
I'm still having the problem on `v0.5.13`. My zone has NS and SOA records pointing to `example.com` (redacted). `www.example.com` records are created with success but `example.com` records (part of the same `Ingress` rule) aren't. Here's the log I'm getting:

[code]

Any help would be highly appreciated :)

[2019-04-24 13:24] echoboomer commented on #449
@elafarge that error happens when `external-dns` skips a record because there's no tag on it signifying that it should be managing it. It will always create a `TXT` record with a tag similar to this:
[code]

If you look at one of the other records that `external-dns` is managing, you'll see a tag similar to that one, and you'll want the cluster name to match `k8s-prod-public` which is what it is l

[2019-04-24 19:46] bryanray opened #1000 "Ingress Host Not Published"
Hi,

I'm new to Kubernetes and am having trouble getting ExternalDNS working on an ingress when deploying into AWS/EKS.

Here is what I'm aiming at:

Internet --> ELB (ANAME=random) --> Nginx Ingress Controller (CNAME=product-services.my-domain.com) --> Ingress (CNAME=k8s-sentence-sync.my-domain.com) --> Service

Here is what I know:
1/ The Ingress controller is working (I can reach the default ba

[2019-04-24 20:22] fraenkel commented on #484
In our environment, we too are hitting rate limits on AWS. I have already increased our aws retries to 10 although now I am considering 13 with a much longer interval. We have added the -events support to combat the longer interval but that too can be rate limited. Which puts us back into the same situation.
There are two different features that I am thinking about which:

1. a separate retry inte

[2019-04-25 01:28] tsuna commented on #484
In our case we settled for one AWS account per cluster. Putting even just two k8s clusters on the same AWS account easily triggers the default rate limit. Thankfully we don't have that many so it's manageable this way. It also provides us with greater isolation and accounting across clusters so it's not like we did this solely for external-dns, but just saying...

[2019-04-25 09:06] krish7919 commented on #680
Any luck this cannot go stale?

[2019-04-25 17:51] MiniJerome commented on #992
@jhohertz I've seen your P[R merged to fix this issue](https://github.com/kubernetes-incubator/external-dns/pull/886) and some people reported the issue have been fixed. Although, this still happening with the Cloudflare provider.

Do you have any idea ?

Thanks!

[2019-04-26 10:36] #964 closed

[2019-04-26 13:20] schittler commented on #753
I don't run that cluster anymore, the time to ask me followup question is sorta gone

/close

[2019-04-26 13:20] #753 closed

[2019-04-26 13:48] kristaxox commented on #980
At this point is this just a duplicate of #990 ? Or are there additional rbac rules that need to be added to the rbac example clusterrole, and therefore worth keeping this open?

[2019-04-26 19:55] tchen-mdsol opened #1003 "Questions: cloudMap Namespace Service deletion"
external-dns policy is set to sync.
After deleting kubernetes service, external-dns de-register the instance from the cloudMap service.
My question is, why wouldn't it just delete the service inside cloudMap Namespace too? If there other flags that I need to set to delete the service inside a cloudMap Namespace?

[2019-04-26 19:58] tchen-mdsol commented on #1003
external-dns policy is set to sync.
After deleting kubernetes service, external-dns de-register the instance from the cloudMap service.
My question is, why wouldn't it just delete the service inside cloudMap Namespace too? If there other flags that I need to set to delete the service inside a cloudMap Namespace?

[2019-04-27 00:52] igoratencompass commented on #403
/remove-lifecycle stale

[2019-04-27 08:27] Raffo commented on #540
/remove-lifecycle stale

[2019-04-27 08:32] Raffo commented on #540
So this was discussed once again in sig-network, I totally missed that @mikkeloscar already opened an issue and that there was an original discussion on that.
We brought up this topic again here: https://groups.google.com/forum/#!topic/kubernetes-sig-network/fvpDC_nxtEM

The crucial part is: incubation is consider dead and we have to make sure that the project has a future either inside the kubern

[2019-04-27 16:41] jwatte commented on #692
/lifecycle active

[2019-04-27 19:32] #993 closed

[2019-04-27 21:00] szuecs commented on #731
/remove-lifecycle stale

[2019-04-28 08:36] szuecs commented on #421
/remove-lifecycle stale

[2019-04-28 09:09] devkid commented on #571
I'm working on this now.

[2019-04-28 09:24] Raffo commented on #479
The resolution for this issue is related to the project moving out of incubation (see #540 ), so it will take additional time and effort. Rest assured that we are working on it, it just takes a long time.

[2019-04-28 09:28] Raffo commented on #795
/remove-lifecycle stale

[2019-04-28 09:40] devkid commented on #571
/remove-lifecycle stale

[2019-04-28 10:32] #795 closed

[2019-04-28 14:37] nyetwurk commented on #851
/remove-lifecycle stale
I actually have code for this. Will make a PR time permitting

[2019-04-28 18:23] ramnes commented on #861
/remove-lifecycle stale/remove-lifecycle stale

[2019-04-28 18:23] ramnes commented on #861
/remove-lifecycle stale

[2019-04-28 21:51] nmiculinic commented on #861
Can we just make a CNAME record for the external service?

[2019-04-29 03:36] vishleshpatel commented on #815
Hi @njuettner,

I am new to Kubernetes external dns. I would like to pick this issue up. It would be good if you could provide me some pointers to get started with.

Cheers,
Vishlesh

[2019-04-29 07:58] cusspvz commented on #314
/remove-lifecycle stale

[2019-04-29 07:59] cusspvz commented on #314
@fejta /remove-lifecycle stale

[2019-04-29 08:00] anandsinghkunwar commented on #828
This is still a valid issue and should not be closed.

[2019-04-29 08:57] TheKangaroo commented on #797
It seems like you created a TXT record with the extdns keyword in it for aditocloud.de. I'm not an expert in DNS but I think the problem is the following line in your bind config:
[code]
you don't need to specify this in your bind configuration.
Therefore this record is managed by external dns and since there is no service in your cluster which claims this DNS name it will be deleted by external d

[2019-04-29 09:00] TheKangaroo commented on #954
Maybe I could add an exclude filter if this is something more users need.
I checked the code for the domain-filter and I think it's not too complicated to add this.
Any thoughts on that?

[2019-04-29 11:29] agolomoodysaada commented on #216
/remove-lifecycle-stale

[2019-04-29 14:16] neiltingley3 commented on #889
--publish-internal-services

[2019-04-29 16:33] eduardolundgren commented on #992
This issue is happening to me as well on both v0.5.12 and v0.5.13 with Cloudflare.

[2019-04-30 01:57] MiniJerome commented on #992
I think v0.5.3 doesn't have this bug and it has been introduced in v0.5.4. If you were able to confirm this that would be great.

[2019-04-30 04:21] eduardolundgren commented on #992
Just realized that the issue on my case was due to two clusters with the same owner id value, one external dns instance was removing the entries being added by the other. I can confirm it's working on both v0.5.3 and v0.5.13 versions. Thank you.

[2019-04-30 07:53] falfaro commented on #852
I believe that https://github.com/bitnami/kube-prod-runtime/pull/413 fixes this issue.

[2019-04-30 07:55] falfaro commented on #852
For the record, the mentioned PR/fix was merged into BKPR releases 1.2 and 1.3 (and will be available in any other new release).

[2019-04-30 21:40] mburtless commented on #850
FYI the NS1 provider has been merged into master.  I'd imagine this should be available for use the next time a new build of the container is made available

[2019-05-01 16:33] MiniJerome commented on #992
@eduardolundgren do you use proxied entries with v0.5.13 ? Thanks!

[2019-05-02 03:54] olusinae commented on #893
I am currently working on this feature to have `external-dns` resolving hostnames from Istio `virtualservice`, which has been set up as one VirtualService per application.

I would like to know if anyone else is already looking into this. Cheers

[2019-05-02 09:28] Evesy commented on #998
If you set `--txt-owner-id` to a different value in each cluster that should prevent external DNS from interfering with records it's not managing.

That value is reflected in the TXT records.

[2019-05-02 09:32] Evesy commented on #1000
Hi,

Does your ingress (dev/product-ingress) have the field `status.loadBalancer.ingress[]` populated with an IP address or DNS name?

If you do a simple `kubectl get ingress -n dev product-ingress` you should see an address printed. External DNS relies on that field to create DNS entries from Ingress resources (The `--publish-internal-services` flag just concerns itself with ClusterIP service

[2019-05-02 09:34] Evesy commented on #1000
On point number 3 -- If you're creating a record that is going to be an alias of another (Since the target annotation you've provided will result in a CNAME being created), you won't be also able to add a TXT record to that zone.
In those circumstances, you will have to use `--txt-prefix` to create the TXT record under a different domain.

[2019-05-02 14:29] larsskj opened #1010 "Cannot make External DNS work on AWS"
I am trying to make External DNS on a test cluster in AWS. The cluster is created using Kops, and is running K8S version 1.11.6 using RBAC. I am seeing different variations of errors earlier reported in #980 and other places.

Using the AWS tutorial, I first created the necessary role in IAM and then used a YAML file as shown in the tutorial. That resulted in the error

`level=error msg="NoCredent

[2019-05-02 19:46] botzill opened #1011 "Having this error in logs"
Installed enternal dns from latest helm chart `1.7.5` and I get this issues:
[code]

It seems to run OK, but I get this in logs.

Thx.

[2019-05-03 11:49] p53 opened #1012 "When using uppercase txt prefix records are not deleted"
i used in configuration
          - name: EXTERNAL_DNS_TXT_PREFIX
            value: "EXTERNAL-DNS"

when i created ingress, external-dns properly created record but when i deleted ingress it was writing:

msg="Skipping endpoint hello-world-ingress-default.example.org 300 IN A 10.220.65.103 map[] because owner id does not match, found: \"\", required: \"example.org\""

i found that external-dns lo